Repository apache/datafusion, pull requests merged in 2021-05, with the labels that each got.

#256 Implement count distinct for dictionary arrays
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/scalar.rs
Labels: datafusion

#301 Return error on OVER clause
  datafusion/src/sql/planner.rs
Labels: bug

#322 MINOR: Fix integration tests by adding datafusion-cli module to docker image
  dev/docker/rust.dockerfile
Labels: ballista, bug

#326 Remove references to Ballista Docker images published to ballistacompute Docker Hub repo
  benchmarks/docker-compose.yaml
  benchmarks/tpch-gen.sh
  dev/build-ballista-docker.sh
  dev/build-rust-base.sh
  dev/build-ui.sh
  dev/docker/ballista-base.dockerfile
  dev/docker/ballista-scheduler-ui.dockerfile
  dev/docker/ballista.dockerfile
  dev/integration-tests.sh
Labels: ballista

#288 [Datafusion] NOW() function support
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/eliminate_limit.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/hash_build_probe_order.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/optimizer.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/datetime_expressions.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/type_coercion.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: breaking change, datafusion

#337 Implement readable explain plans for physical plans
  datafusion/src/logical_plan/display.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/physical_plan/coalesce_batches.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/csv.rs
  datafusion/src/physical_plan/display.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/empty.rs
  datafusion/src/physical_plan/explain.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/memory.rs
  datafusion/src/physical_plan/merge.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/udaf.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: datafusion, enhancement

#263 Instructions for cross-compiling Ballista to the Raspberry Pi
  dev/build-ballista-docker-arm64.sh
  dev/docker/ballista-arm64.Dockerfile
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/distributed/raspberrypi.md
Labels: ballista, documentation

#303 add random SQL function
  datafusion/Cargo.toml
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/math_expressions.rs
  datafusion/src/physical_plan/type_coercion.rs
  datafusion/tests/sql.rs
Labels: datafusion, enhancement

#365 Refactor: move RowGroupPredicateBuilder into its own module, rename to PruningPredicateBuilder
  datafusion/src/physical_optimizer/mod.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/parquet.rs
Labels: api change, datafusion

#368 Add PartialOrd and Ord to GroupByScalar (#364)
  datafusion/src/physical_plan/group_scalar.rs
Labels: datafusion, enhancement

#391 Fixed incorrect logical type in GroupByScalar.
  datafusion/src/physical_plan/hash_aggregate.rs
Labels: bug, datafusion

#389 export both `now` and `random` functions
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/prelude.rs
Labels: datafusion

#395 Use 4.x arrow-rs from crates.io rather than git sha
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: api change, datafusion, enhancement

#392 refactor datafusion/`scalar_value` to use more macro and avoid dup code
  datafusion/src/scalar.rs
Labels: datafusion

#366 Change 'breaking change' label to 'api change'
  .github/pull_request_template.md
Labels: development-process

#370 Return Vec<bool> from PredicateBuilder rather than an `Fn`
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/parquet.rs
Labels: api change, datafusion

#387 Constant fold / optimize `to_timestamp` function during planning
  datafusion/src/optimizer/constant_folding.rs
Labels: datafusion

#394 #352: BallistaContext::collect() logging is too noisy
  ballista/rust/client/src/context.rs
Labels: ballista

#422 add output field name rfc
  DEVELOPERS.md
  docs/specification/output-field-name-semantic.md
Labels: datafusion, documentation
