Repository apache/datafusion, pull requests merged in 2021-11, with the labels that each got.

#1200 Removed deprecated with_concurrency
  datafusion/src/execution/context.rs
Labels: datafusion

#1141 File partitioning for ListingTable
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  benchmarks/src/bin/tpch.rs
  datafusion/src/datasource/file_format/avro.rs
  datafusion/src/datasource/file_format/csv.rs
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/datasource/file_format/mod.rs
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/datasource/listing/helpers.rs
  datafusion/src/datasource/listing/mod.rs
  datafusion/src/datasource/listing/table.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/datasource/object_store/local.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/options.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/file_format/avro.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/file_stream.rs
  datafusion/src/physical_plan/file_format/json.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/src/test/mod.rs
  datafusion/src/test/object_store.rs
  datafusion/tests/common.rs
  datafusion/tests/path_partition.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion

#1215 refactor datafusion cli to be more modular
  datafusion-cli/src/context.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/lib.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/print_options.rs
Labels: datafusion

#1219 Fix build with `--no-default-features`
  .github/workflows/rust.yml
  datafusion/Cargo.toml
  datafusion/src/lib.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/regex_expressions.rs
Labels: datafusion

#1180 Second batch of updating sql tests to use assert_batches_eq
  datafusion/tests/sql.rs
Labels: datafusion

#1204 Improve GetIndexedFieldExpr adding utf8 key based access for struct v…
  datafusion/src/field_util.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/physical_plan/expressions/get_indexed_field.rs
  datafusion/tests/sql.rs
Labels: enhancement, datafusion, sql

#1208 Add algebraic simplifications to constant_folding
  datafusion/src/optimizer/constant_folding.rs
Labels: datafusion

#1201 Failing test in RepartitionExec on nightly
  datafusion/src/physical_plan/repartition.rs
Labels: datafusion

#1224 add \q as quit command and add \? for help
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/lib.rs
Labels: datafusion

#1229 datafusion-cli to add list table command
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
Labels: datafusion

#1231 Add cli show columns command to describe tables
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
Labels: datafusion

#1225 datafusion cli to handle EoF and interrupt signal
  datafusion-cli/src/exec.rs
Labels: datafusion

#1235 fix: Min/Max aggregation data type should not be dictionary
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1206 Improve avro reader performance by avoiding some cloning on avro_rs::Value
  datafusion/src/avro_to_arrow/arrow_array_reader.rs
Labels: datafusion

#1202 Fix `between` in select query
  datafusion/src/logical_plan/expr.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1238 update docs to fix DataFusion User Guide link
  ballista/rust/client/README.md
Labels: documentation, datafusion

#1245 fix: not do boolean folding on NULL and/or expr
  datafusion/src/optimizer/constant_folding.rs
Labels: datafusion

#1135 Implement INTERSECT & INTERSECT DISTINCT
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, sql

#1251 fix 1250, add editor support for datafusion cli with validation
  datafusion-cli/src/exec.rs
  datafusion-cli/src/helper.rs
  datafusion-cli/src/lib.rs
Labels: datafusion

#1256 numerical_coercion pattern match optimize
  datafusion/src/physical_plan/expressions/coercion.rs
Labels: datafusion

#1255 use arrow 6.1.0
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#1243 Add support for `create table as` via MemTable
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, sql

#1237 ignore case of `with header row` in sql when creating external table
  datafusion/src/sql/parser.rs
Labels: bug, datafusion, sql

#1259 Implement EXCEPT & EXCEPT DISTINCT
  datafusion/src/logical_plan/builder.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion, sql

#1265 Add timezome string to stablize test
  datafusion/src/execution/context.rs
Labels: datafusion

#1275 Fix test group_by_date_trunc failed locally
  datafusion/src/execution/context.rs
Labels: datafusion, development-process

#1258 Add DataFrame support for `INTERSECT` and update readme
  README.md
  datafusion/src/dataframe.rs
  datafusion/src/execution/dataframe_impl.rs
Labels: documentation, enhancement, datafusion

#1241 Third batch of updating sql tests to use assert_batches_eq
  datafusion/tests/sql.rs
Labels: datafusion, development-process

#1276 add the youtube link's time anchor in README
  README.md
Labels: documentation

#1266 Add drop table support
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion, sql

#1261 Dataframe supports except and update readme
  README.md
  datafusion/src/dataframe.rs
  datafusion/src/execution/dataframe_impl.rs
Labels: documentation, enhancement, datafusion

#1278 add filename completer for create table statement
  datafusion-cli/src/helper.rs
Labels: enhancement, datafusion

#1280 WIP: Fourth batch of updating sql tests to use assert_batches_eq
  datafusion/tests/sql.rs
Labels: datafusion

#1287 python: update docs to use new APIs
  .github/workflows/python_test.yaml
  docs/source/python/index.rst
  python/datafusion/__init__.py
  python/src/expression.rs
Labels: documentation, python

#1253 create datafusion 6.0.0, ballista 0.6.0 and python 0.4.0 releases
  .github_changelog_generator
  README.md
  ballista-examples/Cargo.toml
  ballista/CHANGELOG.md
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/Cargo.toml
  dev/release/README.md
  dev/release/update_change_log-all.sh
  dev/release/update_change_log-ballista.sh
  dev/release/update_change_log-datafusion.sh
  dev/release/update_change_log-python.sh
  dev/release/update_change_log.sh
  dev/update_ballista_versions.py
  dev/update_datafusion_versions.py
  python/CHANGELOG.md
  python/Cargo.toml
Labels: documentation, ballista, datafusion, development-process, python

#1297 portable shasum check
  dev/release/verify-release-candidate.sh
Labels: development-process

#1288 [datafusion-1269]: forbid creating the table with the same name
  datafusion/src/catalog/information_schema.rs
  datafusion/src/catalog/schema.rs
  datafusion/src/execution/context.rs
Labels: bug, datafusion

#1295 python: update release instructions & automation
  .gitignore
  dev/release/README.md
  dev/release/create-tarball.sh
  dev/release/download-python-wheels.py
  dev/release/verify-release-candidate.sh
Labels: documentation, python

#1294 improve error message for invalid create table statement
  datafusion/src/sql/planner.rs
Labels: bug, datafusion, sql

#1289 Add topics to Github repo
  .asf.yaml
Labels: development-process

#1308 Update README.md to refresh datafusion-java link
  README.md
Labels: documentation

#1310 [MINOR] Fix some typos.
  ballista/rust/scheduler/src/state/mod.rs
  docs/README.md
Labels: documentation, ballista

#1300 Implement array_agg aggregate function
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/expressions/array_agg.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion

#1290 Extract logical plans in LogicalPlan as independent struct: TableScan
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion

#1063 Optimize count agg expr with null column statistics
  datafusion/src/physical_optimizer/aggregate_statistics.rs
Labels: documentation, ballista, datafusion, sql, development-process, performance, python

#1317 Extract Explain, Analyze, Extension in LogicalPlan as independent struct
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/test/user_defined.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion, sql

#1311 Extract CreateMemoryTable, DropTable, CreateExternalTable in LogicalPlan as independent struct
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/utils.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion, sql

#1322 Extract CrossJoin, Repartition, Union in LogicalPlan
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
Labels: ballista, datafusion

#1285 Add statement helper command to cli
  datafusion-cli/src/command.rs
  datafusion-cli/src/functions.rs
  datafusion-cli/src/lib.rs
Labels: datafusion

#1315 Optimize the performance queries with a single distinct aggregate
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/mod.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/tests/user_defined_plan.rs
Labels: datafusion

#1318 Fifth batch of updating sql tests to use assert_batches_eq
  datafusion/tests/sql.rs
Labels: datafusion

#1325 [datafusion-1305]Extract EmptyRelation, Limit, Values in LogicalPlan
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/eliminate_limit.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion

#1338 Moved aggr_test_schema to test_utils
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/empty.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/values.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/src/test/mod.rs
  datafusion/src/test_util.rs
  datafusion/tests/common.rs
  datafusion/tests/path_partition.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1333 fix and update release instruction
  dev/release/README.md
Labels: development-process

#1334 upgrade arrow-rs to 6.2.0
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#1163 Support `=`, `<`, `<=`, `>`, `>=`, `!=`, `is distinct from`, `is not distinct from` for `BooleanArray`
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/nullif.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1330 #1268: allow datafusion-cli to toggle quiet flag within CLI
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  docs/source/user-guide/cli.md
Labels: datafusion

#1277 fix some clippy warnings from nightly channel
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/physical_plan/crypto_expressions.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/string_expressions.rs
  datafusion/src/scalar.rs
  datafusion/src/sql/planner.rs
  datafusion/src/test_util.rs
Labels: documentation, ballista, datafusion, sql

#1345 Datafusion cli quiet mode command to contain option bool
  datafusion-cli/src/command.rs
Labels: enhancement, datafusion

#1346 Add dependencies to ballista example documentation
  ballista/rust/client/README.md
Labels: documentation, ballista

#1349 reduce datafusion-cli crate keyword count
  datafusion-cli/Cargo.toml
Labels: datafusion, development-process

#1309 Extract Projection, Filter, Window in LogicalPlan as independent struct
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion, api change

#1348 add documentation to Datafusion cli's new commands
  docs/source/user-guide/cli.md
  docs/source/user-guide/sql/ddl.md
Labels: documentation, datafusion

#1319 Avoid changing expression names during constant folding
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion

#1347 collect table stats by default for listing table
  datafusion/src/datasource/listing/table.rs
Labels: bug, datafusion

#819 Python bindings for window functions
  python/datafusion/tests/test_dataframe.py
  python/src/functions.rs
Labels: datafusion, sql, python

#1353 chore: remove unused dependency in ballista-examples
  ballista-examples/Cargo.toml
Labels: ballista, development-process

#1326 Extract Aggregate, Sort, and Join to struct from AggregatePlan
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion, api change

#1350 avoid SNAPSHOT in version
  benchmarks/Cargo.toml
  datafusion-examples/Cargo.toml
  dev/release/verify-release-candidate.sh
Labels: datafusion, development-process

#1355 Add unit test for constant folding on values
  datafusion/src/optimizer/constant_folding.rs
Labels: datafusion

#1354 Extract logical plan: rename the plan name (follow up)
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/test/user_defined.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion, sql

#1366 Use `BufReader` for LocalFileReader to revert performance regression in parquet reading
  datafusion/src/datasource/object_store/local.rs
Labels: datafusion

#1370 remove unused code in hash_aggregate
  datafusion/src/physical_plan/hash_aggregate.rs
Labels: datafusion

#1365 Split fetch_metadata into fetch_statistics and fetch_schema
  datafusion/src/datasource/file_format/parquet.rs
Labels: datafusion

#1368 Fix Predicate Pushdown: split_members should be able to split aliased predicate
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/tests/sql.rs
  datafusion/tests/tpch-csv/customer.csv
  datafusion/tests/tpch-csv/lineitem.csv
  datafusion/tests/tpch-csv/nation.csv
  datafusion/tests/tpch-csv/orders.csv
Labels: datafusion

#1357 Change the arg names and make parameters more meaningful
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/type_coercion.rs
  datafusion/src/physical_plan/udaf.rs
  datafusion/src/physical_plan/udf.rs
  datafusion/src/physical_plan/window_functions.rs
Labels: bug, datafusion

#1382 add array agg name
  datafusion/src/physical_plan/expressions/array_agg.rs
Labels: datafusion

#1284 Add a command to switch output format in cli
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
Labels: enhancement, datafusion

#1374 Refactor: Consolidate expression simplification code in `simplify_expression.rs`
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
Labels: datafusion, api change

#1385 upgrade the arrow-rs version
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion
