Repository apache/datafusion, pull requests merged in 2021-07, with the labels that each got.

#643 Update API for extension planning to include logical plan
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/user_defined_plan.rs
Labels: api change, datafusion

#654 Bump arrow and parquet versions to 4.4
  datafusion/Cargo.toml
Labels: datafusion

#647 Add support for leading field in interval
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#652 Fix RAT check
  .github/workflows/dev.yml
  dev/release/check-rat-report.py
  dev/release/rat_exclude_files.txt
  dev/release/run-rat.sh
Labels: development-process

#634 Ballista: Implement scalable distributed joins
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/test_utils.rs
  datafusion/src/lib.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion

#662 Show physical plan with metrics in benchmark
  benchmarks/src/bin/tpch.rs
  datafusion/src/physical_plan/display.rs
Labels: datafusion

#664 Implement metrics for HashJoinExec
  datafusion/src/physical_plan/hash_join.rs
Labels: datafusion

#676 Implement metrics for shuffle read and write
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/executor/src/executor.rs
Labels: ballista

#657 Add End-to-end test for parquet pruning + metrics for ParquetExec
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/test/mod.rs
  datafusion/tests/parquet_pruning.rs
Labels: datafusion

#666 [fix] benchmark run with compose
  benchmarks/README.md
  benchmarks/docker-compose.yaml
Labels: ballista

#660 Allow non-equijoin filters in join condition
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#681 use `Weak` ptr to break catalog list <> info schema cyclic reference
  datafusion/src/catalog/information_schema.rs
  datafusion/src/execution/context.rs
Labels: datafusion

#605 fix join column handling logic for `On` and `Using` constraints
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  benchmarks/queries/q7.sql
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/test/mod.rs
Labels: ballista, datafusion

#694 Fix test output due to logical merge conflict
  datafusion/tests/sql.rs
Labels: datafusion

#689 Remove qualifiers on pushed down predicates / Fix parquet pruning
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/parquet_pruning.rs
Labels: datafusion

#691 perf: Improve materialisation performance of SortPreservingMergeExec
  datafusion/Cargo.toml
  datafusion/benches/physical_plan.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
Labels: datafusion

#696 Fix build with 1.52.1
  datafusion/src/physical_plan/parquet.rs
Labels: datafusion

#698 Ballista: Avoid sleeping between polling for tasks
  ballista/rust/executor/src/execution_loop.rs
Labels: ballista

#690 Fix Date32 and Date64 parquet row group pruning
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/scalar.rs
  datafusion/tests/parquet_pruning.rs
Labels: datafusion

#702 Ballista: Make shuffle partitions configurable in benchmarks
  ballista/rust/client/src/context.rs
  ballista/rust/client/src/prelude.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/test_utils.rs
  benchmarks/src/bin/tpch.rs
Labels: api change, ballista

#714 Ballista: Shuffle write bug fix
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
Labels: ballista

#712 Implement serde for ShuffleWriterExec
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
Labels: ballista

#678 dedup using join column in wildcard expansion
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: ballista, datafusion

#704 replace once iter chain with array::IntoIter
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
Labels: datafusion

#687 #554: Lead/lag window function with offset and default value arguments
  datafusion/src/physical_plan/expressions/lead_lag.rs
  datafusion/src/physical_plan/type_coercion.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/physical_plan/windows.rs
  integration-tests/sqls/simple_window_lead_built_in_functions.sql
  integration-tests/test_psql_parity.py
Labels: datafusion

#724 split up windows functions into a dedicated module with separate files
  datafusion/src/physical_plan/windows.rs
  datafusion/src/physical_plan/windows/aggregate.rs
  datafusion/src/physical_plan/windows/built_in.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/src/physical_plan/windows/window_agg_exec.rs
Labels: datafusion

#729 provide more details on required .parquet file extension error message
  datafusion/src/physical_plan/parquet.rs
Labels: datafusion

#728 Allow filetype to be lowercase, Implement FromStr for FileType
  datafusion/src/sql/parser.rs
Labels: datafusion

#716 #699 fix return type conflict when calling builtin math fuctions
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/math_expressions.rs
Labels: datafusion

#727 UnresolvedShuffleExec should represent a single shuffle
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#732 MINOR: Remove unused Ballista query execution code path
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/serde/scheduler/from_proto.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/executor/src/flight_service.rs
Labels: ballista

#734 Derive PartialEq for datasource enums
  datafusion/src/datasource/datasource.rs
Labels: datafusion

#721 Update to use arrow 5.0
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/src/flight_service.rs
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/flight_server.rs
  datafusion/Cargo.toml
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/scalar.rs
Labels: ballista, datafusion

#735 Support table columns alias
  datafusion/src/sql/planner.rs
Labels: datafusion

#740 update `python` crate dependencies
  datafusion/src/physical_plan/functions.rs
  python/Cargo.toml
  python/requirements.txt
Labels: datafusion

#722 perf: improve performance of `SortPreservingMergeExec` operator
  datafusion/src/physical_plan/sort_preserving_merge.rs
Labels: datafusion

#752 impl fmt::Display for PlanType
  datafusion/src/logical_plan/plan.rs
  datafusion/src/physical_plan/explain.rs
Labels: datafusion

#751 Add explain verbose with limit push down
  datafusion/src/optimizer/limit_push_down.rs
Labels: datafusion

#749 #723 Datafusion add option in ExecutionConfig to enable/disable parquet pruning
  datafusion/src/datasource/parquet.rs
  datafusion/src/execution/context.rs
  datafusion/src/physical_optimizer/pruning.rs
Labels: datafusion

#747 Remove unnecessary projection in logical plan optimization phase
  datafusion/src/optimizer/projection_push_down.rs
Labels: datafusion

#744 Show optimized physical and logical plans in EXPLAIN
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/explain.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: datafusion

#746 Move assert_batches_eq! macros to test_utils.rs
  datafusion/src/test/mod.rs
  datafusion/src/test_util.rs
  datafusion/tests/sql.rs
Labels: datafusion

#741 update `python` crate to support latest pyo3 syntax and gil sematics
  python/src/functions.rs
  python/src/to_py.rs
  python/src/udaf.rs
  python/src/udf.rs
Labels: datafusion

#738 Ballista: Prep for fixing shuffle mechansim, part 1
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/serde/scheduler/from_proto.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#754 Test for parquet pruning disabling
  datafusion/tests/parquet_pruning.rs
Labels: datafusion

#759 Show the result of all optimizer passes in EXPLAIN VERBOSE
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/display.rs
  datafusion/src/physical_plan/explain.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
  datafusion/tests/user_defined_plan.rs
Labels: api change, datafusion

#750 Ballista shuffle is finally working as intended, providing scalable distributed joins
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/serde/scheduler/from_proto.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/executor/src/flight_service.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#760 Start update tests in sql.rs to use `assert_batches_eq!`
  datafusion/tests/sql.rs
Labels: datafusion, development-process

#762 impl from str for column and scalar
  datafusion/src/logical_plan/expr.rs
  datafusion/src/scalar.rs
Labels: datafusion

#761 fix 226, make `concat`, `concat_ws`, and `random` work with `Python` crate
  datafusion/src/logical_plan/expr.rs
Labels: datafusion

#764 #723 limit pruning rule to simple expression
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/tests/parquet_pruning.rs
Labels: datafusion

#767 Use consistent version of string_to_timestamp_nanos in DataFusion
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/physical_plan/datetime_expressions.rs
Labels: datafusion

#772 Update docs to use vendored version of arrow
  README.md
  datafusion/src/lib.rs
Labels: datafusion

#780 port release automations from arrow-rs
  .github_changelog_generator
  dev/release/create-tarball.sh
  dev/release/release-tarball.sh
  dev/release/update_change_log.sh
Labels: development-process

#778 JOIN conditions are order dependent
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion

#785 Support DataFrame.collect for Ballista DataFrames
  ballista-examples/src/bin/ballista-dataframe.rs
  ballista-examples/src/bin/ballista-sql.rs
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/mod.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/lib.rs
  benchmarks/src/bin/tpch.rs
Labels: ballista

#788 Box ScalarValue:Lists, reduce size by half size
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/scalar.rs
Labels: api change, ballista, datafusion

#791 automatically add python label to PRs
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#794 Fix: Update clippy lints for Rust 1.54
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#789 Implement streaming versions of Dataframe.collect methods
  datafusion/src/dataframe.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/physical_plan/mod.rs
Labels: ballista, datafusion

#786 Remove GroupByScalar and use ScalarValue in preparation for supporting null values in GroupBy
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/group_scalar.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/scalar.rs
Labels: datafusion
