Repository apache/datafusion, pull requests merged in 2021-09, with the labels that each got.

#966 Added script to create LICENSES.md file.
  dev/create_license.py
Labels: development-process

#967 update datafusion to 5.1.0 for python binding
  python/Cargo.toml
  python/src/dataframe.rs
  python/tests/test_df.py
  python/tests/test_sql.py
Labels: python

#982 add cargo.lock file
  python/.gitignore
  python/Cargo.lock
  python/Cargo.toml
Labels: development-process, python

#978 use nightly-2021-09-07 for python builds
  .env
  .github/workflows/python_build.yml
  .github/workflows/python_test.yaml
  .github/workflows/rust.yml
  ci/docker/linux-apt-lint.dockerfile
  python/rust-toolchain
Labels: python

#986 Rename NthValue::{first_value,last_value,nth_value} to satisfy clippy in Rust 1.55
  datafusion/src/physical_plan/expressions/nth_value.rs
  datafusion/src/physical_plan/windows/mod.rs
Labels: datafusion

#870 Add support for PostgreSQL regex match
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/logical_plan/operators.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, sql, waiting-on-upstream

#960 Add metrics for FilterExec
  datafusion/src/physical_plan/filter.rs
  datafusion/tests/sql.rs
Labels: datafusion

#950 ObjectStore API to read from remote storage systems
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  datafusion/Cargo.toml
  datafusion/src/datasource/mod.rs
  datafusion/src/datasource/object_store/local.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/execution/context.rs
Labels: ballista, datafusion

#989 reduce ScalarValue from trait boilerplate with macro
  datafusion/src/scalar.rs
Labels: datafusion

#991 dependencies: update etcd-client to 0.7
  ballista/rust/scheduler/Cargo.toml
Labels: ballista

#981 [Python] Add support to perform sql query on in-memory datasource.
  python/src/context.rs
  python/tests/test_df_sql.py
Labels: python

#999 Make Metrics::labels() public
  datafusion/src/physical_plan/metrics/mod.rs
Labels: datafusion, api change

#965 Move CBOs and Statistics to physical plan
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/datasource.rs
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/executor/src/collect.rs
  datafusion/src/datasource/csv.rs
  datafusion/src/datasource/datasource.rs
  datafusion/src/datasource/empty.rs
  datafusion/src/datasource/json.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/aggregate_statistics.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/hash_build_probe_order.rs
  datafusion/src/optimizer/mod.rs
  datafusion/src/physical_optimizer/aggregate_statistics.rs
  datafusion/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/src/physical_optimizer/mod.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_optimizer/utils.rs
  datafusion/src/physical_plan/analyze.rs
  datafusion/src/physical_plan/coalesce_batches.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/common.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/csv.rs
  datafusion/src/physical_plan/empty.rs
  datafusion/src/physical_plan/explain.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/json.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/memory.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/windows/window_agg_exec.rs
  datafusion/src/test/exec.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/provider_filter_pushdown.rs
  datafusion/tests/sql.rs
  datafusion/tests/statistics.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion, api change

#995 register datafusion.functions as a python package
  python/src/lib.rs
Labels: python

#1002 fix deadlink in python/readme
  python/README.md
Labels: python

#993 consolidate datafusion docs with sphinx
  README.md
  datafusion/docs/cli.md
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/make.bat
  docs/requirements.txt
  docs/source/_static/images/DataFusion-Logo-Background-White.png
  docs/source/_static/images/DataFusion-Logo-Background-White.svg
  docs/source/_static/images/DataFusion-Logo-Dark.png
  docs/source/_static/images/DataFusion-Logo-Dark.svg
  docs/source/_static/images/DataFusion-Logo-Light.png
  docs/source/_static/images/DataFusion-Logo-Light.svg
  docs/source/_static/theme_overrides.css
  docs/source/_templates/docs-sidebar.html
  docs/source/_templates/layout.html
  docs/source/cli/index.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/python/api.rst
  docs/source/python/api/dataframe.rst
  docs/source/python/api/execution_context.rst
  docs/source/python/api/expression.rst
  docs/source/python/api/functions.rst
  docs/source/python/index.rst
  docs/source/specification/invariants.md
  docs/source/specification/output-field-name-semantic.md
  docs/source/user-guide/cli.md
  docs/source/user-guide/distributed/clients/index.rst
  docs/source/user-guide/distributed/clients/python.md
  docs/source/user-guide/distributed/clients/rust.md
  docs/source/user-guide/distributed/deployment/cargo-install.md
  docs/source/user-guide/distributed/deployment/configuration.md
  docs/source/user-guide/distributed/deployment/docker-compose.md
  docs/source/user-guide/distributed/deployment/docker.md
  docs/source/user-guide/distributed/deployment/index.rst
  docs/source/user-guide/distributed/deployment/kubernetes.md
  docs/source/user-guide/distributed/deployment/raspberrypi.md
  docs/source/user-guide/distributed/index.rst
  docs/source/user-guide/distributed/introduction.md
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/faq.md
  docs/source/user-guide/introduction.md
  docs/source/user-guide/library.md
  docs/source/user-guide/sql/datafusion-functions.md
  docs/source/user-guide/sql/ddl.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/select.md
  docs/user-guide/.gitignore
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/distributed/clients.md
  docs/user-guide/src/distributed/deployment.md
  docs/user-guide/src/sql/introduction.md
Labels: documentation, datafusion

#977 add requirements.txt of different python versions
  .github/workflows/python_test.yaml
  python/README.md
  python/requirements-37.txt
  python/requirements-38.txt
  python/requirements-39.txt
Labels: python

#1004 Add metrics for Limit and Projection, and CoalesceBatches
  datafusion/src/physical_plan/coalesce_batches.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/tests/sql.rs
Labels: datafusion

#792 Implement basic common subexpression eliminate optimization
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/mod.rs
  datafusion/tests/user_defined_plan.rs
Labels: enhancement, datafusion, performance

#1008 Fix compilation for ballista in stand-alone mode
  ballista/rust/client/src/context.rs
Labels: ballista

#1018 Add baseline execution stats to `WindowAggExec` and `UnionExec`, and fixup `CoalescePartitionsExec`
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/windows/window_agg_exec.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1015 Derive PartialOrd for Expr
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/operators.rs
  datafusion/src/logical_plan/window_frames.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/udaf.rs
  datafusion/src/physical_plan/udf.rs
  datafusion/src/physical_plan/window_functions.rs
Labels: enhancement, datafusion

#1022 add ExecutionConfig.with_optimizer_rules
  datafusion/src/execution/context.rs
Labels: enhancement, datafusion

#1025 docs: include edit on github link
  docs/source/conf.py
Labels: documentation

#1028 Register tables in BallistaContext using TableProviders instead of Dataframe
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/datasource.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/scheduler/src/planner.rs
Labels: ballista, api change

#1023 fix: allow duplicate field names in table join, fix output with duplicated names
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/join_utils.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1026 Fix broken README.md link to cli.md
  README.md
Labels: documentation

#1013 Make TableProvider.scan() and PhysicalPlanner::create_physical_plan() async
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/planner.rs
  benchmarks/src/bin/nyctaxi.rs
  benchmarks/src/bin/tpch.rs
  datafusion/src/datasource/avro.rs
  datafusion/src/datasource/csv.rs
  datafusion/src/datasource/datasource.rs
  datafusion/src/datasource/empty.rs
  datafusion/src/datasource/json.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/parquet_pruning.rs
  datafusion/tests/provider_filter_pushdown.rs
  datafusion/tests/sql.rs
  datafusion/tests/statistics.rs
  datafusion/tests/user_defined_plan.rs
  python/src/dataframe.rs
Labels: ballista, datafusion, api change, python

#1024 Ignore metadata on schema merge
  datafusion/src/datasource/mod.rs
  datafusion/src/execution/context.rs
Labels: enhancement, datafusion

#1033 update github repo homepage link
  .asf.yaml
Labels: development-process

#1031 add community communication docs
  DEVELOPERS.md
  docs/README.md
  docs/source/community/communication.md
  docs/source/index.rst
Labels: documentation

#1030 feat: add lit_timestamp_nanosecond
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
Labels: enhancement, datafusion

#971 Implement Display for Expr, improve operator display
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/operators.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, sql

#1044 remove hard coded partition count in ballista logicalplan deserialization
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  benchmarks/src/bin/tpch.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/physical_plan/parquet.rs
Labels: enhancement, ballista, datafusion

#1047 Avoid stack overflow by reducing stack usage of `BinaryExpr::evaluate` in debug builds
  .github/workflows/rust.yml
  datafusion/src/physical_plan/expressions/binary.rs
Labels: datafusion, performance

#1052 Update sqlparser-rs to 0.11
  ballista/rust/core/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/sql/parser.rs
  datafusion/src/sql/planner.rs
Labels: ballista, datafusion, sql

#1050 Support querying CSV files without providing the schema
  datafusion/src/execution/context.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/user_defined_plan.rs
Labels: enhancement, datafusion, sql

#1054 fix: fix joins on Float32/Float64 columns bug
  datafusion/src/physical_plan/hash_join.rs
  datafusion/tests/sql.rs
  python/Cargo.lock
Labels: datafusion, python

#1059 fix and update window function sql tests
  datafusion/tests/sql.rs
Labels: datafusion

#1055 fix: joins on Timestamp columns
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion, python

#1046 fix docker for cli because of base image upgrade
  datafusion-cli/Dockerfile
Labels: datafusion
