Repository apache/datafusion, pull requests merged in 2021-12, with the labels that each got.

#1375 Consolidate `ConstantFolding` and `SimplifyExpression`
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/mod.rs
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion, api change

#1388 Make cli handle multiple whitespaces
  datafusion-cli/src/exec.rs
Labels: bug, datafusion

#1395 Update rust vesion to 1.57
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/executor/src/flight_service.rs
  ballista/rust/scheduler/src/state/mod.rs
  benchmarks/Cargo.toml
  benchmarks/src/bin/tpch.rs
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/physical_plan/datetime_expressions.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/physical_plan/string_expressions.rs
  datafusion/src/physical_plan/windows/built_in.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/src/scalar.rs
  datafusion/src/sql/parser.rs
  datafusion/src/test/exec.rs
  dev/docker/ballista-base.dockerfile
  python/Cargo.toml
Labels: ballista, datafusion, sql, python

#1394 support decimal scalar value
  datafusion/src/scalar.rs
Labels: datafusion

#1390 Be consistent with pg on real datatype
  datafusion/src/sql/planner.rs
Labels: datafusion, api change, sql

#1387 Add coercion rules for AggregateFunctions
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/coercion_rule/mod.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion

#1376 Make tests for `simplify` and `Simplifer` consistent
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion

#1416 Minor test cleanup
  datafusion/src/physical_plan/aggregates.rs
Labels: datafusion, development-process

#1421 [Minor] Fix `send_time` metric for hash-repartition
  datafusion/src/physical_plan/repartition.rs
Labels: datafusion

#1423 Make `FLOAT` SQL type map to `Float32` rather than `Float64`
  README.md
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: documentation, datafusion, sql

#1415 Support sort on unprojected columns
  datafusion/src/logical_plan/builder.rs
  datafusion/tests/dataframe.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion

#1413 fix: Select * returns an unexpected result
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion, sql

#1428 Minor Code cleanups
  datafusion/src/logical_plan/builder.rs
Labels: datafusion

#1419 Ordering by index in select expression
  datafusion/src/sql/planner.rs
Labels: enhancement, datafusion, sql

#1407 support decimal for min/max agg
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/test/mod.rs
Labels: enhancement, datafusion

#1435 use 0.13 sql parser
  ballista/rust/core/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#1431 support decimal data type in create table
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, datafusion, sql

#1438 Consolidate decimal error checking and improve error messages
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion, sql

#1446 Update arrow-rs to 6.4.0 and replace boolean comparison in datafusion with arrow compute kernel
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/physical_plan/expressions/binary.rs
Labels: ballista, datafusion

#1450 Planner code cleanup
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1448 Fix bug in projection: "column types must match schema types, expected XXX but found YYY"
  datafusion/src/physical_plan/projection.rs
  datafusion/tests/sql.rs
Labels: datafusion

#1449 Support identifiers with `.` in them
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion, sql

#1430 Fixes for working with functions in dataframes, additional documentation
  datafusion/src/logical_plan/expr.rs
  datafusion/src/prelude.rs
  datafusion/tests/dataframe_functions.rs
Labels: bug, documentation, datafusion

#1408 support sum/avg agg for decimal, change sum(float32) --> float64
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/scalar.rs
  datafusion/src/sql/utils.rs
Labels: datafusion, sql

#1399 Minimize features
  ballista/rust/core/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#1464 Update roadmap with features completed
  docs/source/specification/roadmap.md
Labels: documentation

#1463 fix calculate in many_to_many_hash_partition test.
  datafusion/src/physical_plan/repartition.rs
Labels: datafusion

#1459 Avoid send empty batches for Hash partitioning.
  datafusion/src/physical_plan/repartition.rs
Labels: datafusion

#1467 enhancement mod/rem operation for expr
  ballista/rust/core/src/serde/mod.rs
  datafusion/src/logical_plan/operators.rs
Labels: enhancement, ballista, datafusion

#1291 Left join could use bitmap for left join instead of Vec<bool>
  datafusion/src/physical_plan/hash_join.rs
Labels: datafusion, performance

#1455 Add Timezone to Scalar::Time* types, and better timezone awareness to Datafusion's time types
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_plan/datetime_expressions.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/coercion.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/scalar.rs
  datafusion/tests/sql.rs
Labels: bug, ballista, datafusion

#1466 Pass local address host so we do not get mismatch between IPv4 and IP…
  ballista/rust/executor/src/standalone.rs
Labels: bug, ballista

#1477 Fix SortExec discards field metadata on the output schema
  datafusion/src/physical_plan/sort.rs
Labels: bug, datafusion

#1481 Minor: Rename `predicate_builder` --> `pruning_predicate` for consistency
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1482 Fix duplicated 'cargo run --example parquet_sql'
  datafusion/src/lib.rs
Labels: documentation, datafusion

#1489 add dependbot
  .github/dependabot.yml
Labels: development-process

#1499 Workaround build failure: Pin quote to 1.0.10
  ballista/rust/core/Cargo.toml
Labels: ballista

#1491 Refactor testing modules
  datafusion/tests/mod.rs
  datafusion/tests/sql.rs
  datafusion/tests/sql/aggregates.rs
  datafusion/tests/sql/avro.rs
  datafusion/tests/sql/create_drop.rs
  datafusion/tests/sql/errors.rs
  datafusion/tests/sql/explain_analyze.rs
  datafusion/tests/sql/expr.rs
  datafusion/tests/sql/functions.rs
  datafusion/tests/sql/group_by.rs
  datafusion/tests/sql/intersection.rs
  datafusion/tests/sql/joins.rs
  datafusion/tests/sql/limit.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/order.rs
  datafusion/tests/sql/parquet.rs
  datafusion/tests/sql/predicates.rs
  datafusion/tests/sql/projection.rs
  datafusion/tests/sql/references.rs
  datafusion/tests/sql/select.rs
  datafusion/tests/sql/timestamp.rs
  datafusion/tests/sql/udf.rs
  datafusion/tests/sql/unicode.rs
  datafusion/tests/sql/union.rs
  datafusion/tests/sql/window.rs
Labels: datafusion

#1502 add indexed fields support to python api
  python/datafusion/tests/test_dataframe.py
  python/src/expression.rs
Labels: python

#1497 Add example on how to query multiple parquet files
  datafusion-examples/examples/parquet_sql_multiple_files.rs
Labels: datafusion
