Repository apache/datafusion, pull requests merged in 2021-08, with the labels that each got.

#803 expand file glob within prettier
  .github/workflows/dev.yml
  ballista/README.md
  docs/user-guide/src/distributed/docker-compose.md
  docs/user-guide/src/distributed/kubernetes.md
Labels: ballista, development-process

#807 Move `hash_array` into hash_utils.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/repartition.rs
Labels: ballista, datafusion

#800 automatically add sql, development-process and documentation labels to PRs
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#796 Convert unsupported conditions in left right join to filters
  benchmarks/src/bin/tpch.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion, enhancement

#793 Produce correct answers for Group BY NULL (Option 1)
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/scalar.rs
  datafusion/tests/sql.rs
Labels: datafusion

#802 show prettier diff in CI
  .github/workflows/dev.yml
Labels: development-process

#818 Update dependencies: prost to 0.8 and tonic to 0.5
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/src/flight_service.rs
  ballista/rust/scheduler/Cargo.toml
  datafusion-examples/Cargo.toml
Labels: ballista, datafusion

#820 Support date datatypes in max/min
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/expressions/min_max.rs
Labels: datafusion

#810 Qualified field resolution too strict
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion, sql

#812 Implement vectorized hashing for DictionaryArray types
  datafusion/src/physical_plan/hash_utils.rs
Labels: datafusion, enhancement

#813 Speed up inlist for strings and primitives
  datafusion/benches/filter_query_sql.rs
  datafusion/src/physical_plan/expressions/in_list.rs
Labels: datafusion, performance

#823 Add test for window functions on dictionary
  datafusion/tests/sql.rs
Labels: datafusion

#797 Better join order resolution logic
  datafusion/src/logical_plan/builder.rs
  datafusion/tests/sql.rs
Labels: datafusion

#719 Optimize min/max queries with table statistics
  datafusion/Cargo.toml
  datafusion/src/optimizer/aggregate_statistics.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/scalar.rs
Labels: datafusion, performance

#524 Expose ExecutionContext.register_csv to the python bindings
  .github/workflows/python_test.yaml
  python/requirements.in
  python/requirements.txt
  python/src/context.rs
  python/src/to_rust.rs
  python/tests/generic.py
  python/tests/test_math_functions.py
  python/tests/test_pa_types.py
  python/tests/test_sql.py
Labels: python

#827 Use `RawTable` API in hash join
  datafusion/src/physical_plan/hash_join.rs
Labels: datafusion

#829 Add ballista-examples to docker build
  dev/docker/ballista.dockerfile
Labels: ballista

#833 Implement serde for MIN and MAX
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
Labels: bug, ballista

#831 Add minimal crate documentation for Ballista crates
  ballista/rust/client/src/lib.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/executor/src/lib.rs
  ballista/rust/scheduler/src/lib.rs
Labels: documentation, ballista

#838 Implement PartialOrd for ScalarValue
  datafusion/src/scalar.rs
Labels: enhancement, datafusion

#842 Add tests for hash collisions
  .github/workflows/rust.yml
  datafusion/Cargo.toml
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/tests/sql.rs
Labels: datafusion, development-process

#840 [ballista] support date_part and date_turnc ser/de, pass tpch 7
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  benchmarks/run.sh
  benchmarks/src/bin/tpch.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/prelude.rs
Labels: enhancement, ballista, api change

#845 Fix right, full join handling when having multiple non-matching rows at the left side
  datafusion/src/physical_plan/hash_join.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion

#852 Add version to ballista dependencies
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
Labels: ballista

#849 Default to zstd in convert tool
  benchmarks/src/bin/tpch.rs
Labels: enhancement

#844 Add ScalarValue::eq_array optimized comparison function
  datafusion/src/scalar.rs
Labels: datafusion, performance

#857 update release automation scripts
  dev/release/create-tarball.sh
  dev/release/verify-release-candidate.sh
Labels: development-process

#858 Add support for EXPLAIN ANALYZE
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/dataframe.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/hash_build_probe_order.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/analyze.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/stream.rs
  datafusion/src/sql/planner.rs
  datafusion/src/test/exec.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion, api change, sql

#808 Rework GroupByHash to for faster performance and support grouping by nulls
  datafusion/Cargo.toml
  datafusion/src/physical_plan/hash_aggregate.rs
Labels: datafusion, performance

#865 automation to help update datafusion version in ballista dep
  dev/update_ballista_versions.py
Labels: development-process

#872 Register table based on known schema without file IO
  benchmarks/src/bin/tpch.rs
  datafusion/src/datasource/parquet.rs
Labels: enhancement, datafusion

#874 update automation for arrow version bump
  dev/update_arrow_deps.py
Labels: development-process

#885 prepare code base for 5.1.0 release
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/Cargo.toml
  dev/update_ballista_versions.py
  dev/update_datafusion_versions.py
Labels: ballista, datafusion, development-process

#878 Improve Ballista crate README content
  ballista/README.md
  ballista/rust/client/README.md
  ballista/rust/client/src/lib.rs
  ballista/rust/core/README.md
  ballista/rust/core/src/lib.rs
  ballista/rust/executor/README.md
  ballista/rust/executor/src/lib.rs
  ballista/rust/scheduler/README.md
  ballista/rust/scheduler/src/lib.rs
Labels: documentation, ballista

#893 update docker-compose.yaml on ballista version bump
  benchmarks/docker-compose.yaml
  dev/update_ballista_versions.py
Labels: development-process

#889 Add Ballista support to DataFusion CLI
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/utils.rs
  datafusion-cli/Cargo.toml
  datafusion-cli/README.md
  datafusion-cli/src/lib.rs
  datafusion-cli/src/main.rs
Labels: ballista, datafusion

#891 add cross join support to ballista
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/src/physical_plan/planner.rs
Labels: enhancement, ballista, datafusion

#876 support like on DictionaryArray
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/coercion.rs
  datafusion/tests/sql.rs
Labels: enhancement, datafusion

#902 update docs related to protoc and optional syntax
  ballista/rust/core/proto/ballista.proto
  datafusion-cli/Cargo.toml
Labels: documentation, ballista

#869 pin arrow crate to >=5.2,<6
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#914 Typo fix in DataFusion crate documentation
  datafusion/src/lib.rs
Labels: datafusion

#916 Support `NotLike` in Ballista
  ballista/rust/core/src/serde/mod.rs
  benchmarks/run.sh
  benchmarks/src/bin/tpch.rs
Labels: enhancement, ballista

#912 fix the docker build of datafusion CLI
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
Labels: datafusion

#895 [Ballista] Add executor last seen info to the ui
  ballista/rust/scheduler/src/api/handlers.rs
  ballista/ui/scheduler/src/components/DataTable.tsx
  ballista/ui/scheduler/src/components/NodesList.tsx
Labels: enhancement, ballista

#763 Impl `ops::Not` for `expr`
  datafusion/src/logical_plan/expr.rs
  datafusion/src/physical_optimizer/pruning.rs
Labels: datafusion

#926 automate ballista version update in user doc
  dev/update_ballista_versions.py
Labels: development-process

#927 build python wheels for release rc tags
  .github/workflows/python_build.yml
  python/Cargo.toml
Labels: python

#929 EXPLAIN ANALYZE should run all Optimizer passes
  datafusion/src/optimizer/utils.rs
  datafusion/tests/sql.rs
Labels: datafusion

#923 [DataFusion] - Add show and show_limit function for DataFrame
  README.md
  ballista-examples/src/bin/ballista-dataframe.rs
  ballista-examples/src/bin/ballista-sql.rs
  datafusion-examples/examples/csv_sql.rs
  datafusion-examples/examples/dataframe.rs
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/flight_client.rs
  datafusion-examples/examples/parquet_sql.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/src/dataframe.rs
  datafusion/src/execution/dataframe_impl.rs
  docs/user-guide/src/example-usage.md
  pre-commit.sh
Labels: documentation, ballista, datafusion

#934 Update to sqlparser v 0.10.0
  ballista/rust/core/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/operators.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/sql/planner.rs
Labels: ballista, datafusion, api change, sql

#908 Improve SQLMetric APIs, port existing metrics
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/utils.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/analyze.rs
  datafusion/src/physical_plan/display.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/metrics/builder.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/parquet.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/tests/parquet_pruning.rs
  datafusion/tests/sql.rs
Labels: ballista, datafusion, api change

#930 Add some additional asserts in `utils::from_plan`
  datafusion/src/optimizer/utils.rs
Labels: datafusion

#943 Fix metric name typo
  datafusion/src/physical_plan/hash_join.rs
Labels: datafusion

#931 [MINOR] Refactor some sql tests to use `assert_contains!` macro
  datafusion/tests/sql.rs
Labels: datafusion

#951 Update plan_query_stages doc
  ballista/rust/scheduler/src/planner.rs
Labels: documentation, ballista

#947 Add support for TRIM LEADING/TRAILING/BOTH syntax
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: enhancement, datafusion, sql

#942 [Python] - Support show function for DataFrame api of python library
  python/src/dataframe.rs
Labels: enhancement, python

#932 FilePartition and PartitionedFile for scanning flexibility
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/scheduler/src/lib.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/parquet.rs
Labels: enhancement, ballista, datafusion, api change, sql

#938 Add metrics for SortExect + HashAggregateExec
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/tests/sql.rs
Labels: datafusion

#952 Change compound column field name rules
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/lib.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql.rs
  docs/specification/output-field-name-semantic.md
Labels: datafusion
