Repository apache/datafusion, pull requests merged in 2021-10, with the labels that each got.

#1068 Add support for UNION [DISTINCT] sql
  README.md
  datafusion/src/dataframe.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: documentation, enhancement, datafusion, sql

#1065 fix pattern handling in regexp_match function
  datafusion/src/physical_plan/regex_expressions.rs
Labels: bug, datafusion

#1075 Add a LogicalPlanBuilder::schema() function
  datafusion/src/logical_plan/builder.rs
Labels: datafusion

#1071 Add function volatility to Signature
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/type_coercion.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
  python/src/context.rs
  python/src/functions.rs
  python/tests/test_df.py
  python/tests/test_sql.py
  python/tests/test_udaf.py
Labels: datafusion, api change, sql, python

#1088 fix UNION ALL bug: thread 'main' panicked at 'index out of bounds: the len is 1 but the index is 1', ./src/datatypes/schema.rs:165:10
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/tests/sql.rs
Labels: bug, datafusion

#1077 [window function] add `percent_rank` and `dense_rank` window functions
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/rank.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/physical_plan/windows/mod.rs
  integration-tests/sqls/simple_window_ranked_built_in_functions.sql
Labels: enhancement, datafusion

#1090 add digest(utf8, method) function and refactor all current hash digest functions
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/physical_plan/crypto_expressions.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/prelude.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion

#1097 Adds note on compatible rust version
  README.md
  ballista/rust/client/README.md
Labels: documentation, ballista

#1105 Clean up spawned task on `SortStream` drop
  datafusion/Cargo.toml
  datafusion/src/physical_plan/sort.rs
  datafusion/src/test/exec.rs
Labels: datafusion

#1086 [crypto] add `blake3` algorithm to `digest` function
  datafusion/Cargo.toml
  datafusion/src/physical_plan/crypto_expressions.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, python

#1112 Clean up spawned task on drop for `RepartitionExec`, `SortPreservingMergeExec`, `WindowAggExec`
  datafusion/src/physical_plan/common.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/src/physical_plan/windows/window_agg_exec.rs
  datafusion/src/test/exec.rs
  datafusion/src/test/mod.rs
Labels: enhancement, datafusion

#1130 refactor datafusion python `lit` function to allow different types
  python/src/functions.rs
  python/tests/generic.py
  python/tests/test_df_sql.py
  python/tests/test_functions.py
Labels: python

#1134 add python binding for `approx_distinct` aggregate function
  python/src/functions.rs
  python/tests/test_aggregation.py
Labels: python

#1104 Add Roadmap to Documentation
  README.md
  docs/source/index.rst
  docs/source/specification/roadmap.md
Labels: documentation, development-process

#1138 Multiple files per partitions for CSV Avro Json
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/src/datasource/file_format/avro.rs
  datafusion/src/datasource/file_format/csv.rs
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/physical_plan/file_format/avro.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/file_stream.rs
  datafusion/src/physical_plan/file_format/json.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/test/mod.rs
Labels: ballista, datafusion

#1158 Improve error messages when operations are not supported
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/expressions/binary.rs
Labels: datafusion

#1006 Indexed field access for List
  datafusion/src/field_util.rs
  datafusion/src/lib.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/expressions/get_indexed_field.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
  datafusion/tests/sql.rs
Labels: enhancement, ballista, datafusion, sql

#1207 Fix typo on Python functions
  python/src/functions.rs
Labels: python
