Repository apache/datafusion, pull requests merged in 2021-06, with the labels that each got.

#469 Expose DataFrame::sort in the python bindings
  python/Cargo.toml
  python/src/dataframe.rs
  python/src/expression.rs
  python/src/functions.rs
  python/src/to_py.rs
  python/src/to_rust.rs
  python/tests/test_df.py
Labels: python

#477 simplify python function definitions
  python/README.md
  python/src/functions.rs
Labels: python

#484 use requirements.txt to formalize python deps
  .github/workflows/python_build.yml
  .github/workflows/python_test.yaml
  python/README.md
  python/requirements.in
  python/requirements.txt
Labels: python

#485 #215 resolve aliases for group by exprs
  datafusion/src/sql/planner.rs
Labels: datafusion

#500 Add support for boolean columns in pruning logic
  datafusion/src/physical_optimizer/pruning.rs
Labels: datafusion

#502 Update ballista.proto link in architecture doc
  ballista/docs/architecture.md
Labels: ballista

#519 110 support group by positions
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion

#501 Add `partition by` constructs in window functions and modify logical planning
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion

#541 ShuffleReaderExec now supports multiple locations per partition
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#538 Cleanup Repartition Exec code
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/repartition.rs
Labels: datafusion

#520 Implement window functions with `order_by` clause
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/expressions/nth_value.rs
  datafusion/src/physical_plan/expressions/row_number.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/physical_plan/windows.rs
  datafusion/src/scalar.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
  integration-tests/sqls/simple_window_ordered_aggregation.sql
  integration-tests/test_psql_parity.py
Labels: datafusion

#597 [TEST]Update Rust version to 1.53.0 for integration test
  dev/docker/ballista-base.dockerfile
Labels: ballista, development-process

#595 optimize window function's `find_ranges_in_range`
  datafusion/src/physical_plan/windows.rs
Labels: datafusion

#613 [fix] select * on empty table
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/projection_push_down.rs
Labels: datafusion

#571 Collapse sort into window expr and do sort within logical phase
  datafusion/src/logical_plan/expr.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion

#606 reuse alias map in aggregate logical planning and refactor position resolution
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion

#607 fix 592, support alias in window functions
  datafusion/src/sql/planner.rs
Labels: datafusion

#619 RFC: Do not prune out unnecessary columns with unqualified references
  datafusion/src/optimizer/projection_push_down.rs
Labels: datafusion

#568 Add some resiliency to lost executors
  ballista/rust/core/proto/ballista.proto
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/scheduler/src/api/handlers.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/state/etcd.rs
  ballista/rust/scheduler/src/state/mod.rs
  ballista/rust/scheduler/src/state/standalone.rs
Labels: ballista

#578 in ballista also check for UI prettier changes
  .github/workflows/dev.yml
  ballista/ui/scheduler/index.d.ts
  ballista/ui/scheduler/package.json
  ballista/ui/scheduler/react-table-config.d.ts
  ballista/ui/scheduler/src/App.tsx
  ballista/ui/scheduler/src/components/DataTable.tsx
  ballista/ui/scheduler/src/components/Footer.tsx
  ballista/ui/scheduler/src/components/Header.tsx
  ballista/ui/scheduler/src/components/NodesList.tsx
  ballista/ui/scheduler/src/components/QueriesList.tsx
  ballista/ui/scheduler/src/components/Summary.tsx
  ballista/ui/scheduler/yarn.lock
Labels: ballista

#543 Ballista: Implement map-side shuffle
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/execution_plans/query_stage.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  datafusion/src/physical_plan/mod.rs
Labels: ballista

#627 Fix build
  ballista/rust/core/src/execution_plans/query_stage.rs
Labels: ballista

#629 honor table name for csv/parquet scan in ballista plan serde
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  benchmarks/run.sh
  datafusion/src/logical_plan/builder.rs
Labels: ballista, datafusion

#625 Improve "field not found" error messages
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/sql/planner.rs
Labels: datafusion

#610 fix 593, reduce cloning by taking ownership in logical planner's `from` fn
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/eliminate_limit.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/hash_build_probe_order.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/custom_sources.rs
Labels: api change, ballista, datafusion

#622 fix 621, where unnamed window functions shall be differentiated by partition and order by clause
  datafusion/src/logical_plan/expr.rs
  datafusion/src/sql/planner.rs
Labels: datafusion

#635 Rename MergeExec to CoalescePartitionsExec
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/test_utils.rs
  datafusion/src/execution/context.rs
  datafusion/src/physical_optimizer/merge_exec.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/sort.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
Labels: ballista, datafusion

#615 use Into<String> as argument type wherever applicable
  datafusion/src/datasource/csv.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/nth_value.rs
  datafusion/src/physical_plan/expressions/row_number.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/udaf.rs
Labels: datafusion, needs rebase

#637 Remove hard-coded PartitionMode from Ballista serde
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/src/physical_plan/hash_join.rs
Labels: ballista, datafusion

#586 Add Keda autoscaling for ballista in k8s
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/build.rs
  ballista/rust/scheduler/proto/keda.proto
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/state/mod.rs
  docs/user-guide/src/distributed/kubernetes.md
Labels: ballista

#639 Remove unnecessary mutex
  ballista/rust/core/src/execution_plans/query_stage.rs
Labels: ballista

#631 implement rank and dense_rank function and refactor built-in window function evaluation
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/nth_value.rs
  datafusion/src/physical_plan/expressions/rank.rs
  datafusion/src/physical_plan/expressions/row_number.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/physical_plan/windows.rs
Labels: datafusion

#620 Optimize count(*) with table statistics
  datafusion/src/datasource/datasource.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/datasource/parquet.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/aggregate_statistics.rs
  datafusion/src/optimizer/mod.rs
Labels: datafusion

#633 Ballista: Rename QueryStageExec to ShuffleWriterExec
  ballista/rust/core/src/execution_plans/mod.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/scheduler/src/planner.rs
Labels: ballista

#641 Improve error message and comments
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/logical_plan/expr.rs
Labels: datafusion

#569 Use repartition in window functions to speed up
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/windows.rs
  datafusion/src/sql/utils.rs
Labels: datafusion
