Repository apache/datafusion, pull requests merged in 2021-04, with the labels that each got.

#5 [Ballista] Fix Ballista IT
  .dockerignore
  ballista/dev/build-rust-base.sh
  ballista/docker/README.md
  dev/build-rust-base.sh
  dev/build-rust.sh
  dev/docker/rust-base.dockerfile
  dev/docker/rust.dockerfile
  dev/integration-tests.sh
Labels: ballista

#20 Create starting point for combined user guide for DataFusion and Ballista
  ballista/docs/user-guide/.gitignore
  docs/user-guide/.gitignore
  docs/user-guide/README.md
  docs/user-guide/book.toml
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/distributed/client-python.md
  docs/user-guide/src/distributed/client-rust.md
  docs/user-guide/src/distributed/clients.md
  docs/user-guide/src/distributed/configuration.md
  docs/user-guide/src/distributed/deployment.md
  docs/user-guide/src/distributed/docker-compose.md
  docs/user-guide/src/distributed/introduction.md
  docs/user-guide/src/distributed/kubernetes.md
  docs/user-guide/src/distributed/standalone.md
  docs/user-guide/src/example-usage.md
  docs/user-guide/src/faq.md
  docs/user-guide/src/img/ballista-architecture.png
  docs/user-guide/src/introduction.md
  docs/user-guide/src/library.md
Labels: documentation

#11 [ARROW-12441] [DataFusion] Cross join implementation
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  benchmarks/src/bin/tpch.rs
  datafusion/README.md
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/constant_folding.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/hash_build_probe_order.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/memory.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql.rs
Labels: datafusion

#23 Combine Cargo workspaces
  Cargo.toml
  ballista/rust/Cargo.toml
  ballista/rust/benchmarks/tpch/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/client/src/context.rs
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/datasource.rs
  ballista/rust/core/src/error.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/scheduler/from_proto.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/planner.rs
  dev/docker/rust.dockerfile
Labels: ballista, datafusion

#35 support large-utf8 in groupby
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/group_scalar.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_join.rs
  datafusion/src/physical_plan/type_coercion.rs
Labels: enhancement

#48 Remove Ballista DataFrame
  ballista/rust/client/src/context.rs
  benchmarks/src/bin/tpch.rs
Labels: ballista

#42 Add option param for standalone mode
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/executor/src/main.rs
Labels: ballista

#75 Remove namespace from executors
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/executor/src/main.rs
Labels: ballista

#223 Use standard make_null_array for CASE
  datafusion/src/physical_plan/expressions/case.rs
Labels: datafusion
