Repository apache/datafusion, pull requests merged in 2022-01, with the labels that each got.

#1506 Fix ORDER BY on aggregate
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/tests/sql/order.rs
Labels: datafusion

#1518 remove python wrapper and redirect to the contrib repo
  .github/workflows/python_build.yml
  .github/workflows/python_test.yaml
  python/.cargo/config
  python/.dockerignore
  python/.gitignore
  python/CHANGELOG.md
  python/Cargo.lock
  python/Cargo.toml
  python/LICENSE.txt
  python/README.md
  python/datafusion/__init__.py
  python/datafusion/functions.py
  python/datafusion/tests/__init__.py
  python/datafusion/tests/generic.py
  python/datafusion/tests/test_aggregation.py
  python/datafusion/tests/test_catalog.py
  python/datafusion/tests/test_context.py
  python/datafusion/tests/test_dataframe.py
  python/datafusion/tests/test_functions.py
  python/datafusion/tests/test_imports.py
  python/datafusion/tests/test_sql.py
  python/datafusion/tests/test_udaf.py
  python/pyproject.toml
  python/requirements-37.txt
  python/requirements.in
  python/requirements.txt
  python/rust-toolchain
  python/src/catalog.rs
  python/src/context.rs
  python/src/dataframe.rs
  python/src/errors.rs
  python/src/expression.rs
  python/src/functions.rs
  python/src/lib.rs
  python/src/udaf.rs
  python/src/udf.rs
  python/src/utils.rs
Labels: python

#1519 Fix single_distinct_to_groupby for arbitrary expressions
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/tests/sql/aggregates.rs
Labels: datafusion

#1524 Remove one copy of ballista datatype serialization code
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
Labels: ballista

#1401 Fix bugs with nullability during rewrites: Combine `simplify` and `Simplifier`
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion

#1528 Correct typos in README
  README.md
Labels: documentation

#1525 Add stddev operator
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/stats.rs
  datafusion/src/physical_plan/expressions/stddev.rs
  datafusion/src/physical_plan/expressions/variance.rs
  datafusion/src/scalar.rs
  datafusion/tests/sql/aggregates.rs
Labels: enhancement, ballista, datafusion

#1543 Update docs to note support for VARIANCE and STDDEV
  README.md
Labels: documentation

#1542 Clarify docs about `Accumulator::update` and `Accumulator::update_batch`
  datafusion/src/physical_plan/mod.rs
Labels: documentation, datafusion

#1534 Mark ARRAY_AGG(DISTINCT ...) not implemented
  datafusion/src/physical_plan/aggregates.rs
Labels: datafusion

#1547 Add batch operations to stddev
  datafusion/src/physical_plan/expressions/stddev.rs
  datafusion/src/physical_plan/expressions/variance.rs
Labels: datafusion

#1553 Address clippy warnings
  datafusion/src/catalog/catalog.rs
  datafusion/src/catalog/mod.rs
  datafusion/src/catalog/schema.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/options.rs
  datafusion/src/lib.rs
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/eliminate_limit.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/limit_push_down.rs
  datafusion/src/optimizer/mod.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/src/physical_optimizer/aggregate_statistics.rs
  datafusion/src/physical_optimizer/coalesce_batches.rs
  datafusion/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/src/physical_optimizer/merge_exec.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/expressions/case.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/test/exec.rs
  datafusion/src/test/variable.rs
Labels: datafusion

#1523 Update to arrow-7.0.0
  ballista-examples/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/avro_to_arrow/schema.rs
  datafusion/src/lib.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/sort_preserving_merge.rs
  datafusion/src/test_util.rs
  datafusion/tests/parquet_pruning.rs
  datafusion/tests/sql/explain_analyze.rs
  datafusion/tests/sql/select.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion

#1550 Remove unused `update` and `merge` implementations from Aggregates and supporting `ScalarValue` arithmetic
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/expressions/variance.rs
  datafusion/src/scalar.rs
Labels: datafusion

#1537 Make call SchedulerServer::new once in ballista-scheduler process
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
Labels: ballista

#1551 Add covar operators
  README.md
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/expressions/covariance.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/stddev.rs
  datafusion/src/physical_plan/expressions/variance.rs
  datafusion/tests/sql/aggregates.rs
Labels: documentation, ballista, datafusion

#1557 Update to rust 1.58
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/executor/src/executor.rs
  ballista/rust/scheduler/src/planner.rs
  benchmarks/Cargo.toml
  benchmarks/src/bin/tpch.rs
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/physical_plan/expressions/rank.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/scalar.rs
  datafusion/src/test/variable.rs
  dev/docker/ballista-base.dockerfile
Labels: ballista, datafusion

#1442 support cast/try_cast for decimal: signed numeric to decimal
  datafusion/src/physical_plan/expressions/cast.rs
  datafusion/src/physical_plan/expressions/try_cast.rs
Labels: ballista, datafusion

#1483 support comparison for decimal data type and refactor the binary coercion rule
  ballista/rust/core/Cargo.toml
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/coercion_rule/mod.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/coercion.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/nullif.rs
  datafusion/src/scalar.rs
Labels: ballista, datafusion

#1575 Rename sql integration tests from `mod` to `sql_integration`
  datafusion/tests/sql_integration.rs
Labels: datafusion

#1581 update reference to python and update readme
  Cargo.toml
  README.md
Labels: documentation

#1465 Tests for support try_cast/cast decimal to numeric
  datafusion/src/physical_plan/expressions/cast.rs
  datafusion/src/physical_plan/expressions/try_cast.rs
Labels: datafusion

#1580 implement Hash for various types and replace PartialOrd
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/operators.rs
  datafusion/src/logical_plan/window_frames.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/udaf.rs
  datafusion/src/physical_plan/udf.rs
  datafusion/src/physical_plan/window_functions.rs
Labels: datafusion, api change

#1588 add from_slice trait to ease arrow2 migration
  datafusion-cli/src/print_format.rs
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/benches/data_utils/mod.rs
  datafusion/benches/filter_query_sql.rs
  datafusion/benches/math_query_sql.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/execution/context.rs
  datafusion/src/from_slice.rs
  datafusion/src/lib.rs
  datafusion/src/physical_plan/coalesce_batches.rs
  datafusion/src/physical_plan/common.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/expressions/array_agg.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/correlation.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/covariance.rs
  datafusion/src/physical_plan/expressions/lead_lag.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/nth_value.rs
  datafusion/src/physical_plan/expressions/nullif.rs
  datafusion/src/physical_plan/expressions/stddev.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/expressions/variance.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/memory.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/src/scalar.rs
  datafusion/src/test/mod.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/dataframe.rs
  datafusion/tests/dataframe_functions.rs
  datafusion/tests/sql/joins.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/select.rs
  datafusion/tests/sql/timestamp.rs
Labels: datafusion

#1562 Consolidate `batch_size` configuration in `ExecutionConfig`, `RuntimeConfig` and `PhysicalPlanConfig`
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  benchmarks/src/bin/tpch.rs
  datafusion/benches/physical_plan.rs
  datafusion/benches/sort_limit_query_sql.rs
  datafusion/src/datasource/datasource.rs
  datafusion/src/datasource/empty.rs
  datafusion/src/datasource/file_format/avro.rs
  datafusion/src/datasource/file_format/csv.rs
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/datasource/file_format/mod.rs
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/datasource/listing/table.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/physical_optimizer/coalesce_batches.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/coalesce_partitions.rs
  datafusion/src/physical_plan/file_format/avro.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/json.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/sorts/external_sort.rs
  datafusion/src/physical_plan/sorts/sort.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/windows/mod.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/provider_filter_pushdown.rs
  datafusion/tests/sql/avro.rs
  datafusion/tests/sql/explain_analyze.rs
  datafusion/tests/statistics.rs
  datafusion/tests/user_defined_plan.rs
Labels: ballista, datafusion

#1589 support from_slice for binary, string, and boolean array types
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion/src/execution/context.rs
  datafusion/src/from_slice.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/expressions/cast.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/is_not_null.rs
  datafusion/src/physical_plan/expressions/is_null.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/row_number.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/regex_expressions.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/scalar.rs
  datafusion/src/test/mod.rs
  datafusion/tests/dataframe.rs
  datafusion/tests/dataframe_functions.rs
  datafusion/tests/sql/functions.rs
  datafusion/tests/sql/joins.rs
Labels: datafusion

#1582 remove update and merge from accumulator
  README.md
  datafusion-examples/examples/simple_udaf.rs
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/physical_plan/distinct_expressions.rs
  datafusion/src/physical_plan/expressions/approx_distinct.rs
  datafusion/src/physical_plan/expressions/array_agg.rs
  datafusion/src/physical_plan/expressions/average.rs
  datafusion/src/physical_plan/expressions/correlation.rs
  datafusion/src/physical_plan/expressions/count.rs
  datafusion/src/physical_plan/expressions/covariance.rs
  datafusion/src/physical_plan/expressions/min_max.rs
  datafusion/src/physical_plan/expressions/stddev.rs
  datafusion/src/physical_plan/expressions/sum.rs
  datafusion/src/physical_plan/expressions/variance.rs
  datafusion/src/physical_plan/mod.rs
Labels: documentation, datafusion

#1554 support mathematics operation for decimal data type
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/expressions/binary.rs
Labels: ballista, datafusion

#1603 add test for decimal to decimal
  datafusion/src/physical_plan/expressions/cast.rs
  datafusion/src/physical_plan/expressions/try_cast.rs
Labels: datafusion

#1601 fix: casting Int64 to Float64 unsuccessfully caused tpch8 to fail
  datafusion/src/physical_plan/expressions/case.rs
Labels: bug, datafusion

#1593 Add support show tables and show columns for ballista
  ballista/rust/client/Cargo.toml
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/utils.rs
Labels: ballista

#1606 Fix comparison of dictionary arrays
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/expressions/coercion.rs
  datafusion/tests/sql/select.rs
Labels: datafusion

#1541 Replace Datafusion Error with Generic Error for Object store
  datafusion/src/datasource/object_store/local.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/error.rs
  datafusion/src/execution/context.rs
Labels: datafusion, api change

#1607 consolidate binary_expr coercion rule code into `binary_rule.rs` module
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/expressions/coercion.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/expressions/negative.rs
Labels: datafusion

#1579 Implement ARRAY_AGG(DISTINCT ...)
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/expressions/distinct_expressions.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/tests/sql/aggregates.rs
Labels: datafusion

#1616 Add roadmap to readme
  README.md
Labels: documentation

#1566 fix: sql planner creates cross join instead of inner join from select predicates
  datafusion/src/sql/planner.rs
Labels: datafusion, sql, performance

#1615 feat: Support complex interval via IntervalMonthDayNano
  datafusion/src/scalar.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql/expr.rs
Labels: datafusion, sql

#1595 Fix null comparison for Parquet pruning predicate
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: enhancement, datafusion, performance

#1625 fix dependabot
  .github/dependabot.yml
Labels: development-process

#1624 Optimize `SortPreservingMergeStream` to avoid `SortKeyCursor` sharing
  datafusion/src/physical_plan/sorts/mod.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: datafusion

#1641 Add `spill_count` and `spilled_bytes` to `BaselineMetrics`, test sort with spill
  datafusion/src/physical_plan/metrics/baseline.rs
  datafusion/src/physical_plan/metrics/builder.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: datafusion

#1643 Add `DataFusionError` -> `ArrowError` conversion
  datafusion/src/error.rs
Labels: datafusion

#1647 update md-5, sha2, blake2
  datafusion/Cargo.toml
  datafusion/src/physical_plan/crypto_expressions.rs
Labels: datafusion

#1560 Introduce push-based task scheduling for Ballista
  ballista/rust/core/Cargo.toml
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/executor/src/executor_server.rs
  ballista/rust/executor/src/lib.rs
  ballista/rust/executor/src/main.rs
  ballista/rust/executor/src/standalone.rs
  ballista/rust/scheduler/scheduler_config_spec.toml
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#1639 fix a cte block with same name for many times
  datafusion/src/sql/planner.rs
Labels: bug, datafusion, sql

#1622 Handle merging of evolved schemas in ParquetExec
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1650 refine match pattern related code
  datafusion/src/logical_plan/expr.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
Labels: datafusion

#1638 Consolidate Schema and RecordBatch projection
  ballista/rust/core/src/memory_stream.rs
  datafusion/src/datasource/empty.rs
  datafusion/src/datasource/listing/table.rs
  datafusion/src/datasource/memory.rs
  datafusion/src/physical_plan/memory.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/statistics.rs
Labels: ballista, datafusion

#1645 Remove non idiomatic `DataFusionError::into_arrow_external_error` in favor of From conversion
  datafusion/src/error.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/projection.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/physical_plan/sorts/sort.rs
  datafusion/src/physical_plan/windows/window_agg_exec.rs
Labels: datafusion, api change

#1663 [Cleanup] Move `AggregatedMetricsSet` to `metrics` for further reuse
  datafusion/src/physical_plan/metrics/aggregated.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: datafusion

#1664 Make `MemoryManager` and `MemoryStream` public
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/core/src/memory_stream.rs
  ballista/rust/core/src/utils.rs
  datafusion/src/execution/mod.rs
  datafusion/src/physical_plan/memory.rs
Labels: ballista, datafusion

#1621 feat: Support Substring(str [from int] [for int])
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/unicode_expressions.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql/expr.rs
Labels: datafusion, sql

#1655 [Ballista] Fix scheduler state mod bug
  ballista/rust/client/src/context.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: bug, ballista

#1618 Fix predicate pushdown for outer joins
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/tests/sql/joins.rs
  datafusion/tests/sql/mod.rs
Labels: datafusion, performance

#1667 feat: Support quarter granularity in date_trunc function
  datafusion/src/physical_plan/datetime_expressions.rs
Labels: datafusion

#1673 Update to arrow 8.0.0
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion, api change

#1659 [Ballista] Add Decimal128, Date64, TimestampSecond, TimestampMillisecond, Interv…
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
Labels: enhancement, ballista

#1672 upgrade clap to version 3
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/config.rs
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/lib.rs
  datafusion-cli/Cargo.toml
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
Labels: ballista, datafusion

#1668 Improve configuration and resource use of `MemoryManager` and `DiskManager`
  ballista/rust/executor/src/executor.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/disk_manager.rs
  datafusion/src/execution/memory_manager.rs
  datafusion/src/execution/mod.rs
  datafusion/src/execution/runtime_env.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: ballista, datafusion, api change

#1680 Use NamedTempFile rather than `String` in DiskManager
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  datafusion/src/execution/disk_manager.rs
  datafusion/src/physical_plan/common.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: ballista, datafusion, api change

#1683 docs: Add link to VegaFusion as a project that uses DataFusion
  README.md
Labels: documentation

#1682 Add a new metric type: `Gauge` + `CurrentMemoryUsage` to metrics
  datafusion/src/physical_plan/metrics/aggregated.rs
  datafusion/src/physical_plan/metrics/baseline.rs
  datafusion/src/physical_plan/metrics/builder.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: datafusion

#1552 enhance arithmetic operation for array with scalar
  datafusion/src/physical_plan/expressions/binary.rs
Labels: datafusion

#1681 refactor array_agg to not to have `update` and `merge`
  datafusion/src/physical_plan/expressions/array_agg.rs
Labels: datafusion

#1678 Fix bug while merging `RecordBatch`, add `SortPreservingMerge` fuzz tester
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/tests/merge_fuzz.rs
Labels: bug, datafusion

#1687 Make `SortPreservingMergeStream` stable on input stream order
  datafusion/src/physical_plan/sorts/mod.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: datafusion

#1674 feat: add join type for logical plan display
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql/explain_analyze.rs
Labels: datafusion, sql

#1689 (minor) Reduce memory manager and disk manager logs from `info!` to `debug!`
  datafusion/src/execution/disk_manager.rs
  datafusion/src/execution/memory_manager.rs
  datafusion/src/physical_plan/sorts/sort.rs
Labels: datafusion

#1684 Move `information_schema` tests out of execution/context.rs to `sql_integration` tests
  datafusion/src/execution/context.rs
  datafusion/tests/sql/information_schema.rs
  datafusion/tests/sql/mod.rs
Labels: datafusion

#1696 Move timestamp related tests out of context.rs and into sql integration test
  datafusion/src/execution/context.rs
  datafusion/src/test/mod.rs
  datafusion/tests/sql/aggregates.rs
  datafusion/tests/sql/joins.rs
  datafusion/tests/sql/mod.rs
Labels: datafusion

#1691 Add `MemTrackingMetrics` to ease memory tracking for non-limited memory consumers
  datafusion/src/execution/memory_manager.rs
  datafusion/src/execution/runtime_env.rs
  datafusion/src/physical_plan/common.rs
  datafusion/src/physical_plan/explain.rs
  datafusion/src/physical_plan/metrics/aggregated.rs
  datafusion/src/physical_plan/metrics/baseline.rs
  datafusion/src/physical_plan/metrics/composite.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/tracker.rs
  datafusion/src/physical_plan/sorts/mod.rs
  datafusion/src/physical_plan/sorts/sort.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/tests/provider_filter_pushdown.rs
Labels: datafusion

#1699 Implement TableProvider for DataFrameImpl
  datafusion/src/execution/dataframe_impl.rs
Labels: datafusion

#1707 refine test in repartition.rs & coalesce_batches.rs
  datafusion/src/physical_plan/coalesce_batches.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/repartition.rs
  datafusion/src/test/mod.rs
Labels: datafusion

#1706 Fuzz test for spillable sort
  datafusion/Cargo.toml
  datafusion/fuzz-utils/Cargo.toml
  datafusion/fuzz-utils/src/lib.rs
  datafusion/src/execution/memory_manager.rs
  datafusion/src/execution/mod.rs
  datafusion/src/physical_plan/sorts/sort.rs
  datafusion/tests/merge_fuzz.rs
  datafusion/tests/order_spill_fuzz.rs
Labels: datafusion

#1695 Lazy TempDir creation in DiskManager
  datafusion/src/execution/disk_manager.rs
Labels: datafusion

#1685 Incorporate dyn scalar kernels
  datafusion/src/physical_plan/expressions/binary.rs
Labels: datafusion

#1714 make `select_to_plan` clearer
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1700 Support `create_physical_expr` and `ExecutionContextState` or `DefaultPhysicalPlanner` for faster speed
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/planner.rs
Labels: ballista, datafusion

#1665 Fix can not load parquet table form spark in datafusion-cli.
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/src/datasource/file_format/avro.rs
  datafusion/src/datasource/file_format/csv.rs
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/datasource/listing/table.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/options.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1713 Add upper bound for public function `signature`
  datafusion/src/physical_plan/aggregates.rs
Labels: datafusion, api change

#1709 Create SchemaAdapter trait to map table schema to file schemas
  datafusion/src/physical_plan/file_format/avro.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/json.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/test_util.rs
Labels: datafusion

#1539 approx_quantile() aggregation function
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/expressions/approx_percentile_cont.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/tdigest/mod.rs
  datafusion/src/prelude.rs
  datafusion/tests/dataframe_functions.rs
  datafusion/tests/sql/aggregates.rs
Labels: enhancement, ballista, datafusion

#1653 suppport bitwise and as an example
  datafusion/src/logical_plan/operators.rs
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1660 fix: substr - correct behaivour with negative start pos
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/unicode_expressions.rs
Labels: datafusion
