Repository apache/datafusion, pull requests merged in 2022-06, with the labels that each got.

#2669 MINOR: Move more expression code to `datafusion-expr` crate
  datafusion/core/src/logical_plan/expr.rs
  datafusion/expr/src/expr_fn.rs
Labels: datafusion, logical-expr, core

#2666 Remove `ExecutionProps` dependency from `OptimizerRule`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/eliminate_filter.rs
  datafusion/core/src/optimizer/eliminate_limit.rs
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/core/src/optimizer/optimizer.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/simplify_expressions.rs
  datafusion/core/src/optimizer/single_distinct_to_groupby.rs
  datafusion/core/src/optimizer/subquery_filter_to_join.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: datafusion, api change, optimizer, core

#2608 chore: try fix CI coverage
  .github/workflows/rust.yml
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
Labels: datafusion, physical-expr, core

#2638 Fix limit + offset pushdown
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/sql/src/planner.rs
Labels: datafusion, sql, optimizer, core

#2678 Update to actions/cache@v3 and actions/setup-python@v3
  .github/workflows/comment_bot.yml
  .github/workflows/dev.yml
  .github/workflows/rust.yml
Labels: development-process

#2671 If statistics of column Max/Min value does not exists in parquet file, sent Min/Max to None
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/tests/sql/parquet.rs
Labels: datafusion, core

#2681 MINOR: Remove uses of TryClone for Parquet
  datafusion/core/benches/parquet_query_sql.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/parquet.rs
Labels: datafusion, core

#2647 pushdown support for predicates in `ON` clause of joins
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: datafusion, sql, logical-expr, optimizer, core

#2674 Fix `AggregateStatistics` optimization so it doesn't change output type
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: datafusion, sql, logical-expr, core

#2685 MINOR: Update release notes and scripts
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/release/create-tarball.sh
  dev/update_datafusion_versions.py
Labels: development-process

#2687 MINOR: remove `datafusion` and `python` labeler rules
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#2196 Support GetIndexedFieldExpr for ScalarValue
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/field_util.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: datafusion, logical-expr, physical-expr, core

#2693 MINOR: Add datafusion-sql example
  .github/workflows/rust.yml
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/README.md
  datafusion/sql/examples/sql.rs
Labels: sql, logical-expr

#2690 Show column names instead of indices in query plans
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: logical-expr, core

#2686 MINOR: Move `simplify_expression` rule to `datafusion-optimizer` crate
  .github/workflows/dev_pr/labeler.yml
  datafusion/core/src/lib.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/optimizer/mod.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/expr_simplifier.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/simplify_expressions.rs
Labels: api change, physical-expr, optimizer, core

#2700 Move some tests from core to expr
  datafusion/core/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#2701 Move remaining code out of legacy `core/logical_plan` module
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/mod.rs
  datafusion/core/src/execution/registry.rs
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/logical_plan/window_frames.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#2705 Update sqlparser-rs to 0.18.0
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#2707 support indexed fields proto
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: physical-expr

#2708 Test optional features in CI
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/core/benches/parquet_query_sql.rs
  datafusion/core/src/scheduler/mod.rs
Labels: core

#2710 MINOR: Fix docs build
  docs/README.md
  docs/requirements.txt
Labels: documentation, development-process

#2694 Combine limit and offset to `fetch` and `skip` and implement physical plan support
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/limit.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#2702 Make sure that the data types are supported in hashjoin before genera…
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#2714 Prepare 9.0.0 release
  CHANGELOG.md
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/data-access/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  dev/release/update_change_log.sh
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core

#2717 Fix clippy warnings with toolchain 1.63
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/data-access/src/lib.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/table_source.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#2688 fix: union schema fix
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#2722 Add public API for GlobalLimitExec and LocalLimitExec
  datafusion/core/src/physical_plan/limit.rs
Labels: core

#2726 [Minor] add debug info in optimizer.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#2716 Support for GROUPING SETS/CUBE/ROLLUP
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, optimizer, core

#2715 fix: check redundant fields while building projection plan
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#2727 MINOR: Fix release order
  dev/release/README.md
Labels: development-process

#2699 Sort preserving `SortMergeJoin`
  datafusion/core/src/physical_plan/sort_merge_join.rs
Labels: core

#2734 MINOR: Remove Offset struct
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: api change, logical-expr, core

#2729 fix: filter push down with `InList` expressions
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#2737 fix(script): fix tpch data script
  benchmarks/tpch-gen.sh
  dev/build-set-env.sh
Labels: bug, development-process

#2745 MINOR: Improve unsupported data type error message
  datafusion/core/src/physical_plan/hash_join.rs
Labels: core

#2747 CSE unit test for duplicate fields
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#2746 Support dates in hash join
  datafusion/core/src/physical_plan/hash_join.rs
Labels: enhancement, core

#2740 Add optimizer rule to filter out null keys before a join
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/lib.rs
Labels: optimizer, core

#2741 improve: supports user-defined `scale_factor` for dbgen
  benchmarks/README.md
  benchmarks/entrypoint.sh
  benchmarks/run.sh
  benchmarks/tpch-gen.sh
  benchmarks/tpchgen.dockerfile
Labels: enhancement, development-process

#2713 feat: async extension planner
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/src/lib.rs
Labels: api change, logical-expr, optimizer, core

#2721 Add additional data types are supported in hash join
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#2765 Rewrite subexpressions of InSubquery in rewrite_expression
  datafusion/expr/src/expr_visitor.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#2767 minor: panic rather than fail silently on bad dictionary in hash join
  datafusion/core/src/physical_plan/hash_join.rs
Labels: core

#2772 Remove expr_sub_expressions and rewrite_expression functions
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#2779 MINOR: re-export sqlparser from datafusion-sql crate
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/lib.rs
Labels: sql

#2781 Simplify FilterNullJoinKeys rule
  datafusion/optimizer/src/filter_null_join_keys.rs
Labels: optimizer

#2777 Automated generation of configs.md
  datafusion/core/src/bin/print_config_docs.rs
  dev/update_config_docs.sh
  docs/source/user-guide/configs.md
Labels: development-process, core

#2764 Support `DataType::Decimal` for `IN` and `NOT IN` expressions
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr

#2771 Convert batch_size to config option
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  docs/source/user-guide/configs.md
Labels: documentation, api change, core

#2794 Use coerced type in inlist expr planning
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr, core

#2801 Don't treat Null as UTF8(None) and change error info.
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#2789 Improve readability of table scan projections in query plans (remove `Some` and `None`)
  datafusion/core/src/datasource/view.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/sql/README.md
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#2804 fix schema nullability for `information_schema` schema
  datafusion/core/src/catalog/information_schema.rs
Labels: core

#2802 Correct schema nullability declaration in tests
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr, core

#2803 fix: correctly calculate join output schema nullability
  datafusion/core/src/physical_plan/join_utils.rs
Labels: core

#2792 Add LogicalPlan::Distinct
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#2810 Fix data type calculation for `CaseExpr` s with `NULLs`
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr, core

#2808 Use specialized dictionary kernels (#1178)
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: logical-expr, physical-expr

#2814 Fix nullability calculation for `CASE` expressions
  datafusion/expr/src/expr_schema.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: logical-expr, physical-expr
