Repository apache/datafusion, pull requests merged in 2022-04, with the labels that each got.

#2128 MINOR: fix concat_ws corner bug
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/string_expressions.rs
Labels: datafusion

#2108 fix df union all bug
  datafusion/common/src/dfschema.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion, sql

#2099 feat: 2061 create external table ddl table partition cols
  ballista-examples/src/bin/ballista-dataframe.rs
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  benchmarks/src/bin/nyctaxi.rs
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/dataframe.rs
  datafusion-examples/examples/flight_server.rs
  datafusion-examples/examples/parquet_sql.rs
  datafusion/core/benches/parquet_query_sql.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/prelude.rs
  datafusion/core/src/sql/parser.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  docs/source/user-guide/sql/ddl.md
Labels: ballista, datafusion, api change, sql

#2112 cli: add cargo.lock
  .github/workflows/rust.yml
  .gitignore
  Cargo.toml
  datafusion-cli/Cargo.lock
  integration-tests/test_psql_parity.py
Labels: datafusion

#2000 Fixed parquet path partitioning when only selecting partitioned columns
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/path_partition.rs
Labels: bug, datafusion

#2139 #2109 schema infer max
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/execution/options.rs
Labels: datafusion

#2135 fix: incorrect memory usage track for sort
  datafusion/core/src/execution/memory_manager.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/order_spill_fuzz.rs
Labels: datafusion

#2132 Reduce SortExec memory usage by void constructing single huge batch
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: datafusion

#2159 #2109 schema infer max
  datafusion/fuzz-utils/src/lib.rs
  datafusion/src/datasource/file_format/csv.rs
  datafusion/src/datasource/file_format/json.rs
  datafusion/src/datasource/file_format/mod.rs
  datafusion/src/execution/options.rs
  datafusion/tests/sql/mod.rs
Labels: datafusion

#2143 Add IF NOT EXISTS to `CREATE TABLE` and `CREATE EXTERNAL TABLE`
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/sql/parser.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/create_drop.rs
Labels: ballista, datafusion

#2107 Reduce repetition in Decimal binary kernels, upgrade to arrow 11.1
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
Labels: ballista, datafusion

#2094 Add CREATE DATABASE command to SQL
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/sql/planner.rs
Labels: ballista, datafusion, sql

#1969 Add Coalesce function
  ballista/rust/core/proto/datafusion.proto
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/physical_plan/functions.rs
  datafusion/core/src/prelude.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: enhancement, ballista, datafusion, api change

#2162 Add delimiter for create external table
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/sql/parser.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/aggregate_simple_pipe.csv
  datafusion/core/tests/sql/create_drop.rs
Labels: ballista, datafusion

#2167 [MINOR] ignore suspicious slow test in Ballista
  ballista/rust/executor/src/cpu_bound_executor.rs
Labels: ballista

#2130 Serialize scalar UDFs in physical plan
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor_server.rs
Labels: ballista

#2137 [CLI] Add show tables for datafusion-cli
  datafusion-cli/src/context.rs
Labels: datafusion

#2166 7.x: fix clippy
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/regex_expressions.rs
  datafusion/src/physical_plan/union.rs
  datafusion/src/physical_plan/values.rs
  datafusion/tests/merge_fuzz.rs
  datafusion/tests/order_spill_fuzz.rs
Labels: ballista, datafusion

#2171 minor: Avoid per cell evaluation in Coalesce, use zip in CaseWhen
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: datafusion

#2163 enable explain for ballista
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/proto/datafusion.proto
  ballista/rust/core/src/serde/physical_plan/mod.rs
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: ballista, datafusion

#2168 Implement fast path of with_new_children() in ExecutionPlan
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/executor/src/collect.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/scheduler_server/query_stage_scheduler.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/merge_exec.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/cross_join.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/hash_aggregate.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/statistics.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: ballista, datafusion

#2142 implement 'StringConcat' operator to support sql like "select 'aa' || 'b' "
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/coercion_rule/binary_rule.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion

#2170 Handle merged schemas in parquet pruning
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/row/mod.rs
Labels: datafusion

#2131 [Ballista] Add ballista plugin manager and UDF plugin
  ballista/rust/core/Cargo.toml
  ballista/rust/core/build.rs
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/core/src/plugin/mod.rs
  ballista/rust/core/src/plugin/plugin_manager.rs
  ballista/rust/core/src/plugin/udf.rs
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/scheduler/scheduler_config_spec.toml
Labels: ballista

#2178 cli: update lockfile
  datafusion-cli/Cargo.lock
Labels: datafusion

#2156 Optimize the evaluation of `IN` for large lists using InSet
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: datafusion

#2182 fix: Sort with a lot of repetition values
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/parquet/repeat_much.snappy.parquet
  datafusion/core/tests/sql/order.rs
Labels: datafusion

#2144 fix `not(null)` with constant `null`
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/expressions/not.rs
Labels: datafusion

#2184 [Ballista]Make PhysicalAggregateExprNode has repeated PhysicalExprNode
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/physical-expr/src/expressions/approx_percentile_cont.rs
Labels: ballista, datafusion

#2190 refactor: simplify `prepare_select_exprs`
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2191 Minor: Fix clippy on 7.x branch
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/logical_plan/extension.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/physical_plan/tdigest/mod.rs
Labels: ballista, datafusion

#2187 Prepare for 7.x release: Update version to 7.1.0, add ChangeLog
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/Cargo.toml
  dev/release/README.md
  dev/release/update_change_log-all.sh
  dev/release/update_change_log-ballista.sh
  dev/release/update_change_log-datafusion.sh
Labels: ballista, datafusion

#2186 make nightly clippy happy
  ballista/rust/scheduler/src/state/persistent_state.rs
  datafusion/physical-expr/src/expressions/lead_lag.rs
Labels: ballista, datafusion

#2189 Multiple row-layout support, part-1: Restructure code for clearness
  datafusion/core/src/row/jit/mod.rs
  datafusion/core/src/row/jit/reader.rs
  datafusion/core/src/row/jit/writer.rs
  datafusion/core/src/row/layout.rs
  datafusion/core/src/row/mod.rs
  datafusion/core/src/row/reader.rs
  datafusion/core/src/row/validity.rs
  datafusion/core/src/row/writer.rs
Labels: datafusion

#2183 MINOR: handle `NULL` in advance to avoid value copy in `string_concat`
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion

#2203 Remove tokio::spawn from WindowAggExec (#2201)
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
Labels: datafusion

#2172 Add LogicalPlan::SubqueryAlias
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/sql/planner.rs
Labels: ballista, datafusion

#2218 Use `filter` (filter_record_batch) instead of `take` to avoid using indices
  datafusion/physical-expr/src/physical_expr.rs
Labels: datafusion

#2194 feat: Support simple Arrays with Literals
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/expr.rs
Labels: datafusion

#2197 `case when` supports `NULL` constant
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: datafusion

#2217 Add single line description of ExecutionPlan (#2216)
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/mod.rs
Labels: datafusion

#2215 Remove tokio::spawn from HashAggregateExec (#2201)
  datafusion/core/src/physical_plan/hash_aggregate.rs
Labels: datafusion

#2222 minor: Refactor to avoid repeated code in replace_qualifier
  datafusion/common/src/dfschema.rs
Labels: datafusion

#1990 Make it possible to only scan part of a parquet file in a partition
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: ballista, datafusion

#2220 update cli readme
  datafusion-cli/README.md
  docs/source/user-guide/cli.md
Labels: datafusion

#2200 add sql level test for decimal data type
  datafusion/core/src/physical_plan/aggregate_rule.rs
  datafusion/core/tests/decimal_data.csv
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
Labels: datafusion

#2231 chore: add `debug!` log in some execution operators
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
Labels: datafusion

#2235 Add type coercion rule for date + interval
  datafusion/core/src/sql/planner.rs
  datafusion/physical-expr/src/coercion_rule/binary_rule.rs
Labels: datafusion

#2234 Add ExecutorMetricsCollector interface
  ballista/rust/executor/src/executor.rs
  ballista/rust/executor/src/lib.rs
  ballista/rust/executor/src/main.rs
  ballista/rust/executor/src/metrics/mod.rs
  ballista/rust/executor/src/standalone.rs
Labels: ballista

#2243 Move identifer case tests to `sql_integ`, add negative cases, Debug for `DataFrame`
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/mod.rs
Labels: datafusion

#2240 Fix join without constraints
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/joins.rs
Labels: datafusion

#2241 fix: find the right wider decimal datatype for comparison operation
  datafusion/physical-expr/src/coercion_rule/binary_rule.rs
Labels: datafusion

#2250 minor: move field_util from `physical-expr` crate to `expr` crate
  datafusion/core/src/logical_plan/expr_schema.rs
  datafusion/expr/src/field_util.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/lib.rs
Labels: datafusion

#2258 fix string coercion missing in Eq/NotEq operator
  datafusion/core/tests/sql/select.rs
  datafusion/physical-expr/src/coercion_rule/binary_rule.rs
Labels: datafusion

#2192 [Ballista] Enable ApproxPercentileWithWeight in Ballista and fill UT
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/datafusion.proto
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  datafusion/physical-expr/src/expressions/approx_percentile_cont_with_weight.rs
Labels: ballista, datafusion

#2264 Re-export DataFusion crates
  datafusion/core/src/lib.rs
Labels: datafusion

#2233 support array with scalar arithmetic operation for decimal data type
  datafusion/core/tests/sql/decimal.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion

#2287 Add BatchPartitioner (#2285)
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  datafusion/core/src/physical_plan/metrics/value.rs
  datafusion/core/src/physical_plan/repartition.rs
Labels: ballista, datafusion

#2290 Move FileType enum from sql module to logical_plan module
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/sql/parser.rs
  datafusion/core/src/sql/planner.rs
Labels: ballista, datafusion

#2284 Remove dependency from `LogicalPlan::TableScan` to `ExecutionPlan`
  ballista/rust/client/src/context.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/table_source.rs
Labels: ballista, datafusion, api change

#2298 Always increment timer on record
  datafusion/core/src/physical_plan/metrics/value.rs
Labels: datafusion

#2297 Remove unnecessary env var for parquet_sql example
  datafusion/core/src/lib.rs
Labels: datafusion

#2296 Simplify sort streams
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/sorts/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: datafusion

#2272 Fix outer join output with all-null indices on empty batch
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/tests/sql/joins.rs
Labels: datafusion

#2289 Remove Parquet Empty Projection Workaround
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#2304 chore: update cranelift to 0.83.0
  datafusion/common/Cargo.toml
  datafusion/jit/Cargo.toml
Labels: datafusion

#2273 Add bytes scanned metric to ParquetExec
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#2294 Move `LogicalPlan` enum to `datafusion-expr` crate
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/sql/parser.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: datafusion, api change

#2295 MINOR: beautify code with neat idents
  datafusion/common/src/scalar.rs
Labels: datafusion

#2312 Don't sort batches during plan
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/stream.rs
Labels: datafusion

#2311 Move case/when expressions to datafusion-expr crate
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/README.md
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
Labels: datafusion

#2310 Fix CrossJoinExec evaluating during plan
  datafusion/core/src/physical_plan/cross_join.rs
Labels: datafusion

#2313 minor: remove two source files that only had re-exports
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/dfschema.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/operators.rs
Labels: datafusion

#2242 Implement sort-merge join
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/tests/join_fuzz.rs
Labels: datafusion

#2282 Enable filter pushdown when using In_list on parquet
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet_pruning.rs
Labels: datafusion

#2322 Reference `datafusion-objectstore-azure` in README
  README.md
Labels: documentation

#2320 deprecate `index_of` and make `index_of_column_by_name` public
  datafusion/common/src/dfschema.rs
Labels: datafusion

#2329 move sql tests from `context.rs` to corresponding test files in `tests/sql`
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/limit.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/window.rs
Labels: datafusion

#2332 Support scalar values for func Array
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/physical-expr/src/array_expressions.rs
Labels: datafusion

#2333 Improve sql integration test organization
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/select.rs
Labels: datafusion

#2335 [physical-expr] move aggregate exprs and window exprs to their own modules
  datafusion/core/src/physical_plan/aggregate_rule.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_median.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/coercion_rule.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/distinct_expressions.rs
  datafusion/physical-expr/src/aggregate/hyperloglog.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/stats.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: datafusion

#2336 Support for date32 and date64 in sort merge join
  datafusion/core/src/physical_plan/sort_merge_join.rs
Labels: datafusion

#2339 Add `Expr::Exists` to represent EXISTS subquery expression
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/expr_rewriter.rs
  datafusion/core/src/logical_plan/expr_visitor.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/simplify_expressions.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/prelude.rs
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: ballista, datafusion, api change

#2317 Fix HashJoin evaluating during plan
  datafusion/core/src/physical_plan/cross_join.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/join_utils.rs
Labels: datafusion

#2342 Add `Expr::InSubquery` and `Expr::ScalarSubquery`
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/expr_rewriter.rs
  datafusion/core/src/logical_plan/expr_visitor.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/simplify_expressions.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/prelude.rs
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
Labels: datafusion, api change

#2341 Add public Serialization/Deserialization API for `Expr` to/from bytes
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/proto/src/lib.rs
Labels: datafusion

#2344 Add SQL planner support for EXISTS subqueries
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2359 Normalize subquery aliases
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/projection.rs
Labels: datafusion

#2352 Add SQL query planner support for IN subqueries
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2354 Add SQL query planner support for Scalar Subqueries
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2324 Implementing math power function for SQL
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/physical_plan/functions.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  dev/build-ballista-docker.sh
  dev/docker/ballista.dockerfile
Labels: enhancement, datafusion, development-process

#2262 rewrite approx_median to approx_percentile_cont while planning phase
  datafusion/core/src/execution/context.rs
  datafusion/core/src/optimizer/mod.rs
  datafusion/core/src/optimizer/to_approx_perc.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2362 minor: fix duplicate column bug in subquery support
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2371 Introduce new `DataFusionError::SchemaError` type
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion, api change

#2366 feat: Support casting to arrays to primitive type
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/expr.rs
Labels: datafusion

#2348 Add `Expr` to prelude
  datafusion/core/src/prelude.rs
  datafusion/core/tests/dataframe_functions.rs
Labels: datafusion

#2373 Fix bugs with CTE aliasing and normalize all identifiers in the SQL planner
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
Labels: datafusion

#2386 refactor `distinct_expressions.rs` and split into `count_distinct.rs` and `array_agg_distinct.rs`
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: datafusion
