Repository apache/datafusion, pull requests merged in 2022-09, with the labels that each got.

#3301 Finish integrating `Expr::Is[Not]True` and similar expressions
  datafusion/physical-expr/src/planner.rs
  datafusion/sql/src/planner.rs
Labels: sql, physical-expr

#3329 Fix build: Ignore failing test
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#3320 add explain sql test for optimizer rule PreCastLitInComparisonExpressions
  datafusion/core/tests/sql/explain_analyze.rs
Labels: core

#3336 Update signature for Expr.name so that schema is no longer required
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: api change, logical-expr, optimizer

#3298 Add top-level `Like`, `ILike`, `SimilarTo` expressions in logical plan
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#3337 Fix the test`timestamp_add_interval_months`
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#3124 impl binary ops between binary arrays and scalars
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: logical-expr, physical-expr, core

#3344 Add to_unoptimized_plan
  datafusion/core/src/dataframe.rs
Labels: core

#3342 Remove `unreachable!` from filter push down rule
  datafusion/optimizer/src/filter_push_down.rs
Labels: optimizer

#3343 Remove panics from simplify_expressions optimizer rule
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3345 Remove Result.unwrap from single_distinct_to_groupby
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: optimizer

#3346 Remove panics from `common_subexpr_eliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#3348 MINOR: add df.to_unoptimized_plan() to docs, remove erroneous comment
  datafusion/core/src/dataframe.rs
  docs/source/user-guide/dataframe.md
Labels: core

#3267 implement `drop view`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
  docs/source/user-guide/sql/ddl.md
Labels: sql, logical-expr, optimizer, core

#3338 Deprecate legacy datafusion::logical_plan module
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: api change, core

#3276 Return from task execution if send fails as there is nothing more to do
  datafusion/core/src/physical_plan/common.rs
Labels: core

#3282 Fix SchemaError in FilterPushDown optimization with UNION ALL
  datafusion/optimizer/src/filter_push_down.rs
Labels: optimizer

#3350 [MINOR] Add debug logging to plan teardown
  datafusion/core/src/physical_plan/common.rs
Labels: core

#3339 Re-implement ExprIdentifierVisitor::desc_expr to use Expr::Display
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer, core

#3324 Add `InList` support for binary type.
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#3356 Collect to `HashSet` directly in `in_list`
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#3351 MINOR: Add comments about rewrite_disjunctive_predicate
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
Labels: optimizer

#3331 Make binary operator formatting consistent between logical and physical plans
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#3361 return empty dataframe on create table, remove a duplicate optimize call
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/create_drop.rs
  docs/source/user-guide/sql/ddl.md
Labels: core

#3359 Add SQL support for `tinyint` , `smallint`, and `unsigned int variants`
  datafusion/core/tests/sql/cast.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sql/src/planner.rs
  docs/source/user-guide/sql/data_types.md
Labels: sql, core

#3274 Let prelude import all expression functions
  datafusion/core/src/prelude.rs
Labels: core

#3222 Add optimizer rule for type coercion (binary operations only)
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr, optimizer, core

#3370 minor fix: clean data type for negative operation
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/expressions/negative.rs
Labels: physical-expr

#3379 Minor: Improvements to type coercion rule
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, optimizer

#3363 Upgrade to arrow 22
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/custom_datasource.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/binary_rule.rs
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/pre_cast_lit_in_comparison.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/from_proto.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#3305 fix: alias group_by exprs in single_distinct_to_groupby optimizer
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: optimizer

#3384 Add dictionary cases to merge bench
  datafusion/core/benches/merge.rs
Labels: core

#3374 Use `usize` rather than `Option<usize>` to represent `Limit::skip`and `Limit::offset`
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
  docs/source/user-guide/dataframe.md
Labels: api change, sql, logical-expr, optimizer, core

#3381 Implement Eq trait for Expr and nested types
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
Labels: logical-expr

#3254 Add type coercion for UDFs in logical plan
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#3279 Add show external tables
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3389 minor: remove redundant code.
  datafusion/optimizer/src/eliminate_limit.rs
Labels: optimizer

#3341 Replace panic in `datafusion-expr` crate
  datafusion/expr/src/binary_rule.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#3403 MINOR: Improve optimizer error
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#3404 simplify the `between` expr during logical plan optimization
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/select.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer, core

#3101 Add SQL planner support for `Like`, `ILike` and `SimilarTo`, with optional escape character
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/lib.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, physical-expr

#3415 MINOR: update optimizer rule names to be consistent style as the rest
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#3397 Review panics in the sql crate
  datafusion/sql/src/planner.rs
Labels: sql

#3432 minor: make sql number parsing slightly more efficient + functional
  datafusion/sql/src/planner.rs
Labels: sql

#3347 Replace `unwrap` in `convert_to_ordered_float` and add `downcast_value`
  datafusion/common/src/lib.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
Labels: physical-expr

#3425 Tests showing user defined aggregate returning a struct
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql_integration.rs
  datafusion/core/tests/user_defined_aggregates.rs
Labels: core

#3440 MINOR: Add accessor methods to DateTimeIntervalExpr
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#3430 Implement bitwise XOR operator (`#`)
  datafusion/expr/src/binary_rule.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr

#3445 Use hash repartitioning for aggregates on dictionaries
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#3428 Pass `return_type` to `AccumulatorFunctionImplementation ` for user defined aggregates
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/function.rs
  datafusion/proto/src/lib.rs
Labels: api change, logical-expr, core

#3438 update TPCH-mimicking tests to Decimal data type from Float, matching the benchmark
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/subqueries.rs
Labels: core

#3443 Review `unwrap` and `panic` from the `aggregate` directory of `datafusion-physical-expr`
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/variance.rs
Labels: physical-expr

#3447 add `cast` support inside `values`
  datafusion/core/tests/sql/select.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3407 Fix some bugs in TypeCoercion rule
  datafusion/expr/src/binary_rule.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: bug, logical-expr, optimizer

#3453 minor: fix some typo.
  datafusion-examples/examples/memtable.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/test_util.rs
  datafusion/expr/src/expr_visitor.rs
Labels: logical-expr, core

#3422 support cast/try_cast in prune with signed integer and decimal
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr, core

#3439 Ensure the row count is preserved when coalescing over empty records
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#3405 Add logical plan support for aggregate expressions with filters (and upgrade to sqlparser 0.23)
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/udaf.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: api change, sql, logical-expr, optimizer, core

#3423 Prep for 12.0.0 Release
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  docs/source/user-guide/cli.md
Labels: sql, logical-expr, physical-expr, optimizer, core

#3444 Evaluate expressions after type coercion
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#3450 Add `InList` support for timestamp type. (#3449)
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#3459 apply type coercion before filter pushdown
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/subqueries.rs
Labels: core

#3380 Pushdown `RowFilter` in `ParquetExec`
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/row_filter.rs
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr, core

#3472 inlist: move type coercion to logical phase
  datafusion/core/src/physical_plan/planner.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, optimizer, core

#3474 [minor] Remove unused arg in macro in Inlist
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#3458 add FixedSizeBinary support to create_hashes
  datafusion/core/src/physical_plan/hash_utils.rs
Labels: core

#3471 Add Parseable as Datafusion user
  README.md
Labels: documentation

#3470 Use the column data type as the NULL data type in the row filter
  datafusion/core/src/physical_plan/file_format/row_filter.rs
Labels: core

#3485 add time_zone into ConfigOptions
  datafusion/core/src/config.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3504 MINIOR: Update release instructions
  dev/release/README.md
Labels: development-process

#3503 Add additional DATE_PART units
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core

#3514 Make FileStream and FileOpener public
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#3519 MINOR: Add more execs to list of supported execs
  datafusion/core/src/lib.rs
Labels: core

#3517 fix divide by zero not throwing proper error for decimal
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#3484 [MINOR] Change `downcast_value!` macro so it does not need to use `use std::any::type_name;`
  datafusion/common/src/lib.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/variance.rs
Labels: physical-expr

#3512 [DataFrame] - Add cache function for DataFrame
  datafusion/core/src/dataframe.rs
Labels: core

#3525 Make `OptimizerConfig` a builder style API
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: api change, optimizer, core

#3533 MINOR: Impl `Debug` for TableReference and ResolvedTableReference
  datafusion/sql/src/table_reference.rs
Labels: sql

#3513 feat: Union types coercion
  datafusion/core/src/physical_plan/union.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3483 Upgrade to arrow 23.0.0
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/flight_server.rs
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  dev/update_arrow_deps.py
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core

#3454 Add additional pruning tests with casts, handle unsupported predicates better
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet_pruning.rs
Labels: core

#3530 Push down limit to sort
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_optimizer/parallel_sort.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/logical_plan.rs
Labels: logical-expr, optimizer, core

#3548 Bug fix: expr_visitor was not visiting aggregate filter expressions
  datafusion/expr/src/expr_visitor.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: bug, logical-expr, optimizer

#3482 Convert more cross joins to inner joins (Address performance/execution plan of TPCH query 19)
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/reduce_cross_join.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#3551 Make ParquetScanOptions public and add method to get a reference from…
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#3510 type coercion: support is/is_not_`bool`/like/unknown expr
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer

#3545 Use `fetch` limit in get_sorted_iter
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/parallel_sort.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#3552 MINOR: remove out-of-date is_dictionary checks from binary_rule.rs
  datafusion/expr/src/binary_rule.rs
Labels: logical-expr

#3566 Reduce dependencies of `datafusion-sql` crate
  datafusion/common/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#3574 Fix logical plan serialization
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/proto/src/lib.rs
Labels: optimizer, core

#3581 MINOR: Add Dask SQL to list of projects powered by DataFusion
  README.md
Labels: documentation

#3567 fix comparison of decimal array with null scalar
  datafusion/core/tests/sql/decimal.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core

#3549 fix coercion of null for decimal math in binary_rules
  datafusion/expr/src/binary_rule.rs
Labels: logical-expr

#3584 Make ObjectStoreProvider fallible (return `Result` rather than `Option`)
  datafusion/core/src/datasource/object_store.rs
Labels: api change, core

#3522 Config support type conversion
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/config_from_env.rs
Labels: core

#3598 [CI] Fix the newly added linting errors to make clippy happy
  datafusion/core/src/physical_plan/file_format/delimited_stream.rs
  datafusion/core/src/physical_plan/hash_join.rs
Labels: core

#3396 remove type coercion in the binary physical expr
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: logical-expr, physical-expr, optimizer, core

#3600 add `register_batch` and `read_batch` to `SessionContext` to register a single RecordBatch as a table
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/math.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sql/unicode.rs
  datafusion/core/tests/user_defined_aggregates.rs
Labels: core

#3593 Prevent over-allocations (and spills) on sorts with a fixed limit
  datafusion/core/src/physical_plan/metrics/value.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#3603 MINOR: improve docstrings on SessionContext
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
Labels: core

#3608 Simplify `concat_ws(null, ..)` to `null`
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3610 Stop wasting time in CI on MIRI runs
  .github/workflows/rust.yml
Labels: development-process

#3619 Document ObjectStoreProvider
  datafusion/core/src/datasource/object_store.rs
Labels: core

#3614 Optimize `regex_replace` for scalar patterns
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#3386 Use arrow row format in SortPreservingMerge ~50-70% faster
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sort_key_cursor.rs
Labels: core

#3638 Check each query has same number of columns when building the UNION plan
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#3627 Simplify multiplication by `0` and by `null`
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3621 support cast/try_cast expr in reduceOuterJoin
  datafusion/optimizer/src/reduce_outer_join.rs
Labels: optimizer

#3657 remove the type coercion in the simplify_expressions rule
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#3648 make regexp_replace early abort with empty input
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#3660 add timestamptz
  datafusion/core/tests/sql/timestamp.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3662 change pre_cast_lit_in_comparison to unwrap_cast_in_comparison
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#3625 Simplify null division.
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer
