Repository apache/datafusion, pull requests merged in 2022-07, with the labels that each got.

#2821 Fix the ci
  datafusion/core/src/config.rs
Labels: core

#2778 Update to arrow 17.0.0
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/core/src/scalar.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#2812 Allow setting of config options via environment variables
  datafusion-cli/src/main.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/config_from_env.rs
  dev/update_config_docs.sh
  docs/source/user-guide/configs.md
Labels: development-process, core

#2828 Improve ergonomics of physical expr `lit`
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/functions.rs
Labels: physical-expr, core

#2825 add csv registration and sql query to examples
  docs/source/python/index.rst
Labels: documentation

#2809 InList: fix bug for comparing with Null in the list using the set optimization
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#2819 CaseWhen: coerce the all then and else data type to a common data type
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, core

#2677 Switch to object_store crate (#2489)
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/object_store.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/mod.rs
Labels: api change, core

#2838 Make `lit` implementation more concise
  datafusion/physical-expr/src/expressions/literal.rs
Labels: physical-expr

#2841 MINOR: make name meaningful and clean up code
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#2823 Eliminate multi limit-offset nodes to emptyRelation
  datafusion/optimizer/src/eliminate_limit.rs
Labels: optimizer

#2843 anti joins now respect join filters
  datafusion/core/src/physical_plan/hash_join.rs
Labels: core

#2839 MINOR: Add documentation for running integration tests
  .github/workflows/rust.yml
  integration-tests/README.md
  integration-tests/create_test_table_postgres.sql
  integration-tests/test_psql_parity.py
Labels: documentation

#2834 InList: set/list value must be evaluated to get the values
  datafusion/core/src/physical_plan/planner.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, core

#2849 Adding dataframe with_column function
  datafusion/core/src/dataframe.rs
Labels: core

#2860 chore: make cargo clippy happy in nigtly
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/memory_manager.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sql/src/utils.rs
Labels: sql, physical-expr, optimizer, core

#2865 Fix docs styling
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/specification/rfcs/template.md
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#2854 Various updates to top-level README
  README.md
Labels: documentation

#2856 Update to arrow 18.0.0
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/core/src/physical_plan/join_utils.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#2878 Prepare 10.0.0 release
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/data-access/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#2887 Add an ID generator in preparation for PR 2885
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/reduce_outer_join.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#2899 Improve formatting of logical plans containing subqueries
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer

#2909 Optimizer should have option to skip failing rules
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/optimizer.rs
  docs/source/user-guide/configs.md
Labels: logical-expr, optimizer, core

#2914 Move `ScalarValue` tests alongside implementation, move `from_slice` to `datafusion_core`
  datafusion/common/src/from_slice.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/scalar.rs
  datafusion/physical-expr/src/lib.rs
Labels: physical-expr, core

#2915 Fix invalid projection in `CommonSubexprEliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: bug, optimizer

#2921 MINOR: Remove references to data-access crate
  datafusion-cli/Cargo.lock
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/update_datafusion_versions.py
Labels: development-process

#2918 Run clippy with optional features
  ci/scripts/rust_clippy.sh
  datafusion/common/src/pyarrow.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/src/scheduler/task.rs
Labels: core

#2923 fix(aggregate): support mean as synonym avg
  CONTRIBUTING.md
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/aggregate_function.rs
Labels: logical-expr, core

#2920 Add `DataFrame::with_column_renamed`
  datafusion/core/src/dataframe.rs
Labels: core

#2927 Add pow as synonym for power
  datafusion/core/tests/sql/functions.rs
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr, core

#2933 Update README.md to add CnosDB into the Known Uses
  README.md
Labels: documentation

#2906 Introduce ObjectStoreProvider to create an object store based on the url
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/object_store.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: core

#2893 Preserve field name in `ScalarValue::List`
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
Labels: sql, physical-expr, core

#2932 re-write projection after building window plan
  datafusion/core/tests/sql/window.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#2941 Use `Arc<ObjectStoreRegistry>` and remove ObjectStoreRegistry::clone
  datafusion/core/src/datasource/object_store.rs
  datafusion/core/src/execution/runtime_env.rs
Labels: core

#2934 feat(catalog): Implement information_schema.views
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#2946 Add metadata_size_hint for optimistic fetching of parquet metadata
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#2885 Add support for correlated subqueries & fix all related TPC-H benchmark issues
  benchmarks/queries/q20.sql
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/tpch-csv/lineitem.csv
  datafusion/core/tests/tpch-csv/nation.csv
  datafusion/core/tests/tpch-csv/part.csv
  datafusion/core/tests/tpch-csv/partsupp.csv
  datafusion/core/tests/tpch-csv/region.csv
  datafusion/core/tests/tpch-csv/supplier.csv
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/decorrelate_scalar_subquery.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer, core

#2958 Simplify expressions with `NOT` clause
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer, core

#2960 test: add test for decimal and pruning for decimal column
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#2858 feat: add optimize rule `rewrite_disjunctive_predicate`
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
Labels: enhancement, optimizer, core

#2972 Derive Hash for JoinType
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#2965 Add baseline_metrics for FileStream to record metrics like elapsed ti…
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#2966 fix: support decimal statistic for row group prune
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: bug, core

#2955 Update to arrow `19.0.0`
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/custom_datasource.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/to_proto.rs
  datafusion/row/Cargo.toml
  datafusion/row/src/reader.rs
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#2942 add Atan2
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/math.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#2968 fix `RowWriter` index out of bounds error
  datafusion/core/src/dataframe.rs
  datafusion/row/src/writer.rs
Labels: bug, core

#2981 Update sqlparser to 0.19
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#2977 test: add file/SQL level test for pruning parquet row group with decimal data type.
  datafusion/core/tests/parquet_pruning.rs
Labels: core

#2986 minor: collation the prune test
  datafusion/core/tests/parquet_pruning.rs
Labels: core

#2984 [Minor] Extract interval parsing logic, add unit tests
  datafusion/common/src/scalar.rs
  datafusion/sql/src/interval.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/planner.rs
Labels: sql
