Repository apache/datafusion, pull requests merged in 2022-08, with the labels that each got.

#2985 Optionally skip metadata from schema when merging parquet files
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/parquet_schema.rs
Labels: core

#2991 Rename FileReader to FileOpener (#2990)
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#2989 [minor] Clean up uneeded environment variables in CI
  .github/workflows/rust.yml
Labels: development-process

#3004 add TimeUnit::Second as signature for ToTimestampSeconds
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/function.rs
Labels: logical-expr, core

#3003 Fix SQL planner bug when resolving columns with same name as a relation
  datafusion/core/tests/sql/intersection.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/sql/src/planner.rs
Labels: bug, sql, core

#3011 fix typo for PR3003
  datafusion/core/tests/sql/projection.rs
Labels: core

#3025 doc: add a new video link about datafusion
  README.md
Labels: documentation

#3018 feat: Enable typed strings expressions for VALUES clause
  datafusion/sql/src/planner.rs
Labels: sql

#3035 minor: update minimal rust version to 1.62, matching arrow-rs
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#3026 Split `binary_expr.rs` into smaller modules
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/adapter.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: development-process, physical-expr

#3036 Use concat_elements_utf8 from arrow rather than custom kernel
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
Labels: physical-expr

#2784 Migrate from avro_rs (0.13) to apache_avro (0.14)
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/mod.rs
  datafusion/core/src/avro_to_arrow/reader.rs
  datafusion/core/src/avro_to_arrow/schema.rs
Labels: core

#3038 feat: Support `week`, `decade`, `century` for Interval literal
  datafusion/core/tests/sql/expr.rs
  datafusion/sql/src/interval.rs
Labels: sql, core

#3009 Implement exact median, add `AggregateState`
  datafusion-examples/examples/simple_udaf.rs
  datafusion/common/Cargo.toml
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: api change, sql, logical-expr, physical-expr, core

#3043 Minor: Remove unused comment_bot github workflow
  .github/workflows/comment_bot.yml
Labels: development-process

#3041 Minor: improve some docstrings about pruning
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet_pruning.rs
Labels: documentation, core

#3053 Remove redundant (and currently broken) RAT check
  .github/workflows/dev.yml
Labels: development-process

#3047 to_timestamp i32 coerced to i64
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/function.rs
Labels: logical-expr, core

#3060 MINOR: Add CeresDB to list of products using DataFusion
  README.md
Labels: documentation

#3062 docs: fix PruningStatistics example and some typos
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#3072 Update sql parser to v0.20.0
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/joins.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3044 Fix `IsNull` pruning expression generation without null_count statistics
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#3064 Simplify `approx_median` implementation
  datafusion/core/tests/dataframe_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/aggregate/approx_median.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, core

#3034 feat: Add `date_bin` built-in function
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#3054 Use code points instead of grapheme clusters for string functions
  datafusion/core/tests/sql/unicode.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  integration-tests/sqls/character_length.sql
  integration-tests/test_psql_parity.py
Labels: performance, physical-expr, core

#3056 feat: support double quoted literal strings for dialects(such as mysql,bigquery,spark)
  datafusion/core/tests/sql/select.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3076 impl Debug for ColumnarValue, add some docs
  datafusion/expr/src/columnar_value.rs
Labels: logical-expr

#3067 Add DataFrame reference to the user guide
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/expr_fn.rs
  docs/source/index.rst
  docs/source/user-guide/dataframe.md
Labels: documentation, logical-expr, core

#3090 Add all scalar SQL functions to user guide
  docs/source/user-guide/sql/datafusion-functions.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#3084 Add cast function for creating cast expression
  datafusion/core/src/dataframe.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/prelude.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr, core

#3051 Allow Overriding AsyncFileReader used by ParquetExec
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/custom_parquet_reader.rs
Labels: core

#3102 Remove offset if its zero
  datafusion/optimizer/src/eliminate_limit.rs
Labels: optimizer

#3098 Hash binary values
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3107 Fix #3106 Automatic version updates for github actions with dependabot
  .github/dependabot.yml
Labels: development-process

#3118 minor: doc fixes: fix link to datafusion-python project and add link to slides for rece…
  README.md
  docs/source/developer-guide/community/communication.md
Labels: documentation

#3120 add arrow_typeof
  datafusion/core/tests/sql/arrow_typeof.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#3119 minor: remove python docs, now they're in another project
  docs/.gitignore
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/python/api.rst
  docs/source/python/api/dataframe.rst
  docs/source/python/api/execution_context.rst
  docs/source/python/api/expression.rst
  docs/source/python/api/functions.rst
  docs/source/python/index.rst
  docs/source/user-guide/sql/datafusion-functions.md
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#3128 separate contributors guide
  CONTRIBUTING.md
  README.md
  docs/source/contributor-guide/communication.md
  docs/source/contributor-guide/index.md
  docs/source/contributor-guide/quarterly_roadmap.md
  docs/source/contributor-guide/roadmap.md
  docs/source/contributor-guide/specification/index.rst
  docs/source/contributor-guide/specification/invariants.md
  docs/source/contributor-guide/specification/output-field-name-semantic.md
  docs/source/index.rst
Labels: documentation

#3121 Minor: Clean up `array` test
  datafusion/core/tests/sql/functions.rs
Labels: core

#3134 MINOR: User Guide: Move expressions to top-level page
  docs/source/index.rst
  docs/source/user-guide/dataframe.md
  docs/source/user-guide/expressions.md
Labels: documentation

#3089 Update to object_store 0.4
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/chunked_store.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/path_partition.rs
Labels: core

#3037 feat: Support Binary bitwise shift operators (<< and >>)
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, core

#3110 Feature/support timestamp plus minus interval
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr, core

#3133 User Guide: Combine CLI pages
  docs/source/cli/index.rst
  docs/source/index.rst
  docs/source/user-guide/cli.md
Labels: documentation

#3010 feat: Add support for TIME literal values
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3130 User Guide: Add documentation for JOIN syntax
  docs/source/user-guide/sql/select.md
Labels: documentation

#3151 Expose RowAccumulator in physical_plan
  datafusion/core/src/physical_plan/mod.rs
Labels: core

#3150 Rename `DateIntervalExpr` to `DateTimeIntervalExpr`
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr

#3165 Fix regression in SQL parser related to resolution of aliased expressions
  datafusion/sql/src/planner.rs
Labels: sql

#3163 add test case for cast_timestamp_before_1970
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#3169 [Minor] Remove some redundant code
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr

#3167 Support `INTEGER` again in addition to `INT` in `CREATE TABLE` and `CAST` statements
  datafusion/core/tests/sql/mod.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3162 Return proper error message for ill formed variable reference
  datafusion/core/src/execution/context.rs
Labels: core

#3173 Rename do_data_time_math() to do_date_time_math()
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#3171 Prepare for 11.0.0 release
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  dev/release/README.md
  docs/source/index.rst
  docs/source/user-guide/cli.md
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/library.md
  docs/source/user-guide/sql/ddl.md
Labels: sql, logical-expr, physical-expr, optimizer, core

#3161 Update `ahash` requirement from 0.7 to 0.8
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/expr/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, core

#3175 Recursively apply remove filter rule if filter is a true scalar value
  datafusion/optimizer/src/eliminate_filter.rs
Labels: optimizer

#3156 Remove unused CI scripts
  ci/appveyor-cpp-build.bat
  ci/appveyor-cpp-setup.bat
  ci/conda_env_archery.yml
  ci/conda_env_cpp.yml
  ci/conda_env_crossbow.txt
  ci/conda_env_gandiva.yml
  ci/conda_env_gandiva_win.yml
  ci/conda_env_python.yml
  ci/conda_env_r.yml
  ci/conda_env_sphinx.yml
  ci/conda_env_unix.yml
  ci/detect-changes.py
  ci/etc/hdfs-site.xml
  ci/etc/rprofile
  ci/vcpkg/arm64-linux-static-debug.cmake
  ci/vcpkg/arm64-linux-static-release.cmake
  ci/vcpkg/ports.patch
  ci/vcpkg/x64-linux-static-debug.cmake
  ci/vcpkg/x64-linux-static-release.cmake
  ci/vcpkg/x64-osx-static-debug.cmake
  ci/vcpkg/x64-osx-static-release.cmake
  ci/vcpkg/x64-windows-static-md-debug.cmake
  ci/vcpkg/x64-windows-static-md-release.cmake
Labels: development-process

#3178 add min/max for time
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: logical-expr, physical-expr, core

#3182 Fix clippy
  datafusion/optimizer/src/eliminate_filter.rs
Labels: optimizer

#3146 Support number of centroids in approx_percentile_cont
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: logical-expr, physical-expr, core

#3193 [sqlparser-0.21] Changes to planning for SHOW TABLES
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3194 [sqlparser-0.21] Update planning of LIKE expressions
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3199 [sqlparser-0.21] Rename function `array` to `make_array`
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/functions.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, core

#3181 [sqlparser-0.21] Update trimExpr members during planning
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3202 [sqlparser-0.21] Use released crate
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3200 Upgrade to sqlparser 0.21
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/functions.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, core

#3206 minor: remove test code that's in the arrow library now
  datafusion/core/tests/sql/mod.rs
Labels: core

#3197 [Minor] Reduce code duplication creating ScalarValue::List
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/proto/src/lib.rs
  datafusion/sql/src/planner.rs
Labels: sql, physical-expr

#3208 Add SQL query planner support for `DISTRIBUTE BY`
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3213 minor: refactor simplify negate
  datafusion/expr/src/operator.rs
  datafusion/optimizer/src/simplify_expressions.rs
Labels: logical-expr, optimizer

#3220 [minor] add Coverage Status in readme
  README.md
Labels: documentation

#3218 [minor] fix bench aggregate_query_sql meta
  datafusion/core/benches/data_utils/mod.rs
Labels: core

#3219 [Improve] Use arrow::compute::sort in approx_percentile_cont
  datafusion/core/benches/aggregate_query_sql.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
Labels: physical-expr, core

#3209 Add support for inline column alias in CREATE VIEW
  datafusion/core/src/datasource/view.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3210 fix issue with now() returning same value across statements
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/proto/src/from_proto.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core

#3185 optimizer: add framework for the rule of pre-add cast to the literal in comparison binary
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/pre_cast_lit_in_comparison.rs
Labels: optimizer, core

#3226 Add more trim test cases
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/function.rs
Labels: logical-expr, core

#3241 Moved nullif out of unary functions
  datafusion/expr/src/expr_fn.rs
  datafusion/proto/src/from_proto.rs
Labels: logical-expr

#3237 CREATE VIEW should return empty dataframe
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
Labels: core

#3238 MINOR: Add bounds check to Column physical expression
  datafusion/physical-expr/src/expressions/column.rs
Labels: physical-expr

#3253 MINOR: stop ignoring TPCH tests that now work
  benchmarks/Cargo.toml
  benchmarks/README.md
  benchmarks/src/bin/tpch.rs
  datafusion-examples/Cargo.toml
  dev/update_datafusion_versions.py
Labels: development-process

#3252 Support "IS NOT TRUE/FALSE" syntax
  datafusion/core/tests/sql/expr.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3250 MINOR: Stop ignoring `AggregateFunction::distinct` in protobuf serde code
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: bug, optimizer

#3227 MINOR: Add notes on deleting old releases and release candidates from svn
  dev/release/README.md
Labels: development-process

#3201 Use .get() to avoid panic
  datafusion/core/src/execution/context.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/var_provider.rs
  datafusion/sql/src/planner.rs
Labels: sql, physical-expr, core

#3242 Add assertion for invariant in `create_physical_expression` and fix ViewTable projection
  datafusion/core/src/datasource/view.rs
  datafusion/optimizer/src/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/physical-expr/src/planner.rs
Labels: bug, physical-expr, optimizer, core

#3260 Use `ExprRewriter` in `pre_cast_lit_in_comparison`
  datafusion/optimizer/src/pre_cast_lit_in_comparison.rs
Labels: optimizer

#3272 Fix no schema when CSV is only header
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/tests/empty.csv
  datafusion/core/tests/sql/create_drop.rs
Labels: core

#3245 support decimal data type for the optimizer rule of PreCastLitInComparisonExpressions
  datafusion/optimizer/src/pre_cast_lit_in_comparison.rs
Labels: optimizer

#3278 Upgrade to sqlparser 0.22
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3228 Fix propagation of optimized predicates on nested projections
  datafusion/core/tests/sql/projection.rs
  datafusion/optimizer/src/filter_push_down.rs
Labels: optimizer, core

#3270 support inlist for pre cast literal expression
  datafusion/optimizer/src/pre_cast_lit_in_comparison.rs
Labels: optimizer

#3280 Allow sorting by aggregated groups
  datafusion/core/tests/sql/group_by.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#3287 support for non-correlated subqueries
  datafusion/optimizer/src/decorrelate_scalar_subquery.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#3275 `Expr` variants for boolean operations
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#3225 Upgrade to arrow 21
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/lib.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#3299 MINOR: Remove `unwrap` calls from `single_distinct_to_groupby optimizer` rule
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: optimizer

#3306 MINOR: rename optimizer rule to ScalarSubqueryToJoin
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core
