Repository apache/datafusion, pull requests merged in 2022-11, with the labels that each got.

#4053 Cleanup hash_utils adding support for decimal256 and f16
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/hash_utils.rs
Labels: core

#4048 Fix multicolumn parquet predicate pushdown (#4046)
  datafusion/core/src/physical_plan/file_format/row_filter.rs
Labels: core

#4055 Minor: clean the code in `eliminate_filter`
  datafusion/optimizer/src/eliminate_filter.rs
Labels: optimizer

#4054 Implement `current_time` scalar function
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#4041 add uuid() function
  datafusion-cli/Cargo.lock
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#4031 Reserve the literal expression of `Count` function
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/src/planner.rs
Labels: sql, optimizer, core

#3967 Support pushdown multi-columns in PageIndex pruning.
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/parquet_page_index_pruning.rs
Labels: core

#4084 Improve FieldNotFound errors
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/core/tests/sql/references.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, logical-expr, core

#4068 Add in list bench
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/in_list.rs
Labels: physical-expr

#4057 Simplify InListExpr ~20-70% Faster
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/physical-expr/src/lib.rs
Labels: physical-expr, core

#4088 Minor: Add arrow-rs ticket reference and turn some comments into docstrings
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#4092 minor: Use Operator::swap
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#4070 Support Dictionary in InListExpr
  datafusion-cli/Cargo.lock
  datafusion/core/tests/sql/predicates.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr, core

#4061 Improve Error Handling and Readibility for downcasting `StructArray`
  benchmarks/src/tpch.rs
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: physical-expr

#4069 support `SET` variable
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#4101 Appease new clippy
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/common/src/bisect.rs
  datafusion/common/src/pyarrow.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/merge_exec.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/parquet_schema.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/proto/build.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/proto/src/to_proto.rs
  parquet-test-utils/src/lib.rs
Labels: logical-expr, physical-expr, optimizer, core

#4099 minor: Split parquet reader up into smaller modules
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/metrics.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
Labels: core

#4097 fix: Scheduler panic routing errors
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/src/scheduler/task.rs
Labels: core

#4090 Simplify small InListExpr
  benchmarks/expected-plans/q12.txt
  benchmarks/expected-plans/q19.txt
  datafusion/core/src/physical_plan/planner.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer, core

#3976 Correctness integration test for parquet filter pushdown
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/metrics/mod.rs
  datafusion/core/tests/parquet_filter_pushdown.rs
  test-utils/src/data_gen.rs
Labels: core

#4095 Automatically register tables if ObjectStore root is configured
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/information_schema.rs
  docs/source/user-guide/configs.md
Labels: core

#4039 Update to arrow 26, change timezones
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/config.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/arrow_typeof.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/function.rs
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4110 DataFusion 14.0.0 Release Prep
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4078 Custom window frame support extended to built-in window functions
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core

#4043 [Part2] Partition and Sort Enforcement, ExecutionPlan enhancement
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_optimizer/merge_exec.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core

#4105 Add metrics for parquet page level skipping
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/metrics.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#4079 Replace RwLock<HashMap> and Mutex<HashMap> by using DashMap
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/catalog/catalog.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/object_store.rs
Labels: core

#4129 Minor: Use upstream `BooleanArray::true_count`
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
Labels: core

#4115 Linearize binary expressions to reduce proto tree complexity
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/to_proto.rs
Labels: api change

#4062 Enable tests for page index filtering in parquet filter pushdown test
  datafusion/core/tests/parquet_filter_pushdown.rs
Labels: core

#4119 reuse code `utils::optimize_children` instead of redundant implementation
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: optimizer

#4112 Allow listing tables to be created via TableFactories
  datafusion-cli/src/main.rs
  datafusion-cli/src/object_storage.rs
  datafusion-cli/src/print_format.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/information_schema.rs
Labels: core

#4114 Template change
  .github/pull_request_template.md
Labels: development-process

#4131 Add parquet integration tests for explicitly smaller page sizes, page pruning
  benchmarks/src/bin/parquet_filter_pushdown.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/tests/parquet_filter_pushdown.rs
  parquet-test-utils/src/lib.rs
Labels: core

#4130 Consolidate `ParquetExec` tests in `parquet_exec` integration test
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/parquet/data/repeat_much.snappy.parquet
  datafusion/core/tests/parquet/data/test_binary.parquet
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/core/tests/parquet_exec.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/parquet.rs
Labels: core

#4137 Preserve the `Cast` expression in `columnize_expr`
  datafusion/core/tests/sql/cast.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4121 reuse code `utils::optimize_children` but affect inline.
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#4107 support `SET Timezone`
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, optimizer, core

#4126 Enable TableProviderFactories to receive additional options when creating an external table
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/test_util.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4146 improve error messages while downcasting Int32Array
  benchmarks/src/tpch.rs
  datafusion/common/src/cast.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  test-utils/Cargo.toml
  test-utils/src/lib.rs
Labels: physical-expr, optimizer, core

#4150 Remove BoxedAsyncFileReader
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#3912 Expression boundary analysis framework
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr

#4145 Minor: Update docstring on unwrap_cast_in_comparison
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#4143 add schema parameter to table provider factory create method
  datafusion/core/src/test_util.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/src/lib.rs
Labels: core

#4147 Add additional testing for `unwrap_cast_in_comparison`
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#4154 Improve error messages while downcasting Int64Array
  benchmarks/src/tpch.rs
  datafusion/common/src/cast.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: physical-expr, core

#4161 Minor: pass `ParquetFileMetrics` to `build_row_filter` in parquet
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
Labels: core

#4122 [Part3] Partition and Sort Enforcement, Enforcement rule implementation
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/rewrite.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/physical-expr/src/equivalence.rs
Labels: physical-expr, core

#4160 Minor: Extract parquet row group pruning code into its own module
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
Labels: core

#4167 Minor: Remove completed comment on parquet row group pruning
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
Labels: core

#4163 MINOR: enable `dyn_cmp_dict` feature on arrow for physical expr crate
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr

#4153 Add another method to collect referenced columns from an expression
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#4133 Use f64::total_cmp instead of OrderedFloat
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
Labels: physical-expr, core

#4168 Improve Error Handling and Readibility for downcasting `Decimal128Array`
  benchmarks/src/tpch.rs
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/adapter.rs
Labels: physical-expr

#4173 minor: remove redundant println and cleanup
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/reduce_outer_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/src/lib.rs
Labels: optimizer

#4155 Window frame GROUPS mode support
  datafusion/common/src/bisect.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/window.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
  integration-tests/sqls/simple_window_groups.sql
  integration-tests/test_psql_parity.py
Labels: physical-expr, core

#4148 Add support for `DataType::Timestamp` casts in `unwrap_cast_in_comparison` optimizer pass
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#4189 Fix clippy by avoiding deprecated functions in chrono
  datafusion/common/src/delta.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr, optimizer, core

#4182 Simplify boolean parquet pushdown predicate
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#4190 fix clippy
  benchmarks/src/bin/tpch.rs
  datafusion/core/benches/data_utils/mod.rs
  datafusion/core/benches/filter_query_sql.rs
  datafusion/core/benches/math_query_sql.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet_schema.rs
  datafusion/core/tests/sql/partitioned_csv.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/sql/src/planner.rs
Labels: sql, physical-expr, optimizer, core

#4184 [FOLLOWUP] Enforcement Rule: resolve review comments, refactor adjust_input_keys_ordering()
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/merge_exec.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/rewrite.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/rewrite.rs
Labels: physical-expr, core

#4200 Add additional expr boolean simplification rules
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer

#4141 fix: shouldn't pass alias through into subquery.
  benchmarks/expected-plans/q13.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q7.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4186 Parse nanoseconds for intervals
  datafusion/common/src/parsers.rs
  datafusion/core/tests/sql/expr.rs
Labels: core

#4203 Improve error message for regexp_match 'g' flag
  datafusion/core/tests/dataframe_functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr, core

#4207 Provide a builder for ListingOptions with fixups
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/tests/path_partition.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#4149 Support unsigned integers in `unwrap_cast_in_comparison` Optimizer rule
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#4208 Add try_optimize method
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#4225 upgrade required chrono version to 0.4.23
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr, optimizer, core

#4212 Remove alias in Union
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: logical-expr, optimizer

#4102 Add parser option for parsing SQL numeric literals as decimal
  datafusion/sql/src/planner.rs
Labels: sql

#4175 Minor: consolidate parquet `custom_reader` integration test into parquet_exec
  datafusion/core/tests/custom_parquet_reader.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#4235 remove duplicate or redundant code
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer

#4157 Collapse statistics in normal explain plan
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/metrics/mod.rs
  datafusion/core/tests/sql/explain_analyze.rs
Labels: api change, core

#4242 Support binary boolean operators with nulls
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#4243 Use defaults for ListingOptions builder
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/parquet.rs
Labels: core

#4240 Fixing doc of the expression
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#4206 Avoid error with empty iterators used for `ScalarValue::iter_to_array`
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/sql/aggregates.rs
Labels: core

#4194 Support `create table` with explicit column definitions
  datafusion/core/tests/sql/create_drop.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4162 Derive filter statistic estimates from the predicate expression
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/tests/statistics.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr, core

#4192 add `propagate_empty_relation` optimizer rule
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: logical-expr, optimizer

#4244 Improve Error Handling and Readibility for downcasting `Float32Array`, `Float64Array`, `StringArray`
  benchmarks/src/tpch.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/row/src/writer.rs
Labels: physical-expr, core

#4252 fix conflict and UT, cleanup redundant legacy code
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
Labels: logical-expr, optimizer

#4246 Fix nightly clippy failures
  datafusion/common/src/parsers.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr

#4226 Update sqlparser requirement from 0.26 to 0.27
  datafusion-cli/Cargo.lock
  datafusion-cli/src/object_storage.rs
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4227 refactor how we create listing tables
  datafusion-cli/src/main.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#4233 add a checker to confirm optimizer can keep plan schema immutable.
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#4193 Support all equality predicates in equality join
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#4257 support cross_join in `limit_push_down`
  datafusion/optimizer/src/limit_push_down.rs
Labels: optimizer

#4278 Fix EXPLAIN plan for ParquetExec to show pruning_predicate
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#4280 Skip useless pruning predicates in `ParquetExec`
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#4286 MINOR: replace `{..}` with `(_)`, typo, remove outdated TODO
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: logical-expr, optimizer, core

#4281 Fix issue in filter pushdown with overloaded projection index
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
Labels: core

#4202 Return `ResourceExhausted` errors when memory limit is exceed in `GroupedHashAggregateStreamV2` (Row Hash)
  datafusion/core/src/execution/memory_manager.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#4258 Add ambiguous check for join
  datafusion/sql/src/planner.rs
Labels: sql

#4273 Remove the type alias `NullColumnarValue`
  datafusion/expr/src/columnar_value.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr

#4228 Fix the percentile argument for ApproxPercentileCont must be Float64, not Decimal128(2, 1)
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
Labels: logical-expr, physical-expr, core

#4284 split `try_new_with_schema_alias` from original code
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: api change, logical-expr, optimizer

#4261 improve error messages while downcasting `UInt32Array`, `UInt64Array` and `BooleanArray`
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr, core

#4292 minor: avoid a clone into string when checking ambiguous
  datafusion/sql/src/planner.rs
Labels: sql

#4290 replace the comparison op for decimal array op using the arrow-rs kernel
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/adapter.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#4268 Fix bugs in parsing `with header row` and `partitioned by`
  datafusion/sql/src/parser.rs
Labels: sql

#4156 Full support for time32 and time64 literal values (`ScalarValue`)
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#4279 Push down more predicates into `ParquetExec`
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#4276 reimplement `limit_push_down` to remove global-state, enhance optimize and simplify code.
  datafusion/optimizer/src/limit_push_down.rs
Labels: optimizer

#4255 Support parquet page filtering on min_max for `decimal128` and `string` columns
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  test-utils/src/data_gen.rs
Labels: core

#4304 Fix DESCRIBE statement qualified table issue
  datafusion/core/tests/sql/information_schema.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4260 add ambiguous check for projection
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/src/planner.rs
Labels: sql, optimizer

#4316 Add a checker to confirm physical optimizer rules will keep the physical plan schema immutable
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#4318 Refine Err propagation and avoid unwrap in transform closures
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/rewrite.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/rewrite.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core

#4327 fix bug: right semi join can't support the filter
  datafusion/core/src/physical_plan/joins/hash_join.rs
Labels: core

#4313 Refactor downcasting functions with downcastvalue macro and improve error handling of `ListArray` downcasting
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/functions.rs
Labels: physical-expr, core

#4185 Add rule to reimplement `Eliminate cross join` and remove it in planner
  benchmarks/expected-plans/q2.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/src/planner.rs
Labels: sql, optimizer, core

#4341 Minor: refactor: isolate common memory accounting utils
  datafusion/core/src/execution/memory_manager/mod.rs
  datafusion/core/src/execution/memory_manager/proxy.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#4221 Support types other than String for partition columns on ListingTables
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#4305 minor: add another test case to cover join ambiguous check
  datafusion/sql/src/planner.rs
Labels: sql

#4336 minor: make `plan_from_tables` return one plan instead of `Vec`
  datafusion/sql/src/planner.rs
Labels: sql

#4293 Support `SubqueryAlias` in optimizer, physcial planner.
  datafusion/core/src/physical_plan/planner.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: optimizer, core

#4330 Add ability to disable DiskManager
  datafusion/core/src/execution/disk_manager.rs
Labels: core

#4344 minor: fix typos in test names
  datafusion/sql/src/planner.rs
Labels: sql

#4219 [CBO] JoinSelection Rule, select HashJoin Partition Mode based on the Join Type and available statistics, option for SortMergeJoin
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sql/wildcard.rs
  datafusion/optimizer/README.md
  docs/source/user-guide/configs.md
Labels: optimizer, core

#4343 Minor: Add docstrings to `EliminateOuterJoins` optimizer pass
  datafusion/optimizer/src/eliminate_outer_join.rs
Labels: optimizer

#4342 add `{TDigest,ScalarValue,Accumulator}::size`
  datafusion-examples/examples/simple_udaf.rs
  datafusion/common/src/scalar.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/accumulator.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/proto/src/lib.rs
Labels: api change, logical-expr, physical-expr, core

#3993 add support for xz file compression and `compression` feature
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/test/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/parser.rs
Labels: sql, logical-expr, core

#4348 Improve error messages when memory is exhausted while sorting
  datafusion/core/src/execution/disk_manager.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#4351 Add check to avoid underflow in memory manager
  datafusion/core/src/execution/memory_manager/mod.rs
Labels: core

#4354 Throw error (not `panic`) if a listing table specifies an missing partition column
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#4347 Do not error in optimizer if resulting schema has different metadata
  datafusion/common/src/dfschema.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#4379 refine the code of build schema for ambiguous check, factor this out into a function
  datafusion/sql/src/planner.rs
Labels: sql

#4334 enhancement: when fetch == 0, pushdown limit 0 instead skip+fetch.
  datafusion/optimizer/src/limit_push_down.rs
Labels: optimizer

#4358 Do not log error if page index can not be evaluated
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#4359 minor: correct name and typo
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/row/src/lib.rs
Labels: optimizer

#4373 HashJoin should return Err when the right side input stream produce Err, add more join UTs to cover different join types
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4345 minor: improve optimizer logging and do not repeat rule name
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#4375 Include byte size estimates in the filter statistics
  datafusion/core/src/physical_plan/filter.rs
Labels: core

#4352 Improve error handling and add some more types for proper downcasting
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/physical-expr/src/string_expressions.rs
Labels: physical-expr, core

#4333 API-break: Support `SubqueryAlias` and remove `Alias in Projection`
  benchmarks/expected-plans/q11.txt
  benchmarks/expected-plans/q13.txt
  benchmarks/expected-plans/q15.txt
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q2.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q7.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, logical-expr, optimizer, core

#4371 feat: `ResourceExhausted` for memory limit in `GroupedHashAggregateStream`
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
Labels: core

#4357 Clean the `expr_fn` - use `scalar_expr` to create unary scalar expr functions, remove macro `unary_scalar_functions`
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#4387 Fix page index pruning fail on complex_expr
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/tests/parquet/page_pruning.rs
Labels: core

#4391 Clean the code in `limit.rs`.
  datafusion/core/src/physical_plan/limit.rs
Labels: core

#4301 Use tournament loser tree for k-way sort-merging, increase merge speed by 50%
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: core

#4405 feat: `ResourceExhausted` for memory limit in `AggregateStream`
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
Labels: core

#4324 reimplment `eliminate_limit` to remove `global-state`.
  datafusion/optimizer/src/eliminate_limit.rs
Labels: optimizer

#4423 [minor] use arrow kernel concat_batches instead combine_batches
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
Labels: core

#4394 improve hashjoin execution metrics
  datafusion/core/src/physical_plan/joins/hash_join.rs
Labels: core

#4406 Add integration test for erroring when memory limits are hit
  datafusion/core/src/execution/memory_manager/proxy.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/join_fuzz.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/merge_fuzz.rs
  datafusion/core/tests/order_spill_fuzz.rs
  test-utils/src/lib.rs
Labels: core

#4400 Update to arrow 28
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/dfschema.rs
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/parquet_schema.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4421 Optimize filter executor in pull-based executor
  datafusion/core/src/physical_plan/filter.rs
Labels: core

#4422 fix panic on to_hex function for negative numbers
  datafusion/physical-expr/src/string_expressions.rs
Labels: physical-expr
