Repository apache/datafusion, pull requests merged in 2022-10, with the labels that each got.

#3674 Fail if field lengths are not same in INTERSECT and EXPECT
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#3675 Update sqlparser to 0.24.0
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3649 Cache collected file statistics
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#3692 Move optimizer init to optimizer crate
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#3691 Upgrade `arrow` `parquet` and `arrow-flight` to 24.0.0
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/pyarrow.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#3687 [MINOR] Improve docstrings in binary_rule.rs
  datafusion/expr/src/binary_rule.rs
Labels: logical-expr

#3676 move `type coercion` for case when expr
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, optimizer, core

#3688 Fix bug in dictionary coercion and allow better coercion
  datafusion/core/tests/sql/predicates.rs
  datafusion/expr/src/binary_rule.rs
Labels: logical-expr, core

#3699 `unwrap_cast_in_comparison`: fix bug which can find the field for the schema
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#3706 MINOR: Add `Expr::canonical_name` and improve docs on `Expr::name`
  datafusion/expr/src/expr.rs
Labels: logical-expr

#3712 Make column name consistent between Expr::name and Display/Debug
  datafusion/common/src/column.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/limit_push_down.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/reduce_cross_join.rs
  datafusion/optimizer/src/reduce_outer_join.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/README.md
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#3714 Reject recursive CTEs before processing the sub-expressions
  datafusion/sql/src/planner.rs
Labels: sql

#3710 Fix aggregate type coercion bug
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#3717 Support column aliases specified by `WITH` statements
  datafusion/sql/src/planner.rs
Labels: sql

#3705 Remove type coercions from ScalarValue and aggregation function code
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: physical-expr

#3719 Expose and document a simpler public API for simplify expressions
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3721 Add type coercion rule for `concat` and `concat_ws`
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#3703 Remove dead code in `UnwrapCastExprRewriter` that may mask errors
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#3700 Fix `DataFrame::with_column` to handle creating column names with a period
  datafusion/core/src/dataframe.rs
Labels: core

#3759 MINOR: Remove deprecated module `datafusion::logical_plan::plan`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/lib.rs
  datafusion/optimizer/src/lib.rs
Labels: logical-expr, optimizer, core

#3757 Refactor `Expr::Case` to use a struct
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#3749 remove `type coercion` for physical ScalarFunction
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/functions.rs
Labels: physical-expr, optimizer

#3771 Teach a negative NULL expression to return NULL instead of an error
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/negative.rs
Labels: logical-expr, physical-expr, core

#3726 Fix output schema generated by CommonSubExprEliminate
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#3684 Add simplification rules for the `CONCAT` function
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#3750 Fix `ListingTableUrl` to decode percent
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#3642 Compressed CSV/JSON support
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/test/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#3768 move type coercion of agg and agg_udaf to logical phase
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/coercion_rule.rs
  datafusion/physical-expr/src/aggregate/mod.rs
Labels: physical-expr, optimizer, core

#3730 Remove some uneeded code in `CommonSubexprEliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#3801 Stop ignoring errors when writing DataFrame to csv, parquet, json
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/csv/corrupt.csv
Labels: core

#3727 Consolidate and better tests for expression re-rewriting / aliasing
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#3741 Add datafusion example of expression apis
  datafusion-examples/examples/expr_api.rs
  datafusion/core/src/prelude.rs
  datafusion/optimizer/src/expr_simplifier.rs
Labels: optimizer, core

#3809 Consolidate expression manipulation functions into `datafusion_optimizer`
  benchmarks/src/bin/parquet_filter_pushdown.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/physical_plan/file_format/row_filter.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer, core

#3782 Optimizer now simplifies multiplication, division, module arg is a literal Decimal zero or one
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3788 MINOR: Optimizer example and docs, deprecate `Expr::name`
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/README.md
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#3811 Improve expression simplification by running it twice
  datafusion-examples/examples/expr_api.rs
  datafusion/optimizer/src/expr_simplifier.rs
Labels: optimizer

#3804 Optimize `regexp_replace` when the input is a sparse array
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#3385 Improve doc on lowercase treatment of columns on SQL
  datafusion/core/tests/capitalized_example.csv
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/sql/select.md
Labels: core

#3814 Update `datafusion-examples` README
  .github/workflows/rust.yml
  README.md
  datafusion-examples/README.md
  datafusion-examples/examples/README.md
Labels: documentation

#3818 Add `precision != 0` check when making decimal type
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql

#3816 Finish removing deprecated `datafusion::logical_plan` module
  benchmarks/src/bin/parquet_filter_pushdown.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion-examples/examples/expr_api.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/window_frames.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/join_utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/join_fuzz.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/simplification.rs
  datafusion/core/tests/sql/explain.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/statistics.rs
  datafusion/expr/src/lib.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/logical_plan.rs
Labels: logical-expr, core

#3787 Join cardinality computation for cost-based nested join optimizations
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/join_utils.rs
Labels: core

#3823 Minor: Sort the output of SHOW ALL by config name
  datafusion/core/tests/sql/information_schema.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#3780 Implement parquet page-level skipping with column index, using min/ma…
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#3461 Generate hash aggregation output in smaller record batches
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#3810 Make expression manipulation consistent and easier to use: `combine/split filter` `conjunction`, etc
  benchmarks/src/bin/parquet_filter_pushdown.rs
  benchmarks/src/bin/tpch.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/row_filter.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#3578 Pushdown single column predicates from ON join clauses
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q7.txt
  benchmarks/src/bin/tpch.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/filter_push_down.rs
Labels: optimizer, core

#3837 Infer the count of maximum distinct values from min/max
  datafusion/core/src/physical_plan/join_utils.rs
Labels: core

#3836 Refactor `Expr::Like`, `Expr::ILike`, `Expr::SimilarTo` to use a struct
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/lib.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/row/src/writer.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#3841 Tweak list of optimization rules
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q6.txt
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer, core

#3829 Fix the panic when lpad/rpad parameter is negative
  datafusion/core/tests/sql/unicode.rs
  datafusion/physical-expr/src/unicode_expressions.rs
Labels: physical-expr, core

#3835 Refactor Expr::BinaryExpr to use a struct
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/expr_api.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/jit/src/ast.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/reduce_cross_join.rs
  datafusion/optimizer/src/reduce_outer_join.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#3838 Refactor Expr::GetIndexedField to use a struct
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, core

#3824 Add/Remove Division Rules
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3867 Update `TableProviderFactory` trait to support real-world use-cases
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#3846 Add setting for statistics collection
  datafusion/core/src/execution/context.rs
Labels: core

#3875 Add `LogicalPlan::ViewTable` support in `datafusion-proto`
  datafusion/core/src/datasource/view.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/lib.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#3848 Handle cardinality estimation for disjoint inner and outer joins
  datafusion/core/src/physical_plan/join_utils.rs
Labels: core

#3869 Optimize the `concat_ws` function
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/literal.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: logical-expr, optimizer

#3822 Expose parquet reader settings using normal DataFusion `ConfigOptions`
  benchmarks/src/bin/parquet_filter_pushdown.rs
  datafusion/core/src/config.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/custom_parquet_reader.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/information_schema.rs
Labels: api change, core

#3880 Multiple optimizer passes
  benchmarks/expected-plans/q19.txt
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
  docs/source/user-guide/configs.md
Labels: optimizer, core

#3862 put subquery's equal clause into join on clauses instead of filter cl…
  benchmarks/expected-plans/q2.txt
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: optimizer, core

#3897 Revert "Factorize common AND factors out of OR predicates to supportfilter Pu… (#3859)"
  benchmarks/expected-plans/q7.txt
  datafusion/core/src/physical_plan/file_format/row_filter.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#3868 Implement foundational filter selectivity analysis
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/stats.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: logical-expr, physical-expr, core

#3905 Support filter/limit pushdown for views/dataframes
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
Labels: core

#3902 Add `Substring(str [from int] [for int])` support in `datafusion-proto`
  datafusion/expr/src/expr_fn.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
Labels: logical-expr

#3925 add create view explanation
  docs/source/user-guide/sql/ddl.md
Labels: documentation

#3924 Change cast error from Internal to NotImplemented
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
Labels: physical-expr

#3915 Simplify redundant predicates
  datafusion/optimizer/src/simplify_expressions.rs
Labels: optimizer

#3911 Implement ScalarValue for FixedSizeBinary
  datafusion/common/src/scalar.rs
  datafusion/core/tests/parquet/test_binary.parquet
  datafusion/core/tests/sql/parquet.rs
  datafusion/proto/src/to_proto.rs
Labels: waiting-on-upstream, core

#3923 Support inlining view / dataframes logical plan
  benchmarks/expected-plans/q15.txt
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/view.rs
  datafusion/expr/src/table_source.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/projection_push_down.rs
Labels: logical-expr, optimizer, core

#3930 minor: fix some typo.
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/expr/src/expr_rewriter.rs
Labels: logical-expr, core

#3939 Add optimizer test for simplifying predicates on timestamps
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#3907 Add serde for plans with tables from `TableProviderFactory`s
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/README.md
  datafusion/proto/examples/plan_serde.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/logical_plan.rs
Labels: core

#3942 Consolidate physical join code into `datafusion/core/src/physical_plan/joins`
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/join_fuzz.rs
Labels: core

#3937 Add test for querying predicate on dictionary
  datafusion/core/tests/sql/predicates.rs
Labels: core

#3933 fix: return error for unsupported SQL
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/errors.rs
Labels: core

#3884 Improve formatting of binary expressions
  benchmarks/expected-plans/q19.txt
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/reduce_cross_join.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#3959 Update minimum chrono dependency to 0.4.22
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr, optimizer, core

#3951 Refactor: move `simplify_expression.rs` and `expr_simplifier.rs` to a new mod `simplify_expressions`
  datafusion-examples/examples/expr_api.rs
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/lib.rs
  datafusion/optimizer/src/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions.rs
  datafusion/optimizer/src/simplify_expressions/context.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: api change, logical-expr, optimizer, core

#3953 Print the configurations of ConfigOptions in an ordered way so that we can directly compare the equality of two ConfigOptions by their debug strings
  datafusion/core/src/config.rs
Labels: core

#3916 Support for non-u64 types for Window Bound
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/delta.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/parsers.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/test_util.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/type_coercion.rs
  datafusion/expr/src/window_frame.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/lib.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core

#3973 minor: remove redundant prefix.
  .github/pull_request_template.md
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: development-process, logical-expr

#3963 Informative Error Message for LAG and LEAD functions
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#3961 Move common code used for testing code into datafusion/test_utils
  benchmarks/Cargo.toml
  benchmarks/src/bin/parquet_filter_pushdown.rs
  datafusion/core/Cargo.toml
  datafusion/core/tests/join_fuzz.rs
  datafusion/core/tests/merge_fuzz.rs
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/core/tests/sql/order.rs
  test-utils/Cargo.toml
  test-utils/src/data_gen.rs
  test-utils/src/lib.rs
Labels: core

#3958 Implement right semi join and support in HashBuildProbeorder
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q4.txt
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/tests/join_fuzz.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
Labels: logical-expr, optimizer, core

#3986 Add TableProvider.statistics method
  datafusion/common/src/stats.rs
  datafusion/core/src/datasource/datasource.rs
Labels: core

#3962 Minor: Add some docstrings to `FileScanConfig` and `RuntimeEnv`
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#4000 Don't add projection for semi joins in HashBuildProbeOrder
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
Labels: core

#3969 [Part1] Partition and Sort Enforcement, PhysicalExpr enhancement
  datafusion-cli/Cargo.lock
  datafusion-cli/src/main.rs
  datafusion-cli/src/object_storage.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/no_op.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/rewrite.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#3903 Factorize common AND factors out of OR predicates to support filterPu…
  benchmarks/expected-plans/q7.txt
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#3989 Add parquet predicate pushdown metrics
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/row_filter.rs
  datafusion/core/src/physical_plan/metrics/mod.rs
Labels: core

#4008 Minor: remove unecessary clippy allow
  datafusion/core/tests/user_defined_plan.rs
Labels: core

#4011 Add right anti join support and support it in HashBuildProbeOrder
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/filter_push_down.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
Labels: logical-expr, optimizer, core

#4007 Minor: Do what clippy says and clean up some code
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/udf.rs
Labels: core

#4021 Fix predicate pushdown bugs: project columns within DatafusionArrowPredicate (#4005) (#4006)
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/row_filter.rs
Labels: core

#4022 Implement current_date scalar function
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/to_proto.rs
Labels: logical-expr, physical-expr, core

#4019 minor: remove redundant code/TODO
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/test/exec.rs
Labels: core

#4004 Improve Error Handling and Readibility for downcasting `Date32Array`
  datafusion/common/src/cast.rs
  datafusion/common/src/lib.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/row/src/writer.rs
Labels: physical-expr

#4012 Minor: Add TODO and tracking ticket reference
  datafusion/physical-expr/src/expressions/cast.rs
Labels: physical-expr
