Repository apache/datafusion, pull requests merged in 2022-05, with the labels that each got.

#2396 Support type-coercion from Decimal to Float64
  datafusion/core/tests/sql/decimal.rs
  datafusion/expr/src/type_coercion.rs
Labels: datafusion

#2384 Allow CTEs to be referenced from subquery expressions
  datafusion/common/src/dfschema.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2391 minor: SchemaError code cleanup and improvements
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/logical_plan/expr_rewriter.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/idenfifers.rs
Labels: datafusion

#2401 docs: update the renamed project Flock (Squirtle)
  README.md
Labels: documentation

#2400 remove duplicated `fn aggregate()` in aggregate expression tests
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/variance.rs
Labels: datafusion

#2388 Re-organize and rename aggregates physical plan
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/scheduler/src/planner.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/hash_aggregate.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
Labels: ballista, datafusion

#2413 Make expected result string in unit tests more readable
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/limit.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/union.rs
Labels: datafusion

#2414 MINOR: remove duplicated function `format_state_name()`
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/mod.rs
Labels: datafusion

#2418 Allow subqueries without aliases
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/select.rs
Labels: datafusion

#2402 nested query fix
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/expr.rs
Labels: bug, datafusion

#2419 docs: Update the Ballista dev env instructions
  ballista/docs/dev-env.md
  ballista/ui/scheduler/README.md
Labels: documentation, ballista

#2425 minor: format table result vec & remove some unnecessary semicolons
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
Labels: datafusion

#2423 Update `update_datafusion_versions.py` to include all crates
  dev/update_datafusion_versions.py
Labels: development-process

#2432 minor: remove redundant code
  datafusion/core/src/physical_plan/planner.rs
Labels: datafusion

#2416 Fix bug in subquery join filters referencing outer query
  datafusion/core/src/logical_plan/expr_rewriter.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2435 MINOR: Improve error messages for GROUP BY / HAVING queries
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
Labels: datafusion

#2405 `sum(distinct)` support
  datafusion/core/tests/sql/aggregates.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: datafusion

#2382 Upgrade to arrow 13
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/row/Cargo.toml
Labels: ballista, datafusion

#2434 Make ExecutionPlan Sync
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/executor/src/collect.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/cross_join.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sort_merge_join.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/statistics.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: ballista, datafusion, api change

#2394 Issue 2393: Support glob patterns for files
  data-access/Cargo.toml
  data-access/src/object_store/local.rs
  data-access/src/object_store/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
Labels: datafusion, api change, development-process

#2438 Table provider error propagation
  datafusion/core/src/execution/context.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/information_schema.rs
Labels: datafusion

#2458 minor: move struct definition out of `aggregate/mod.rs`, etc
  datafusion/core/src/execution/context.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/mod.rs
Labels: datafusion

#2444 Issue 2321: Add code formatting instructions to CONTRIBUTING
  .github/workflows/rust.yml
  CONTRIBUTING.md
  ci/scripts/rust_clippy.sh
  ci/scripts/rust_fmt.sh
  ci/scripts/rust_toml_fmt.sh
  dev/rust_lint.sh
Labels: development-process

#2464 MINOR: Partial fix for SQL aggregate queries with aliases
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/expr/src/expr.rs
Labels: datafusion

#2457 Fix bugs in SQL planner with GROUP BY scalar function and alias
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/core/tests/sql/group_by.rs
Labels: datafusion

#2468 Fix `read_from_registered_table_with_glob_path` fails if path contains // #2465
  data-access/src/object_store/mod.rs
  datafusion/core/src/execution/context.rs
Labels: datafusion

#2364 Add proper support for `null` literal by introducing `ScalarValue::Null`
  datafusion/common/src/scalar.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/hash_utils.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/nullif.rs
Labels: datafusion

#2454 feat: Support CompoundIdentifier as GetIndexedField access
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/select.rs
Labels: datafusion

#2471 Minor: Use ExprVisitor to find columns referenced by expr
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/expr.rs
Labels: datafusion

#2470 minor: remove expr dependency from the row crate, update crate-deps.dot/svg
  datafusion/row/Cargo.toml
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
Labels: datafusion

#2472 Fix stage key extraction
  ballista/rust/scheduler/src/state/persistent_state.rs
Labels: ballista

#2473 Minor: Move test code from `context.rs` into `sql_integration`
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/union.rs
Labels: datafusion

#2478 Adds unit test cases of mathematical expressions working with `null` literal
  datafusion/core/tests/sql/expr.rs
Labels: datafusion

#2446 Add SQL planner support for `ROLLUP` and `CUBE` grouping set expressions
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/expr_rewriter.rs
  datafusion/core/src/logical_plan/expr_visitor.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/simplify_expressions.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
Labels: datafusion, api change

#2500 Update to `sqlparser` `0.17.0`
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/sql/planner.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/Cargo.toml
Labels: ballista, datafusion

#2486 Add SQL planner support for `grouping()` aggregate expressions
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/sql/planner.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/grouping.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: datafusion

#2501 Persist session configs in scheduler
  ballista/rust/core/proto/ballista.proto
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/state/mod.rs
  ballista/rust/scheduler/src/state/persistent_state.rs
Labels: ballista

#2492 Optimize MergeJoin by storing joined indices instead of creating small record batches for each match
  datafusion/core/src/physical_plan/sort_merge_join.rs
Labels: datafusion

#2481 Numeric, String, Boolean comparisons with literal `NULL`
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion

#2479 Move `data-access` crate into `datafusion` directory
  CONTRIBUTING.md
  Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/data-access/Cargo.toml
  datafusion/data-access/README.md
  datafusion/data-access/src/lib.rs
  datafusion/data-access/src/object_store/local.rs
  datafusion/data-access/src/object_store/mod.rs
  dev/docker/ballista.dockerfile
  dev/release/README.md
  dev/update_datafusion_versions.py
Labels: datafusion, development-process

#2506 MINOR: Add ignored tests for all remaining benchmark queries
  benchmarks/src/bin/tpch.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: datafusion

#2499 Add metrics for ParquetExec
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#2490 Prepare for datafusion 8.0.0 , ballista 0.7.0 release
  ballista-cli/Cargo.toml
  ballista-examples/Cargo.toml
  ballista/CHANGELOG.md
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/docker-compose.yaml
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/data-access/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  dev/release/README.md
  dev/release/update_change_log-all.sh
  dev/update_ballista_versions.py
  dev/update_datafusion_versions.py
  docs/source/cli/index.rst
  docs/source/user-guide/cli.md
  docs/source/user-guide/distributed/clients/cli.rst
  docs/source/user-guide/distributed/deployment/docker-compose.md
  docs/source/user-guide/distributed/deployment/docker.md
  docs/source/user-guide/distributed/deployment/kubernetes.md
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/library.md
Labels: ballista, datafusion, development-process

#2520 MINOR: Update verification script and add notes on signing keys
  dev/release/README.md
  dev/release/verify-release-candidate.sh
Labels: development-process

#2526 ObjectStoreRegistry get_by_uri now returns correct path when "scheme" is provided
  datafusion/core/src/datasource/object_store_registry.rs
Labels: datafusion

#2463 Fix projection pushdown produces incorrect results when column names are reused
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/tests/dataframe.rs
Labels: datafusion

#2538 MINOR: Move `ExprVisitable` and `exprlist_to_columns` to datafusion-expr crate
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/sql/planner.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/utils.rs
Labels: datafusion, api change

#2539 Remove `scan_parquet` methods from `LogicalPlanBuilder`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/builder.rs
Labels: datafusion, api change

#2541 Remove `scan_json` methods from `LogicalPlanBuilder`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/builder.rs
Labels: datafusion, api change

#2534 Fix `JOIN`s with complex predicates in ON (split ON expressions only by AND operator)
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2540 Remove `scan_avro` methods from `LogicalPlanBuilder`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/builder.rs
Labels: datafusion, api change

#2545 MINOR: Fix release packaging issues
  ballista-cli/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  dev/release/README.md
Labels: datafusion, development-process

#2537 Remove `scan_csv` methods from `LogicalPlanBuilder`
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/projection.rs
Labels: ballista, datafusion, api change

#2528 Update to arrow-rs 14.0.0
  Cargo.toml
  ballista-cli/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/client.rs
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/flight_client.rs
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/from_slice.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/row/Cargo.toml
Labels: ballista, datafusion

#2552 MINOR: Move `expr_rewriter.rs` to `datafusion-expr` crate
  datafusion/core/src/logical_plan/mod.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/lib.rs
Labels: datafusion

#2559 Update datafusion-cli readme cli version
  datafusion-cli/README.md
Labels: datafusion

#2523 Fix Redundant ScalarValue Boxed Collection
  datafusion/common/src/scalar.rs
  datafusion/core/src/scalar.rs
  datafusion/core/src/sql/planner.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
Labels: datafusion

#2521 Support for OFFSET in LogicalPlan
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/logical_plan/plan.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/sql/planner.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: ballista, datafusion, api change

#2553 MINOR: Move expression utils from sql module to expr crate
  datafusion/core/src/dataframe.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/utils.rs
Labels: datafusion, api change

#2564 Introduce Expr.variant_name() function
  datafusion/expr/src/expr.rs
Labels: datafusion

#2567 Make datafusion-proto match exhaustive
  datafusion/proto/src/to_proto.rs
Labels: datafusion

#2571 Fix avro tests (#2570)
  .github/workflows/rust.yml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/tests/sql/avro.rs
Labels: datafusion

#2574 Add DataFrame `union_distinct` and fix documentation for `distinct`
  datafusion/core/src/dataframe.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2566 Support limit push down for offset_plan
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/core/src/sql/planner.rs
Labels: datafusion

#2431 Benchmark for sort preserving merge
  datafusion/core/Cargo.toml
  datafusion/core/benches/merge.rs
Labels: datafusion

#2512 Remove unused `binary_array_op_scalar!` in binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/nullif.rs
Labels: datafusion

#2569 `LogicalPlanBuilder` now uses `TableSource` instead of `TableProvider`
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/logical_plan/builder.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/parquet_pruning.rs
  datafusion/core/tests/sql/projection.rs
Labels: ballista, datafusion, api change

#2576 Move `LogicalPlanBuilder` to `datafusion-expr` crate
  datafusion/core/src/logical_plan/expr.rs
  datafusion/core/src/logical_plan/mod.rs
  datafusion/core/src/optimizer/common_subexpr_eliminate.rs
  datafusion/core/src/optimizer/eliminate_filter.rs
  datafusion/core/src/optimizer/eliminate_limit.rs
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/simplify_expressions.rs
  datafusion/core/src/optimizer/single_distinct_to_groupby.rs
  datafusion/core/src/optimizer/utils.rs
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/utils.rs
Labels: ballista, datafusion, api change

#2589 MINOR: Remove ballista files that are no longer needed
  .asf.yaml
  CONTRIBUTING.md
  README.md
  benchmarks/README.md
  dev/build-ballista-docker-arm64.sh
  dev/build-ballista-docker.sh
  dev/build-ui.sh
  dev/docker/ballista-arm64.Dockerfile
  dev/docker/ballista-base.dockerfile
  dev/docker/ballista-scheduler-ui.dockerfile
  dev/docker/ballista.dockerfile
  dev/integration-tests.sh
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/release/rat_exclude_files.txt
  dev/release/update_change_log-ballista.sh
  dev/update_ballista_versions.py
  dev/update_datafusion_versions.py
  docs/source/index.rst
  docs/source/user-guide/distributed/clients/cli.rst
  docs/source/user-guide/distributed/clients/index.rst
  docs/source/user-guide/distributed/clients/python.md
  docs/source/user-guide/distributed/clients/rust.md
  docs/source/user-guide/distributed/deployment/cargo-install.md
  docs/source/user-guide/distributed/deployment/configuration.md
  docs/source/user-guide/distributed/deployment/docker-compose.md
  docs/source/user-guide/distributed/deployment/docker.md
  docs/source/user-guide/distributed/deployment/index.rst
  docs/source/user-guide/distributed/deployment/kubernetes.md
  docs/source/user-guide/distributed/deployment/raspberrypi.md
  docs/source/user-guide/distributed/index.rst
  docs/source/user-guide/distributed/introduction.md
Labels: documentation, development-process

#2590 Unignore rustdoc code examples in `datafusion-expr` crate
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: datafusion

#2597 fix some typos
  datafusion/CHANGELOG.md
  datafusion/core/src/sql/planner.rs
  datafusion/core/src/sql/utils.rs
Labels: datafusion

#2598 chore(dep): bump cranelift to 0.84.0
  datafusion/common/Cargo.toml
  datafusion/jit/Cargo.toml
Labels: datafusion

#2596 Support limit pushdown through left right outer join
  datafusion/core/src/optimizer/limit_push_down.rs
Labels: datafusion

#2604 chore(doc) remove ballista from datafusion-cli readme
  datafusion-cli/Cargo.lock
  datafusion-cli/README.md
Labels: documentation, datafusion

#2587 Evaluate JIT'd expression over arrays
  datafusion/jit/src/api.rs
  datafusion/jit/src/ast.rs
  datafusion/jit/src/compile.rs
  datafusion/jit/src/jit.rs
  datafusion/jit/src/lib.rs
  datafusion/row/src/lib.rs
Labels: datafusion

#2611 Unpin Ballista following FileFormat Breaking Change
  dev/build-arrow-ballista.sh
Labels: development-process

#2615 Remove FilterPushDown dependency on physical plan
  datafusion/core/src/optimizer/filter_push_down.rs
Labels: datafusion

#2612 [MINOR] remove datafusion-cli's ballista feature from docs
  docs/source/user-guide/cli.md
Labels: documentation

#2616 MINOR: add optimizer struct
  datafusion/core/src/execution/context.rs
  datafusion/core/src/optimizer/optimizer.rs
Labels: datafusion

#2591 Support for non equality predicates in `ON` clause of `LEFT`, `RIGHT, `and `FULL` joins
  datafusion/core/src/dataframe.rs
  datafusion/core/src/optimizer/filter_push_down.rs
  datafusion/core/src/optimizer/limit_push_down.rs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/src/optimizer/subquery_filter_to_join.rs
  datafusion/core/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/core/src/physical_plan/hash_join.rs
  datafusion/core/src/physical_plan/join_utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/join_fuzz.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/wildcard.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
  dev/build-arrow-ballista.sh
Labels: enhancement, datafusion, development-process

#2621 minor: Update GitHub label workflow.
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#2610 Support binary mathematical operators work with `NULL` literals
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion, logical-expr, physical-expr, core

#2623 MINOR: Refactor `datafusion-proto` dependencies and imports
  datafusion/common/src/lib.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: datafusion

#2627 Like, NotLike expressions work with literal `NULL`
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/binary_rule.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: datafusion, logical-expr, physical-expr, core

#2613 Support CREATE OR REPLACE TABLE
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: datafusion, sql, logical-expr, core

#2634 if none columns in window expr are needed, remove the window exprs
  datafusion/core/src/optimizer/projection_push_down.rs
  datafusion/core/tests/sql/window.rs
Labels: datafusion, optimizer, core

#2641 reset ballista branch to apache/master
  dev/build-arrow-ballista.sh
Labels: development-process

#2639 Implement `LogicalPlan` serde in `datafusion-proto`
  datafusion/proto/Cargo.toml
  datafusion/proto/README.md
  datafusion/proto/examples/expr_serde.rs
  datafusion/proto/examples/plan_serde.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/proto/testdata/test.csv
Labels: datafusion, core

#2636 change result type of count/count_distinct from uint64 to int64
  datafusion/core/src/optimizer/single_distinct_to_groupby.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/window_function.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
Labels: datafusion, logical-expr, physical-expr, optimizer, core

#2578 Extract Listing URI logic into ListingTableUri structure
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/flight_server.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/sort_limit_query_sql.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/object_store.rs
  datafusion/core/src/datasource/object_store_registry.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/data-access/Cargo.toml
  datafusion/data-access/src/object_store/local.rs
  datafusion/data-access/src/object_store/mod.rs
  datafusion/proto/src/logical_plan.rs
  dev/build-arrow-ballista.sh
Labels: ballista, datafusion, api change, development-process, core

#2651 Prune unused dependencies from datafusion-proto
  datafusion/proto/Cargo.toml
Labels: datafusion

#2655 Add module doc for RuntimeEnv, SessionContext, TaskContext, etc...
  datafusion/core/src/execution/mod.rs
Labels: datafusion, core

#2654 Fix Ballista link
  README.md
Labels: documentation

#2631 Upgrade to arrow 15
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/fuzz-utils/Cargo.toml
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  dev/build-arrow-ballista.sh
Labels: datafusion, sql, development-process, logical-expr, physical-expr, core

#2645 Move `SortKeyCursor` and `RowIndex` into modules, add `sort_key_cursor` test
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/index.rs
  datafusion/core/src/physical_plan/sorts/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sort_key_cursor.rs
Labels: datafusion, core
