Repository apache/datafusion, pull requests merged in 2022-12, with the labels that each got.

#4411 optimize limit push for join case
  datafusion/optimizer/src/limit_push_down.rs
Labels: optimizer

#4429 The CLI panics when passing an invalid explain query
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#4445 Improve error handling for array downcasting
  datafusion/common/src/cast.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/row/src/writer.rs
Labels: physical-expr, core

#4395 Add sqllogictests (v0)
  .github/workflows/rust.yml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/.gitignore
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/src/utils.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
Labels: core

#4456 Make `datafusion-sql` depend on `arrow-schema` instead of `arrow`
  datafusion-cli/Cargo.lock
  datafusion/sql/Cargo.toml
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql

#4446 Replace `&Option<T>` with `Option<&T>`
  datafusion-examples/examples/custom_datasource.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/statistics.rs
  datafusion/expr/src/type_coercion/other.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#4453 replace the comparator for `decimal array op scalar` using arrow kernel
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#4441 Refactor Builtin Window Function Implementation
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr

#4427 Expose remaining parquet config options into ConfigOptions (try 2)
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/flight_server.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/core/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/proto/src/logical_plan.rs
  docs/source/user-guide/configs.md
Labels: api change, core

#4425 Fix `push down limit` regression when meet SubqueryAlias
  datafusion/core/src/datasource/view.rs
  datafusion/optimizer/src/limit_push_down.rs
Labels: optimizer, core

#4472 Drive sqllogictest runner on directory contents rather than hard coded list
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
Labels: core

#4470 Prepare for 15.0.0 Release
  .gitignore
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4455 Fix output_partitioning(), output_ordering(), equivalence_properties() in WindowAggExec, shift the Column indexes
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#4458 Replace `&Option<T>` with `Option<&T>` part 2
  datafusion/jit/src/jit.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/to_proto.rs
Labels: physical-expr

#4340 Minor: use upstream RowSelection code from arrow `intersect_row_selection`
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#4447 fix `push_down_filter` for pushing filters on grouping columns rather than aggregate columns
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#4461 Fix `Cte` in `from` clause with duplicated cte name
  datafusion/core/tests/sqllogictests/test_files/cte.slt
  datafusion/sql/src/planner.rs
Labels: sql, core

#4467 Improve parquet partition_file output display
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
Labels: core

#4496 Support `insert into` statement in sqllogictest
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/src/error.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/sqllogictests/src/insert/util.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/insert.slt
Labels: core, sqllogictest

#4501 Add empty string normalization to sqllogictests
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/normalize.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/core/tests/sqllogictests/test_files/misc.slt
Labels: core

#4503 Refactor code for `insert` in sqllogictest
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/src/error.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
Labels: core, sqllogictest

#4511 Make window function related struct public for ballista.
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/rank.rs
Labels: physical-expr

#4514 Remove interior mutability of `MemTable`
  datafusion/core/src/datasource/memory.rs
  datafusion/core/tests/sqllogictests/src/error.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
Labels: core, sqllogictest

#4510 minor: rename `push_down_limit`
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#4493 Improve error handling for array downcasting
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/row/src/writer.rs
Labels: physical-expr, core

#4516 Remove Option from window frame
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_frame.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#4489 Minor: Update docstrings and comments to aggregate code
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/expr/src/accumulator.rs
Labels: logical-expr, core

#4451 refactor code about `subquery_alias` and `expr-alias`.
  benchmarks/src/bin/tpch.rs
  benchmarks/src/tpch.rs
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, logical-expr, optimizer, core

#4463 minor: remove redundant `unwrap()`
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/dataframe.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer, core

#4505 Add some more aggregate sqllogictests and remove rust tests
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#4497 sqllogictest: A logging and command line filter
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/main.rs
Labels: core, sqllogictest

#4492 Unify most of `SessionConfig` settings into `ConfigOptions`
  benchmarks/src/bin/tpch.rs
  datafusion/core/benches/sort_limit_query_sql.rs
  datafusion/core/src/config.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core

#4487 fix `push_down_projection` push redundant columns.
  benchmarks/expected-plans/q11.txt
  benchmarks/expected-plans/q15.txt
  benchmarks/expected-plans/q2.txt
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer, core

#4520 refactor: make Ctes a struct to also store data types provided by prepare stmt
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/sql/src/planner.rs
Labels: sql, core, sqllogictest

#4508 Add get_window_frame in window_expr, show frame info in window_agg_exec
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sql/window.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core

#4527 shouldn't add `outer_query_schema` in `sql_select_to_rex`
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#4385 `date_part` support fractions of second
  benchmarks/src/tpch.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core

#4538 refactor: remove redundant `build_join_schema()`
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: optimizer

#4541 MINOR: add some comments about intended use of ChunkedStore
  datafusion/core/src/physical_plan/file_format/chunked_store.rs
Labels: core

#4530 Fix querying and defining table / view names with period
  datafusion/common/src/dfschema.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: api change, sql, logical-expr, core, sqllogictest

#4312 Support type coercion for timestamp and utf8
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#4540 fix: remove TODOs linked to arrow#3147
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
Labels: physical-expr

#4490 feat: support prepare statement
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/prepare.slt
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest

#4544 MINOR: move sqllogictest to dev-dependencies
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
Labels: core

#4548 Fix date_part/extract functions to support now()
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core

#4555 fix: remove wrong comment about `having`
  datafusion/sql/src/planner.rs
Labels: sql

#4559 refactor code about `query -> plan` for subqueries
  datafusion/sql/src/planner.rs
Labels: sql

#4432 Remove the schema checking when creating `CrossJoinExec`
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#4488 Fix panic in median "AggregateState is not a scalar aggregate"
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr, core, sqllogictest

#4547 bump sqllogictest to 0.9.0
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/normalize.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/misc.slt
Labels: core, sqllogictest

#4443 Add support for non-column key for equijoin when eliminating cross join to inner join
  datafusion/core/tests/sql/joins.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#4535 Move some create/drop tests to `ddl.slt`
  datafusion/core/tests/data/partitioned_table/c_date=2018-11-13/timestamps.csv
  datafusion/core/tests/data/partitioned_table/c_date=2018-12-13/timestamps.csv
  datafusion/core/tests/data/timestamps.csv
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: core, sqllogictest

#4572 Remove Confusing "Bare" in does not exist messages
  datafusion/common/src/table_reference.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/sql/src/planner.rs
Labels: sql, core, sqllogictest

#4577 Minor: Add test case for reduce cross join
  datafusion/core/tests/sql/joins.rs
Labels: core

#4566 Avoid materializing local varaibles when creating `sortMergeJoinExec`
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
Labels: core

#4519 Enrich filter statistics with known column boundaries
  datafusion/core/src/physical_plan/filter.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr, core

#4578 Output sqllogictests with arrow display rather than CSV writer
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/normalize.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/prepare.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#4568 Update sqlparser requirement from 0.27 to 0.28
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core, sqllogictest

#4579 bugfix: just allow having use expr in `groupby` or `aggr`
  datafusion/core/tests/sql/group_by.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4561 feat: prepare logical plan to logical plan without params/placeholders
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4534 Minor: Avoid cloning as many `Ident` during SQL planning
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr

#4569 Minor: Add tests for date interval predicate handling
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#4583 Move subset of select tests to sqllogic
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/select.slt
Labels: core, sqllogictest

#4553 feat: user-defined aggregate function(UDAF) as window function
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/expr/src/window_function.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4588 Improve error handling for array downcasting
  datafusion/physical-expr/src/unicode_expressions.rs
Labels: physical-expr

#4574 Preserve the TryCast expression in columnize_expr
  datafusion/expr/src/utils.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#4589 Minor: Remove datafusion-core dev dependency from datafusion-sql
  datafusion/core/tests/sql/udf.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
Labels: sql, core

#4546 minor: Remove more clones from the planner
  datafusion/common/src/column.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr

#4587 Update to arrow v29
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/limit.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4576 refactor: remove redundant `outer_query_schema`
  datafusion/sql/src/planner.rs
Labels: sql

#4590 Fix the bugs in parsing `COMPRESSION TYPE`
  datafusion/sql/src/parser.rs
Labels: sql

#4600 refactor: extract `assert_optimized_plan_eq` from UT.
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#4606 Lazy system tables
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/streaming.rs
Labels: core

#4596 Normalize datafusion configuration names
  datafusion/core/src/config.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#4601 Remove ObjectStore from FileStream (#4533)
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: api change, core

#4582 Remove `AggregateState` wrapper
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/proto/src/lib.rs
Labels: api change, logical-expr, physical-expr, core

#4609 Remove the function `consume_token` from the parser
  datafusion/sql/src/parser.rs
Labels: sql

#4608 Make execute_stream functions sync
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/mod.rs
Labels: api change, core

#4599 add `try_optimize()` for all rules.
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#4614 fix: run logical optimizer rules for `TableScan` expressions
  datafusion/core/tests/sql/subqueries.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer, core

#4560 Write faster kernel for is_distinct
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#4612 refactor: relax the signature of register_* in SessionContext
  datafusion-examples/examples/simple_udf.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core

#4623 MINOR: Fix incorrect config definitions
  datafusion/core/src/config.rs
  docs/source/user-guide/configs.md
Labels: core

#4624 Make DataFrame API consuming (#4621)
  datafusion-examples/examples/custom_datasource.rs
  datafusion-examples/examples/dataframe.rs
  datafusion-examples/examples/deserialize_to_struct.rs
  datafusion-examples/examples/flight_server.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/select.rs
Labels: api change, core

#4619 FOLLOWUP: remove `optimize()`
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer, core

#4634 unwrap_cast_in_comparison.rs: support unint <-> decimal
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#4642 Refactor Expr::TryCast to use a struct
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/from_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#4651 Improve group by hash performance: avoid group-key/-state clones for hash-groupby
  datafusion/core/src/physical_plan/aggregates/hash.rs
Labels: core

#4652 fix `cargo clippy` warning
  datafusion/core/benches/sql_planner.rs
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/expr/src/field_util.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/grouping.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/type_coercion.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#4632 Make LogicalPlanBuilder consuming (#4622)
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, logical-expr, optimizer, core

#4657 Use thiserror in sqllogictest erorr
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/error.rs
Labels: core, sqllogictest

#4645 Make OptimizerConfig a trait (#4631) (#4638)
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/optimizer/README.md
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: api change, optimizer, core

#4586 Add need_data_exchange in the ExecutionPlan to indicate whether a physical operator needs data exchange
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/explain_analyze.rs
Labels: core

#4618 Optimizer: avoid every rule must recursive children in optimizer
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#4633 DataFrame owned SessionState
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
Labels: api change, core

#4602 Refactor: Change equijoin keys from column to expression in logical join
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, optimizer, core

#4521 Fix limited statistic collection accross files with no stats
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
Labels: core

#4637 Detect invalid (unsupported) compression types when parsing
  datafusion/common/src/parsers.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/src/logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4663 Refactor Expr::Sort to use struct
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/utils.rs
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#4664 Fix CoalesceBatches elasped_compute metric
  datafusion/core/src/physical_plan/coalesce_batches.rs
Labels: core

#4648 replace the arithmetic op for decimal array op decimal array using arrow kernel
  datafusion/core/tests/sql/decimal.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core

#4522 Simplify MemoryManager
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/memory_manager/mod.rs
  datafusion/core/src/execution/memory_pool/mod.rs
  datafusion/core/src/execution/memory_pool/pool.rs
  datafusion/core/src/execution/memory_pool/proxy.rs
  datafusion/core/src/execution/mod.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/metrics/composite.rs
  datafusion/core/src/physical_plan/metrics/tracker.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  test-utils/src/data_gen.rs
Labels: core

#4643 Avoid generate duplicate sort Keys from Window Expressions, fix bug when decide Window Expressions ordering
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, physical-expr, core

#4662 More descriptive error for plus/minus between timestamps/dates
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#4671 Refactor Expr::AggregateFunction and Expr::WindowFunction to use struct
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#4650 remove recursion in optimizer rules
  benchmarks/expected-plans/q20.txt
  datafusion/core/tests/sql/subqueries.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/test/mod.rs
Labels: logical-expr, optimizer, core

#4562 feat: support nested loop join with the initial version
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4666 Support type coercion for equijoin
  datafusion/core/tests/sql/joins.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#4682 Add line that prevents display_name from being called on Wildcard
  datafusion/expr/src/expr.rs
Labels: logical-expr

#4679 Deprecate SessionContext::create_logical_plan (#4617)
  benchmarks/src/bin/nyctaxi.rs
  benchmarks/src/bin/tpch.rs
  benchmarks/src/tpch.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sql/wildcard.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/statistics.rs
  datafusion/proto/examples/logical_plan_serde.rs
  datafusion/proto/examples/physical_plan_serde.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: core

#4676 Support `NTILE` window function
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/window_function.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/ntile.rs
Labels: logical-expr, physical-expr, core

#4696 MINOR: Remove where_clause_object_safety clippy ignore (#3081)
  datafusion/core/src/lib.rs
Labels: core

#4698 Make SessionContext members private
  benchmarks/src/bin/tpch.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: api change, core

#4699 Push SessionState into FileFormat (#4349)
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/statistics.rs
Labels: api change, core

#4665 Add `--complete` auto completion mode to `sqllogictests`
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/error.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: core, sqllogictest

#4687 FOLLOWUP: remove more recursion in optimizer rules.
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#4712 Don't share ConfigOptions (#3886)
  benchmarks/src/bin/parquet_filter_pushdown.rs
  benchmarks/src/bin/tpch.rs
  datafusion-examples/examples/flight_server.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/config.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/row.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  parquet-test-utils/src/lib.rs
Labels: api change, core

#4702 Avoid to bypass `try_new/new()` to build plan directly and cleanup filter
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer, core

#4661 Stream CSV file during schema inference
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#4717 Minor: refactor streaming CSV inference code
  datafusion/core/src/datasource/file_format/csv.rs
Labels: core

#4713 Eagerly construct PagePruningPredicate
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#4722 Dynamic information_schema configuration and port more tests
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
Labels: core, sqllogictest

#4691 Unnecessary SortExec removal rule from Physical Plan
  datafusion/common/src/lib.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimize_sorts.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_frame.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
Labels: logical-expr, physical-expr, core

#4737 Extended datatypes & signatures support for `NULLIF` function
  datafusion/core/tests/sqllogictests/test_files/nullif.slt
  datafusion/expr/src/nullif.rs
  datafusion/physical-expr/src/expressions/nullif.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#4726 Implement cast between Date and Timestamp
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr, core

#4730 Create writer with `arrow::ipc::IPCWriteOptions`
  datafusion/core/src/physical_plan/common.rs
Labels: core

#4711 Move the extract_join_keys to optimizer
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/sql/src/planner.rs
Labels: sql, optimizer

#4735 refactor: parallelize `parquet_exec` test case `single_file`
  datafusion/core/tests/parquet/filter_pushdown.rs
Labels: core

#4736 minor: improve debug logging for pruning predicates
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#4738 minor: Support more data type for `null_counts` in the `PruningStatistics`
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#4750 Set query_execution_start_time on snapshot from SessionContext (#4747)
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/physical-expr/src/execution_props.rs
Labels: physical-expr, core

#4714 Reorder the physical plan optimizer rules, extract `GlobalSortSelection`, make `Repartition` optional
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/union.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#4739 Minor: use a common method to check the validate of equijoin predicate
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
Labels: logical-expr, optimizer

#4749 Decouple physical optimizer from SessionConfig (#3887)
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/optimize_sorts.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: api change, core

#4741 revert some code for #4726 / remove unnecessary coercion in physical plans
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr

#4694 Support for executing infinite files and boundedness-aware join reordering rule
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/row.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  parquet-test-utils/src/lib.rs
Labels: core

#4733 fix: add one more projection to recover output schema
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer, core

#4731 remove `SubqueryFilterToJoin`
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/subquery_filter_to_join.rs
Labels: optimizer

#4745 Minor: comments about coercion in physical planner
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr

#4743 Simplify parquet filter predicate test, fix Page Filtering Incorrectly Handles Pages with Different Row Counts
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/page_pruning.rs
  parquet-test-utils/src/lib.rs
  test-utils/src/data_gen.rs
Labels: core

#4751 Deprecate SessionContext physical plan methods (#4617)
  benchmarks/src/bin/tpch.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/explain.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/tpcds_planning.rs
Labels: api change, core

#4764 Make SessionState members private
  benchmarks/src/bin/tpch.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/parquet/page_pruning.rs
Labels: api change, core

#4746 Append generated column to the schema instead of prepending for WindowAggExec
  datafusion/core/src/physical_optimizer/optimize_sorts.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#4646 simplify regex expressions
  datafusion-cli/Cargo.lock
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
Labels: optimizer

#4755 Add alias check for equijoin in from_plan
  datafusion/core/tests/sql/joins.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: logical-expr, optimizer, core

#4748 minor: Improve docstrings
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/table_reference.rs
  datafusion/common/src/test_util.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_frame.rs
  datafusion/sql/src/parser.rs
Labels: sql, logical-expr

#4768 Add a new open source project that is use DataFusion as query engine
  README.md
Labels: documentation

#4757 Remove the config datafusion.execution.coalesce_target_batch_size and use datafusion.execution.batch_size instead
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/config_from_env.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#4753 Take the top level `schema` into account when creating `UnionExec`
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/tests/sql/union.rs
Labels: core

#4774 refactor: extract `parse_value`
  datafusion/sql/src/planner.rs
Labels: sql
