Repository apache/datafusion, pull requests merged in 2022-02, with the labels that each got.

#1723 minor: fix `cargo run --release` error
  datafusion/src/physical_plan/tdigest/mod.rs
Labels: datafusion

#1719 Convert boolean case expressions to boolean logic
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion

#1720 substitute `parking_lot::Mutex` for `std::sync::Mutex`
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/client/src/context.rs
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/src/bin/nyctaxi.rs
  benchmarks/src/bin/tpch.rs
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/Cargo.toml
  datafusion/benches/aggregate_query_sql.rs
  datafusion/benches/math_query_sql.rs
  datafusion/benches/sort_limit_query_sql.rs
  datafusion/benches/window_query_sql.rs
  datafusion/src/catalog/catalog.rs
  datafusion/src/catalog/schema.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/execution/disk_manager.rs
  datafusion/src/execution/memory_manager.rs
  datafusion/src/physical_plan/cross_join.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/physical_plan/sorts/mod.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/tests/custom_sources.rs
  datafusion/tests/parquet_pruning.rs
  datafusion/tests/sql/aggregates.rs
  datafusion/tests/sql/avro.rs
  datafusion/tests/sql/errors.rs
  datafusion/tests/sql/explain_analyze.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/parquet.rs
  datafusion/tests/sql/timestamp.rs
Labels: ballista, datafusion

#1717 Add Expression Simplification API
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/tests/simplification.rs
Labels: datafusion

#1711 Add tests and CI for optional pyarrow module
  .github/workflows/rust.yml
  datafusion/src/pyarrow.rs
Labels: datafusion

#1732 Prevent repartitioning of certain operator's direct children (#1731)
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/limit.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/union.rs
Labels: datafusion, api change

#1726 API to get Expr's type and nullability without a `DFSchema`
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
Labels: datafusion

#1739 Fix typos in crate documentation
  datafusion/src/lib.rs
Labels: datafusion

#1737 add `cargo check --release` to ci
  .github/workflows/rust.yml
Labels: datafusion

#1742 Move optimize test out of context.rs
  datafusion/src/execution/context.rs
  datafusion/tests/sql/explain.rs
  datafusion/tests/sql/mod.rs
Labels: datafusion

#1749 use clap 3 style args parsing for datafusion cli
  datafusion-cli/Cargo.toml
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/functions.rs
  datafusion-cli/src/lib.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/print_format.rs
Labels: datafusion

#1743 Move more tests out of context.rs
  datafusion/src/execution/context.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/partitioned_csv.rs
  datafusion/tests/sql/projection.rs
  datafusion/tests/sql/select.rs
Labels: datafusion

#1756 Use ordered-float 2.10
  datafusion/Cargo.toml
Labels: datafusion

#1769 #1768 Support TimeUnit::Second in hasher
  datafusion/src/physical_plan/hash_utils.rs
Labels: datafusion

#1745 move some contents from readme into user guide
  README.md
  docs/source/index.rst
  docs/source/specification/quarterly_roadmap.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#1734 Create built-in scalar functions programmatically
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion

#1747 fix: Case insensitive unquoted identifiers in SQL
  datafusion/src/execution/context.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion, sql

#1758 [split/2] move column and dfschema to datafusion-common module
  datafusion-common/src/column.rs
  datafusion-common/src/dfschema.rs
  datafusion-common/src/lib.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/dfschema.rs
  datafusion/src/logical_plan/expr.rs
Labels: datafusion

#1760 [split/4] move scalar value to datafusion-common
  datafusion-common/Cargo.toml
  datafusion-common/src/error.rs
  datafusion-common/src/lib.rs
  datafusion-common/src/pyarrow.rs
  datafusion-common/src/scalar.rs
  datafusion/src/lib.rs
  datafusion/src/scalar.rs
Labels: datafusion

#1761 [split/5] move window frame and operator to datafusion-expr module
  datafusion-expr/Cargo.toml
  datafusion-expr/src/lib.rs
  datafusion-expr/src/operator.rs
  datafusion-expr/src/window_frame.rs
  datafusion/src/logical_plan/operators.rs
  datafusion/src/logical_plan/window_frames.rs
Labels: datafusion

#1763 [split/6] move signature, type signature, volatility to datafusion-expr
  datafusion-expr/src/lib.rs
  datafusion-expr/src/signature.rs
  datafusion/src/physical_plan/functions.rs
Labels: datafusion

#1774 [split/10] split up expr for rewriting, visiting, and simplification traits
  datafusion/src/datasource/listing/helpers.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/logical_plan/expr_simplier.rs
  datafusion/src/logical_plan/expr_visitor.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/sql/utils.rs
  datafusion/tests/simplification.rs
Labels: datafusion, sql

#1764 [split/7] move built-in scalar function to datafusion-expr
  datafusion-expr/src/built_in_function.rs
  datafusion-expr/src/lib.rs
  datafusion/src/physical_plan/functions.rs
Labels: datafusion

#1784 [split/11] split expr type and null info to be expr-schemable
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/logical_plan/expr_schema.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/tests/simplification.rs
Labels: datafusion

#1781 rewrite predicates before pushing to union inputs
  datafusion/src/optimizer/filter_push_down.rs
Labels: datafusion

#1765 [split/8] move `Accumulator` and `ColumnarValue` to datafusion-expr
  datafusion-expr/src/accumulator.rs
  datafusion-expr/src/columnar_value.rs
  datafusion-expr/src/lib.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/mod.rs
Labels: datafusion

#1789 Add logging to datafusion-cli
  datafusion-cli/Cargo.toml
  datafusion-cli/src/main.rs
Labels: datafusion

#1790 tweak doc publishing instructions
  docs/README.md
Labels: documentation, development-process

#1729 Add approx-median operator
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  datafusion-expr/src/aggregate_function.rs
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/mod.rs
  datafusion/src/optimizer/to_approx_perc.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/src/physical_plan/coercion_rule/aggregate_rule.rs
  datafusion/src/physical_plan/expressions/approx_median.rs
  datafusion/src/physical_plan/expressions/mod.rs
  datafusion/tests/sql/aggregates.rs
Labels: documentation, ballista, datafusion

#1787 Less verbose plans in debug logging
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/planner.rs
Labels: datafusion

#1794 [split/13] move rest of expr to expr_fn in datafusion-expr module
  datafusion-expr/src/accumulator.rs
  datafusion-expr/src/aggregate_function.rs
  datafusion-expr/src/built_in_function.rs
  datafusion-expr/src/columnar_value.rs
  datafusion-expr/src/expr.rs
  datafusion-expr/src/expr_fn.rs
  datafusion-expr/src/function.rs
  datafusion-expr/src/literal.rs
  datafusion-expr/src/operator.rs
  datafusion-expr/src/signature.rs
  datafusion-expr/src/udaf.rs
  datafusion-expr/src/udf.rs
  datafusion-expr/src/window_frame.rs
  datafusion-expr/src/window_function.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/operators.rs
Labels: datafusion

#1766 TPC-H benchmark can optionally write JSON output file with benchmark summary
  benchmarks/Cargo.toml
  benchmarks/src/bin/tpch.rs
  datafusion/src/lib.rs
Labels: datafusion

#1677 Abstract over logical and physical plan representations in Ballista
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/executor/src/executor_server.rs
  ballista/rust/executor/src/main.rs
  ballista/rust/executor/src/standalone.rs
  ballista/rust/scheduler/src/api/handlers.rs
  ballista/rust/scheduler/src/api/mod.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/mod.rs
  benchmarks/src/bin/tpch.rs
Labels: ballista

#1793 Update datafusion versions
  ballista/rust/client/Cargo.toml
  ballista/rust/client/README.md
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/Cargo.toml
Labels: ballista, datafusion

#1797 rename references of expr in logical plan module after datafusion-expr split
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/registry.rs
Labels: datafusion

#1803 Update versions for split crates
  datafusion-common/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion/Cargo.toml
Labels: datafusion

#1715 Create ListingTableConfig which includes file format and schema inference
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  benchmarks/src/bin/tpch.rs
  datafusion/benches/sort_limit_query_sql.rs
  datafusion/src/datasource/listing/mod.rs
  datafusion/src/datasource/listing/table.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/tests/path_partition.rs
Labels: ballista, datafusion

#1808 Ensure most of links in docs are correct
  datafusion-expr/src/expr.rs
  datafusion-expr/src/signature.rs
  datafusion/src/catalog/information_schema.rs
  datafusion/src/datasource/object_store/mod.rs
  datafusion/src/lib.rs
  datafusion/src/logical_plan/expr.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/hyperloglog/mod.rs
  datafusion/src/physical_plan/metrics/mod.rs
  datafusion/src/physical_plan/metrics/tracker.rs
  datafusion/src/physical_plan/metrics/value.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/tdigest/mod.rs
  datafusion/src/physical_plan/window_functions.rs
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1796 Update to sqlparser 0.14
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion/Cargo.toml
  datafusion/src/sql/planner.rs
Labels: ballista, datafusion, sql

#1811 Fixup some doc warnings
  datafusion-common/src/dfschema.rs
  datafusion/src/logical_plan/expr_simplier.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/physical_plan/expressions/approx_percentile_cont.rs
  datafusion/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: datafusion

#1817 update README for ballista
  ballista/rust/core/README.md
Labels: ballista

#1822 Update README.md for datafusion-ruby
  README.md
Labels: documentation

#1775 Update datafusion to use arrow 9.0.0
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion/Cargo.toml
  datafusion/fuzz-utils/Cargo.toml
Labels: ballista, datafusion

#1807 Update CHANGELOG.md, update release scripts
  CHANGELOG.md
  datafusion/CHANGELOG.md
  dev/release/README.md
  dev/release/update_change_log-all.sh
  dev/release/update_change_log-python.sh
  dev/release/update_change_log.sh
Labels: datafusion

#1828 Final CHANGELOG touchups for 7.0.0
  datafusion/CHANGELOG.md
Labels: datafusion

#1829 Add RAT to dependabot config
  .github/dependabot.yml
Labels: datafusion, development-process

#1779 The returned path value of get_by_uri should be self-described with entire path
  datafusion/src/datasource/object_store/local.rs
  datafusion/src/datasource/object_store/mod.rs
Labels: datafusion

#1834 protobuf OctetLength should be deserialized as octet_length, not length
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
Labels: ballista

#1798 rename references of expr in physical plan module after datafusion-expr split
  datafusion-expr/src/lib.rs
  datafusion/src/physical_plan/coercion_rule/binary_rule.rs
  datafusion/src/physical_plan/expressions/binary.rs
  datafusion/src/physical_plan/expressions/case.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/filter.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/physical_plan/windows/aggregate.rs
  datafusion/src/physical_plan/windows/mod.rs
Labels: datafusion

#1816 Make ballista support an optional feature to datafusion-cli
  .github/workflows/rust.yml
  datafusion-cli/Cargo.toml
  datafusion-cli/src/context.rs
Labels: datafusion

#1738 Add parquet SQL benchmarks
  datafusion/Cargo.toml
  datafusion/benches/parquet_query_sql.rs
  datafusion/benches/parquet_query_sql.sql
  dev/release/rat_exclude_files.txt
Labels: datafusion, development-process

#1837 Return `Error` when parquet reader fails rather than no data with `println!`
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1810 Refactor scheduler state with different management policy for volatile and stable states
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor.rs
  ballista/rust/executor/src/executor_server.rs
  ballista/rust/executor/src/lib.rs
  ballista/rust/executor/src/main.rs
  ballista/rust/executor/src/standalone.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#1838 Add benchmarks section to DEVELOPERS.md
  DEVELOPERS.md
  datafusion/benches/parquet_query_sql.rs
Labels: documentation, datafusion

#1839 Fix compiling ballista in standalone mode, add build to CI
  .github/workflows/rust.yml
  ballista/rust/client/src/context.rs
Labels: ballista

#1846 move some tests out of context and into sql
  datafusion/src/execution/context.rs
  datafusion/tests/sql/create_drop.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/order.rs
  datafusion/tests/sql/parquet.rs
  datafusion/tests/sql/partitioned_csv.rs
  datafusion/tests/sql/select.rs
  datafusion/tests/sql/udf.rs
Labels: ballista, datafusion

#1475 Use`eq_dyn`, `neq_dyn`, `lt_dyn`, `lt_eq_dyn`, `gt_dyn`, `gt_eq_dyn` kernels from arrow
  datafusion/src/physical_plan/expressions/binary.rs
Labels: ballista, datafusion

#1845 Fix warnings with default features disabled
  datafusion/src/sql/planner.rs
  datafusion/tests/dataframe_functions.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/unicode.rs
Labels: datafusion, sql, development-process

#1867 platform aware partition parsing
  datafusion/src/datasource/listing/helpers.rs
Labels: datafusion

#1866 Add doc for building `datafusion-cli` when connect the ballista
  datafusion-cli/README.md
  docs/source/user-guide/cli.md
Labels: documentation, datafusion

#1874 Update index.rst
  docs/source/python/index.rst
Labels: documentation

#1886 Make parquet support optional for datafusion-common crate
  datafusion-common/Cargo.toml
  datafusion-common/src/error.rs
  datafusion/Cargo.toml
Labels: datafusion

#1878 Update datafusion-cli allocator
  datafusion-cli/Cargo.toml
  datafusion-cli/src/main.rs
Labels: datafusion, performance

#1855 Fix incorrect aggregation in case that GROUP BY contains duplicate column names
  datafusion/src/physical_plan/hash_aggregate.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/tests/sql/aggregates.rs
Labels: bug, datafusion

#1853 Remove allow unused imports from ballista-core, then fix all warnings
  ballista/rust/core/src/client.rs
  ballista/rust/core/src/config.rs
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/core/src/serde/logical_plan/from_proto.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/logical_plan/to_proto.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/core/src/serde/scheduler/from_proto.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/core/src/serde/scheduler/to_proto.rs
  ballista/rust/core/src/utils.rs
Labels: ballista

#1892 [split/17] move the rest of physical expr to datafusion-physical-expr crate
  datafusion-physical-expr/Cargo.toml
  datafusion-physical-expr/src/aggregate_expr.rs
  datafusion-physical-expr/src/array_expressions.rs
  datafusion-physical-expr/src/coercion_rule/aggregate_rule.rs
  datafusion-physical-expr/src/coercion_rule/mod.rs
  datafusion-physical-expr/src/crypto_expressions.rs
  datafusion-physical-expr/src/datetime_expressions.rs
  datafusion-physical-expr/src/expressions/cume_dist.rs
  datafusion-physical-expr/src/expressions/lead_lag.rs
  datafusion-physical-expr/src/expressions/nth_value.rs
  datafusion-physical-expr/src/expressions/rank.rs
  datafusion-physical-expr/src/expressions/row_number.rs
  datafusion-physical-expr/src/functions.rs
  datafusion-physical-expr/src/lib.rs
  datafusion-physical-expr/src/math_expressions.rs
  datafusion-physical-expr/src/regex_expressions.rs
  datafusion-physical-expr/src/sort_expr.rs
  datafusion-physical-expr/src/string_expressions.rs
  datafusion-physical-expr/src/unicode_expressions.rs
  datafusion-physical-expr/src/window/aggregate.rs
  datafusion-physical-expr/src/window/built_in.rs
  datafusion-physical-expr/src/window/mod.rs
  datafusion-physical-expr/src/window/partition_evaluator.rs
  datafusion/Cargo.toml
  datafusion/src/physical_plan/aggregate_rule.rs
  datafusion/src/physical_plan/functions.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/src/physical_plan/windows/mod.rs
Labels: datafusion
