Repository apache/datafusion, pull requests merged in 2022-03, with the labels that each got.

#1883 Separate cpu-bound (query-execution) and IO-bound(heartbeat) to …
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/src/cpu_bound_executor.rs
  ballista/rust/executor/src/executor_server.rs
  ballista/rust/executor/src/lib.rs
Labels: ballista

#1851 Update to arrow 9.1.0
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion-physical-expr/Cargo.toml
  datafusion/Cargo.toml
  datafusion/fuzz-utils/Cargo.toml
Labels: ballista, datafusion

#1891 Avoid unnecessary branching in row read/write if schema is null-free
  datafusion/benches/jit.rs
  datafusion/src/row/mod.rs
  datafusion/src/row/reader.rs
  datafusion/src/row/writer.rs
Labels: datafusion

#1899 Update crate descriptions
  datafusion-cli/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion-jit/Cargo.toml
  datafusion-physical-expr/Cargo.toml
Labels: datafusion

#1884 remove sync constraint of SendableRecordBatchStream
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/core/src/utils.rs
  datafusion/src/physical_plan/mod.rs
Labels: ballista, datafusion, api change

#1903 Updated Rust version to 1.59 in all the files
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion-common/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion-jit/Cargo.toml
  datafusion-physical-expr/Cargo.toml
  datafusion/Cargo.toml
  dev/docker/ballista-base.dockerfile
Labels: ballista, datafusion

#1875 Add support for `~/.datafusionrc` and cli option for overriding it to datafusion-cli
  datafusion-cli/Cargo.toml
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
Labels: datafusion

#1904 Fixed : Rust version requirement is not mentioned in the developer's guide.
  DEVELOPERS.md
Labels: documentation

#1907 Clippy fix on nightly
  ballista/rust/core/src/execution_plans/distributed_query.rs
  ballista/rust/core/src/execution_plans/shuffle_reader.rs
  ballista/rust/executor/src/cpu_bound_executor.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  datafusion-physical-expr/src/tdigest/mod.rs
  datafusion/src/datasource/file_format/parquet.rs
  datafusion/src/datasource/mod.rs
  datafusion/src/logical_plan/extension.rs
  datafusion/src/physical_plan/hash_utils.rs
Labels: ballista, datafusion

#1901 support extract second and minute in expr.
  datafusion-physical-expr/src/datetime_expressions.rs
  datafusion/tests/sql/expr.rs
Labels: datafusion

#1876 support bitwise or/'|' operation
  datafusion-expr/src/operator.rs
  datafusion-physical-expr/src/coercion_rule/binary_rule.rs
  datafusion-physical-expr/src/expressions/binary.rs
  datafusion/src/sql/planner.rs
Labels: enhancement, datafusion, sql

#1831 determine build side in hash join by `total_byte_size` instead of `num_rows`
  datafusion/src/physical_optimizer/hash_build_probe_order.rs
  datafusion/src/physical_plan/mod.rs
Labels: datafusion

#1863 Enhance MemorySchemaProvider to support `register_listing_table`
  datafusion/src/catalog/schema.rs
Labels: datafusion

#1917 Rename DEVELOPERS.md to CONTRIBUTING.md and added introduction
  .github/workflows/dev.yml
  CONTRIBUTING.md
  README.md
  docs/source/community/communication.md
Labels: documentation, development-process

#1911 Refactor scheduler server
  ballista/rust/client/src/context.rs
  ballista/rust/scheduler/scheduler_config_spec.toml
  ballista/rust/scheduler/src/api/handlers.rs
  ballista/rust/scheduler/src/api/mod.rs
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/scheduler_server/external_scaler.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#1860 Increase default partition column type from Dict(UInt8) to Dict(UInt16)
  datafusion/src/physical_plan/file_format/mod.rs
Labels: datafusion

#1929 Fix JIT configs for aarch64
  datafusion-jit/src/jit.rs
Labels: bug

#1922 Add write_csv to DataFrame
  datafusion/src/dataframe.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/mod.rs
Labels: datafusion

#1898 Remove uneeded Mutex in Ballista Client
  ballista/rust/core/src/client.rs
Labels: ballista, datafusion

#1869 [Minor] Clean up DecimalArray API Usage
  datafusion-common/src/lib.rs
  datafusion-common/src/scalar.rs
  datafusion-physical-expr/src/coercion_rule/binary_rule.rs
  datafusion-physical-expr/src/expressions/average.rs
  datafusion-physical-expr/src/expressions/cast.rs
  datafusion-physical-expr/src/expressions/min_max.rs
  datafusion-physical-expr/src/expressions/sum.rs
  datafusion/src/physical_plan/hash_utils.rs
  datafusion/src/scalar.rs
  datafusion/src/sql/utils.rs
Labels: ballista, datafusion, sql

#1938 Fix select from EmptyExec always return 0 row.
  ballista/rust/client/src/context.rs
  datafusion/src/physical_plan/empty.rs
Labels: ballista, datafusion

#1933 Add debug log when waiting for spilling on other consumers
  datafusion/src/execution/memory_manager.rs
Labels: datafusion

#1919 fix a typo
  ballista/rust/executor/src/cpu_bound_executor.rs
  datafusion-common/src/dfschema.rs
Labels: ballista

#1940 Add write_parquet to `DataFrame`
  datafusion/src/dataframe.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1783 Enable periodic cleanup of work_dir directories in ballista executor
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/executor/src/main.rs
Labels: ballista

#1958 fix logical conflict with protobuf
  ballista/rust/core/proto/ballista.proto
Labels: ballista

#1951 minor code refinement: `if_exists` name change, wildcard field for logical plan, etc.
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1961 Update README: link to datafusion-bigtable repo
  README.md
Labels: documentation

#1912 Refactor the event channel
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/event_loop.rs
  ballista/rust/core/src/lib.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/scheduler_server/event_loop.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/scheduler_server/task_scheduler.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#1960 PruningPredicate should take owned Expr
  datafusion-jit/src/jit.rs
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#1946 Add examples to use MemTable and TableProvider (#1864)
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/custom_datasource.rs
  datafusion-examples/examples/memtable.rs
Labels: documentation, datafusion

#1925 Fix ambiguous reference error in filter plan
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/tests/dataframe.rs
Labels: bug, datafusion

#1913 Refactor scheduler state mod
  ballista/rust/scheduler/scheduler_config_spec.toml
  ballista/rust/scheduler/src/lib.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/scheduler_server/event_loop.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/standalone.rs
  ballista/rust/scheduler/src/state/backend/etcd.rs
  ballista/rust/scheduler/src/state/backend/mod.rs
  ballista/rust/scheduler/src/state/backend/standalone.rs
  ballista/rust/scheduler/src/state/in_memory_state.rs
  ballista/rust/scheduler/src/state/mod.rs
  ballista/rust/scheduler/src/state/persistent_state.rs
  ballista/rust/scheduler/src/state/task_scheduler.rs
Labels: ballista

#1914 add metadata to DFSchema, close #1806.
  datafusion-common/src/dfschema.rs
  datafusion-proto/src/from_proto.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
Labels: ballista, datafusion, sql

#1970 Address typo in ExprVisitable trait documentation
  datafusion/src/logical_plan/expr_visitor.rs
Labels: datafusion

#1975 Avoid an Arc::clone per row in benchmark
  datafusion/src/row/writer.rs
Labels: datafusion, performance

#1978 Add ticket reference to clippy allow
  datafusion-proto/src/from_proto.rs
Labels: datafusion, sql

#1993 Fix typos (Datafusion -> DataFusion)
  CHANGELOG.md
  CONTRIBUTING.md
  ballista/rust/core/src/execution_plans/mod.rs
  conbench/benchmarks.py
  datafusion-physical-expr/src/expressions/cast.rs
  datafusion/CHANGELOG.md
  datafusion/src/execution/context.rs
  datafusion/src/physical_plan/planner.rs
  dev/release/README.md
  dev/release/create-tarball.sh
  dev/release/release-tarball.sh
  docs/README.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/specification/output-field-name-semantic.md
  docs/source/specification/quarterly_roadmap.md
  docs/source/specification/rfcs/template.md
  docs/source/user-guide/sql/datafusion-functions.md
Labels: documentation, ballista, datafusion

#1989 Add missing aggr_expr to PhysicalExprNode for Ballista.
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
Labels: ballista

#1935 Introduce query stage scheduler
  ballista/rust/core/src/event_loop.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/scheduler_server/query_stage_scheduler.rs
Labels: ballista

#1943 Allow different types of query variables (`@@var`) rather than just string
  datafusion-expr/src/expr.rs
  datafusion-proto/src/to_proto.rs
  datafusion/src/datasource/listing/helpers.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/logical_plan/expr_schema.rs
  datafusion/src/logical_plan/expr_visitor.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
  datafusion/src/test/variable.rs
  datafusion/src/variable/mod.rs
Labels: ballista, datafusion, sql

#1995 Fix minor clippy issue
  ballista/rust/core/src/event_loop.rs
Labels: ballista

#1981 Remove some more unecessary cloning in sql_expr_to_logical_expr
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
Labels: datafusion, sql

#1996 Correct documentation of ExprVisitor
  datafusion/src/logical_plan/expr_visitor.rs
Labels: datafusion

#2001 fix: preserve metadata in proto
  datafusion-proto/proto/datafusion.proto
  datafusion-proto/src/from_proto.rs
  datafusion-proto/src/to_proto.rs
Labels: bug

#2002 Eliminate the scalar value filter
  datafusion/src/execution/context.rs
  datafusion/src/optimizer/eliminate_filter.rs
  datafusion/src/optimizer/mod.rs
Labels: datafusion

#1998 Merge dataframe and dataframe imp
  ballista/rust/client/src/context.rs
  datafusion-cli/src/context.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion/src/dataframe.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/dataframe_impl.rs
  datafusion/src/execution/mod.rs
  datafusion/tests/dataframe_functions.rs
Labels: ballista, datafusion, api change

#2018 Automatically test examples in user guide
  datafusion/src/lib.rs
Labels: datafusion

#2017 return VecDeque for DFParser::parse_sql
  datafusion-cli/src/helper.rs
  datafusion/src/execution/context.rs
  datafusion/src/sql/parser.rs
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#1991 Add doc for EXTRACT, date_part
  docs/source/user-guide/sql/datafusion-functions.md
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#2006 Fix stuck issue for the load testing of Push-based task scheduling
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/scheduler/src/scheduler_server/event_loop.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/query_stage_scheduler.rs
  ballista/rust/scheduler/src/state/in_memory_state.rs
  ballista/rust/scheduler/src/state/mod.rs
Labels: ballista

#2013 Substitute HDFS objectstore plugin
  README.md
Labels: documentation

#2008 Support more ScalarFunction in Ballista
  ballista/rust/core/proto/datafusion.proto
  datafusion-expr/src/expr_fn.rs
  datafusion-proto/proto/datafusion.proto
  datafusion-proto/src/from_proto.rs
  datafusion-proto/src/to_proto.rs
  datafusion/src/logical_plan/mod.rs
Labels: ballista, datafusion

#1983 Introduce StageManager for managing tasks stage by stage
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/scheduler_server/event.rs
  ballista/rust/scheduler/src/scheduler_server/event_loop.rs
  ballista/rust/scheduler/src/scheduler_server/external_scaler.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/mod.rs
  ballista/rust/scheduler/src/scheduler_server/query_stage_scheduler.rs
  ballista/rust/scheduler/src/state/executor_manager.rs
  ballista/rust/scheduler/src/state/mod.rs
  ballista/rust/scheduler/src/state/persistent_state.rs
  ballista/rust/scheduler/src/state/stage_manager.rs
  ballista/rust/scheduler/src/state/task_scheduler.rs
Labels: ballista, performance

#1959 Add Create Schema functionality in SQL
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  datafusion/src/catalog/catalog.rs
  datafusion/src/catalog/information_schema.rs
  datafusion/src/catalog/mod.rs
  datafusion/src/catalog/schema.rs
  datafusion/src/execution/context.rs
  datafusion/src/logical_plan/mod.rs
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/projection_push_down.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/tests/sql/information_schema.rs
Labels: enhancement, ballista, datafusion, api change, sql

#2030 fix: replace `ExecutionContex` and `ExecutionConfig` with `SessionContext` and `SessionConfig`
  datafusion/src/execution/context.rs
Labels: bug, datafusion

#2028 Simplify prerequisites for running examples
  CONTRIBUTING.md
  ballista-examples/README.md
  ballista-examples/src/bin/ballista-dataframe.rs
  ballista-examples/src/bin/ballista-sql.rs
  datafusion-examples/examples/avro_sql.rs
  datafusion-examples/examples/dataframe.rs
  datafusion-examples/examples/flight_client.rs
  datafusion-examples/examples/flight_server.rs
  datafusion-examples/examples/parquet_sql.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  docs/source/user-guide/distributed/clients/rust.md
Labels: ballista, datafusion

#2034 Revise document of installing ballista pinned to specified version
  ballista/rust/client/README.md
  docs/source/user-guide/distributed/deployment/cargo-install.md
Labels: documentation, ballista

#2037 Change the code location and add annotation
  datafusion/src/sql/planner.rs
Labels: datafusion, sql

#2039 fix bug the optimizer rule filter push down
  datafusion/src/optimizer/filter_push_down.rs
Labels: bug, datafusion

#2024 Use SessionContext to parse Expr protobuf
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/mod.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  datafusion-proto/proto/datafusion.proto
  datafusion-proto/src/from_proto.rs
  datafusion-proto/src/lib.rs
  datafusion-proto/src/to_proto.rs
Labels: ballista

#2020 Replace usage of `println!` with logger macros
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#2033 use cargo-tomlfmt to check Cargo.toml formatting in CI
  .github/workflows/rust.yml
  Cargo.toml
  ballista-examples/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion-jit/Cargo.toml
  datafusion-physical-expr/Cargo.toml
  datafusion/Cargo.toml
  datafusion/fuzz-utils/Cargo.toml
Labels: ballista, datafusion

#2046 Chore: tune log level, lint
  datafusion/src/dataframe.rs
  datafusion/src/physical_plan/file_format/parquet.rs
Labels: development-process

#2047 minor: format comments (`//` to `// `)
  ballista/rust/core/src/error.rs
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/execution_plans/unresolved_shuffle.rs
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/executor/src/cpu_bound_executor.rs
  ballista/rust/executor/src/execution_loop.rs
  ballista/rust/executor/src/executor_server.rs
  ballista/rust/scheduler/src/main.rs
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/scheduler_server/query_stage_scheduler.rs
  datafusion-expr/src/built_in_function.rs
  datafusion-physical-expr/src/expressions/distinct_expressions.rs
  datafusion-physical-expr/src/tdigest/mod.rs
  datafusion-proto/src/from_proto.rs
  datafusion-proto/src/lib.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/optimizer/single_distinct_to_groupby.rs
  datafusion/src/physical_optimizer/coalesce_batches.rs
  datafusion/tests/sql/expr.rs
  datafusion/tests/sql/mod.rs
Labels: ballista, datafusion

#2050 Add test in register_catalog and change to use named symbolic constants
  datafusion/src/execution/context.rs
Labels: datafusion

#2048 Update to arrow/parquet 11.0
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/src/flight_service.rs
  datafusion-cli/Cargo.toml
  datafusion-common/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-expr/Cargo.toml
  datafusion-physical-expr/Cargo.toml
  datafusion/Cargo.toml
  datafusion/fuzz-utils/Cargo.toml
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/sorts/sort.rs
  datafusion/tests/parquet_pruning.rs
Labels: ballista, datafusion

#2023 Add `write_json`, `read_json`, `register_json`, and `JsonFormat` to `CREATE EXTERNAL TABLE` functionality
  datafusion/src/dataframe.rs
  datafusion/src/execution/context.rs
  datafusion/src/execution/options.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/physical_plan/file_format/json.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/tests/jsons/3.json
  datafusion/tests/sql/json.rs
  datafusion/tests/sql/mod.rs
Labels: enhancement, datafusion

#2052 Allow `CatalogProvider::register_catalog` to return an error
  datafusion/src/catalog/catalog.rs
  datafusion/src/catalog/information_schema.rs
  datafusion/src/catalog/schema.rs
  datafusion/src/execution/context.rs
  datafusion/tests/sql/information_schema.rs
Labels: datafusion

#2060 Change log level for noisy logs
  ballista/rust/scheduler/src/state/stage_manager.rs
  ballista/rust/scheduler/src/state/task_scheduler.rs
Labels: ballista

#2012 Qualified wildcard
  datafusion-common/src/dfschema.rs
  datafusion-expr/src/expr.rs
  datafusion/src/datasource/listing/helpers.rs
  datafusion/src/logical_plan/builder.rs
  datafusion/src/logical_plan/expr_rewriter.rs
  datafusion/src/logical_plan/expr_schema.rs
  datafusion/src/logical_plan/expr_visitor.rs
  datafusion/src/optimizer/common_subexpr_eliminate.rs
  datafusion/src/optimizer/simplify_expressions.rs
  datafusion/src/optimizer/utils.rs
  datafusion/src/physical_plan/planner.rs
  datafusion/src/sql/planner.rs
  datafusion/src/sql/utils.rs
  datafusion/tests/sql/mod.rs
  datafusion/tests/sql/wildcard.rs
Labels: enhancement, datafusion, sql

#2063 Change the DataFusion explain plans to make it clearer in the predicate/filter
  datafusion/src/logical_plan/plan.rs
  datafusion/src/optimizer/filter_push_down.rs
  datafusion/tests/sql/explain_analyze.rs
Labels: enhancement, datafusion

#2031 #2004 approx percentile with weight
  datafusion-expr/src/aggregate_function.rs
  datafusion-expr/src/expr_fn.rs
  datafusion-physical-expr/src/coercion_rule/aggregate_rule.rs
  datafusion-physical-expr/src/expressions/approx_percentile_cont.rs
  datafusion-physical-expr/src/expressions/approx_percentile_cont_with_weight.rs
  datafusion-physical-expr/src/expressions/mod.rs
  datafusion-physical-expr/src/tdigest/mod.rs
  datafusion-proto/proto/datafusion.proto
  datafusion-proto/src/from_proto.rs
  datafusion-proto/src/to_proto.rs
  datafusion/src/physical_plan/aggregates.rs
  datafusion/tests/sql/aggregates.rs
Labels: datafusion

#2070 [Bug][Datafusion] fix TaskContext session_config bug
  .github/workflows/rust.yml
  ballista-examples/Cargo.toml
  ballista-examples/examples/test_sql.rs
  datafusion/src/execution/context.rs
Labels: ballista, datafusion

#2085 minor: remove repeated test
  datafusion/src/optimizer/simplify_expressions.rs
Labels: datafusion

#2077 Fix lost filters and projections in ParquetExec, CSVExec etc
  datafusion/src/physical_optimizer/pruning.rs
  datafusion/src/physical_optimizer/repartition.rs
  datafusion/src/physical_plan/file_format/csv.rs
  datafusion/src/physical_plan/file_format/mod.rs
  datafusion/src/physical_plan/file_format/parquet.rs
  datafusion/src/physical_plan/mod.rs
  datafusion/tests/sql/explain_analyze.rs
  datafusion/tests/user_defined_plan.rs
Labels: datafusion

#2098 [Ballista] Support Union in ballista.
  ballista/rust/client/src/context.rs
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/logical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  datafusion/src/physical_plan/union.rs
Labels: enhancement, ballista, datafusion

#2082 2078 docs for approx functions
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#2104 doc: separate and fix link for `extract` and `date_part`
  docs/source/user-guide/sql/datafusion-functions.md
  docs/source/user-guide/sql/sql_status.md
Labels: documentation

#2103 Create jit-expression from datafusion expression
  datafusion/jit/Cargo.toml
  datafusion/jit/src/ast.rs
  datafusion/jit/src/lib.rs
Labels: datafusion

#2121 minor: replace array_equals in case evaluation with eq_dyn from arrow-rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: datafusion

#2120 Serialize timezone in timestamp scalar values
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/from_proto.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/to_proto.rs
Labels: datafusion

#2119 minor: fix some clippy warnings from nightly rust
  datafusion/core/src/dataframe.rs
Labels: datafusion

#2118 Fix case evaluation with NULLs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: datafusion

#2126 Minor: make disk_manager public
  datafusion/core/src/execution/mod.rs
Labels: datafusion

#2127 Minor add clarifying comment in parquet
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: datafusion

#2124 JIT-compille DataFusion expression with column name
  datafusion/jit/Cargo.toml
  datafusion/jit/src/ast.rs
  datafusion/jit/src/lib.rs
Labels: datafusion
