Repository apache/datafusion, pull requests merged in 2023-09, with the labels that each got.

#7417 ScalarFunctionExpr Maintaining Order
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: physical-expr, sqllogictest

#7457 Bug-fix/find_orderings_of_exprs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#7479 Return error if spill file does not exist in ExternalSorter
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#7475 cp_solver, Duration vs Interval cases
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/mod.rs
  datafusion/physical-expr/src/intervals/utils.rs
Labels: physical-expr, core

#7444 feat: Allow creating a ValuesExec from record batches
  datafusion/core/src/physical_plan/values.rs
Labels: core

#7396 Make `LogicalPlan::with_new_exprs,` deprecate `from_plan`
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: logical-expr, optimizer

#7477 refactor: change file type logic for create table
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  docs/source/user-guide/sql/ddl.md
Labels: sql

#7455 minor: do not fail analyzer if subquery plan contains extension
  datafusion/optimizer/src/analyzer/subquery.rs
Labels: optimizer

#7449 Make IN expr work with multiple items
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/sqllogictest/test_files/predicates.slt
Labels: physical-expr, sqllogictest

#7434 Add backtrace to error messages
  datafusion-cli/src/helper.rs
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/tests/config_from_env.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/sql_api.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/execution/src/disk_manager.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/execution/src/object_store.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/window_frame.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/query.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest

#7462 Make sqllogictest platform-independent for the sign of NaN
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: sqllogictest

#7466 Support Configuring Parquet Column Specific Options via SQL Statement Options
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/common/src/file_options/parse_utils.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sqllogictest

#7498 Minor: improve error message
  datafusion/sql/src/parser.rs
Labels: sql

#7483 Write Multiple Parquet Files in Parallel
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#7494 `PrimitiveGroupsAccumulator` should propagate timestamp timezone information properly
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/prim_op.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: physical-expr

#7492 Minor: Add `ScalarValue::data_type()` for consistency with other APIs
  datafusion/common/src/scalar.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/sql/src/expr/value.rs
Labels: sql, logical-expr, physical-expr, optimizer

#7459 feat: explain with statistics
  datafusion/common/src/config.rs
  datafusion/common/src/stats.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7496 fix: incorrect nullability calculation of `InListExpr`
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, sqllogictest

#7508 Prepare 31.0.0 release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/31.0.0.md
  docs/source/user-guide/configs.md
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#7503 fix: inconsistent behaviors when dividing floating numbers by zero
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: optimizer, sqllogictest

#7452 Parallelize Stateless (CSV/JSON) File Write Serialization
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
Labels: core

#7514 Remove implicit interval type coercion from ScalarValue comparison
  datafusion/common/src/scalar.rs
Labels: api change

#7507 Minor: deprecate ScalarValue::get_datatype()
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/tests/path_partition.rs
  datafusion/expr/src/columnar_value.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, core

#7510 Propagate error from spawned task reading spills
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/test/exec.rs
Labels: core

#7488 Refactor the EnforceDistribution Rule
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/sqllogictest/test_files/decimal.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/intersection.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/tpch/drop_tables.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#7487 Remove get_scan_files and ExecutionPlan::file_scan_config (#7357)
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_plan/mod.rs
Labels: api change, core

#7515 Fix some simplification rules for floating-point arithmetic operations
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: optimizer, sqllogictest

#7520 Documentation Updates for New Write Related Features
  docs/source/user-guide/sql/ddl.md
  docs/source/user-guide/sql/dml.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/write_options.md
Labels: documentation

#7539 [MINOR]: Move tests from repartition to enforce_distribution file
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/repartition.rs
Labels: core

#7541 Update the async-trait crate to resolve clippy bug
  datafusion/core/Cargo.toml
Labels: core

#7534 Fix flaky `test_sort_fetch_memory_calculation` test
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#7545 Move common code to utils
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/utils.rs
Labels: core

#7526 Minor: Add comments and clearer constructors to `Interval`
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
Labels: physical-expr

#7529 fix: skip EliminateCrossJoin rule if inner join with filter is found
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: optimizer

#7467 feat: add guarantees to simplification
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
Labels: enhancement, physical-expr, optimizer

#7542 [Minor]: Produce better plan when group by contains all of the ordering requirements
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: physical-expr, core, sqllogictest

#7554 Minor: beautify interval display
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
Labels: physical-expr

#7560 replace ptree with termtree
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/aggregates/topk/heap.rs
Labels: core

#7538 Fix a race condition issue on reading spilled file
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/execution/src/disk_manager.rs
Labels: core

#7558 [MINOR]: Add is single method
  datafusion/core/src/physical_plan/aggregates/mod.rs
Labels: core

#7441 Fix `describe <table>` to work without SessionContext
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/describe.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/sql/describe.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, core

#7543 Make the tests in SHJ faster
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/test_utils.rs
Labels: core

#7400 feat: Support spilling for hash aggregation
  datafusion/core/src/physical_plan/aggregates/group_values/mod.rs
  datafusion/core/src/physical_plan/aggregates/group_values/primitive.rs
  datafusion/core/src/physical_plan/aggregates/group_values/row.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/order/partial.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
Labels: physical-expr, core

#7527 Make backtrace as a cargo feature
  .github/workflows/rust.yml
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
Labels: core

#7572 Minor: Fix `clippy` by switching to `timestamp_nanos_opt` instead of (deprecated) `timestamp_nanos`
  datafusion-cli/Cargo.lock
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/metrics/value.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr, optimizer, core

#7565 First and Last Accumulators should update with state row excluding is_set flag
  datafusion/physical-expr/src/aggregate/first_last.rs
Labels: physical-expr

#7561 refactor: simplify code of eliminate_cross_join.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: logical-expr, optimizer

#7575 Minor: Update chrono pin to `0.4.31`
  Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: physical-expr, optimizer, core, sqllogictest, substrait

#7570 [feat] Introduce cacheManager in session ctx and make StatisticsCache share in session
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/cache/cache_manager.rs
  datafusion/execution/src/cache/cache_unit.rs
  datafusion/execution/src/cache/mod.rs
  datafusion/execution/src/lib.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: core

#7566 Enhance/Refactor Ordering Equivalence Properties
  datafusion/common/src/stats.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/partitioning.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#7586 fix misplaced statements in sqllogictest
  datafusion/sqllogictest/test_files/encoding.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/set_variable.slt
Labels: sqllogictest

#7401 Implement `CardinalityAwareRowConverter` while doing streaming merge
  datafusion-cli/Cargo.lock
  datafusion/core/tests/memory_limit.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/row_converter.rs
  datafusion/physical-plan/src/sorts/stream.rs
Labels: core

#7562 Parallelize Parquet Serialization
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7568 feat: natively support more data types for the `abs` function.
  datafusion/core/tests/sql/mod.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/decimal.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest

#7577 implement string_to_array
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#7609 Fix panic in TopK
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#7596 Move `FileCompressionType` out of `common` and into `core`
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/csv_sql.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/file_options/file_type.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_compression_type.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core

#7595 feat: Parallel collecting parquet files statistics #7573
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7616 Support hashing List columns
  datafusion/expr/src/utils.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: logical-expr, physical-expr, sqllogictest

#7610 [MINOR] Make the sink input aware of its plan
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#7622 Group By All
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: sql, sqllogictest

#7557 Implement protobuf serialization for `(Bounded)WindowAggExec`.
  datafusion/physical-expr/src/aggregate/regr.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr

#7625 Make it possible to compile datafusion-common without default features
  datafusion/common/src/file_options/file_type.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/common/src/file_options/parse_utils.rs
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, sqllogictest

#7614 fix(5975/5976): timezone handling for timestamps and `date_trunc`, `date_part` and `date_bin`
  datafusion-cli/Cargo.lock
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#7630 Minor: remove unecessary `Arc`s in datetime_expressions
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#7587 Update arrow 47.0.0 in DataFusion
  .github/workflows/docs_pr.yaml
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/flight_sql_server.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/sql/select.rs
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/datum.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/row_converter.rs
  datafusion/physical-plan/src/sorts/stream.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: api change, physical-expr, optimizer, core

#7654 Minor: improve docstrings on `SessionState`
  datafusion/core/src/execution/context.rs
Labels: core

#7648 feat: make parse_float_as_decimal work on negative numbers
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sqllogictest/test_files/options.slt
Labels: sql, sqllogictest

#7658 Minor: add doc comments to `ExtractEquijoinPredicate`
  datafusion/optimizer/src/extract_equijoin_predicate.rs
Labels: optimizer

#7667 [MINOR]: Do not add unnecessary hash repartition to the physical plan
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
Labels: core

#7592 Minor: add ticket references to parallel parquet writing code
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#7672 Move window analysis to the window method
  datafusion/common/src/utils.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
Labels: core

#7670 Don't add filters to projection in TableScan
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: logical-expr, optimizer, core

#7685 Minor: Improve `TableProviderFilterPushDown` docs
  datafusion/expr/src/table_source.rs
Labels: logical-expr

#7701 FIX: Test timestamp with table
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#7699 Fix bug in `SimplifyExpressions`
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer

#7671 Enhance Enforce Dist capabilities to fix, sub optimal bad plans
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#7669 fix: substrait limit when fetch is None
  datafusion/physical-plan/src/limit.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#7682 minor: revert parsing precedence between Aggr and UDAF
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/sql/src/expr/function.rs
Labels: sql, core

#7684 Minor: Move hash utils to common
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/hash_utils.rs
  datafusion/common/src/lib.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: physical-expr

#7692 Update Default Parquet Write Compression
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sqllogictest
