Repository apache/datafusion, pull requests merged in 2023-03, with the labels that each got.

#5437 add expr_fn::median
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#5435 add mean result for describe method
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
Labels: core

#5419 refactor: ParquetExec logical expr. => phys. expr.
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/row.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  parquet-test-utils/src/lib.rs
Labels: physical-expr, core

#5322 Support for Sliding Windows Joins with Symmetric Hash Join (SHJ)
  datafusion-cli/Cargo.lock
  datafusion/common/src/scalar.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/fifo.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/mod.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: logical-expr, physical-expr, core

#5440 minor: fix clippy in nightly.
  datafusion-cli/src/exec.rs
  datafusion-cli/src/object_storage.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/row/src/writer.rs
Labels: physical-expr, core

#5432 create new `datafusion-execution` crate, start splitting code out
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/execution/mod.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/disk_manager.rs
  datafusion/execution/src/lib.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/execution/src/memory_pool/proxy.rs
  datafusion/execution/src/registry.rs
  dev/release/README.md
Labels: core

#5443 add a unit test that cover cast bug.
  datafusion/physical-expr/src/expressions/cast.rs
Labels: physical-expr

#5315 Use compute_op_dyn_scalar for datatime
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#5434 minor: Port more window tests to sqlogictests
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#5460 Upgrade bytes to 1.4
  datafusion/core/Cargo.toml
Labels: core

#5458 build(deps): update zstd requirement from 0.11 to 0.12
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
Labels: core

#5408 refactor count_distinct to not to have update and merge
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: physical-expr

#5433 Parquet sorting benchmark
  benchmarks/README.md
  benchmarks/src/bin/parquet.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  parquet-test-utils/src/lib.rs
Labels: core

#5328 [feat]:fast check has column
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
Labels: logical-expr, optimizer

#5421 Implement/fix Eq and Hash for Expr and LogicalPlan
  datafusion/common/src/dfschema.rs
  datafusion/common/src/parsers.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/signature.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer, core

#5446 Fix is_distinct from for float NaN values
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core, sqllogictest

#5465 `compute_decimal_op_dyn_scalar` should not cast lhs array to decimal array
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#5474 refactor: make sum_distinct not to have update and merge
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
Labels: physical-expr

#5452 fix: build union schema with child has same column name but qualifier…
  datafusion/core/tests/sql/union.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, optimizer, core

#5448 feat: express unsigned literal in substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/data.csv
Labels: substrait

#5481 Propagate timezone to created arrays
  datafusion/common/src/scalar.rs
  datafusion/core/tests/parquet/data/timestamp_with_tz.parquet
  datafusion/core/tests/sql/parquet.rs
Labels: core

#5462 feat: eliminate the duplicated sort keys in Order By clause
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer, core, sqllogictest

#5468 Apply workaround for #5444 to `DataFrame::describe`
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
Labels: core

#5476 feat: Support bitwise operations for unsigned integer types
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5489 Implement `Debug` for `ExecutionProps` and `VarProvider`
  datafusion/core/src/test/variable.rs
  datafusion/physical-expr/src/execution_props.rs
  datafusion/physical-expr/src/var_provider.rs
Labels: api change, physical-expr, core

#5455 chore: Remove references from SessionState from physical_plan
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: api change, core

#5423 feat: add optimization rules for bitwise operations
  datafusion/common/src/scalar.rs
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/simplify_expressions/context.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: logical-expr, optimizer, core

#5477 Minor: Move TableProviderFactories up out of `RuntimeEnv` and into `SessionState`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: api change, core

#5491 feat: interval add timestamp
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/planner.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5515 Minor: Improve docs for UserDefinedLogicalNode `dyn_eq` and `dyn_hash`
  datafusion/common/src/config.rs
  datafusion/expr/src/logical_plan/extension.rs
Labels: documentation, logical-expr

#5497 Allow setting config extensions for TaskContext
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
Labels: core

#5457 build(deps): update sqlparser requirement from 0.30 to 0.32 w/ API update
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/planner.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, core

#5166 feat: add `arrow_cast` function to support supports arbitrary arrow types
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/tests/integration_test.rs
  docs/source/user-guide/sql/data_types.md
Labels: sql, core, sqllogictest

#5490 Memory limited hash join
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#5531 fix: hash_join tests with passing boolean by value
  datafusion/core/src/physical_plan/joins/hash_join.rs
Labels: core

#5478 Minor: Move `ObjectStoreRegistry` to datafusion_execution crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/runtime_env.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/lib.rs
  datafusion/execution/src/object_store.rs
Labels: core

#5514 fix: return schema of ExtensionPlan instead of its children's
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#5533 revert accidently deleted size code in count_distinct
  datafusion/physical-expr/src/aggregate/count_distinct.rs
Labels: physical-expr

#5521 Add UserDefinedLogicalNodeCore
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer, core

#5537 Minor: add the concise way for matching numerics
  datafusion/expr/src/type_coercion/aggregates.rs
Labels: logical-expr

#5540 Add necessary features to optimizer
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
Labels: optimizer, core

#5345 Refactor DecorrelateWhereExists and add back Distinct if needs
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#5511 Simplify simplify test cases, support `^`, `&`, `|`, `<<` and `>>` operators for building exprs
  datafusion/expr/src/operator.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: logical-expr, optimizer

#5553 minor: improve sqllogictest docs
  datafusion/core/tests/sqllogictests/README.md
Labels: core, sqllogictest

#5552 Remove unused dependencies found by cargo-machete
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: logical-expr, physical-expr, core, substrait

#5485 make AggregateStatistics return the same result whether optimizer disabled or enabled
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/select.rs
Labels: core

#5536 Avoid circular(ish) dependency parquet-test-utils on datafusion, try 2
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/src/bin/parquet.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/test_util/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/physical-expr/src/functions.rs
  parquet-test-utils/Cargo.toml
Labels: physical-expr, core

#5509 Enforce ambiguity check whilst normalizing columns
  datafusion/common/src/column.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, optimizer, core, substrait

#5542 fix: failed to execute sql with subquery
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer, core, sqllogictest

#5517 fix: cast literal to timestamp
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#5555 feat: extract (epoch from col)
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core

#5577 Minor: improve docstrings for `ObjectStoreRegistry` and `ObjectStoreProvider`
  datafusion/execution/src/object_store.rs
Labels: documentation

#5580 Minor: Move RuntimeEnv to `datafusion_execution`
  datafusion/core/src/execution/mod.rs
  datafusion/execution/src/lib.rs
  datafusion/execution/src/runtime_env.rs
Labels: core

#5520 INSERT INTO support for MemTable
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core, sqllogictest

#5579 Minor: restore explicit match to help avoid subtle bugs in the future when new `Expr` variants are added
  datafusion/expr/src/utils.rs
Labels: logical-expr

#5560 refactor: add more error info when array is empty
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr, core, sqllogictest

#5564 Memory limited nested-loop join
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/execution/src/memory_pool/mod.rs
Labels: core

#5343 Support catalog.schema.table.column in SQL SELECT and WHERE
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/table_reference.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
  docs/source/user-guide/example-usage.md
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest

#5599 Minor: clean up aggregates.slt tests
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#5574 Minor: Port more aggregate tests to sqllogictests
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#5567 minor: port some join tests to sqllogictests
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/core/tests/sqllogictests/test_files/join_disable_repartition_joins.slt
Labels: core, sqllogictest

#5545 Support arbitrary user defined partition column in `ListingTable` (rather than assuming they are always Dictionary encoded)
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: api change, core, sqllogictest

#5516 feat: add the similar optimization function for bitwise negative
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer

#5578 Clarify differences of DataFusion with other systems in README.md
  README.md
Labels: documentation

#5576 Minor: Add more documentation about table_partition_columns
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#5570 Add Analyzer phase to DataFusion , add basic validation logic to Subquery Plans and Expressions
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/analyzer.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/rewrite.rs
Labels: optimizer, core

#5615 Use TableReference for TableScan
  datafusion/common/src/dfschema.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, optimizer, core, substrait

#5611 Preserve casts in rewrite_sort_cols_by_aggs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr

#5587 Do not break pipeline for window queries with GROUPS
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/core/tests/window_fuzz.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
Labels: physical-expr, core, sqllogictest

#5585 fix dataframe only boolean/binary column got error on describe
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
Labels: core

#5607 [FOLLOWUP] eliminate the duplicated sort keys in Order By clause
  datafusion/core/tests/sql/order.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
Labels: optimizer, core

#5629 Update default behaviour of compression algorithms (support multistreams)
  datafusion/core/src/datasource/file_format/file_type.rs
Labels: core

#5634 Use modulus dyn kernels for arithmetic expressions
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#5638 Minor: reduce cloning in `infer_placeholder_types`
  datafusion/common/src/error.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql

#5581 Move `SessionConfig` to `datafusion_execution`
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/execution/src/config.rs
  datafusion/execution/src/lib.rs
Labels: core, sqllogictest

#5640 Update the type of `param_values` to `&[ScalarValue]` in function `replace_params_with_values`
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#5618 WITH ORDER support on CREATE EXTERNAL TABLE
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/tests/sql/order.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  docs/source/user-guide/sql/ddl.md
Labels: sql, logical-expr, core

#5624 Median returns null on empty input instead of error
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr, core, sqllogictest

#5632 feat: Memory limited merge join
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/metrics/value.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#5659 Minor: Simplify `Result<T, DataFusionError>`
  datafusion/common/src/cast.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/proto/src/common.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: logical-expr, physical-expr, optimizer, core

#5137 Substrait: Add cast expression with bool, integers and decimal128 support
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#5643 Support `date_bin` with 2 arguments
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5623 Add LogicalPlanSignature and use in the optimizer loop
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/plan_signature.rs
Labels: optimizer

#5671 fix: correct CountWildcardRule and move analyzer into a new directory.
  datafusion/core/tests/dataframe.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/lib.rs
Labels: optimizer, core

#5559 improve: support combining multiple grouping expressions
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core, sqllogictest

#5543 Change ObjectStoreRegistry from struct to trait to provide polymorphism
  datafusion-cli/src/main.rs
  datafusion-cli/src/object_storage.rs
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/query-aws-s3.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/path_partition.rs
  datafusion/execution/src/object_store.rs
  datafusion/execution/src/runtime_env.rs
Labels: core

#5676 Minor: Add `Extensions::new()`
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
Labels: core

#5680 minor: add with_plan for Subquery
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: logical-expr, optimizer

#5673 minor: reduce replication in `date_bin` implementation
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#5670 Fixes #5500 - Add a GitHub Actions workflow that builds the docs
  .asf.yaml
  .github/workflows/docs.yaml
  docs/source/_templates/docs-sidebar.html
Labels: development-process

#5653 Substrait: Add support for WindowFunction
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#5606 create table default to null
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/describe.slt
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
Labels: sql, core, sqllogictest

#5687 Minor: Document docs build process
  docs/README.md
Labels: documentation

#5698 feat: `date_bin` supports MonthDayNano, microsecond and nanosecond units
  datafusion/common/src/parsers.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5696 Return plan error when adding utf8 and timestamp
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core, sqllogictest

#5683 analyzer: move InlineTableScan into Analyzer.
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#5705 minor: Add doc comments to clarify what Analyzer is for
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#5712 Prepare 21.0.0 release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#5710 Fix parquet pruning when column names have periods
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: bug, core

#5709 Executing LocalLimitExec with no column should not return an Err
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/test/mod.rs
Labels: core

#5703 Minor: Comments to .asf.yaml
  .asf.yaml
Labels: development-process

#5726 Minor: Trigger docs CI build on changes to asf.yaml
  .github/workflows/docs.yaml
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#5724 Use consistent arrow version
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/tests/sql/set_variable.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
Labels: logical-expr, core

#5723 LIMIT edge cases
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/sql/src/query.rs
Labels: sql, core, sqllogictest

#5736 Put the file "type_coercion" in the same named fold and rename the file "mod.rs"
  datafusion/expr/src/type_coercion/mod.rs
Labels: logical-expr

#5716 fix: parse table name into TableReference on converting substrait read
  datafusion/common/src/table_reference.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
  datafusion/substrait/tests/serialize.rs
Labels: substrait

#5740 Minor: port select tests to sqllogictests
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sqllogictests/test_files/select.slt
Labels: core, sqllogictest

#5728 Minor: Reduce clones in AnalyzerRule
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
Labels: api change, optimizer

#5707 Upgrade to substrait 0.5.1 and set the version field of produced plans
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#5743 Move and rename `expr_rewriter.rs`
  datafusion/expr/src/expr_rewriter/mod.rs
Labels: logical-expr

#5685 Update to arrow 36
  Cargo.toml
  benchmarks/src/bin/tpch.rs
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/object_storage.rs
  datafusion/common/src/scalar.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr, optimizer, core, sqllogictest

#5761 Minor: Avoid an unecessary contruction in `map_children` some extra plan construction
  datafusion/expr/src/tree_node/plan.rs
Labels: logical-expr

#5765 Backport: Use consistent arrow version (do not use both `arrow` `34.0.0` and `arrow-array` `35.0.0`) (#5724)
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/tests/sql/set_variable.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
Labels: logical-expr, core

#5766 Backport: Update version and Changelog for `21.1.0`
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/update_datafusion_versions.py
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#5748 infer right side nullability for LEFT join
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/push_down_projection.rs
Labels: logical-expr, optimizer, core, sqllogictest

#5769 MINOR: simplify sqllogic test schema check
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
Labels: core, sqllogictest

#5780 chore: update sql function documentation
  docs/build.sh
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#5795 Minor: fix docs build
  docs/build.sh
Labels: documentation

#5794 Minor: use workspace arrow-array rather than hard coded 34
  datafusion-cli/Cargo.lock
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr

#5798 Bump substrait version to 0.6.0
  datafusion/substrait/Cargo.toml
Labels: substrait

#5792 Support `INTERVAL` SQL Type
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/sql/src/planner.rs
  docs/source/user-guide/sql/data_types.md
Labels: sql, core, sqllogictest

#5805 Minor: fix flaking test
  datafusion/core/tests/sqllogictests/test_files/interval.slt
Labels: core, sqllogictest

#5809 Minor: remove typed_min_max_batch_decimal128
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: physical-expr

#5803 Minor: clean up timestamp arithmetic tests
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest
