Repository apache/datafusion, pull requests merged in 2023-12, with the labels that each got.

#8369 Document timestamp input limits
  datafusion/physical-expr/src/datetime_expressions.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: physical-expr

#8371 fix: make `ntile` work in some corner cases
  datafusion/expr/src/window_function.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, physical-expr, sqllogictest

#8381 Minor: Refactor array_union function to use a generic union_arrays function
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8387 Minor: Refactor function argument handling in `ScalarFunctionDefinition`
  datafusion/expr/src/expr_schema.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#8291 Materialize dictionaries in group keys
  datafusion/core/tests/path_partition.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#8320 Rewrite `array_ndims` to fix List(Null) handling
  datafusion/common/src/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8337 Avoid concat for `array_replace`
  datafusion/core/Cargo.toml
  datafusion/core/benches/array_expression.rs
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core

#8121 feat: support `LargeList` in `make_array` and `array_length`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8404 remove `unalias` TableScan filters when create Physical Filter
  datafusion-cli/src/exec.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core

#8384 Support named query parameters
  datafusion/common/src/lib.rs
  datafusion/common/src/param_value.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core

#8389 Minor: Add installation link to README.md
  README.md
  docs/source/user-guide/cli.md
Labels: documentation

#8410 Update code comment for the cases of regularized RANGE frame and add tests for ORDER BY cases with RANGE frame
  datafusion/expr/src/window_frame.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, sqllogictest

#8418 Minor: Add example with parameters to LogicalPlan
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#8394 Minor: Improve `PruningPredicate` documentation
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core, devrel

#8322 feat: support `LargeList` for `array_has`, `array_has_all` and `array_has_any`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8408 Union `schema` can't be a subset of the child schema
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/union.slt
Labels: core, sqllogictest

#8364 Move `PartitionSearchMode` into datafusion_physical_plan, rename to `InputOrderMode`
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/ordering.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: api change, core

#8243 Make filter selectivity for statistics configurable
  datafusion/common/src/config.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#8429 Minor: Use `ScalarValue::from` impl for strings
  datafusion/common/src/pyarrow.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/test/variable.rs
  datafusion/execution/src/config.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/literal.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/physical-expr/benches/in_list.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/string_agg.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/union.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#8427 Support crossjoin in substrait.
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8425 Fix ambiguous reference when aliasing in combination with `ORDER BY`
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/src/select.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: sql, optimizer, sqllogictest

#8424 Minor: convert marcro `list-slice` and `slice` to function
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8279 feat: Support `array_sort`(`list_sort`)
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8312 Detect when filters on unique constraints make subqueries scalar
  datafusion/common/src/functional_dependencies.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: logical-expr, sqllogictest

#8438 Add alias check to optimize projections merge
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: optimizer, sqllogictest

#8459 Fix bug in optimizing a nested count
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: optimizer, sqllogictest

#8444 fix: ORDER BY window definition should work on null literal
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#8455 flx clippy warnings
  datafusion-examples/examples/custom_datasource.rs
  datafusion-examples/examples/memtable.rs
  datafusion-examples/examples/simple_udtf.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/utils.rs
  datafusion/core/benches/sort_limit_query_sql.rs
  datafusion/core/benches/sql_query_with_io.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/execution/src/cache/cache_unit.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/test/exec.rs
  datafusion/sql/src/relation/mod.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#8445 fix: RANGE frame for corner cases with empty ORDER BY clause should be treated as constant sort
  datafusion/expr/src/window_frame.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, logical-expr, sqllogictest

#8466 [BUG FIX]: Proper Empty Batch handling in window execution
  datafusion/common/src/utils.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#8458 Minor: update `cast`
  datafusion/physical-expr/src/expressions/cast.rs
Labels: physical-expr

#8454 fix: don't unifies projection if expr is non-trival
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: core, sqllogictest

#8356 Add PRIMARY KEY Aggregate support to dataframe API
  datafusion/common/src/dfschema.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest

#8430 Minor: refactor `data_trunc` to reduce duplicated code
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#8377 Add `evaluate_demo` and `range_analysis_demo` to Expr examples
  datafusion-examples/README.md
  datafusion-examples/examples/expr_api.rs
  datafusion/core/src/lib.rs
  datafusion/physical-expr/src/analysis.rs
  docs/source/library-user-guide/working-with-exprs.md
Labels: physical-expr, core, devrel

#8473 Minor: fix function name typo
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#8469 Minor: Fix comment typo in table.rs: s/indentical/identical/
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#8401 Remove `define_array_slice` and reuse `array_slice` for `array_pop_front/back`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: physical-expr

#8434 Minor: refactor `trim` to clean up duplicated code
  datafusion/physical-expr/src/string_expressions.rs
Labels: physical-expr

#8463 Enable non-uniform field type for structs created in DataFusion
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/struct_expressions.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: logical-expr, physical-expr, sqllogictest

#8439 Minor: Add multi ordering test for array agg order
  datafusion/core/tests/data/aggregate_agg_multi_order.csv
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, core, sqllogictest

#6629 Sort filenames when reading parquet to ensure consistent schema
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#8474 Minor: Improve comments in EnforceDistribution tests
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
Labels: core

#8478 fix: support uppercase when parsing `Interval`
  datafusion/sql/src/expr/value.rs
  datafusion/sqllogictest/test_files/interval.slt
Labels: sql, sqllogictest

#8484 Better Equivalence (ordering and exact equivalence) Propagation through ProjectionExec
  datafusion/physical-expr/src/equivalence.rs
Labels: physical-expr

#8423 Add `today` alias for `current_date`
  datafusion/expr/src/built_in_function.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, sqllogictest

#8495 Minor: remove useless clone in `array_expression`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8485 fix: incorrect set preserve_partitioning in SortExec
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: core, sqllogictest

#8519 Minor/Doc: Clarify DataFrame::write_table Documentation
  datafusion/core/src/dataframe/mod.rs
Labels: core

#8521 Change display of RepartitionExec from SortPreservingRepartitionExec to RepartitionExec preserve_order=true
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#8510 Fix `DataFrame::cache` errors with `Plan("Mismatch between schema and batches")`
  datafusion/core/src/dataframe/mod.rs
Labels: core

#8505 Minor: Add repartition_file.slt end to end test for repartitioning files, and supporting tweaks
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: core, sqllogictest

#8508 Prepare version 34.0.0
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  dev/changelog/34.0.0.md
  docs/Cargo.toml
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest

#8515 refactor: use ExprBuilder to consume substrait expr and use macro to generate error
  datafusion/common/src/error.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#8525 [MINOR]: Make some slt tests deterministic
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/groupby.slt
Labels: sqllogictest

#8520 fix: volatile expressions should not be target of common subexpt elimination
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: logical-expr, optimizer, sqllogictest

#8533 Fix regression with Incorrect results when reading parquet files with different schemas and statistics
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/sqllogictest/test_files/schema_evolution.slt
Labels: core, sqllogictest

#8539 Defer file creation to write
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/physical_planner.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
  docs/source/user-guide/sql/write_options.md
Labels: core, sqllogictest

#8544 Minor: Improve error handling in sqllogictest runner
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#8537 Remove order_bys from AggregateExec state
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#8511 Fix count(null) and count(distinct null)
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#8528 Minor: reduce code duplication in `date_bin_impl`
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#8482 Add metrics for UnnestExec
  datafusion/core/tests/dataframe/mod.rs
  datafusion/physical-plan/src/unnest.rs
Labels: core

#8477 fix: make sure CASE WHEN pick first true branch when WHEN clause is true
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, sqllogictest

#8542 Minor: make SubqueryAlias::try_new take Arc<LogicalPlan>
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: api change, logical-expr

#8501 Fallback on null empty value in ExprBoundaries::try_from_column
  datafusion/physical-expr/src/analysis.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: physical-expr, sqllogictest

#8553 [MINOR]: Generate empty column at placeholder exec
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#8480 Minor: Remove now dead `SUPPORTED_STRUCT_TYPES`
  datafusion/expr/src/lib.rs
  datafusion/expr/src/struct_expressions.rs
Labels: logical-expr, physical-expr, sqllogictest

#8546 docs: update udf docs for udtf
  datafusion-examples/examples/simple_udtf.rs
  docs/source/library-user-guide/adding-udfs.md
Labels: devrel

#8534 feat: implement Unary Expr in substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8489 Fix `compute_record_batch_statistics` wrong with `projection`
  datafusion/physical-plan/src/common.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#8564 Minor: move some invariants out of the loop
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#8526 feat: implement Repartition plan in substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8517 Fix sort order aware file group parallelization
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_groups.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: core, sqllogictest

#8561 feat: support largelist in array_slice
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8559 minor: fix to support scalars
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, sqllogictest

#8573 Remove ListingTable and FileScanConfig Unbounded (#8540)
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
Labels: api change, core, substrait

#8567 [minor]: Fix rank calculation bug when empty order by is seen
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#8437 Add `LiteralGuarantee` on columns to extract conditions required for `PhysicalExpr` expressions to evaluate to true
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/physical-expr/src/utils/mod.rs
Labels: physical-expr

#8575 [MINOR]: Parametrize sort-preservation tests to exercise all situations (unbounded/bounded sources and flag behavior)
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
Labels: core

#8317 Move Coercion for MakeArray to `coerce_arguments_for_signature` and introduce another one for ArrayAppend
  datafusion/common/src/utils.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, optimizer, sqllogictest

#8571 feat: support `LargeList` in `array_positions`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8570 feat: support `LargeList` in `array_element`
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, sqllogictest

#8581 Increase test coverage for unbounded and bounded cases
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
Labels: core

#8560 Port tests in `parquet.rs` to sqllogictest
  datafusion/core/tests/sql/parquet.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: core, sqllogictest

#8588 Minor: avoid a copy in Expr::unalias
  datafusion/expr/src/expr.rs
Labels: logical-expr

#8580 Minor: support complex expr as the arg in the ApproxPercentileCont function
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
Labels: physical-expr, core

#8584 Bugfix: Add functional dependency check and aggregate try_new schema
  datafusion/common/src/dfschema.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/expr/src/utils.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: logical-expr, core, sqllogictest

#8589 Minor: replace` not-impl-err` in `array_expression`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8363 Substrait insubquery
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8587 Minor: port last test from parquet.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: core, sqllogictest

#8550 Minor: consolidate map sqllogictest tests
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest

#8592 feat: support `LargeList` in `array_dims`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8605 Remove unbounded_input from FileSinkOptions
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#8586 Add `arrow_err!` macros, optional backtrace to ArrowError
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/datasource/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: physical-expr, optimizer, core, sqllogictest

#8601 Fix InListExpr to return the correct number of rows
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#8604 Remove ListingTable single_file option
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  docs/source/user-guide/sql/write_options.md
Labels: core

#8595 feat: support `LargeList` in `array_remove`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8611 Rename `ParamValues::{LIST -> List,MAP -> Map}`
  datafusion/common/src/param_value.rs
Labels: api change

#8616 Support binary temporal coercion for Date64 and Timestamp types
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, sqllogictest

#8565 Add new configuration item `listing_table_ignore_subdirectory`
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/parquet.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#8613 Optimize the parameter types of `ParamValues`'s methods
  datafusion/common/src/param_value.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#8615 Do not panic on zero placeholders in `ParamValues::get_placeholders_with_values`
  datafusion/common/src/param_value.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#8623 Fix #8507: Non-null sub-field on nullable struct-field has wrong nullity
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#8440 Implement `contained` API in PruningPredicate
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#8622 Minor: add arguments length check in `array_expressions`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8630 Minor: improve dataframe functional dependency tests
  datafusion/core/src/dataframe/mod.rs
Labels: core

#8631 Improve regexp_match performance by avoiding cloning Regex
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#8634 Minor: improve `listing_table_ignore_subdirectory` config documentation
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sqllogictest

#8608 Support Writing Arrow files
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/mod.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: core, sqllogictest

#8626 Filter pushdown into cross join
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: optimizer, sqllogictest

#8648 [MINOR]: Add new test for filter pushdown into cross join
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: optimizer, sqllogictest

#8442 Rewrite bloom filters to use contains API
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
Labels: core

#8649 Split equivalence code into smaller modules.
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#8644 Move parquet_schema.rs from sql to parquet tests
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/schema.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#8629 Fix group by aliased expression in LogicalPLanBuilder::aggregate
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#8516 Refactor `array_union` and `array_intersect` functions to one general function
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, sqllogictest

#8642 Minor: name some constant values in arrow writer, parquet writer
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#8653 TreeNode Refactor Part 2
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-plan/src/union.rs
Labels: physical-expr, core

#8654 feat: support inlist in LiteralGurantee for pruning
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/physical-expr/src/utils/guarantee.rs
Labels: physical-expr, core

#8651 Streaming CLI support
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/print_format.rs
  datafusion-cli/src/print_options.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#8578 Add trait based ScalarUDF API
  datafusion-examples/README.md
  datafusion-examples/examples/advanced_udf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  docs/source/library-user-guide/adding-udfs.md
Labels: logical-expr, optimizer

#8662 Handle ordering of first last aggregation inside aggregator
  datafusion-cli/src/functions.rs
  datafusion/common/src/error.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/mod.rs
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: physical-expr, optimizer, core, sqllogictest

#8569 feat: support 'LargeList' in `array_pop_front` and `array_pop_back`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8677 fix: `Antarctica/Vostok` tz offset changed in chrono-tz 0.8.5
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#8666 Make the BatchSerializer behind Arc to avoid unnecessary struct creation
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/write/mod.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
Labels: core

#8646 Implement serde for CSV and Parquet FileSinkExec
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#8675 [pruning] Add shortcut when all units have been pruned
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#8678 Change first/last implementation to prevent redundant comparisons when data is already sorted
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: physical-expr, sqllogictest

#8665 Start setting up tpch planning benchmarks
  datafusion/core/benches/sql_planner.rs
Labels: core

#8686 Doc: Clarify When Limit is Pushed Down to TableProvider::Scan
  datafusion/core/src/datasource/provider.rs
Labels: core

#8659 Closes #8502: Parallel NDJSON file reading
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/tests/data/empty.json
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: core, sqllogictest

#8625 Improve `array_prepend` signature for null and empty array
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, sqllogictest
