Repository apache/datafusion, pull requests merged in 2023-07, with the labels that each got.

#6799 fix: incorrect nullability of `InList` expr
  datafusion/core/src/physical_plan/insert.rs
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr, core

#6815 Fix timestamp_add_interval_months to pass any date
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#6810 Refactor Decimal128 averaging code to be vectorizable (and easier to read)
  datafusion/physical-expr/src/aggregate/utils.rs
Labels: physical-expr

#6748 Minor: Encapsulate `return_type` and `signature` in `AggregateFunction` and `WindowFunction`
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
Labels: logical-expr, physical-expr, optimizer

#6816 [MINOR] Improve performance of `create_hashes`
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/physical-expr/src/hash_utils.rs
Labels: physical-expr, core

#6811 Add fetch to `SortPreservingMergeExec` and `SortPreservingMergeStream`
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sqllogictests/test_files/tpch/q10.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q11.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q16.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q2.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q3.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q9.slt.part
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core, sqllogictest

#6830 Simplify `IsUnkown` and `IsNotUnkown` expression
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#6829 fix: incorrect nullability of `Like` expressions
  datafusion/common/src/scalar.rs
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#6834 Minor: Add one more assert to `hash_array_primitive`
  datafusion/physical-expr/src/hash_utils.rs
Labels: physical-expr

#6827 revert #6595 #6820
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer

#6821 feat: implement posgres style `encode`/`decode`
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sqllogictests/test_files/encoding.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/encoding_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6759 Support fixed_size_list for make_array
  datafusion/common/src/scalar.rs
  datafusion/core/tests/data/fixed_size_list_array.parquet
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/arrow_cast.rs
Labels: sql, waiting-on-upstream, physical-expr, optimizer, core, sqllogictest

#6837 Improve median performance.
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr

#6566 Mismatch in MemTable of Select Into when projecting on aggregate window functions
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
Labels: core, sqllogictest

#6805 feat: column support for `array_append`, `array_prepend`, `array_position` and `array_positions`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6852 MINOR: Fix ordering of the aggregate_source_with_order table
  datafusion/core/tests/data/aggregate_test_100_order_by_c1_asc.csv
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: core, sqllogictest

#6833 Return error when internal multiplication overflowing in decimal division kernel
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core, sqllogictest

#6835 Set `DisplayAs` to be a supertrait of `ExecutionPlan`
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
Labels: api change, core

#6861 [MINOR] Remove unnecessary api from MemTable
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_plan/memory.rs
Labels: api change, core

#6858 Adjustment of HashJoinExec APIs to Preserve Probe Side Order
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/tests/sqllogictests/test_files/join_disable_repartition_joins.slt
Labels: core, sqllogictest

#6860 [MINOR] Adding order into StreamingTableExec
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_plan/streaming.rs
Labels: core

#6875 Fix build on main due to logical conflict
  datafusion/core/src/physical_plan/streaming.rs
Labels: core

#6726 feat: Add graphviz display format for execution plan.
  datafusion-cli/Cargo.lock
  datafusion/common/src/display/graphviz.rs
  datafusion/common/src/display/mod.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#6883 Minor: Consolidate display related traits
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/streaming.rs
Labels: core

#6851 test: parquet use the byte array as the physical type to store decimal
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#6874 Make streaming_merge public
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/mod.rs
Labels: core

#6888 Performance: Use a specialized sum accumulator for retractable aggregregates
  datafusion/physical-expr/src/aggregate/sum.rs
Labels: physical-expr

#6872 Support array concatenation for arrays with different dimensions
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core, sqllogictest

#6868 feat: implement substrait join filter support
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#6864 feat: column support for `array_dims`, `array_ndims`, `cardinality` and `array_length`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6891 Add FixedSizeBinary support to binary_op_dyn_scalar
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#6894 Minor: deleted duplicated substrait integration test
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: development-process, substrait

#6787 Minor: add test cases with columns for math expressions
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
Labels: core, sqllogictest

#6901 Minor: reduce redundant code
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
Labels: core

#6902 feat: support for `NestedLoopJoinExec` in datafusion-proto
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core

#6900 Fix `make_array` null handling, update tests
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core, sqllogictest

#6905 Minor: Add output to aggregrate_fuzz.rs on failure
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
Labels: core

#6915 allow window UDF to return null
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
Labels: core

#6909 Minor: Add factory method to PartitionedFile to create File Scan
  datafusion/core/src/datasource/listing/mod.rs
Labels: core

#6896 Revert "chore(deps): update bigdecimal requirement from 0.3.0 to 0.4.0 (#6848)"
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#6931 [Minor] Make FileScanConfig::project pub
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#6924 Minor: Use thiserror to implement the `From` trait for `DFSqlLogicTestError`
  datafusion/core/tests/sqllogictests/src/engines/datafusion/error.rs
Labels: core, sqllogictest

#6801 parallel csv scan
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/src/config.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/tests/data/empty_0_byte.csv
  datafusion/core/tests/data/empty_files/all_empty/empty0.csv
  datafusion/core/tests/data/empty_files/all_empty/empty1.csv
  datafusion/core/tests/data/empty_files/all_empty/empty2.csv
  datafusion/core/tests/data/empty_files/some_empty/a_empty.csv
  datafusion/core/tests/data/empty_files/some_empty/b.csv
  datafusion/core/tests/data/empty_files/some_empty/c_empty.csv
  datafusion/core/tests/data/empty_files/some_empty/d.csv
  datafusion/core/tests/data/empty_files/some_empty/e_empty.csv
  datafusion/core/tests/data/one_col.csv
  datafusion/core/tests/data/wide_rows.csv
  datafusion/core/tests/sqllogictests/test_files/tpch/q1.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q10.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q11.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q12.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q14.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q15.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q16.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q17.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q18.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q19.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q2.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q20.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q21.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q22.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q3.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q4.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q5.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q6.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q7.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q8.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q9.slt.part
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#6939 Add additional test coverage for aggregaes using dates/times/timestamps/decimals
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#6921 Replace repartition execs with sort preserving repartition execs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/replace_repartition_execs.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
Labels: core

#6957 Fix incorrect results in `BitAnd` GroupsAccumulator
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/prim_op.rs
Labels: physical-expr, core, sqllogictest

#6903 Improve unnest_column performance
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#6945 Pass `schema_infer_max_records` to JsonFormat.
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/tests/data/4.json
Labels: core

#6920 Preserve field metadata across expressions in logical plans
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#6948 Support equality and comparison between interval arrays and scalars
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core, sqllogictest

#6840 feat: implement substrait for LIKE/ILIKE expr
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#6964 Minor: Add comments about initial value for `BitAnd` accumulator
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
Labels: physical-expr

#6925 [Functions] Support Arithmetic function COT()
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#6960 Minor: remove duplication in Min/Max accumulator
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: physical-expr

#6953 [MINOR]Add new tests
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
Labels: core

#6879 Column support for array concat
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core, sqllogictest

#6895 Minor: Add FixedSizeBinaryTest
  datafusion/core/tests/sqllogictests/test_files/binary.slt
Labels: core, sqllogictest

#6966 [MINOR] Remove update state api from PartitionEvaluator
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: logical-expr, physical-expr, core

#6950 Fix required partitioning of Single aggregation mode
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core, sqllogictest

#6965 [MINOR] Remove global sort rule from planner
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: core, sqllogictest

#6940 Column support for array_to_string
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core, sqllogictest

#6991 chore: fix format
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#6956 Extend Ordering Equivalence Support
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#6989 chore: break earlier in macro `contains!`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7006 fix: incorrect simplification of case expr
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer, core, sqllogictest

#6962 Minor: Add String/Binary aggregate tests
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#6998 [MINOR] Supporting repartition joins conf in SHJ
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
Labels: core

#6999 [MINOR] Code refactor on hash join utils
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/test_utils.rs
Labels: core

#6986 feat: array functions treat an array as an element
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core, sqllogictest

#7009 [MINOR] Moving some test utils from EnsureSorting to test_utils
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
Labels: core

#7011 MINOR: Bug fix, Use correct ordering equivalence when window expr contains partition by
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr, core, sqllogictest

#7007 refactor: Merge Expr::Like and Expr::ILike
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/operator.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, substrait

#7003 Docs: Add docs to `RepartitionExec` and architecture guide
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#6932 Consolidate `BoundedAggregateStream`
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/order/full.rs
  datafusion/core/src/physical_plan/aggregates/order/mod.rs
  datafusion/core/src/physical_plan/aggregates/order/partial.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/aggregates/utils.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/accumulate.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/bool_op.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/mod.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/prim_op.rs
  datafusion/physical-expr/src/lib.rs
Labels: physical-expr, core

#6952 Minor: Improve aggregate test coverage more
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#7029 Don't store hashes in GroupOrdering
  datafusion/core/src/physical_plan/aggregates/order/full.rs
  datafusion/core/src/physical_plan/aggregates/order/mod.rs
  datafusion/core/src/physical_plan/aggregates/order/partial.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#7016 Extract GroupValues (#6969)
  datafusion/core/src/physical_plan/aggregates/order/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/execution/src/memory_pool/mod.rs
Labels: core

#6982 Refactor AnalysisContext and statistics() of FilterExec
  datafusion/core/src/physical_plan/filter.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr, core

#6942 functions: support trunc() function with one or two args
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/src/logical_plan/from_proto.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#7035 Move the column aliases below the SubqueryAlias
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q15.slt.part
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, core, sqllogictest

#7008 fix: `array_concat` with arrays with different dimensions, add `_list*` aliases for `_array*` functions
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6968 Remove RowAccumulators and datafusion-row
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/row.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/row_accumulator.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/row/Cargo.toml
  datafusion/row/README.md
  datafusion/row/src/accessor.rs
  datafusion/row/src/layout.rs
  datafusion/row/src/lib.rs
  datafusion/row/src/reader.rs
  datafusion/row/src/validity.rs
  datafusion/row/src/writer.rs
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
Labels: physical-expr, core

#7034 Decimal256 coercion
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/mod.rs
Labels: logical-expr

#7043 Specialize single column primitive group values
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/aggregates/group_values/mod.rs
  datafusion/core/src/physical_plan/aggregates/group_values/primitive.rs
  datafusion/core/src/physical_plan/aggregates/group_values/row.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#6990 Replace `array_contains` with SQL array functions: `array_has`, `array_has_any`, `array_has_all`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7047 Add more Decimal256 type coercion
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#7051 chore(deps): update sqlparser requirement from 0.35 to 0.36.1
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/src/execution/context.rs
  datafusion/sql/src/set_expr.rs
Labels: sql, core

#6987 use ObjectStore for dataframe writes
  datafusion-examples/examples/dataframe-to-s3.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
Labels: core

#7056 Prepare 28.0.0 Release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/28.0.0.md
  dev/update_datafusion_versions.py
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, substrait

#7069 refactor: with_inputs() can use original schema to avoid recompute schema.
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#7083 Fix cli tests
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#7063 Support case sensitive column for `with_column_renamed`
  datafusion/common/src/column.rs
  datafusion/common/src/table_reference.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/dataframe.rs
Labels: core

#7048 Add Decimal256 to `ScalarValue`
  datafusion/common/src/cast.rs
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6927 Enrich CSV reader config: quote & escape
  datafusion-examples/examples/csv_opener.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/replace_repartition_execs.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/sql/csv_files.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core

#7059 [Refactor] PipelineFixer physical optimizer rule removal
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: core, sqllogictest

#7086 fix: disallow interval - timestamp
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/core/tests/sqllogictests/test_files/type_coercion.slt
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core, sqllogictest

#7080 Add Utf8->Binary type coercion for comparison
  datafusion/core/tests/sqllogictests/test_files/binary.slt
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core, sqllogictest

#7090 Refactor Replace Repartition rule
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#7096 change the input_type parameter of the create_udaf function from DataType to Vec<DataType>
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: api change, logical-expr, optimizer, core

#7099 fix: Projection columns_map remove name search
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
Labels: core, sqllogictest

#7045 Minor: Refine doc comments for BuiltinScalarFunction::return_dimension
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr

#7101 Relax check during aggregate partial mode.
  datafusion/core/src/physical_plan/aggregates/order/partial.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
Labels: core, sqllogictest

#7042 Minor: add test + docs for 2 argument trunc with columns
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: core, sqllogictest

#7050 Port remaining information_schema rust tests to sqllogictests
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema_columns.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema_multiple_catalogs.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema_table_types.slt
Labels: core, sqllogictest

#7040 Initial support for functional dependencies handling primary key and unique constraints
  datafusion/common/src/dfschema.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/table_source.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest

#7057 feat: support SQL array replacement and removement functions
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7111 [doc], [minor]. Update docstring of group by rewrite.
  datafusion/sql/src/select.rs
Labels: sql

#7102 Add additional links to main README
  README.md
Labels: documentation

#7124 fix: fix index bug and add test to check it
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/physical-expr/src/aggregate/first_last.rs
Labels: physical-expr, core, sqllogictest

#7126 fix: Fix panic in filter predicate
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/tests/sqllogictests/test_files/predicates.slt
Labels: core, sqllogictest

#7123 Add MSRV check as a GA job
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: core, substrait

#7127 Minor: move `AnalysisContext` out of physical_expr and into its own module
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#7081 fix: correct count(*) alias
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sqllogictests/test_files/avro.slt
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/core/tests/sqllogictests/test_files/joins.slt
  datafusion/core/tests/sqllogictests/test_files/json.slt
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q1.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q21.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q22.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q4.slt.part
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/eliminate_project.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer, core, sqllogictest

#7137 `make_array` with column of list
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
Labels: physical-expr, core, sqllogictest

#6885 feat: array containment operator `@>` and `<@`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/operator.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/expr/json_access.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, core, sqllogictest, substrait

#7148 [MINOR]: Make memory exec partition number =1, in test utils
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
Labels: core

#7117 Substrait union/union all
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait
