Repository apache/datafusion, pull requests merged in 2023-10, with the labels that each got.

#7703 Extend infer_placeholder_types to support BETWEEN predicates
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#7720 fix: coerce text to timestamps with timezones
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, sqllogictest

#7715 Enable avro reading/writing in datafusion-cli
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
Labels: core

#7704 Minor: Consolidate UDF tests
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/user_defined/mod.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
Labels: core

#7730 MINOR: change file to column index in page_filter trace log
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
Labels: core

#7729 preserve array type / timezone in `date_bin` and `date_trunc` functions
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, physical-expr, sqllogictest

#7734 Remove redundant is_numeric for DataType
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer

#7663 fix: avro_to_arrow: Handle avro nested nullable struct (union)
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/avro_to_arrow/schema.rs
  datafusion/sqllogictest/test_files/avro.slt
Labels: core, sqllogictest

#7631 Rename `SessionContext::with_config_rt` to `SessionContext::new_with_config_from_rt`, etc
  benchmarks/src/bin/h2o.rs
  benchmarks/src/clickbench.rs
  benchmarks/src/parquet_filter.rs
  benchmarks/src/sort.rs
  benchmarks/src/tpch/convert.rs
  benchmarks/src/tpch/run.rs
  datafusion-cli/src/main.rs
  datafusion-examples/examples/flight_sql_server.rs
  datafusion/core/benches/parquet_query_sql.rs
  datafusion/core/benches/sort_limit_query_sql.rs
  datafusion/core/benches/sql_query_with_io.rs
  datafusion/core/benches/topk_aggregate.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/fuzz_cases/merge_fuzz.rs
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sql/displayable.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/partitioned_csv.rs
  datafusion/core/tests/sql/repartition.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/tpcds_planning.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: core, sqllogictest, substrait

#7723 Rename `bounded_order_preserving_variants` config to `prefer_exising_sort` and update docs
  datafusion/common/src/config.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/execution/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: api change, core, sqllogictest

#7740 Minor: Improve crate docs
  datafusion/core/src/lib.rs
Labels: core

#7753 [MINOR]: Resolve linter errors in the main
  datafusion/core/benches/topk_aggregate.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/execution/src/stream.rs
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/visitor.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/parser.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#7748 Minor: Build concat_internal() with ListArray construction instead of ArrayData
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7757 Fix column name for COUNT(*) set by AggregateStatistics
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: core, sqllogictest

#7726 Add documentation about type signatures, and export `TIMEZONE_WILDCARD`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#7620 [feat] Support cache ListFiles result cache in session level
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/execution/src/cache/cache_manager.rs
  datafusion/execution/src/cache/cache_unit.rs
Labels: core

#7735 Support `SHOW ALL VERBOSE` to show settings description
  datafusion-cli/tests/cli_integration.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/set_variable.slt
  docs/source/user-guide/cli.md
Labels: sql, core, sqllogictest

#7759 Minor: Improve TableProvider document, and add ascii art
  datafusion/core/src/datasource/provider.rs
Labels: core

#7769 Prepare 32.0.0 Release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  dev/changelog/32.0.0.md
  dev/release/README.md
  dev/update_datafusion_versions.py
  docs/source/user-guide/configs.md
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#7738 Minor: Improve `PruningPredicate` documentation
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#7743 Support InsertInto Sorted ListingTable
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: core, sqllogictest

#7755 External Table Primary key support
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: sql, logical-expr, core, sqllogictest

#7780 Minor: Build array_array() with ListArray construction instead of ArrayData
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7773 Minor: Remove unnecessary `#[cfg(feature = "avro")]`
  datafusion/core/tests/sql/mod.rs
Labels: core

#7758 add interval arithmetic for timestamp types
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
Labels: physical-expr

#7771 Minor: make tests deterministic
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#7782 Minor: Improve `Interval` Docs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
Labels: physical-expr

#7778 `DataSink` additions
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/physical-plan/src/insert.rs
Labels: core

#7695 Move nested union optimization from plan builder to logical optimizer
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: sql, logical-expr, optimizer, sqllogictest

#7792 fix: preserve column qualifier for `DataFrame::with_column`
  datafusion/core/src/dataframe.rs
Labels: core

#7804 Interval Arithmetic NegativeExpr Support
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/utils.rs
  datafusion/physical-plan/src/filter.rs
Labels: physical-expr, core

#7805 add `LogicalPlanBuilder::join_on`
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#7811 Fix SortPreservingRepartition with no existing ordering.
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
Labels: core

#7810 [Minor]: Remove input_schema field from window executor
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#7777 Improve update error
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#7814 Minor: Update LogicalPlan::join_on API, use it more
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/sql/src/relation/join.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, optimizer, substrait

#7788 Add distinct union optimization
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/sqllogictest/test_files/union.slt
Labels: optimizer, sqllogictest

#7774 Make CI fail on any occurrence of rust-tomlfmt failed
  .github/workflows/rust.yml
  ci/scripts/rust_toml_fmt.sh
  datafusion/sqllogictest/Cargo.toml
Labels: sqllogictest

#7612 Encode all join conditions in a single expression field
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#7796 Minor: include `sort` expressions in `SortPreservingRepartitionExec` explain plan
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#7822 minor: add more document to Wildcard expr
  datafusion/expr/src/expr.rs
Labels: logical-expr

#7820 Minor: Move `Monotonicity` to `expr` crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/signature.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr

#7826 Update explain plan to show `TopK` operator
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/topk.slt
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#7803 Extend backtrace coverage for `DatafusionError::Plan` errors errors
  datafusion-cli/src/exec.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/field_util.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, optimizer, core

#7785 Add documentation and usability for prepared parameters
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core

#7825 Implement GetIndexedField for map-typed columns
  datafusion/core/tests/data/parquet_map.parquet
  datafusion/expr/src/field_util.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#7812 Minor: Upgrade docs for `PhysicalExpr::{propagate_constraints, evaluate_bounds}`
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr

#7629 Change ScalarValue::List to store ArrayRef
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-plan/src/values.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/value.rs
Labels: sql, physical-expr, optimizer, core

#7832 [MINOR]:Do not introduce unnecessary repartition when row count is 1.
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/sql/order.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/join.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/options.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/union.slt
Labels: core, sqllogictest

#7839 Minor: Add tests for binary / utf8 coercion
  datafusion/sqllogictest/test_files/binary.slt
Labels: sqllogictest

#7830 Remove redundant unwrap in `ScalarValue::new_primitive`, return a `Result`
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
Labels: api change, physical-expr

#7846 Fix precision loss when coercing date_part utf8 argument
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr, core

#7732 Add operator section to user guide, Add `std::ops` operations to `prelude`, and add `not()` expr_fn
  datafusion/core/src/prelude.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/operator.rs
  docs/source/conf.py
  docs/source/user-guide/expressions.md
Labels: logical-expr, core

#7829 Expose arrow-schema `serde` crate feature flag
  README.md
  datafusion/core/Cargo.toml
Labels: documentation, core

#7831 Improve `ContextProvider` naming: rename` get_table_provider` --> `get_table_source`, deprecate `get_table_provider`
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, optimizer, core

#7791 DataSink Dynamic Execution Time Demux
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7833 Add small column on empty projection
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/json.slt
Labels: optimizer, core, sqllogictest

#7850 feat(7849): coerce TIMESTAMP to TIMESTAMPTZ
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, sqllogictest

#7840 Support `Binary`/`LargeBinary` --> `Utf8`/`LargeUtf8` in ilike and string functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/binary.slt
Labels: logical-expr, sqllogictest

#7856 Minor: fix typo in comments
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/physical-plan/src/repartition/mod.rs
Labels: core

#7813 Minor: improve `join` / `join_on` docs
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#7853 Support Decimal256 on AVG aggregate expression
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/sqllogictest/test_files/decimal.slt
Labels: physical-expr, sqllogictest

#7861 Minor: fix typo in comments
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr

#7873 Minor: Fix docstring typos
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  docs/source/user-guide/configs.md
Labels: logical-expr

#7866 Support Decimal256 column in create external table
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/decimal.slt
Labels: sql, sqllogictest

#7881 Support Decimal256 in Min/Max aggregate expressions
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/sqllogictest/test_files/decimal.slt
Labels: physical-expr, sqllogictest

#7874 Minor: fix config typo
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sqllogictest

#7889 Add Decimal256 sqllogictests for SUM, MEDIAN and COUNT aggregate expressions
  datafusion/sqllogictest/test_files/decimal.slt
Labels: sqllogictest

#7772 [test] add fuzz test for topk
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
Labels: core

#7841 Allow Setting Minimum Parallelism with RowCount Based Demuxer
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7898 Add multi-column topk fuzz tests
  datafusion/core/tests/fuzz_cases/limit_fuzz.rs
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
  test-utils/src/lib.rs
Labels: core

#7890 Change `FileScanConfig.table_partition_cols` from `(String, DataType)` to `Field`s
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: core

#7854 Update arrow 48.0.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/print_format.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/file_options/csv_writer.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/pyarrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/tests/fifo.rs
  datafusion/sqllogictest/test_files/json.slt
  datafusion/wasmtest/Cargo.toml
Labels: core, sqllogictest

#7914 [Bug Fix]: Fix bug, first last reverse
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: physical-expr, sqllogictest

#7911 Minor: provide default implementation for ExecutionPlan::statistics
  datafusion-examples/examples/custom_datasource.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/physical-plan/src/analyze.rs
  datafusion/physical-plan/src/explain.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/test/exec.rs
  datafusion/physical-plan/src/unnest.rs
Labels: core

#7913 [MINOR]: Simplify code, change requirement from PhysicalSortExpr to PhysicalSortRequirement
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
Labels: core

#7917 [Minor] Move combine_join util to under equivalence.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-expr, core

#7920 support scan empty projection
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/json.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, core, sqllogictest

#7655 Parallelize Serialization of Columns within Parquet RowGroups
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7821 feat: Use bloom filter when reading parquet to skip row groups
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/sqllogictest/test_files/predicates.slt
Labels: core, sqllogictest

#7909 fix: don't push down volatile predicates in projection
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#7745 Add `parquet` feature flag, enabled by default, and make parquet conditional
  datafusion-cli/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/test_util.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/file_compression_type.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/execution/context/avro.rs
  datafusion/core/src/execution/context/csv.rs
  datafusion/core/src/execution/context/json.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: api change, core

#7924 [MINOR]: Simplify enforce_distribution, minor changes
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: physical-expr, core

#7928 Add simple window query to sqllogictest
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#7844 Change input for `to_timestamp` function to be seconds rather than nanoseconds, add `to_timestamp_nanos`
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: api change, logical-expr, physical-expr, optimizer, core, sqllogictest

#7927 Minor: Document `parquet` crate feature
  README.md
Labels: documentation

#7929 Minor: reduce some `#cfg(feature = "parquet")`
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/execution/context/parquet.rs
Labels: core

#7930 Minor: reduce use of `#cfg(feature = "parquet")` in tests
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
Labels: core

#7941 Fix CI failures on `to_timestamp()` calls
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr

#7922 minor: add a datatype casting for the updated value
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/update.slt
Labels: sql, sqllogictest

#7945 Add simple exclude all columns test to sqllogictest
  datafusion/sqllogictest/test_files/select.slt
Labels: sqllogictest

#7896 Support Partitioning Data by Dictionary Encoded String Array Types
  datafusion/common/src/dfschema.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: core, sqllogictest

#7961 Minor: Remove array() in array_expression
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7943 Minor: simplify update code
  datafusion/sql/src/statement.rs
Labels: sql

#7952 Add some initial content about creating logical plans
  Cargo.toml
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/prelude.rs
  dev/update_datafusion_versions.py
  docs/Cargo.toml
  docs/source/library-user-guide/building-logical-plans.md
  docs/src/lib.rs
  docs/src/library_logical_plan.rs
Labels: documentation, development-process, core, devrel

#7965 Minor: Change from `&mut SessionContext` to `&SessionContext` in substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/tests/cases/serialize.rs
Labels: substrait

#7973 chore: clean useless clone baesd on clippy
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: physical-expr, core, substrait

#7936 Move source repartitioning into `ExecutionPlan::repartition`
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/physical-plan/src/lib.rs
Labels: core

#7986 minor: fix broken links in README.md
  datafusion/common/README.md
  datafusion/core/README.md
  datafusion/execution/README.md
  datafusion/expr/README.md
  datafusion/optimizer/README.md
  datafusion/physical-expr/README.md
  datafusion/physical-plan/README.md
  datafusion/proto/README.md
  datafusion/sql/README.md
  datafusion/wasmtest/README.md
Labels: sql, logical-expr, physical-expr, optimizer, core

#7971 Minor: Upate the `sqllogictest` crate README
  datafusion/sqllogictest/README.md
Labels: sqllogictest

#7975 Improve MemoryCatalogProvider default impl block placement
  datafusion/core/src/catalog/mod.rs
Labels: development-process, core

#7969 Fix `ScalarValue` handling of NULL values for ListArray
  datafusion/common/src/scalar.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#7985 Refactor of Ordering and Prunability Traversals and States
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#7967 Keep output as scalar for scalar function if all inputs are scalar
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, sqllogictest

#7990 Fix crate READMEs for core, execution, physical-plan
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/physical-plan/Cargo.toml
Labels: core

#7983 Update sqlparser requirement from 0.38.0 to 0.39.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/statement.rs
Labels: sql

#7989 Fix panic in multiple distinct aggregates by fixing `ScalarValue::new_list`
  Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#7984 fix: generate logical plan for `UPDATE SET FROM` statement
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/update.slt
Labels: sql, sqllogictest
