Repository apache/datafusion, pull requests merged in 2023-04, with the labels that each got.

#5770 improve Filter pushdown to Join
  benchmarks/expected-plans/q17.txt
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q7.txt
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer, core

#5807 Support `round()` function with two parameters
  datafusion/core/tests/sqllogictests/test_files/math.slt
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#5734 Fix datatype of case expression
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_null.slt
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr, core, sqllogictest

#5822 Minor: Add ticket reference as comment
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#5767 Forward port version and Changelog for `21.1.0`
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/update_datafusion_versions.py
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, substrait

#5827 Implement LogicalPlan support for transactions
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, optimizer, core

#5832 Minor: port more timestamp tests to sqllogictests
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#5816 feat: Simplify LOG and POWER functions
  datafusion/common/src/scalar.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer

#5820 fix: Enhance case expression type coercion
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/other.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest

#5845 fix: type_coercion support BinaryExpr ( interval , timestamp ).
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#5835 Add primary key information to CreateMemoryTable LogicalPlan node
  datafusion/core/src/execution/context.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core

#5814 minor(sqlparser): encapsulate PlanerContext, reduce some clones
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/statement.rs
Labels: sql

#5855 Remove batch_idx from SortKeyCursor
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/sort_key_cursor.rs
Labels: api change, core

#5754 Improving optimizer performance by eliminating unnecessary sort and distribution passes, add more SymmetricHashJoin improvements
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/mod.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/execution/src/config.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/mod.rs
  docs/source/user-guide/configs.md
Labels: physical-expr, core, sqllogictest

#5661 Top down `EnforceSorting`, Extended testbench for `EnforceSorting` rule to prepare for refactors, additional functionality such as pushdowns over unions
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/sql/src/statement.rs
Labels: api change, sql, physical-expr, core

#5842 Move `TransactionStart`/`TransactionEnd`/`SetVariable` into `LogicalPlan::Statement`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
Labels: api change, sql, logical-expr, optimizer, core

#5824 Move content from README.md to docs site
  README.md
  docs/source/contributor-guide/architecture.md
  docs/source/contributor-guide/index.md
  docs/source/index.rst
  docs/source/user-guide/comparison.md
  docs/source/user-guide/integration.md
  docs/source/user-guide/introduction.md
  docs/source/user-guide/users.md
Labels: documentation

#5806 Fix `interval` to use consistent units and arrow parser
  datafusion-cli/Cargo.lock
  datafusion/common/src/lib.rs
  datafusion/common/src/parsers.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/optimizer/src/type_coercion.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, optimizer, core, sqllogictest

#5864 Enhance Asynchronous Performance of SHJ Implementation
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/fifo.rs
Labels: core

#5869 Prove timestamptz <=> timestamp now works
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#5872 Update docs/source/contributor-guide/index.md
  docs/source/contributor-guide/index.md
Labels: documentation

#5853 fix: coerce type for InSubquery and fix timestamp minus timestamp.
  benchmarks/src/bin/parquet.rs
  datafusion/expr/src/operator.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer

#5875 chore: update sqllogictest version 0.13.2.
  datafusion/core/Cargo.toml
Labels: core

#5862 minor: made `information_schema` pub
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/mod.rs
Labels: core

#5831 refactor: move type_coercion to analyzer
  benchmarks/expected-plans/q11.txt
  benchmarks/expected-plans/q17.txt
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/expr/src/expr_schema.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: logical-expr, optimizer, core, sqllogictest

#5839 feat: BuiltinScalarFunction::Cbrt
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core

#5732 Support create object store source tables without depending on environment variables
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/object_storage.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  docs/source/user-guide/cli.md
Labels: core

#5778 feat: Quote column names if required in error messages
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/table_reference.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/references.rs
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core, sqllogictest

#5874 [MINOR]: Refactor to increase readability
  datafusion/common/src/lib.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core

#5881 More realistic sort benchmarks
  datafusion/core/Cargo.toml
  datafusion/core/benches/merge.rs
  datafusion/core/benches/sort.rs
Labels: core

#5846 Removal of arithmetic operations for temporal values to binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#5880 Moving PipelineFixer above all rules to use ExecutionPlan APIs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
Labels: core

#5768 Add assert on hash children partition count
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
Labels: core

#5891 Use ScalarValue for single input on math expression
  datafusion/physical-expr/src/math_expressions.rs
Labels: physical-expr

#5886 Generify SortPreservingMerge (#5882) (#5879)
  datafusion/core/src/physical_plan/sorts/builder.rs
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
Labels: core

#5813 Fix: allow arbitrary exprs in VALUES clause
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/values.rs
Labels: sql, core, sqllogictest

#5914 arrow_cast to cast to timestamptz
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/sql/src/expr/arrow_cast.rs
Labels: sql, core, sqllogictest

#5863 Encapsulate `PhysicalSortRequrement` and add more doc comments
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core

#5895 Remove SortKeyCursor (~5-10% faster merge)
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/mod.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
  datafusion/core/tests/sort_key_cursor.rs
Labels: api change, core

#5916 Prepare for 22.0.0 release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/10.0.0.md
  dev/changelog/11.0.0.md
  dev/changelog/12.0.0.md
  dev/changelog/13.0.0.md
  dev/changelog/14.0.0.md
  dev/changelog/15.0.0.md
  dev/changelog/16.0.0.md
  dev/changelog/16.1.0.md
  dev/changelog/17.0.0.md
  dev/changelog/18.0.0.md
  dev/changelog/19.0.0.md
  dev/changelog/20.0.0.md
  dev/changelog/21.0.0.md
  dev/changelog/21.1.0.md
  dev/changelog/22.0.0.md
  dev/changelog/5.0.0.md
  dev/changelog/6.0.0.md
  dev/changelog/7.0.0.md
  dev/changelog/7.1.0.md
  dev/changelog/8.0.0.md
  dev/changelog/9.0.0.md
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#5883 fix: type coercion for expr/subquery in InSubquery
  datafusion/expr/src/expr_schema.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer

#5908 Count agg support multiple expressions
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/count.rs
Labels: logical-expr, physical-expr, core

#5775 feat: extend substrait type support, including type variations
  datafusion/substrait/src/lib.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/variation_const.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/empty.csv
Labels: substrait

#5896 fix: binaryExpr not supported for LargeUtf8
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/like.rs
Labels: physical-expr, core, sqllogictest

#5889 Clean up SortExec creation and add doc comments
  benchmarks/src/bin/parquet.rs
  datafusion/core/benches/sort.rs
  datafusion/core/src/physical_optimizer/global_sort_selection.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core

#5900 Improve file scan time opening metric to include start_next_file
  datafusion/core/src/physical_plan/file_format/file_stream.rs
Labels: core

#5946 Remove `unsafe` code (`transmute`) in datafusion-proto
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#5818 support `date_trunc` with `millisecond` and `microsecond` and keep the same type as the input
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core

#5785 Planner: normalize_ident only when enable_ident_normalization is enabled
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5921 Improve contributor guide and main API landing page
  datafusion-examples/README.md
  datafusion/common/src/tree_node.rs
  datafusion/core/src/lib.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/sql/src/planner.rs
  docs/source/contributor-guide/architecture.md
  docs/source/contributor-guide/index.md
Labels: sql, logical-expr, physical-expr, core

#5897 Specialize Primitive Cursor -- make sorts / merges on a single primitive column faster
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
Labels: core

#5932 just match for BinaryExpr Date/Time +/- Interval
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#5945 fix: return `NotImplemented` when execute `SELECT INTO` syntax
  datafusion/sql/src/select.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5868 feat: Support SQL filter clause for aggregate expressions, add SQL dialect support
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/expr/src/tree_node/expr.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sql/tests/integration_test.rs
  docs/source/user-guide/configs.md
Labels: sql, logical-expr, optimizer, core, sqllogictest

#5929 test: add Between UT for type_coercion
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer

#5902 feat: Implement the bitwise_not in NotExpr
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/not.rs
Labels: physical-expr, core

#5966 Minor: Add `DFField.with_nullable(bool)`
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#5938 Move error check from pipeline fixer to pipeline checker
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#5960 fix: support `date - timestamp` and `timestamp - date`
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/type_coercion.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5967 minor: Add `Expr::between` to clean up boilerplate
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: logical-expr, optimizer

#5964 Specialized Cursor for StringArray and BinaryArray
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
Labels: core

#5965 feat: implementation of the constant "Pi"
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#5972 fix: do not depend on time 0.1
  datafusion/substrait/Cargo.toml
Labels: substrait

#5979 Minor: fix wrong code comment
  datafusion/core/tests/memory_limit.rs
Labels: core

#5968 minor: port some expr tests to sqllogictests, improve error message
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/physical-expr/src/expressions/not.rs
Labels: physical-expr, core, sqllogictest

#5973 Row `AVG` accumulator support Decimal type
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/row_accumulator.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/row/src/accessor.rs
  datafusion/row/src/layout.rs
  datafusion/row/src/reader.rs
  datafusion/row/src/writer.rs
Labels: physical-expr, core, sqllogictest

#5951 Treat Partition by columns as set for window functions
  datafusion/common/src/utils.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#5963 feat: allow the customization of analyzer rules
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#5887 feat: extra sqllogictests for scalar functions
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
Labels: core, sqllogictest

#5978 docs: improve expressions.md
  datafusion/expr/src/expr_fn.rs
  docs/source/user-guide/expressions.md
Labels: logical-expr

#5898 Minor: Improve doc comments in FileStream
  datafusion/core/src/physical_plan/file_format/file_stream.rs
Labels: core

#5997 Don't use parquet file offset for file range pruning
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
Labels: core

#5937 Streaming Memory Reservation in SHJ
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
Labels: physical-expr, core

#5971 Temporal datatype support for interval arithmetic
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
Labels: physical-expr, core, sqllogictest

#5984 Remove optimize_children and replace with map_children
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/utils.rs
Labels: core

#5993 fix: largeUtf8 don't support `is distinct from`
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/core/tests/sqllogictests/test_files/type_coercion.slt
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core, sqllogictest

#5992 Proper resolution for old name in with_column_renamed
  datafusion/core/src/dataframe.rs
Labels: core

#5998 fix: Do not panic on invalid placeholders
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#6018 fix: Allow values in subqueries
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/optimizer/src/analyzer/mod.rs
Labels: optimizer, core, sqllogictest

#6004 chore: make JsonOpener and CsvOpener public
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#6010 update count_wildcard_rule for more scenario
  datafusion/core/tests/dataframe.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer, core

#6020 Add analyzer output to verbose explain
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6029 Minor: Fix compilation error
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#6007 Open/Closed bounds for interval arithmetic
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
Labels: physical-expr, core

#6030 minor:move log_plan to utils
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#6022 Use OwnedTableReference for subquery aliases
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6025 Update sql doc
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/built_in_function.rs
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/data_types.md
  docs/source/user-guide/sql/ddl.md
  docs/source/user-guide/sql/explain.md
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/select.md
Labels: logical-expr

#6021 feat: Remove compact row since it's no longer used
  datafusion/core/benches/jit.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/row.rs
  datafusion/row/src/accessor.rs
  datafusion/row/src/jit/mod.rs
  datafusion/row/src/jit/reader.rs
  datafusion/row/src/jit/writer.rs
  datafusion/row/src/layout.rs
  datafusion/row/src/lib.rs
  datafusion/row/src/reader.rs
  datafusion/row/src/writer.rs
Labels: api change, core

#6041 Add test for handling precision overflow when casting from integer to decimal
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
Labels: core, sqllogictest

#6023 feat: degrees and radians
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6032 feat: allow TableScan without projection
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/serialize.rs
Labels: substrait

#6038 refactor: make `FirstSelector` not to have `update` and `merge`
  datafusion/core/tests/user_defined_aggregates.rs
Labels: core

#6037 Port math.rs to sqllogictest
  datafusion/core/tests/sql/math.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/math.slt
Labels: core, sqllogictest

#6003 Row accumulator support update Scalar values
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/row_accumulator.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/row/src/accessor.rs
Labels: physical-expr, core

#6054 Minor: tweak docuement of sort enforcement optimizer rule
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
Labels: core

#6044 Clean up rustdoc and add doc lint
  .github/workflows/rust.yml
  datafusion/common/src/config.rs
  datafusion/common/src/tree_node.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/repartition/distributor_channels.rs
  datafusion/core/src/scheduler/pipeline/mod.rs
  datafusion/core/src/scheduler/task.rs
  datafusion/execution/src/config.rs
  datafusion/execution/src/object_store.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/jit/src/api.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sql/src/expr/mod.rs
  docs/source/user-guide/configs.md
Labels: sql, logical-expr, physical-expr, optimizer, core

#6031 Minor: port more create_drop table tests to sqllogictests
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: core, sqllogictest

#6048 Float support on interval artihmetics
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/mod.rs
  datafusion/physical-expr/src/intervals/rounding.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
Labels: physical-expr, core

#6055 minor: add developer's guide link in README.md
  README.md
Labels: documentation

#5982 feat: support month and year interval for date_bin on constant data
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6063 Add support for UDAF in physical plan serialization
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: core

#6045 fix: split "union" and "interleave"
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/union.rs
Labels: core

#6076 Minor: assorted schema handling debug improvements
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/field_util.rs
Labels: logical-expr

#6060 infer column nullability on joins
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core, sqllogictest

#6089 Prepare for 23.0.0 release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/23.0.0.md
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#6093 fix: Use arrow bitwise_op as binary_kernels
  datafusion/physical-expr/src/expressions/binary/kernels.rs
Labels: physical-expr

#6091 fix: allow group by same expr in Aggregate
  datafusion/common/src/dfschema.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6056 Update DataFusion architecture documentation
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/lib.rs
  datafusion/row/src/jit/writer.rs
  docs/source/contributor-guide/architecture.md
Labels: core

#6053 feat: date_bin output type same with input type
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6077 fix: make simplify_expressions use a single schema for resolution
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/simplify_expressions/context.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: logical-expr, optimizer

#6039 fix: incorrect column pruning in sql with window operations
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer, core, sqllogictest

#6059 Substrait: Handle multiple select with the same table/columns in INTERSECT
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#6097 fix: allow group by same expr in Aggregate
  datafusion/common/src/dfschema.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/expr/src/utils.rs
Labels: logical-expr, core, sqllogictest

#6095 chore(deps): update regex and regex-syntax requirement from 0.6.28 to 0.7.1
  datafusion-cli/Cargo.lock
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr, optimizer

#6100 test: more sqllogicaltest for GROUPBY.
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
Labels: core, sqllogictest

#6101 minor: replace unwrap() with Err
  datafusion/common/src/scalar.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: logical-expr, physical-expr, optimizer, core

#6069 Remove temporal to kernels_arrow
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#6052 feat: add version field to ExecutionContext
  datafusion/core/src/execution/context.rs
Labels: core

#6088 refactor(sqllogictests): port group by test to sqllogic
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sqllogictests/test_files/group.slt
Labels: core, sqllogictest

#6098 Use arrow kernels for bitwise operations
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels.rs
Labels: physical-expr

#6036 Unordered PARTITION BY column implementation (to prevent pipeline breaking)
  datafusion/common/src/utils.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/core/tests/window_fuzz.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core, sqllogictest

#6109 Parallelise collect_partitioned
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_plan/mod.rs
Labels: core

#6113 Fix column mapping in output_ordering() and output_partitioning() for ProjectionExec and AggregateExec
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#6114 fix: `reassign_predicate_columns` w/ in-list expr
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#6115 Update to arrow 38
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/examples/flight_sql_server.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core, sqllogictest

#6120 Minor: Split `DmlStatement` into its own module
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
Labels: logical-expr

#6122 Remove input schema from PhysicalExpr, move the validation logic to physical expression planner
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: physical-expr

#6084 Move Scalar Subquery validation logic to the Analyzer
  benchmarks/expected-plans/q2.txt
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer, core

#6106 chore: Update api docs for `SessionContext`, `TaskContext`, etc
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/mod.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/execution/src/task.rs
  datafusion/physical-expr/src/execution_props.rs
Labels: physical-expr, core

#6123 Minor: Mark default_session_builder deprecated, add since markings
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
Labels: core

#6143 Fix broken build due to merge conflict
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#6136 [Bug fix] Source projection output ordering
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/projection.rs
Labels: core

#6103 Make decimal multiplication allow precision-loss in DataFusion
  datafusion/core/tests/sqllogictests/test_files/tpch.slt
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core, sqllogictest

#6049 MemoryExec INSERT INTO refactor to use ExecutionPlan
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#6144 Complete Extracting LogicalPlan::Drop* DDL related plan structures into LogicalPlan::Ddl
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
Labels: api change, sql, logical-expr, optimizer, core

#6129 fix: `common_subexpr_eliminate` and aggregates
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#6142 Add support for scientific notation (remove old unimplemented() for scientific notation)
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/sql/src/expr/value.rs
Labels: sql, core, sqllogictest

#6130 Use ParquetObjectReader
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#6158 Port test in select.rs to sqllogic
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/select.slt
Labels: core, sqllogictest

#6146 Support uint64 literals
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#6164 Remove JIT based on cranelift, and `jit` feature
  .github/workflows/docs_pr.yaml
  .github/workflows/rust.yml
  Cargo.toml
  ci/scripts/rust_clippy.sh
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/jit.rs
  datafusion/core/src/lib.rs
  datafusion/jit/Cargo.toml
  datafusion/jit/README.md
  datafusion/jit/src/api.rs
  datafusion/jit/src/ast.rs
  datafusion/jit/src/compile.rs
  datafusion/jit/src/jit.rs
  datafusion/jit/src/lib.rs
  datafusion/row/Cargo.toml
  datafusion/row/src/jit/mod.rs
  datafusion/row/src/jit/reader.rs
  datafusion/row/src/jit/writer.rs
  datafusion/row/src/lib.rs
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/release/release-crates.sh
  dev/update_datafusion_versions.py
Labels: api change, development-process, core

#6096 Support DROP SCHEMA statements
  datafusion/common/src/lib.rs
  datafusion/common/src/schema_reference.rs
  datafusion/core/src/catalog/catalog.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, core, sqllogictest

#6134 Improve `compare.py` output to use `min` times and better column titles
  benchmarks/compare.py
Labels: development-process

#6168 Fix GroupByOrderMode documentation
  datafusion/core/src/physical_plan/aggregates/mod.rs
Labels: core

#6169 Remove Rayon-based Scheduler
  .github/workflows/docs_pr.yaml
  .github/workflows/rust.yml
  benchmarks/Cargo.toml
  benchmarks/src/bin/tpch.rs
  ci/scripts/rust_clippy.sh
  datafusion/core/Cargo.toml
  datafusion/core/benches/parquet_query_sql.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
  datafusion/core/src/scheduler/pipeline/mod.rs
  datafusion/core/src/scheduler/pipeline/repartition.rs
  datafusion/core/src/scheduler/plan.rs
  datafusion/core/src/scheduler/task.rs
Labels: api change, core
