Repository apache/datafusion, pull requests merged in 2023-11, with the labels that each got.

#8012 Percent Decode URL Paths (#8009)
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/listing/url.rs
Labels: api change, core

#7982 Minor: Extract common deps into workspace
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#7996 minor: change some plan_err to exec_err
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/no_op.rs
  datafusion/physical-expr/src/sort_expr.rs
Labels: physical-expr

#7998 Minor: error on unsupported RESPECT NULLs syntax
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#8013 Minor: Add implementation examples to ExecutionPlan::execute
  datafusion/physical-plan/src/lib.rs
Labels: documentation

#7993 Minor: Extend wrap_into_list_array to accept multiple args
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7997 fix: single_distinct_aggretation_to_group_by fail
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: optimizer, sqllogictest

#7962 Read only enough bytes to infer Arrow IPC file schema via stream
  datafusion/core/src/datasource/file_format/arrow.rs
Labels: core

#8023 Minor: Improve documentation for Filter Pushdown
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#8025 fix: clippy warnings from nightly rust 1.75
  datafusion/common/src/error.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer, core

#7963 Minor: Avoid recomputing compute_array_ndims in align_array_dimensions
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8035 Minor: Improve documentation for `PartitionStream` and `StreamingTableExec`
  datafusion/physical-plan/src/streaming.rs
Labels: devrel

#8006 Combine Equivalence and Ordering equivalence to simplify state
  .github/pull_request_template.md
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/partitioning.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/tpch/q17.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: development-process, physical-expr, core, sqllogictest

#8033 Encapsulate `ProjectionMapping` as a struct
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/projection.rs
Labels: physical-expr

#8047 Improve comments for `PartitionSearchMode` struct
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: documentation

#8050 General approach for Array replace
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8022 Minor: Add more documentation about Partitioning
  datafusion/physical-expr/src/partitioning.rs
Labels: physical-expr, devrel

#8052 Minor: improve documentation for IsNotNull, DISTINCT, etc
  datafusion/expr/src/expr.rs
  datafusion/expr/src/operator.rs
Labels: logical-expr

#8057 Prepare 33.0.0 Release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  dev/changelog/33.0.0.md
  docs/Cargo.toml
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest

#8065 Minor: improve error message by adding types to message
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sqllogictest/test_files/errors.slt
Labels: logical-expr

#8059 Minor: Remove redundant BuiltinScalarFunction::supports_zero_argument()
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr

#8049 Fix incorrect results in COUNT(*) queries with LIMIT
  datafusion/physical-plan/src/limit.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#7972 feat: Support determining extensions from names like `foo.parquet.snappy` as well as `foo.parquet`
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/context/parquet.rs
Labels: core

#8083 fix: DataFusion suggests invalid functions
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/window_function.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: logical-expr, sqllogictest

#8071 Replace macro with function for `array_repeat`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8061 Minor: remove unnecessary projection in `single_distinct_to_group_by` rule
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
Labels: optimizer, sqllogictest

#8095 minor: Remove duplicate version numbers for arrow, object_store, and parquet dependencies
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/wasmtest/Cargo.toml
Labels: core

#8097 Minor: use `Expr::alias` in a few places to make the code more concise
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sql/src/select.rs
Labels: sql, optimizer

#8088 Minor: Cleanup BuiltinScalarFunction::return_type()
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr

#8073 Projection Pushdown in PhysicalPlan
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: physical-expr, core, sqllogictest

#8038 Push limit into aggregation for DISTINCT ... LIMIT queries
  datafusion/common/src/config.rs
  datafusion/common/src/tree_node.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/data_utils/mod.rs
  datafusion/core/benches/distinct_query_sql.rs
  datafusion/core/benches/topk_aggregate.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#8080 feat: support target table alias in update statement
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/update.slt
Labels: sql, sqllogictest

#8055 Fix ArrayAgg schema mismatch issue
  datafusion/core/src/dataframe/mod.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
Labels: physical-expr, core

#8054 Minor: Support `nulls` in `array_replace`, avoid a copy
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8109 Simplify ProjectionPushdown and make it more general
  datafusion/common/src/tree_node.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
Labels: core

#8122 Minor: clean up the code regarding clippy
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/sql/src/statement.rs
Labels: sql, core

#8100 Support remaining functions in protobuf serialization, add `expr_fn` for `StructFunction`
  datafusion/expr/src/expr_fn.rs
  datafusion/proto/src/logical_plan/from_proto.rs
Labels: logical-expr

#8114 Minor: Cleanup BuiltinScalarFunction's phys-expr creation
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
Labels: physical-expr

#8108 rewrite `array_append/array_prepend` to remove deplicate codes
  datafusion/core/src/datasource/avro_to_arrow/arrow_array_reader.rs
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr, core

#8125 Improve documentation for calculate_prune_length method in `SymmetricHashJoin`
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
Labels: documentation

#8066 Minor: remove duplicated `array_replace` tests
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8115 Minor: Fix temporary files created but not deleted during testing
  datafusion/core/src/execution/context/parquet.rs
Labels: core

#7901 chore: remove panics in datafusion-common::scalar by making more operations return `Result`
  datafusion/common/src/pyarrow.rs
  datafusion/common/src/scalar.rs
  datafusion/core/benches/scalar.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/expr/src/columnar_value.rs
  datafusion/expr/src/window_state.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/datum.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/struct_expressions.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/no_grouping.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/hash_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/stream.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/physical-plan/src/unnest.rs
Labels: api change, logical-expr, physical-expr, optimizer, core

#8126 Fix join order for TPCH Q17 & Q18 by improving FilterExec statistics
  datafusion/physical-plan/src/filter.rs
Labels: enhancement, performance

#8127 Fix: Do not try and preserve order when there is no order to preserve in RepartitionExec
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/physical-plan/src/repartition/mod.rs
Labels: core

#8112 feat: add column statistics into explain
  datafusion/common/src/stats.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: core, sqllogictest

#8093 Add subtrait support for `IS NULL` and `IS NOT NULL`
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8105 Combine `Expr::Wildcard` and `Wxpr::QualifiedWildcard`, add `wildcard()` expr fn
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
Labels: api change, sql, logical-expr, optimizer, core

#8119 feat: support UDAF in substrait producer/consumer
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#8138 Improve documentation site to make it easier to find communication on Slack/Discord
  README.md
  docs/source/contributor-guide/communication.md
  docs/source/index.rst
Labels: documentation

#8134 Fix typo in partitioning.rs
  datafusion/physical-expr/src/partitioning.rs
Labels: physical-expr

#7981 Implement `DISTINCT ON` from Postgres
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/serialize.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, optimizer, sqllogictest, substrait

#8137 Avoid concat in `array_append`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7897 Implement `array_union`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8113 feat: show statistics in explain verbose
  datafusion/common/src/display/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: core, sqllogictest

#8117 feat:implement postgres style 'overlay' string function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sql, logical-expr, physical-expr, sqllogictest

#8146 feat: fill missing values with NULLs while inserting
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: sql, sqllogictest

#8141 Introduce return type for aggregate sum
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
Labels: physical-expr

#8140 implement range/generate_series func
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8034 Encapsulate `EquivalenceClass` into a struct
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: api change, physical-expr

#8176 Revert "Minor: remove unnecessary projection in `single_distinct_to_g…
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
Labels: optimizer, sqllogictest

#8079 Make fields of `ScalarUDF` , `AggregateUDF` and `WindowUDF` non `pub`
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/physical-plan/src/udaf.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, logical-expr, physical-expr, optimizer, core

#8021 Implement StreamTable and StreamTableProvider (#7994)
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/fifo.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: api change, core, sqllogictest

#8174 Minor: simplify filter statistics code
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/physical-plan/src/filter.rs
Labels: core

#8170 Replace macro with function for `array_position` and `array_positions`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8192 Add more stream docs
  datafusion/core/src/datasource/stream.rs
Labels: core

#8142 Implement func `array_pop_front`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8217 Moving arrow_files SQL tests to sqllogictest
  datafusion/core/tests/sql/arrow_files.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/arrow_files.slt
Labels: core, sqllogictest

#8219 fix regression in the use of name in ProjectionPushdown
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer

#8191 [MINOR]: Fix column indices in the planning tests
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
Labels: core

#8232 Remove unnecessary reassignment
  datafusion/core/src/physical_planner.rs
Labels: core

#8233 Update itertools requirement from 0.11 to 0.12
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
Labels: physical-expr

#8231 Port tests in subqueries.rs to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: core, sqllogictest

#8168 feat:implement calcite style 'levenshtein' string function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8246 Minor: Port tests in `displayable.rs` to sqllogictest
  datafusion/core/tests/sql/displayable.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#8150 fix: Timestamp with timezone not considered `join on`
  datafusion/expr/src/utils.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: logical-expr, sqllogictest

#8240 Port tests in projection.rs to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/partitioned_csv.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/sqllogictest/test_files/projection.slt
Labels: core, sqllogictest

#8135 Introduce `array_except` function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8242 Port tests in `describe.rs` to sqllogictest
  datafusion/core/tests/sql/describe.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/describe.slt
Labels: core, sqllogictest

#8257 Minor: clean up the code based on Clippy
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-plan/src/filter.rs
Labels: physical-expr

#8029 Update arrow 49.0.0 and object_store 0.8.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/exec.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/core/tests/path_partition.rs
  datafusion/execution/src/cache/cache_unit.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/substrait/src/physical_plan/consumer.rs
Labels: physical-expr, core, sqllogictest, substrait

#8148 feat: impl the basic `string_agg` function
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/string_agg.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, sqllogictest

#8248 Minor: Make schema of grouping set columns nullable
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, optimizer, sqllogictest

#8256 feat: support simplifying BinaryExpr with arbitrary guarantees in GuaranteeRewriter
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
Labels: optimizer

#8014 Don't Canonicalize Filesystem Paths in ListingTableUrl / support new external tables for files that do not (yet) exist
  datafusion-cli/src/exec.rs
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#8278 Minor: Add sql level test for inserting into non-existent directory
  datafusion/sqllogictest/test_files/insert.slt
Labels: sqllogictest

#8263 Replace `array_has/array_has_all/array_has_any` macro to remove duplicate code
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8286 Fix bug in field level metadata matching code
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/metadata.slt
Labels: sqllogictest

#8276 Interval Arithmetic Updates
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/lib.rs
  datafusion/common/src/rounding.rs
  datafusion/common/src/scalar.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/interval_arithmetic.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/mod.rs
  datafusion/physical-expr/src/intervals/utils.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: logical-expr, physical-expr, optimizer

#8289 [MINOR]: Remove unecessary orderings from the final plan
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: core, sqllogictest

#8270 consistent logical & physical `NTILE` return types
  datafusion/expr/src/window_function.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, sqllogictest

#8269 make `array_union`/`array_except`/`array_intersect` handle empty/null arrays rightly
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, logical-expr, physical-expr, sqllogictest

#8267 improve file path validation when reading parquet
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/context/parquet.rs
Labels: core

#8261 Fix Display for List
  datafusion/common/src/scalar.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: sqllogictest

#8283 feat: support customizing column default values for inserting
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/table_source.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/insert.slt
Labels: sql, logical-expr, core, sqllogictest

#8290 support `LargeList` for `arrow_cast`, support `ScalarValue::LargeList`
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sql, sqllogictest

#8300 Minor: remove useless clone based on Clippy
  datafusion/expr/src/interval_arithmetic.rs
Labels: logical-expr

#8281 Calculate ordering equivalence for expressions (rather than just columns)
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: physical-expr, core, sqllogictest

#8314 Fix sqllogictests link in contributor-guide/index.md
  datafusion/sqllogictest/README.md
  docs/source/contributor-guide/index.md
Labels: sqllogictest

#8258 Refactor: Unify `Expr::ScalarFunction` and `Expr::ScalarUDF`, introduce unresolved functions by name
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/value.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, substrait

#8266 Support no distinct aggregate sum/min/max in `single_distinct_to_group_by` rule
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: optimizer, sqllogictest

#8272 feat:implement sql style 'substr_index' string function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8193 Fixing issues with for timestamp literals
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#8299 Projection Pushdown over StreamingTableExec
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-plan/src/streaming.rs
Labels: core

#8313 fix: wrong result of range function
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8301 Minor: rename parquet.rs to parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
Labels: core

#8304 refactor: output ordering
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#8316 Port tests in `aggregates.rs` to sqllogictest
  datafusion/core/tests/sql/aggregates.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#8319 Library Guide: Add Using the DataFrame API
  docs/source/library-user-guide/using-the-dataframe-api.md
Labels: documentation, devrel

#8315 Port tests in limit.rs to sqllogictest
  datafusion/core/tests/sql/limit.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/limit.slt
Labels: core, sqllogictest

#8332 move array function unit_tests to sqllogictest
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8327 NTH_VALUE reverse support
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#8340 Optimize Projections during Logical Plan
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/eliminate_project.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/merge_projection.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, core, sqllogictest, substrait

#8352 [MINOR]: Move merge projections tests to under optimize projections
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/merge_projection.rs
  datafusion/optimizer/src/optimize_projections.rs
Labels: optimizer

#8351 Add `quote` and `escape` attributes to create csv external table
  datafusion/common/src/file_options/csv_writer.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/tests/data/escape.csv
  datafusion/core/tests/data/quote.csv
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: core, sqllogictest

#8341 Minor: Add DataFrame test
  datafusion/core/src/physical_planner.rs
Labels: core

#8359 Minor: clean up the code based on Clippy
  datafusion/optimizer/src/optimize_projections.rs
Labels: optimizer

#8350 Minor: Make it easier to work with Expr::ScalarFunction
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: logical-expr, core, substrait

#8354 Minor: Move some datafusion-optimizer::utils down to datafusion-expr::utils
  benchmarks/src/parquet_filter.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: logical-expr, optimizer, core, substrait

#8349 Minor: Make `BuiltInScalarFunction::alias` a method
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr

#8294 Extract parquet statistics to its own module, add tests
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
Labels: core

#8328 feat:implement sql style 'find_in_set' string function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8357 Support LargeUtf8 to Temporal Coercion
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, sqllogictest

#8358 Refactor aggregate function handling
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/select.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, optimizer, core, substrait

#8159 Double type argument for to_timestamp function
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest
