Repository apache/datafusion, pull requests merged in 2023-05, with the labels that each got.

#6166 feat: make threshold for using scalar update in aggregate configurable
  datafusion/common/src/config.rs
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/execution/src/config.rs
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#6175 Handle ScalarValue::Dictionary in add_to_row and update_avg_to_row
  datafusion/physical-expr/src/aggregate/sum.rs
Labels: physical-expr

#6185 chore(datetime_expression): support uppercase granularity for `DATE_TRUNC` func
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/physical-expr/src/datetime_expressions.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: physical-expr, core, sqllogictest

#6170 Simplify HashJoin memory accounting
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#6163 Adaptive in-memory sort (~2x faster) (#5879)
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/order_spill_fuzz.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#6184 refactor: optimizer shouldn't assume failed rules are internal error
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer, core, sqllogictest

#6177 fix: type coercion ignore prevent `Interval - Date`
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/core/tests/sqllogictests/test_files/type_coercion.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6186 minor: remove default match for function signature
  datafusion/expr/src/function.rs
  datafusion/expr/src/signature.rs
Labels: logical-expr

#6160 Add Support for Ordering Equivalence
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#6199 fix: `common_subexpr_eliminate` w/ aggregates and relations
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#6172 Add parquet filter and sort to bench.sh
  benchmarks/bench.sh
Labels: development-process

#6203 minor: remove unused code in binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#6197 Sum and Avg should be able to take inputs of type Dictionary
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/expr/src/type_coercion/aggregates.rs
Labels: logical-expr, core, sqllogictest

#6220 minor: fix tiny typo in table.rs
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#6193 Lower some log levels from `debug` to `trace` during plan execution
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/unnest.rs
Labels: core

#6200 minor: Move shift_date tests to be with code
  datafusion/common/src/delta.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#6229 Minor: rename variable for clarity
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
Labels: core

#6196 feat: allow scalars to appear as the LHS arg in arithmetic operations on temporal values
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr

#6202 Supply consistent format output for FileScanConfig params
  datafusion-cli/src/object_storage.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  docs/source/user-guide/sql/explain.md
Labels: core, sqllogictest

#6222 minor: refactor code to avoid same code.
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer

#6231 minor: change error type for window expressions
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/window_frame.rs
Labels: logical-expr, core, sqllogictest

#6201 Add sqllogic test coverage for interval arithmetic
  datafusion/core/tests/sqllogictests/test_files/interval.slt
Labels: core, sqllogictest

#6154 Simplify MemoryWriteExec
  datafusion/core/src/physical_plan/memory.rs
Labels: core

#6221 refactor: separate get_result_type from `coerce_type`
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6242 fix: slt fail due to bors problem
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, optimizer, core, sqllogictest

#6239 Port tests in errors.rs to sqllogictest
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sqllogictests/test_files/errors.slt
Labels: core, sqllogictest

#6219 Select Into support
  datafusion-cli/Cargo.lock
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/sql/src/select.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, core, sqllogictest

#6224 Port test in union.rs to sqllogic
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/union.rs
  datafusion/core/tests/sqllogictests/test_files/union.slt
Labels: core, sqllogictest

#6240 Port tests in expr.rs to sqllogictest
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
Labels: core, sqllogictest

#6244 Port tests in cast.rs to sqllogictest
  datafusion/core/tests/sql/cast.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/cast.slt
Labels: core, sqllogictest

#6235 Minor: allow creating infinite external tables via SQL (for testing)
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: core, sqllogictest

#6217 Minor: consolidate test data
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/data/1.json
  datafusion/core/tests/data/2.json
  datafusion/core/tests/data/3.json
  datafusion/core/tests/data/corrupt.csv
  datafusion/core/tests/data/repeat_much.snappy.parquet
  datafusion/core/tests/data/schema_infer_limit.json
  datafusion/core/tests/data/test_binary.parquet
  datafusion/core/tests/data/timestamp_with_tz.parquet
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/parquet.rs
Labels: core

#6218 docs: consolidate datafusion-cli docs
  datafusion-cli/README.md
  docs/source/user-guide/cli.md
Labels: documentation

#6249 Port tests in wildcard.rs to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/wildcard.rs
  datafusion/core/tests/sqllogictests/test_files/wildcard.slt
Labels: core, sqllogictest

#6250 refactor: separate get_common_type / get_result_type for temporal type
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core, sqllogictest

#6255 Port tests in set_variable.rs to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/core/tests/sqllogictests/test_files/set_variable.slt
Labels: core, sqllogictest

#6256 Port tests in functions.rs to sqllogictest
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
Labels: core, sqllogictest

#6254 fix: `projection_push_down` don't consider VarProvider in columns.
  datafusion/core/tests/dataframe.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#6247 Minor: document syntax of CREATE EXTERNAL TABLE
  datafusion/sql/src/parser.rs
  docs/source/user-guide/sql/ddl.md
Labels: sql

#6149 feat: LCM, GCD and Factorial
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6283 minor: remove prefix in type_coercion
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: logical-expr, physical-expr, optimizer

#6257 Enable parser to parse create external clauses in arbitrary order
  datafusion/core/tests/sqllogictests/test_files/create_external_table.slt
  datafusion/sql/src/parser.rs
Labels: sql, core, sqllogictest

#6286 minor: Remove dead code for casting dictionaries
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#6284 refactor: Expr::ScalarUDF to use a struct
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#6294 refactor: Expr::AggregateUDF to use a struct
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udaf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#6292 refactor: Expr::Exists to use a struct.
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/sql/src/expr/subquery.rs
Labels: sql, logical-expr, optimizer

#6293 refactor: Expr::InList to use a struct
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#6270 Support `interval '1 month' + date/timestamp`: Handle binary op interval in logical AST builder
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/core/tests/sqllogictests/test_files/type_coercion.slt
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
Labels: sql, core, sqllogictest

#6295 Refactor: Expr::InSubquery to use a struct
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/README.md
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#6260 Add more documentation to SortPreservingMergeStream
  datafusion/core/src/physical_plan/sorts/merge.rs
Labels: core

#6304 refactor: Expr::PlaceHolder to use a struct
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, optimizer, core

#6269 Fix inconsistent array type for binary numerical operators result between array and scalar
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr, core, sqllogictest

#6309 Remove SizedRecordBatchStream
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/tests/provider_filter_pushdown.rs
Labels: api change, core

#6291 Improve error message for CREATE EXTERNAL TABLE
  datafusion/core/tests/sqllogictests/test_files/create_external_table.slt
  datafusion/sql/src/parser.rs
Labels: sql, core, sqllogictest

#6273 Remove the PhysicalSortExpr restriction on union get meet
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/tests/sqllogictests/test_files/union.slt
Labels: core, sqllogictest

#6265 Disable `skip_failed_rules` optimizer config by default
  datafusion/common/src/config.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#6252 Update Arrow 39
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/physical-expr/src/struct_expressions.rs
Labels: physical-expr, core

#6314 Port tests in `json.rs` to sqllogictest
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/json.slt
Labels: core, sqllogictest

#6312 feat: negation of `Intervals`
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/expr/src/type_coercion/mod.rs
  datafusion/physical-expr/src/expressions/negative.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6308 Parallel merge sort (#6162)
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: core

#6306 Port some tests in joins.rs to sqllogictest
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
Labels: core, sqllogictest

#6334 Fix case evaluation with NULL
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr

#6340 Port tests in errors.rs to context.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#5099 Enable parquet page level skipping (page index pruning) by default
  datafusion/common/src/config.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#6343 Port tests in explain.rs to sqllogictests
  datafusion/core/tests/sql/explain.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: core, sqllogictest

#6330 Ordering satisfy consider ordering equivalence of different lengths
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#6331 refine decimal multiply, avoid cast to wider type
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: logical-expr, physical-expr

#6271 Combine the two rules: DecorrelateWhereExists and DecorrelateWhereIn
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q4.txt
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#6276 feat: support bitwise and boolean aggregate functions
  datafusion/common/src/scalar.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_window.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/row_accumulator.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/row/src/accessor.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/aggregate_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6329 Fix explain plan formatting in sqllogictest
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/test_files/errors.slt
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/core/tests/sqllogictests/test_files/json.slt
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#6345 Simplify IsNotNull and IsNull expression
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer

#6337 Add support for reading Arrow files
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/file_format/arrow_file.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/tests/data/example.arrow
  datafusion/core/tests/sql/arrow_files.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
Labels: core, sqllogictest

#6226 feat: min/max agg for bool
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/row/src/accessor.rs
Labels: physical-expr, core, sqllogictest

#6183 Faster ListingTable partition listing (#6182)
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/tests/path_partition.rs
Labels: core

#6369 feat: add pattern for simplifying exprs like `str ~ '^foo$'`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
Labels: optimizer

#6359 Limit the number of partition files to be displayed for FileGroupsDisplay
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#6360 Switch to non-recursive on heap virtual stack when building logical plan from SQL expression
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql

#6373 Fix UNION ALL aliasing
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core, sqllogictest

#6362 [sqllogictest] port tests in avro.rs to sqllogictest
  .github/workflows/rust.yml
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/avro.slt
Labels: core, sqllogictest

#6366 Concurrent Parquet Schema Inference
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#6354 INSERT returns number of rows written, add `InsertExec` to handle common case.
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sqllogictests/test_files/insert.slt
Labels: core, sqllogictest

#6389 Minor: used named constant for the schema inference concurrency limit
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#6390 Prepare for 25.0.0 Release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/25.0.0.md
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#6394 Support is [not] distinct from for binaryarray types
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core, sqllogictest

#6404 feat: support type cast in SchemaAdapter
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#6412 Update arrow 40
  Cargo.toml
  benchmarks/expected-plans/q17.txt
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q7.txt
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/print_format.rs
  datafusion-examples/examples/deserialize_to_struct.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/set_variable.slt
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/src/physical_plan/from_proto.rs
Labels: physical-expr, optimizer, core, sqllogictest

#6378 feat: implement serialize/deserialize for extension logical plan
  datafusion/core/src/execution/context.rs
  datafusion/execution/src/registry.rs
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/serializer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
  datafusion/substrait/tests/serialize.rs
Labels: api change, core, substrait

#6429 Do not run avro sqllogictests tests unless the avro feature is enabled
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
Labels: core, sqllogictest

#6415 Improve error message for wrong built-in scalar function signatures.
  datafusion/core/tests/sqllogictests/test_files/errors.slt
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/function.rs
  datafusion/expr/src/function_err.rs
  datafusion/expr/src/lib.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6348 refactor: split `CommonSubexprEliminate::try_optimize`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#6417 Fix UNION ALL aliasing with more complex queries
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core, sqllogictest

#6393 Reduce output when `sqllogictest` runs successfully, and run tests in parallel
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
Labels: core, sqllogictest

#6438 Skip casting result array for binary numerical operators result between array and scalar if possible
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#6454 Minor fix for the Debug of FileScanConfig
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#6448 Improve Display for BuiltinScalarFunction
  benchmarks/expected-plans/q7.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion-cli/Cargo.lock
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest

#6460 Minor: remove dead code `sort_expr_list_eq_strict_order`
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr

#6443 feat: eliminate useless join | convert inner to outer when condition is true
  datafusion/core/tests/simplification.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/expr/src/field_util.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6445 Add support for FIRST_VALUE, LAST_VALUE Aggregate Functions
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/window_function.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/integration_test.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#6452 Ordering Equivalence Builder
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/physical-expr/src/equivalence.rs
Labels: physical-expr, core

#6402 User guide lists window functions
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, datafusion

#6473 minor: fix comment docs
  datafusion/core/src/execution/context.rs
  datafusion/execution/src/object_store.rs
Labels: core

#6464 Clippy lints
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/reader.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: logical-expr, physical-expr, core, substrait

#6465 Use `std::ops` traits for `Exprs` rather than custom function names
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/operator.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: api change, logical-expr, optimizer, core

#6433 Refactor temporal arithmetic
  datafusion/common/src/delta.rs
  datafusion/common/src/scalar.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/datetime.rs
Labels: physical-expr, optimizer

#6477 Fix case evaluation with NULL
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr, core, sqllogictest

#6471 Substrait: Support Expr::ScalarFunction
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#6469 Support Defining Ordering Equivalence at the Source
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/file_format/arrow_file.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/row.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sqllogictests/test_files/create_external_table.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/roundtrip_physical_plan.rs
Labels: api change, sql, logical-expr, physical-expr, core, sqllogictest, substrait

#6472 Improve getting started guide, add note about compatible `arrow` versions
  README.md
  docs/source/index.rst
  docs/source/user-guide/example-usage.md
Labels: documentation

#6435 Add tpch test cases with data.
  .github/workflows/rust.yml
  .gitignore
  benchmarks/expected-plans/q1.txt
  benchmarks/expected-plans/q10.txt
  benchmarks/expected-plans/q11.txt
  benchmarks/expected-plans/q12.txt
  benchmarks/expected-plans/q13.txt
  benchmarks/expected-plans/q14.txt
  benchmarks/expected-plans/q15.txt
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q17.txt
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q2.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q3.txt
  benchmarks/expected-plans/q4.txt
  benchmarks/expected-plans/q5.txt
  benchmarks/expected-plans/q6.txt
  benchmarks/expected-plans/q7.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  benchmarks/src/bin/tpch.rs
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/tpch.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/create_tables.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/drop_tables.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q1.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q10.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q11.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q12.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q14.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q15.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q16.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q17.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q18.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q19.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q2.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q20.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q21.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q22.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q3.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q4.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q5.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q6.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q7.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q8.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q9.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/tpch.slt
Labels: core, sqllogictest

#6493 Minor: Improve the tpch sqllogictest docs
  datafusion/core/tests/sqllogictests/README.md
Labels: core, sqllogictest

#6479 reduce search complexity for BuiltinScalarFunction
  datafusion-cli/Cargo.lock
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr

#6505 Fix builds fail with error: symbol `init___rust_ctor___ctor` is already defined #6495
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: optimizer
