Repository apache/datafusion, pull requests merged in 2023-01, with the labels that each got.

#4770 Update sqlparser to `29.0.0`
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#4779 Fix Stack overflow in sql planning in debug builds
  datafusion/core/tests/tpcds_planning.rs
  datafusion/sql/src/planner.rs
Labels: sql, core

#4760 Refactor extract_join_keys and move the ExtractEquijoinPredicate rule
  datafusion/core/tests/dataframe.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer, core

#4789 Uncomment nanoseconds tests after sql parser upgrade
  datafusion/core/tests/sql/expr.rs
Labels: core

#4742 support byte array for decimal in parquet page and row group filters
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
Labels: core

#4787 Minimize stack space required to plan deeply nested binary expressions
  datafusion/sql/src/planner.rs
Labels: sql

#4784 Make datafusion-physical-expr compatible with blake3/traits-preview feature.
  datafusion/physical-expr/src/crypto_expressions.rs
Labels: physical-expr

#4785 Minor: Refactor some sql planning code into functions
  datafusion/sql/src/planner.rs
Labels: sql

#4783 refactor: split expression pf planner into one part.
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/grouping_set.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/expr/substring.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/planner.rs
Labels: sql

#4771 Structify ConfigOptions (#4517)
  benchmarks/src/bin/h2o.rs
  datafusion-cli/src/main.rs
  datafusion/core/src/bin/print_config_docs.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/enforcement.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/config_from_env.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
  parquet-test-utils/src/lib.rs
Labels: core, sqllogictest

#4775 Implement OptimizerConfig for SessionState
  datafusion/core/src/execution/context.rs
Labels: core

#4800 remove duplicated test
  datafusion/core/tests/sql/explain_analyze.rs
Labels: core

#4788 fix: ListingSchemaProvider directory paths (related: #4204)
  datafusion/core/src/catalog/listing_schema.rs
Labels: core

#4807 Enable PhysicalOptimizerRule lazily (#4806)
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/repartition.rs
Labels: api change, core

#4805 Move default catalog and schema onto ConfigOptions (#3887)
  datafusion/core/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#4817 Fix clippy
  datafusion/core/src/catalog/listing_schema.rs
Labels: core

#4803 Move ConfigOptions to core
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/config.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/tests/sqllogictests/src/insert/util.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/planner.rs
Labels: api change, sql, optimizer, core, sqllogictest

#4607 Make SchemaProvider::table async
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sql/errors.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/proto/README.md
  datafusion/proto/examples/logical_plan_serde.rs
  datafusion/proto/examples/physical_plan_serde.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: core, sqllogictest

#4823 minor: add some comments to row group pruning tests
  datafusion/core/src/physical_plan/file_format/parquet/row_groups.rs
Labels: core

#4792 remove Operator::{Like,NotLike,ILike,NotILike}
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/operator.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: api change, logical-expr, physical-expr, optimizer, core

#4797 rewrite the function `ensure_any_column_reference_is_unambiguous`
  datafusion/sql/src/planner.rs
Labels: sql

#4830 feat: use arrow row format for hash-group-by
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/physical-expr/src/hash_utils.rs
Labels: physical-expr, core

#4825 bugfix: remove cnf_rewrite in push_down_filter
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q7.txt
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#4820 fix: account for memory in `RepartitionExec`
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/repartition.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#4829 refactor: split relation of planner into one part.
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/values.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, core, sqllogictest

#4831 DataFusion 16.0.0 release prep: Update version + add changelog
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4847 Update variance/stddev to work with single values
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/variance.rs
Labels: physical-expr, core, sqllogictest

#4838 support `select .. FROM 'parquet.file'` in datafusion-cli
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/catalog.rs
  datafusion-cli/src/lib.rs
  datafusion-cli/src/main.rs
  datafusion/core/src/execution/context.rs
Labels: core

#4840 Support wildcard select on multiple column using joins
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/select.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr

#4802 add tpch sqllogicaltest and remove some duplicated test
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sqllogictests/test_files/tpch.slt
Labels: core, sqllogictest

#4857 Add Synnada to known uses
  README.md
Labels: documentation

#4855 Minor: Move test data into `datafusion/core/tests/data`
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/core/tests/data/aggregate_simple.csv
  datafusion/core/tests/data/aggregate_simple_pipe.csv
  datafusion/core/tests/data/capitalized_example.csv
  datafusion/core/tests/data/customer.csv
  datafusion/core/tests/data/decimal_data.csv
  datafusion/core/tests/data/empty.csv
  datafusion/core/tests/data/example.csv
  datafusion/core/tests/data/null_cases.csv
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/sql/idenfifers.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/user_defined_plan.rs
  docs/source/user-guide/dataframe.md
  docs/source/user-guide/example-usage.md
Labels: core, sqllogictest

#4839 Orthogonalize distribution and sort enforcement rules into `EnforceDistribution` and `EnforceSorting`
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#4849 Fix push_down_projection through a distinct
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer

#4836 Remove tests from sql_integration that were ported to sqllogictest
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/arrow_typeof.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#4846 Implement retract_batch for AvgAccumulator
  datafusion/core/tests/sql/window.rs
  datafusion/physical-expr/src/aggregate/average.rs
Labels: physical-expr, core

#4848 Support using var/var_pop/stddev/stddev_pop in window expressions with custom frames
  datafusion/core/tests/sql/window.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/variance.rs
Labels: physical-expr, core

#4852 Covariance single row input & null skipping
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
Labels: physical-expr, core, sqllogictest

#4863 Support for SQL Natural Join
  datafusion/sql/src/relation/join.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#4869 Skip EliminateCrossJoin rule when meet non-empty join filter
  datafusion/core/tests/sqllogictests/test_files/join.slt
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: optimizer, core, sqllogictest

#4856 Remove unused ExecutionPlan::relies_input_order (has been replaced with `required_input_ordering`)
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
Labels: api change, core

#4884 Minor: Add docstrings to UnionExec
  datafusion/core/src/physical_plan/union.rs
Labels: core

#4862 Rewrite coerce_plan_expr_for_schema to fix union type coercion
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/union.rs
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core, sqllogictest

#4407 Refactor loser tree code in SortPreservingMerge per PR comments
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
Labels: core

#4899 Docs: Add known user - Kamu
  README.md
Labels: documentation

#4867 refactor: improve repartition buffering
  datafusion/core/src/physical_plan/repartition/distributor_channels.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
Labels: core

#4878 Fix column indices in EnforceDistribution optimizer in Partial AggregateMode
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/tests/sql/joins.rs
Labels: core

#4900 fix: Visit subqueries in `Expr::Alias`
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#4888 Update `optimize_children` to return `Result<Option<LogicalPlan>>`
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#4906 Refactor: `Add LogicalPlan::observe_expressions` to walk expressions
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: logical-expr, optimizer

#4826 Support non-tuple expression for in-subquery to join
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
Labels: logical-expr, optimizer, core

#4905 Minor: Port information schema tests to sqllogictest
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
Labels: core, sqllogictest

#4818 Update to arrow `30.0.1`
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/flight_client.rs
  datafusion-examples/examples/flight_server.rs
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/generated/prost.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4912 Executing ProjectionExec with no column should not return an Err
  datafusion/core/src/physical_plan/projection.rs
Labels: core

#4919 Minor add ticket link to broken test
  datafusion/core/src/physical_plan/file_format/csv.rs
Labels: core

#4896 [Substrait] Change API to return LogicalPlan instead of DataFrame
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/tests/roundtrip.rs
  datafusion/substrait/tests/serialize.rs
Labels: substrait

#4716 Refine the statistics estimation for the limit and aggregate operator
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer, core

#4885 Do not repartition inputs whose sort order is required
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sql/explain_analyze.rs
Labels: core

#4933 Make it able to specify a session id for SessionState
  datafusion/core/src/execution/context.rs
Labels: core

#4928 Reduce redundancy in sort_enforcement tests
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
Labels: core

#4929 Upgrade object_store from 0.5.0 to 0.5.3
  datafusion/core/Cargo.toml
Labels: core

#4951 [maint-16.x] Make it able to specify a session id for SessionState (#4933)
  datafusion/core/src/execution/context.rs
Labels: core

#4946 Do not resort inputs to `UnionExec` if they are already sorted
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/union.rs
Labels: core

#4902 Add insert/update/delete to LogicalPlan and add SQL planner support
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, optimizer, core

#4903 Update main DataFusion README
  README.md
  docs/source/user-guide/introduction.md
Labels: documentation

#4932 SUPPORT SEMI/ANTI JOIN SQL syntax in DataFusion
  datafusion/core/tests/sql/joins.rs
  datafusion/sql/src/relation/join.rs
Labels: sql, core

#4893 Add datafusion-substrait crate to workspace
  Cargo.toml
  datafusion/substrait/tests/serialize.rs
Labels: substrait

#4954 Minor: comma engineering in Readme
  README.md
Labels: documentation

#4927 Update to arrow 31
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4959 Maint-16.x Backport: #4878
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/tests/sql/joins.rs
Labels: core

#4953 Minor: Make messages consistent for LogicalPlan::Dml
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core

#4966 Upgrade to Substrait 0.4.0
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/src/serializer.rs
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#4955 MINOR: Add Substrait to feature list in README
  README.md
Labels: documentation

#4958 Expose `sql_to_statement` and `statement_to_plan` on `SessionState`
  datafusion/core/src/execution/context.rs
Labels: core

#4940 Propagate planning error back to user
  datafusion/core/src/physical_plan/planner.rs
Labels: core

#4916 Improve documentation for ExprVisitor, port simple uses to new walking function
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#4945 Minor: Reduce even more redundancy creating window_agg in sort_enforcement tests
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
Labels: core

#4701 Infer prepared statement parameter types
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr

#4924 Unify Row hash and hash implementation
  datafusion/core/src/physical_plan/aggregates/hash.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/physical-expr/src/aggregate/count.rs
Labels: physical-expr, core

#4975 [maint-16.x] Prep for release
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#4988 re-export substrait crate
  datafusion/substrait/src/lib.rs
Labels: substrait

#4892 refactor and add simple function to deserialize and serialize proto b…
  datafusion/substrait/src/serializer.rs
Labels: substrait

#4983 fix(4981): incorrect error wrapping in `OnceFut`
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/error.rs
  datafusion/core/src/physical_plan/joins/utils.rs
Labels: core

#5001 Minor: Document how to create `ListingTables`
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
Labels: core

#5000 Allow overriding error type in DataFusion Result
  datafusion-cli/src/command.rs
  datafusion-cli/src/functions.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/print_format.rs
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sqllogictests/src/error.rs
  datafusion/core/tests/sqllogictests/src/insert/mod.rs
  datafusion/core/tests/user_defined_plan.rs
  datafusion/expr/src/expr_visitor.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
Labels: api change, logical-expr, optimizer, core, sqllogictest

#5002 Bump sqllogictest to v0.11.1
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/main.rs
Labels: core, sqllogictest

#4989 Add support for linear range calculation in WINDOW functions
  datafusion/common/src/lib.rs
  datafusion/common/src/utils.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
Labels: physical-expr

#4834 (#4462) Postgres compatibility tests using sqllogictest
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/core/src/test_util.rs
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/postgres/postgres_create_table.sql
  datafusion/core/tests/sqllogictests/src/engines/conversion.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/error.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert/util.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/src/engines/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/image.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/normalize.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_types.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_union.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_window.slt
  integration-tests/create_test_table_postgres.sql
Labels: core, sqllogictest

#5006 Minor: improve internal error message
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#5012 Minor: Remove invalid comments
  datafusion/sql/src/select.rs
Labels: sql

#5008 AVG(null) is NULL (not zero)
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/average.rs
Labels: physical-expr, core, sqllogictest

#4972 Simplify GroupByHash implementation (to prepare for more work)
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
Labels: core

#5017 Check placeholder __timeTo and return Datafusion::Plan error
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5013 Sqllogictest: use the same normalization for all tests
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/tpch.slt
Labels: core, sqllogictest

#4998 [Enhancement] early check table exist before create
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/create_drop.rs
Labels: core

#5026 [sqllogictest] Create empty tables
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/util.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/sql/src/planner.rs
Labels: sql, core, sqllogictest

#5015 [sqllogictets] Remove postgres container orchestration
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/postgres/postgres_create_table.sql
  datafusion/core/tests/sqllogictests/src/engines/postgres/image.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_union.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat_window.slt
Labels: core, sqllogictest

#5003 Support for bounded execution when window frame involves UNBOUNDED PRECEDING
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/window_fuzz.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core

#4977 Infer values for inserts
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#4999 Add dictionary_expresions feature (#4386)
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/select.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
Labels: api change, physical-expr, core

#5018 [BugFix] fix explain csv/json/avro exec can not see metrics bug
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#5049 Ensure insert projections are of correct type
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5037 Update docs links to logical plans module.
  datafusion/core/src/lib.rs
Labels: core

#5050 [Substrait] ReadRel. Get column names from TableScan source
  datafusion/substrait/src/producer.rs
Labels: substrait

#5051 Improve join type support in substrait
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#5048 Remove unnecessary pyo3 dependency from datafusion crate
  datafusion/core/Cargo.toml
Labels: core

#5053 Retain schema order in projection
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5035 Change ExecutionPlan::maintains_input_order to return vector (to support multi children executors better)
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
  datafusion/physical-expr/src/utils.rs
Labels: api change, physical-expr, core

#5066 Fix limit when size of batch to poll == skip/fetch value
  datafusion/core/src/physical_plan/limit.rs
Labels: core

#5021 Simplify the `PushDownLimit`.
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#5055 Minor: Move some aggregate error tests to sqllogictests
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#5069 Validate assignment target column existence for UPDATE statements
  datafusion/sql/Cargo.toml
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5054 Add decimal support to substrait serde
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/tests/roundtrip.rs
  datafusion/substrait/tests/testdata/data.csv
Labels: substrait

#5059 Fix CREATE SCHEMA schema name double quoting issue.
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5073 Release 17.0.0
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/update_datafusion_versions.py
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, substrait

#5025 Implemented a ReadOptions trait for cleaner code.
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/execution/options.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/window.rs
Labels: api change, core

#5062 [sqllogictests] Port orderby.rs to sqllogictests
  datafusion/core/tests/data/partitioned_csv/partition-0.csv
  datafusion/core/tests/data/partitioned_csv/partition-1.csv
  datafusion/core/tests/data/partitioned_csv/partition-2.csv
  datafusion/core/tests/data/partitioned_csv/partition-3.csv
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sqllogictests/test_files/order.slt
Labels: core, sqllogictest

#5081 fix clippy failures
  datafusion-examples/examples/avro_sql.rs
  datafusion/common/src/config.rs
  datafusion/common/src/error.rs
  datafusion/common/src/pyarrow.rs
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/reader.rs
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/window_fuzz.rs
  datafusion/optimizer/src/alias.rs
  datafusion/row/src/jit/reader.rs
  datafusion/row/src/jit/writer.rs
  datafusion/sql/src/expr/value.rs
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/src/serializer.rs
  datafusion/substrait/tests/roundtrip.rs
  datafusion/substrait/tests/serialize.rs
Labels: sql, optimizer, core, sqllogictest, substrait

#5083 Optimize returned plan in roundtrip_fill_na function
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#5077 Add NULL literal support for decimal and integers
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#5071 DataFrame count method
  datafusion-examples/README.md
  datafusion/core/src/dataframe.rs
  docs/source/user-guide/dataframe.md
Labels: core

#5085 Add null-equals-null join support
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/consumer.rs
  datafusion/substrait/src/producer.rs
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#5089 Hard code target_partitions=4 in sqllogictests
  datafusion/core/tests/sqllogictests/src/main.rs
Labels: core, sqllogictest

#5075 sqllogicaltest: move union.rs
  datafusion/core/tests/sql/union.rs
  datafusion/core/tests/sqllogictests/test_files/union.slt
Labels: core, sqllogictest

#4819 Show optimization errors in explain
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, optimizer, core

#5088 Minor: extract sort col rewrite into its own module, add unit tests
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
Labels: logical-expr

#5096 chore: change `DataBend` to `Databend`
  README.md
Labels: documentation

#5095 sqllogicaltest: fix unstable slt case.
  datafusion/core/tests/sqllogictests/test_files/union.slt
Labels: core, sqllogictest

#5098 Minor: remove unused methods in datafusion/optimizer/src/utils.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#5086 [sqllogictest] Move `decimal.rs` tests
  datafusion/core/tests/sql/decimal.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
Labels: core, sqllogictest

#5020 [BugFix] fix file stream time scanning metrics bug
  datafusion/core/src/physical_plan/file_format/file_stream.rs
Labels: core

#5103 Typo of greptimedb
  README.md
Labels: documentation

#5079 Insert target columns empty fix
  datafusion/common/src/config.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5102 Replace &Option<T> with Option<&T>
  datafusion/core/src/physical_plan/metrics/mod.rs
  datafusion/physical-expr/src/aggregate/stats.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr, core

#5101 Use DataFusionError instead of ArrowError in SendableRecordBatchStream
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/metrics/baseline.rs
  datafusion/core/src/physical_plan/metrics/tracker.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/scheduler/pipeline/execution.rs
  datafusion/core/src/scheduler/task.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: api change, core

#5057 Parquet parallel scan
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#5092 refactor: Add `rewrite_expr` convenience method for rewriting `Expr`s
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/expr/src/expr_rewriter.rs
Labels: logical-expr

#5110 [sqllogictest] Apply rowsort when there is no explicit order by
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/core/tests/sqllogictests/test_files/describe.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/core/tests/sqllogictests/test_files/nullif.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/core/tests/sqllogictests/test_files/strings.slt
Labels: core, sqllogictest

#5056 Update to arrow 32 and Switch to RawDecoder for JSON
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/avro_to_arrow/schema.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: api change, sql, logical-expr, physical-expr, optimizer, core

#5116 Fix release issues
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/release/README.md
Labels: sql, substrait

#5131 Bug fix: Empty Record Batch handling
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/tests/sql/window.rs
Labels: core
