Repository apache/datafusion, pull requests merged in 2023-08, with the labels that each got.

#7164 chore: add config option for allowing bounded use of sort-preserving operators
  datafusion/common/src/config.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/execution/src/config.rs
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7129 [bug]: Fix multi partition wrong column requirement bug
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/order/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
Labels: physical-expr, core, sqllogictest

#7131 Refactor memory_limit tests to make them easier to extend
  datafusion/core/tests/memory_limit.rs
  datafusion/execution/src/config.rs
Labels: core

#7169 Minor: show output ordering in MemoryExec
  datafusion/core/src/physical_plan/memory.rs
Labels: core

#7167 Move ordering equivalence, and output ordering for joins to util functions
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
Labels: optimizer, core

#7135 Add regr_slope() aggregate function
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/regr_slope.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7159 Add expression for array_agg
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr, core

#7172 fix: skip compression tests on --no-default-features
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
Labels: core

#7155 HashJoin order fixing
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/tests/sqllogictests/test_files/join_disable_repartition_joins.slt
Labels: core, sqllogictest

#7176 tweak: demote heading levels in PR template
  .github/pull_request_template.md
Labels: development-process

#7134 feat: add sqllogictests crate
  Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/engines/datafusion/util.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema_columns.slt
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/error.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/mod.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/runner.rs
  datafusion/sqllogictest/src/engines/mod.rs
  datafusion/sqllogictest/src/engines/output.rs
  datafusion/sqllogictest/src/engines/postgres_engine/mod.rs
  datafusion/sqllogictest/src/engines/postgres_engine/types.rs
  datafusion/sqllogictest/src/lib.rs
Labels: core, sqllogictest

#7177 docs: fix broken link
  datafusion/core/src/physical_plan/mod.rs
Labels: core

#7171 Add nanvl builtin function
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sqllogictests/test_files/math.slt
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7183 make dataframe.task_ctx public
  datafusion/core/src/dataframe.rs
Labels: core

#7175 refactor: add ExecutionPlan::file_scan_config to avoid downcasting
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_plan/mod.rs
Labels: core

#7179 Minor: Add documentation + diagrams for ExternalSorter
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#7186 Support simplifying expressions such as `~ ^(ba_r|foo)$` , where the string includes underline
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
Labels: optimizer

#7141 Unify DataFrame and SQL (Insert Into) Write Methods
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core, sqllogictest

#7202 Update some docs/scripts to reflect the removed/added packages.
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/release/release-crates.sh
Labels: development-process

#7199 Implement `array_repeat`, remove `array_fill`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7205 Use tokio only if running from a multi-thread tokio context
  datafusion/core/src/physical_plan/common.rs
Labels: core

#7215 improve the ergonomics of creating field and list array accesses
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/field_util.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/utils.rs
Labels: api change, sql, logical-expr, physical-expr, core

#7217 [MINOR] Document refactor on NestedLoopJoin
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
Labels: core

#7224 fix: typo in substrait
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#7219 Minor: Add constructors to GetFieldAccessExpr and add docs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: physical-expr

#7226 chore: required at least 1 approve before merge
  .asf.yaml
Labels: development-process

#7211 Add linear regression aggregate functions
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/regr.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7218 Add `Expr::field`, `Expr::index`, and `Expr::slice`, add docs
  datafusion/expr/src/expr.rs
  datafusion/sql/src/expr/identifier.rs
Labels: sql, logical-expr

#7212 Extend insert into support to include Json backed tables
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#7232 Minor: Remove unecessary `clone_with_replacement`
  datafusion/sql/src/utils.rs
Labels: sql

#6832 Update Arrow 45.0.0 And Datum Arithmetic, change Decimal Division semantics
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/print_format.rs
  datafusion/common/src/format.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sqllogictests/test_files/arrow_typeof.slt
  datafusion/core/tests/sqllogictests/test_files/binary.slt
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
Labels: api change, logical-expr, physical-expr, core, sqllogictest

#7207 Support `make_array` null handling in nested version
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: physical-expr, core, sqllogictest

#7230 [Minor], Bug Fix: Add empty ordering check at the source.
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
Labels: core, sqllogictest

#7231 Minor: with preserve order now receives argument
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
Labels: core

#7235 Minor: Remove [[example]] table from datafusion-examples/Cargo.toml
  datafusion-examples/Cargo.toml
Labels: development-process

#7237 Minor: Move `project_schema` to `datafusion_common`
  datafusion/common/src/lib.rs
  datafusion/common/src/utils.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
Labels: core

#7236 Minor: Extract ExecutionPlanVisitor to its own module
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/visitor.rs
Labels: core

#7130 Account for memory usage in SortPreservingMerge (#5885)
  datafusion/common/src/config.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/builder.rs
  datafusion/core/src/physical_plan/sorts/cursor.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
  datafusion/core/tests/fuzz_cases/order_spill_fuzz.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/execution/src/config.rs
  datafusion/execution/src/disk_manager.rs
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7245 Deprecate `batch_byte_size`
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
Labels: core

#7238 Minor: Move `Partitioning` and`Distribution` to physical_expr
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/partitioning.rs
Labels: physical-expr, core

#7229 Minor: remove duplication in `create_writer`
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#7239 Support array `flatten` sql function
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7248 Minor: fix clippy for memory_limit test
  datafusion/core/tests/memory_limit.rs
Labels: core

#7243 Update `physical_plan` tests to not use SessionContext
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sqllogictests/test_files/options.slt
  datafusion/execution/src/task.rs
Labels: core, sqllogictest

#7168 Add API to make `unnest` consistent with DuckDB/ClickHouse, add option for preserve_nulls, update docs
  datafusion/common/src/lib.rs
  datafusion/common/src/unnest.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#7252 Avoid to use TempDir::into_path for temporary dirs expected to be deleted automatically
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/test/mod.rs
Labels: core

#7246 [MINOR]: update benefits_from_input_partitioning implementation for projection and repartition
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/tests/sqllogictests/test_files/select.slt
Labels: core, sqllogictest

#7259 Adding order equivalence support on MemoryExec
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/test_utils.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#7262 fix(functions): support `Dictionary` for string and int functions
  datafusion/core/tests/sqllogictests/test_files/functions.slt
  datafusion/expr/src/built_in_function.rs
Labels: logical-expr, core, sqllogictest

#7247 Change benefits_from_partitioning flag to vector
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/tests/sqllogictests/test_files/join_disable_repartition_joins.slt
  datafusion/core/tests/sqllogictests/test_files/joins.slt
Labels: core, sqllogictest

#7256 feat: Add support for PostgreSQL bitwise XOR operator
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/operator.rs
  datafusion/sql/src/expr/binary_op.rs
Labels: sql, logical-expr, core, sqllogictest

#7265 Improve error message for aggregate/window functions
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/errors.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#7244 Extend insert into to support Parquet backed tables
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7277 Allow `skip_failed_rules` to skip buggy logical plan rules that have a schema mismatch
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#7276 Enable creating and inserting to empty external tables via SQL
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, core

#7270 Prepare 29.0.0 Release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/29.0.0.md
  dev/update_datafusion_versions.py
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, substrait

#7286 Hotfix: Test in information_schema.slt fails
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7274 Add isnan and iszero
  datafusion/core/tests/sql/expr.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#7283 Implement Support for Copy To Logical and Physical plans
  .gitignore
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest

#7280 refactor: data types in `array_expressions`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#7311 Minor: Followup tasks for `nanvl`
  datafusion/physical-expr/src/math_expressions.rs
  docs/source/user-guide/expressions.md
Labels: physical-expr

#7309 Minor: Remove stubbed out redundant Execution Plan section of library user guide
  docs/source/index.rst
  docs/source/library-user-guide/execution-plans.md
Labels: documentation, devrel

#7295 Minor: fix some parquet writer session level defaults
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#7294 Add Sqllogictests for INSERT INTO external table
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: logical-expr, core, sqllogictest

#7314 Minor: Fix documentation typos for array expressions
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#7316 Qualify filter fields in the update plan
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#7324 chore(deps): update tokio requirement to 1.28
  datafusion/core/Cargo.toml
Labels: core

#7296 Bug-fix / Join Output Orderings
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core

#7321 Add `internal_err` error macros. Part 2
  datafusion/common/src/config.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/window_state.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#7190 Minor: make memory_limit tests more self describing
  datafusion/core/tests/memory_limit.rs
Labels: core

#7331 Minor: Improve docstrings for `LogicalPlan`
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#7341 minor: fix doc/typo
  datafusion/sql/src/parser.rs
Labels: sql

#7334 Minor: Move shared testing code into datafusion_common
  datafusion/common/src/test_util.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/test_util/mod.rs
Labels: core

#7339 refine: `substr` error
  datafusion/expr/src/built_in_function.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: logical-expr, sqllogictest

#7268 chore: public sql_statement_to_plan_with_context()
  datafusion/sql/src/statement.rs
Labels: sql

#7351 Deprecate ScalarValue bitor, bitand, and bitxor (#6842)
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
Labels: physical-expr

#7291 feature: Support `EXPLAIN COPY`
  datafusion/core/src/execution/context.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/explain.slt
Labels: sql, core, sqllogictest

#7333 Add `SQLOptions` for controlling allowed SQL statements, update docs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/prelude.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/sql_api.rs
Labels: core

#7336 Refactor: Consolidate OutputFileFormat and FileType into datafusion_common
  benchmarks/Cargo.toml
  benchmarks/src/tpch/run.rs
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/csv_sql.rs
  datafusion-examples/examples/dataframe-to-s3.rs
  datafusion-examples/examples/json_opener.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/file_type.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, core

#7369 Make `SUM` and `AVG` Aggregate Type Coercion Explicit
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/grouping.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/decimal.slt
  datafusion/sqllogictest/test_files/groupby.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest

#7374 Remove redundant type check in Avg
  datafusion/physical-expr/src/aggregate/average.rs
Labels: physical-expr

#7313 feat: `array-empty`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#7329 Minor: add `WriteOp::name` and `DmlStatement::name`
  datafusion/expr/src/logical_plan/dml.rs
Labels: logical-expr

#7376 Specialize Median Accumulator
  datafusion/core/tests/memory_limit.rs
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr, core

#7358 Specialize Avg and Sum accumulators (#6842)
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/sqllogictest/test_files/decimal.slt
Labels: api change, physical-expr, optimizer, core, sqllogictest

#7348 Implement `array_pop_back` function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#7361 Add `exec_err!` error macro
  benchmarks/src/clickbench.rs
  benchmarks/src/tpch/run.rs
  datafusion-cli/src/command.rs
  datafusion/common/src/error.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/execution/src/object_store.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/struct_expressions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#7387 Update sqlparser requirement from 0.36.1 to 0.37.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/substring.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
Labels: sql

#7368 Support `REPLACE` SQL alias syntax
  datafusion/expr/src/utils.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: sql, logical-expr, sqllogictest

#7384 Bug-fix/next_value() of Min/Max Scalar Values
  datafusion/physical-expr/src/intervals/interval_aritmetic.rs
  datafusion/physical-expr/src/intervals/rounding.rs
Labels: physical-expr

#7372 Prepare 30.0.0 release
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/changelog/30.0.0.md
  docs/source/user-guide/configs.md
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#7346 fix: union_distinct shouldn't remove child distinct
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#7160 feat: support primary key alternate syntax
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/groupby.slt
Labels: sql, sqllogictest

#7366 Merge hash table implementations and remove leftover utilities
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
Labels: core

#7389 Minor: remove stray `println!` from `array_expressions.rs`
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#7312 Document and `scratch` directory for sqllogictest and make test specific
  datafusion/sqllogictest/README.md
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: sqllogictest

#7392 Minor: Move test for `Distribution` and `Partitioning` with code
  datafusion/core/src/physical_plan/mod.rs
  datafusion/physical-expr/src/partitioning.rs
Labels: physical-expr, core

#7391 Minor: move datasource statistics code into its own module
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/statistics.rs
Labels: core

#7375 Use datum arithmetic scalar value
  datafusion/common/src/delta.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar.rs
Labels: api change

#7378 Fix IN expr for NaN
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/sqllogictest/test_files/predicates.slt
Labels: physical-expr, sqllogictest

#7395 Unnecessary to list all files during partition pruning
  datafusion/core/src/datasource/listing/helpers.rs
Labels: core

#7371 Optimize `Unnest` and implement `skip_nulls=true` if specified
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#7385 fix: inconsistent scalar types in `DistinctArrayAggAccumulator` state
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#7282 Update ObjectStore 0.7.0 and Arrow 46.0.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/chunked_store.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/path_partition.rs
  datafusion/execution/Cargo.toml
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/adapter.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/nullif.rs
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/substrait/Cargo.toml
Labels: physical-expr, optimizer, core, sqllogictest, substrait

#7404 Fix Decimal256 scalar display string in sqllogictest
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sqllogictest

#7397 feat: support Binary for `min/max`
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, sqllogictest

#7403 Make sqllogictest distinguish NaN from -NaN
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: sqllogictest

#7409 Replace lazy_static with OnceLock
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#7405 Minor: Remove the unreached simplification rule for `0 / 0`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#7382 Add ROLLUP and GROUPING SETS substrait support
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#7439 Refactor sort_fuzz test to clarify what is covered
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
Labels: core

#7451 Use DateTime::from_naive_utc_and_offset instead of DateTime::from_utc
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: physical-expr, optimizer, core, sqllogictest, substrait

#7443 Update substrait requirement from 0.12.0 to 0.13.1
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#7428 [minior fix]: adjust the projection statistics
  datafusion/core/src/physical_plan/projection.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: core, sqllogictest
