Repository apache/datafusion, pull requests merged in 2023-06, with the labels that each got.

#6414 Rewrite large OR chains as IN lists
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sqllogictests/test_files/predicates.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q12.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q19.slt.part
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/or_in_list_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer, core, sqllogictest

#6481 Add SELECT * EXCLUDE, SELECT * EXCEPT support
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/sql/src/select.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest

#6503 Bug fix, First accumulator multiple batch aware
  datafusion/physical-expr/src/aggregate/first_last.rs
Labels: physical-expr

#6491 Make `FileStream` error handling configurable
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
Labels: core

#6509 Minimize clone in OrInListSimplifier
  datafusion/optimizer/src/simplify_expressions/or_in_list_simplifier.rs
Labels: optimizer

#6487 Support simplifying expressions like `~ ^(bar|foo)$`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
Labels: optimizer

#6519 minor: make window frame error messages more consistent
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/window_frame.rs
Labels: logical-expr, core, sqllogictest

#6515 Minor: Clean up `use`s to point at real crates
  datafusion/core/src/execution/mod.rs
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/aggregates/no_grouping.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/file_format/avro.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
  datafusion/execution/src/lib.rs
Labels: core

#6535 Fix new clippy lint
  datafusion/core/src/physical_plan/aggregates/bounded_aggregate_stream.rs
  datafusion/core/src/physical_plan/aggregates/row_hash.rs
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/table_source.rs
Labels: logical-expr, core

#6522 fix: error instead of panic when date_bin interval is 0
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core, sqllogictest

#6532 Add link to Python Bindings in top-level README
  README.md
Labels: documentation

#6534 feat: fix docs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/listing_schema.rs
Labels: core

#6482 Resolve contradictory requirements by conversion of ordering sensitive aggregators
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/utils.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core, sqllogictest

#6536 fix: ignore panics if racing against catalog/schema changes
  datafusion/core/src/catalog/information_schema.rs
Labels: core

#6538 Remove `avro_to_arrow::reader::Reader::next` in favor of `Iterator` implementation.
  datafusion/core/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/avro_to_arrow/reader.rs
Labels: api change, core

#6501 Support ordering analysis with expressions (not just columns) by Replace `OrderedColumn` with `PhysicalSortExpr`
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils.rs
Labels: physical-expr, core, sqllogictest

#6528 fix Incorrect function-name matching with disabled enable_ident_normalization
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, core, sqllogictest

#6520 Improve error messages with function name suggestion.
  datafusion/common/src/utils.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sqllogictests/test_files/functions.slt
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/function_err.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/window_function.rs
  datafusion/sql/src/expr/function.rs
Labels: sql, logical-expr, core, sqllogictest

#6384 feat: New functions and operations for working with arrays
  datafusion/common/src/cast.rs
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6526 Add support for appending data to external tables - CSV
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/tests/fifo.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: api change, core, sqllogictest

#6562 [Minor] Update hashbrown to 0.14
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr, optimizer, core

#6568 refactor: use bitwise and boolean compute functions
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
Labels: physical-expr

#6507 Fix panic propagation in `CoalescePartitions`, consolidates panic propagation into `RecordBatchReceiverStream`
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/test/exec.rs
Labels: core

#6516 Move `physical_plan::file_format` to `datasource::plan`
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/chunked_store.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/metrics.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/core/tests/row.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/src/physical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_physical_plan.rs
Labels: api change, core, substrait

#6575 refactor: remove type_coercion in PhysicalExpr.
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/sort_expr.rs
  datafusion/physical-expr/src/type_coercion.rs
Labels: physical-expr, core

#6565 Minor: remove `tokio_stream` dependency
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/tests/parquet/page_pruning.rs
Labels: core

#6580 minor: remove useless mut and borrow()
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
Labels: physical-expr

#6578 fix: type coercion support date - date
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core, sqllogictest

#6523 make page filter public
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
Labels: core

#6573 Minor: Remove some `use crate::` uses in physical_plan
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/coalesce_partitions.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/filter.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/limit.rs
  datafusion/core/src/physical_plan/memory.rs
  datafusion/core/src/physical_plan/metrics/baseline.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/builder.rs
  datafusion/core/src/physical_plan/sorts/merge.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/sorts/stream.rs
  datafusion/core/src/physical_plan/stream.rs
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/core/src/physical_plan/union.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_plan/values.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_plan/windows/window_agg_exec.rs
Labels: core

#6581 feat: `DISTINCT` bitwise and boolean aggregate functions
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: physical-expr, core, sqllogictest

#6594 Make the struct function return the correct data type.
  datafusion/core/tests/sqllogictests/test_files/functions.slt
  datafusion/expr/src/function.rs
Labels: logical-expr, core, sqllogictest

#6605 fix: avoid panic in `list_files_for_scan`
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#6610 fix: analyze/optimize plan in `CREATE TABLE AS SELECT`
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
Labels: core, sqllogictest

#6592 Minor: Add additional docstrings to Window function implementations
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/expr/src/window_function.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: logical-expr, physical-expr, core

#6587 Remove `FromSlice` in favor of `From` impl in upstream arrow-rs code
  datafusion-examples/examples/dataframe_in_memory.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion/common/src/from_slice.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/core/benches/data_utils/mod.rs
  datafusion/core/benches/filter_query_sql.rs
  datafusion/core/benches/math_query_sql.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/repartition.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/parquet_schema.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/hash_utils.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
Labels: api change, physical-expr, core

#6599 Revert "feat: Implement the bitwise_not in NotExpr (#5902)"
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/not.rs
Labels: physical-expr, core, sqllogictest

#6608 Port remaining tests in functions.rs to sqllogictest
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/functions.slt
Labels: core, sqllogictest

#6614 fix: remove type coercion of case expression in Expr::Schema
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/expr/src/expr_schema.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#6616 Minor: use upstream `dialect_from_str`
  datafusion/core/src/execution/context.rs
Labels: core

#6571 Minor: Move `PlanType`, `StringifiedPlan` and `ToStringifiedPlan` `datafusion_common`
  datafusion/common/src/display.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/physical_plan/display.rs
  datafusion/core/src/physical_plan/explain.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#6622 fix: correct test timestamp_add_interval_months
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#6627 Impl `Literal` trait for `NonZero*` types
  datafusion/expr/src/literal.rs
Labels: logical-expr

#6624 style: make clippy happy and remove redundant prefix
  datafusion-cli/src/exec.rs
  datafusion-cli/src/object_storage.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/physical_plan/analyze.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/function_err.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/parser.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#6135 Substrait: Fix incorrect join key fields (indices) when same table is being used more than once
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: substrait

#6626 Minor: Add debug logging for schema mismatch errors
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_plan/streaming.rs
Labels: core

#6612 Minor: Move functionality into `BuildInScalarFunction`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/function_err.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/signature.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/sql/src/expr/function.rs
Labels: sql, logical-expr, physical-expr, optimizer

#6525 Refactor joins test to sqllogic
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
Labels: core, sqllogictest

#6636 fix: fix more panics in `ListingTable`
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#6634 fix: median with even number of `Decimal128` not working
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr, core, sqllogictest

#6637 Unify formatting of both groups and files up to 5 elements
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#6593 feat: make_array support empty arguments
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6641 Minor: cleanup the unnecessary CREATE TABLE aggregate_test_100 statement at aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#6564 Improve main api doc page, move `avro_to_arrow` to `datasource`
  datafusion/common/src/config.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/datasource/avro_to_arrow/arrow_array_reader.rs
  datafusion/core/src/datasource/avro_to_arrow/mod.rs
  datafusion/core/src/datasource/avro_to_arrow/reader.rs
  datafusion/core/src/datasource/avro_to_arrow/schema.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/error.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/prelude.rs
  datafusion/core/src/scalar.rs
  datafusion/core/src/variable/mod.rs
  datafusion/physical-expr/src/var_provider.rs
Labels: api change, physical-expr, core

#6620 Minor: Move `include_rank` into `BuiltInWindowFunctionExpr`
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
Labels: physical-expr

#6601 Prioritize UDF over scalar built-in function in case of function name…
  datafusion/core/tests/sql/udf.rs
  datafusion/sql/src/expr/function.rs
Labels: sql, core

#6645 feat: encapsulate physical optimizer rules into a struct
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
Labels: core

#6638 Return correct scalar types for date_trunc
  datafusion/core/tests/sql/timestamp.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core

#6628 Insert supports specifying column names in any order
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/sql/src/statement.rs
Labels: sql, core, sqllogictest

#6640 Fix Clippy module inception (unwrap `datasource::datasource` and `catalog::catalog`
  datafusion-cli/src/catalog.rs
  datafusion-examples/examples/catalog.rs
  datafusion/core/src/catalog/catalog.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/provider_filter_pushdown.rs
  datafusion/core/tests/sql/information_schema.rs
  datafusion/core/tests/sql/order.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: api change, core

#6625 Add hash support for PhysicalExpr and PhysicalSortExpr
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/datetime.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/no_op.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/sort_expr.rs
Labels: physical-expr

#6642 Port tests in joins.rs to sqllogictes
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
Labels: core, sqllogictest

#6655 Minor: Add test for date_trunc schema on scalars
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#6621 Simplify and encapsulate window function state management
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr

#6619 Minor: Move get_equal_orderings into `BuiltInWindowFunctionExpr`, remove `BuiltInWindowFunctionExpr::as_any`
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/physical-expr/src/equivalence.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr, core

#6656 minor: use sql to setup test data for joins.slt rather than rust
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
Labels: core, sqllogictest

#6659 fix: port unstable subquery to sqllogicaltest
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
Labels: core, sqllogictest

#6644 refactor: unify generic expr rewrite functions into the `datafusion_expr::expr_rewriter`
  datafusion/core/src/physical_plan/planner.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: api change, logical-expr, optimizer, core

#6651 Minor: add test cases for coercion bitwise shifts
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#6660 refactor: unify replace count(*) analyzer by removing it in sql crate
  datafusion/core/tests/sqllogictests/test_files/functions.slt
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, optimizer, core, sqllogictest

#6665 Combine evaluate_stateful and evaluate_inside_range
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: physical-expr

#6607 Support internal cast for BuiltinScalarFunction::MakeArray
  datafusion-cli/Cargo.lock
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer, core, sqllogictest

#6664 minor: use sql to setup test data for aggregate.slt rather than rust
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/setup.rs
  datafusion/core/tests/sqllogictests/src/utils.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
Labels: core, sqllogictest

#6669 Minor: Add tests for User Defined Aggregate functions
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/signature.rs
Labels: logical-expr, core

#6667 fix: correct wrong test
  datafusion/core/tests/dataframe.rs
Labels: core

#6595 fix: from_plan shouldn't use original schema
  datafusion/common/src/dfschema.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/utils.rs
Labels: logical-expr, core, sqllogictest

#6663 Minor: Add more doc strings to WindowExpr
  datafusion/physical-expr/src/window/partition_evaluator.rs
Labels: physical-expr

#6680 minor: `with_new_inputs` replace `from_plan`
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#6639 Docs: Update roadmap to point at EPIC's, clarify project goals
  datafusion/core/src/lib.rs
  docs/source/contributor-guide/roadmap.md
  docs/source/user-guide/introduction.md
Labels: core

#6688 Disable incremental compilation on CI
  .github/actions/setup-builder/action.yaml
Labels: development-process

#6671 Allow `AggregateUDF` to define retractable batch , implement sliding window functions
  datafusion/core/src/physical_plan/udaf.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/udaf.rs
Labels: logical-expr, core

#6685 Minor: consolidate repartition test into sql_integration to save builder space and build time
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/repartition.rs
Labels: development-process, core

#6683 Minor: combine `statistics`, `filter_pushdown` and `custom_sources provider` tests together to reduce CI disk space
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
Labels: development-process, core

#6570 Move `PhysicalPlanner` to `physical_planer` module
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined_plan.rs
Labels: api change, core

#6687 Rename integration tests to match crate they are defined in
  datafusion/core/tests/core_integration.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, optimizer, core

#6684 Minor: combine fuzz tests into a single binary to save builder space and build time
  datafusion/core/tests/fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/fuzz_cases/merge_fuzz.rs
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/order_spill_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
Labels: development-process, core

#6686 Minor: consolidate datafusion_substrait tests into `substrait_integration` to save builder space and build time #6685
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/tests/cases/serialize.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
  datafusion/substrait/tests/roundtrip_physical_plan.rs
  datafusion/substrait/tests/substrait_integration.rs
Labels: development-process, substrait

#6689 removed self.all_values.len() from inside reserve
  datafusion/physical-expr/src/aggregate/median.rs
Labels: physical-expr

#6695 Replace supports_bounded_execution with supports_retract_batch
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/partition_evaluator.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
Labels: physical-expr

#6697 Move `dataframe` and `dataframe_functon` into `core_integration` test binary
  datafusion/core/tests/core_integration.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#6705 refactor: fix clippy allow too many arguments
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
Labels: sql

#6704 Fix documentation typo
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#6712 fix: correct the error type
  datafusion/core/src/execution/context.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sql/src/expr/grouping_set.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/unary_op.rs
Labels: sql, core

#6675 Port test in subqueries.rs from rust to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
Labels: core, sqllogictest

#6679 Improve performance/memory usage of HashJoin datastructure (5-15% improvement on selected TPC-H queries)
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/hash_join_utils.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
Labels: core

#6707 refactor: alias() should skip add alias for `Expr::Sort`
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/optimizer/src/merge_projection.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: logical-expr, optimizer

#6717 chore(deps): update strum/strum_macros requirement from 0.24 to 0.25
  datafusion-cli/Cargo.lock
  datafusion/expr/Cargo.toml
Labels: logical-expr

#6706 Move alias generator to per-query execution props
  datafusion/common/src/alias.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/test_files/joins.slt
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q15.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q17.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q18.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q2.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q20.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q21.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q22.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q4.slt.part
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/execution_props.rs
Labels: physical-expr, optimizer, core, sqllogictest

#6698 fix: parser for negative intervals
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, core, sqllogictest

#6719 Minor: Improve UX for setting `ExecutionProps::query_execution_start_time`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/execution_props.rs
Labels: physical-expr, optimizer

#6725 add Eq and PartialEq to ListingTableUrl
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#6730 MINOR: Add maintains input order flag to CoalesceBatches
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
Labels: core

#6702 Update `arrow`, `arrow-flight` and `parquet` to `42.0.0`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/tests/sql/expr.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, core

#6690 Move `PartitionEvaluator` and window_state structures to `datafusion_expr` crate
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/expr/src/window_state.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/built_in_window_function_expr.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: logical-expr, physical-expr, core

#6724 Hash Join Vectorized collision checking
  Cargo.toml
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
Labels: core

#6723 Return null for date_trunc(null) instead of panic
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core, sqllogictest

#6708 `derive(Debug)` for `Expr`
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/src/physical_plan/joins/symmetric_hash_join.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/order.rs
  datafusion/core/tests/sqllogictests/test_files/insert.slt
  datafusion/core/tests/sqllogictests/test_files/joins.slt
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
  datafusion/core/tests/sqllogictests/test_files/tpch/q1.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q10.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q11.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q12.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q13.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q14.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q15.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q16.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q17.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q18.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q19.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q2.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q20.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q21.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q22.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q3.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q4.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q5.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q7.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q8.slt.part
  datafusion/core/tests/sqllogictests/test_files/tpch/q9.slt.part
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/operator.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest

#6735 refactor: extract merge_projection common function.
  datafusion/optimizer/src/merge_projection.rs
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer

#6721 Fix up some `DataFusionError::Internal` errors with correct type
  datafusion/common/src/error.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/struct_expressions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, physical-expr, substrait

#6738 Minor: remove some uses of unwrap
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#6737 Minor: remove dead code with decimal datatypes from `in_list`
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#6729 Update documentation for creating User Defined Aggregates (AggregateUDF)
  datafusion/core/src/lib.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: api change, logical-expr, optimizer, core

#6703 Support User Defined Window Functions
  datafusion-examples/Cargo.toml
  datafusion-examples/README.md
  datafusion-examples/examples/rewrite_expr.rs
  datafusion-examples/examples/simple_udwf.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/tests/data/cars.csv
  datafusion/core/tests/sqllogictests/src/engines/datafusion/util.rs
  datafusion/core/tests/user_defined/mod.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/core/tests/user_defined_integration.rs
  datafusion/execution/src/registry.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
Labels: api change, sql, logical-expr, optimizer, core, sqllogictest

#6745 MINOR: Aggregate ordering substrait support
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#6752 chore(deps): update itertools requirement from 0.10 to 0.11
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: physical-expr, optimizer, core, substrait

#6749 refactor: move some code in physical_plan/common.rs before tests module
  datafusion/core/src/physical_plan/common.rs
Labels: core

#6734 Add support for order-sensitive aggregation for multipartitions
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/windows/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/groupby.slt
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr, core, sqllogictest

#6761 fix typo
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#6756 Minor: Move `PartitionStream` to physical_plan
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_plan/streaming.rs
  datafusion/core/tests/memory_limit.rs
Labels: api change, core

#6754 Docs: Improve documentation for `struct` function`
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#6762 add UT to verify the fix on "issues/6606"
  datafusion/core/tests/sqllogictests/test_files/subquery.slt
Labels: core, sqllogictest

#6757 Re-export modules individually to fix rustdocs
  datafusion/core/src/lib.rs
Labels: core

#6742 Order Preserving RepartitionExec Implementation
  datafusion/core/src/physical_plan/repartition/distributor_channels.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
Labels: core

#6776 Support IsDistinctFrom and IsNotDistinctFrom on interval types
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, core, sqllogictest

#6775 Protect main branch
  .asf.yaml
Labels: development-process

#6767 Support hex string literal
  datafusion/sql/src/expr/value.rs
Labels: sql

#6618 feat: `array_contains`
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#6654 Make 'date_trunc' returns the same type as its input
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#6722 Fix inserting into a table with non-nullable columns
  datafusion/common/src/dfschema.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_plan/insert.rs
  datafusion/core/tests/sqllogictests/test_files/insert.slt
Labels: core, sqllogictest

#6778 Cleanup type coercion (#3419)
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/interval.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/core/tests/sqllogictests/test_files/type_coercion.slt
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: api change, logical-expr, physical-expr, optimizer, core, sqllogictest

#6777 Properly project grouping set expressions
  datafusion-cli/Cargo.lock
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#6783 Minor: Simplify `date_trunc` code and add comments
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#6771 Minor: Add array / array sqllogic tests for `array_contains`
  datafusion/core/tests/sqllogictests/test_files/array.slt
Labels: core, sqllogictest

#6789 Minor: Make `date_trunc` code easier to understand
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#6662 feat: support `NULL` in array functions
  datafusion/core/tests/sqllogictests/test_files/array.slt
  datafusion/expr/src/built_in_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest

#6786 fix: incorrect nullability of `between` expr
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#6792 Use checked division kernel
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr, optimizer

#6770 Minor: add sqllogictests for binary data type
  datafusion/core/tests/sqllogictests/test_files/binary.slt
  docs/source/user-guide/sql/data_types.md
Labels: core, sqllogictest

#6795 refactor: encapsulate Alias as a struct
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, substrait

#6785 Consistently coerce dictionaries for arithmetic
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: logical-expr, physical-expr
