Repository apache/datafusion, pull requests merged in 2023-02, with the labels that each got.

#5135 Add in-list test
  datafusion/substrait/tests/roundtrip.rs
Labels: substrait

#5114 Minor: reduce code duplication using `rewrite_expr`
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, optimizer, core

#5115 minor: port date_bin tests to sqllogictests
  datafusion/core/tests/sql/timestamp.rs
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
Labels: core, sqllogictest

#5124 Add option to control whether to normalize ident
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert.rs
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, core, sqllogictest

#5105 Minor: reduce indent level in page filter pruning code
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#5148 [sqllogictest] Support `pg_typeof`
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/types.rs
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_type_coercion.slt
Labels: core, sqllogictest

#5160 Fix FairSpillPool try_grow for non-spillable consumers
  datafusion/core/src/execution/memory_pool/pool.rs
Labels: core

#5140 Date to Timestamp cast
  datafusion/core/tests/sql/timestamp.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer, core

#5158 Compare NULL types
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_type_coercion.slt
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core, sqllogictest

#5117 Support coercing `utf8` to `interval` and `timestamp` (including arguments to `date_bin`)
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#5151 Support arithmetic scalar operation with DictionaryArray
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: logical-expr, physical-expr

#5167 Switch to use sum kernel from arrow-rs for Decimal128
  datafusion/physical-expr/src/aggregate/sum.rs
Labels: physical-expr

#5159 fix: treat unsupported SQL plans as "not implemented"
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/errors.rs
Labels: core

#5168 Update substrait README.md
  datafusion/substrait/README.md
Labels: substrait

#5152 feat: Type coercion for Dictionary(_, _) to Utf8 for regex conditions
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr

#5155 chore: add object_name_to_table_reference in SqlToRel
  datafusion/common/src/config.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  docs/source/user-guide/configs.md
Labels: sql, core, sqllogictest

#5179 Fix decimal scalar dyn kernels
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: physical-expr

#5190 Update README.md update blaze-rs link to https://github.com/blaze-init/blaze
  README.md
Labels: documentation

#5067 Support ORDER BY an aliased column
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/expr/Cargo.toml
  datafusion/expr/src/expr_rewriter.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core, sqllogictest

#5189 sqllogicaltest: add cleanup and use rowsort.
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_union.slt
  datafusion/core/tests/sqllogictests/test_files/union.slt
Labels: core, sqllogictest

#5185 Create disk manager spill folder if doesn't exist
  datafusion/core/src/execution/disk_manager.rs
Labels: core

#5200 minor: remove unnecessary `continue`
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
Labels: core

#5106 Add unnest_column to DataFrame
  datafusion/core/src/dataframe.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/tests/dataframe.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer, core

#5183 Parse identifiers properly for TableReferences
  datafusion/common/src/table_reference.rs
  datafusion/core/src/execution/context.rs
  datafusion/sql/src/statement.rs
  datafusion/substrait/src/consumer.rs
Labels: sql, core, substrait

#5153 Ambiguity check for where selection
  datafusion/sql/src/select.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql

#5203 minor: extract `merge_schema()` function.
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/type_coercion.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#5194 Support arithmetic operation on DictionaryArray
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
Labels: logical-expr, physical-expr

#5161 FileStream: Open next file in parallel while decoding
  datafusion/core/src/physical_plan/file_format/file_stream.rs
Labels: core

#5197 fix(MemTable): make it cancel-safe and fix parallelism
  datafusion/core/src/datasource/memory.rs
Labels: core

#5196 fix: make `write_csv/json/parquet` cancel-safe
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#5207 minor: remove unnecessary clone
  datafusion/physical-expr/src/expressions/binary.rs
Labels: physical-expr

#5208 bugfix: fix eval `nullalbe()` in `simplify_exprs`
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer

#5216 Replace placeholders in ScalarSubqueries
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr

#5219 bugfix: fix propagating empty_relation generates an illegal plan
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#5171 Make EnforceSorting global sort aware, fix sort mis-optimizations involving unions, support parallel sort + merge transformations
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#5210 Dataframe join_on method
  datafusion/common/src/table_reference.rs
  datafusion/core/src/dataframe.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/relation/join.rs
  docs/source/user-guide/dataframe.md
Labels: sql, logical-expr, core

#5232 Update README.md fix [welcoming community] links
  README.md
Labels: documentation

#5224 fix: correct expected error in test
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/timestamp.rs
Labels: core

#5240 DataFusion 18.0.0 Release
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
  dev/release/README.md
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#5234 bugfix: fix error when `get_coerced_window_frame` meet `utf8`
  datafusion/expr/src/type_coercion.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer

#5238 fix clippy in nightly
  benchmarks/src/bin/tpch.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/physical_plan/empty.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/binary/kernels_arrow.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: physical-expr, core, substrait

#5225 Minor: Fix doc links and typos
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/file_format/file_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/core/src/physical_plan/file_format/parquet/metrics.rs
  datafusion/core/src/physical_plan/metrics/mod.rs
  datafusion/core/src/scheduler/mod.rs
  datafusion/expr/src/expr_rewriter.rs
  datafusion/optimizer/src/inline_table_scan.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/physical-expr/src/aggregate/hyperloglog.rs
  datafusion/physical-expr/src/execution_props.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/row/src/writer.rs
  docs/source/user-guide/configs.md
Labels: logical-expr, physical-expr, optimizer, core

#5244 Update sqllogictest requirement from 0.11.1 to 0.12.0 #5237
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/output.rs
Labels: auto-dependencies, core, sqllogictest

#5243 Test case for NDJsonExec with randomly ordered projection
  datafusion/core/src/physical_plan/file_format/json.rs
Labels: core

#5249 Disallow SORT BY in SQL
  datafusion/sql/src/select.rs
Labels: sql

#5132 [BugFix] abort plan if order by column not in select list
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, core, sqllogictest

#5254 Minor: Add negative test for SORT BY
  datafusion/core/tests/sqllogictests/test_files/order.slt
Labels: core, sqllogictest

#5246 [SQLLogicTest] Make schema validation ignore nullable and metadata attributes
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
Labels: core, sqllogictest

#5156 Always wrapping OnceAsync for the inner table side in NestedLoopJoinExec
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#5236 refactor: correct the implementation of `all_schemas()`
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#5245 Add SQL function overload LOG(base, x) for logarithm of x to base
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/src/logical_plan/from_proto.rs
Labels: logical-expr, physical-expr, core, sqllogictest

#5252 Minor: port some explain test to sqllogictest, add filename normalization
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/engines/conversion.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
Labels: core, sqllogictest

#5074 [Enhancement] Don't repartition ProjectionExec when it does not compute anything
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_plan/projection.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/window.rs
Labels: core

#5262 minor: replace `unwrap()` with `?`
  datafusion/core/tests/dataframe.rs
Labels: core

#5260 Minor: refactor ParquetExec roundtrip tests
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#5263 minor: Fix cargo fmt
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#5257 enhance the checking of type errors in the test `window_frame_creation`
  datafusion/core/tests/sql/window.rs
Labels: core

#5228 Feature/sort enforcement refactor
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_optimizer/utils.rs
Labels: core

#5199 Minor: Begin porting some window tests to sqllogictests
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#5267 Use upstream newline_delimited_stream
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/delimited_stream.rs
  datafusion/core/src/physical_plan/file_format/mod.rs
  datafusion/proto/Cargo.toml
  datafusion/substrait/Cargo.toml
  parquet-test-utils/Cargo.toml
Labels: core, substrait

#5279 Minor: Add fetch to SortExec display
  datafusion/core/src/physical_optimizer/dist_enforcement.rs
  datafusion/core/src/physical_optimizer/repartition.rs
  datafusion/core/src/physical_optimizer/sort_enforcement.rs
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#5261 Preserve `TableScan.projection` order in `push_down_projection` optimizer rule
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer, core

#5284 Add benchmark for SortExec
  datafusion/core/Cargo.toml
  datafusion/core/benches/sort.rs
Labels: core

#5288 minor: derive Ord/PartialOrd/Eq/PartialEq traits for `ObjectStoreUrl`
  datafusion/core/src/datasource/object_store.rs
Labels: core

#5277 Set `catalog_list` from outside for `SessionState`.
  datafusion/core/src/execution/context.rs
Labels: core

#5268 Support page skipping / page_index pushdown for evolved schemas
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#5258 [fix][plan] relax the check for distinct, order by for dataframe
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/query.rs
Labels: sql, logical-expr, core

#5280 Rename master to main
  .github/dependabot.yml
  datafusion/core/src/lib.rs
  datafusion/row/README.md
  datafusion/substrait/README.md
  dev/release/README.md
  dev/release/create-tarball.sh
  dev/release/update_change_log-datafusion.sh
  docs/build.sh
  docs/source/conf.py
  docs/source/contributor-guide/roadmap.md
  docs/source/index.rst
Labels: documentation, development-process, core, substrait

#5300 Feature/merge batches removal
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/windows/bounded_window_agg_exec.rs
Labels: core

#5282 Prevent optimizer from pruning UnnestExec.
  datafusion/core/src/physical_plan/unnest.rs
  datafusion/core/tests/dataframe.rs
Labels: core

#5303 Make SQL query consistent with API syntax expression in code examples
  datafusion/core/src/lib.rs
  docs/source/user-guide/example-usage.md
Labels: core

#5302 enable tpcds-64 test
  datafusion/core/tests/tpcds_planning.rs
Labels: core

#5304 fix: correct plan builder when test `scalar_subquery_project_expr`
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: optimizer

#5287 Fix the potential bug of check_all_column_from_schema
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
Labels: logical-expr, optimizer

#5253 [sqllogictest] Define output types and check them in tests
  datafusion/core/Cargo.toml
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/src/engines/datafusion/create_table.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/insert.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/datafusion/normalize.rs
  datafusion/core/tests/sqllogictests/src/engines/mod.rs
  datafusion/core/tests/sqllogictests/src/engines/output.rs
  datafusion/core/tests/sqllogictests/src/engines/postgres/mod.rs
  datafusion/core/tests/sqllogictests/src/main.rs
  datafusion/core/tests/sqllogictests/src/output.rs
  datafusion/core/tests/sqllogictests/test_files/aggregate.slt
  datafusion/core/tests/sqllogictests/test_files/dates.slt
  datafusion/core/tests/sqllogictests/test_files/ddl.slt
  datafusion/core/tests/sqllogictests/test_files/decimal.slt
  datafusion/core/tests/sqllogictests/test_files/describe.slt
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  datafusion/core/tests/sqllogictests/test_files/misc.slt
  datafusion/core/tests/sqllogictests/test_files/nullif.slt
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_simple.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_type_coercion.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_types.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_union.slt
  datafusion/core/tests/sqllogictests/test_files/pg_compat/pg_compat_window.slt
  datafusion/core/tests/sqllogictests/test_files/prepare.slt
  datafusion/core/tests/sqllogictests/test_files/scalar.slt
  datafusion/core/tests/sqllogictests/test_files/select.slt
  datafusion/core/tests/sqllogictests/test_files/timestamps.slt
  datafusion/core/tests/sqllogictests/test_files/tpch.slt
  datafusion/core/tests/sqllogictests/test_files/union.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: waiting-on-upstream, core, sqllogictest

#5299 fix: add yield point to `RepartitionExec`
  datafusion/core/src/physical_optimizer/pipeline_fixer.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/test/exec.rs
  datafusion/core/src/test_util.rs
  datafusion/core/tests/repartition.rs
Labels: core

#5286 Linear search support for Window Group queries
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/window.rs
  datafusion/expr/src/window_frame.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-expr/src/window/window_frame_state.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/integration_test.rs
Labels: sql, logical-expr, physical-expr, core

#5318 feat: add accessor to SessionContext fields for ContextProvider impl
  datafusion/core/src/execution/context.rs
Labels: core

#5264 Support non-tuple expression for exists-subquery to join
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q4.txt
  datafusion/core/tests/sql/joins.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer, core

#5311 Fix nested list indexing when the index is 0 or larger than the list size
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
Labels: physical-expr

#5336 minor: remove useless `.get()`
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#4908 Allow `SessionContext::read_csv`, etc to read multiple files
  datafusion/core/src/execution/context.rs
Labels: api change, core

#5295 `datafusion.optimizer.repartition_file_scans` enabled by default
  datafusion/common/src/config.rs
  datafusion/core/tests/sqllogictests/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#5308 Fix SortExec bench case and Add SortExec input cases to bench for SortPreservingMergeExec
  datafusion/core/benches/merge.rs
  datafusion/core/benches/sort.rs
Labels: core

#5241 Update to arrow `33.0.0`
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/execution/context.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/aggregates/mod.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/physical_plan/joins/sort_merge_join.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/dataframe_functions.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/functions.rs
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/set_variable.rs
  datafusion/core/tests/sql/udf.rs
  datafusion/core/tests/sql/wildcard.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/user_defined_aggregates.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#5331 minor: port intersection sql tests to sqllogictests
  datafusion/core/tests/sql/intersection.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sqllogictests/test_files/intersection.slt
Labels: core, sqllogictest

#5349 feat: add rule to merge projection.
  benchmarks/expected-plans/q15.txt
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q2.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/merge_projection.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#5307 Allow DISTINCT with ORDER BY and an aliased select list
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sqllogictests/test_files/order.slt
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/query.rs
Labels: sql, logical-expr, core, sqllogictest

#5335 bugfix: fix tpcds_logical_q8 ambiguous name.
  datafusion/common/src/dfschema.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#5333 minor: disable tpcds_logical_q10/q35
  datafusion/core/tests/tpcds_planning.rs
Labels: core

#5370 minor: fix rule name and comment.
  datafusion/optimizer/src/merge_projection.rs
Labels: optimizer

#5330 minor: port more window tests to sqllogictests
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/window_frame.rs
Labels: logical-expr, core, sqllogictest

#5355 minor: port limit tests to sqllogictests
  datafusion/core/tests/sql/limit.rs
  datafusion/core/tests/sqllogictests/README.md
  datafusion/core/tests/sqllogictests/test_files/limit.slt
Labels: core, sqllogictest

#5371 generate new projection plan in inline_table_scan instead of discarding
  datafusion/optimizer/src/inline_table_scan.rs
Labels: optimizer

#5369 minor: disable tpcds-q41 due to not support decorrelate disjunction subquery
  datafusion/core/tests/tpcds_planning.rs
Labels: core

#5381 Prepare for 19.0.0 release
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait

#5387 fix: misc phys. expression display bugs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/operator.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
Labels: logical-expr, physical-expr

#5356 Fixed small typos in files of the optimizer
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#5384 Bug fix: Window frame range value outside the type range
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/expr/src/type_coercion.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer, core, sqllogictest

#5374 minor: port predicates tests to sqllogictests
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sqllogictests/test_files/predicates.slt
Labels: core, sqllogictest

#5389 Minor: added some tests for coercion type
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer

#5380 UDF zero params #5378
  datafusion/core/tests/sql/udf.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, core

#5391 docs: clarify spark
  README.md
Labels: documentation

#5388 Minor: intersect expressions optimization
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: optimizer

#5386 refactor: parquet pruning simplifications
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs
Labels: core

#5376 chore: add known project ZincObserve
  README.md
Labels: documentation

#5354 Rule ReplaceDistinctWithAggregate
  datafusion/core/src/physical_plan/planner.rs
  datafusion/core/tests/sql/union.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: optimizer, core, substrait

#5395 bugfix: fix master `bors` problem.
  datafusion/optimizer/tests/integration-test.rs
Labels: optimizer

#5363 Minor: add tests for subquery to join
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/decorrelate_where_exists.rs
  datafusion/optimizer/src/decorrelate_where_in.rs
Labels: optimizer, core

#5393 minor: add forgotten large_utf8
  datafusion/expr/src/type_coercion.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: logical-expr, optimizer

#5366 feat: eliminate unnecessary projection.
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_plan/coalesce_batches.rs
  datafusion/core/src/physical_plan/mod.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/avro.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/json.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/parquet.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/projection.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/union.rs
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/explain.slt
  datafusion/core/tests/sqllogictests/test_files/window.slt
  datafusion/core/tests/user_defined_plan.rs
  datafusion/optimizer/src/eliminate_project.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: optimizer, core, sqllogictest, substrait

#5337 refactor `push_down_filter` to fix dead-loop and use optimizer_recurse.
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#5402 enhance: remove more projection.
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/optimizer/src/eliminate_project.rs
Labels: optimizer, core

#5367 Try to push down full filter before break-up
  datafusion-cli/Cargo.lock
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/table_source.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/push_down_filter.rs
Labels: logical-expr, optimizer

#5399 minor: port window tests to slt (part 2)
  datafusion/core/tests/sql/window.rs
  datafusion/core/tests/sqllogictests/test_files/window.slt
Labels: core, sqllogictest

#5397 Support Zstd compressed files
  datafusion-cli/Cargo.lock
  datafusion/common/src/parsers.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/file_type.rs
  datafusion/core/src/physical_plan/file_format/csv.rs
  datafusion/core/src/physical_plan/file_format/json.rs
  datafusion/core/src/test/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/parser.rs
Labels: sql, logical-expr, core

#5406 Move file format config.rs to live with the rest of the datasource code
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/execution/mod.rs
Labels: core

#5416 Parquet limit pushdown (#5404)
  datafusion/core/src/physical_plan/file_format/parquet.rs
Labels: core

#5375 Update arrow 34
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_plan/sorts/sort.rs
  datafusion/expr/Cargo.toml
  datafusion/jit/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/row/Cargo.toml
  datafusion/sql/Cargo.toml
  parquet-test-utils/Cargo.toml
  test-utils/Cargo.toml
Labels: sql, logical-expr, physical-expr, optimizer, core

#5420 Also push down all filters in TableProvider
  datafusion/core/src/datasource/datasource.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/optimizer/src/type_coercion.rs
Labels: optimizer, core

#5425 Fix filter pushdown for extension plans
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#5377 Optimize count_distinct.size
  datafusion/physical-expr/src/aggregate/count_distinct.rs
Labels: physical-expr

#5339 Memory reservation & metrics for cross join
  datafusion/core/src/physical_plan/common.rs
  datafusion/core/src/physical_plan/joins/cross_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/src/physical_plan/repartition/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/memory_limit.rs
Labels: core

#5226 add a describe method on DataFrame like Polars
  datafusion-examples/examples/dataframe.rs
  datafusion/core/src/dataframe.rs
  datafusion/core/tests/dataframe.rs
Labels: core

#5431 fix nested loop join with literal join filter
  datafusion/core/src/physical_plan/joins/hash_join.rs
  datafusion/core/src/physical_plan/joins/nested_loop_join.rs
  datafusion/core/src/physical_plan/joins/utils.rs
  datafusion/core/tests/sqllogictests/test_files/join.slt
Labels: core, sqllogictest

#5409 Add `expr_fn::stddev`
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#4465 reimplement `push_down_projection` and `prune_column`.
  benchmarks/expected-plans/q10.txt
  benchmarks/expected-plans/q11.txt
  benchmarks/expected-plans/q12.txt
  benchmarks/expected-plans/q13.txt
  benchmarks/expected-plans/q14.txt
  benchmarks/expected-plans/q15.txt
  benchmarks/expected-plans/q16.txt
  benchmarks/expected-plans/q17.txt
  benchmarks/expected-plans/q18.txt
  benchmarks/expected-plans/q19.txt
  benchmarks/expected-plans/q2.txt
  benchmarks/expected-plans/q20.txt
  benchmarks/expected-plans/q21.txt
  benchmarks/expected-plans/q22.txt
  benchmarks/expected-plans/q3.txt
  benchmarks/expected-plans/q4.txt
  benchmarks/expected-plans/q5.txt
  benchmarks/expected-plans/q6.txt
  benchmarks/expected-plans/q7.txt
  benchmarks/expected-plans/q8.txt
  benchmarks/expected-plans/q9.txt
  datafusion/core/tests/dataframe.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/core/tests/sql/subqueries.rs
  datafusion/core/tests/sql/window.rs
  datafusion/optimizer/src/eliminate_project.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/tests/integration-test.rs
  datafusion/substrait/tests/roundtrip_logical_plan.rs
Labels: optimizer, core, substrait

#5342 Bug/union wrong casting
  datafusion/core/tests/sql/union.rs
  datafusion/expr/src/type_coercion/binary.rs
Labels: logical-expr, core
