Repository apache/datafusion, pull requests merged in 2024-10, with the labels that each got.

#12656 [MINOR]: Simplify required_input_ordering of BoundedWindowAggExec
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: physical-expr

#12676 handle 0 and NULL value of NTH_VALUE function
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#12689 Improve documentation for AggregateUDFImpl::value_from_stats
  datafusion/expr/src/udaf.rs
Labels: logical-expr

#12645 Add support for external tables with qualified names
  datafusion/core/src/catalog_common/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
Labels: sql, core, sqllogictest

#12690 Fix Regex signature types
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#12681 Refactor `ByteGroupValueBuilder` to use `MaybeNullBufferBuilder`
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
Labels: physical-expr

#12708 doc: Fix malformed hex string literal in user guide
  docs/source/user-guide/sql/data_types.md
Labels: documentation

#12711 Simplify match patterns in coercion rules
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#12715 Remove aggregate functions dependency on frontend
  datafusion-cli/Cargo.lock
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/macros.rs
Labels: functions

#12707 Minor: Remove clone in `transform_to_states`
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr

#12702 Refactor tests for union sorting properties, add tests for unions and constants
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12673 Fix: support Qualified Wildcard in count aggregate function
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, optimizer, sqllogictest

#12703 Reduce code duplication in `PrimitiveGroupValueBuilder` with const generics
  datafusion/physical-plan/src/aggregates/group_values/column.rs
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
Labels: physical-expr

#12608 Disallow duplicated qualified field names
  datafusion-cli/Cargo.lock
  datafusion/common/src/dfschema.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest, common

#12675 Optimize base64/hex decoding by pre-allocating output buffers (~2x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/encoding.rs
  datafusion/functions/src/encoding/inner.rs
Labels: functions

#12683 Allow DynamicFileCatalog support to query partitioned file
  datafusion/core/src/datasource/dynamic_file.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/sqllogictest/test_files/dynamic_file.slt
Labels: core, sqllogictest

#12685 Support `LIMIT` Push-down logical plan optimization for `Extension` nodes
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, core, substrait, proto

#12686 Fix AvroReader: Add union resolving for nested struct arrays
  datafusion/core/src/datasource/avro_to_arrow/arrow_array_reader.rs
Labels: core

#12705 Support unparsing plans with both Aggregation and Window functions
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12712 Fix strpos invocation with dictionary and null
  datafusion/functions/src/unicode/strpos.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest, functions

#12666 docs: Update DataFusion introduction to clarify that DataFusion does provide an "out of the box" query engine
  README.md
  docs/source/index.rst
Labels: documentation

#12668 Framework for generating function docs from embedded code documentation
  .github/workflows/rust.yml
  datafusion-cli/Cargo.lock
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udf_docs.rs
  datafusion/expr/src/udwf.rs
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-window/src/row_number.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/unicode/rpad.rs
  dev/update_config_docs.sh
  dev/update_function_docs.sh
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/aggregate_functions_new.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/scalar_functions_new.md
  docs/source/user-guide/sql/window_functions_new.md
Labels: documentation, development-process, logical-expr, core, functions

#12722 Minor: avoid clone while calculating union equivalence properties
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12719 Simplify streaming_merge function parameters
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/sorts/streaming_merge.rs
Labels: physical-expr, core

#12750 Fix misformatted links on project index page
  docs/source/index.rst
Labels: documentation

#12729 Provide field and schema metadata missing on cross joins, and union with null fields.
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/metadata.slt
Labels: physical-expr, core, sqllogictest

#12739 Minor: Update string tests for strpos
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: development-process

#12753 Apply `type_union_resolution` to array and values
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/map.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, optimizer, sqllogictest

#12747 Add `DocumentationBuilder::with_standard_argument` to reduce copy/paste
  datafusion/expr/src/udf_docs.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/unicode/rpad.rs
  docs/source/user-guide/sql/aggregate_functions_new.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, logical-expr, functions

#12758 fix `equal_to` in `PrimitiveGroupValueBuilder`
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
Labels: physical-expr

#12757 Minor: doc how field name is to be set for `WindowUDF`
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#12770 Fix `equal_to` in `ByteGroupValueBuilder`
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
Labels: physical-expr

#12746 Allow boolean Expr simplification even when nullable
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/cse.slt
Labels: optimizer, sqllogictest

#12760 Fix unnest conjunction with selecting wildcard expression
  datafusion/expr/src/utils.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, sqllogictest

#12744 Improve `round` scalar function unparsing for Postgres
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/utils.rs
Labels: sql

#12759 Fix stack overflow calculating projected orderings
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12742 Port / Add Documentation for `VarianceSample` and `VariancePopulation`
  datafusion/functions-aggregate/src/variance.rs
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/aggregate_functions_new.md
Labels: documentation, logical-expr, functions

#12724 Upgrade arrow/parquet to `53.1.0` / fix clippy
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regexp_common.rs
  datafusion/functions/src/string/contains.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt.temp
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: physical-expr, core, sqllogictest, functions

#12728 feat: add support for Substrait ExtendedExpression
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#12787 Transformed::new_transformed: Fix documentation formatting
  datafusion/common/src/tree_node.rs
Labels: common

#12571 fix: Correct results for grouping sets when columns contain nulls
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#12775 Migrate documentation for all string functions from scalar_functions.md to code
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/chr.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/initcap.rs
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/overlay.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/string/to_hex.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/string/uuid.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/functions/src/unicode/find_in_set.rs
  datafusion/functions/src/unicode/left.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/functions/src/unicode/reverse.rs
  datafusion/functions/src/unicode/right.rs
  datafusion/functions/src/unicode/rpad.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/unicode/substr.rs
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/functions/src/unicode/translate.rs
  docs/source/user-guide/sql/aggregate_functions_new.md
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, core, functions

#12562 Account for constant equivalence properties in union, tests
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12786 Minor: clarify comment about empty dependencies
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12751 Introduce Signature::String and return error if input of `strpos` is integer
  datafusion/core/tests/expr_api/mod.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/nans.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/initcap.rs
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/overlay.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: logical-expr, core, sqllogictest, functions

#12790 Minor: improve docs on MovingMin/MovingMax
  datafusion/functions-aggregate/src/min_max.rs
Labels: functions

#12721 Add union sorting equivalence end to end tests
  datafusion/sqllogictest/test_files/order.slt
Labels: sqllogictest

#12797 Minor: add README to Catalog Folder
  datafusion/catalog/README.md
Labels: documentation, catalog

#12745 Remove redundant aggregate/window/scalar function documentation
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/window_functions.md
Labels: documentation

#12766 Fix bug in TopK aggregates
  datafusion/physical-optimizer/src/topk_aggregation.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/aggregates_topk.slt
Labels: physical-expr, optimizer, sqllogictest

#12795 Minor: clean up TODO comments in unnest.slt
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sqllogictest

#12761 Refactor `DependencyMap` and `Dependencies` into structs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#12805 Remove unnecessary `DFSchema::check_ambiguous_name`
  datafusion/common/src/dfschema.rs
  datafusion/sql/src/expr/identifier.rs
Labels: sql, common

#12799 API from `ParquetExec` to `ParquetExecBuilder`
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
Labels: core

#12820 [logical-types] fix conflicts
  datafusion/functions/benches/encoding.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/rtrim.rs
Labels: functions

#12791 Minor: add documentation note about `NullState`
  datafusion/expr-common/src/groups_accumulator.rs
  datafusion/functions-aggregate/src/min_max.rs
Labels: functions

#12783 Chore: Move `aggregate statistics` optimizer test from core to optimizer crate
  datafusion-cli/Cargo.lock
  datafusion/core/tests/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-optimizer/src/topk_aggregation.rs
Labels: optimizer, core

#12789 Clarify documentation on ArrowBytesMap and ArrowBytesViewMap
  datafusion/physical-expr-common/src/binary_map.rs
  datafusion/physical-expr-common/src/binary_view_map.rs
Labels: physical-expr

#12808 Remove unused dependencies and features
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
Labels: physical-expr, optimizer, core

#12804 Add `PartitionEvaluatorArgs` to `WindowUDFImpl::partition_evaluator`
  datafusion-cli/Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/advanced_udwf.rs
  datafusion-examples/examples/simplify_udwf_expression.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udwf.rs
  datafusion/functions-window-common/Cargo.toml
  datafusion/functions-window-common/src/lib.rs
  datafusion/functions-window-common/src/partition.rs
  datafusion/functions-window/src/macros.rs
  datafusion/functions-window/src/row_number.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change, logical-expr, physical-expr, optimizer, core, proto

#12714 Retry apt-get and rustup on CI
  .github/actions/setup-builder/action.yaml
  ci/scripts/retry
Labels: development-process

#12810 Support creating tables via SQL with `FixedSizeList` column (e.g. `a int[3]`)
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, sqllogictest

#12807 Make HashJoinExec::join_schema public
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#12834 Fix convert_to_state bug in `GroupsAccumulatorAdapter`
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator.rs
Labels: core

#12743 Improve description of function migration
  dev/update_function_docs.sh
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/aggregate_functions_new.md
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
  docs/source/user-guide/sql/window_functions.md
  docs/source/user-guide/sql/window_functions_new.md
Labels: documentation, development-process

#12823 Fix: approx_percentile_cont_with_weight Panic
  datafusion/functions-aggregate-common/src/tdigest.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#12837 Fix panic on wrong number of arguments to substr
  datafusion/functions/src/unicode/substr.rs
  datafusion/sqllogictest/test_files/errors.slt
Labels: sqllogictest, functions

#12856 Fix Bug in Display for ScalarValue::Struct
  datafusion/common/src/scalar/mod.rs
Labels: common

#12718 Convert `rank` / `dense_rank` and `percent_rank` builtin functions to UDWF
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/window_function.rs
  datafusion/functions-window/src/dense_rank.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions-window/src/percent_rank.rs
  datafusion/functions-window/src/rank.rs
  datafusion/functions-window/src/row_number.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/subquery_sort.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/serialize.rs
Labels: api change, sql, logical-expr, physical-expr, core, sqllogictest, substrait, proto

#12768 Support DictionaryString for Regex matching operators
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/expr-common/src/operator.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: physical-expr, optimizer, sqllogictest

#12830 feat(substrait): add intersect support to consumer
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/test_plans/intersect.substrait.json
Labels: substrait

#12838 Minor: Small comment changes in sql folder
  datafusion/sql/src/cte.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/src/values.rs
Labels: sql

#12840 Crypto Function Migration
  datafusion/functions/src/crypto/digest.rs
  datafusion/functions/src/crypto/md5.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/crypto/sha256.rs
  datafusion/functions/src/crypto/sha384.rs
  datafusion/functions/src/crypto/sha512.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#12841 Add DuckDB struct test and row as alias
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/struct.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sqllogictest, functions

#12839 Support struct coercion in `type_union_resolution`
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: logical-expr, sqllogictest

#12849 Minor: more doc to `MemoryPool` module
  datafusion/execution/src/memory_pool/mod.rs
Labels: documentation, execution

#12854 Migrate documentation for all core functions from scalar_functions.md to code
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/expr/src/udf_docs.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/functions/src/core/struct.rs
  datafusion/functions/src/core/version.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, logical-expr, core, functions

#12861 Migrate documentation for Aggregate Functions to code
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/grouping.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-aggregate/src/sum.rs
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/aggregate_functions_new.md
Labels: documentation, functions

#12778 Wordsmith project description
  README.md
  docs/source/index.rst
Labels: documentation

#12860 Added check for aggregate functions in optimizer rules
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, sqllogictest

#12876 Bug-fix: MemoryExec sort expressions do NOT refer to the projected schema
  datafusion/core/src/datasource/memory.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/union.rs
Labels: physical-expr, core

#12881 Optimize `iszero` function (3-5x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/iszero.rs
  datafusion/functions/src/math/iszero.rs
Labels: functions

#12846 Macro for creating record batch from literal slice
  datafusion/common/src/test_util.rs
Labels: common

#12792 Implement special min/max accumulator for Strings and Binary (10% faster for Clickbench Q28)
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/accumulate.rs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/nulls.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/min_max/min_max_bytes.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#12850 Make PruningPredicate's rewrite public
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#12561 Minor: add flags for temporary ddl
  datafusion/core/src/catalog_common/listing_schema.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/ddl.slt
Labels: sql, logical-expr, core, sqllogictest, proto

#12900 octet_length + string view == ❤️
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest

#12887 Remove Expr clones in `select_to_plan`
  datafusion/expr/src/utils.rs
  datafusion/sql/src/select.rs
Labels: sql, logical-expr

#12882 Minor: added to docs in expr folder
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/simplify.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf_docs.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_state.rs
Labels: logical-expr

#12874 Print undocumented functions to console while generating docs
  datafusion/core/src/bin/print_functions_docs.rs
Labels: core

#12851 Fix: handle NULL offset of NTH_VALUE window function
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#12890 Optimize `signum` function (3-25x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/signum.rs
  datafusion/functions/src/math/signum.rs
Labels: functions

#12878 re-export PartitionEvaluatorArgs from datafusion_expr::function
  datafusion/expr/src/function.rs
Labels: logical-expr

#12888 Add spilling related metrics for aggregation
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr

#12917 Remove unused `math_expressions.rs`
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: physical-expr, sqllogictest

#12886 Migrate Regex Functions from static docs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/regex/regexpreplace.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#12832 Improve AggregationFuzzer error reporting
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
Labels: core

#12899 Import Arc consistently
  datafusion-examples/examples/custom_file_format.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/physical-plan/src/metrics/value.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: physical-expr, optimizer, substrait, proto, functions

#12889 Optimize `isnan` (2-5x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/isnan.rs
  datafusion/functions/src/math/nans.rs
Labels: functions

#12912 Minor: Move StringArrayType, StringViewArrayBuilder, etc outside of string module
  datafusion/functions/src/lib.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/strings.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/functions/src/unicode/rpad.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/unicode/substr.rs
Labels: functions

#12908 Migrate documentation for all math functions from scalar_functions.md to code
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/iszero.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/monotonicity.rs
  datafusion/functions/src/math/nans.rs
  datafusion/functions/src/math/nanvl.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/math/random.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/signum.rs
  datafusion/functions/src/math/trunc.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#12800 fix(substrait): remove optimize calls from substrait consumer
  datafusion/substrait/src/lib.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/substrait_validations.rs
Labels: substrait

#12922 Ensure that math functions fulfil the ColumnarValue contract
  datafusion/expr-common/src/columnar_value.rs
  datafusion/functions/src/macros.rs
Labels: functions

#12893 Combine the logic of rank, dense_rank and percent_rank udwf to reduce duplications
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/functions-window/src/dense_rank.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions-window/src/macros.rs
  datafusion/functions-window/src/percent_rank.rs
  datafusion/functions-window/src/rank.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/sql/window_functions_new.md
Labels: documentation, core, proto

#12963 Optimization: support push down limit when full join
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: optimizer, sqllogictest

#12809 Implement `GroupColumn` support for `StringView` / `ByteView` (faster grouping performance)
  datafusion/physical-plan/src/aggregates/group_values/column.rs
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: physical-expr, sqllogictest

#12897 Implement native support StringView for `REGEXP_LIKE`
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#12704 feat: Implement grouping function using grouping id
  datafusion/functions-aggregate/src/grouping.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/resolve_grouping_function.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/grouping.slt
Labels: optimizer, sqllogictest, functions

#12885 Minor: Refactor benchmark imports to use `util` module
  benchmarks/src/bin/h2o.rs
  benchmarks/src/clickbench.rs
  benchmarks/src/imdb/run.rs
  benchmarks/src/lib.rs
  benchmarks/src/parquet_filter.rs
  benchmarks/src/sort.rs
  benchmarks/src/tpch/run.rs
Labels: development-process

#12913 Fix zero data type in `expr % 1` simplification
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#12910 Optimize performance of `math::cot` (~2x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/cot.rs
  datafusion/functions/src/math/cot.rs
Labels: functions

#12929 Update TO_DATE, TO_TIMESTAMP scalar functions to support LargeUtf8, Utf8View
  datafusion/functions/benches/to_timestamp.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/sqllogictest/test_files/dates.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, functions

#12941 Expand wildcard expressions in distinct on
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
Labels: optimizer

#12811 Fix: handle NULL input in lead/lag window function
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#12909 Optimize performance of `math::trunc` (~2.5x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/trunc.rs
  datafusion/functions/src/math/trunc.rs
Labels: functions

#12948 Migrate Array function Documentation to code
  datafusion/functions-nested/src/array_has.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/dimension.rs
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/empty.rs
  datafusion/functions-nested/src/except.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/flatten.rs
  datafusion/functions-nested/src/length.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions-nested/src/position.rs
  datafusion/functions-nested/src/range.rs
  datafusion/functions-nested/src/remove.rs
  datafusion/functions-nested/src/repeat.rs
  datafusion/functions-nested/src/replace.rs
  datafusion/functions-nested/src/resize.rs
  datafusion/functions-nested/src/reverse.rs
  datafusion/functions-nested/src/set_ops.rs
  datafusion/functions-nested/src/sort.rs
  datafusion/functions-nested/src/string.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation

#12880 Minor: fix Aggregation Docs from review
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/sum.rs
  docs/source/user-guide/sql/aggregate_functions_new.md
Labels: documentation, functions

#12968 Minor: Add slt test for `DISTINCT ON` with wildcard
  datafusion/sqllogictest/test_files/distinct_on.slt
Labels: sqllogictest

#12977 Backport update to arrow 53.1.0 on branch-42
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/wasmtest/Cargo.toml
  datafusion/wasmtest/src/lib.rs
Labels: physical-expr, core, sqllogictest, functions

#12974 Backport "Provide field and schema metadata missing on cross joins, and union with null fields" (#12729)
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/metadata.slt
Labels: physical-expr, core, sqllogictest

#12976 Backport "physical-plan: Cast nested group values back to dictionary if necessary" (#12586)
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-expr

#12971 docs: Add documentation about conventional commits
  docs/source/contributor-guide/index.md
Labels: documentation

#12975 backport-to-DF-42: Provide field and schema metadata missing on distinct aggregations
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/metadata.slt
Labels: physical-expr, sqllogictest

#12916 fix: Add Int32 type override for Dialects
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#12986 Update version to 42.1.0, add CHANGELOG
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  dev/changelog/42.1.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#12931 fix: using simple string match replace regex match for contains udf
  datafusion/functions/src/string/contains.rs
Labels: functions

#12962 Increase minimum supported Rust version (MSRV) to 1.79
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion/core/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: development-process, core, substrait, proto

#12863 feat(substrait): add set operations to consumer, update substrait to `0.45.0`
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/test_plans/intersect_multiset.substrait.json
  datafusion/substrait/tests/testdata/test_plans/intersect_multiset_all.substrait.json
  datafusion/substrait/tests/testdata/test_plans/intersect_primary.substrait.json
  datafusion/substrait/tests/testdata/test_plans/minus_primary.substrait.json
  datafusion/substrait/tests/testdata/test_plans/minus_primary_all.substrait.json
  datafusion/substrait/tests/testdata/test_plans/union_distinct.substrait.json
  datafusion/substrait/tests/utils.rs
Labels: substrait

#12896 Unparse `SubqueryAlias` without projections to SQL
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12902 Fix 2 bugs related to push down partition filters
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/sqllogictest/test_files/arrow_files.slt
  datafusion/sqllogictest/test_files/errors.slt
Labels: core, sqllogictest

#12953 Move TableConstraint to Constraints conversion
  datafusion/common/src/functional_dependencies.rs
  datafusion/sql/src/statement.rs
Labels: sql, common

#12958 Added current_timestamp alias
  datafusion/functions/src/datetime/now.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, functions

#12946 Improve unparsing for `ORDER BY`, `UNION`, Windows functions with Aggregation
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12965 Handle one-element array return value in ScalarFunctionExpr
  datafusion/expr-common/src/columnar_value.rs
  datafusion/functions/src/macros.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: physical-expr, functions

#12966 Migrate datetime documentation to code
  datafusion/functions/src/datetime/current_date.rs
  datafusion/functions/src/datetime/current_time.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/datetime/from_unixtime.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/now.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/functions/src/datetime/to_unixtime.rs
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#12991 Fix CI on main ( regenerate function docs)
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation

#12857 Convert `BuiltInWindowFunction::{Lead, Lag}` to a user defined window function
  datafusion-cli/Cargo.lock
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/window_function.rs
  datafusion/functions-window-common/src/expr.rs
  datafusion/functions-window-common/src/lib.rs
  datafusion/functions-window/Cargo.toml
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions-window/src/utils.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: api change, logical-expr, physical-expr, core, sqllogictest, proto

#12969 Split output batches of joins that do not respect batch size
  datafusion/common/src/config.rs
  datafusion/execution/src/config.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, physical-expr, sqllogictest, common, execution

#12967 Fix：fix HashJoin projection swap
  datafusion/core/src/physical_optimizer/join_selection.rs
Labels: core

#12983 refactor(substrait): refactor ReadRel consumer
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#12987 feat(substrait): add wildcard handling to producer
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#12764 Move SMJ join filtered part out of join_output stage. LeftOuter, LeftSemi
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: physical-expr, core, sqllogictest

#12970 feat: Add regexp_count function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/sqllogictest/test_files/regexp.slt
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, sqllogictest, functions

#13008 Minor: Fixed regexpr_match docs
  datafusion/functions/src/regex/regexpmatch.rs
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#12950 Improve performance for physical plan creation with many columns
  datafusion/core/benches/sql_planner.rs
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/tests/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-optimizer/src/combine_partial_final_agg.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, physical-expr, optimizer, core, proto

#12985 Remove logical cross join in planning
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/join.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/update.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest, substrait

#13014 Minor: Fix spelling in regexpr_count docs
  datafusion/functions/src/regex/regexpmatch.rs
  docs/source/user-guide/sql/scalar_functions_new.md
Labels: documentation, functions

#13013 [MINOR]: Use arrow take_arrays, remove datafusion take_arrays
  datafusion/common/src/utils/mod.rs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: physical-expr, common, functions

#12836 Improve recursive `unnest` options API
  datafusion-cli/Cargo.lock
  datafusion/common/src/lib.rs
  datafusion/common/src/unnest.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
Labels: api change, sql, logical-expr, physical-expr, common, proto

#12989 Update version to 42.1.0, add CHANGELOG (#12986)
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  dev/changelog/42.1.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process
