Repository apache/datafusion, pull requests merged in 2024-01, with the labels that each got.

#8672 Cleanup TreeNode implementations
  datafusion/common/src/tree_node.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/utils/mod.rs
Labels: logical-expr, physical-expr, core

#8703 Remove DescribeTableStmt in parser in favour of existing functionality from sqlparser-rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
Labels: sql, core

#8691 Simplify `NULL [NOT] IN (..)` expressions
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#8382 Rename `expr::window_function::WindowFunction` to `WindowFunctionDefinition`, make structure consistent with ScalarFunction
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_function.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: api change, sql, logical-expr, optimizer, core, substrait

#8707 Deprecate duplicate function `LogicalPlan::with_new_inputs`
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer

#8715 Minor: clean up code based on `Clippy`
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_planner.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: core, substrait

#8714 feat: support `LargeList` in `array_position`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8716 feat: support `LargeList` in `array_ndims`
  datafusion/common/src/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8700 feat: remove filters with null constants
  datafusion/optimizer/src/eliminate_filter.rs
Labels: optimizer

#8679 support `LargeList` in `array_prepend` and `array_append`
  datafusion/common/src/utils.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, sqllogictest

#8695 Support for `extract(epoch from date)` for Date32 and Date64
  datafusion/core/tests/sql/expr.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, core

#8719 Implement trait based API for defining WindowUDF
  datafusion-examples/README.md
  datafusion-examples/examples/advanced_udwf.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udwf.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/library-user-guide/adding-udfs.md
Labels: logical-expr, core

#8732 fix guarantees in allways_true of PruningPredicate
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#8718 Minor: Avoid memory copy in construct window exprs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr

#8725 feat: support LargeList in array_repeat
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8737 Add support for functional dependency for ROW_NUMBER window function.
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, sqllogictest

#8441 Minor: reduce code duplication in PruningPredicate test
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#8721 feat: native types in `DistinctCountAccumulator` for primitive types
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/utils.rs
Labels: physical-expr

#8757 [MINOR]: Add a test case for when target partition is 1, no hash repartition is added to the plan.
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: core, sqllogictest

#8748 Minor: Improve `PruningPredicate` docstrings
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: documentation, core

#8726 feat: support `LargeList` in `cardinality`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8750 Add reproducer for #8738
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: sqllogictest

#8747 Minor: Add documentation about stream cancellation
  datafusion/core/src/dataframe/mod.rs
  datafusion/physical-plan/src/lib.rs
Labels: documentation, core

#8731 Move `repartition_file_scans` out of `enable_round_robin` check in `EnforceDistribution` rule
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#8746 Clean internal implementation of WindowUDF
  datafusion-examples/examples/advanced_udwf.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udwf.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, core

#8729 feat: support `largelist` in `array_to_string`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8636 Convert Binary Operator `StringConcat` to Function for `array_concat`, `array_append` and `array_prepend`
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/explain.slt
Labels: sql, logical-expr, physical-expr, optimizer, sqllogictest

#8775 Minor: Fix incorrect indices for hashing struct
  datafusion/common/src/hash_utils.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: sqllogictest

#8749 Minor: Improve library docs to mention TreeNode, ExprSimplifier, PruningPredicate and cp_solver
  datafusion/core/src/lib.rs
Labels: core

#8620 Add `schema_err!` error macros with optional backtrace
  .github/workflows/rust.yml
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core

#8740 Fix regression by reverting Materialize dictionaries in group keys
  datafusion/core/tests/path_partition.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: core, sqllogictest

#8774 fix: struct field don't push down to TableScan
  datafusion/optimizer/src/optimize_projections.rs
Labels: optimizer

#8713 Implement `ScalarUDF` in terms of `ScalarUDFImpl` trait
  datafusion-examples/examples/advanced_udf.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/udf.rs
Labels: api change, logical-expr, physical-expr, optimizer

#8781 Minor: Fix error messages in array expressions
  datafusion/physical-expr/src/array_expressions.rs
Labels: physical-expr

#8773 Move tests from `expr.rs` to sqllogictests. Part1
  datafusion/core/tests/sql/expr.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: core, sqllogictest

#8288 Permit running `sqllogictest` as a rust test in IDEs (+ use clap for sqllogicttest parsing, accept (and ignore) rust test harness arguments)
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#8787 Minor: Use standard tree walk in Projection Pushdown
  datafusion/optimizer/src/optimize_projections.rs
Labels: optimizer

#8733 Implement trait based API for define AggregateUDF
  datafusion-examples/README.md
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udwf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  docs/source/library-user-guide/adding-udfs.md
Labels: logical-expr, optimizer, core

#8776 fix: failed to create ValuesExec with non-nullable schema
  datafusion/physical-plan/src/values.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: sqllogictest

#8772 feat: Add bloom filter metric to ParquetExec
  datafusion/core/src/datasource/physical_plan/parquet/metrics.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: physical-expr, core, sqllogictest

#8562 Change `ScalarValue::{List, LargeList, FixedSizedList}` to take specific types rather than `ArrayRef`
  datafusion/common/src/scalar.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: api change, physical-expr, optimizer

#8804 docs: add sudo for install commands
  docs/source/contributor-guide/index.md
Labels: documentation

#8801 Make benefits_from_input_partitioning Default in SHJ
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#8815 [Minor] extract const and add doc and more tests for in_list pruning
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#8813 [MINOR]: Add size check for aggregate
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/limit.rs
Labels: core

#8799 Implement monotonicity for ScalarUDF
  datafusion-examples/examples/advanced_udf.rs
  datafusion/expr/src/udf.rs
  datafusion/physical-expr/src/udf.rs
Labels: logical-expr, physical-expr

#8807 Remove unused array_expression.rs and `SUPPORTED_ARRAY_TYPES`
  datafusion/expr/src/array_expressions.rs
  datafusion/expr/src/lib.rs
Labels: api change, logical-expr

#8831 Minor: typo in `arrays.slt`
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#8771 docs: document SessionConfig
  datafusion/common/src/config.rs
  datafusion/execution/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sqllogictest

#8822 Minor: Improve `datafusion-proto` documentation
  datafusion/expr/src/expr.rs
  datafusion/proto/README.md
Labels: logical-expr

#8802 Serialize function signature simplifications
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/write/mod.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
Labels: core

#8834 Port tests in `group_by.rs` to sqllogictest
  datafusion/core/tests/sql/group_by.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: core, sqllogictest

#8823 Simplify physical expression creation API (not require schema)
  datafusion-examples/examples/expr_api.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/utils/guarantee.rs
Labels: api change, physical-expr, optimizer, core

#8843 feat: add more components to the wasm-pack compatible list
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/listing/url.rs
  datafusion/execution/src/object_store.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  datafusion/wasmtest/README.md
Labels: core, substrait

#8818 Port tests in timestamp.rs to sqllogictest. Part 1
  datafusion/core/tests/sql/timestamp.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: core, sqllogictest

#8758 Upgrade to object_store `0.9.0` and arrow `50.0.0`
  Cargo.toml
  README.md
  benchmarks/Cargo.toml
  benchmarks/README.md
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/exec.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/tests/dataframe/describe.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/clickbench.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  docs/source/user-guide/example-usage.md
Labels: documentation, sql, physical-expr, core, sqllogictest

#8825 Fix ApproxPercentileCont signature
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, optimizer, sqllogictest

#8858 Minor: Update `with_column_rename` method doc
  datafusion/core/src/dataframe/mod.rs
Labels: core

#8869 Add options of parquet bloom filter and page index in Session config
  datafusion/core/tests/parquet/mod.rs
  datafusion/execution/src/config.rs
Labels: core

#8857 test: Port `order.rs` tests to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/order.rs
  datafusion/sqllogictest/data/repeat_much.snappy.parquet
  datafusion/sqllogictest/test_files/order.slt
Labels: core, sqllogictest

#8842 Determine causal window frames to produce early results.
  datafusion-examples/examples/advanced_udwf.rs
  datafusion-examples/examples/simple_udwf.rs
  datafusion/common/src/scalar.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_frame.rs
  datafusion/expr/src/window_state.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#8875 docs: fix wrong pushdown name & a typo
  datafusion/core/src/datasource/provider.rs
Labels: core

#8833 fix: don't extract common sub expr in `CASE WHEN` clause
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
Labels: optimizer, sqllogictest

#8879 test: Port tests in `predicates.rs` to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/predicates.rs
  datafusion/sqllogictest/test_files/predicates.slt
Labels: core, sqllogictest

#8882 Minor: add tests for casts between nested `List` and `LargeList`
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sqllogictest

#8841 Support for order sensitive `NTH_VALUE` aggregation, make reverse `ARRAY_AGG` more efficient
  datafusion/common/src/scalar.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: logical-expr, physical-expr, sqllogictest

#8885 test: Port tests in `csv_files.rs` to sqllogictest
  datafusion/core/tests/sql/csv_files.rs
  datafusion/core/tests/sql/mod.rs
Labels: core

#8877 test: Port tests in `references.rs` to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/references.rs
  datafusion/sqllogictest/test_files/references.slt
Labels: core, sqllogictest

#8881 Support `LargeListArray` scalar values and `align_array_dimensions`
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8883 refactor: rename FileStream.file_reader to file_opener & update doc
  datafusion/core/src/datasource/physical_plan/file_stream.rs
Labels: core

#8889 docs: fix wrong name in sub-crates' README
  datafusion/core/README.md
  datafusion/execution/README.md
  datafusion/physical-plan/README.md
Labels: core

#8828 Recursive CTEs: Stage 1 - add config flag
  datafusion/common/src/config.rs
  datafusion/sql/src/query.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sql, sqllogictest

#8884 Support array literal with scalar function
  datafusion/sql/src/expr/value.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, sqllogictest

#8888 docs: add an example for RecordBatchReceiverStreamBuilder
  datafusion/physical-plan/src/stream.rs
Labels: documentation

#8839 Recursive CTEs: Stage 2 - add support for sql -> logical plan generation
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/cte_worktable.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, optimizer, core

#8901 Minor: remove null in `array-append` and `array-prepend`
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#8344 Add support for FixedSizeList type in `arrow_cast`, hashing
  datafusion/common/src/hash_utils.rs
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sql, logical-expr, sqllogictest

#8914 aggregate_statistics should only optimize MIN/MAX when relation is not empty
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#8886 support to_timestamp with optional chrono formats
  datafusion-examples/examples/dataframe_to_timestamp.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#8921 Minor: distinguish parquet row group pruning type in unit test
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#8720 Add hash_join_single_partition_threshold_rows config
  datafusion/common/src/config.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#8924 Prepare 35.0.0-rc1
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  dev/changelog/35.0.0.md
  dev/release/README.md
  docs/Cargo.toml
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest

#8829 feat: support `stride` in `array_slice`, change indexes to be`1` based
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
Labels: logical-expr, physical-expr, sqllogictest

#8920 Simplify windows builtin functions return type
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/built_in_window_function.rs
  datafusion/physical-expr/src/window/cume_dist.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/ntile.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#8923 Fix handling of nested leaf columns in parallel parquet writer
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#8928 fix: common_subexpr_eliminate rule should not apply to short-circuit expression
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, optimizer, sqllogictest

#8892 Support GroupsAccumulator accumulator for udaf
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/expr/src/groups_accumulator.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/accumulate.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/bool_op.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/mod.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/prim_op.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/primitive.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/order/full.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/udaf.rs
Labels: logical-expr, physical-expr, core

#8919 test: Port tests in `partitioned_csv.rs` to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/partitioned_csv.rs
  datafusion/core/tests/sql/select.rs
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: core, sqllogictest

#8878 Deprecate make_scalar_function
  datafusion-examples/examples/simple_udf.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/columnar_value.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/proto/tests/cases/serialize.rs
  datafusion/sqllogictest/src/test_context.rs
Labels: api change, logical-expr, physical-expr, optimizer, core, sqllogictest

#8954 Update project links
  README.md
Labels: documentation

#8941 fix: issue #8922 make row group test more readable
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#8862 feat:implement sql style 'ends_with' and 'instr' string function
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#8948 [MINOR]: Extract aggregate topk function to `aggregate_topk.slt`
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
Labels: sqllogictest

#8949 Combine multiple `IN` lists in `ExprSimplifier`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/inlist_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/or_in_list_simplifier.rs
  datafusion/sqllogictest/test_files/predicates.slt
Labels: optimizer, sqllogictest

#8972 Fix clippy failures: error: use of deprecated function `functions::make_scalar_function
  datafusion/physical-expr/src/functions.rs
Labels: physical-expr

#8930 feat: Support parquet bloom filter pruning for decimal128
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#8945 [MINOR]: Update create_window_expr to refer only input schema
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: core

#8957 Don't error in simplify_expressions rule
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: physical-expr, optimizer, sqllogictest

#8956 Use .zip to avoid unwrap
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#8925 Change `Accumulator::evaluate` and `Accumulator::state` to take `&mut self`
  datafusion-examples/examples/advanced_udaf.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/accumulator.rs
  datafusion/physical-expr/src/aggregate/approx_distinct.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/physical-expr/src/aggregate/count_distinct.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/physical-expr/src/aggregate/regr.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/string_agg.rs
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/no_grouping.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: api change, logical-expr, physical-expr, core, substrait

#8780 Enhance simplifier by adding Canonicalize
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
Labels: optimizer, sqllogictest

#8848 Find the correct fields when using page filter on `struct` fields in parquet
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
Labels: core

#8977 fix: allow placeholders to be substited when coercible
  datafusion/common/src/param_value.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#8968 Minor: improve CatalogProvider documentation with rationale and info about remote catalogs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/catalog/schema.rs
Labels: core

#8962 Add helper function for processing scalar function input
  datafusion-examples/examples/simple_udf.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/functions.rs
  docs/source/library-user-guide/adding-udfs.md
Labels: physical-expr, optimizer

#8960 Fix optimize projections bug
  datafusion/core/tests/dataframe/mod.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, core, sqllogictest

#8982 NOT operator not return internal error when args are not boolean value
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, optimizer, sqllogictest

#8950 Minor: Add new Extended ClickBench benchmark queries
  benchmarks/queries/clickbench/README.md
  benchmarks/queries/clickbench/extended.sql
Labels: performance

#8989 Fix LEAD/LAG window functions when default value null
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#8940 Optimize MIN/MAX when relation is empty
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#8996 [task #8203] Port tests in joins.rs to sqllogictest
  datafusion/core/tests/sql/joins.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: core, sqllogictest

#8967 [task #8213]Port tests in select.rs to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: core, sqllogictest

#8936 test: Port (last) `repartition.rs` query to sqllogictest
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/repartition.rs
  datafusion/sqllogictest/test_files/repartition.slt
Labels: core, sqllogictest

#9000 Update to sqlparser `0.42.0`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
Labels: sql

#8992 [MINOR]: Fix Optimize Projections Bug
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: optimizer, sqllogictest

#8998 Make Topk aggregate tests deterministic
  datafusion/sqllogictest/test_files/aggregates_topk.slt
Labels: sqllogictest

#8894 Add support for Postgres LIKE operators
  datafusion/expr/src/operator.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/substrait/src/logical_plan/producer.rs
  docs/source/user-guide/sql/operators.md
Labels: sql, logical-expr, physical-expr, sqllogictest, substrait

#8964 bug: Datafusion doesn't respect case sensitive table references
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: sql, sqllogictest

#8986 Document parallelism and thread scheduling in the architecture guide
  datafusion/core/src/lib.rs
Labels: core

#9005 Fix None Projections in Projection Pushdown
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: core, sqllogictest

#9001 Lead and Lag window functions should support default value with datatype other than Int64
  datafusion/common/src/scalar.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9008 chore: fix license badge in README
  README.md
Labels: documentation

#9012 Minor: fix: #9010 - Optimizer schema change assert error is incorrect
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#9003 docs: fix array_position docs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#9002 Rename `CatalogList` to `CatalogProviderList`
  datafusion-cli/src/catalog.rs
  datafusion-examples/examples/external_dependency/catalog.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/execution/context/mod.rs
  docs/source/library-user-guide/catalogs.md
Labels: api change, core

#8840 Recursive CTEs: Stage 3 - add execution support
  datafusion/core/src/datasource/cte_worktable.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/data/recursive_cte/balance.csv
  datafusion/core/tests/data/recursive_cte/growth.csv
  datafusion/core/tests/data/recursive_cte/prices.csv
  datafusion/core/tests/data/recursive_cte/sales.csv
  datafusion/core/tests/data/recursive_cte/salespersons.csv
  datafusion/core/tests/data/recursive_cte/time.csv
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/sql/src/query.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: sql, core, sqllogictest

#9022 sqllogictest: move the creation of the nan_table from Rust to slt
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#8817 TreeNode refactor code deduplication: Part 3
  datafusion/common/src/tree_node.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/sort_properties.rs
  datafusion/physical-expr/src/tree_node.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/tree_node.rs
Labels: logical-expr, physical-expr, core

#9014 [task #8201] Port tests in expr.rs to sqllogictest, finish the left c…
  datafusion/core/tests/sql/expr.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: core, sqllogictest

#9034 Fix the clippy error of use of deprecated method
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#9009 Cache common referred expression at the window input
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#8849 Optimize `COUNT( DISTINCT ...)` for strings (up to 9x faster)
  benchmarks/queries/clickbench/README.md
  datafusion-cli/Cargo.lock
  datafusion/core/tests/fuzz_cases/distinct_count_string_fuzz.rs
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/strings.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/clickbench.slt
Labels: physical-expr, core, sqllogictest

#8897 feat: Parallel Arrow file format reading
  Cargo.toml
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: core, sqllogictest

#8991 Relax join keys constraint from Column to any physical expression for physical join operators
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, core

#8999 Docs: improve contributor guide to explain how to work with tickets
  CONTRIBUTING.md
  README.md
  docs/source/contributor-guide/index.md
Labels: documentation

#9054 fix issue where upper and lower functions only work correctly on ascii character
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: physical-expr, sqllogictest

#9038 Chore: explicitly list out all Expr types in TypeCoercionRewriter::mutate
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer

#9029 Minor: improve scalar functions document
  datafusion/expr/src/expr_fn.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr

#9050 Remove some recursive cloning from logical planning
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: api change, logical-expr, optimizer

#8979 minor: remove useless macro
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
Labels: physical-expr

#9048 Causality Analysis for Builtin Window Functions
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/rank.rs
  datafusion/physical-expr/src/window/row_number.rs
Labels: logical-expr, physical-expr, core

#9041 Remove single_file_output option from FileSinkConfig and Copy statement
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/repartition.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/schema_evolution.slt
  docs/source/user-guide/sql/dml.md
  docs/source/user-guide/sql/write_options.md
Labels: sql, logical-expr, core, sqllogictest

#9040 Add a make_date function
  datafusion-examples/README.md
  datafusion-examples/examples/make_date.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#9071 Document minimum required rust version
  README.md
Labels: documentation

#9044 Return proper number of expressions for nth_value_agg
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr

#9031 ScalarUDF with zero arguments should be provided with one null array as parameter
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, core

#8705 Create `datafusion-functions` crate, extract encode and decode to
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/prelude.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/execution/src/registry.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/README.md
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/encoding/mod.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/macros.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr, core

#9068 fix: unambiguously truncate time in date_trunc function
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: physical-expr, sqllogictest

#9023 feat: support array_reverse
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#9066 Handle invalid types for negation
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, sqllogictest
