Repository apache/datafusion, pull requests merged in 2024-08, with the labels that each got.

#11740 Minor: Improve documentation for AggregateUDFImpl::state_fields
  datafusion/expr/src/udaf.rs
Labels: logical-expr

#11678 Do not push down Sorts if it violates the sort requirements
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
Labels: core

#11479 Use upstream `StatisticsConverter` from arrow-rs in DataFusion
  datafusion-examples/examples/parquet_index.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/parquet_statistic.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#11703 Rename RepartitionExec metric `repart_time` to `repartition_time`
  datafusion/physical-plan/src/repartition/mod.rs
Labels: api change

#11744 Fix `plan_to_sql`: Add wildcard projection to SELECT statement if no projection was set
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#11729 Fix documentation warnings, make CsvExecBuilder and Unparsed pub
  .github/workflows/rust.yml
  datafusion/common/src/error.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/mod.rs
Labels: sql, development-process, optimizer, core

#11760 [Minor] Add test for only nulls (empty) as input in APPROX_PERCENTILE_CONT
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#11665 Add `TrackedMemoryPool` with better error messages on exhaustion
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
Labels: core

#11757 Derive `Debug` for logical plan nodes
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#11763 Minor: add "clickbench extended" queries to slt tests
  benchmarks/queries/clickbench/README.md
  datafusion/sqllogictest/test_files/clickbench.slt
Labels: sqllogictest

#11768 Fix bug that `COUNT(DISTINCT)` on StringView panics
  datafusion/functions-aggregate/src/count.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11765 [Minor] Short circuit `ApplyFunctionRewrites` if there are no function rewrites
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: optimizer, sqllogictest

#11694 Fix #11692: Improve doc comments within macros
  datafusion/expr/src/test/function_stub.rs
  datafusion/functions-aggregate/src/macros.rs
  datafusion/functions-nested/src/macros.rs
  datafusion/functions/src/macros.rs
Labels: logical-expr

#11784 Minor: Add references to github issue in comments
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
Labels: core

#11778 Add docs and rename param for `Signature::numeric`
  datafusion/expr/src/signature.rs
Labels: logical-expr

#11791 Doc: Add Sail to known users list
  docs/source/user-guide/introduction.md
Labels: documentation

#11780 Support planning `Map` literal
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sql, sqllogictest

#11713 fix: Add additional required expression for natural join
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: logical-expr, sqllogictest

#11013 Move min and max to user defined aggregate function, remove `AggregateFunction` / `AggregateFunctionDefinition::BuiltIn`
  datafusion-examples/examples/dataframe_subquery.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-nested/src/planner.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/mod.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/gen/src/main.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  docs/source/user-guide/dataframe.md
  docs/source/user-guide/example-usage.md
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, substrait

#11774 Support `LogicalPlan` `Debug` differently than `Display`
  benchmarks/src/tpch/run.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/serialize.rs
Labels: sql, logical-expr, optimizer, core, substrait

#11781 Remove redundant Aggregate when `DISTINCT` & `GROUP BY` are in the same query
  datafusion/common/src/functional_dependencies.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: optimizer, sqllogictest

#11803 Remove `AggregateFunctionDefinition`
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/functions-nested/src/planner.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, sql, logical-expr, optimizer, core, substrait

#11789 Improve MSRV CI check to print out problems to log
  .github/workflows/rust.yml
Labels: development-process

#11627 Skipping partial aggregation when it is not helping for high cardinality aggregates
  datafusion/common/src/config.rs
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/groups_accumulator.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/benches/count.rs
  datafusion/functions-aggregate/benches/sum.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/physical-expr-common/src/aggregate/groups_accumulator/prim_op.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, logical-expr, sqllogictest

#11814 Add valid Distinct case for aggregation
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: optimizer, sqllogictest

#11795 Change name of MAX/MIN udaf to lowercase max/min
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/expr_api/parse_sql_expr.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/moving_min_max.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/update.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/consumer_integration.rs
  docs/source/library-user-guide/using-the-sql-api.md
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#11813 Don't implement `create_sliding_accumulator` repeatedly
  datafusion/expr/src/test/function_stub.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/regr.rs
Labels: logical-expr

#11824 Minor: Update exected output due to logical conflict
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#11799 doc: Add support for `map` and `make_map` functions
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#11809 Improve readme page in crates.io
  datafusion/core/Cargo.toml
Labels: documentation, core

#11831 Minor: consolidate `path_partition` test into `core_integration`
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/path_partition.rs
Labels: core

#11830 Move optimizer integration tests to `core_integration`
  datafusion/core/tests/core_integration.rs
  datafusion/core/tests/optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
Labels: core

#11776 Optionally create name of aggregate expression from expressions
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/expr/src/expr.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: logical-expr, core

#11839 Bump deprecated version of SessionState::new_with_config_rt to 41.0.0
  datafusion/core/src/execution/session_state.rs
Labels: core

#11833 Fix partial aggregation skipping with Decimal aggregators
  datafusion/physical-expr-common/src/aggregate/groups_accumulator/prim_op.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
Labels: sqllogictest

#11787 feat: support `Utf8View` type in `starts_with` function
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: logical-expr, sqllogictest

#11843 fix: `collect_columns` quadratic complexity
  datafusion/physical-expr/src/utils/mod.rs
Labels: physical-expr

#11802 Reduce clone of `Statistics` in `ListingTable` and `PartitionedFile`
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/statistics.rs
Labels: core

#11817 Add `LogicalPlan::CreateIndex`
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core

#11879 feat: Expose public method for optimizing physical plans
  datafusion-examples/examples/planner_api.rs
  datafusion/core/src/physical_planner.rs
Labels: core

#11796 Cast `Utf8View` to `Utf8` to support `||` from `StringViewArray`
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: logical-expr, sqllogictest

#11864 refactor: remove unneed mut for session context
  datafusion-cli/examples/cli-session-context.rs
  datafusion-cli/src/catalog.rs
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/main.rs
  datafusion-examples/examples/catalog.rs
  datafusion/core/benches/filter_query_sql.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/library-user-guide/custom-table-providers.md
Labels: documentation, core

#11882 [Minor]: Refactor to use Result.transpose()
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
Labels: core

#11849 support `ANY()` op
  datafusion/expr/src/planner.rs
  datafusion/functions-nested/src/array_has.rs
  datafusion/functions-nested/src/planner.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, logical-expr, sqllogictest

#11890 Sync rust docs params for CI and dev
  .github/workflows/rust.yml
  ci/scripts/rust_docs.sh
Labels: development-process

#11884 Update ASCII scalar function to support Utf8View #11834
  datafusion/functions/src/string/ascii.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11876 Fix `Duration` vs `Interval` comparisons and `Interval` as LHS
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sql, logical-expr, sqllogictest

#11889 chore: Prepare 41.0.0-rc1
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/example.parquet
  dev/changelog/41.0.0.md
  dev/release/README.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process, core

#11753 Add tests for StringView / character functions, fix `regexp_like` and `regexp_match` to work with StringView
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11756 fix: invalid sqls when unparsing derived table with columns contains calculations, limit/order/distinct
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#11840 Avoid unecessary copy when reading arrow files
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/proto-common/src/from_proto/mod.rs
Labels: core

#11812 Support NULL literal in Min/Max
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/describe.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest

#11887 Remove many `crate::` imports in listing table provider module
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#11878 feat: expose centroids in approx_percentile_cont fluent api
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change, core

#11921 Add `generate_series` tests for arrays
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#11904 Minor: use `lit(true)` and `lit(false)` more
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr, optimizer

#11875 Enforce sorting handle fetchable operators, add option to repartition based on row count estimates
  datafusion/common/src/config.rs
  datafusion/common/src/stats.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/count_star_rule.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/sort_merge_join.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest

#11930 Minor: change wording for PMC membership notice
  docs/source/contributor-guide/inviting.md
Labels: documentation

#11934 Fix: panics in `approx_percentile_cont()` aggregate function
  datafusion/functions-aggregate-common/src/tdigest.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#11907 fix: throw error on sub-day generate_series increments
  datafusion/functions-nested/src/range.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#11888 Update INITCAP scalar function to support Utf8View
  datafusion/functions/src/string/initcap.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11906 Implement native support StringView for Octet Length
  datafusion/functions/src/string/octet_length.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11926 fix: impl ordering for serialization/deserialization for AggregateUdf
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#11924 Implement native support StringView for Ends With
  datafusion/functions/src/string/ends_with.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11925 Implement native support StringView for Levenshtein
  datafusion/functions/src/string/levenshtein.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11920 Implement native stringview support for BTRIM
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11945 Move `LimitPushdown` to physical-optimizer crate
  datafusion/common/src/utils/mod.rs
  datafusion/core/src/physical_optimizer/limit_pushdown.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/limit_pushdown.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/physical-optimizer/src/output_requirements.rs
Labels: optimizer, core

#11940 chore: Add SessionState to MockContextProvider just like SessionContextProvider
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#11896 Support tuples as types
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sql, physical-expr, sqllogictest

#11734 Support `convert_to_state` for `AVG` accumulator
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator.rs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/nulls.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
Labels: sqllogictest, functions

#11947 minor: Update release documentation based on 41.0.0 release
  datafusion/catalog/Cargo.toml
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
  dev/release/release-crates.sh
Labels: development-process

#11828 Make `Precision<usize>` copy to make it clear clones are not expensive
  datafusion/common/src/stats.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-expr, core

#11958 fix: Fix various complaints from the latest nightly clippy
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/physical-expr/benches/case_when.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/unparser/plan.rs
Labels: sql, physical-expr, core, common, functions

#11965 Minor: simplify SQL number parsing and add a comment about unused
  datafusion/common/src/error.rs
  datafusion/sql/src/parser.rs
Labels: sql, common

#11712 Support Arrays for the Map scalar functions
  datafusion/common/src/utils/mod.rs
  datafusion/functions-nested/src/map.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest

#11948 Add native stringview support for LTRIM & RTRIM
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11681 Move wildcard expansions to the analyzer
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest, proto

#11955 Add native stringview support for RIGHT
  datafusion/functions/src/unicode/right.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11959 Register get_field by default
  datafusion/functions/src/core/mod.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sqllogictest, functions

#11966 Refactor `CoalesceBatches` to use an explicit state machine
  datafusion/physical-plan/src/coalesce_batches.rs
Labels: physical-expr

#11970 Implement native support StringView for find in set
  datafusion/functions/src/unicode/find_in_set.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11939 test: re-enable window function over parquet with forced collisions
  datafusion/sqllogictest/test_files/parquet.slt
Labels: sqllogictest

#11962 Implement native support StringView for `REPEAT`
  datafusion/functions/src/string/repeat.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11942 Update RPAD scalar function to support Utf8View
  datafusion/functions/src/unicode/rpad.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11987 Improve lpad udf by using a GenericStringBuilder
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/pad.rs
  datafusion/functions/src/unicode/lpad.rs
Labels: functions

#11974 Implement native support StringView for substr_index
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11976 Add native stringview support for LEFT
  datafusion/functions/src/unicode/left.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11996 Minor: Improve function documentation
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/crypto/mod.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/encoding/mod.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/unicode/mod.rs
Labels: functions

#11968 Implement native support StringView for overlay
  datafusion/functions/src/string/overlay.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11991 Keep the existing default catalog for `SessionStateBuilder::new_from_existing`
  datafusion/core/src/execution/session_state.rs
Labels: core

#11949 Use tracked-consumers memory pool be the default.
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
Labels: physical-expr, core, execution

#11973 Update REVERSE scalar function to support Utf8View
  datafusion/functions/src/unicode/reverse.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11847 Support partial aggregation skip for boolean functions
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/bool_op.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
Labels: sqllogictest

#11967 feat/11953: Support StringView for TRANSLATE() fn
  datafusion/functions/src/unicode/translate.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11975 Update SPLIT_PART scalar function to support Utf8View
  datafusion/functions/src/string/split_part.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12016 Handle arguments checking of `min`/`max` function to avoid crashes
  datafusion/functions-aggregate/src/min_max.rs
Labels: functions

#11985 Fix: support NULL input for regular expression comparison operations
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: physical-expr, sqllogictest

#12009 Remove physical sort parameters on aggregate window functions
  datafusion/core/src/dataframe/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: physical-expr, core

#11999 Minor: Use execution error in ScalarValue::iter_to_array for incorrect usage
  datafusion/common/src/scalar/mod.rs
Labels: common

#12025 Fix: support NULL input for like operations
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: sqllogictest

#12024 Minor: Add error tests for min/max with 2 arguments
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#12017 fix: incorrect aggregation result of `bool_and`
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/bool_op.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#12015 Improve performance of REPEAT functions
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/repeat.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/unicode/lpad.rs
Labels: functions

#12019 Update SUBSTR scalar function to support Utf8View
  datafusion/functions/src/unicode/substr.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#11994 Improve documentation about `ParquetExec` / Parquet predicate pushdown
  datafusion/common/src/tree_node.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
Labels: core, common

#11919 `datafusion.catalog.has_headers` default value set to `true`
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/csv_writer.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/projection.slt
  datafusion/sqllogictest/test_files/tpch/create_tables.slt.part
  datafusion/sqllogictest/test_files/window.slt
  docs/source/user-guide/configs.md
Labels: documentation, api change, core, sqllogictest, common

#11969 feat: Add map_extract module and function
  datafusion/common/src/utils/mod.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-nested/src/map_extract.rs
  datafusion/sqllogictest/test_files/map.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, common

#12036 refactor: Move `LimitedDistinctAggregation` to `physical-optimizer` crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/test_util.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/limited_distinct_aggregation.rs
Labels: optimizer, core

#12000 Fix projection name with DataFrame::with_column and window functions
  datafusion/core/src/dataframe/mod.rs
Labels: core

#12014 Update to `sqlparser-rs` v0.50.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sql, sqllogictest

#12022 Minor: make some physical-plan properties public
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/full.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/filter.rs
Labels: logical-expr, physical-expr

#12028 Fix: handle NULL input for regex match operations
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: physical-expr, sqllogictest

#12043 Fix compilation, change row_number() expr_fn to 0 args
  datafusion/core/src/dataframe/mod.rs
  datafusion/functions-window/src/row_number.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: core, proto

#12038 Minor: add getter method for LogicalPlanBuilder.plan
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#12045 Window UDF signature check
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udwf.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, sqllogictest

#12002 Fix: generate_series function support string type
  datafusion/functions-nested/src/range.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#12003 Do not add redundant subquery ordering into plan
  datafusion/common/src/lib.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/physical_optimizer/limit_pushdown.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery_sort.slt
  datafusion/sqllogictest/test_files/topk.slt
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, physical-expr, optimizer, core, sqllogictest, common

#12060 Fix: Remove Unrelated Fields When Expanding Wildcards in Functional Dependency Projections
  datafusion/expr/src/utils.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: logical-expr, sqllogictest

#12061 Update async-trait in CLI and catalog crates
  datafusion-cli/Cargo.toml
  datafusion/catalog/Cargo.toml
Labels: catalog

#12053 Minor: polish `Accumulator::state` docs
  datafusion/expr-common/src/accumulator.rs
Labels: documentation

#12051 Minor: remove clones in `coerce_plan_expr_for_schema`
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
Labels: logical-expr, optimizer

#12050 fix: support min/max for Float16 type
  datafusion-cli/Cargo.lock
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sqllogictest, functions

#12004 implement utf8_view for replace
  datafusion/functions/src/string/replace.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12034 Fix CI check when version changes -- remove checked in file that is created by doc example
  datafusion/core/example.parquet
  docs/source/library-user-guide/using-the-dataframe-api.md
Labels: documentation, development-process, core

#12033 Minor: update sqllogictest to treat Utf8View as text
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sqllogictest

#12068 [MINOR] correct document mistakes
  datafusion/catalog/src/catalog.rs
Labels: catalog

#11456 Plan `LATERAL` subqueries
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: sql, sqllogictest

#12078 Faster random() scalar function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/random.rs
  datafusion/functions/src/math/random.rs
Labels: functions

#12072 functions: support strpos with mixed string types
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/utils.rs
Labels: functions

#12064 Update to `clap` 4.5.16
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/command.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/pool_type.rs
  datafusion-cli/src/print_format.rs
  datafusion/sqllogictest/Cargo.toml
Labels: sqllogictest

#11989 Fix the schema mismatch between logical and physical for aggregate function, add `AggregateUDFImpl::is_null`
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-aggregate-common/src/aggregate.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr-functions-aggregate/src/aggregate.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/utils.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/count_star_rule.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, functions

#12083 minor: Remove unused create_row_hashes
  datafusion/common/src/hash_utils.rs
Labels: common

#11977 Use `schema_name` to create the `physical_name`
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/physical-expr-functions-aggregate/src/aggregate.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: logical-expr, physical-expr, core

#12026 Add new user doc to translate logical plan to physical plan
  datafusion/core/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  docs/source/library-user-guide/building-logical-plans.md
Labels: documentation, logical-expr, core

#12070 Improve rpad udf by using a GenericStringBuilder
  datafusion/functions/benches/pad.rs
  datafusion/functions/src/unicode/rpad.rs
Labels: functions

#12081 Remove vestigal `datafusion-docs` module compilation
  Cargo.toml
  docs/Cargo.toml
  docs/src/lib.rs
  docs/src/library_logical_plan.rs
Labels: documentation

#12100 Add test to verify count aggregate function should not be nullable
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#12047 Minor: Extract `BatchCoalescer` to its own module
  datafusion/physical-plan/src/coalesce/mod.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/lib.rs
Labels: physical-expr

#12087 Add Utf8View support to STRPOS function
  datafusion/functions/src/unicode/strpos.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12046 Fix wildcard expansion for `HAVING` clause
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, logical-expr, optimizer, sqllogictest

#12107 fix: ser/de fetch in CoalesceBatchesExec
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#12040 Convert LogicalPlanBuilder to use Arc<LogicalPlan>
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#12027 Improve documentation on `StringArrayType` trait
  datafusion/functions/src/string/common.rs
Labels: functions

#11597 feat: use Substrait's PrecisionTimestamp and PrecisionTimestampTz instead of deprecated Timestamp
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/variation_const.rs
Labels: substrait

#12093 Improve split_part udf by using a GenericStringBuilder
  datafusion/functions/src/string/split_part.rs
Labels: functions

#12098 fix: UDF, UDAF, UDWF with_alias(..) should wrap the inner function fully
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#12111 Add benchmark for SUBSTR to evaluate improvements using StringView
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/substr.rs
Labels: functions

#12086 Fix thread panic when "unreachable" SpawnedTask code is reachable.
  datafusion-cli/Cargo.lock
  datafusion/common-runtime/Cargo.toml
  datafusion/common-runtime/src/common.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/error.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/stream.rs
Labels: core, common

#12109 fix: single partition in SortPreservingMergeExec don't take fetch
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
Labels: physical-expr

#12128 Improve `CombinePartialFinalAggregate` code readability
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
Labels: core
