Repository apache/datafusion, pull requests merged in 2024-07, with the labels that each got.

#11187 Support Time Parquet Data Page Statistics
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11163 fix: Support Substrait's compound names also for window functions
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/testdata/test_plans/non_nullable_lists.substrait.json
  datafusion/substrait/tests/testdata/test_plans/select_not_bool.substrait.json
  datafusion/substrait/tests/testdata/test_plans/select_window.substrait.json
Labels: substrait

#11195 Adds support for Dictionary data type statistics from parquet data pages.
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11180 Introduce user defined SQL planner API
  datafusion-cli/Cargo.lock
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/planner.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/planner.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#11001 Consolidate `Filter::remove_aliases` into `Expr::unalias_nested`
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
Labels: api change, logical-expr, optimizer

#11205 Make statistics_from_parquet_meta a sync function
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#11208 Allow user defined SQL planners to be registered
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/user_defined/mod.rs
  datafusion/core/tests/user_defined/user_defined_sql_planner.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/registry.rs
  datafusion/functions-array/src/planner.rs
Labels: logical-expr, core

#11062 Recursive `unnest`
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/tree_node.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, sqllogictest

#11178 Document how to test examples in user guide, add some more coverage
  datafusion/core/src/lib.rs
  docs/source/contributor-guide/testing.md
  docs/source/user-guide/expressions.md
Labels: core

#11183 Minor: Move MemoryCatalog*Provider into a module, improve comments
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/catalog/memory.rs
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/lib.rs
Labels: core

#11226 Fix docs wordings
  datafusion/core/src/dataframe/mod.rs
  docs/source/user-guide/introduction.md
Labels: documentation, core

#11088 Add standalone example of using the SQL frontend
  datafusion-examples/README.md
  datafusion-examples/examples/sql_frontend.rs
  datafusion/expr/src/table_source.rs
Labels: logical-expr

#11196 Add Optimizer Sanity Checker, improve sortedness equivalence properties
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/core/tests/sql/joins.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#11203 fix: Incorrect LEFT JOIN evaluation result on OR conditions
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: optimizer, sqllogictest

#11215 Implement user defined planner for extract
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/planner.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/planner.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, core

#11217 Move basic SQL query examples to user guide
  datafusion-examples/README.md
  datafusion-examples/examples/avro_sql.rs
  datafusion-examples/examples/csv_sql.rs
  datafusion-examples/examples/parquet_sql.rs
  datafusion/core/src/lib.rs
  docs/source/library-user-guide/using-the-sql-api.md
  docs/source/user-guide/example-usage.md
Labels: core

#11200 Support FixedSizedBinaryArray Parquet Data Page Statistics
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11224 Implement ScalarValue::Map
  datafusion/common/src/scalar/mod.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11199 fix: Be more lenient in interpreting input args for builtin window functions
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#11209 Minor: Improve documentation about pushdown join predicates
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#11236 Minor: clean up data page statistics tests and fix bugs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11257 Replacing pattern matching through downcast with trait method
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-expr

#11197 Enhance short circuit handling in `CommonSubexprEliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#10950 Add bench for data page statistics parquet extraction
  datafusion/core/benches/parquet_statistic.rs
Labels: core

#11253 Register SQL planners in `SessionState` constructor
  datafusion/core/src/execution/session_state.rs
Labels: core

#11238 Enable `clone_on_ref_ptr` clippy lint on expr crate
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr

#11211 Optimize PushDownFilter to avoid recreating schema columns
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#11085 Remove outdated `rewrite_expr.rs` example
  datafusion-examples/README.md
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/optimizer/README.md
  docs/source/library-user-guide/working-with-exprs.md
Labels: optimizer

#11234 Implement TPCH substrait integration teset, support tpch_2
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch/nation.csv
  datafusion/substrait/tests/testdata/tpch/part.csv
  datafusion/substrait/tests/testdata/tpch/partsupp.csv
  datafusion/substrait/tests/testdata/tpch/region.csv
  datafusion/substrait/tests/testdata/tpch/supplier.csv
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_2.json
Labels: substrait

#11240 Enable `clone_on_ref_ptr` clippy lint on physical-expr crate
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/partitioning.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr

#11267 minor: format `Expr::get_type()`
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#11232 Fix hash join for nested types
  datafusion/expr/src/utils.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: logical-expr, sqllogictest

#11256 Infer count() aggregation is not null
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: logical-expr, optimizer, core

#11293 Fix count() docs around including null values
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation

#11292 Remove unnecessary qualified names
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/physical-expr-common/src/binary_map.rs
  datafusion/physical-expr-common/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr

#11277 feat: enable "substring" as a UDF in addition to "substr"
  datafusion/functions/src/unicode/substr.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: substrait

#11278 fix: correctly handle Substrait windows with rows bounds (and validate executability of test plans)
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/data.csv
Labels: substrait

#11283 Minor: Add `ConstExpr::from` and use in physical optimizer
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: physical-expr, core

#11298 Implement TPCH substrait integration teset, support tpch_3
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch/customer.csv
  datafusion/substrait/tests/testdata/tpch/orders.csv
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_3.json
Labels: substrait

#11243 Implement user defined planner for position
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/planner.rs
  datafusion/functions/src/unicode/mod.rs
  datafusion/functions/src/unicode/planner.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, core

#11302 Upgrade to arrow 52.1.0 (and fix clippy issues on main)
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/datetime/date_bin.rs
Labels: logical-expr

#11296 Add user_defined_sql_planners(..) to FunctionRegistry
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/registry.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
Labels: logical-expr, core

#11297 use safe cast in propagate_constraints
  datafusion/physical-expr-common/src/expressions/cast.rs
  datafusion/sqllogictest/test_files/cast.slt
Labels: sqllogictest

#11315 Minor: Remove clone in optimizer
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
Labels: optimizer

#11295 Fix data page statistics when all rows are null in a data page
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11318 Made UserDefinedFunctionPlanner to uniform the usages
  datafusion/core/src/execution/session_state.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/planner.rs
  datafusion/functions/src/unicode/mod.rs
  datafusion/functions/src/unicode/planner.rs
Labels: core

#11273 Implement user defined planner for `create_struct` & `create_named_struct`
  datafusion/expr/src/planner.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/planner.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr

#11319 Improve stats convert performance for Binary/String/Boolean arrays
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
Labels: core

#11331 Minor: Fix Failing TPC-DS Test
  datafusion/core/benches/sql_planner.rs
Labels: core

#11276 HashJoin can preserve the right ordering when join type is Right
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#11326 Support to uparse logical plans with timestamp cast to string
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11327 Implement user defined planner for sql_substring_to_expr
  datafusion/expr/src/planner.rs
  datafusion/functions/src/planner.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/substring.rs
Labels: sql, logical-expr

#11265 Improve volatile expression handling in `CommonSubexprEliminate`
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/cse.slt
Labels: logical-expr, optimizer, sqllogictest

#11321 Support `IS NULL` and `IS NOT NULL` on Unions
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
Labels: physical-expr, core

#11287 Convert `nth_value` to UDAF
  datafusion-cli/Cargo.lock
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/planner.rs
  datafusion/physical-expr-common/src/aggregate/merge_arrays.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
Labels: sql, logical-expr, physical-expr, sqllogictest

#11311 Implement TPCH substrait integration test, support tpch_4 and tpch_5
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_4.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_5.json
Labels: substrait

#11329 fix: When consuming Substrait, temporarily rename clashing duplicate columns
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#11307 Remove any aliases in `Filter::try_new` rather than erroring
  datafusion/core/tests/user_defined/user_defined_sql_planner.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#11324 Improve `DataFrame` Users Guide
  datafusion/core/src/lib.rs
  docs/source/user-guide/dataframe.md
Labels: core

#11338 chore: Rename UserDefinedSQLPlanner to ExprPlanner
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/user_defined/expr_planner.rs
  datafusion/core/tests/user_defined/mod.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/registry.rs
  datafusion/functions-array/src/planner.rs
  datafusion/functions/src/core/planner.rs
  datafusion/functions/src/planner.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#11341 Revert "remove `derive(Copy)` from `Operator` (#11132)"
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/expr/src/operator.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr-common/src/datum.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/utils.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: logical-expr, physical-expr, optimizer, core, substrait

#11266 Support `NULL` literals in where clause
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/sqllogictest/test_files/misc.slt
Labels: logical-expr, sqllogictest

#11356 Minor: Add link to blog to main DataFusion website
  docs/source/index.rst
Labels: documentation

#11349 Implement TPCH substrait integration test, support tpch_6, tpch_10, t…
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_10.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_11.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_6.json
Labels: substrait

#11333 Fix bug when pushing projection under joins
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: core, sqllogictest

#11290 Improve and test dataframe API examples in docs
  datafusion-examples/README.md
  datafusion/core/src/lib.rs
  docs/source/library-user-guide/using-the-dataframe-api.md
  docs/source/library-user-guide/using-the-sql-api.md
Labels: core

#11340 Remove redundant `unalias_nested` calls for creating Filter's
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: logical-expr, optimizer

#11346 Enable `clone_on_ref_ptr` clippy lint on optimizer
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/plan_signature.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#11345 Track parquet writer encoding memory usage on MemoryPool
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
Labels: core

#11337 Minor: remove clones and unnecessary Arcs in `from_substrait_rex`
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#11394 Minor: Change no-statement error message to be clearer
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/sql/sql_api.rs
Labels: core

#11391 Minor: return "not supported" for `COUNT DISTINCT` with multiple arguments
  datafusion/functions-aggregate/src/count.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#11380 Enable `clone_on_ref_ptr` clippy lint on sql
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/cte.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/common/mod.rs
Labels: sql

#11300 Move configuration information out of example usage page
  datafusion/core/src/lib.rs
  docs/source/index.rst
  docs/source/library-user-guide/index.md
  docs/source/user-guide/crate-configuration.md
  docs/source/user-guide/example-usage.md
Labels: core

#11396 chore: reuse a single function to create the Substrait TPCH consumer test contexts
  datafusion/substrait/tests/cases/consumer_integration.rs
Labels: substrait

#11411 refactor: change error type for "no statement"
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/sql/sql_api.rs
Labels: core

#11347 feat: add UDF to_local_time()
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#11186 Implement prettier SQL unparsing (more human readable)
  datafusion-examples/examples/parse_sql_expr.rs
  datafusion-examples/examples/plan_to_sql.rs
  datafusion/expr/src/operator.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql, logical-expr

#11401 Add `to_local_time()` in function reference docs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#11398 Move `overlay` planning to`ExprPlanner`
  datafusion/expr/src/planner.rs
  datafusion/functions/src/core/planner.rs
  datafusion/functions/src/string/mod.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr

#11386 Coerce types for all union children plans when eliminating nesting
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/sqllogictest/test_files/union.slt
Labels: optimizer, sqllogictest

#11392 Add customizable equality and hash functions to UDFs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr, core

#11357 Improve `CommonSubexprEliminate` rule with surely and conditionally evaluated stats
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/sqllogictest/test_files/cse.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
Labels: logical-expr, optimizer, sqllogictest

#11399 fix(11397): surface proper errors in ParquetSink
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/tests/memory_limit/mod.rs
Labels: core

#11395 Improved unparser documentation
  datafusion/sql/src/lib.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/src/unparser/plan.rs
Labels: sql

#11426 Combine the Roadmap / Quarterly Roadmap sections
  docs/source/contributor-guide/quarterly_roadmap.md
  docs/source/contributor-guide/roadmap.md
  docs/source/index.rst
Labels: documentation

#11415 Avoid calling shutdown after failed write of AsyncWrite
  datafusion/core/src/datasource/file_format/write/orchestration.rs
Labels: core

#11261 Short term way to make `AggregateStatistics` still work when min/max is converted to udaf
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
Labels: core

#11405 Implement TPCH substrait integration test, support tpch_13, tpch_14,16
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_13.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_14.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_16.json
Labels: substrait

#11446 Minor: change internal error to not supported error for nested field …
  datafusion/sql/src/expr/identifier.rs
Labels: sql

#11439 Minor: change Datafusion --> DataFusion in docs
  datafusion-examples/README.md
  datafusion-examples/examples/expr_api.rs
  datafusion/common/src/config.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/signature.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sqllogictest/README.md
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/window.slt
  docs/source/contributor-guide/inviting.md
  docs/source/user-guide/configs.md
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest

#11423 fix: make sure JOIN ON expression is boolean type
  datafusion/core/src/dataframe/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: optimizer, core, sqllogictest

#11450 Minor: Add an example for backtrace pretty print
  docs/source/user-guide/crate-configuration.md
Labels: documentation

#11403 Add SessionStateBuilder and extract out the registration of defaults
  datafusion-cli/src/catalog.rs
  datafusion-examples/examples/custom_file_format.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/sql/create_drop.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: core, substrait

#11462 integrate consumer tests, implement tpch query 18 to 22
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_18.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_19.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_20.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_21.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_22.json
Labels: substrait

#11461 Return scalar result when all inputs are constants in `map` and `make_map`
  datafusion/common/src/scalar/mod.rs
  datafusion/functions/src/core/map.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: optimizer, sqllogictest

#11459 fix: `regexp_replace` fails when pattern or replacement is a scalar `NULL`
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: sqllogictest

#11425 Docs: Document creating new extension APIs
  datafusion/core/src/lib.rs
  docs/source/contributor-guide/architecture.md
Labels: documentation, core

#11481 Minor: rename `row_groups.rs` to `row_group_filter.rs`
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
Labels: core

#11466 Support alternate formats for unparsing `datetime` to `timestamp` and `interval`
  datafusion-examples/examples/plan_to_sql.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11482 chore: Add criterion benchmark for CaseExpr
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/case_when.rs
Labels: physical-expr

#11402 Initial support for `StringView`, merge changes from `string-view` development branch
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/sqllogictest/test_files/binary_view.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: logical-expr, optimizer, sqllogictest

#11486 Replace to_lowercase with to_string in sql example
  datafusion/sql/examples/sql.rs
Labels: sql

#11471 feat: switch to using proper Substrait types for IntervalYearMonth and IntervalDayTime
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#11453 upgrade sqlparser 0.47 -> 0.48
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/coalesce.slt
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/encoding.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/misc.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/strings.slt
  datafusion/sqllogictest/test_files/struct.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/unnest.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, sqllogictest

#11489 feat: support UDWFs in Substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#11469 feat: support `unnest` in GROUP BY clause
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, sqllogictest

#11447 Remove element's nullability of array_agg function
  datafusion/core/tests/sql/aggregates.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-expr, core

#11485 Get expr planners when creating new planner
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/planner.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/substring.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/planner.rs
Labels: sql, logical-expr, core

#11494 Support alternate format for Utf8 unparsing (CHAR)
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11520 chore: fix typos of common and core packages
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/schema.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
Labels: core

#11491 Move handlign of NULL literals in where clause to type coercion pass
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-plan/src/filter.rs
Labels: optimizer

#11511 Minor: Clarify which parquet options are used for reading/writing
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation

#11535 Enable SortMergeJoin LeftAnti filtered fuzz tests
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#11538 chore: fix typos of expr, functions, optimizer, physical-expr-common,…
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/partition_evaluator.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/type_coercion/mod.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-array/src/remove.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/optimize_projections/required_indices.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr-common/src/aggregate/groups_accumulator/accumulate.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr-common/src/binary_map.rs
  datafusion/physical-expr-common/src/expressions/column.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/adapter.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/analyze.rs
  datafusion/physical-plan/src/display.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/test/exec.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/physical-plan/src/work_table.rs
Labels: logical-expr, physical-expr, optimizer

#11532 Minor: Remove clone in `PushDownFilter`
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#11530 Minor: avoid a clone in type coercion
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/misc.slt
Labels: optimizer, sqllogictest

#11448 Move array `ArrayAgg` to a `UserDefinedAggregate`
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-array/src/planner.rs
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/no_grouping.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#11514 Add a config to force using string view in benchmark
  Cargo.toml
  benchmarks/src/clickbench.rs
  benchmarks/src/tpch/run.rs
  benchmarks/src/util/options.rs
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest

#11517 Add String view helper functions
  datafusion/common/src/cast.rs
  datafusion/common/src/hash_utils.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: physical-expr

#11510 feat: consume and produce Substrait type extensions
  datafusion/substrait/src/extensions.rs
  datafusion/substrait/src/lib.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/variation_const.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#11504 make unparser `Dialect` trait `Send` + `Sync`
  datafusion/sql/src/unparser/dialect.rs
Labels: api change, sql

#11505 fix: unparser generates wrong sql for derived table with columns
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#11508 Prevent bigger files from being checked in
  .github/workflows/large_files.yml
Labels: development-process

#11536 fix: make `UnKnownColumn`s not equal to others physical exprs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/union.slt
Labels: physical-expr, sqllogictest

#11495 Add dialect param to use double precision for float64 in Postgres
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11566 Minor: move `SessionStateDefaults` into its own module
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/execution/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/execution/session_state_defaults.rs
Labels: core

#11559 fix: fixes trig function order by
  datafusion/common/src/scalar/mod.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#11539 refactor: rewrite mega type to an enum containing both cases
  datafusion/core/src/datasource/file_format/write/orchestration.rs
Labels: core

#11487 Move `sql_compound_identifier_to_expr ` to `ExprPlanner`
  datafusion/expr/src/planner.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/planner.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr

#11533 Support `newlines_in_values` CSV option
  .gitattributes
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/data/newlines_in_values.csv
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest

#11218 Support SortMergeJoin spilling
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/spill.rs
Labels: core

#11527 Fix unparser invalid sql for query with order
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#11576 chore: Minor cleanup `simplify_demo()` example
  datafusion-examples/examples/expr_api.rs
Labels: documentation

#11563 Move Datafusion Query Optimizer to library user guide
  datafusion/optimizer/README.md
  docs/source/index.rst
  docs/source/library-user-guide/query-optimizer.md
Labels: documentation, optimizer

#11542 fix: CASE with NULL
  datafusion/expr/src/expr_schema.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, sqllogictest

#11560 Provide DataFrame API for `map` and move `map` to `functions-array`
  datafusion/core/Cargo.toml
  datafusion/core/benches/map_query_sql.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/functions-array/benches/map.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/map.rs
  datafusion/functions-array/src/planner.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/map.rs
  datafusion/functions/src/core/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: core

#11579 Move OutputRequirements to datafusion-physical-optimizer crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/output_requirements.rs
Labels: core

#11573 Minor: move `Column` related tests and rename `column.rs`
  datafusion/physical-expr-common/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/unknown_column.rs
Labels: physical-expr

#11553 feat: Optimize CASE expression for usage where then and else values are literals
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: performance, physical-expr, sqllogictest

#11506 Improve Union Equivalence Propagation
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: physical-expr, sqllogictest

#11564 Migrate `OrderSensitiveArrayAgg` to be a user defined aggregate
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/expr/src/function.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr-common/src/utils.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: logical-expr, physical-expr, core

#11608 Minor:Disable flaky SMJ antijoin filtered test until the fix
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#11616 Chore/fifo tests cleanup
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/tests/fifo/mod.rs
Labels: core

#11612 Fix typo in doc of Partitioning
  datafusion/physical-expr/src/partitioning.rs
Labels: documentation, physical-expr

#11547 feat: support Map literals in Substrait consumer and producer
  datafusion/common/src/hash_utils.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/sqllogictest/test_files/map.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sqllogictest, substrait

#11578 Fix Internal Error for an INNER JOIN query
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: logical-expr, sqllogictest

#11575 test: get file size by func metadata
  datafusion/core/src/datasource/file_format/csv.rs
Labels: core

#11620 Doc: A tiny typo in scalar function's doc
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#11589 Improve unparser MySQL compatibility
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql
