Repository apache/datafusion, pull requests merged in 2024-06, with the labels that each got.

#10714 Introduce FunctionRegistry dependency to optimize and rewrite rule
  datafusion-cli/Cargo.lock
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/lib.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/registry.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/sqllogictest/test_files/distinct_on.slt
Labels: logical-expr, optimizer, core, sqllogictest

#10727 Minor: Split physical_plan/parquet/mod.rs into smaller modules
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/reader.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/writer.rs
Labels: core

#10736 minor: consolidate unparser integration tests
  datafusion/sql/tests/cases/mod.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#10750 Minor: Move aggregate variance to slt
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10760 fix: fix string repeat for negative numbers
  datafusion/functions/src/string/repeat.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest

#10729 Minor: Add tests for extracting dictionary parquet statistics
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10748 Minor: Refactor memory size estimation for HashTable
  datafusion/common/src/utils/memory.rs
  datafusion/common/src/utils/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/native.rs
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#10767 feat: support unparsing LogicalPlan::Window nodes
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#10762 Extract parquet statistics from `LargeUtf8` columns and Add tests for `UTF8` And `LargeUTF8`
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10769 Cleanup GetIndexedField
  datafusion/expr/src/expr.rs
  datafusion/expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
Labels: logical-expr

#10763 Extract parquet statistics from f16 columns, add `ScalarValue::Float16`
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql, core

#10786 Handle empty rows for `array_sort`
  datafusion/functions-array/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#10775 Fix extract parquet statistics from LargeBinary columns
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10771 Extract parquet statistics from Time32 and Time64 columns
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10783 chore: fix `last_value` coercion
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#10788 minor: Refactor some unparser methods to improve readability
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
Labels: sql

#10713 Convert variance sample to udaf
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: logical-expr, physical-expr, sqllogictest

#10798 Improve docs and fix a typo
  datafusion/execution/src/task.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/udf.rs
Labels: logical-expr

#10804 fix: `array_slice` and `array_element` panicked on empty args
  datafusion/functions-array/src/extract.rs
  datafusion/functions-array/src/utils.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#10711 Avoid the usage of intermediate ScalarValue to improve performance of extracting statistics from parquet files
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10784 SMJ: Add more tests and improve comments
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest

#10716 feat: Update Parquet row filtering to handle type coercion
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/schema_adapter.rs
Labels: core

#10803 Handle EmptyRelation during SQL unparsing
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#10794 Split `SessionState` into its own module
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/mod.rs
  datafusion/core/src/execution/session_state.rs
Labels: core

#10600 Add `StreamProvider` for configuring `StreamTable`
  datafusion-examples/Cargo.toml
  datafusion-examples/README.md
  datafusion-examples/examples/file_stream_provider.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/fifo/mod.rs
  datafusion/core/tests/sql/joins.rs
Labels: core

#10738 Add `ParquetAccessPlan`, unify RowGroup selection and PagePruning selection
  datafusion/core/src/datasource/physical_plan/parquet/access_plan.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
Labels: core

#10810 Fix `ScalarUDFImpl::propagate_constraints` doc
  datafusion/expr/src/udf.rs
  datafusion/physical-expr-common/src/physical_expr.rs
Labels: logical-expr

#10801 Extract Parquet statistics from `Interval` column
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10392 build(deps): upgrade sqlparser to 0.47.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/tests/cli_integration.rs
  datafusion-examples/examples/function_factory.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/json_access.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/errors.slt
Labels: sql, logical-expr, core, sqllogictest

#10811 Refactor and simplify the SQL unparser
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/plan.rs
Labels: sql

#10765 build(deps): update Arrow/Parquet to `52.0`, object-store to `0.10`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/examples/json_opener.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/hash_utils.rs
  datafusion/common/src/pyarrow.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/sql_query_with_io.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/path_partition.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/interval_arithmetic.rs
  datafusion/functions-array/src/range.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/utils.rs
  datafusion/physical-plan/src/aggregates/group_values/primitive.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/topk/hash_table.rs
  datafusion/physical-plan/src/aggregates/topk/heap.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/set_variable.slt
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#10627 fix: use total ordering in the min & max accumulator for floats
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: physical-expr

#10816 Remove expr_fn::sum and replace them with function stub
  datafusion-cli/Cargo.lock
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/test/function_stub.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, optimizer, sqllogictest

#10818 Debug print as many fields as possible for `SessionState`
  datafusion/core/src/execution/session_state.rs
Labels: core

#10802 Prune Parquet RowGroup in a single call to `PruningPredicate::prune`, update StatisticsExtractor API
  datafusion-examples/examples/parquet_index.rs
  datafusion/core/benches/parquet_statistic.rs
  datafusion/core/src/datasource/physical_plan/parquet/metrics.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#10834 Convert `stddev` and `stddev_pop` to UDAF
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#10560 Introduce expr builder for aggregate function
  datafusion-examples/examples/expr_api.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/macros.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/expressions.md
Labels: logical-expr, optimizer, core

#10813 Support user defined `ParquetAccessPlan` in `ParquetExec`, validation to `ParquetAccessPlan::select`
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/access_plan.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/tests/parquet/external_access_plan.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/utils.rs
  datafusion/core/tests/parquet_exec.rs
Labels: core

#10836 Convert `VariancePopulation` to UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, sqllogictest

#10840 Convert `approx_median` to UDAF
  datafusion-cli/Cargo.lock
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr-common/src/aggregate/tdigest.rs
  datafusion/physical-expr/src/aggregate/approx_median.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/approx_percentile_cont_with_weight.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#10833 fix: Support double quotes in `date_part`
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest

#10850 Minor: add `Window::try_new_with_schema` constructor
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#10467 Add support for reading CSV files with comments
  datafusion-examples/examples/csv_opener.rs
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: core, sqllogictest

#10860 Minor: Update SIGMOD paper reference url
  datafusion/core/src/lib.rs
Labels: documentation, core

#10859 Add missing code close tick in LiteralGuarantee docs
  datafusion/physical-expr/src/utils/guarantee.rs
Labels: documentation, physical-expr

#10842 Implement TPCH substrait integration teset, support tpch_1
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/testdata/tpch/lineitem.csv
  datafusion/substrait/tests/testdata/tpch_substrait_plans/README.md
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_1.json
Labels: substrait

#10867 chore: Make DFSchema::datatype_is_logically_equal function public
  datafusion/common/src/dfschema.rs
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#10829 Support correct output column names and struct field names when consuming/producing Substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#10854 Minor: Improve `ListingTable` documentation
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#10728 Extending join fuzz tests to support join filtering
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10885 replace and(*, not(*)) with and_not(*)
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr

#10887 Disabling test for semi join with filters
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10866 Minor: Update `min_statistics` and `max_statistics` to be helpers, update docs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
Labels: core

#10888 Remove `Interval` column test // parquet extraction
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10874 fix: Ignore nullability of list elements when consuming Substrait
  datafusion/common/src/utils/mod.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/testdata/non_nullable_lists.substrait.json
Labels: substrait

#10891 Minor: SMJ fuzz tests fix for rowcounts
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10880 refactor: fetch statistics for a given ParquetMetaData
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#10896 Refine ParquetAccessPlan comments and tests
  datafusion/core/src/datasource/physical_plan/parquet/access_plan.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
Labels: core

#10903 ci: fix clippy failures on main
  datafusion/expr/src/utils.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: logical-expr, physical-expr

#10904 Minor: disable flaky fuzz test
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10893 Remove builtin count
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/eliminate_group_by_constant.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: sql, logical-expr, physical-expr, optimizer, sqllogictest

#10898 Move Regr_* functions to use UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/macros.rs
  datafusion/functions-aggregate/src/regr.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/errors.slt
Labels: logical-expr, physical-expr, sqllogictest

#10273 Support explicit type and name during table creation
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sql, sqllogictest

#10911 Simplify Join Partition Rules
  datafusion/core/src/dataframe/mod.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: core

#10910 Move `Literal` to `physical-expr-common`
  datafusion/physical-expr-common/src/expressions/literal.rs
  datafusion/physical-expr-common/src/expressions/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: physical-expr

#10916 chore: update some error messages for clarity
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, sqllogictest

#10852 Initial Extract parquet data page statistics API
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10879 Add contains function, and support in datafusion substrait consumer
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/mod.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/testdata/contains_plan.substrait.json
  docs/source/user-guide/sql/scalar_functions.md
Labels: sqllogictest, substrait

#10927 Minor: Improve `arrow_statistics` tests
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10932 chore: Improve performance of Parquet statistics conversion
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
Labels: core

#10876 Add catalog::resolve_table_references
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: core, sqllogictest

#10931 feat: Add support for Int8 and Int16 data types in data page statistics
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10930 Convert BitAnd, BitOr, BitXor to UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#10946 Fix: StatisticsConverter `counts` for missing columns
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10925 Add initial support for Utf8View and BinaryView types
  datafusion/common/src/scalar/mod.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sql, sqllogictest

#10936 fix: Support `NOT <field> IN (<subquery>)` via anti join
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#10954 fix: CTEs defined in a subquery can escape their scope
  datafusion/sql/src/cte.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: sql, sqllogictest

#10939 Use shorter aliases in CSE
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#10892 fix: Fix the incorrect null joined rows for SMJ outer join with join filter
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest

#10966 Update `string-view` branch to arrow-rs main
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/datetime/date_bin.rs
Labels: logical-expr

#10949 Substrait support for ParquetExec round trip for simple select
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/src/physical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/tests/testdata/Readme.md
  datafusion/substrait/tests/testdata/data.parquet
  datafusion/substrait/tests/testdata/empty.parquet
Labels: substrait

#10945 Convert `StringAgg` to UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/string_agg.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, sqllogictest

#10973 Minor: Return option from row_group_row_count
  datafusion-examples/examples/parquet_index.rs
  datafusion/core/benches/parquet_statistic.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10970 Minor: Add routine to debug join fuzz tests
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10984 Support to unparse `ScalarValue::TimestampNanosecond` to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10977 feat(optimizer): handle partial anchored regex cases and improve doc
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
Labels: optimizer

#10974 Push down filter for Unnest plan
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/push_down_filter.slt
Labels: optimizer, sqllogictest

#10985 feat: Implement equality = and inequality <> support for StringView
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: logical-expr, sqllogictest

#10982 Add parquet page stats for float{16, 32, 64}
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10835 Stop copying LogicalPlan and Exprs in `CommonSubexprEliminate` (2-3% planning speed improvement)
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: logical-expr, optimizer

#10997 Add more StringView comparison test coverage
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#11002 chore: Update documentation link in `PhysicalOptimizerRule` comment
  datafusion/core/src/physical_optimizer/optimizer.rs
Labels: core

#10991 Push down filter plan for unnest on non-unnest column only
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/push_down_filter.slt
Labels: optimizer, sqllogictest

#11017 Minor: add test for pushdown past unnest
  datafusion/sqllogictest/test_files/push_down_filter.slt
Labels: sqllogictest

#11004 feat: Implement equality = and inequality <> support for BinaryView
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/binary_view.slt
Labels: logical-expr, sqllogictest

#11009 Convert `bool_and` & `bool_or` to UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/physical-expr/src/aggregate/bool_and_or.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/mod.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#11018 feat: support uint data page extraction
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10992 propagate error instead of panicking on out of bounds in physical-expr/src/analysis.rs
  datafusion/physical-expr/src/analysis.rs
Labels: physical-expr

#11003 Minor: Add more docs and examples for `Transformed` and `TransformedResult`
  datafusion/common/src/tree_node.rs
Labels: documentation

#10963 feat: propagate EmptyRelation for more join types
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, core, sqllogictest

#11010 Add drop_columns to dataframe api
  datafusion/core/src/dataframe/mod.rs
  docs/source/user-guide/dataframe.md
Labels: core

#11019 Push down filter plan for non-unnest column
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/push_down_filter.slt
Labels: logical-expr, optimizer, sqllogictest

#10960 Consider timezones with `UTC` and `+00:00` to be the same
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, sqllogictest

#11034 Implement support for LargeString and LargeBinary for StringView and BinaryView
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/binary_view.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: logical-expr, sqllogictest

#11022 Deprecate `OptimizerRule::try_optimize`
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer, core

#10913 Relax combine partial final rule
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: core, sqllogictest

#11036 Compute gcd with u64 instead of i64 because of overflows
  datafusion/functions/src/math/gcd.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#11012 Add distinct_on to dataframe api
  datafusion/core/src/dataframe/mod.rs
  docs/source/user-guide/dataframe.md
Labels: core

#11056 chore: add test to show current behavior of `AT TIME ZONE` for string vs. timestamp
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#11054 Boolean parquet get datapage stat
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11020 Using display_name for Expr::Aggregation
  datafusion/core/src/physical_planner.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: core, sqllogictest

#11028 Minor: Convert `Count`'s name to lowercase
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/execution/context/csv.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/path_partition.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/eliminate_group_by_constant.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/json.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/optimizer_group_by_constant.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sql, optimizer, core, sqllogictest, substrait

#11061 Minor: Move `function::Hint` to `datafusion-expr` crate to avoid physical-expr dependency for `datafusion-function` crate
  datafusion-cli/Cargo.lock
  datafusion/expr/src/function.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/utils.rs
  datafusion/physical-expr/src/functions.rs
Labels: logical-expr, physical-expr

#11046 Support to unparse ScalarValue::TimestampMillisecond to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11065 Support to unparse IntervalYearMonth and IntervalDayTime to String
  datafusion/expr/src/expr_fn.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql, logical-expr

#10849 feat: Add method to add analyzer rules to SessionContext
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
Labels: core

#11041 SMJ: fix streaming row concurrency issue for LEFT SEMI filtered join
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: core

#10701 Add `advanced_parquet_index.rs` example of index in into parquet files
  datafusion-examples/README.md
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion/common/src/column.rs
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/physical_plan/parquet/access_plan.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#10948 Add Expr::column_refs to find column references without copying
  datafusion/expr/src/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimize_projections/required_indices.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, optimizer

#11059 Give `OptimizerRule::try_optimize` default implementation and cleanup duplicated custom implementations
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_group_by_constant.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer, core

#10912 Fix `FormatOptions::CSV` propagation
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/csv_writer.rs
  datafusion/core/tests/data/double_quote.csv
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: core, sqllogictest

#10995 Support parsing SQL strings to Exprs
  datafusion-examples/README.md
  datafusion-examples/examples/parse_sql_expr.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/core/tests/expr_api/parse_sql_expr.rs
  datafusion/sql/src/parser.rs
Labels: sql, core

#10908 Support dictionary data type in array_to_string
  datafusion/functions-array/src/string.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#11015 Implement min/max for interval types
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10964 Convert Average to UDAF #10942
  datafusion-examples/examples/dataframe_subquery.rs
  datafusion-examples/examples/simplify_udaf_expression.rs
  datafusion-examples/examples/simplify_udwf_expression.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/groups_accumulator/mod.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/optimizer_group_by_constant.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q17.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#11047 fix: remove the Sized requirement on ExecutionPlan::name()
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/test/exec.rs
Labels: api change, core

#11058 Improve LIKE performance for Dictionary arrays
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: physical-expr, optimizer, sqllogictest

#11057 handle overflow in gcd and return this as an error
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: sqllogictest

#11064 Convert Correlation to UDAF
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/correlation.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/stddev.rs
  datafusion/physical-expr/src/aggregate/variance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#11067 Migrate more code from `Expr::to_columns` to `Expr::column_refs`
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer, core

#11086 Minor: Examples cleanup + more docs in pruning example
  datafusion-examples/README.md
  datafusion-examples/examples/pruning.rs
Labels: documentation

#11049 feat: Support duplicate column names in Joins in Substrait consumer
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#11092 decimal support for unparser
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10473 Improve `CommonSubexprEliminate` identifier management (10% faster planning)
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/common/src/hash_utils.rs
  datafusion/core/Cargo.toml
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: logical-expr, optimizer, core, substrait

#11073 Change wildcard qualifier type from `String` to `TableReference`
  datafusion/expr/src/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/select.rs
Labels: sql, logical-expr

#11071 Allow access to UDTF in `SessionContext`
  datafusion/core/src/datasource/function.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/user_defined/user_defined_table_functions.rs
Labels: core

#11082 Strip table qualifiers from schema in `UNION ALL` for unparser
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#11068 Update ListingTable to use StatisticsConverter
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#11101 Rewrite array operator to function in parser
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, core

#11066 Resolve empty relation opt for join types
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#11110 Minor: refine documentation pointing to examples
  datafusion-examples/README.md
  docs/source/index.rst
Labels: documentation

#11115 Deprecate Expr::column_refs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#11103 Return `&Arc` reference to inner trait object
  datafusion-cli/src/catalog.rs
  datafusion-cli/src/main.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: api change, logical-expr, core

#11109 Minor: Add Architectural Goals to the docs
  datafusion/core/src/lib.rs
Labels: core

#11099 fix: gcd returns negative results
  datafusion/functions/src/math/gcd.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: sqllogictest

#11124 Fix overflow in pow
  datafusion/functions/src/math/power.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: sqllogictest

#11123 feat: Add support for Timestamp data types in data page statistics.
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#11121 Support to unparse Time scalar value to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11120 Support to unparse `TimestampSecond` and `TimestampMicrosecond` to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#11043 Improve filter predicates with `Utf8View` literals
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: optimizer, sqllogictest
