Repository apache/datafusion, pull requests merged in 2024-11, with the labels that each got.

#13194 feat: support logical plan for `EXECUTE` statement
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest, proto

#13153 Support `DictionaryArray` in `OVER` clause
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: optimizer, sqllogictest

#13197 Allow testing records with sibling whitespace in SLT tests and add more string tests
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/map.slt
  datafusion/sqllogictest/test_files/pg_compat/pg_compat_types.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#13079 Use single file write when an extension is present in the path.
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#13206 Minor: make `Expr::volatile` infallible
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: api change, logical-expr, optimizer

#13127 feat(substrait): handle emit_kind when consuming Substrait plans
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/emit_kind_tests.rs
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/testdata/test_plans/emit_kind/direct_on_project.substrait.json
  datafusion/substrait/tests/testdata/test_plans/emit_kind/emit_on_filter.substrait.json
Labels: substrait

#13204 fix: date_bin() on timstamps before 1970
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, functions

#13179 Deprecate ScalarUDF::invoke and invoke_no_args for invoke_batch
  datafusion/expr/src/udf.rs
  datafusion/functions-nested/benches/map.rs
  datafusion/functions/benches/character_length.rs
  datafusion/functions/benches/concat.rs
  datafusion/functions/benches/cot.rs
  datafusion/functions/benches/date_bin.rs
  datafusion/functions/benches/encoding.rs
  datafusion/functions/benches/isnan.rs
  datafusion/functions/benches/iszero.rs
  datafusion/functions/benches/lower.rs
  datafusion/functions/benches/ltrim.rs
  datafusion/functions/benches/make_date.rs
  datafusion/functions/benches/nullif.rs
  datafusion/functions/benches/pad.rs
  datafusion/functions/benches/repeat.rs
  datafusion/functions/benches/signum.rs
  datafusion/functions/benches/strpos.rs
  datafusion/functions/benches/substr.rs
  datafusion/functions/benches/substr_index.rs
  datafusion/functions/benches/to_char.rs
  datafusion/functions/benches/to_timestamp.rs
  datafusion/functions/benches/trunc.rs
  datafusion/functions/benches/upper.rs
  datafusion/functions/src/core/version.rs
Labels: logical-expr, functions

#13128 consider volatile function in simply_expression
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
Labels: optimizer

#13209 fix: array_resize null fix
  datafusion/functions-nested/src/resize.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#13229 Revert "Improve push down filter of join (#13184)"
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt
  datafusion/sqllogictest/test_files/push_down_filter_join.slt
Labels: optimizer, sqllogictest

#13203 Derive `Clone` for more ExecutionPlans
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/empty.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/physical-plan/src/values.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
Labels: physical-expr

#12853 feat(logical-types): add NativeType and LogicalType
  datafusion/common/src/lib.rs
  datafusion/common/src/types/builtin.rs
  datafusion/common/src/types/field.rs
  datafusion/common/src/types/logical.rs
  datafusion/common/src/types/mod.rs
  datafusion/common/src/types/native.rs
Labels: common

#13173 feat(substrait): AggregateRel grouping_expressions support
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/test_plans/aggregate_no_project_group_expression_ref.substrait.json
Labels: substrait

#13187 Apply projection to `Statistics` in `FilterExec`
  datafusion/common/src/stats.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: physical-expr, sqllogictest, common

#13130 [minor] overload from_unixtime func to have optional timezone parameter
  datafusion/functions/src/datetime/from_unixtime.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#13174 Deprecate invoke and invoke_no_args in favor of invoke_batch
  datafusion/expr/src/udf.rs
  datafusion/functions/benches/random.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/datetime/from_unixtime.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/functions/src/datetime/to_unixtime.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/math/signum.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/utils.rs
Labels: logical-expr, functions

#13231 Support timestamp(n) SQL type
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sql, sqllogictest

#13245 Remove elements deprecated since v 38.
  datafusion/common/src/tree_node.rs
  datafusion/physical-plan/src/insert.rs
Labels: physical-expr, common

#13214 fix: CSV Infer Schema now properly supports escaped characters.
  datafusion/core/src/datasource/file_format/csv.rs
Labels: core

#13223 Minor: Improve documentation about `OnceAsync`
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-expr

#13236 Introduce HashMap and HashSet type aliases
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/core/src/catalog_common/listing_schema.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/execution_props.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/registry.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/regr.rs
  datafusion/functions-nested/src/except.rs
  datafusion/functions-nested/src/map.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/unicode/translate.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr-common/src/binary_view_map.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/metrics/mod.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/extensions.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait, common, execution, functions

#13258 Remove `Expr` clones from `SortExpr`s
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: logical-expr, optimizer, core

#13233 Deprecate `LexOrderingRef` and `LexRequirementRef`
  benchmarks/src/sort.rs
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/statistics.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/functions-aggregate-common/src/accumulator.rs
  datafusion/functions-aggregate-common/src/utils.rs
  datafusion/functions-aggregate/benches/count.rs
  datafusion/functions-aggregate/benches/sum.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/physical-expr-common/Cargo.toml
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr-common/src/utils.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/built_in.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/sorts/stream.rs
  datafusion/physical-plan/src/sorts/streaming_merge.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, core, proto, functions

#13225 Optimize `Statistics::projection` to avoid a clone
  datafusion/common/src/stats.rs
Labels: common

#13246 Migrate invoke_no_args to invoke_batch
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions/src/core/version.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/random.rs
  datafusion/functions/src/string/uuid.rs
Labels: logical-expr, core, functions

#13210 fix bugs explain with non-correlated query
  datafusion/common/src/display/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/explain.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/prepare.slt
  datafusion/sqllogictest/test_files/update.slt
Labels: physical-expr, core, sqllogictest, common, proto

#13241 Introduce `full_qualified_col` option for the unparser dialect
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: api change, sql

#13005 Implement `Eq`, `PartialEq`, `Hash` for `dyn PhysicalExpr`
  datafusion/core/tests/sql/path_partition.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/no_op.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/expressions/unknown_column.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, physical-expr, core, proto

#13226 feat: Add `Time`/`Interval`/`Decimal`/`Utf8View` in aggregate fuzz testing
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  datafusion/functions-aggregate/src/min_max/min_max_bytes.rs
  test-utils/src/array_gen/decimal.rs
  test-utils/src/array_gen/mod.rs
  test-utils/src/array_gen/primitive.rs
  test-utils/src/array_gen/random_data.rs
  test-utils/src/array_gen/string.rs
Labels: core, functions

#13269 minor: typo in command example for flamegraph docs
  docs/source/library-user-guide/profiling.md
Labels: documentation

#13259 Fix incorrect `... LIKE '%'` simplification with NULLs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
Labels: optimizer, sqllogictest

#13250 Change `schema_infer_max_rec ` config to use `Option<usize>` rather than `usize`
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/file_compression_type.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change, core, common, proto

#13213 allow passing in metadata_size_hint on a per-file basis
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/substrait/src/physical_plan/consumer.rs
Labels: core, substrait, proto

#13222 Deprecate `PhysicalSortRequirement::from_sort_exprs` and `PhysicalSortRequirement::to_sort_exprs`
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-optimizer/src/output_requirements.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: physical-expr, optimizer, core, proto

#13264 Ensure schema and data have the same size
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sqllogictest/test_files/errors.slt
Labels: logical-expr, sqllogictest

#12996 Support vectorized append and compare for multi group by
  datafusion/common/src/utils/memory.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/physical-plan/src/aggregates/group_values/column.rs
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/null_builder.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: physical-expr, core, substrait, common, proto

#13240 Use LogicalType for TypeSignature `Numeric` and `String`, `Coercible`
  datafusion/common/src/types/logical.rs
  datafusion/common/src/types/native.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: logical-expr, sqllogictest, common, functions

#13217 Minor: Clarify use of infallable APIs
  datafusion/expr/src/expr.rs
Labels: logical-expr

#13242 feat: basic support for executing prepared statements
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/sql/sql_api.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: logical-expr, core, sqllogictest

#13284 chore: Move `OptimizeAggregateOrder` from core to optimizer crate
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/update_aggr_exprs.rs
Labels: optimizer, core

#12008 Fix license header
  .github/workflows/dev.yml
  .github/workflows/rust.yml
  benchmarks/compare.py
  datafusion/common-runtime/src/lib.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/core/tests/macro_hygiene/mod.rs
  datafusion/execution/src/lib.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/ffi/src/lib.rs
  datafusion/functions-aggregate-common/src/tdigest.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/min_max/min_max_bytes.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions/src/lib.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-expr-common/src/datum.rs
  datafusion/physical-expr/src/intervals/cp_solver.rs
  datafusion/physical-expr/src/intervals/test_utils.rs
  datafusion/physical-expr/src/intervals/utils.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/lib.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sql/src/lib.rs
  datafusion/wasmtest/src/lib.rs
  dev/create_license.py
  dev/release/check-rat-report.py
  dev/release/create-tarball.sh
  dev/release/download-python-wheels.py
  dev/release/generate-changelog.py
  dev/update_arrow_deps.py
  dev/update_datafusion_versions.py
  licenserc.toml
Labels: sql, development-process, logical-expr, physical-expr, optimizer, core, common, execution, proto, functions

#13281 minor: doc fixes in fuzz testing
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
Labels: core

#13276 Minor: improve `LogicalPlanBuilder::join_with_expr_keys` docs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#13288 Test LIKE with implicit `\` escape
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
Labels: sqllogictest

#13295 Enable `clone_on_ref_ptr` clippy lint on physical-expr-common crate
  datafusion/physical-expr-common/src/binary_map.rs
  datafusion/physical-expr-common/src/binary_view_map.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr-common/src/tree_node.rs
  datafusion/physical-expr-common/src/utils.rs
Labels: physical-expr

#13283 chore: Move `CoalesceBatches` from core to optimizer crate
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/physical-optimizer/src/coalesce_batches.rs
  datafusion/physical-optimizer/src/lib.rs
Labels: optimizer, core

#13215 Minor: Document how to test for trailing whitespace in `slt` / sqllogictests
  datafusion/sqllogictest/README.md
  datafusion/sqllogictest/test_files/functions.slt
Labels: sqllogictest

#13216 Improve documentation on start_demuxer_task and file_extension
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#13299 feat: Updating flamegraph docs
  docs/source/library-user-guide/profiling.md
Labels: documentation

#13182 join_with_expr_keys to support expressions with both unqualified and qualified column names
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
Labels: logical-expr, optimizer

#13303 Derive Eq, Hash, Ord for ResolvedTableReference to be capable of map key
  datafusion/common/src/table_reference.rs
  datafusion/core/src/execution/session_state.rs
Labels: core, common

#13311 refactor: move PREPARE/EXECUTE into `LogicalPlan::Statement`
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/sql_api.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: api change, sql, logical-expr, optimizer, core, sqllogictest, proto

#13221 Support `Utf8View` for string function `bit_length()`
  datafusion/functions/src/string/bit_length.rs
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#13280 feat: Added Timestamp/Binary/Float to fuzz
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  test-utils/src/array_gen/binary.rs
  test-utils/src/array_gen/mod.rs
  test-utils/src/array_gen/primitive.rs
  test-utils/src/array_gen/random_data.rs
Labels: core

#13308 Optimize `replace_params_with_values`
  datafusion/core/benches/sql_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, core

#13324 Remove warning logs during the document build process
  docs/source/conf.py
  docs/source/contributor-guide/howtos.md
  docs/source/library-user-guide/profiling.md
  docs/source/library-user-guide/query-optimizer.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#13333 minor: include datafusion-ffi in publishing instructions
  dev/release/README.md
Labels: development-process

#13322 Update dev script to publish FFI crate
  dev/update_datafusion_versions.py
Labels: development-process

#13321 minor(docs): Add docs for `regen.sh`
  docs/source/contributor-guide/howtos.md
Labels: documentation

#13327 feat: support `DEALLOCATE` to remove prepared statements
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: sql, logical-expr, core, sqllogictest

#13305 Fix ExprSchema extraction of metadata for Cast expressions.
  datafusion/expr/src/expr_schema.rs
  datafusion/sqllogictest/test_files/metadata.slt
Labels: logical-expr, sqllogictest

#13355 refactor: replace `instant` with `web-time`
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/instant.rs
Labels: common

#13310 Add stacker and recursive
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/tree_node.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/set_expr.rs
Labels: sql, logical-expr, optimizer, common

#13362 minor(docs): Correct array_prepend docs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#13367 fix: Fix failures caused by `array_prepend`
  datafusion/functions-nested/src/concat.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#13341 Introduce `information_schema.parameters` table
  datafusion/core/src/catalog_common/information_schema.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/information_schema_multiple_catalogs.slt
  datafusion/sqllogictest/test_files/information_schema_table_types.slt
Labels: core, sqllogictest

#13314 support recursive CTEs logical plans in datafusion-proto
  datafusion/core/src/datasource/cte_worktable.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: core, proto

#13338 Enable `clone_on_ref_ptr` clippy lint on core crate
  datafusion/core/src/catalog_common/information_schema.rs
  datafusion/core/src/catalog_common/listing_schema.rs
  datafusion/core/src/catalog_common/memory.rs
  datafusion/core/src/datasource/avro_to_arrow/reader.rs
  datafusion/core/src/datasource/cte_worktable.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/core/src/datasource/empty.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/writer.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/execution/session_state_defaults.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/src/test_util/parquet.rs
Labels: core

#13354 Support TypeSignature::Nullary
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions-window/src/cume_dist.rs
  datafusion/functions-window/src/rank.rs
  datafusion/functions-window/src/row_number.rs
  datafusion/functions/src/datetime/current_date.rs
  datafusion/functions/src/datetime/current_time.rs
  datafusion/functions/src/datetime/now.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/random.rs
Labels: logical-expr, functions

#13376 Annotate `Expr::get_type()` with recursive
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#13380 Add utf8view support in nullif
  datafusion/functions/src/core/nullif.rs
  datafusion/sqllogictest/test_files/nullif.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#13352 Split the GroupColumn Implementations into smaller modules
  datafusion/physical-plan/src/aggregates/group_values/group_column.rs
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_column/bytes.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_column/bytes_view.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_column/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_column/primitive.rs
Labels: physical-expr

#13331 feat: Add boolean column to aggregate queries for fuzz testing
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  test-utils/src/array_gen/boolean.rs
  test-utils/src/array_gen/mod.rs
Labels: core

#13369 Move filtered SMJ Full filtered join out of `join_partial` phase
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: physical-expr, core, sqllogictest

#13339 Docs: Update dependencies in `requirements.txt` for python3.12
  .github/workflows/docs.yaml
  docs/requirements.txt
Labels: documentation, development-process

#13328 Remove uses of #[allow(dead_code)] in favor of _identifier
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion/core/tests/parquet/external_access_plan.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/execution/src/disk_manager.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/cursor.rs
Labels: physical-expr, core, execution

#13349 feat: Add random timezone to aggregate fuzz test
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  test-utils/Cargo.toml
  test-utils/src/array_gen/primitive.rs
Labels: core

#13326 Allow aggregation without projection in `Unparser`
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#13294 Introduce `TypePlanner` for customizing type planning
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/planner.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core

#13201 Convert `nth_value` builtIn function to User Defined Window Function
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/window_function.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  docs/source/user-guide/sql/window_functions_new.md
Labels: documentation, api change, sql, logical-expr, physical-expr, core, sqllogictest, substrait, proto

#13335 Docs: Add Content Library Page to the docs
  docs/source/index.rst
  docs/source/user-guide/concepts-readings-events.md
Labels: documentation

#13395 chore: Remove `window_functions_new` docs
  dev/update_function_docs.sh
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/window_functions.md
  docs/source/user-guide/sql/window_functions_new.md
Labels: documentation, development-process

#13398 Minor: SortMergeJoin small refactoring
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr

#13390 Minor: Add SQL example for `date_bin`
  datafusion/functions/src/datetime/date_bin.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#13350 Add Utf8View to `TypeCategory::Unknown`
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/coalesce.slt
Labels: sqllogictest

#13397 fix: Fix documentation for `null_string` to `array_to_string` + `string_to_array`
  datafusion/functions-nested/src/string.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#13392 refactor: Consolidate single group by column code into sub modules
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/bytes.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/bytes_view.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/primitive.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/bytes.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/bytes_view.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/primitive.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/topk/hash_table.rs
Labels: physical-expr

#13400 Fix typo in concepts-readings-events.md
  docs/source/user-guide/concepts-readings-events.md
Labels: documentation

#13387 chore: expose TypeCoercionRewriter::new and add examples for type coerce expressions
  datafusion-examples/README.md
  datafusion-examples/examples/expr_api.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sql/README.md
Labels: sql, optimizer

#13345 Migrate code from invoke to invoke_batch.
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/upper.rs
Labels: functions

#13409 Add getters to `ExecutionPlan` Properties
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/work_table.rs
Labels: physical-expr, core

#13416 Have DefaultTableSource return the correct TableType
  datafusion/core/src/datasource/default_table_source.rs
Labels: core

#13393 Remove `BuiltInWindowFunction` (LogicalPlans)
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udwf.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
Labels: logical-expr, physical-expr, proto

#13414 Fix `regex` cache on pattern, less alloc, hash less often
  datafusion/functions/src/regex/regexpcount.rs
Labels: functions

#13429 Make DFSchema::datatype_is_semantically_equal public
  datafusion/common/src/dfschema.rs
Labels: common

#13421 fix: serialize user-defined window functions to proto
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, proto

#13407 Add support for Utf8View to crypto functions
  datafusion/functions/src/crypto/basic.rs
  datafusion/functions/src/crypto/digest.rs
  datafusion/functions/src/crypto/md5.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/crypto/sha256.rs
  datafusion/functions/src/crypto/sha384.rs
  datafusion/functions/src/crypto/sha512.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#13346 Fix `concat` simplifier for Utf8View types
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/functions/src/string/concat.rs
Labels: core, functions

#13438 fix docs of register_table to match implementation
  datafusion/core/src/execution/context/mod.rs
Labels: documentation, core

#13442 Minor: Remove MOVED file
  datafusion/core/tests/sqllogictests/MOVED.md
Labels: core

#13412 Deduplicate and standardize deserialization logic for streams
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
Labels: core

#13447 Minor: Doc and organize fields in `struct ExternalSorter`
  datafusion/physical-plan/src/sorts/sort.rs
Labels: physical-expr

#13418 Support unparsing Array plan to SQL string
  datafusion/functions-nested/src/planner.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#13453 Fix test query results even for quick test execution
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: sqllogictest

#13432 [MINOR]: fix min max accumulator nan bug
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: sqllogictest, functions

#13435 Evaluate cheaper condition first in join selection and physical planner
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_planner.rs
Labels: core

#13428 Fix duckdb & sqlite character_length scalar unparsing
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/utils.rs
Labels: sql

#13317 chore: remove unnecessary test helpers
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#13434 Produce informative error on physical schema mismatch
  datafusion/core/src/physical_planner.rs
Labels: core

#13426 Fix invalid swap for LeftMark nested loops join
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: core, sqllogictest

#13441 Fix redundant data copying in unnest
  datafusion/physical-plan/src/unnest.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: physical-expr, sqllogictest

#13454 Add docs on TableProvider::statistics()
  datafusion/catalog/src/table.rs
Labels: catalog

#13462 Support Utf8View in Unparser `expr_to_sql`
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#13460 Unparse inner join with no conditions as a cross join
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#13463 Remove unreachable filter logic in final grouping stage
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr, functions

#13479 MINOR: remove one duplicated inparam in TopK
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/topk/mod.rs
Labels: physical-expr

#13388 Fix join on arrays of unhashable types and allow hash join on all types supported at run-time
  datafusion/common/src/hash_utils.rs
  datafusion/expr/src/utils.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/information_schema_columns.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: logical-expr, sqllogictest, common

#13490 Remove redundant dead_code check suppressions
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
Labels: core

#13495 chore: try make Setup Rust CI step immune to network hang
  .github/actions/setup-builder/action.yaml
  ci/scripts/retry
Labels: development-process

#13485 Move `Pruning` into `physical-optimizer` crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer, core

#13467 Add `Container` trait and to simplify `Expr` and `LogicalPlan` apply and map methods
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/expr/src/tree_node.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/sql/src/unparser/rewrite.rs
Labels: sql, logical-expr, optimizer, common

#13457 feat: Support faster multi-column grouping ( `GroupColumn`) for `Date/Time/Timestamp` types
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: physical-expr, sqllogictest

#13343 feat(substrait): replace SessionContext with a trait
  datafusion/core/src/execution/session_state.rs
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/lib.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/mod.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/logical_plan/state.rs
  datafusion/substrait/src/serializer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/emit_kind_tests.rs
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/serialize.rs
  datafusion/substrait/tests/cases/substrait_validations.rs
Labels: core, substrait

#13502 Fixed issue with md5 not support LargeUtf8 correctly
  datafusion/functions/src/crypto/md5.rs
  datafusion/sqllogictest/test_files/string/string_query.slt.part
Labels: sqllogictest, functions

#13452 Coerce Array inner types
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: sqllogictest

#13508 Update arrow/parquet to arrow/parquet `53.3.0`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest

#13506 Minor: Add debug log message for creating GroupValuesRows
  datafusion/physical-plan/src/aggregates/group_values/row.rs
Labels: physical-expr

#13493 Unparse struct to sql
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql, unparser

#13290 Add `ScalarUDFImpl::invoke_with_args` to support passing the return type created for the udf instance
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/benches/random.rs
  datafusion/functions/src/core/version.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/functions/src/datetime/to_unixtime.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/math/signum.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/utils.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr, functions

#13512 Include license and notice files in published crates
  datafusion/catalog/LICENSE.txt
  datafusion/catalog/NOTICE.txt
  datafusion/common-runtime/LICENSE.txt
  datafusion/common-runtime/NOTICE.txt
  datafusion/common/LICENSE.txt
  datafusion/common/NOTICE.txt
  datafusion/core/LICENSE.txt
  datafusion/core/NOTICE.txt
  datafusion/execution/LICENSE.txt
  datafusion/execution/NOTICE.txt
  datafusion/expr-common/LICENSE.txt
  datafusion/expr-common/NOTICE.txt
  datafusion/expr/LICENSE.txt
  datafusion/expr/NOTICE.txt
  datafusion/ffi/LICENSE.txt
  datafusion/ffi/NOTICE.txt
  datafusion/functions-aggregate-common/LICENSE.txt
  datafusion/functions-aggregate-common/NOTICE.txt
  datafusion/functions-aggregate/LICENSE.txt
  datafusion/functions-aggregate/NOTICE.txt
  datafusion/functions-nested/LICENSE.txt
  datafusion/functions-nested/NOTICE.txt
  datafusion/functions-window-common/LICENSE.txt
  datafusion/functions-window-common/NOTICE.txt
  datafusion/functions-window/LICENSE.txt
  datafusion/functions-window/NOTICE.txt
  datafusion/functions/LICENSE.txt
  datafusion/functions/NOTICE.txt
  datafusion/optimizer/LICENSE.txt
  datafusion/optimizer/NOTICE.txt
  datafusion/physical-expr-common/LICENSE.txt
  datafusion/physical-expr-common/NOTICE.txt
  datafusion/physical-expr/LICENSE.txt
  datafusion/physical-expr/NOTICE.txt
  datafusion/physical-optimizer/LICENSE.txt
  datafusion/physical-optimizer/NOTICE.txt
  datafusion/physical-plan/LICENSE.txt
  datafusion/physical-plan/NOTICE.txt
  datafusion/proto-common/LICENSE.txt
  datafusion/proto-common/NOTICE.txt
  datafusion/proto/LICENSE.txt
  datafusion/proto/NOTICE.txt
  datafusion/sql/LICENSE.txt
  datafusion/sql/NOTICE.txt
  datafusion/substrait/LICENSE.txt
  datafusion/substrait/NOTICE.txt
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, substrait, catalog, common, execution, proto, functions

#13403 Add support for Utf8View to string_to_array and array_to_string
  datafusion/expr-common/src/signature.rs
  datafusion/functions-nested/src/string.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest

#13466 Return int32 for integer type date part
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/clickbench.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/sqllogictest/test_files/tpch/q7.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
Labels: sqllogictest, functions

#13518 refactor: use `std::slice::from_ref` to remove some clones
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/physical-plan/src/aggregates/topk_stream.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/select.rs
Labels: sql, physical-expr, core

#13356 Introduce TypeSignature::Comparable and update `NullIf` signature
  datafusion/expr-common/src/signature.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/sqllogictest/test_files/nullif.slt
Labels: logical-expr, sqllogictest, functions

#13514 refactor: change some `hashbrown` `RawTable` uses to `HashTable`
  datafusion/common/src/utils/proxy.rs
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/physical-expr-common/src/binary_map.rs
  datafusion/physical-expr-common/src/binary_view_map.rs
Labels: physical-expr, common, execution

#13475 Avoid pushdown of volatile functions to tablescan
  datafusion/expr/src/table_source.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: logical-expr, optimizer

#13521 Minor: clean up error entries
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/statistics.rs
  datafusion/sql/src/select.rs
  docs/source/library-user-guide/catalogs.md
Labels: documentation, sql, core

#13532 Unparse map to sql
  datafusion/functions-nested/src/map.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sql, sqllogictest

#12474 feat(function): add greatest function
  datafusion/functions/src/core/greatest.rs
  datafusion/functions/src/core/mod.rs
  datafusion/sqllogictest/test_files/functions.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#13537 Minor: add version to RuntimeEnv::new deprecation message
  datafusion/execution/src/runtime_env.rs
Labels: execution

#13497 [bug]: Fix wrong order by removal from plan
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: physical-expr, sqllogictest

#13533 Fix panic when hashing empty FixedSizeList Array
  datafusion/common/src/hash_utils.rs
Labels: common

#13547 Minor: Fix two test cases causing CI failures by adding `rowsort`
  datafusion/sqllogictest/test_files/union.slt
Labels: sqllogictest

#13543 chore: add version to deprecation messages
  datafusion/expr/src/expr.rs
  datafusion/sql/src/unparser/dialect.rs
Labels: sql, logical-expr

#13535 Set timezone for group column timestamp type
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/primitive.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: physical-expr, sqllogictest

#13523 Support Unnest in Subqueries
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: optimizer, sqllogictest

#13312 Support LIKE with ESCAPE `\`
  datafusion/physical-expr/src/planner.rs
  datafusion/sqllogictest/test_files/string/string_literal.slt
Labels: physical-expr, sqllogictest

#13542 chore: Remove redundant assert_starts_with test helper
  datafusion/physical-plan/src/execution_plan.rs
Labels: physical-expr

#13468 Preserve field name when casting List
  datafusion/common/src/scalar/mod.rs
  datafusion/common/src/utils/mod.rs
Labels: common
