Repository apache/datafusion, pull requests merged in 2024-04, with the labels that each got.

#9894 [CI] Use alias for table.struct
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest

#9836 fix: detect non-recursive CTEs in the recursive `WITH` clause
  datafusion/sql/src/cte.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: sql, sqllogictest

#9886 Minor: Add SIGMOD paper reference to architecture guide
  datafusion/core/src/lib.rs
Labels: core

#9753 Add test for reading back file created with `COPY ... OPTIONS (FORMAT..)` options
  datafusion/sqllogictest/test_files/copy.slt
Labels: sqllogictest

#9902 Add Expr->String for SimilarTo, IsNotTrue, IsNotUnknown,Negative
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9595 refactor: make dfschema wrap schemaref
  benchmarks/src/tpch/convert.rs
  datafusion-examples/examples/expr_api.rs
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: api change, sql, logical-expr, optimizer, core, sqllogictest, substrait

#9770 Add support for Bloom filters on unsigned integer columns in Parquet tables
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#9882 Move `radians`, `signum`, `sin`, `sinh` and `sqrt` functions to `datafusion-functions` crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, physical-expr

#9911 Minor: Improve math expr description
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#9824 perf: Use `Arc<str>` instead of `Cow<&'a>` in the analyzer
  datafusion/common/src/dfschema.rs
  datafusion/common/src/schema_reference.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, core, substrait

#9897 Use `struct` instead of `named_struct` when there are no aliases
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/struct.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sql, sqllogictest

#9916 Improve planning speed using `impl Into<Arc<str>>` to create Arc<str> rather than `&str`
  datafusion/common/src/table_reference.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
Labels: sql

#9874 Make FirstValue an UDAF, Change `AggregateUDFImpl::accumulator` signature, support ORDER BY for UDAFs
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udaf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/udaf.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, substrait

#9876 Simplify Expr::map_children
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/tree_node/expr.rs
Labels: logical-expr

#9732 Optimization: concat function
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/concat.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
Labels: physical-expr

#9919 Improve `AggregateUDFImpl::state_fields` documentation
  datafusion/expr/src/udaf.rs
Labels: documentation, logical-expr

#9934 test: fix intermittent failure in cte.slt
  datafusion/sqllogictest/test_files/cte.slt
Labels: sqllogictest

#9938 Move `cbrt`, `cos`, `cosh`, `degrees` to `datafusion-functions`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/signature.rs
  datafusion/functions/src/math/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9936 Add Expr->String for Exists, Sort
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9933 Remove `OwnedTableReference` and `OwnedSchemaReference`
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/schema_reference.rs
  datafusion/common/src/table_reference.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
Labels: api change, sql, logical-expr, optimizer, core

#9947 Prune out constant expressions from output ordering.
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/lib.rs
Labels: physical-expr, core

#9926 Move `AggregateExpr`, `PhysicalExpr` and `PhysicalSortExpr` to physical-expr-core
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/physical-expr-common/Cargo.toml
  datafusion/physical-expr-common/README.md
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr-common/src/aggregate/utils.rs
  datafusion/physical-expr-common/src/expressions/column.rs
  datafusion/physical-expr-common/src/expressions/mod.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr-common/src/sort_properties.rs
  datafusion/physical-expr-common/src/tree_node.rs
  datafusion/physical-expr-common/src/utils.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/utils.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/utils/mod.rs
Labels: physical-expr

#9944 Optimize `COUNT(1)`: Change the sentinel value's type for COUNT(*) to Int64
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/README.md
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/json.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest, substrait

#9923 Improve docs for `TableProvider::supports_filters_pushdown` and remove deprecated function
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/cte_worktable.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/provider.rs
  datafusion/core/src/datasource/view.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/expr/src/table_source.rs
Labels: logical-expr, core

#9920 Minor: Improve documentation for AggregateUDFImpl::accumulator and `AccumulatorArgs`
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/udaf.rs
Labels: logical-expr, core

#9965 Simplify TreeNode recursions
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/optimizer/src/analyzer/subquery.rs
Labels: logical-expr, optimizer

#9912 Validate partitions columns in `CREATE EXTERNAL TABLE` if table already exists.
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
Labels: core, sqllogictest

#9959 Minor: Add additional documentation to `CommonSubexprEliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#9962 Fix tpcds planning stack overflows - Join planning refactoring
  .github/actions/setup-rust-runtime/action.yaml
  datafusion/core/src/physical_planner.rs
Labels: core

#9958 coercion vec[Dictionary, Utf8] to Dictionary for coalesce function
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, sqllogictest

#9966 Minor: Update library documentation with new crates
  datafusion/core/src/lib.rs
Labels: core

#9968 Minor: Return InternalError rather than panic for `NamedStructField should be rewritten in OperatorToFunction`
  datafusion/physical-expr/src/planner.rs
Labels: physical-expr

#9977 minor: update MSRV 1.73
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion/core/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: core, substrait

#9974 Minor: Avoid copying all expressions in `Analzyer` / `check_plan`
  datafusion/optimizer/src/analyzer/mod.rs
Labels: optimizer

#9967 Minor: Improve documentation about optimizer
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#9984 Minor: Use `Expr::apply()` instead of `inspect_expr_pre()`
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/optimize_projections.rs
Labels: logical-expr, optimizer

#9986 Minor: fix bug in pruning predicate doc
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9913 Consistent LogicalPlan subquery handling in TreeNode::apply and TreeNode::visit
  datafusion/common/src/tree_node.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/tree_node/plan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/plan_signature.rs
Labels: api change, logical-expr, optimizer, core

#9990 Remove unnecessary result in `DFSchema::index_of_column_by_name`
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/utils.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr

#9969 Removes Bloom filter for Int8/Int16/Uint8/Uint16
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#9973 Optimize performance of substr_index and add tests
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: sqllogictest

#9976 move Floor, Gcd, Lcm, Pi to datafusion-functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/pi.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, physical-expr, optimizer

#9996 Minor: Improve documentation on `LogicalPlan::apply*` and `LogicalPlan::map*`
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#9983 move the Log, Power functions to datafusion-functions
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/power.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, optimizer, core

#9985 Remove FORMAT <..> backwards compatibility options from COPY
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/copy.slt
  docs/source/user-guide/sql/dml.md
Labels: sql, sqllogictest

#10000 move Trunc, Cot, Round, iszero functions to datafusion-functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/cot.rs
  datafusion/functions/src/math/iszero.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/trunc.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, physical-expr

#10004 Minor: Clarify documentation on `PruningStatistics::row_counts` and `PruningStatistics::null_counts` and make test match
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9999 Avoid `LogicalPlan::clone()` in `LogicalPlan::map_children` when possible
  datafusion/expr/src/logical_plan/tree_node.rs
Labels: logical-expr

#10008 Introduce `TreeNode::exists()` API, avoid copying expressions
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/decorrelate.rs
Labels: logical-expr, optimizer

#10017 Move Nanvl and random functions to datafusion-functions
  datafusion-cli/Cargo.lock
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/signature.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/nanvl.rs
  datafusion/functions/src/math/random.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, optimizer, core

#10010 Minor: Document LogicalPlan tree node transformations
  datafusion/core/src/lib.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
Labels: logical-expr, core

#9948 Refactor `Optimizer` to use owned plans and `TreeNode` API (10% faster planning)
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/common/src/tree_node.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_one_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: api change, optimizer, core, sqllogictest

#9988 Further clarification of the supports_filters_pushdown documentation
  datafusion/core/src/datasource/provider.rs
Labels: core

#9989 Prune columns are all null in ParquetExec by row_counts , handle IS NOT NULL
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#10034 Consolidate LogicalPlan tree node walking/rewriting code into one module
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
Labels: logical-expr

#9954 Introduce `OptimizerRule::rewrite` to rewrite in place, rewrite `ExprSimplifier` (20% faster planning)
  datafusion/core/tests/simplification.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer, core

#10043 Fix DistinctCount for timestamps with time zone
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/native.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/decimal.slt
Labels: physical-expr, sqllogictest

#10037 Improve documentation on `LogicalPlan` TreeNode methods
  datafusion/expr/src/logical_plan/tree_node.rs
Labels: logical-expr

#10028 Fix datafusion-cli cursor isn't on the right position in windows 7 cmd
  benchmarks/queries/clickbench/README.md
  datafusion-cli/src/exec.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/README.md
  docs/source/library-user-guide/adding-udfs.md
  docs/source/user-guide/cli.md
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, optimizer, core

#10032 fix `NamedStructField should be rewritten in OperatorToFunction` in subquery regression (change `ApplyFunctionRewrites` to use TreeNode API
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#10038 Avoid copies in `InlineTableScan` via TreeNode API
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
Labels: optimizer

#9813 feat: eliminate redundant sorts on monotonic expressions
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/sqllogictest/test_files/filter_without_sort_exec.slt
Labels: physical-expr, sqllogictest

#10059 Disable `crypto_expressions` feature properly for --no-default-features
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
Labels: physical-expr, optimizer, core

#10031 fix: Support Dict types in `in_list` physical plans
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: physical-expr, sqllogictest

#10051 Prune pages are all null in ParquetExec by row_counts and fix NOT NULL prune
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#10081 Refactor `EliminateOuterJoin` to implement `OptimizerRule::rewrite()`
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer

#10019 Prepend sqllogictest explain result with line number
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/filter_without_sort_exec.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/join.slt
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/json.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/map.slt
  datafusion/sqllogictest/test_files/monotonic_projection_test.slt
  datafusion/sqllogictest/test_files/options.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/references.slt
  datafusion/sqllogictest/test_files/repartition.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/sort_merge_join.slt
  datafusion/sqllogictest/test_files/struct.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/sqllogictest/test_files/topk.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q17.slt.part
  datafusion/sqllogictest/test_files/tpch/q18.slt.part
  datafusion/sqllogictest/test_files/tpch/q19.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/tpch/q5.slt.part
  datafusion/sqllogictest/test_files/tpch/q6.slt.part
  datafusion/sqllogictest/test_files/tpch/q7.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/update.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#10050 Minor: get mutable ref to `SessionConfig` in `SessionState`
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/config.rs
Labels: core

#10083 Move `ceil`, `exp`, `factorial` to `datafusion-functions` crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, physical-expr

#10044 feat: support `unnest` multiple arrays
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/expr/src/tree_node.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/unnest.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, core, sqllogictest

#10071 cleanup(tests): Move tests from `push_down_projections.rs` to `optimize_projections.rs`
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/push_down_projection.rs
Labels: optimizer

#10061 Move conversion of FIRST/LAST Aggregate function to independent physical optimizer rule
  datafusion/core/src/physical_optimizer/convert_first_last.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/tests/data/convert_first_last.csv
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/tree_node.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
Labels: core, sqllogictest

#10066 Avoid copies in `CountWildcardRule` via TreeNode API
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
Labels: optimizer

#10077 Coerce Dictionary types for scalar functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#10087 Refactor `UnwrapCastInComparison` to implement `OptimizerRule::rewrite()`
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#10056 Improve ApproxPercentileAccumulator merge api and fix bug
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/tdigest.rs
Labels: physical-expr

#10095 [Bug Fix]: Deem hash repartition unnecessary when input and output has 1 partition
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: core, sqllogictest

#10089 Move concat, concat_ws, ends_with, initcap to datafusion-functions
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/concat.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/initcap.rs
  datafusion/functions/src/string/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#10078 Update datafusion-cli docs, split up
  datafusion-cli/README.md
  docs/source/index.rst
  docs/source/user-guide/cli.md
  docs/source/user-guide/cli/datasources.md
  docs/source/user-guide/cli/index.rst
  docs/source/user-guide/cli/installation.md
  docs/source/user-guide/cli/overview.md
  docs/source/user-guide/cli/usage.md
Labels: documentation

#10023 Refactor physical create_initial_plan to iteratively & concurrently construct plan from the bottom up
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/tpcds_planning.rs
Labels: core

#10112 [minor] make parquet prune tests more readable
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#10103 Backport to 37: fix `NamedStructField` should be rewritten in OperatorToFunction in subquery regression
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#10104 Backport to 37: fix Coercion stopped working for coalesce on a dictionary column
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, sqllogictest

#10105 Backport to 37: group by count distinct doesn't work for timestamps with time zone
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/native.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/decimal.slt
Labels: physical-expr, sqllogictest

#10108 Update dependabot to consider datafusion-cli
  .github/dependabot.yml
Labels: development-process

#10122 fix: another non-deterministic test in `joins.slt`
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#10115 Refactor `UnwrapCastInComparison` to remove `Expr` clones
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer

#10033 Fix large futures causing stack overflows
  Cargo.toml
  benchmarks/Cargo.toml
  clippy.toml
  datafusion-examples/Cargo.toml
  datafusion/common-runtime/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-array/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr-common/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  docs/Cargo.toml
  test-utils/Cargo.toml
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#10123 Backport to 37: Reduce DataFrame stack size and fix large futures warnings
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/execution/context/mod.rs
Labels: core

#10118 feat: `DataFrame` supports unnesting multiple columns
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#10127 Minor: Add default for `Expr`
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: logical-expr, optimizer

#10130 Update documentation to replace Apache Arrow DataFusion with Apache DataFusion
  .asf.yaml
  README.md
  benchmarks/src/bin/parquet.rs
  datafusion/core/src/lib.rs
  datafusion/proto/README.md
  datafusion/substrait/README.md
  dev/release/README.md
  dev/release/create-tarball.sh
  dev/release/release-tarball.sh
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/contributor-guide/communication.md
  docs/source/index.rst
  docs/source/library-user-guide/profiling.md
Labels: documentation, development-process, core, substrait

#10147 Minor: Signature check for UDAF
  datafusion/expr/src/lib.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
Labels: logical-expr

#10152 minor: avoid cloning the `SetExpr` during planning of `SelectInto`
  datafusion/sql/src/query.rs
Labels: sql

#10158 Add distinct aggregate tests to sqllogictest
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#10160 Add test for LIKE newline handling
  datafusion/sqllogictest/test_files/regexp.slt
Labels: sqllogictest

#10150 minor: unparser cleanup and new roundtrip test
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#10139 Support Duration and Union types in ScalarValue::iter_to_array
  datafusion/common/src/scalar/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#10137 chore(deps): update sqlparser requirement from 0.44.0 to 0.45.0
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/src/functional_dependencies.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/statement.rs
Labels: sql

#9757 fix: duplicate output for HashJoinExec in CollectLeft mode
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: core, sqllogictest

#10098 Move coalesce to datafusion-functions and remove BuiltInScalarFunction
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/tree_node.rs
  datafusion/functions/src/math/coalesce.rs
  datafusion/functions/src/math/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/serialize.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#9676 feat: support input reordering for `NestedLoopJoinExec`
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
Labels: core, sqllogictest

#10126 Improve `TreeNode` and `LogicalPlan` APIs to accept owned closures, deprecate `transform_down_mut()` and `transform_up_mut()`
  datafusion-examples/examples/function_factory.rs
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/common/src/tree_node.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/coalesce_batches.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/convert_first_last.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/pipeline_checker.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/optimizer/src/plan_signature.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/utils.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/sql/src/cte.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, core

#10088 Projection Expression - Input Field Inconsistencies during Projection
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_planner.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: physical-expr, core, sqllogictest

#10168 implement short_circuits function for ScalarUDFImpl trait
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/math/coalesce.rs
Labels: logical-expr

#10035 Improve documentation on `TreeNode`
  datafusion/common/src/tree_node.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#10165 implement rewrite for ExtractEquijoinPredicate and avoid clone in filter
  datafusion/optimizer/src/extract_equijoin_predicate.rs
Labels: optimizer

#10190 Update .asf.yaml to publish docs to datafusion.apache.org
  .asf.yaml
  docs/README.md
  docs/source/index.rst
Labels: documentation, development-process

#10178 Minor: Add `Column::from(Tableref, &FieldRef)`, `Expr::from(Column)` and `Expr::from(Tableref, &FieldRef)`
  benchmarks/src/tpch/convert.rs
  datafusion/common/src/column.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/statement.rs
Labels: sql, logical-expr, optimizer, core

#10166 implement rewrite for FilterNullJoinKeys
  datafusion/optimizer/src/filter_null_join_keys.rs
Labels: optimizer

#10184 Implement rewrite for EliminateOneUnion and EliminateJoin
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/eliminate_one_union.rs
Labels: logical-expr, optimizer

#10195 Update links to point to datafusion.apache.org
  CONTRIBUTING.md
  README.md
  datafusion-cli/README.md
  datafusion/core/README.md
  datafusion/core/src/catalog/mod.rs
  datafusion/core/src/lib.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/proto/CONTRIBUTING.md
  datafusion/proto/README.md
  dev/changelog/15.0.0.md
  dev/release/README.md
  docs/source/contributor-guide/index.md
  docs/source/user-guide/introduction.md
  docs/source/user-guide/sql/select.md
  docs/source/user-guide/sql/write_options.md
Labels: documentation, logical-expr, core

#10198 Allow expr_to_sql unparsing with no quotes
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10141 Refactor sessionconfig set fns to avoid an unnecessary enum to string conversion
  datafusion/execution/src/config.rs
Labels: api change

#10216 Avoid `Expr` copies `OptimizeProjection`, 12% faster planning, encapsulate indicies
  datafusion/common/src/dfschema.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimize_projections/required_indices.rs
Labels: optimizer

#10224 Allow adding user defined metadata to `ParquetSink`
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: core, sqllogictest

#10218 refactor `EliminateDuplicatedExpr` optimizer pass to avoid clone
  datafusion-cli/Cargo.lock
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
Labels: optimizer

#10226 Support for median(distinct) aggregation function
  datafusion/core/benches/aggregate_query_sql.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, core, sqllogictest

#10248 Add tests that `random()` and `uuid()` produce unique values for each row
  datafusion/sqllogictest/test_files/functions.slt
Labels: sqllogictest

#10193 ScalarUDF: Remove `supports_zero_argument` and avoid creating null array for empty args
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-array/src/make_array.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/random.rs
  datafusion/functions/src/string/uuid.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: logical-expr, physical-expr, core

#10243 Add Expr->String for WindowFunction
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql, logical-expr

#10253 Stop copying plans in `EliminateLimit`
  datafusion/optimizer/src/eliminate_limit.rs
Labels: optimizer

#10249 Minor Clean-up in JoinSelection Tests
  datafusion/core/src/physical_optimizer/join_selection.rs
Labels: core

#10242 fix: no longer support the `substring` function
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sql, sqllogictest

#10254 Fix docs.rs build for datafusion-proto (hopefully)
  datafusion/proto/src/generated/mod.rs
Labels: documentation

#10265 Improve documentation on `ColumnarValue`
  datafusion/expr/src/columnar_value.rs
Labels: logical-expr

#10263 chore: Update Error for Unnest Rewritter
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: optimizer, sqllogictest

#10297 Clean-up: Remove AggregateExec::group_by()
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/convert_first_last.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: api change, core

#10148 Validate ScalarUDF output rows and fix nulls for `array_has` and `get_field` for `Map`
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/functions-array/src/array_has.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/map.slt
Labels: physical-expr, core, sqllogictest

#10275 Minor: return NULL for range and generate_series
  datafusion/functions-array/src/range.rs
  datafusion/functions-array/src/udf.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#10301 Minor: Add some more tests to map.slt
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest

#10260 fix: Correct null_count in describe()
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/describe.rs
Labels: core

#10259 feat: add optimizer config param to avoid grouping partitions `prefer_existing_union`
  datafusion/common/src/config.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: core, sqllogictest

#10277 Remove `ScalarFunctionDefinition::Name`
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/power.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, logical-expr, physical-expr, optimizer, core, substrait

#10153 Display: Support `preserve_partitioning` on SortExec physical plan.
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/monotonic_projection_test.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/references.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/sort_merge_join.slt
  datafusion/sqllogictest/test_files/topk.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q18.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/tpch/q5.slt.part
  datafusion/sqllogictest/test_files/tpch/q7.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#10302 Optimize EliminateFilter to avoid unnecessary copies #10288
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer
