Repository apache/datafusion, pull requests merged in 2024-05, with the labels that each got.

#10305 Stop copying LogicalPlan and Exprs in `RewriteDisjunctivePredicate`
  datafusion/optimizer/src/rewrite_disjunctive_predicate.rs
Labels: optimizer

#10323 feat: unwrap casts of string and dictionary columns
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: optimizer, sqllogictest

#9593 feat: Determine ordering of file groups
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/statistics.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/parquet_sorted_statistics.slt
  datafusion/substrait/src/physical_plan/consumer.rs
  docs/source/user-guide/configs.md
Labels: api change, core, sqllogictest, substrait

#10334 Minor: Add additional coalesce tests
  datafusion/sqllogictest/test_files/coalesce.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#10306 Split parquet bloom filter config and enable bloom filter on read by default
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/execution/src/config.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/predicates.slt
  docs/source/user-guide/configs.md
Labels: api change, core, sqllogictest

#10331 Improve coerce API so it does not need DFSchema
  datafusion-examples/examples/expr_api.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: api change, optimizer, core

#10319 Stop copying LogicalPlan and Exprs in EliminateNestedUnion
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
Labels: logical-expr, optimizer

#10345 Minor: Add sql level test for lead/lag on arrays
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#10360 fix: LogFunc simplify swaps arguments
  datafusion/expr/src/simplify.rs
  datafusion/functions/src/math/log.rs
Labels: logical-expr

#10350 Clarify docs explaining the relationship between `SessionState` and `SessionContext`
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/task.rs
Labels: documentation, core

#10366 Optimized push down filter #10291
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#10370 Unparser: Support `ORDER BY` in window function definition
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10362 docs: Add DataFusion subprojects to navigation menu, other minor updates
  docs/source/index.rst
  docs/source/user-guide/introduction.md
Labels: documentation

#10371 feat: Add CrossJoin match case to unparser
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#10367 Minor: Do not force analyzer to copy logical plans
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: api change, optimizer, core

#10382 Minor: Move Sum aggregate function test to slt
  datafusion/physical-expr/src/aggregate/sum.rs
  datafusion/physical-expr/src/aggregate/sum_distinct.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10378 chore: remove DataPtr trait since Arc::ptr_eq ignores pointer metadata
  datafusion/common/src/utils.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-plan/src/lib.rs
Labels: core

#10309 Support limit in StreamingTableExec
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/datasource/streaming.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/test/mod.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/test.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/limit.slt
Labels: core, sqllogictest

#10383 Minor: Move count test to slt
  datafusion/physical-expr/src/aggregate/count.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10390 [MINOR]: Reduce test run time
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#10321 Fix `coalesce`, `struct` and `named_strct` expr_fn function to take multiple arguments
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/functions/src/core/mod.rs
Labels: core

#10387 Minor: remove old `create_physical_expr` to `scalar_function`
  datafusion/core/src/execution/context/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
Labels: physical-expr, core

#10401 Move average unit tests to slt
  datafusion/physical-expr/src/aggregate/average.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10402 Move array_agg unit tests to slt
  datafusion/physical-expr/src/aggregate/array_agg.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10358 feat: run expression simplifier in a loop until a fixedpoint or 3 cycles
  datafusion/core/tests/simplification.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer, core

#10325 Remove ScalarFunctionDefinition
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/tree_node.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/unparser/expr.rs
Labels: api change, sql, logical-expr, physical-expr, optimizer, core

#10361 chore(docs): update subquery documentation with more information
  docs/source/user-guide/sql/subqueries.md
Labels: documentation

#10394 fix dml logical plan output schema
  datafusion/core/tests/sql/sql_api.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/math.slt
Labels: sql, logical-expr, core, sqllogictest

#10408 Fix incorrect Schema over aggregate function, Remove unnecessary `exprlist_to_fields_aggregate`
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#10417 Enable user defined display_name for ScalarUDF
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/core/getfield.rs
Labels: logical-expr, core

#10396 Fix and improve `CommonSubexprEliminate` rule
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, optimizer, sqllogictest

#10420 Simplify making information_schame tables
  datafusion/core/src/catalog/information_schema.rs
  datafusion/sqllogictest/test_files/information_schema.slt
Labels: core, sqllogictest

#10419 only consider main part of the url when deciding is_collection in listing table
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#10333 make common expression alias human-readable
  benchmarks/README.md
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#10434 During expression equality, check for new ordering information
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#10436 Revert 10333 / changes to aliasing in CommonSubExprEliminate
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#10432 Improve flight sql examples
  datafusion-examples/examples/flight/flight_sql_server.rs
  datafusion/expr/src/table_source.rs
Labels: logical-expr

#10418 Move Covariance (Population) covar_pop to be a User Defined Aggregate Function
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/covariance.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, sqllogictest

#10405 Stop copying LogicalPlan and Exprs in `OptimizeProjections` (2% faster planning)
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: logical-expr, optimizer, sqllogictest

#10437 Minor: format comments in `PushDownFilter` rule
  datafusion/optimizer/src/push_down_filter.rs
Labels: documentation

#10447 chore: Improve release process for next time
  datafusion/functions-aggregate/README.md
  dev/release/README.md
Labels: development-process

#10443 Minor: Add usecase to comments in `LogicalPlan::recompute_schema`
  datafusion/expr/src/logical_plan/plan.rs
Labels: documentation, logical-expr

#10458 doc: fix old master branch references to main
  README.md
  docs/source/index.rst
Labels: documentation

#10457 Move bit_and_or_xor unit tests to slt
  datafusion/physical-expr/src/aggregate/bit_and_or_xor.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10439 Introduce user-defined signature
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-array/src/make_array.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/coalesce.slt
  datafusion/sqllogictest/test_files/encoding.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/struct.slt
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: api change, logical-expr, physical-expr, optimizer, sqllogictest

#10441 Remove `AggregateFunctionDefinition::Name`
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: api change, logical-expr, optimizer, core, substrait

#10430 Remove some Expr clones in `EliminateCrossJoin`(3%-5% faster planning)
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/join_key_set.rs
  datafusion/optimizer/src/lib.rs
Labels: optimizer

#10354 Add `simplify` method to aggregate function
  datafusion-examples/examples/simplify_udaf_expression.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/udaf.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: logical-expr, optimizer

#10474 Add cast array test to sqllogictest
  datafusion/sqllogictest/test_files/cast.slt
Labels: sqllogictest

#10448 Add `Expr::try_as_col`, deprecate `Expr::try_into_col` (speed up optimizer)
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/inlist_simplifier.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: logical-expr, optimizer

#10466 Implement `From<Arc<LogicalPlan>>` for `LogicalPlanBuilder`
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#10452 Minor: Improve documentation for `catalog.has_header` config option
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sqllogictest

#10446 Minor: Simplify conjunction and disjunction, improve docs
  datafusion/expr/src/utils.rs
Labels: logical-expr

#10460 Stop copying LogicalPlan and Exprs in `ReplaceDistinctWithAggregate`
  datafusion/optimizer/src/replace_distinct_aggregate.rs
Labels: optimizer

#10431 Stop copying LogicalPlan and Exprs in `EliminateCrossJoin` (4% faster planning)
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/join_key_set.rs
Labels: optimizer

#10483 Improved ergonomy for `CREATE EXTERNAL TABLE OPTIONS`: Don't require quotations for simple namespaced keys like `foo.bar`
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/tpch/create_tables.slt.part
Labels: sql, core, sqllogictest

#10469 feat: allow `array_slice` to take an optional stride parameter
  datafusion/functions-array/src/array_has.rs
  datafusion/functions-array/src/cardinality.rs
  datafusion/functions-array/src/concat.rs
  datafusion/functions-array/src/dimension.rs
  datafusion/functions-array/src/empty.rs
  datafusion/functions-array/src/except.rs
  datafusion/functions-array/src/extract.rs
  datafusion/functions-array/src/flatten.rs
  datafusion/functions-array/src/length.rs
  datafusion/functions-array/src/macros.rs
  datafusion/functions-array/src/make_array.rs
  datafusion/functions-array/src/position.rs
  datafusion/functions-array/src/range.rs
  datafusion/functions-array/src/remove.rs
  datafusion/functions-array/src/repeat.rs
  datafusion/functions-array/src/replace.rs
  datafusion/functions-array/src/resize.rs
  datafusion/functions-array/src/reverse.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/functions-array/src/set_ops.rs
  datafusion/functions-array/src/sort.rs
  datafusion/functions-array/src/string.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change

#10375 Replace `GetFieldAccess` with indexing function in `SqlToRel `
  datafusion/core/tests/expr_api/mod.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sql, core, sqllogictest

#10459 fix: make `columnize_expr` resistant to display_name collisions
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/user_defined/user_defined_table_functions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, optimizer, core, sqllogictest

#10445 Fix values with different data types caused failure
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, sqllogictest

#10470 fix: avoid compressed json files repartitioning
  datafusion/core/src/datasource/physical_plan/json.rs
Labels: core

#10496 Minor: Improved document string for `LogicalPlanBuilder`
  datafusion/expr/src/logical_plan/builder.rs
Labels: documentation, logical-expr

#10495 Fix SortMergeJoin with join filter filtering all rows out
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest

#10492 Minor: Extend more style of udaf `expr_fn`, Remove order args for`covar_samp` and `covar_pop`
  datafusion/functions-aggregate/src/macros.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change

#10514 feat: optional args for regexp_* UDFs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/functions/src/regex/mod.rs
Labels: core

#10493 Support UDAF to align Builtin aggregate function
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, optimizer, core, substrait

#10499 Remove `file_type()` from `FileFormat`
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: api change, core

#10509 Minor: add a test for `current_time` (no args)
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#10476 fix: parsing timestamp with date format
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/sqllogictest/test_files/dates.slt
Labels: sqllogictest

#10502 [MINOR]: Move pipeline checker rule to the end
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: core, sqllogictest

#10501 Minor: Extract parent/child limit calculation into a function, improve docs
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#10506 Fix window expr deserialization
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#10356 Stop copying LogicalPlan and Exprs in `TypeCoercion` (10% faster planning)
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer

#10529 Implement unparse `IS_NULL` to String and enhance the tests
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10526 Fix panic in array_agg(distinct) query
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10525 UDAF: Extend more args to `state_fields` and `groups_accumulator_supported` and introduce `ReversedUDAF`
  datafusion-examples/examples/advanced_udaf.rs
  datafusion-examples/examples/simplify_udaf_expression.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
Labels: api change, logical-expr, optimizer, core

#10539 Move min_max unit tests to slt
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10540 Implement unparse `Placeholder` to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10544 Implement unparse `OuterReferenceColumn` to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10444 Stop copying LogicalPlan and Exprs in `PushDownFilter` (4%-6% faster planning)
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: logical-expr, optimizer

#10489 Stop most copying LogicalPlan and Exprs in `ScalarSubqueryToJoin`
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: optimizer

#10547 fix: `array_slice` panics
  datafusion/functions-array/src/extract.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#10500 Minor: Add `PullUpCorrelatedExpr::new` and improve documentation
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
Labels: optimizer

#10508 Stop copying LogicalPlan and Exprs in `PushDownLimit`
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#10504 PhysicalExpr Orderings with Range Information
  datafusion-examples/examples/advanced_udf.rs
  datafusion-examples/examples/function_factory.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/fuzz_cases/sort_preserving_repartition_fuzz.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/interval_arithmetic.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/sort_properties.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/monotonicity.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/trunc.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr-common/src/utils.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#10541 Implement unparse `ScalarVariable` to String
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10515 feat: Expose Parquet Schema Adapter
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/schema_adapter.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/schema_adapter.rs
Labels: core

#10569 Improve signature of `get_field` function
  datafusion/core/tests/expr_api/mod.rs
  datafusion/functions/src/core/mod.rs
Labels: core

#10555 Implement Unparse `GroupingSet` Expr --> String Support sql
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#10561 Minor: Move proxy to datafusion common
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/utils/mod.rs
  datafusion/common/src/utils/proxy.rs
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/functions/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
Labels: physical-expr, optimizer, core

#10537 feat: API for collecting statistics/index for metadata of a parquet file + tests
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10304 Fix: Sort Merge Join LeftSemi issues when JoinFilter is set
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest

#10568 Remove `Expr::GetIndexedField`, replace `Expr::{field,index,range}` with `FieldAccessor`, `IndexAccessor`, and `SliceAccessor`
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-array/src/expr_ext.rs
  datafusion/functions-array/src/extract.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions/src/core/expr_ext.rs
  datafusion/functions/src/core/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sqllogictest/test_files/projection.slt
Labels: api change, sql, logical-expr, physical-expr, optimizer, core, sqllogictest

#10575 Improve `UserDefinedLogicalNode::from_template` API to return `Result`
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, substrait

#10576 Migrate testing optimizer rules to use `rewrite` API
  datafusion/optimizer/src/optimizer.rs
  datafusion/proto/proto/datafusion.proto
Labels: optimizer

#10577 Improve ContextProvider
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
Labels: api change, sql, optimizer, core

#10592 test: add more tests for statistics reading
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10567 refactor: reduce allocations in push down filter
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#10601 Add to_date function to scalar functions doc
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#10596 Rename monotonicity as output_ordering in ScalarUDF's
  datafusion-examples/examples/advanced_udf.rs
  datafusion-examples/examples/function_factory.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/monotonicity.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/trunc.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
Labels: logical-expr, physical-expr

#10603 Implement Unparser for `UNION ALL`
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#10597 Improve `UserDefinedLogicalNodeCore::from_template` API to return Result
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, core

#10588 Minor: Consolidate some integration tests into `core_integration`
  datafusion/core/tests/core_integration.rs
  datafusion/core/tests/custom_sources.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/core/tests/fifo/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
Labels: core

#10527 Stop copying LogicalPlan and Exprs in `SingleDistinctToGroupBy`
  datafusion/optimizer/src/single_distinct_to_groupby.rs
Labels: optimizer

#10591 feat: Add eliminate group by constant optimizer rule
  datafusion/optimizer/src/eliminate_group_by_constant.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/optimizer_group_by_constant.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#10614 [MINOR]: Update get range implementation for lead lag window functions
  datafusion/physical-expr/src/window/lead_lag.rs
Labels: physical-expr

#10615 Add support for Substrait List/EmptyList literals
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#10608 Test for reading read statistics from parquet files without statistics and boolean & struct data type
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10610 adding benchmark for extracting arrow statistics from parquet
  datafusion/core/Cargo.toml
  datafusion/core/benches/parquet_statistic.rs
Labels: core

#10429 feat: extend `unnest` to support Struct datatype
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/data/unnest.json
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest

#10573 Implement a dialect-specific rule for unparsing an identifier with or without quotes
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/plan_to_sql.rs
  datafusion/core/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, physical-expr, core

#10612 add catalog as part of the table path in plan_to_sql
  datafusion/sql/src/unparser/plan.rs
Labels: sql

#10607 Refactor parquet row group pruning into a struct (use new statistics API, part 1)
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
Labels: core

#10593 Extract `Date32` parquet statistics as `Date32Array` rather than `Int32Array`
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10625 Omit NULLS FIRST/LAST when unparsing ORDER BY clauses for MySQL
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#10621 Add SessionContext::register_object_store
  datafusion-cli/src/exec.rs
  datafusion-examples/examples/external_dependency/dataframe-to-s3.rs
  datafusion-examples/examples/external_dependency/query-aws-s3.rs
  datafusion-examples/examples/parquet_sql_multiple_files.rs
  datafusion-examples/examples/query-http-csv.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/path_partition.rs
Labels: core

#10611 Minor: Move median test
  datafusion/physical-expr/src/aggregate/median.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#10622 Add support for Substrait Struct literals and type
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#10629 fix Incorrect statistics read for i8 i16 columns in parquet
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10640 More properly handle nullability of types/literals in Substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#10657 fix wrong type validation on unnest expr
  datafusion/sql/src/utils.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, sqllogictest

#10645 Fix incorrect statistics read for binary columns in parquet
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10655 Fix `NULL["field"]` for expr_API
  datafusion/core/tests/expr_api/mod.rs
  datafusion/functions/src/core/getfield.rs
Labels: core

#10623 Add `FileScanConfig::new()` API
  datafusion-examples/examples/csv_opener.rs
  datafusion-examples/examples/json_opener.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/file_stream.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/schema_adapter.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/execution/src/object_store.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
Labels: core, substrait

#10665 Minor: Remove `GetFieldAccessSchema`
  datafusion/expr/src/field_util.rs
  datafusion/expr/src/lib.rs
  datafusion/functions/src/core/getfield.rs
Labels: logical-expr

#10666 Minor: Use slice in `ConcreteTreeNode`
  datafusion/common/src/tree_node.rs
  datafusion/physical-expr-common/src/tree_node.rs
  datafusion/physical-plan/src/tree_node.rs
Labels: api change

#10644 Move Median to `functions-aggregate` and Introduce Numeric signature
  datafusion-cli/Cargo.lock
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest

#10268 Fix `Coalesce` casting logic to follows what Postgres and DuckDB do. Introduce signature that do non-comparison coercion
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/coalesce.slt
Labels: logical-expr, optimizer, sqllogictest

#10671 fix: pass `quote` parameter to CSV writer
  datafusion/common/src/file_options/csv_writer.rs
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: sqllogictest

#10677 Fix compilation "comparison_binary_numeric_coercion not found"
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#10646 feat: add substrait support for Interval types and literals
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/variation_const.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#10683 fix: CI compilation failed on substrait
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#10642 Add tests for reading numeric limits in parquet statistics
  datafusion/core/tests/parquet/arrow_statistics.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#10680 refactor: Move SchemaAdapter from parquet module to data source
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/schema_adapter.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/schema_adapter.rs
Labels: core

#10648 Convert first, last aggregate function to UDAF
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_optimizer/convert_first_last.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/src/prelude.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/type_coercion/aggregates.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/physical-expr-common/src/aggregate/mod.rs
  datafusion/physical-expr-common/src/expressions/cast.rs
  datafusion/physical-expr-common/src/expressions/mod.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr-common/src/utils.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/mod.rs
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr, optimizer, core

#10650 Minor: CastExpr Ordering Handle
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/physical-expr-common/src/expressions/cast.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: core, sqllogictest

#10634 Minor: Add tests showing aggregate behavior for NaNs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#10647 Improve `ParquetExec` and related documentation
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/schema_adapter.rs
Labels: core

#10679 minor: inconsistent group by position planning
  datafusion/sql/src/select.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: sql, sqllogictest

#10661 Remove duplicate function name in its aliases list
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-array/src/array_has.rs
  datafusion/functions-array/src/cardinality.rs
  datafusion/functions-array/src/concat.rs
  datafusion/functions-array/src/dimension.rs
  datafusion/functions-array/src/empty.rs
  datafusion/functions-array/src/except.rs
  datafusion/functions-array/src/extract.rs
  datafusion/functions-array/src/flatten.rs
  datafusion/functions-array/src/length.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/position.rs
  datafusion/functions-array/src/range.rs
  datafusion/functions-array/src/remove.rs
  datafusion/functions-array/src/repeat.rs
  datafusion/functions-array/src/replace.rs
  datafusion/functions-array/src/resize.rs
  datafusion/functions-array/src/reverse.rs
  datafusion/functions-array/src/set_ops.rs
  datafusion/functions-array/src/sort.rs
  datafusion/functions-array/src/string.rs
  datafusion/functions/src/lib.rs
  datafusion/optimizer/src/push_down_limit.rs
Labels: optimizer

#10531 Support Substrait's VirtualTables
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#10691 Display date32/64 in YYYY-MM-DD format
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/filter_without_sort_exec.slt
  datafusion/sqllogictest/test_files/optimizer_group_by_constant.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/tpch/q5.slt.part
  datafusion/sqllogictest/test_files/tpch/q6.slt.part
  datafusion/sqllogictest/test_files/tpch/q7.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
Labels: optimizer, core, sqllogictest

#10689 Fix: array list values are leaked on nested `unnest` operators
  datafusion/physical-plan/src/unnest.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sqllogictest

#10696 Remove redundant upper case aliases for `median`, `first_value` and `last_value`
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions/src/lib.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: optimizer, sqllogictest

#10685 Minor: improve Expr documentation
  datafusion/expr/src/expr.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql, logical-expr

#10704 Fix incorrect statistics read for unsigned integers columns in parquet
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/arrow_statistics.rs
Labels: core

#10653 Support consuming Substrait with compound signature function names
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/testdata/select_not_bool.substrait.json
Labels: substrait

#10686 Minor: Add examples of using TreeNode with `Expr`
  datafusion/expr/src/expr.rs
Labels: documentation, logical-expr

#10687 Minor: Add examples of using TreeNode with `LogicalPlan`
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#10636 Add `ParquetExec::builder()`, deprecate `ParquetExec::new`
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
Labels: core, substrait
