Repository apache/datafusion, pull requests merged in 2024-09, with the labels that each got.

#12258 Remove redundant result of `AggregateFunctionExpr::field`
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: physical-expr, optimizer, proto

#12194 Support `map_keys` & `map_values` for MAP type
  datafusion/common/src/utils/mod.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-nested/src/map_extract.rs
  datafusion/functions-nested/src/map_keys.rs
  datafusion/functions-nested/src/map_values.rs
  datafusion/functions-nested/src/utils.rs
  datafusion/sqllogictest/test_files/map.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, common

#12200 Define current arrow_cast behavior for BinaryView
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sqllogictest

#12237 Update prost dependency
  Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: substrait, proto

#12214 Minor: Improve ExecutionMode documentation
  datafusion/physical-plan/src/execution_plan.rs
Labels: documentation, physical-expr

#12260 Avoid unnecessary move when setting SessionConfig
  datafusion/common/src/config.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/execution/src/config.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: api change, physical-expr, core, common, execution

#12241 Remove unused `AggregateOptions` struct and `scalar_update_factor` config setting
  datafusion/common/src/config.rs
  datafusion/execution/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, api change, sqllogictest, common, execution

#12256 Make group expressions nullable more accurate
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-expr

#12262 Avoid redundant pass-by-value in optimizer
  datafusion/core/src/execution/session_state.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/join_key_set.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/optimizer/src/utils.rs
Labels: logical-expr, optimizer, core

#12285 Remove deprecated LogicalPlan::with_new_inputs function
  datafusion/expr/src/logical_plan/plan.rs
Labels: api change, logical-expr

#12282 Support alternate format for Date32 unparsing (TEXT/SQLite)
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#12240 Extract drive-by fixes from PR 12135 for easier reviewing
  datafusion/common/src/hash_utils.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/src/execution/session_state_defaults.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-plan/src/execution_plan.rs
Labels: physical-expr, core, common

#12279 Fixes missing `nth_value` UDAF expr function
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: api change, proto, functions

#12213 Minor: Add `RuntimeEnvBuilder::build_arc()
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/execution/src/task.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/wasmtest/src/lib.rs
Labels: physical-expr, core, execution

#12275 Introduce `Signature::Coercible`
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr-common/src/type_coercion/aggregates.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/variance.rs
Labels: logical-expr, core, functions

#12297 fix hash-repartition panic
  datafusion/physical-plan/src/coalesce/mod.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/repartition.slt
Labels: physical-expr, sqllogictest

#12289 Remove unsafe Send impl from PriorityMap
  datafusion/physical-plan/src/aggregates/topk/hash_table.rs
  datafusion/physical-plan/src/aggregates/topk/heap.rs
  datafusion/physical-plan/src/aggregates/topk/priority_map.rs
Labels: physical-expr

#12277 test: check record count and types in parquet window test
  datafusion/sqllogictest/test_files/parquet.slt
Labels: sqllogictest

#12224 Update the CONCAT scalar function to support Utf8View
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/concat.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12276 test: re-enable merge join test with forced collisions
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest

#12161 feat: Add DateFieldExtractStyle::Strftime support for SqliteDialect unparser
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#12301 Fix various typos in aggregation doc
  datafusion/expr-common/src/groups_accumulator.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/order/full.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr

#12273 Implement `kurtosis_pop` UDAF
  datafusion/functions-aggregate/src/kurtosis_pop.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, sqllogictest, proto, functions

#12305 perf: avoid repeat format in calc_func_dependencies_for_project
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#12153 feat: Enforce the uniqueness of map key name for the map/make_map function
  datafusion/common/src/utils/mod.rs
  datafusion/functions-nested/benches/map.rs
  datafusion/functions-nested/src/map.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest, common

#12310 Update download page to reflect latest version (v41)
  dev/release/README.md
  docs/source/download.md
Labels: documentation, development-process

#12192 Improve binary scalars display
  datafusion/common/src/scalar/mod.rs
Labels: common

#12322 Minor: Reduce string allocations in ScalarValue::binary display
  datafusion/common/src/scalar/mod.rs
Labels: common

#12032 Update to `arrow`/`parquet` `53.0.0`, `tonic`, `prost`, `object_store`, `pyo3`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/functions.rs
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/physical-expr-common/src/binary_view_map.rs
  datafusion/physical-plan/src/coalesce/mod.rs
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/interval.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sql, physical-expr, core, sqllogictest, common, proto, functions

#12333 Minor: Update Sanity Checker Error Messages
  datafusion/core/src/physical_optimizer/sanity_checker.rs
Labels: core

#12264 Improve & unify validation in LogicalPlan::with_new_exprs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#12208 Support try_from_array and eq_array for ScalarValue::Union
  datafusion/common/src/scalar/mod.rs
Labels: common

#12346 Fix some clippy warnings
  datafusion/functions/benches/repeat.rs
  datafusion/functions/benches/substr.rs
Labels: functions

#12330 minor: reuse SessionStateBuilder methods for default builder
  datafusion/core/src/execution/session_state.rs
Labels: core

#12348 Push down null filters for more join types
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer

#12341 fix: preserve qualifiers when rewriting expressions
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: logical-expr, sqllogictest

#12334 Move `TopKAggregation` rule into `physical-optimizer` crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/topk_aggregation.rs
Labels: optimizer, core

#12199 Support Utf8View and BinaryView in substrait serialization.
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/src/physical_plan/producer.rs
  datafusion/substrait/src/variation_const.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#12302 Fix Possible Congestion Scenario in `SortPreservingMergeExec`
  datafusion/core/tests/fuzz_cases/merge_fuzz.rs
  datafusion/physical-plan/src/sorts/merge.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
Labels: physical-expr, core

#12351 Minor: Re-export variable provider
  datafusion/core/src/lib.rs
  datafusion/core/src/variable/mod.rs
Labels: core

#12344 Support protobuf encoding and decoding of `UnnestExec`
  datafusion/physical-plan/src/unnest.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, proto

#12281 feat: Add projection to FilterExec
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/partitioning.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/tpch/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q17.slt.part
  datafusion/sqllogictest/test_files/tpch/q18.slt.part
  datafusion/sqllogictest/test_files/tpch/q19.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/tpch/q5.slt.part
  datafusion/sqllogictest/test_files/tpch/q6.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest, proto

#12331 Fix subquery alias table definition unparsing for SQLite
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12361 Remove deprecated ScalarValue::get_datatype
  datafusion/common/src/scalar/mod.rs
Labels: common

#12227 Fix issue with "to_date" failing to process dates later than year 2262
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/sqllogictest/test_files/dates.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#12323 Minor: improve performance of `ScalarValue::Binary*` debug
  datafusion/common/src/scalar/mod.rs
Labels: common

#12339 fix: support Substrait VirtualTables with no columns
  datafusion/physical-plan/src/values.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: physical-expr, substrait

#12164 Apply non-nested kernel for non-nested in `array_has` and `inlist`
  datafusion/functions-nested/src/array_has.rs
  datafusion/physical-expr-common/src/datum.rs
  datafusion/physical-expr/src/expressions/in_list.rs
Labels: physical-expr

#12358 Remove unnecessary `Result` from return type in `NamePreserver`
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: api change, logical-expr, optimizer

#12356 Faster `character_length()` string function for ASCII-only case
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/character_length.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/unicode/character_length.rs
Labels: functions

#12158 Unparse TableScan with projections, filters or fetch to SQL string
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql, logical-expr

#12165 Minor: Support protobuf serialization for Utf8View and BinaryView
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#12362 Minor: Add tests for using FilterExec when parquet was pushed down
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest

#12379 Minor: Add getter for logical optimizer rules
  datafusion/core/src/execution/session_state.rs
Labels: core

#12353 Removed Arc wrapping for AggregateFunctionExpr
  datafusion/core/src/physical_optimizer/update_aggr_exprs.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/physical_optimizer/combine_partial_final_agg.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-optimizer/src/combine_partial_final_agg.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, physical-expr, optimizer, core, proto

#12271 Coerce BinaryView/Utf8View to LargeBinary/LargeUtf8 on output.
  datafusion/common/src/config.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/test/mod.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, logical-expr, optimizer, sqllogictest, common

#12350 Support for SIMILAR TO for physical plan
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/sqllogictest/test_files/strings.slt
Labels: physical-expr, sqllogictest

#12390 Remove deprecated expression optimizer's utils
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#12392 Minor: Remove redundant usage of clone
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
Labels: core

#12360 tests: enable fuzz for filtered anti-semi NLJoin
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#12384 Refactor `SqlToRel::sql_expr_to_logical_expr_internal` to reduce stack size
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sql, sqllogictest

#12389 Reuse `spill_record_batch_by_size` function
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/spill.rs
Labels: physical-expr

#12397 minor: improve join fuzz tests debug kit
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
Labels: core

#12372 Add documentation about performance PRs, add (TBD) section on feature criteria
  docs/source/contributor-guide/index.md
Labels: documentation

#12396 Fix invalid ref in UserDefinedLogicalNodeCore doc
  datafusion/expr/src/logical_plan/extension.rs
Labels: logical-expr

#12404 Don't push down IsNotNull for `null_equals_null` case
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer

#12381 feat: Support `FixedSizedList` in `array_distance` function
  datafusion/functions-nested/src/distance.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#12383 Fix: `substr()` on StringView column's behavior is inconsistent with the old version
  datafusion/functions/src/unicode/substr.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: sqllogictest, functions

#12245 validate and adjust Substrait NamedTable schemas (#12223)
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/cases/mod.rs
  datafusion/substrait/tests/cases/substrait_validations.rs
  datafusion/substrait/tests/substrait_integration.rs
  datafusion/substrait/tests/testdata/test_plans/simple_select.substrait.json
  datafusion/substrait/tests/testdata/test_plans/simple_select_with_mask.substrait.json
  datafusion/substrait/tests/testdata/tpch/nation.csv
  datafusion/substrait/tests/testdata/tpch/region.csv
  datafusion/substrait/tests/utils.rs
Labels: substrait

#12382 Allow using dictionary arrays as filters
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#12232 Fix parquet statistics for ListingTable and Utf8View with `schema_force_string_view`, rename config option to `schema_force_view_types`
  benchmarks/src/clickbench.rs
  benchmarks/src/tpch/run.rs
  benchmarks/src/util/options.rs
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/functions/benches/pad.rs
  datafusion/functions/benches/repeat.rs
  datafusion/functions/benches/substr.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest, common, proto, functions

#12283 Add support for Utf8View, Boolean, Date32/64, int32/64 for writing hive style partitions
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: core, sqllogictest

#12419 Minor: Fix project website links
  README.md
Labels: documentation

#12431 Check window functions by str for with_column
  datafusion/core/src/dataframe/mod.rs
Labels: core

#12399 Fix incorrect OFFSET during LIMIT pushdown.
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/sqllogictest/test_files/limit.slt
Labels: optimizer, sqllogictest

#12402 doc: Update MSRV policy, shortening to max(4 months, 4 releases)
  README.md
Labels: documentation

#12426 Fix: upper case qualifier wildcard bug
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/wildcard.slt
Labels: sql, sqllogictest

#12429 Add a `version()` UDF
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/version.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#12400 Support timestamps and steps of less than a day for range/generate_series
  datafusion/functions-nested/src/range.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest

#12418 Improve comments on target user and unify intro summaries
  README.md
  datafusion/core/src/lib.rs
  docs/source/index.rst
Labels: documentation, core

#12420 Add 'Extensions List' page to the documentation
  docs/source/contributor-guide/architecture.md
  docs/source/index.rst
  docs/source/library-user-guide/extensions.md
Labels: documentation

#12203 Fix: Internal error in regexp_replace() for some StringView input
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12433 Automate sqllogictest for StringView (for one function, `substr`)
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/string_functions/substr/substr_literal.slt.part
  datafusion/sqllogictest/test_files/string_functions/substr/substr_runner.slt
  datafusion/sqllogictest/test_files/string_functions/substr/substr_table.slt.part
Labels: sqllogictest

#12329 Added array_any_value function
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, proto

#12189 fix: nested loop join requires outer table to be a FusedStream
  datafusion/physical-plan/src/joins/nested_loop_join.rs
Labels: physical-expr

#12309 Update concat_ws scalar function to support Utf8View
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest, functions

#12439 Minor: add err on `create` `temporary` table
  datafusion/sql/src/parser.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
Labels: sql, sqllogictest

#12441 Minor: Add a test for version() function
  datafusion/core/tests/sql/select.rs
Labels: core

#12443 Handle case-sensitive identifier when decorrelating predicate subquery
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/utils.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: optimizer, sqllogictest

#12421 Add PartialOrd for the DF subfields/structs for the WindowFunction expr
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/built_in_window_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#12452 Making avro_to_arrow::schema::to_arrow_schema public
  datafusion/core/src/datasource/avro_to_arrow/mod.rs
Labels: core

#12461 Minor: add `ListingOptions::with_file_extension_opt`
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#12457 Improve PhysicalExpr and Column documentation
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/expressions/column.rs
Labels: physical-expr

#12459 fix length error with `array_has`
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#12465 chore: Prepare 42.0.0 Release
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  dev/changelog/42.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#12456 Minor: improve ParquetOpener docs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/schema_adapter.rs
Labels: documentation, core

#11827 Impl `convert_to_state` for `GroupsAccumulatorAdapter` (faster median for high cardinality aggregates)
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
Labels: sqllogictest

#12222 Upgrade sqlparser-rs to 0.51.0, support new interval logic from `sqlparse-rs`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/interval.slt
  datafusion/sqllogictest/test_files/interval_mysql.slt
Labels: sql, sqllogictest, functions

#12450 Do not silently ignore unsupported `CREATE TABLE` and `CREATE VIEW` syntax
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
Labels: sql, sqllogictest

#12417 use FileFormat::get_ext as the default file extension filter
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#12453 feat(unparser): adding alias for table scan filter in sql unparser
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12448 fix interval units parsing
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/interval.slt
Labels: sql, sqllogictest

#12462 test(substrait): update TPCH tests
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/cases/function_test.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/testdata/tpch/customer.csv
  datafusion/substrait/tests/testdata/tpch/lineitem.csv
  datafusion/substrait/tests/testdata/tpch/nation.csv
  datafusion/substrait/tests/testdata/tpch/orders.csv
  datafusion/substrait/tests/testdata/tpch/part.csv
  datafusion/substrait/tests/testdata/tpch/partsupp.csv
  datafusion/substrait/tests/testdata/tpch/region.csv
  datafusion/substrait/tests/testdata/tpch/supplier.csv
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_01_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_02_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_03_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_04_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_05_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_06_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_07_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_08_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_09_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_1.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_10.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_10_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_11_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_12_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_13.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_13_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_14.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_14_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_15_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_16.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_16_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_17_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_18.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_18_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_19.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_19_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_2.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_20.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_20_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_21.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_21_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_22.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_22_plan.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_5.json
  datafusion/substrait/tests/testdata/tpch_substrait_plans/query_6.json
  datafusion/substrait/tests/utils.rs
Labels: substrait

#12478 Improve doc wording around scalar authoring
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/macros.rs
Labels: documentation, logical-expr, common, functions

#12479 date_trunc small update for readability
  datafusion/functions/src/datetime/date_trunc.rs
Labels: functions

#12487 Remove deprecated ScalarUDF::new
  datafusion/expr/src/udf.rs
Labels: logical-expr

#12486 Remove deprecated config setup functions
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
Labels: core

#12480 Remove unnecessary shifts in gcd()
  datafusion/functions/src/math/gcd.rs
Labels: functions

#12501 Minor: improve `GroupsAccumulator` docs
  datafusion/expr-common/src/groups_accumulator.rs
Labels: documentation

#12502 Minor: improve `GroupsAccumulatorAdapter` docs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator.rs
Labels: documentation

#12135 Return TableProviderFilterPushDown::Exact when Parquet Pushdown Enabled
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimize_projections/required_indices.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt.temp
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
  datafusion/sqllogictest/test_files/repartition.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/string_view.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest, proto

#12489 Remove Arc wrapping from create_udf's return_type
  datafusion-examples/examples/simple_udf.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/proto/tests/cases/serialize.rs
  datafusion/sqllogictest/src/test_context.rs
Labels: api change, logical-expr, core, sqllogictest, proto

#12477 Make make_scalar_function() result candidate for inlining, by removing the `Arc`
  datafusion/functions-nested/src/utils.rs
  datafusion/functions/src/utils.rs
Labels: api change, functions

#12401 Faster strpos() string function for ASCII-only case
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/strpos.rs
  datafusion/functions/src/unicode/strpos.rs
Labels: functions

#12444 Specialize ASCII case for substr()
  datafusion/functions/src/unicode/substr.rs
Labels: functions

#12398 Bump MSRV to 1.78
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: api change, development-process, core, substrait, proto

#12469 fix: DataFusion panics with "No candidates provided"
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/sql_integration.rs
Labels: api change, sql

#12482 Improve SQLite subquery tables aliasing unparsing
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12512 Minor: use Option rather than Result for not found suggestion
  datafusion/sql/src/expr/function.rs
Labels: sql

#12505 Remove deprecated datafusion_physical_expr::functions module
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/lib.rs
Labels: physical-expr

#12508 Remove deprecated AggregateUDF::new
  datafusion/expr/src/udaf.rs
Labels: logical-expr

#12484 Make `required_guarantees` output to be deterministic
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/physical-expr/src/utils/guarantee.rs
Labels: physical-expr, core

#12495 feat(substrait): set ProjectRel output_mapping in producer
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/serialize.rs
Labels: substrait

#12503 feat:Support applying parquet bloom filters to StringView columns
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
Labels: core

#12506 Deprecate unused ScalarUDF::fun
  datafusion/expr/src/udf.rs
Labels: logical-expr

#12507 Remove deprecated WindowUDF::new
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#12504 Preserve the order of right table in NestedLoopJoinExec
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/sqllogictest/test_files/join.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: physical-expr, sqllogictest

#12513 Improve benchmark for ltrim
  datafusion/functions/benches/ltrim.rs
Labels: functions

#12521 Improve flamegraph profiling instructions
  docs/source/_static/images/flamegraph.svg
  docs/source/library-user-guide/profiling.md
Labels: documentation

#12467 Fix: check ambiguous column reference
  datafusion/common/src/dfschema.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: sql, sqllogictest, common

#12530 Minor: move imports to top in `row_hash.rs`
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr

#12535 tests: Fix typo in config setting name
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#12520 Expose DataFrame select_exprs method
  datafusion/core/src/dataframe/mod.rs
Labels: core

#12522 Replace some usages of `Expr::to_field` with `Expr::qualified_name`
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: logical-expr, optimizer

#12531 Fix NestedLoopJoin performance regression
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: physical-expr, sqllogictest

#12540 Produce informative error message on insert plan type mismatch
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
Labels: core

#12534 Fix unparse table scan with the projection pushdown
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12525 Automate sqllogictest for String, LargeString and StringView behavior
  datafusion/sqllogictest/test_files/string/README.md
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
  datafusion/sqllogictest/test_files/string_functions/substr/substr_table.slt.part
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#12539 Fix unparsing offset
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#12514 support EXTRACT on intervals and durations
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest, functions

#12563 feat: Support adding a single new table factory to SessionStateBuilder
  datafusion/core/src/execution/session_state.rs
Labels: core

#12481 Implement PartialOrd for Expr and sub fields/structs without using hash values
  datafusion/common/src/display/mod.rs
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/join_type.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/window_frame.rs
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/test/user_defined.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: api change, logical-expr, optimizer, core, substrait, common, proto

#12466 feat(planner): Allowing setting sort order of parquet files without specifying the schema
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/order.slt
Labels: sql, core, sqllogictest

#12490 Support List type coercion for CASE-WHEN-THEN expression
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: physical-expr, optimizer, sqllogictest

#12568 Sort metrics alphabetically in EXPLAIN ANALYZE output
  datafusion/physical-plan/src/metrics/mod.rs
Labels: physical-expr

#12545 parquet: Make page_index/pushdown metrics consistent with row_group metrics
  datafusion/core/src/datasource/physical_plan/parquet/metrics.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
  docs/source/user-guide/explain-usage.md
Labels: documentation, api change, core

#12566 Add `RuntimeEnv::try_new` and deprecate `RuntimeEnv::new`
  datafusion-cli/src/main.rs
  datafusion/execution/src/runtime_env.rs
Labels: execution

#12573 Make SessionContext::enable_url_table consume self
  datafusion-examples/examples/external_dependency/query-aws-s3.rs
  datafusion/core/src/execution/context/mod.rs
Labels: api change, core

#12572 Reorgnize the StringView tests in sqllogictests
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
  datafusion/sqllogictest/test_files/string_view.slt
Labels: sqllogictest

#12575 fix parquet infer statistics for BinaryView types
  datafusion/core/src/datasource/file_format/mod.rs
Labels: core
