Repository apache/datafusion, pull requests merged in 2024-03, with the labels that each got.

#9400 feat: support `unnest` with additional columns
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, sqllogictest

#9412 Minor: improve the display name of `unnest` expressions
  datafusion/expr/src/expr.rs
Labels: logical-expr

#9401 Minor: Move function signature check to planning stage
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/acos.rs
  datafusion/functions/src/math/nans.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, optimizer, sqllogictest

#9388 Move the to_timestamp* functions to datafusion-functions
  .github/workflows/rust.yml
  README.md
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/examples/expr_api.rs
  datafusion/common/src/format.rs
  datafusion/core/Cargo.toml
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/columnar_value.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/to_timestamp.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/functions/src/lib.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/to_timestamp.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: documentation, logical-expr, physical-expr, optimizer, core, sqllogictest

#9393 Minor: Support LargeList List Range indexing and fix large list handling in ConstEvaluator
  datafusion/expr/src/field_util.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, optimizer, sqllogictest

#9385 NEW Logo
  README.md
  docs/logos/Datafusion_Branding_Guideline.pdf
  docs/logos/old_logo/DataFUSION-Logo-Dark.svg
  docs/logos/old_logo/DataFUSION-Logo-Dark@2x.png
  docs/logos/old_logo/DataFUSION-Logo-Dark@4x.png
  docs/logos/old_logo/DataFUSION-Logo-Light.svg
  docs/logos/old_logo/DataFUSION-Logo-Light@2x.png
  docs/logos/old_logo/DataFUSION-Logo-Light@4x.png
  docs/logos/old_logo/DataFusion-LogoAndColorPaletteExploration_v01.pdf
  docs/logos/primary_mark/black.png
  docs/logos/primary_mark/black.svg
  docs/logos/primary_mark/black2x.png
  docs/logos/primary_mark/black4x.png
  docs/logos/primary_mark/mixed.png
  docs/logos/primary_mark/mixed.svg
  docs/logos/primary_mark/mixed2x.png
  docs/logos/primary_mark/mixed4x.png
  docs/logos/primary_mark/original.png
  docs/logos/primary_mark/original.svg
  docs/logos/primary_mark/original2x.png
  docs/logos/primary_mark/original4x.png
  docs/logos/primary_mark/white.png
  docs/logos/primary_mark/white.svg
  docs/logos/primary_mark/white2x.png
  docs/logos/primary_mark/white4x.png
  docs/logos/standalone_logo/logo_black.png
  docs/logos/standalone_logo/logo_black.svg
  docs/logos/standalone_logo/logo_black2x.png
  docs/logos/standalone_logo/logo_black4x.png
  docs/logos/standalone_logo/logo_original.png
  docs/logos/standalone_logo/logo_original.svg
  docs/logos/standalone_logo/logo_original2x.png
  docs/logos/standalone_logo/logo_original4x.png
  docs/logos/standalone_logo/logo_white.png
  docs/logos/standalone_logo/logo_white.svg
  docs/logos/standalone_logo/logo_white2x.png
  docs/logos/standalone_logo/logo_white4x.png
  docs/source/_static/images/2x_bgwhite_original.png
  docs/source/_static/images/old_logo/DataFusion-Logo-Background-White.png
  docs/source/_static/images/old_logo/DataFusion-Logo-Background-White.svg
  docs/source/_static/images/old_logo/DataFusion-Logo-Dark.png
  docs/source/_static/images/old_logo/DataFusion-Logo-Dark.svg
  docs/source/_static/images/old_logo/DataFusion-Logo-Light.png
  docs/source/_static/images/old_logo/DataFusion-Logo-Light.svg
  docs/source/_static/images/original.png
  docs/source/_static/images/original.svg
  docs/source/_static/images/original2x.png
  docs/source/_templates/docs-sidebar.html
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation

#9426 Minior: Add tests with `sqrt` with negative argument
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#9414 Move SpawnedTask from datafusion_physical_plan to new `datafusion_common_runtime` crate
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common_runtime/Cargo.toml
  datafusion/common_runtime/README.md
  datafusion/common_runtime/src/common.rs
  datafusion/common_runtime/src/lib.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: core, sqllogictest

#9433 Re-export datafusion-functions-array
  datafusion/core/src/lib.rs
Labels: core

#9424 Minor: Support LargeList for ListIndex
  datafusion/expr/src/field_util.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, sqllogictest

#9425 move ArrayDims, ArrayNdims and Cardinality to datafusion-function-crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9396 refactor: make instr() an alias of strpos()
  datafusion-cli/Cargo.lock
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/scalar.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#9429 Add test case for invalid tz in timestamp literal
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#9434 Minor: simplify call
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#9419 Support IGNORE NULLS for LEAD window function
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9444 fix sqllogicaltest result
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/limit.slt
Labels: sqllogictest

#9449 Minor: docs: rm duplicate words.
  datafusion-examples/examples/advanced_udwf.rs
  datafusion-examples/examples/simple_udwf.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/tests/fuzz_cases/merge_fuzz.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/metrics/builder.rs
  datafusion/physical-plan/src/test/exec.rs
Labels: physical-expr, core

#9442 minor: fix cargo clippy some warning
  datafusion/common/src/parsers.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/execution_props.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/src/engines/postgres_engine/types.rs
Labels: sql, physical-expr, sqllogictest

#9410 fix: sort_batch function unsupported mixed types with list
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: sqllogictest

#9422 refactor: add `join_unwind` to `SpawnedTask`
  clippy.toml
  datafusion/common_runtime/src/common.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/stream.rs
Labels: core

#9445 Ignore null LEAD support for small batch sizes.
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9441 fix: casting to ARRAY types failed
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, sqllogictest

#9431 fix: reading from partitioned `json` & `arrow` tables
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/tests/data/partitioned_table_arrow/part=123/data.arrow
  datafusion/core/tests/data/partitioned_table_arrow/part=456/data.arrow
  datafusion/core/tests/data/partitioned_table_json/part=1/data.json
  datafusion/core/tests/data/partitioned_table_json/part=2/data.json
  datafusion/sqllogictest/test_files/arrow_files.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/json.slt
Labels: core, sqllogictest

#9451 Minor: fix LEAD test description
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#9420 Support `Date32` arguments for `generate_series`
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/udf.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#9454 Port regexp_replace functions and related tests
  datafusion-cli/Cargo.lock
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/regexp.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, core

#9438 Update contributor guide with updated scalar function howto
  docs/source/contributor-guide/index.md
Labels: documentation

#9312 feat: add support for fixed list wildcard in type signature
  datafusion/common/src/utils.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#9304 Add a `ScalarUDFImpl::simplfy()` API, move `SimplifyInfo` et al to datafusion_expr
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/expr_api.rs
  datafusion-examples/examples/simple_udtf.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/src/variable/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/simplification.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/execution_props.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/simplify.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/var_provider.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/wasmtest/src/lib.rs
Labels: logical-expr, physical-expr, optimizer, core

#9411 Implement IGNORE NULLS for FIRST_VALUE
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/aggregate/first_last.rs
  datafusion/physical-expr/src/aggregate/string_agg.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#9333 Add plugable handler for `CREATE FUNCTION`
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/create_function.slt
Labels: sql, logical-expr, core, sqllogictest

#9468 Reduce casts for LEAD/LAG
  datafusion/physical-expr/src/window/lead_lag.rs
Labels: physical-expr

#9486 [CI build] fix chrono suggestions
  datafusion-examples/examples/to_timestamp.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/benches/to_char.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr, optimizer, core

#9473 Make regex dependency optional in datafusion-functions, add CI checks for function packages
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/functions/Cargo.toml
Labels: core

#9459 fix: coalesce function should return correct data type
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/conditional_expressions.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, physical-expr, sqllogictest

#9485 LEAD/LAG calculate default value once
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr

#9500 minor: use arrow-rs casting from Float to Timestamp
  datafusion/physical-expr/src/expressions/cast.rs
Labels: physical-expr

#9503 fix: `generate_series` and `range` panic on edge cases
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/udf.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#9508 Fix undeterministic behaviour of schema nullability of lag window query
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#9077 Add `to_unixtime` function
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/to_unixtime.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/prost.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#9484 Minor: fixed transformed state in UDF Simplify
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#9439 test: port strpos test in physical_expr/src/functions to sqllogictest
  datafusion/physical-expr/src/functions.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: physical-expr, sqllogictest

#9496 Port ArrayHas family to `functions-array`
  datafusion-cli/Cargo.lock
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/array_has.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/utils.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, optimizer

#9510 port array_empty and array_length to datafusion-function-array crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9475 fix: `substr_index` not handling negative occurrence correctly
  datafusion/physical-expr/src/unicode_expressions.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: physical-expr, sqllogictest

#9490 [minor] extract collect file statistics method and add doc
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#9480 test: sqllogictests for multiple tables join
  datafusion/sqllogictest/test_files/join.slt
Labels: sqllogictest

#9498 Add support for ignore nulls for LEAD, LAG in WindowAggExec
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9516 Minior: Improve log expr description
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#9523 port flatten to datafusion-function-array
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9236 feat: Add projection to HashJoinExec.
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/q10.slt.part
  datafusion/sqllogictest/test_files/tpch/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/q12.slt.part
  datafusion/sqllogictest/test_files/tpch/q13.slt.part
  datafusion/sqllogictest/test_files/tpch/q14.slt.part
  datafusion/sqllogictest/test_files/tpch/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/q17.slt.part
  datafusion/sqllogictest/test_files/tpch/q18.slt.part
  datafusion/sqllogictest/test_files/tpch/q19.slt.part
  datafusion/sqllogictest/test_files/tpch/q2.slt.part
  datafusion/sqllogictest/test_files/tpch/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/q21.slt.part
  datafusion/sqllogictest/test_files/tpch/q22.slt.part
  datafusion/sqllogictest/test_files/tpch/q3.slt.part
  datafusion/sqllogictest/test_files/tpch/q4.slt.part
  datafusion/sqllogictest/test_files/tpch/q5.slt.part
  datafusion/sqllogictest/test_files/tpch/q7.slt.part
  datafusion/sqllogictest/test_files/tpch/q8.slt.part
  datafusion/sqllogictest/test_files/tpch/q9.slt.part
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#9482 Add example for `FunctionFactory`
  datafusion-examples/README.md
  datafusion-examples/examples/function_factory.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
Labels: core

#9435 Move date_part, date_trunc, date_bin functions to datafusion-functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/optimizer/src/optimize_projections.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: sql, logical-expr, physical-expr, optimizer, sqllogictest

#9521 fix: support two argument TRIM
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sql, sqllogictest

#9492 Remove physical expr of ListIndex and ListRange, convert to `array_element` and `array_slice` functions
  datafusion/core/src/physical_planner.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, optimizer, core

#9407 feat: function name hints for UDFs
  datafusion-cli/Cargo.lock
  datafusion-examples/examples/rewrite_expr.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr/src/function.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest

#9520 Minor: Improve documentation for registering `AnalyzerRule`
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer, core

#9522 Extend argument types for udf `return_type_from_exprs`
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/udf.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/udf.rs
Labels: api change, logical-expr, physical-expr, core

#9504 move make_array array_append array_prepend array_concat function to datafusion-functions-array crate
  datafusion-cli/Cargo.lock
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/concat.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/macros.rs
  datafusion/functions-array/src/make_array.rs
  datafusion/functions-array/src/udf.rs
  datafusion/functions-array/src/utils.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/value.rs
Labels: sql, logical-expr, physical-expr, optimizer

#9543 Port `StringToArray` to `function-arrays` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr

#9531 Minor: remove `..` pattern matching in sql planner
  datafusion/sql/src/expr/mod.rs
Labels: sql

#9546 Port `struct` to datafusion-functions
  datafusion-cli/Cargo.lock
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/struct.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, physical-expr

#9560 docs: fix extraneous char in array functions table of contents
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#9559 [MINOR]: Fix undeterministic test
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#9524 Port `arrow_typeof` to datafusion-function
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9551 Port `ArraySort` to `function-arrays` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  docs/source/user-guide/expressions.md
Labels: logical-expr, physical-expr, sqllogictest

#9556 refactor: unify some plan optimization in CommonSubexprEliminate
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#9470 Support IGNORE NULLS for FIRST/LAST window function
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9574 fix: incorrect null handling in `range` and `generate_series`
  datafusion/functions-array/src/kernels.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#9535 Port tan, tanh to datafusion-functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/tan.rs
  datafusion/functions/src/math/tanh.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9548 feat(9493): provide access to FileMetaData for files written with ParquetSink
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#9571 Update the comment and Add a check
  datafusion/core/src/datasource/provider.rs
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer, core

#9568 Port `ArrayRepeat` to `functions-array` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9583 Add `FunctionRewrite` API, Move Array specific rewrites to `datafusion_functions_array`
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/registry.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/optimizer/src/analyzer/function_rewrite.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/analyzer/rewrite_expr.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: logical-expr, optimizer, core, sqllogictest

#9537 Move from_unixtime, now, current_date, current_time functions to datafusion-functions
  datafusion-cli/Cargo.lock
  datafusion/core/tests/optimizer_integration.rs
  datafusion/core/tests/simplification.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/signature.rs
  datafusion/functions/src/datetime/current_date.rs
  datafusion/functions/src/datetime/current_time.rs
  datafusion/functions/src/datetime/from_unixtime.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/now.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr, optimizer, core

#9587 minor: update Debug trait impl for WindowsFrame
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/expr/src/window_frame.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, core, sqllogictest

#9596 Initial support LogicalPlan to SQL String
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9563 Remove physical expr of NamedStructField, convert to `get_field` function call
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_planner.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/rewrite.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/struct.rs
  datafusion/physical-expr/src/expressions/get_indexed_field.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, core

#9592 support unnest as subexpression
  datafusion/expr/src/expr_schema.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, sqllogictest

#9578 feat: implement more expr_to_sql functionality
  README.md
  datafusion-cli/Cargo.lock
  datafusion/sql/Cargo.toml
  datafusion/sql/src/lib.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
Labels: documentation, sql

#9601 Move make_date, to_char to datafusion-functions
  datafusion-cli/Cargo.lock
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/make_date.rs
  datafusion/functions/benches/to_char.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  docs/source/contributor-guide/index.md
Labels: logical-expr, physical-expr

#9606 feat: implement aggregation and subquery plans to SQL
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9615 Port ArrayElem/Slice/PopFront/Back into `functions-array`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/extract.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/rewrite.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9621 Minor: Remove datafusion-functions-array dependency from datafusion-optimizer
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: optimizer, sqllogictest

#9618 Remove constant expressions from SortExprs in the SortExec
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#9619 feat: track memory usage for recursive CTE, enable recursive CTEs by default
  datafusion/common/src/config.rs
  datafusion/core/tests/memory_limit.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: sql, core, sqllogictest

#9631 doc: Add missing doc link
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#9630 Add `array_reverse` function to datafusion-function-* crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9628 Move parts of `InListSimplifier` simplify rules to `Simplifier`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/inlist_simplifier.rs
Labels: optimizer

#9629 Port Array Union and Intersect to `functions-array`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/core.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/set_ops.rs
  datafusion/functions-array/src/udf.rs
  datafusion/functions-array/src/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9617 Port `ArrayPosition` and `ArrayPositions` to `functions-array` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/position.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9647 Support AT TIME ZONE clause
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sql, sqllogictest

#9597 Window Linear Mode use smaller buffers
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/window_state.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: logical-expr, physical-expr, core

#9634 Port `ArrayExcept` to `functions-array` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/except.rs
  datafusion/functions-array/src/lib.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/expressions.md
Labels: logical-expr, physical-expr

#9650 chore: improve array expression doc and clean up array_expression.rs
  datafusion/physical-expr/src/array_expressions.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: physical-expr

#9657 Minor: remove clone in `exprlist_to_fields`
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr

#9656 Port `ArrayRemove`, `ArrayRemoveN`, `ArrayRemoveAll` to `functions-array` subcrate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/remove.rs
  datafusion/functions-array/src/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr

#9625 Support IGNORE NULLS for NTH_VALUE window function
  datafusion/physical-expr/src/window/nth_value.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9623 Improve Robustness of Unparser Testing and Implementation
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9649 Adding Constant Check for FilterExec
  datafusion/physical-plan/src/filter.rs
  datafusion/sqllogictest/test_files/filter_without_sort_exec.slt
Labels: sqllogictest

#9651 move array_replace family functions to datafusion-function-array crate
  datafusion-cli/Cargo.lock
  datafusion/core/benches/array_expression.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/src/core.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/position.rs
  datafusion/functions-array/src/replace.rs
  datafusion/functions-array/src/utils.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, physical-expr, core

#9673 chore: remove repetitive word `the the` --> `the` in docs / comments
  datafusion/common/src/stats.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/output_requirements.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-expr/src/binary_map.rs
  datafusion/physical-plan/src/aggregates/order/mod.rs
  datafusion/sql/src/expr/arrow_cast.rs
  datafusion/sqllogictest/test_files/create_function.slt
  datafusion/sqllogictest/test_files/limit.slt
  dev/changelog/13.0.0.md
  dev/changelog/7.0.0.md
  docs/source/contributor-guide/communication.md
  docs/source/library-user-guide/adding-udfs.md
Labels: documentation, sql, physical-expr, core, sqllogictest

#9677 Update example-usage.md to remove reference to simd and rust nightly.
  docs/source/user-guide/example-usage.md
Labels: documentation, development-process

#9627 minor: Remove deprecated methods
  datafusion/common/src/dfschema.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/config.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/aggregate_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/function.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/sorts/sort.rs
Labels: logical-expr, core

#9610 Migrate `arrow_cast` to a UDF
  datafusion-examples/examples/to_char.rs
  datafusion/core/tests/optimizer_integration.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/mod.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: sql, core, sqllogictest

#9640 parquet: Add row_groups_matched_{statistics,bloom_filter} statistics
  datafusion/core/src/datasource/physical_plan/parquet/metrics.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/core/tests/sql/explain_analyze.rs
Labels: core

#9604 Make COPY TO align with CREATE EXTERNAL TABLE
  datafusion-cli/src/catalog.rs
  datafusion-cli/src/exec.rs
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/sql/sql_api.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/csv_files.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/repartition.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/schema_evolution.slt
  docs/source/user-guide/sql/dml.md
Labels: sql, core, sqllogictest

#9223 Support "A column is known to be entirely NULL" in `PruningPredicate`
  datafusion-examples/examples/pruning.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: core, sqllogictest

#9661 Suppress self update for windows CI runner
  .github/actions/setup-windows-builder/action.yaml
Labels: ci: important

#9624 add schema to SQL ast builder
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9642 core/tests/parquet/row_group_pruning.rs: Add tests for strings
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: development-process, core

#9679 Fix incorrect results with multiple `COUNT(DISTINCT..)` aggregates on dictionaries
  datafusion/common/src/scalar/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: physical-expr, sqllogictest

#9644 parquet: Add support for Bloom filters on binary columns
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#9613 Update Arrow/Parquet to `51.0.0`, tonic to `0.11`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/deserialize_to_struct.rs
  datafusion-examples/examples/flight/flight_server.rs
  datafusion-examples/examples/flight/flight_sql_server.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/avro_to_arrow/schema.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql, core

#9436 Support Serde for ScalarUDF in Physical Expressions
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-expr/src/udf.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, core

#9683 Support Union types in `ScalarValue`
  datafusion/common/src/error.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9646 parquet: Add support for row group pruning on FixedSizeBinary
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/datasource/physical_plan/parquet/statistics.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#9686 Make builtin window function output datatype to be derived from schema
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: core

#9681 Add Minimum Supported Rust Version policy to docs
  README.md
Labels: documentation

#9715 Minor: add ticket reference to commented out test
  datafusion/sqllogictest/test_files/copy.slt
Labels: sqllogictest

#9648 Use object_store:BufWriter to replace put_multipart
  Cargo.toml
  datafusion/core/src/datasource/file_format/file_compression_type.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/mod.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
Labels: core

#9687 fix: recursive cte hangs on joins
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: sqllogictest

#9541 Move `starts_with`, `to_hex`,` trim`, `upper` to datafusion-functions (and add string_expressions)
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/lib.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/string/to_hex.rs
  datafusion/functions/src/string/trim.rs
  datafusion/functions/src/string/upper.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, physical-expr

#8693 Support for `extract(x from time)` / `date_part` from time types
  datafusion/common/src/cast.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/expr.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sqllogictest

#9718 doc: Updated known users list and usage dependency description
  docs/source/user-guide/example-usage.md
  docs/source/user-guide/introduction.md
Labels: documentation

#9700 Minor: improve documentation for `CommonSubexprEliminate`
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: optimizer

#9725 build: modify code to comply with latest clippy requirement
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/functions/benches/regx.rs
  datafusion/functions/benches/to_char.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/union.rs
  datafusion/substrait/src/serializer.rs
Labels: logical-expr, physical-expr, optimizer, core, substrait

#9712 Minor: return internal error rather than panic on unexpected error in COUNT DISTINCT
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
Labels: physical-expr

#9685 fix(9678): short circuiting prevented population of visited stack, for common subexpr elimination optimization
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: optimizer, sqllogictest

#9722 perf: improve to_field performance
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/expr_schema.rs
Labels: logical-expr

#9723 make format prefix optional for format options in COPY
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sql, sqllogictest

#9740 Move ascii function to datafusion_functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: logical-expr, physical-expr, sqllogictest

#9739 adding expr to string for IsNotNull IsTrue IsFalse and IsUnkown
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9737 fix: parallel parquet can underflow when max_record_batch_rows < execution.batch_size
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#9744 support format in options of COPY command
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sql, sqllogictest

#9747 Move lower, octet_length to datafusion-functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9752 Minor: remove an outdated TODO in `TypeCoercion`
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer

#9745 fix: change placeholder errors from Internal to Plan
  datafusion/common/src/error.rs
  datafusion/common/src/param_value.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9760 Move levenshtein, uuid, overlay to datafusion-functions
  datafusion-cli/Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/string/overlay.rs
  datafusion/functions/src/string/uuid.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
Labels: sql, logical-expr, physical-expr, core

#9689 improve null handling for to_char
  datafusion-examples/examples/to_char.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#9759 Add Expr->String for ScalarFunction and InList
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9784 Move repeat, replace, split_part to datafusion_functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9774 Minor: Improve documentation about `ColumnarValues::values_to_array`
  datafusion/expr/src/columnar_value.rs
  datafusion/expr/src/udf.rs
Labels: logical-expr

#9775 Fix panic in `struct` function with mixed scalar/array arguments
  datafusion/functions/src/core/struct.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sqllogictest

#9782 Move bit_length and chr functions to datafusion_functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/chr.rs
  datafusion/functions/src/string/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: logical-expr, physical-expr, sqllogictest

#9798 Expr to Sql : Case
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9803 feat: Between expr to sql string
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9807 feat: Expose `array_empty` and `list_empty` functions as alias of `empty` function
  datafusion/functions-array/src/empty.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/scalar_functions.md
Labels: sqllogictest

#9805 Support Expr `Like` to sql
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#9802 feat: Not expr to string
  datafusion/sql/src/unparser/expr.rs
Labels: sql
