Repository apache/datafusion, pull requests merged in 2024-02, with the labels that each got.

#8997 Update minimum rust version to 1.72
  .github/workflows/rust.yml
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/expr/src/expr.rs
  datafusion/physical-expr/src/aggregate/hyperloglog.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  docs/Cargo.toml
Labels: documentation, logical-expr, physical-expr, core, substrait

#8902 Support `FixedSizeList` type coercion
  datafusion/common/src/scalar.rs
  datafusion/common/src/utils.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/arrow_typeof.slt
Labels: api change, logical-expr, optimizer, sqllogictest

#8983 Improve Canonicalize API
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: optimizer

#9087 Split count_distinct.rs into separate modules
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/physical-expr/src/aggregate/count_distinct/native.rs
  datafusion/physical-expr/src/aggregate/count_distinct/strings.rs
Labels: physical-expr

#9096 Fix update_expr for projection pushdown
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: core, sqllogictest

#9107 Cleanup regex_expressions.rs to remove _regexp_match function
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#9069 Unnest with single expression
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest

#8963 Minor: improve GroupsAccumulator and Accumulator documentation
  datafusion/expr/src/accumulator.rs
  datafusion/expr/src/groups_accumulator.rs
  datafusion/expr/src/udaf.rs
Labels: logical-expr

#9037 move InList related simplify to one place
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/inlist_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/or_in_list_simplifier.rs
Labels: optimizer

#9118 docs: add docs and example showing how to get the expression data type
  datafusion-examples/examples/expr_api.rs
  datafusion/expr/src/expr_schema.rs
  docs/source/library-user-guide/working-with-exprs.md
Labels: logical-expr

#9105 Remove External Table Backwards Compatibility Options
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: core, sqllogictest

#9110 feat: support `LargeList` in `flatten`
  datafusion/expr/src/built_in_function.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, physical-expr, sqllogictest

#9112 feat: improve `make_date` performance
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#9120 Refactor min/max value update in Parquet statistics
  datafusion/core/src/datasource/file_format/parquet.rs
Labels: core

#9123 chore: Fix incorrect comment in substrait consumer
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#9119 Minor: Fix Self referential links in readme
  datafusion/core/README.md
Labels: core, devrel

#9114 Add `ColumnarValue::values_to_arrays`, deprecate `columnar_values_to_array`
  datafusion-examples/examples/simple_udf.rs
  datafusion/expr/src/columnar_value.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/functions.rs
Labels: api change, logical-expr, physical-expr, optimizer

#9134 fix: schema metadata retrieval when listing parquet table
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/parquet/schema.rs
Labels: core

#9141 Fix NULL values in FixedSizeList creation
  datafusion/common/src/scalar.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#9075 Add `FunctionRegistry::register_udaf` and `FunctionRegistry::register_udwf`
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/registry.rs
Labels: core

#7893 Change ScalarValue::Struct to ArrayRef
  datafusion/common/src/scalar.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/array_agg_ordered.rs
  datafusion/physical-expr/src/aggregate/nth_value.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: physical-expr, core, sqllogictest

#9080 Support join filter for `SortMergeJoin`
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/join.slt
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: core, sqllogictest

#9128 port position test to scalar
  datafusion/sqllogictest/test_files/position.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#9137 Add `regexp_like, improve docs and examples for `regexp_match`
  datafusion-examples/README.md
  datafusion-examples/examples/regexp.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/regexp.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/tests/data/regex.csv
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/regexp.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, core, sqllogictest

#9125 Partial Sort Plan Implementation
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/physical-plan/src/sorts/mod.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: core, sqllogictest

#9168 minor: fix error message function naming
  datafusion/expr/src/built_in_function.rs
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: logical-expr, sqllogictest

#9169 Minor: Update `DataFrame::write_table` docs
  datafusion/core/src/dataframe/mod.rs
Labels: core

#9180 Improve PhysicalExpr documentation
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr

#9183 Add example of using `PruningPredicate` to datafusion-examples
  datafusion-examples/README.md
  datafusion-examples/examples/pruning.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9184 Docs: Extend `PruningPredicate` with background and implementation info
  datafusion-examples/examples/pruning.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9187 chore: make tokio a workspace dependency
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: physical-expr, core, sqllogictest, substrait

#9194 Examples link in catalogs.rs leads to a 404
  docs/source/library-user-guide/catalogs.md
Labels: documentation

#9113 Create `datafusion-functions-array` crate and move `ArrayToString` function into it
  .github/workflows/rust.yml
  Cargo.toml
  README.md
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/prelude.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/Cargo.toml
  datafusion/functions-array/README.md
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/macros.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: documentation, logical-expr, physical-expr, core

#9198 Add constant expression support to equivalence properties
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9204 chore: update tpch-docker docker repository
  benchmarks/bench.sh
  datafusion/sqllogictest/README.md
Labels: sqllogictest

#9210 MINOR: Add "fs" feature to "tokio", fix "features" typo.
  datafusion/core/Cargo.toml
Labels: core

#9181 Add `to_char` function implementation using chrono formats
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-examples/README.md
  datafusion-examples/examples/to_char.rs
  datafusion/execution/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/to_char.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/timestamps.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#9175 feat: support block gzip for streams
  datafusion/core/src/datasource/file_format/file_compression_type.rs
Labels: core

#9208 chore(pruning): Support `IS NOT NULL` predicates in `PruningPredicate`
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9216 Move `nullif` and `isnan` to datafusion-functions
  .github/workflows/rust.yml
  datafusion/core/Cargo.toml
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/nans.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#9215 Bugfix - Projection Removal Conditions
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
Labels: core

#9207 Partitioning fixes
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/datasource/listing/url.rs
Labels: core

#9202 Return an error when a column does not exist in window function
  datafusion/sql/src/expr/function.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#9232 Revert "chore(pruning): Support `IS NOT NULL` predicates in `PruningPredicate` (#9208)"
  datafusion/core/src/datasource/physical_plan/parquet/row_groups.rs
  datafusion/core/src/physical_optimizer/pruning.rs
Labels: core

#9225 Minor: improve Display of output ordering of `StreamTableExec`
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/physical-plan/src/display.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest

#8985 Support compute return types from argument values (not just their DataTypes)
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/udf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/udf.rs
Labels: api change, logical-expr, physical-expr, optimizer, core

#9220 Dont call multiunzip when no stats
  datafusion/core/benches/sql_planner.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/statistics.rs
Labels: core

#9228 GROUP-BY prioritizes input columns in case of ambiguity
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, sqllogictest

#9244 Minor: chore: improve catalog test in mod.rs
  datafusion/core/src/catalog/mod.rs
Labels: core

#9251 Prepare 36.0.0-rc1
  .gitignore
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/CHANGELOG.md
  datafusion/core/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  dev/changelog/36.0.0.md
  dev/update_datafusion_versions.py
  docs/Cargo.toml
  docs/source/user-guide/configs.md
Labels: documentation, development-process, optimizer, core, sqllogictest

#9154 fix: issue #9130 substitute redundant columns when doing cross join
  datafusion-cli/src/exec.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/same_column_name_cross_join.slt
Labels: sql, logical-expr, sqllogictest

#9233 fix: add `ArrayAndElementAndOptionalIndex` for proper casting in `array_position`
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, sqllogictest

#9240 Support Copy To Partitioned Files
  datafusion/common/src/file_options/mod.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sql, logical-expr, core, sqllogictest

#9245 Minior: Add negative tests about log function
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#9279 Remove circular dependency
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/regex_expressions.rs
Labels: physical-expr

#9263 chore: use taplo to format Cargo.toml manifests
  .github/workflows/rust.yml
  Cargo.toml
  ci/scripts/rust_toml_fmt.sh
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  dev/rust_lint.sh
  taplo.toml
Labels: development-process, physical-expr, optimizer, core

#9226 feat: Implement `FunctionRegistry::register_udwf` and `FunctionRegistry::register_udaf` for SessionContext, MemoryFunctionRegistry and TaskContext
  datafusion/core/src/execution/context/mod.rs
  datafusion/execution/src/registry.rs
  datafusion/execution/src/task.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
Labels: core

#9264 Fix untracked files after rustdoc run
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/dataframe/parquet.rs
Labels: core

#9234 Support List for Array aggregate order and distinct
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/physical-expr/src/aggregate/array_agg_distinct.rs
  datafusion/physical-expr/src/aggregate/count_distinct/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/aggregates_topk.slt
Labels: physical-expr, core, sqllogictest

#9127 fix: issue #8838 discard extra sort when sorted element is wrapped
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/monotonic_projection_test.slt
Labels: physical-expr, sqllogictest

#9270 Minor: Add ticket reference to test
  datafusion/sqllogictest/test_files/copy.slt
Labels: sqllogictest

#9275 Update Docs with Copy partition_by support
  docs/source/user-guide/sql/dml.md
  docs/source/user-guide/sql/write_options.md
Labels: documentation

#9273 Continuing Work of [PR9127]: improved using existing orderings
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/monotonic_projection_test.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, sqllogictest

#9276 Fix partition columns when they they are not at the end of the schema (fix Removing Partition Columns from RecordBatch)
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: core, sqllogictest

#9221 Support IGNORE NULLS for LAG window function
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/tree_node/expr.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_projection.rs
  datafusion/physical-expr/src/window/lead_lag.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait

#9295 fix: issue #9213 substitute ArrayAgg to NthValue to optimize query plan
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
Labels: sql, sqllogictest

#9325 Minor: Adding missing fields to debug for `ScalarFunctionExpr`
  datafusion/physical-expr/src/scalar_function.rs
Labels: physical-expr

#9311 chore: statically link xz2
  datafusion/core/Cargo.toml
Labels: core

#9330 fix: throw error when incursion happen in dataframe api
  datafusion/core/src/dataframe/mod.rs
Labels: core

#9292 Add test to prevent circular dependencies from being added
  datafusion/core/Cargo.toml
  datafusion/core/tests/depcheck.rs
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
Labels: development-process, core

#9337 Substrait: Support ScalarUDF
  datafusion/functions/src/math/mod.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#9340 Make agg_func_substitute test deterministic
  datafusion/sqllogictest/test_files/agg_func_substitute.slt
Labels: sqllogictest

#9108 feat: support `FixedSizeList` Type Coercion
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, sqllogictest

#9342 feat: expand `unnest` to accept arbitrary single array expression
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, sqllogictest

#9316 tests: add tests for writing hive-partitioned parquet
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#9284 feature: support nvl(ifnull) function
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/sqllogictest/test_files/nvl.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sqllogictest

#9313 Move abs to datafusion_functions
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9307 refactor: Change `SchemaProvider::table` to return `Result<Option<..>` rather than `Option<..>`
  datafusion-cli/src/catalog.rs
  datafusion-examples/examples/external_dependency/catalog.rs
  datafusion/core/src/catalog/information_schema.rs
  datafusion/core/src/catalog/listing_schema.rs
  datafusion/core/src/catalog/schema.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/create_drop.rs
Labels: api change, core

#9241 Replace usages of internal_err with exec_err where appropriate
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/nans.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/physical-expr/src/conditional_expressions.rs
  datafusion/physical-expr/src/crypto_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/physical-expr/src/math_expressions.rs
  datafusion/physical-expr/src/regex_expressions.rs
  datafusion/physical-expr/src/string_expressions.rs
  datafusion/physical-expr/src/unicode_expressions.rs
Labels: physical-expr

#9239 feat : Support for deregistering user defined functions
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/execution/src/registry.rs
Labels: core

#9297 refactor: move acos() to function crate
  datafusion-cli/Cargo.lock
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/acos.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/math/nans.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: logical-expr, physical-expr, optimizer

#9376 docs: put flatten in top fn list
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#9329 feat: issue_9285: port builtin reg function into datafusion-function-* (1/3 regexpmatch)
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/lib.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/regexp.slt
Labels: api change, logical-expr, physical-expr, core, sqllogictest

#9265 Add test to verify issue #9161
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#9381 feat: support for defining ARRAY columns in `CREATE TABLE`
  datafusion/sql/src/planner.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sql, sqllogictest

#9377 fix: panic in isnan() when no args are given
  datafusion/functions/src/math/nans.rs
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#9355 feat: support `unnest` in FROM clause
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, sqllogictest

#9364 feat: support nvl2 function
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/sqllogictest/test_files/nvl2.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: sqllogictest

#9379 refactor: move asin() to function crate
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions/src/math/asin.rs
  datafusion/functions/src/math/mod.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
Labels: logical-expr, physical-expr

#9386 delete tail space, fix `error: unused import: DataFusionError`
  datafusion/functions/src/core/nvl2.rs
  datafusion/physical-expr/src/datetime_expressions.rs
Labels: physical-expr

#9352 port range function and change gen_series logic
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-array/src/kernels.rs
  datafusion/functions-array/src/lib.rs
  datafusion/functions-array/src/udf.rs
  datafusion/physical-expr/src/array_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: logical-expr, physical-expr, sqllogictest

#9383 [MINOR]: Generate physical plan, instead of logical plan in the bench test
  datafusion/core/benches/sql_planner.rs
Labels: core

#9019 Add `to_date` function
  datafusion-examples/examples/to_date.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/expr/src/built_in_function.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/physical-expr/src/datetime_expressions.rs
  datafusion/physical-expr/src/functions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/dates.slt
Labels: logical-expr, physical-expr, sqllogictest

#9384 Minor: clarify performance in docs for `ScalarUDF`, `ScalarUDAF` and `ScalarUDWF`
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#9293 Uplift keys/dependencies to use more workspace inheritance
  Cargo.toml
  benchmarks/Cargo.toml
  datafusion-examples/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/functions-array/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  docs/Cargo.toml
  test-utils/Cargo.toml
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait
