Repository apache/datafusion, pull requests merged in 2024-12, with the labels that each got.

#13609 Minor: Simplify `IdentTaker`
  datafusion/sql/src/planner.rs
  datafusion/sql/src/utils.rs
Labels: sql

#13540 Add generate_series() udtf (and introduce 'lazy' `MemoryExec`)
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/functions.rs
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/simple_udtf.rs
  datafusion/catalog/src/table.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/function.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/execution/session_state_defaults.rs
  datafusion/core/src/lib.rs
  datafusion/core/tests/user_defined/user_defined_table_functions.rs
  datafusion/functions-table/Cargo.toml
  datafusion/functions-table/src/generate_series.rs
  datafusion/functions-table/src/lib.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: physical-expr, core, sqllogictest, catalog

#13622 Increase minimum supported Rust version (MSRV) to 1.80
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion/core/Cargo.toml
  datafusion/ffi/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: development-process, core, substrait, proto

#13627 [minor] Consolidate construction of the list field
  datafusion/common/src/dfschema.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-aggregate/COMMENTS.md
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-nested/benches/map.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/dimension.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions-nested/src/map_extract.rs
  datafusion/functions-nested/src/map_keys.rs
  datafusion/functions-nested/src/map_values.rs
  datafusion/functions-nested/src/position.rs
  datafusion/functions-nested/src/range.rs
  datafusion/functions-nested/src/remove.rs
  datafusion/functions-nested/src/repeat.rs
  datafusion/functions-nested/src/replace.rs
  datafusion/functions-nested/src/set_ops.rs
  datafusion/functions-nested/src/sort.rs
  datafusion/functions-nested/src/string.rs
  datafusion/functions-nested/src/utils.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/spill.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/common/mod.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait, common, proto, functions

#13564 feat: Add GroupColumn `Decimal128Array`
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/primitive.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/primitive.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: physical-expr, sqllogictest

#13623 Create `ArrayScalarBuilder` for creating single element List arrays
  datafusion/common/src/scalar/mod.rs
  datafusion/common/src/utils/mod.rs
  datafusion/functions-aggregate-common/src/aggregate/count_distinct/bytes.rs
  datafusion/functions-aggregate-common/src/aggregate/count_distinct/native.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions-nested/src/utils.rs
Labels: common, functions

#13594 feat(substrait): remove dependency on datafusion default features
  .github/workflows/rust.yml
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/lib.rs
  datafusion/substrait/tests/cases/mod.rs
Labels: development-process, substrait

#13611 [minor]: Introduce IndexSet and IndexMap aliases.
  datafusion-cli/Cargo.lock
  datafusion/common/src/cse.rs
  datafusion/common/src/lib.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/select.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, common

#13599 Improve unparsing after optimize_projections optimization
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#13640 fix: CI build failed on main
  datafusion/physical-expr/src/equivalence/class.rs
Labels: physical-expr

#13628 Report current operation when coercion fails
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/expr.slt
Labels: logical-expr, optimizer, sqllogictest

#13524 refactor: change some `hashbrown` `RawTable` uses to `HashTable` (round 2)
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/primitive.rs
Labels: physical-expr

#13641 refactor: replace `OnceLock` with `LazyLock`
  datafusion/common/src/types/builtin.rs
  datafusion/expr/src/logical_plan/statement.rs
Labels: logical-expr, common

#13644 Allow ColumnarValue to array conversion with less copying
  datafusion/expr-common/src/columnar_value.rs
  datafusion/functions-nested/src/array_has.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/functions/src/utils.rs
Labels: functions

#13629 Update governance page for 7 days of voting
  docs/source/contributor-guide/inviting.md
Labels: documentation

#13643 Report current function name when invoke result length wrong
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: physical-expr, core

#13636 Minor: add examples for using `displayable` to show `ExecutionPlans`
  datafusion/physical-plan/src/display.rs
  datafusion/physical-plan/src/execution_plan.rs
Labels: physical-expr

#13632 Allow place holders like `$1` in more types of queries.
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: sql, logical-expr, physical-expr, core, sqllogictest

#13610 test: support run filter_pushdown on windows machine
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
  datafusion/core/tests/parquet/mod.rs
Labels: core

#13544 Add csv loading benchmarks.
  .gitignore
  datafusion/core/Cargo.toml
  datafusion/core/benches/csv_load.rs
  datafusion/core/src/test_util/csv.rs
  datafusion/core/src/test_util/mod.rs
  test-utils/src/data_gen.rs
Labels: core

#13654 fix: cargo msrv check failed
  datafusion/substrait/Cargo.toml
Labels: substrait

#13655 Retract IndexSet, IndexMap type alias
  datafusion-cli/Cargo.lock
  datafusion/common/src/cse.rs
  datafusion/common/src/lib.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/select.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/src/utils.rs
Labels: sql, logical-expr, physical-expr, optimizer, common

#13646 Doc gen: Migrate aggregate functions doc to attribute based.
  datafusion-cli/Cargo.lock
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/doc/src/lib.rs
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/grouping.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/macros/src/lib.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, core, functions

#13666 chore: Minor code improvements suggested by newer clippy
  datafusion/core/src/datasource/listing/url.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/functions/src/string/common.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-plan/src/common.rs
Labels: physical-expr, core, functions

#13667 Increase minimum supported Rust version (MSRV) to 1.80.1
  .github/workflows/rust.yml
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/ffi/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: development-process, core, substrait, proto

#13674 refactor: replace `OnceLock` with `LazyLock` (round 2)
  benchmarks/src/bin/external_aggr.rs
  datafusion-cli/src/main.rs
  datafusion/core/src/datasource/physical_plan/parquet/access_plan.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/functions-aggregate/src/macros.rs
  datafusion/functions-nested/src/macros.rs
  datafusion/functions-table/src/lib.rs
  datafusion/functions-window/src/macros.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/utils/guarantee.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
Labels: logical-expr, physical-expr, core, sqllogictest, functions

#13658 refactor: change some `hashbrown` `RawTable` uses to `HashTable` (round 3)
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: physical-expr

#13668 Minor: Rephrase MSRV policy to be more explanatory
  README.md
Labels: documentation

#13677 fix: repartitioned reads of CSV with custom line terminator
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/csv_files.slt
Labels: core, sqllogictest

#13394 Refactor regexplike signature
  datafusion-examples/examples/regexp.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#13637 Performance: enable array allocation reuse (`ScalarFunctionArgs` gets owned `ColumnReference`)
  datafusion-examples/examples/advanced_udf.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/initcap.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/functions/src/unicode/left.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/functions/src/unicode/reverse.rs
  datafusion/functions/src/unicode/right.rs
  datafusion/functions/src/unicode/rpad.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/unicode/substr.rs
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/functions/src/unicode/translate.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr, functions

#13689 Temporary fix for CI
  datafusion/core/Cargo.toml
Labels: core

#13684 refactor: use `LazyLock` in the `user_doc` macro
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/grouping.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/macros/src/user_doc.rs
Labels: functions

#13693 Unlock lexical-write-integer version.
  datafusion/core/Cargo.toml
Labels: core

#13697 [minor]: Simplifications
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
Labels: physical-expr

#13560 Fix hash join with sort push down
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: core, sqllogictest

#13688 Improve substr() performance by avoiding using owned string
  datafusion/functions/src/unicode/substr.rs
Labels: functions

#13705 chore: reinstate down_cast_any_ref
  datafusion/physical-expr-common/src/physical_expr.rs
Labels: physical-expr

#13696 Optimize performance of `character_length` function
  datafusion/functions/src/unicode/character_length.rs
Labels: functions

#13718 Minor: Output elapsed time for sql logic test
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#13712 refactor: simplify the `make_udf_function` macro
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/crypto/mod.rs
  datafusion/functions/src/datetime/mod.rs
  datafusion/functions/src/encoding/mod.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/mod.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/unicode/mod.rs
Labels: functions

#13724 Improve documentation for TableProvider
  datafusion/catalog/src/table.rs
Labels: documentation, catalog

#13730 Reveal implementing type and return type in simple UDF implementations
  datafusion/expr/src/expr_fn.rs
Labels: logical-expr

#13731 minor: Extract tests for `EXTRACT` AND `date_part` to their own file
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/expr/date_part.slt
Labels: sqllogictest

#13725 Minor: Add doc example to RecordBatchStreamAdapter
  datafusion/physical-plan/src/stream.rs
Labels: physical-expr

#13581 Implement GroupsAccumulator for corr(x,y) aggregate function
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/accumulate.rs
  datafusion/functions-aggregate/src/correlation.rs
Labels: functions

#13709 fix union serialisation order in proto
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#13733 Minor: make unsupported `nanosecond` part a real (not internal) error
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/expr/date_part.slt
Labels: sqllogictest, functions

#13732 Add tests for date_part on columns + timestamps with / without timezones
  datafusion/sqllogictest/test_files/expr/date_part.slt
Labels: sqllogictest

#13691 Optimize performance of `initcap` function (~2x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/initcap.rs
  datafusion/functions/src/string/initcap.rs
Labels: functions

#13749 Minor: Add documentation explaining that initcap oly works for ASCII
  datafusion/functions/src/string/initcap.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#13746 Support sqllogictest --complete with postgres
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#13751 Minor: Remove memory reservation in `JoinLeftData` used in HashJoin
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#13747 Update to bigdecimal 0.4.7
  Cargo.toml
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
Labels: sqllogictest

#13728 chore: clean up dependencies
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/execution/Cargo.toml
  datafusion/expr-common/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/ffi/Cargo.toml
  datafusion/functions-aggregate-common/Cargo.toml
  datafusion/functions-nested/Cargo.toml
  datafusion/functions-table/Cargo.toml
  datafusion/macros/Cargo.toml
  datafusion/optimizer/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/sqllogictest/Cargo.toml
  datafusion/wasmtest/Cargo.toml
  test-utils/Cargo.toml
Labels: logical-expr, physical-expr, optimizer, core, sqllogictest, common, execution, proto

#13701 Minor: improve the Deprecation / API health guidelines
  README.md
  docs/source/library-user-guide/api-health.md
Labels: documentation

#13647 fix: specify roottype in substrait fieldreference
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#13372 Simplify type signatures using `TypeSignatureClass` for mixed type function signature
  datafusion-cli/Cargo.lock
  datafusion/common/src/types/native.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/Cargo.toml
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: logical-expr, sqllogictest, common, functions

#13776 Improve Deprecation Guidelines more
  README.md
  docs/source/library-user-guide/api-health.md
Labels: documentation

#13758 fix: add `null_buffer` length check to `StringArrayBuilder`/`LargeStringArrayBuilder`
  datafusion/functions/src/strings.rs
Labels: functions

#13792 Revert the removal of reservation in HashJoin
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#13790 [minor] add missing slt tests for count(partitioned,aggregated, aggregated cube)
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#13703 Update documentation guidelines for contribution content
  docs/source/contributor-guide/index.md
Labels: documentation

#13777 Add Round trip tests for Array <--> ScalarValue
  datafusion/common/src/scalar/mod.rs
Labels: common

#13798 Minor: improve `Analyzer` docs
  datafusion/optimizer/src/analyzer/mod.rs
Labels: documentation

#13797 Fix `ScalarValue::to_array_of_size` for DenseUnion
  datafusion/common/src/scalar/mod.rs
Labels: common

#13768 fix: pruning by bloom filters for dictionary columns
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#13810 Handle empty rows for `array_distinct`
  datafusion/functions-nested/src/set_ops.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#13756 Fix get_type for higher-order array functions
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/flatten.rs
Labels: logical-expr

#13794 Chore: Do not return empty record batches from streams
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
Labels: physical-expr, core

#13802 Handle possible overflows in StringArrayBuilder / LargeStringArrayBuilder
  datafusion/functions/src/strings.rs
Labels: functions

#13750 fix: Ignore empty files in ListingTable when listing files with or without partition filters, as well as when inferring schema
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/helpers.rs
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#13228 Support 'NULL' as Null in csv parser.
  datafusion-cli/Cargo.lock
  datafusion/common/src/config.rs
  datafusion/core/Cargo.toml
  datafusion/core/benches/csv_load.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/tests/data/csv/aggregate_test_100_with_nulls.csv
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/file_formats.rs
Labels: core, common, proto

#13828 Minor: Extend ScalarValue::new_zero()
  datafusion/common/src/scalar/mod.rs
Labels: common

#13833 chore: temporarily disable Windows Rust flow
  .github/workflows/rust.yml
Labels: development-process

#13806 feat: `parse_float_as_decimal` supports scientific notation and Decimal256
  datafusion-cli/Cargo.lock
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/value.rs
  datafusion/sqllogictest/test_files/options.slt
Labels: sql, sqllogictest

#13832 Minor: Replace `BooleanArray::extend` with `append_n`
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr

#13817 Rename `TypeSignature::NullAry` --> `TypeSignature::Nullary` and improve comments
  datafusion/expr-common/src/signature.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-nested/src/make_array.rs
Labels: logical-expr, functions

#13722 Add example of interacting with a remote catalog
  datafusion-examples/README.md
  datafusion-examples/examples/remote_catalog.rs
  datafusion/catalog/src/catalog.rs
  datafusion/core/src/execution/session_state.rs
Labels: core, catalog

#13848 typo: remove extraneous "`" in doc comment, fix header
  datafusion/execution/src/runtime_env.rs
Labels: execution

#13847 MINOR: typo -- remove extra "`" interfering with doc formatting
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#13841 Support n-ary monotonic functions in ordering equivalence
  datafusion/expr-common/src/sort_properties.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/string/concat.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr, functions

#13823 Replace `execution_mode` with `emission_type` and `boundedness`
  datafusion-cli/src/exec.rs
  datafusion-examples/examples/custom_datasource.rs
  datafusion/common/src/join_type.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/custom_sources_cases/provider_filter_pushdown.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/core/tests/user_defined/insert_operation.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/ffi/src/execution_plan.rs
  datafusion/ffi/src/plan_properties.rs
  datafusion/physical-optimizer/src/output_requirements.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/analyze.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/empty.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/explain.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/test/exec.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/unnest.rs
  datafusion/physical-plan/src/values.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/physical-plan/src/work_table.rs
Labels: api change, physical-expr, optimizer, core, common

#13770 Preserve ordering equivalencies on `with_reorder`
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#13795 replace CASE expressions in predicate pruning with boolean algebra
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/physical-optimizer/src/pruning.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, core, sqllogictest

#13857 fix: enable DF's nested_expressions feature by in datafusion-substrait tests to make them pass
  datafusion/substrait/Cargo.toml
Labels: substrait

#13576 Add configurable normalization for configuration options and preserve case for S3 paths
  datafusion-cli/Cargo.lock
  datafusion-cli/src/object_storage.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/tests/config_from_env.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/set_variable.slt
  docs/source/user-guide/configs.md
Labels: documentation, sql, core, sqllogictest, common

#13315 feat: support normalized expr in CSE
  datafusion/common/src/cse.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
Labels: logical-expr, optimizer, common

#13767 Upgrade to sqlparser `0.53.0`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/src/utils/mod.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/optimizer/src/analyzer/inline_table_scan.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sqllogictest/test_files/information_schema.slt
Labels: sql, logical-expr, optimizer, core, sqllogictest, common, proto

#13861 Minor: Use `resize` instead of `extend` for static values in SMJ logic
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr

#13826 Improve SortPreservingMerge::enable_round_robin_repartition docs
  datafusion/physical-plan/src/sorts/merge.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/sorts/streaming_merge.rs
Labels: physical-expr

#13865 Minor: Unify `downcast_arg` method
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/length.rs
  datafusion/functions-nested/src/string.rs
  datafusion/functions-nested/src/utils.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/power.rs
Labels: functions

#13799 Implement `SHOW FUNCTIONS`
  datafusion/core/src/catalog_common/information_schema.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/information_schema.slt
Labels: sql, core, sqllogictest

#13869 Fix build `use of undeclared type ShowStatementFilter`
  datafusion/sql/src/statement.rs
Labels: sql

#13803 feat(substrait): modular substrait consumer
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/utils.rs
Labels: api change, substrait

#13862 Minor: fix: Include FetchRel when producing LogicalPlan from Sort
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#13859 Minor: improve error message when ARRAY literals can not be planned
  datafusion/sql/src/expr/value.rs
Labels: sql

#13868 Add documentation for `SHOW FUNCTIONS`
  docs/source/user-guide/sql/information_schema.md
Labels: documentation

#13752 Support unicode character for `initcap` function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/initcap.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/unicode/initcap.rs
  datafusion/functions/src/unicode/mod.rs
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#13778 [minor] make recursive package dependency optional
  README.md
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/tree_node.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/set_expr.rs
Labels: documentation, sql, logical-expr, optimizer, common

#13875 Minor: remove unused async-compression `futures-io` feature
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
Labels: core

#13883 chore: Consolidate Example: simplify_udwf_expression.rs into advanced_udwf.rs
  datafusion-examples/examples/advanced_udwf.rs
  datafusion-examples/examples/simplify_udwf_expression.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#13856 Support 1 or 3 arg in generate_series() UDTF
  datafusion/functions-table/src/generate_series.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: sqllogictest

#13894 Minor: change the sort merge join emission as incremental
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr

#13893 Minor: change visibility of hash join utils
  datafusion/core/src/physical_optimizer/join_selection.rs
Labels: core

#13887 Fix `recursive-protection` feature flag
  README.md
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/tree_node.rs
  datafusion/core/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/analyzer/subquery.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/stack.rs
Labels: documentation, sql, logical-expr, optimizer, core, common

#13899 Fix visibility of `swap_hash_join` to be `pub`
  datafusion/core/src/physical_optimizer/join_selection.rs
Labels: core

#13895 Minor: Avoid emitting empty batches in partial sort
  datafusion/physical-plan/src/sorts/partial_sort.rs
Labels: physical-expr

#13882 Prepare for 44.0.0 release: version and changelog
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  dev/changelog/44.0.0.md
  dev/release/generate-changelog.py
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#13824 Support unparsing implicit lateral `UNNEST` plan to SQL text
  datafusion/expr/src/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/rewrite.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql, logical-expr

#13886 fix case_column_or_null with nullable when conditions
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: physical-expr, sqllogictest

#13880 Introduce `UserDefinedLogicalNodeUnparser` for User-defined Logical Plan unparsing
  datafusion-examples/examples/plan_to_sql.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/extension_unparser.rs
  datafusion/sql/src/unparser/mod.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#13805 Preserve constant values across union operations
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: physical-expr, sqllogictest

#13902 chore(deps): update sqllogictest requirement from 0.23.0 to 0.24.0
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#13906 fix : use `get_record_batch_memory_size` for calculating RecordBatch memory size in topK
  datafusion/physical-plan/src/topk/mod.rs
Labels: physical-expr

#13876 ci improvements, update protoc
  .github/actions/setup-macos-aarch64-builder/action.yaml
  .github/actions/setup-macos-builder/action.yaml
  .github/actions/setup-windows-builder/action.yaml
  .github/workflows/dependencies.yml
  .github/workflows/docs_pr.yaml
  .github/workflows/rust.yml
  Cargo.toml
  ci/scripts/rust_example.sh
  datafusion-cli/Cargo.toml
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
Labels: development-process, sqllogictest

#13651 Introduce LogicalPlan invariants, begin automatically checking them
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: logical-expr, optimizer, sqllogictest

#13909 Correct return type for initcap scalar function with utf8view
  datafusion/functions/src/unicode/initcap.rs
  datafusion/functions/src/utils.rs
Labels: functions

#13897 Implement maintains_input_order for AggregateExec
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-expr

#13910 Make it easier to make optimizers: Move join input swapping and related methods into PhysicalOperators
  datafusion/common/src/join_type.rs
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/join_filter.rs
  datafusion/physical-plan/src/joins/mod.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-expr, core, common

#13926 doc-gen: migrate scalar functions (string) documentation 3/4
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/string/to_hex.rs
  datafusion/functions/src/string/uuid.rs
  datafusion/functions/src/unicode/find_in_set.rs
  datafusion/functions/src/unicode/reverse.rs
Labels: functions

#13934 BACKPORT: Correct return type for initcap scalar function with utf8view (#13909)
  datafusion/functions/src/unicode/initcap.rs
  datafusion/functions/src/utils.rs
Labels: functions

#13918 doc-gen: migrate scalar functions (crypto) documentation
  datafusion/functions/src/crypto/digest.rs
  datafusion/functions/src/crypto/md5.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/crypto/sha256.rs
  datafusion/functions/src/crypto/sha384.rs
  datafusion/functions/src/crypto/sha512.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#13920 doc-gen: migrate scalar functions (datetime) documentation 1/2
  datafusion/functions/src/datetime/current_date.rs
  datafusion/functions/src/datetime/current_time.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/date_trunc.rs
  datafusion/functions/src/datetime/from_unixtime.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#13916 Minor : Improve hash join build side recordbatch size accuracy
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#13928 doc-gen: migrate scalar functions (array) documentation 1/3
  datafusion-cli/Cargo.lock
  datafusion/functions-nested/Cargo.toml
  datafusion/functions-nested/src/array_has.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/dimension.rs
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/empty.rs
  datafusion/functions-nested/src/except.rs
  datafusion/functions-nested/src/extract.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#13922 doc-gen: migrate scalar functions (math) documentation 1/2
  datafusion/functions/src/math/cot.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/iszero.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/nans.rs
Labels: functions

#13923 doc-gen: migrate scalar functions (math) documentation 2/2
  datafusion/functions/src/math/nanvl.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/math/random.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/signum.rs
  datafusion/functions/src/math/trunc.rs
Labels: functions

#13927 doc-gen: migrate scalar functions (string) documentation 4/4
  datafusion/functions/src/unicode/left.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/functions/src/unicode/right.rs
  datafusion/functions/src/unicode/rpad.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/unicode/substr.rs
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/functions/src/unicode/translate.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#13945 Revert "Update sqllogictest requirement from 0.24.0 to 0.25.0 (#13917)"
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/test_files/group_by.slt
Labels: sqllogictest

#12978 Implement predicate pruning for `like` expressions (prefix matching)
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/pruning.rs
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer, core

#13924 doc-gen: migrate scalar functions (string) documentation 1/4
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/chr.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/unicode/character_length.rs
Labels: functions

#13952 Support multiple alternative syntaxes in the `user_doc` macro, port `trim` to use new macro
  datafusion/functions/src/string/btrim.rs
  datafusion/macros/src/user_doc.rs
Labels: documentation, functions

#13921 doc-gen: migrate scalar functions (datetime) documentation 2/2
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/now.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/datetime/to_date.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/datetime/to_timestamp.rs
  datafusion/functions/src/datetime/to_unixtime.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions
