Repository apache/datafusion, pull requests merged in 2025-03, with the labels that each got.

#14950 Remove invalid bug reproducer.
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
Labels: core

#14903 Prepare for 46.0.0 release: Version and Changelog
  Cargo.lock
  Cargo.toml
  dev/changelog/46.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#14941 Improve documentation for `DataSourceExec`, `FileScanConfig`, `DataSource` etc
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/lib.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/source.rs
Labels: core, datasource

#14956 Do not swap with projection when file is partitioned
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/datasource/src/file_scan_config.rs
Labels: core

#14964 [branch-46] Do not swap with projection when file is partitioned (#14956)
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/datasource/src/file_scan_config.rs
Labels: core

#14965 [branch-46] Improve documentation for `DataSourceExec`, `FileScanConfig`, `DataSource` etc (#14941)
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/lib.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/source.rs
Labels: core

#14960 MINOR fix(docs): set the proper link for dev-env setup in contrib guide
  docs/source/contributor-guide/index.md
Labels: documentation

#14963 Minor: Add more projection pushdown tests, clarify comments
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/datasource/src/file_scan_config.rs
Labels: core

#14942 Update labeler components
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#14959 Deprecate `Expr::Wildcard`
  datafusion/catalog-listing/src/helpers.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/src/planner.rs
  datafusion/functions-window/src/planner.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, optimizer, substrait, proto, functions

#14976 [branch-46] Deprecate `Expr::Wildcard` (#14959)
  datafusion/catalog-listing/src/helpers.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/utils.rs
  datafusion/functions-aggregate/src/planner.rs
  datafusion/functions-window/src/planner.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, optimizer, substrait, proto, functions

#14977 [branch-46] Update changelog for backports to 46.0.0
  dev/changelog/46.0.0.md
Labels: development-process

#14918 Fix sequential metadata fetching in ListingTable causing high latency
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/test/object_store.rs
Labels: performance, core

#14980 Improve `SessionStateBuilder::new` documentation
  datafusion/core/src/execution/session_state.rs
Labels: documentation, core

#14990 Fix verification script and extended tests due to `rustup` changes
  .github/workflows/extended.yml
  dev/release/verify-release-candidate.sh
Labels: development-process

#14988 Minor: Replace Star and Fork buttons in docs with static versions
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation

#14952 Fix documentation warnings and error if anymore occur
  .github/workflows/docs.yaml
  .github/workflows/docs_pr.yaml
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/build.sh
  docs/source/contributor-guide/howtos.md
  docs/source/library-user-guide/query-optimizer.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process, sqllogictest, common

#14935 chore: Update `SessionStateBuilder::with_default_features` does not replace existing features
  datafusion/core/src/execution/session_state.rs
Labels: core

#14996 Make `create_ordering` pub and add doc for it
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/mod.rs
Labels: core

#14994 Simplify Between expression to Eq
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/utils.rs
  datafusion/sqllogictest/test_files/simplify_expr.slt
Labels: optimizer, sqllogictest

#14927 Count wildcard alias
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: core, sqllogictest, functions

#15007 Minor: Add indentation to EnforceDistribution test plans.
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
Labels: core

#14998 Minor: add method `SessionStateBuilder::new_with_default_features()`
  datafusion/core/src/execution/session_state.rs
Labels: core

#15001 Implement `tree` explain for FilterExec
  datafusion/physical-plan/src/display.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#14968 Unparser add `AtArrow` and `ArrowAt` conversion to BinaryOperator
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#15009 Add dependency checks to verify-release-candidate script
  dev/release/verify-release-candidate.sh
Labels: development-process

#15017 fix: External sort failing on an edge case
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
Labels: core

#14970 Fix: to_char Function Now Correctly Handles DATE Values in DataFusion
  datafusion/functions/src/datetime/to_char.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, functions

#15011 Make Substrait Schema Structs always non-nullable
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#14737 fix: graceful NULL and type error handling in array functions
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/replace.rs
  datafusion/functions-nested/src/resize.rs
  datafusion/functions-nested/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: logical-expr, sqllogictest

#15040 Adjust physical optimizer rule order, put `ProjectionPushdown` at last
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#15012 Move `UnwrapCastInComparison` into `Simplifier`
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/mod.rs
  datafusion/optimizer/src/simplify_expressions/unwrap_cast.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: optimizer, core, sqllogictest

#15044 docs: Improve docs on AggregateFunctionExpr construction
  datafusion/physical-expr/src/aggregate.rs
Labels: physical-expr

#15048 Minor: More comment to aggregation fuzzer
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/mod.rs
Labels: core

#14470 feat: Add `array_max` function support
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-nested/src/max.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#15010 Refactor test suite in EnforceDistribution, to use standard test config.
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
Labels: core

#15051 Remove deprecated function `OptimizerRule::try_optimize`
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/optimizer/src/utils.rs
Labels: optimizer

#15059 Minor: fix CI to make the sqllogic testing result consistent
  .github/workflows/rust.yml
  datafusion/sqllogictest/Cargo.toml
Labels: development-process, sqllogictest

#14821 Refactor SortPushdown using the standard top-down visitor and using `EquivalenceProperties`
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/physical-optimizer/src/enforce_sorting/sort_pushdown.rs
  datafusion/physical-optimizer/src/utils.rs
Labels: optimizer, core

#15031 Improve explain tree formatting for longer lines / word wrap
  datafusion/physical-plan/src/display.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15055 Handle columns in with_new_exprs with a Join
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#15050 Minor: Improve documentation of `need_handle_count_bug`
  datafusion/optimizer/src/decorrelate.rs
Labels: optimizer

#15079 Implement `tree` explain for `HashJoinExec`
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15049 fix: mark ScalarUDFImpl::invoke_batch as deprecated
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-nested/benches/map.rs
  datafusion/functions/benches/character_length.rs
  datafusion/functions/benches/chr.rs
  datafusion/functions/benches/cot.rs
  datafusion/functions/benches/date_bin.rs
  datafusion/functions/benches/date_trunc.rs
  datafusion/functions/benches/encoding.rs
  datafusion/functions/benches/isnan.rs
  datafusion/functions/benches/iszero.rs
  datafusion/functions/benches/make_date.rs
  datafusion/functions/benches/nullif.rs
  datafusion/functions/benches/pad.rs
  datafusion/functions/benches/random.rs
  datafusion/functions/benches/reverse.rs
  datafusion/functions/benches/signum.rs
  datafusion/functions/benches/strpos.rs
  datafusion/functions/benches/substr.rs
  datafusion/functions/benches/substr_index.rs
  datafusion/functions/benches/to_char.rs
  datafusion/functions/benches/to_timestamp.rs
  datafusion/functions/benches/trunc.rs
  datafusion/optimizer/src/eliminate_group_by_constant.rs
Labels: api change, logical-expr, optimizer, core, functions

#15066 Implement tree explain for PartialSortExec
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15082 feat: implement tree explain for `ProjectionExec`
  datafusion/physical-plan/src/projection.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15077 Implement `tree` explain for `SortExec`
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15073 Minor: final `46.0.0` release tweaks: changelog + instructions
  dev/changelog/46.0.0.md
  dev/release/README.md
Labels: development-process

#15081 Implement tree explain for `NestedLoopJoinExec`, `CrossJoinExec`, `So…
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15084 Implement `tree` explain for `BoundedWindowAggExec` and `WindowAggExec`
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15085 implement tree rendering for StreamingTableExec
  datafusion/physical-plan/src/streaming.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15091 fix: Support datatype cast for insert api same as insert into sql
  datafusion/common/src/dfschema.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core, common

#15100 implement tree explain for GlobalLimitExec
  datafusion/physical-plan/src/limit.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15113 Minor: Cleanup useless/duplicated code in gen tools
  datafusion/proto-common/gen/src/main.rs
  datafusion/proto/gen/src/main.rs
Labels: proto

#15034 Add tests for simplification and coercion of `SessionContext::create_physical_expr`
  datafusion/core/tests/expr_api/mod.rs
Labels: core

#15132 Do not display logical_plan win explain `tree` mode 🧹
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/display.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: core, sqllogictest

#15068 fix: unparse for subqueryalias
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#14194 Substrait support for propagating TableScan.filters to Substrait ReadRel.filter
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#15102 Fix wasm32 build on version 46
  .github/workflows/rust.yml
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/wasmtest/Cargo.toml
Labels: development-process

#15124 Fix broken `serde` feature
  .github/workflows/rust.yml
  Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/core_integration.rs
  datafusion/core/tests/serde/mod.rs
Labels: development-process, core

#13672 Add `insta` / snapshot testing to CLI & set up AWS mock
  .github/workflows/rust.yml
  Cargo.lock
  datafusion-cli/CONTRIBUTING.md
  datafusion-cli/Cargo.toml
  datafusion-cli/tests/cli_integration.rs
  datafusion-cli/tests/snapshots/aws_options.snap
  datafusion-cli/tests/snapshots/cli@load_local_csv.sql.snap
  datafusion-cli/tests/snapshots/cli@load_s3_csv.sql.snap
  datafusion-cli/tests/snapshots/cli@select.sql.snap
  datafusion-cli/tests/snapshots/cli_format@automatic.snap
  datafusion-cli/tests/snapshots/cli_format@csv.snap
  datafusion-cli/tests/snapshots/cli_format@json.snap
  datafusion-cli/tests/snapshots/cli_format@nd-json.snap
  datafusion-cli/tests/snapshots/cli_format@table.snap
  datafusion-cli/tests/snapshots/cli_format@tsv.snap
  datafusion-cli/tests/snapshots/cli_quick_test@backslash.snap
  datafusion-cli/tests/snapshots/cli_quick_test@batch_size.snap
  datafusion-cli/tests/snapshots/cli_quick_test@files.snap
  datafusion-cli/tests/snapshots/cli_quick_test@statements.snap
  datafusion-cli/tests/sql/backslash.sql
  datafusion-cli/tests/sql/integration/load_local_csv.sql
  datafusion-cli/tests/sql/integration/load_s3_csv.sql
  datafusion-cli/tests/sql/select.sql
  docs/source/contributor-guide/testing.md
Labels: documentation, development-process

#15103 Implement tree explain for AggregateExec
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15137 Implement tree explain for `RepartitionExec` and `WorkTableExec`
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15090 Expand wildcard to actual expressions in `prepare_select_exprs`
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/src/select.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/alias.slt
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/prepare.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/wildcard.slt
Labels: sql, optimizer, sqllogictest

#15169 fix: date_trunc bench broken by #15049
  datafusion/functions/benches/date_trunc.rs
Labels: functions

#15104 Config: Add support default sql varchar to view types
  datafusion/common/src/config.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, sql, core, sqllogictest, common

#15142 fixed PushDownFilter bug [15047]
  datafusion/optimizer/src/push_down_filter.rs
Labels: optimizer

#15145 Minor: fix extend sqllogical consistent with main test
  .github/workflows/extended.yml
Labels: development-process

#15188 Minor: split EXPLAIN and ANALYZE planning into different functions
  datafusion/core/src/physical_planner.rs
Labels: core

#15185 Implement `tree` explain for `JsonSink`
  datafusion/datasource-json/src/file_format.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15156 Split out `datafusion-substrait` and `datafusion-proto` CI feature checks, increase coverage
  .github/workflows/rust.yml
Labels: development-process

#15180 Remove unused wildcard expanding methods
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr

#15187 Implement tree explain for LazyMemoryExec
  datafusion/physical-plan/src/memory.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15194 implement tree explain for CoalesceBatchesExec
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15204 Implement `tree` explain for `CsvSink`
  datafusion/datasource-csv/src/file_format.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15172 Fix datafusion proto crate `json` feature
  .github/workflows/rust.yml
  datafusion/proto/Cargo.toml
Labels: development-process, proto

#15120 feat: support customize metadata in alias for dataframe api
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/rewrite.rs
Labels: api change, sql, logical-expr, optimizer, core, proto

#15200 feat: support ApproxDistinct with utf8view
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
Labels: sqllogictest, functions

#15215 Add blog link to `EquivalenceProperties` docs
  datafusion/physical-expr/src/equivalence/properties/mod.rs
Labels: physical-expr

#15143 feat: Attach `Diagnostic` to more than one column errors in scalar_subquery and in_subquery
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/tests/cases/diagnostic.rs
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, optimizer, sqllogictest, substrait

#15219 Implement tree explain for InterleaveExec
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15193 Move catalog_common out of core
  Cargo.lock
  datafusion/catalog/Cargo.toml
  datafusion/catalog/src/lib.rs
  datafusion/catalog/src/listing_schema.rs
  datafusion/core/src/catalog_common/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/execution/session_state_defaults.rs
  datafusion/core/src/lib.rs
  datafusion/datasource-csv/Cargo.toml
Labels: core, catalog

#15227 [branch-46] Fix broken `serde` feature (#15124)
  .github/workflows/rust.yml
  Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/tests/core_integration.rs
  datafusion/core/tests/serde/mod.rs
Labels: development-process, core

#15229 [branch-46] Fix wasm32 build on version 46
  .github/workflows/rust.yml
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/wasmtest/Cargo.toml
Labels: development-process, core

#15152 feat: topk functionality for aggregates should support utf8view and largeutf8
  datafusion/physical-optimizer/src/topk_aggregation.rs
  datafusion/physical-plan/src/aggregates/topk/hash_table.rs
  datafusion/physical-plan/src/aggregates/topk/priority_map.rs
  datafusion/sqllogictest/test_files/aggregates_topk.slt
Labels: optimizer, sqllogictest

#15206 Implement `tree` explain for `ArrowFileSink`, fix original URL
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/physical_planner.rs
  datafusion/datasource-csv/src/file_format.rs
  datafusion/datasource-json/src/file_format.rs
  datafusion/datasource/src/file_sink_config.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: core, sqllogictest, proto, datasource

#15232 Implement tree explain for `LocalLimitExec`
  datafusion/physical-plan/src/limit.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15165 Use insta for `DataFrame` tests
  Cargo.lock
  Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/common/src/test_util.rs
  datafusion/core/Cargo.toml
  datafusion/core/tests/dataframe/mod.rs
Labels: core, common

#15241 Re-enable github discussion
  .asf.yaml
Labels: development-process

#15240 Minor: exclude datafusion-cli testing for mac
  .github/workflows/rust.yml
Labels: development-process

#15243 Update version to 46.0.1, add CHANGELOG
  Cargo.lock
  Cargo.toml
  dev/changelog/46.0.1.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#15225 Implement tree explain for CoalescePartitionsExec
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/sqllogictest/test_files/alias.slt
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15189 Enable `used_underscore_binding` clippy lint
  Cargo.toml
  datafusion/core/src/datasource/stream.rs
  datafusion/optimizer/src/eliminate_limit.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/sql/src/unparser/dialect.rs
Labels: sql, optimizer, core

#15163 Simpler to see expressions in explain `tree` mode
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/column.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/physical-expr/src/expressions/like.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/expressions/negative.rs
  datafusion/physical-expr/src/expressions/no_op.rs
  datafusion/physical-expr/src/expressions/not.rs
  datafusion/physical-expr/src/expressions/try_cast.rs
  datafusion/physical-expr/src/expressions/unknown_column.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: physical-expr, sqllogictest, proto

#15166 Support `EXPLAIN ... FORMAT <indent | tree | json | graphviz > ...`
  datafusion-examples/examples/planner_api.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/physical-plan/src/display.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/explain.slt
  docs/source/user-guide/sql/explain.md
Labels: documentation, sql, logical-expr, core, sqllogictest

#15244 Update version to 46.0.1, add CHANGELOG (#15243)
  Cargo.lock
  Cargo.toml
  dev/changelog/46.0.1.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#15135 Fix invalid schema for unions in ViewTables
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/type_coercion.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/union_by_name.slt
Labels: logical-expr, optimizer, sqllogictest

#15250 Make `ListingTableUrl::try_new` public
  datafusion/datasource/src/url.rs
Labels: datasource

#15230 Fix wildcard dataframe case
  benchmarks/src/imdb/convert.rs
  benchmarks/src/tpch/convert.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/select_expr.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: sql, logical-expr, core, sqllogictest, proto

#15249 Simplify the printing of all plans containing `expr` in `tree` mode
  datafusion/datasource-parquet/src/source.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: physical-expr, sqllogictest

#15257 Support utf8view datatype for window
  datafusion/expr/src/type_coercion/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/subquery_sort.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, optimizer, sqllogictest

#15153 fix: compound_field_access doesn't identifier qualifier.
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/struct.slt
Labels: sql, sqllogictest

#15123 chore: remove deprecated variants of UDF's invoke (invoke, invoke_no_args, invoke_batch)
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-nested/src/max.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/tests/cases/mod.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, optimizer, core, proto

#15251 Add debug logging for default catalog overwrite in SessionState build
  datafusion/core/src/execution/session_state.rs
Labels: core

#15270 Implement tree explain for PlaceholderRowExec
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15279 docs: update documentation for Final GroupBy in accumulator.rs
  datafusion/expr-common/src/accumulator.rs
Labels: documentation, logical-expr

#15278 Implement tree explain for UnionExec
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15262 Migrate dataframe tests to `insta`
  datafusion/core/tests/dataframe/dataframe_functions.rs
  datafusion/core/tests/dataframe/describe.rs
Labels: core

#15284 Minor: consistently apply `clippy::clone_on_ref_ptr` in all crates
  datafusion/catalog-listing/src/mod.rs
  datafusion/catalog/src/lib.rs
  datafusion/catalog/src/session.rs
  datafusion/common-runtime/src/lib.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/lib.rs
  datafusion/datasource-avro/src/mod.rs
  datafusion/datasource-csv/src/mod.rs
  datafusion/datasource-json/src/mod.rs
  datafusion/datasource-parquet/src/mod.rs
  datafusion/datasource/src/mod.rs
  datafusion/execution/src/lib.rs
  datafusion/expr-common/src/lib.rs
  datafusion/expr/src/lib.rs
  datafusion/ffi/src/lib.rs
  datafusion/functions-aggregate-common/src/lib.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-table/src/generate_series.rs
  datafusion/functions-table/src/lib.rs
  datafusion/functions-window-common/src/lib.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions/src/lib.rs
  datafusion/optimizer/src/lib.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/proto-common/src/lib.rs
  datafusion/proto/src/lib.rs
  datafusion/sql/src/lib.rs
  datafusion/sqllogictest/src/lib.rs
  datafusion/substrait/src/lib.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait, catalog, common, execution, proto, functions, datasource, ffi

#15280 Add CatalogProvider and SchemaProvider to FFI Crate
  datafusion/ffi/src/catalog_provider.rs
  datafusion/ffi/src/lib.rs
  datafusion/ffi/src/schema_provider.rs
  datafusion/ffi/src/table_provider.rs
  datafusion/ffi/src/tests/catalog.rs
  datafusion/ffi/src/tests/mod.rs
  datafusion/ffi/tests/ffi_integration.rs
Labels: ffi

#15275 feat: Native support utf8view for regex string operators
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: logical-expr, physical-expr, sqllogictest

#15286 minor: fix `data/sqlite` link
  datafusion/sqllogictest/README.md
Labels: documentation, sqllogictest

#15209 chore: Attach Diagnostic to "incompatible type in unary expression" error
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/tests/cases/diagnostic.rs
Labels: sql

#15239 Support logic optimize rule to pass the case that Utf8view datatype combined with Utf8 datatype
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: logical-expr, optimizer, sqllogictest, substrait, common

#15255 Migrate user_defined tests to insta
  datafusion/core/tests/user_defined/expr_planner.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/core/tests/user_defined/user_defined_table_functions.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
Labels: core

#15300 CI Red: Fix union in view table test
  datafusion/sqllogictest/test_files/union.slt
Labels: sqllogictest

#15260 refactor: Move view and stream from `datasource` to `catalog`, deprecate `View::try_new`
  Cargo.lock
  datafusion/catalog/Cargo.toml
  datafusion/catalog/src/lib.rs
  datafusion/catalog/src/stream.rs
  datafusion/catalog/src/view.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/view_test.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: physical-expr, core, catalog, proto

#15212 fix: unparsing left/ right semi/mark join
  .github/workflows/extended.yml
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql, development-process

#15211 fix: handle duplicate WindowFunction expressions in Substrait consumer
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/utils.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/logical_plans.rs
  datafusion/substrait/tests/testdata/test_plans/double_window.substrait.json
  datafusion/substrait/tests/testdata/test_plans/double_window_distinct_windows.substrait.json
Labels: logical-expr, substrait

#15310 Support Duration in min/max agg functions
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#15288 Migrate tests to insta
  Cargo.lock
  datafusion-cli/src/main.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/execution/context/csv.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/catalog/memory.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/schema.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/path_partition.rs
  datafusion/core/tests/sql/select.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer, core, common

#15253 Simplify display format of `AggregateFunctionExpr`, add `Expr::sql_name`
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udaf.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: logical-expr, physical-expr, core, sqllogictest

#14547 feat: introduce `JoinSetTracer` trait for tracing context propagation in spawned tasks
  Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/tracing.rs
  datafusion/common-runtime/Cargo.toml
  datafusion/common-runtime/src/common.rs
  datafusion/common-runtime/src/join_set.rs
  datafusion/common-runtime/src/lib.rs
  datafusion/common-runtime/src/trace_utils.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
  datafusion/core/tests/fuzz_cases/distinct_count_string_fuzz.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/datasource-json/src/source.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/writer.rs
  datafusion/datasource/src/write/orchestration.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/stream.rs
Labels: core, common, datasource

#15335 feat: Support serde for FileScanConfig `batch_size`
  datafusion/datasource/src/file_scan_config.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: proto, datasource

#15329 added explaination for Schema and DFSchema to documentation
  docs/source/library-user-guide/working-with-exprs.md
Labels: documentation

#15322 Implement GroupsAccumulator for min/max Duration
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: performance, sqllogictest, functions

#15299 feat: simplify regex wildcard pattern
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/simplify_expr.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: optimizer, sqllogictest

#15345 Fix empty aggregation function count() in Substrait
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/test_plans/select_count_from_select_1.substrait.json
  datafusion/substrait/tests/testdata/test_plans/select_window_count.substrait.json
Labels: substrait

#15039 Fix array_has_all and array_has_any with empty array
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#15183 chore(deps): Update sqlparser to 0.55.0
  Cargo.lock
  Cargo.toml
  datafusion/datasource/src/statistics.rs
  datafusion/expr/src/window_frame.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/expr/value.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/query.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/resolve.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/struct.slt
  datafusion/sqllogictest/test_files/update.slt
Labels: sql, logical-expr, sqllogictest, datasource

#15159 Only unnest source for `EmptyRelation`
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15327 include some BinaryOperator from sqlparser
  datafusion/expr-common/src/operator.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, physical-expr, sqllogictest, substrait

#15353 Documentation: Plan custom expressions
  docs/source/library-user-guide/adding-udfs.md
Labels: documentation

#15337 fix: write hive partitions for any int/uint/float
  datafusion/datasource/src/write/demux.rs
  datafusion/sqllogictest/test_files/copy.slt
Labels: sqllogictest, datasource

#15217 fix: `core_expressions` feature flag broken, move `overlay` into `core` functions
  .github/workflows/rust.yml
  datafusion/functions/Cargo.toml
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/overlay.rs
  datafusion/functions/src/core/planner.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/string/mod.rs
  datafusion/functions/src/string/overlay.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, development-process, functions

#15390 Restore lazy evaluation of fallible CASE
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: physical-expr, sqllogictest

#15348 Perf: Support Utf8View datatype single column comparisons for SortPreservingMergeStream
  benchmarks/src/sort_tpch.rs
  datafusion/core/benches/sort.rs
  datafusion/physical-plan/src/sorts/cursor.rs
  datafusion/physical-plan/src/sorts/streaming_merge.rs
Labels: core

#15334 Enforce JOIN plan to require condition
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
  datafusion/sqllogictest/test_files/join.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q15.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q22.slt.part
Labels: sql, logical-expr, optimizer, sqllogictest

#15341 Fix type coercion for unsigned and signed integers (`Int64` vs `UInt64`, etc)
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/operator.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: logical-expr, physical-expr, optimizer, sqllogictest

#15354 simplify `array_has` UDF to `InList` expr when haystack is constant
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#15379 Refactor: add `FileGroup` structure for `Vec<PartitionedFile>`
  datafusion-examples/examples/parquet_exec_visitor.rs
  datafusion/catalog-listing/src/helpers.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/datasource-csv/src/file_format.rs
  datafusion/datasource-csv/src/mod.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/datasource-json/src/file_format.rs
  datafusion/datasource-json/src/source.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/mod.rs
  datafusion/datasource/src/display.rs
  datafusion/datasource/src/file_groups.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/file_sink_config.rs
  datafusion/datasource/src/file_stream.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/src/physical_plan/producer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
Labels: api change, core, substrait, proto, datasource

#15421 [Minor] Remove/reorder logical plan rules
  datafusion/optimizer/src/optimizer.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/group_by.slt
Labels: performance, optimizer, sqllogictest

#15266 Improve performance of `first_value` by implementing special `GroupsAccumulator`
  datafusion/common/src/utils/mod.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: performance, core, sqllogictest, common, functions

#15339 Always use `PartitionMode::Auto` in planner
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/join.slt.part
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/plans/q15.slt.part
  datafusion/sqllogictest/test_files/union.slt
Labels: optimizer, core, sqllogictest

#15437 Fix link to Volcano paper
  datafusion/core/src/lib.rs
Labels: core

#15440 Update concepts-readings-events.md
  docs/source/user-guide/concepts-readings-events.md
Labels: documentation

#15426 minor: Add new crates to labeler
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#14413 Add support for DISTINCT + ORDER BY in `ARRAY_AGG`
  datafusion/functions-aggregate-common/src/merge_arrays.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, sqllogictest, functions

#15258 Migrate datasource tests to insta
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/datasource/view_test.rs
Labels: core

#15416 Add `downcast_to_source` method for `DataSourceExec`
  datafusion-examples/examples/parquet_exec_visitor.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/utils.rs
  datafusion/core/tests/sql/path_partition.rs
  datafusion/datasource/src/source.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/substrait/src/physical_plan/producer.rs
Labels: core, substrait, proto, datasource
