Repository apache/datafusion, pull requests merged in 2025-07, with the labels that each got.

#16624 Avoid treating incomparable scalars as equal
  datafusion/common/src/scalar/mod.rs
  datafusion/common/src/utils/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/functions-aggregate-common/src/min_max.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/optimizer/src/simplify_expressions/simplify_predicates.rs
Labels: optimizer, core, common, functions

#16501 restore topk pre-filtering of batches and make sort query fuzzer less sensitive to expected non determinism
  datafusion/core/tests/fuzz_cases/sort_query_fuzz.rs
  datafusion/physical-plan/src/topk/mod.rs
Labels: core, physical-plan

#16604 Support explain tree format debug for benchmark debug
  benchmarks/src/clickbench.rs
  benchmarks/src/h2o.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr, core

#16512 Add microbenchmark for spilling with compression
  datafusion/physical-plan/benches/spill_io.rs
Labels: physical-plan

#16646 Fix parquet filter_pushdown: respect parquet filter pushdown config in scan
  datafusion/datasource-parquet/src/source.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest, datasource

#16530 Add PhysicalExpr optimizer and cast unwrapping
  Cargo.lock
  datafusion/datasource-parquet/src/opener.rs
  datafusion/expr-common/src/casts.rs
  datafusion/expr-common/src/lib.rs
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/unwrap_cast.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/simplifier/mod.rs
  datafusion/physical-expr/src/simplifier/unwrap_cast.rs
  datafusion/pruning/src/pruning_predicate.rs
Labels: logical-expr, physical-expr, optimizer, datasource

#16615 Convert Option<Vec<sort expression>> to Vec<sort expression>
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/execution/logical_plan.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/macros.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/substrait/src/logical_plan/consumer/expr/aggregate_function.rs
  datafusion/substrait/src/logical_plan/consumer/rel/aggregate_rel.rs
  datafusion/substrait/src/logical_plan/producer/expr/aggregate_function.rs
Labels: api change, sql, logical-expr, optimizer, core, substrait, proto, functions

#16656 [branch-48] Fix parquet filter_pushdown: respect parquet filter pushdown config i…
  datafusion/datasource-parquet/src/source.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest, datasource

#15928 Implementation for regex_instr
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/regex/regexpinstr.rs
  datafusion/sqllogictest/test_files/regexp/regexp_instr.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#16672 Refactor error handling to use boxed errors for DataFusionError variants
  datafusion-cli/src/exec.rs
  datafusion-cli/src/object_storage.rs
  datafusion/catalog/src/stream.rs
  datafusion/common/src/error.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/memory_test.rs
  datafusion/datasource-csv/src/file_format.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/tests/apply_schema_adapter_tests.rs
  datafusion/datasource/src/statistics.rs
  datafusion/datasource/src/url.rs
  datafusion/datasource/src/write/orchestration.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/sql_integration.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, sql, logical-expr, core, catalog, common, datasource

#16647 Reuse Rows allocation in RowCursorStream
  datafusion/physical-plan/src/sorts/cursor.rs
  datafusion/physical-plan/src/sorts/stream.rs
Labels: api change, physical-plan

#16657 [branch-48] fix: column indices in FFI partition evaluator (#16480)
  datafusion/ffi/src/udwf/mod.rs
  datafusion/ffi/src/udwf/partition_evaluator_args.rs
Labels: ffi

#16679 [branch-48] Prepare 48.0.1 ad CHANGELOG
  Cargo.lock
  Cargo.toml
  dev/changelog/48.0.1.md
  dev/release/generate-changelog.py
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#16653 refactor: shrink `SchemaError`
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: api change, logical-expr, common

#16608 Add support for Arrow Dictionary type in Substrait
  datafusion/substrait/src/logical_plan/consumer/types.rs
  datafusion/substrait/src/logical_plan/producer/types.rs
  datafusion/substrait/src/variation_const.rs
Labels: substrait

#16698 fix: port arrow inline fast key fix to datafusion
  datafusion/physical-plan/src/sorts/cursor.rs
Labels: physical-plan

#16699 Update Upgrade Guide for 48.0.1
  docs/source/index.rst
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16662 Add reproducer for tpch Q16 deserialization bug
  datafusion/core/tests/data/tpch_part_small.parquet
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core, proto

#16706 optimize `ScalarValue::to_array_of_size` for structural types
  datafusion/common/src/scalar/mod.rs
Labels: common

#16642 refactor filter pushdown APIs
  datafusion/core/tests/physical_optimizer/filter_pushdown/util.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/filter_pushdown.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
Labels: optimizer, core, datasource, physical-plan

#16669 fix: try to lower plain reserved functions to columns as well
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: sql, sqllogictest

#16686 Add the missing equivalence info for filter pushdown
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: core, sqllogictest, datasource, physical-plan

#16680 Add link to upgrade guide in changelog script
  dev/release/generate-changelog.py
Labels: development-process

#16645 Improve display format of BoundedWindowAggExec
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/regexp/regexp_instr.slt
  datafusion/sqllogictest/test_files/subquery_sort.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest, physical-plan

#16722 Use the `test-threads` option in sqllogictests
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#16732 Refactor filter pushdown APIs to enable joins to pass through filters
  datafusion/core/tests/physical_optimizer/filter_pushdown/util.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/filter_pushdown.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/src/engines/postgres_engine/mod.rs
Labels: optimizer, core, sqllogictest, datasource, physical-plan

#15776 Perform type coercion for corr aggregate function
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#16744 Fix in list round trip in df proto
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#16754 ensure MemTable has at least one partition
  datafusion-examples/examples/sql_analysis.rs
  datafusion/catalog/src/memory/table.rs
  datafusion/core/src/datasource/memory_test.rs
  datafusion/core/tests/dataframe/mod.rs
  docs/source/library-user-guide/building-logical-plans.md
Labels: documentation, core, catalog

#16733 chore: Make `GroupValues` and APIs on `PhysicalGroupBy` aggregation APIs public
  datafusion/physical-plan/src/aggregates/group_values/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-plan

#16578 feat: expose intersect distinct/except distinct in dataframe api
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#16761 Support Type Coercion for NULL in Binary Arithmetic Expressions
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/dates.slt
Labels: logical-expr, sqllogictest

#16649 feat: Add a configuration to make parquet encryption optional
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  README.md
  datafusion/common/Cargo.toml
  datafusion/common/src/config.rs
  datafusion/common/src/encryption.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/common/src/lib.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/parquet/encryption.rs
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/source.rs
Labels: documentation, development-process, core, common, datasource

#16443 limit intermediate batch size in nested_loop_join
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-plan

#16742 Add serialization/deserialization and round-trip tests for all tpc-h queries
  datafusion/core/tests/data/tpch_customer_small.parquet
  datafusion/core/tests/data/tpch_lineitem_small.parquet
  datafusion/core/tests/data/tpch_nation_small.parquet
  datafusion/core/tests/data/tpch_orders_small.parquet
  datafusion/core/tests/data/tpch_partsupp_small.parquet
  datafusion/core/tests/data/tpch_region_small.parquet
  datafusion/core/tests/data/tpch_supplier_small.parquet
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core, proto

#16644 Auto start testcontainers for `datafusion-cli`
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  datafusion-cli/CONTRIBUTING.md
  datafusion-cli/Cargo.toml
  datafusion-cli/tests/cli_integration.rs
  datafusion/sqllogictest/Cargo.toml
Labels: development-process, sqllogictest

#15057 Per file filter evaluation
  Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/default_column_values.rs
  datafusion-examples/examples/json_shredding.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/schema_rewriter.rs
Labels: physical-expr, datasource

#16765 Support min/max aggregates for FixedSizeBinary type
  datafusion/functions-aggregate-common/src/min_max.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#16794 fix tests in page_pruning when filter pushdown is enabled by default
  datafusion/core/tests/parquet/page_pruning.rs
Labels: core

#16791 Restore custom SchemaAdapter functionality for Parquet
  datafusion-examples/examples/default_column_values.rs
  datafusion-examples/examples/json_shredding.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/integration_tests/schema_adapter_integration_tests.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/schema_adapter.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/row_filter.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/physical-expr/src/schema_rewriter.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, physical-expr, core, datasource

#16734 Automatically split large single RecordBatches in `MemorySource` into smaller batches
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/execution/datasource_split.rs
  datafusion/core/tests/execution/mod.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-plan/src/metrics/baseline.rs
  datafusion/physical-plan/src/metrics/mod.rs
  datafusion/physical-plan/src/stream.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest, datasource, physical-plan

#16743 Benchmark for char expression
  Cargo.lock
  datafusion/spark/Cargo.toml
  datafusion/spark/benches/char.rs
Labels: spark

#16809 Update `upgrading.md` for new unified config for sql string mapping to utf8view
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16783 fix: support nullable columns in pre-sorted data sources
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/statistics.rs
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/parquet_sorted_statistics.slt
Labels: sqllogictest, datasource

#16785 Fix: Preserve sorting for the COPY TO plan
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#16781 Implement equals for stateful functions
  datafusion-examples/examples/function_factory.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/doc/src/lib.rs
  datafusion/expr/src/async_udf.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
  datafusion/ffi/src/udaf/mod.rs
  datafusion/ffi/src/udf/mod.rs
  datafusion/ffi/src/udwf/mod.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/regr.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/functions-window/src/rank.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/tests/cases/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, optimizer, core, proto, functions, ffi

#16539 fix: The inconsistency between scalar and array on the cast decimal to timestamp
  datafusion/common/src/scalar/mod.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, common

#16822 [branch-49] Update version to `49.0.0`, add changelog
  Cargo.lock
  Cargo.toml
  dev/changelog/49.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#16824 fix: unit test for object_storage
  datafusion-cli/src/object_storage.rs
Labels: development-process

#16802 chore: add tests for out of bounds for NullArray
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest

#16839 docs: Fix broken links
  benchmarks/src/imdb/run.rs
  benchmarks/src/tpch/run.rs
  datafusion/datasource/src/file_stream.rs
  datafusion/datasource/src/mod.rs
  datafusion/physical-plan/src/metrics/mod.rs
Labels: documentation, datasource, physical-plan

#16845 Add note to upgrade guide about MSRV update
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16855 [main] Update version to 49.0.0, add 49.0.0 changelog
  Cargo.lock
  Cargo.toml
  dev/changelog/49.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#16860 test: Fix flaky join tests
  datafusion/sqllogictest/test_files/join.slt.part
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#16880 test: fix more flaky join tests
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#16846 Improve async_udf example and docs
  datafusion-examples/README.md
  datafusion-examples/examples/async_udf.rs
  datafusion/core/src/execution/context/mod.rs
  docs/source/library-user-guide/functions/adding-udfs.md
Labels: documentation, core

#16856 MINOR: add unit tests for chr function
  datafusion/functions/src/string/chr.rs
Labels: functions

#16901 remove deprecated methods from FileScanConfig / DataSourceExec
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/source.rs
Labels: datasource

#16885 Support utf8view for spark hex
  datafusion/spark/src/function/math/hex.rs
  datafusion/sqllogictest/test_files/spark/math/hex.slt
Labels: sqllogictest, spark

#16858 Fixes 3 bugs during serialization and deserialization of physical plans
  Cargo.lock
  datafusion/core/src/physical_planner.rs
  datafusion/ffi/src/udaf/accumulator_args.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core, proto, ffi, physical-plan

#16842 Derive UDF equality from PartialEq, Hash
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/async_udf.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/utils.rs
  datafusion/ffi/src/udf/mod.rs
  datafusion/proto/tests/cases/mod.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, core, proto, ffi

#16857 Ensure Substrait consumer can handle expressions in VirtualTable
  datafusion/substrait/src/logical_plan/consumer/rel/read_rel.rs
  datafusion/substrait/tests/cases/consumer_integration.rs
  datafusion/substrait/tests/testdata/test_plans/virtual_table_with_expressions.substrait.json
Labels: substrait

#16883 Mutable Join Unwind
  datafusion/common-runtime/src/common.rs
Labels: common

#16828 feat(spark): implement Spark datetime function last_day
  Cargo.lock
  datafusion/spark/Cargo.toml
  datafusion/spark/src/function/datetime/last_day.rs
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/sqllogictest/test_files/spark/datetime/last_day.slt
Labels: sqllogictest, spark

#16891 ScalarValue Default + Min + Max
  datafusion/common/src/scalar/mod.rs
Labels: common

#16851 fix: `PlaceholderRowExec::partition_statistics`
  datafusion/core/tests/physical_optimizer/partition_statistics.rs
  datafusion/physical-plan/src/placeholder_row.rs
Labels: core, physical-plan

#16895 minor: add is_superset() method for Interval's
  datafusion/expr-common/src/interval_arithmetic.rs
Labels: logical-expr

#16897 minor: implement with_new_expressions for AggregateFunctionExpr
  datafusion/expr/src/window_state.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/standard.rs
  datafusion/physical-expr/src/window/window_expr.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/bytes.rs
  datafusion/physical-plan/src/test.rs
Labels: logical-expr, physical-expr, physical-plan

#16913 minor: Rename add_spm_on_top as add_merge_on_top
  datafusion/physical-optimizer/src/enforce_distribution.rs
Labels: optimizer

#16911 Implement Helpers for ScopedTimerGuard and Time Structs
  datafusion/physical-plan/src/metrics/value.rs
Labels: physical-plan

#16881 Fix Partial Sort Get Slice Point Between Batches
  datafusion/catalog/src/streaming.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
Labels: core, catalog, physical-plan

#16790 fix: skip predicates on struct unnest in PushDownFilter
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/push_down_filter.slt
  docs/source/user-guide/sql/special_functions.md
Labels: documentation, optimizer, sqllogictest

#16878 optimize `initcap` function by avoiding memory allocation
  datafusion/functions/src/unicode/initcap.rs
Labels: performance, functions

#16853 Docs: Update Upgrading.md to reflect 49.0.0 is released
  Cargo.lock
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16929 Update release process
  dev/release/README.md
Labels: development-process

#16745 Fix `next_up` and `next_down` behavior for zero float values
  datafusion/common/src/rounding.rs
  datafusion/expr-common/src/interval_arithmetic.rs
Labels: logical-expr, common

#16925 feat: support distinct for window
  datafusion-examples/examples/advanced_udwf.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-window/src/planner.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/src/logical_plan/consumer/expr/window_function.rs
  datafusion/substrait/src/logical_plan/producer/expr/window_function.rs
Labels: sql, logical-expr, optimizer, core, sqllogictest, substrait, proto, functions, physical-plan

#16890 fix: regex bench
  datafusion/functions/benches/regx.rs
Labels: functions

#16780 feat: [datafusion-spark] Implement `next_day` function
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/spark/src/function/datetime/next_day.rs
  datafusion/sqllogictest/test_files/spark/datetime/next_day.slt
Labels: sqllogictest, spark

#16943 feat: Support distinct window for sum
  datafusion/ffi/src/udaf/mod.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest, functions, ffi

#16954 Enable physical filter pushdown for hash joins
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: core, physical-plan

#16972 Fix [Bug] Aggregate + TopK fails when asc = false
  datafusion/physical-plan/src/aggregates/topk/hash_table.rs
Labels: physical-plan

#16748 Use tokio::task::coop::poll_proceed by default in CooperativeStream
  datafusion/common-runtime/Cargo.toml
  datafusion/physical-plan/src/coop.rs
Labels: common, physical-plan

#16963 Add `sql_parser.default_null_ordering` config option to customize the default null ordering
  datafusion/common/src/config.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/sql/src/expr/order_by.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/order.slt
  docs/source/user-guide/configs.md
Labels: documentation, sql, core, sqllogictest, common

#16927 Added Example for `Statistical Functions` in Docs
  datafusion/functions-aggregate/src/regr.rs
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, functions
