Repository apache/datafusion, pull requests merged in 2025-10, with the labels that each got.

#17846 Fix the doc about row_groups pruning metrics in explain_usage.md
  docs/source/user-guide/explain-usage.md
Labels: documentation

#17845 Fix docs.rs build: Replace `auto_doc_cfg` with `doc_cfg`
  datafusion-cli/src/lib.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/catalog/src/lib.rs
  datafusion/common-runtime/src/lib.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/lib.rs
  datafusion/datasource-avro/src/mod.rs
  datafusion/datasource/src/mod.rs
  datafusion/doc/src/lib.rs
  datafusion/execution/src/lib.rs
  datafusion/expr-common/src/lib.rs
  datafusion/expr/src/lib.rs
  datafusion/ffi/src/lib.rs
  datafusion/functions-aggregate-common/src/lib.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-table/src/lib.rs
  datafusion/functions-window-common/src/lib.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions/src/lib.rs
  datafusion/macros/src/user_doc.rs
  datafusion/optimizer/src/lib.rs
  datafusion/physical-expr-adapter/src/lib.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/proto-common/src/lib.rs
  datafusion/proto/src/lib.rs
  datafusion/spark/src/lib.rs
  datafusion/sql/src/lib.rs
  datafusion/sqllogictest/src/lib.rs
  datafusion/substrait/src/lib.rs
  datafusion/wasmtest/src/lib.rs
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait, catalog, common, execution, proto, functions, datasource, ffi, physical-plan, spark

#16696 Enable Projection Pushdown Optimization for Recursive CTEs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/cte.slt
Labels: performance, optimizer, sqllogictest

#17855 chore: fix typos & pin action hashes
  .github/actions/setup-macos-aarch64-builder/action.yaml
  .github/workflows/audit.yml
  .github/workflows/rust.yml
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-expr/src/expressions/case.rs
  docs/source/user-guide/introduction.md
  typos.toml
Labels: documentation, development-process

#17835 perf: Optimize CASE for any WHEN false
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#17419 Relax constraint that file sort order must only reference individual columns
  datafusion/catalog/src/stream.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/memory.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/physical_expr.rs
  datafusion/sqllogictest/data/composite_order.csv
  datafusion/sqllogictest/test_files/order.slt
Labels: physical-expr, core, sqllogictest, catalog, datasource

#17796 fix: ignore `DataType::Null` in possible types during csv type inference
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/tests/data/empty_files/some_empty_with_header/a_empty.csv
  datafusion/core/tests/data/empty_files/some_empty_with_header/b.csv
  datafusion/core/tests/data/empty_files/some_empty_with_header/c_nulls_column.csv
  datafusion/datasource-csv/src/file_format.rs
  datafusion/sqllogictest/test_files/ddl.slt
Labels: core, sqllogictest, datasource

#17651 feat: Support swap for `RightMark` Join
  datafusion/common/src/join_type.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join/exec.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join/stream.rs
  datafusion/physical-plan/src/joins/sort_merge_join/tests.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/subquery.slt
Labels: logical-expr, optimizer, core, sqllogictest, common, physical-plan

#17051 Implement `partition_statistics` API for `InterleaveExec`
  datafusion/core/tests/physical_optimizer/partition_statistics.rs
  datafusion/physical-plan/src/union.rs
Labels: core, physical-plan

#17773 Add `CastColumnExpr` for struct-aware column casting
  datafusion/physical-expr/src/expressions/cast_column.rs
  datafusion/physical-expr/src/expressions/mod.rs
Labels: physical-expr

#17848 feat: Simplify `NOT(IN ..)` to `NOT IN` and `NOT (EXISTS ..)` to `NOT EXISTS`
  datafusion/expr/src/operation.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: performance, logical-expr, optimizer

#17859 docs: Improve documentation for FunctionFactory / CREATE FUNCTION
  datafusion/core/src/execution/context/mod.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/logical_plan/ddl.rs
Labels: logical-expr, core

#17826 [forward port] Change version to 50.1.0 and add changelog (#17748)
  Cargo.lock
  Cargo.toml
  dev/changelog/50.1.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#17893 Make limit pushdown work for SortPreservingMergeExec
  datafusion/physical-optimizer/src/limit_pushdown_past_window.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#17892 [branch-50] Backport: fix typos & pin action hashes (#17855)
  .github/actions/setup-macos-aarch64-builder/action.yaml
  .github/workflows/audit.yml
  .github/workflows/rust.yml
  datafusion/common/src/scalar/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-expr/src/expressions/case.rs
  docs/source/user-guide/introduction.md
  typos.toml
Labels: documentation, development-process, physical-expr, core, common

#17890 [branch-50] Backport: Fix docs.rs build: Replace auto_doc_cfg with doc_cfg
  datafusion-cli/src/lib.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/catalog/src/lib.rs
  datafusion/common-runtime/src/lib.rs
  datafusion/common/src/lib.rs
  datafusion/core/src/lib.rs
  datafusion/datasource-avro/src/mod.rs
  datafusion/datasource/src/mod.rs
  datafusion/doc/src/lib.rs
  datafusion/execution/src/lib.rs
  datafusion/expr-common/src/lib.rs
  datafusion/expr/src/lib.rs
  datafusion/ffi/src/lib.rs
  datafusion/functions-aggregate-common/src/lib.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-table/src/lib.rs
  datafusion/functions-window-common/src/lib.rs
  datafusion/functions-window/src/lib.rs
  datafusion/functions/src/lib.rs
  datafusion/macros/src/user_doc.rs
  datafusion/optimizer/src/lib.rs
  datafusion/physical-expr-adapter/src/lib.rs
  datafusion/physical-expr-common/src/lib.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/proto-common/src/lib.rs
  datafusion/proto/src/lib.rs
  datafusion/spark/src/lib.rs
  datafusion/sql/src/lib.rs
  datafusion/sqllogictest/src/lib.rs
  datafusion/substrait/src/lib.rs
  datafusion/wasmtest/src/lib.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, sqllogictest, substrait, catalog, common, execution, proto, functions, datasource, ffi, physical-plan, spark

#17905 Consolidate `apply_schema_adapter_tests`
  datafusion/core/tests/parquet/schema_adapter.rs
  datafusion/datasource-parquet/tests/apply_schema_adapter_tests.rs
Labels: core, datasource

#17858 fix: `ParquetSource` - `with_predicate()` don't have to reset metrics
  datafusion/datasource-parquet/src/source.rs
Labels: datasource

#17919 chore: rename Schema `print_schema_tree` to `tree_string`
  datafusion/common/src/dfschema.rs
Labels: common

#17872 chore: utilize trait upcasting for AsyncScalarUDF PartialEq & Hash
  datafusion/expr/src/async_udf.rs
Labels: logical-expr

#17852 fix: optimizer `common_sub_expression_eliminate` fails in a window function
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#17900 Refactor: Update enforce_sorting tests to use insta snapshots for easier updates
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
Labels: core

#17839 #17838 Rewrite `regexp_like` calls as `~` and `*~` operator expressions when possible
  datafusion/functions/src/regex/regexplike.rs
  datafusion/sqllogictest/test_files/regexp/regexp_like.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: performance, sqllogictest, functions

#17927 minor: impl Clone and Debug on CaseBuilder
  datafusion/expr/src/conditional_expressions.rs
Labels: logical-expr

#17945 Update tests to use insta / make them easier to update
  datafusion/common/src/dfschema.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/sql/select.rs
  datafusion/expr-common/src/type_coercion/binary/tests/arithmetic.rs
  datafusion/physical-expr/src/expressions/cast.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
Labels: logical-expr, physical-expr, core, common, physical-plan

#17951 Minor Test refactor: avoid creating the same SchemaRef
  datafusion/core/tests/physical_optimizer/test_utils.rs
Labels: core

#17926 docs: `Window::try_new_with_schema` with a descriptive error message
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#17929 Precision::<usize>::{add, sub, multiply}: avoid overflows
  datafusion/common/src/stats.rs
Labels: common

#17911 Resolve `ListingScan` projection against table schema including partition columns
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#17553 feat: Support reading CSV files with inconsistent column counts
  datafusion/common/src/config.rs
  datafusion/core/tests/csv_schema_fix_test.rs
  datafusion/datasource-csv/src/file_format.rs
Labels: core, common, datasource
