Repository apache/datafusion, pull requests merged in 2025-08, with the labels that each got.

#16977 Feature: Improve hash Expr performance
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#16962 feat(spark): implement Spark string function like/ilike
  datafusion/spark/src/function/string/ilike.rs
  datafusion/spark/src/function/string/like.rs
  datafusion/spark/src/function/string/mod.rs
  datafusion/sqllogictest/test_files/spark/predicate/ilike.slt
  datafusion/sqllogictest/test_files/spark/predicate/like.slt
Labels: sqllogictest, spark

#17005 Fix window_functions docs formatting
  datafusion/functions-window/src/cume_dist.rs
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/functions-window/src/ntile.rs
  datafusion/functions-window/src/rank.rs
  datafusion/functions-window/src/row_number.rs
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, functions

#16986 fix: `ComposedPhysicalExtensionCodec` does not use the same codec as encoding when decoding
  datafusion-examples/examples/composed_extension_codec.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: proto

#17026 docs: Fix failing documentation check in CI
  datafusion/functions-window/src/row_number.rs
Labels: functions

#16930 fix error result in execute&pre_selection
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/expressions/binary.rs
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, physical-expr

#17041 docs: Fix failing CI
  docs/source/user-guide/sql/window_functions.md
Labels: documentation

#17039 Docs: Add Examples to Config Options page
  datafusion/common/src/config.rs
  datafusion/execution/src/config.rs
  dev/update_config_docs.sh
  docs/source/user-guide/configs.md
Labels: documentation, development-process, common, execution

#17040 Docs: Add Tuning Guide for small data / short queries
  dev/update_config_docs.sh
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#17038 Docs: Update the crate configuration / build settings page
  docs/source/user-guide/crate-configuration.md
Labels: documentation

#16950 Add missing Substrait to DataFusion function name mappings
  datafusion/substrait/src/extensions.rs
  datafusion/substrait/src/logical_plan/consumer/expr/scalar_function.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#17044 refactor: use upstream arrow-rs inline_key_fast
  datafusion/physical-plan/src/sorts/cursor.rs
Labels: physical-plan

#16902 Make `AsyncScalarUDFImpl::invoke_async_with_args` consistent with `ScalarUDFImpl::invoke_with_args`
  datafusion-examples/examples/async_udf.rs
  datafusion/expr/src/async_udf.rs
  datafusion/physical-expr/src/async_scalar_function.rs
  docs/source/library-user-guide/functions/adding-udfs.md
  docs/source/library-user-guide/upgrading.md
Labels: documentation, api change, logical-expr, physical-expr

#17032 feat(spark): implement spark hash function crc32/sha1
  Cargo.lock
  datafusion/spark/Cargo.toml
  datafusion/spark/src/function/hash/crc32.rs
  datafusion/spark/src/function/hash/mod.rs
  datafusion/spark/src/function/hash/sha1.rs
  datafusion/sqllogictest/test_files/spark/hash/crc32.slt
  datafusion/sqllogictest/test_files/spark/hash/sha.slt
  datafusion/sqllogictest/test_files/spark/hash/sha1.slt
Labels: sqllogictest, spark

#16816 Address memory over-accounting in array_agg
  datafusion/functions-aggregate/src/array_agg.rs
Labels: functions

#17003 Support `centroids` config for `approx_percentile_cont_with_weight`
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  docs/source/user-guide/expressions.md
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, sqllogictest, proto, functions

#17059 [branch-49] remove warning from every file open
  datafusion/datasource-parquet/src/source.rs
Labels: datasource

#17057 Derive UDWF equality from PartialEq, Hash
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr/src/async_udf.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/ptr_eq.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
  datafusion/ffi/src/udwf/mod.rs
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/functions-window/src/rank.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/proto/tests/cases/mod.rs
Labels: logical-expr, optimizer, core, proto, functions, ffi

#17031 feat: Limit the memory used in the file metadata cache
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/tests/sql/runtime_config.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/reader.rs
  datafusion/execution/src/cache/cache_manager.rs
  datafusion/execution/src/cache/cache_unit.rs
  datafusion/execution/src/cache/lru_queue.rs
  datafusion/execution/src/cache/mod.rs
  datafusion/execution/src/runtime_env.rs
  docs/source/user-guide/configs.md
Labels: documentation, core, execution, datasource

#17056 fix return field for `is_not_null` expression
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: physical-expr, sqllogictest

#16076 Optimize char expression
  datafusion/spark/src/function/string/char.rs
  datafusion/spark/src/function/string/mod.rs
Labels: spark

#17062 fix: Remove `datafusion.execution.parquet.cache_metadata` config
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/parquet.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest, common, proto, datasource

#17065 Fix equality of parametrizable ArrayAgg function
  datafusion/functions-aggregate/src/array_agg.rs
Labels: functions

#16937 Implement Spark `url` function `parse_url`
  Cargo.lock
  datafusion/spark/Cargo.toml
  datafusion/spark/src/function/url/mod.rs
  datafusion/spark/src/function/url/parse_url.rs
  datafusion/sqllogictest/test_files/spark/url/parse_url.slt
Labels: sqllogictest, spark

#17075 Remove elements deprecated since v 45
  datafusion/common/src/utils/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/lib.rs
  datafusion/doc/src/lib.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/expr-common/src/operator.rs
  datafusion/expr/src/expr.rs
  datafusion/functions-aggregate-common/src/utils.rs
  datafusion/functions/src/strings.rs
  datafusion/optimizer/src/analyzer/mod.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-expr/src/window/mod.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/values.rs
  datafusion/sql/src/unparser/dialect.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, common, execution, functions, physical-plan

#17070 Re-export `object_store` crate via DataFusion Core and Common
  datafusion/core/src/lib.rs
  datafusion/core/src/test/object_store.rs
Labels: core

#17082 Link UdfEq and PtrEq to help understand relationship
  datafusion/expr/src/ptr_eq.rs
  datafusion/expr/src/udf_eq.rs
Labels: documentation, logical-expr

#16779 feat: Dynamic Parquet encryption and decryption properties
  Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion-examples/README.md
  datafusion-examples/examples/parquet_encrypted_with_kms.rs
  datafusion/common/src/config.rs
  datafusion/common/src/encryption.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/parquet/encryption.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/lib.rs
  datafusion/execution/src/parquet_encryption.rs
  datafusion/execution/src/runtime_env.rs
Labels: core, common, execution, datasource

#17099 Improve Hash speed for ScalarFunctionExpr
  datafusion/physical-expr/src/scalar_function.rs
Labels: physical-expr

#17102 Make macros in common::test_util hygenic and not dependent on user dependencies
  datafusion/common/src/test_util.rs
Labels: common

#17108 minor: remove unnecessary clippy:large_enum_variant allows
  datafusion/expr/src/planner.rs
  datafusion/expr/src/simplify.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: logical-expr, optimizer

#16893 minor: Improve equivalence handling of joins
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/physical-expr/src/equivalence/properties/joins.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: physical-expr, core, sqllogictest, physical-plan

#17088 Simplify comparisons and binary operations involving NULL
  datafusion/expr-common/src/operator.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/unwrap_cast.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/spark/predicate/ilike.slt
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: performance, logical-expr, optimizer, sqllogictest, substrait

#17109 Set a lower threshold for clippy to flag large error variants
  clippy.toml
  datafusion/sqllogictest/src/engines/datafusion_engine/error.rs
Labels: sqllogictest

#16445 Add dynamic filter (bounds) pushdown to HashJoinExec
  Cargo.lock
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: core, physical-plan

#17119 Remove the "run extended tests" github PR commend action
  .github/workflows/extended.yml
  .github/workflows/pr_comment_commands.yml
  docs/source/contributor-guide/testing.md
Labels: development-process

#17112 feat: add `isodow` (ISO day-of-week) support to date_part (Monday = 0)
  datafusion/functions/src/datetime/date_part.rs
  datafusion/sqllogictest/test_files/expr/date_part.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#17024 feat(spark): implement spark datetime function date_add/date_sub
  datafusion/spark/src/function/datetime/date_add.rs
  datafusion/spark/src/function/datetime/date_sub.rs
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/sqllogictest/test_files/spark/datetime/date_add.slt
  datafusion/sqllogictest/test_files/spark/datetime/date_sub.slt
  datafusion/sqllogictest/test_files/spark/datetime/dateadd.slt
Labels: sqllogictest, spark

#17143 [branch-49] Backport #17129 to branch 49
  datafusion/datasource/src/source.rs
  datafusion/sqllogictest/data/1.parquet
  datafusion/sqllogictest/data/2.parquet
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest, datasource

#17130 Derive `AggregateUDFImpl` equality, hash from `Eq`, `Hash` traits
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udf_eq.rs
  datafusion/expr/src/udwf.rs
  datafusion/ffi/src/udaf/mod.rs
  datafusion/functions-aggregate/src/approx_distinct.rs
  datafusion/functions-aggregate/src/approx_median.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/correlation.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/covariance.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/grouping.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/regr.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-aggregate/src/variance.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/proto/tests/cases/mod.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, logical-expr, physical-expr, optimizer, core, proto, functions, ffi

#17107 Update dev env documentation to reflect pinned rust version
  docs/source/contributor-guide/development_environment.md
Labels: documentation

#16999 (Re)Support old syntax for `approx_percentile_cont` and `approx_percentile_cont_with_weight`
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, sql, sqllogictest, functions

#17123 Pass the input schema to stats_projection for ProjectionExpr
  datafusion/physical-plan/src/projection.rs
Labels: physical-plan

#17181 Normalize `NUL` to `\0` in sqllogictests
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/spark/string/char.slt
Labels: sqllogictest

#17167 Simplify `GetFieldFunc`'s `display_name`, `schema_name`
  datafusion/functions/src/core/getfield.rs
Labels: functions

#17205 Minor: Fix compiler warning when compiling `datafusion-cli`
  datafusion/datasource-parquet/src/reader.rs
Labels: datasource

#17154 Refactor: Do not silently ignore errors in `stats_projection`
  datafusion/physical-plan/src/projection.rs
Labels: physical-plan

#17133 [Parquet Metadata Cache] Document the ListingTable cache
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/lib.rs
  datafusion/execution/src/cache/cache_manager.rs
  datafusion/execution/src/cache/cache_unit.rs
Labels: core, execution

#16933 feat: implement QUALIFY clause
  datafusion/sql/src/select.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/qualify.slt
  docs/source/user-guide/sql/select.md
Labels: documentation, sql, sqllogictest

#17202 Doc: Update upgrade guide for the rewritten NLJ operator
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#17199 Remove redundant `plan` from extension's check_invariants
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: api change, logical-expr, core, substrait

#17235 Preserve `distinct` and `ignore_nulls` in window expressions during proto serde
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#17224 fix: deserialization error for `FilterExec` (predicates with inlist)
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#17254 [branch-49] Backport fix: deserialization error for FilterExec (predicates with inlist)
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#17231 fix: Windows paths crashing core tests
  datafusion/common/src/test_util.rs
  datafusion/core/tests/parquet/encryption.rs
  datafusion/core/tests/tracing/mod.rs
Labels: core, common

#17244 fix: sort should always output batches with `batch_size` rows
  datafusion/physical-plan/src/sorts/sort.rs
Labels: physical-plan

#17270 [branch-49] FFI_RecordBatchStream was causing a memory leak (#17190)
  datafusion/ffi/src/record_batch_stream.rs
Labels: ffi

#17272 fix: align `array_has` null buffer for scalar
  datafusion/physical-expr-common/src/datum.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#17182 Fix PartialOrd for ScalarUDF
  datafusion/expr/src/udf.rs
Labels: logical-expr

#17274 fix: align `array_has` null buffer for scalar (#17272)
  datafusion/physical-expr-common/src/datum.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: physical-expr, sqllogictest

#17280 Make dynamic filter creation in HashJoinExec deterministic against partition evaluation order
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: core, physical-plan

#17264 Improve documentation for Signature, Volatility, and TypeSignature
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/udf.rs
Labels: documentation, logical-expr

#17127 Consolidate Parquet Metadata handling into its own module and struct `DFParquetMetadata`
  datafusion/common/src/encryption.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/metadata.rs
  datafusion/datasource-parquet/src/mod.rs
  datafusion/datasource-parquet/src/reader.rs
Labels: core, common, datasource

#17287 [main] Forward port `49.0.2` version and changelog (#17277)
  Cargo.lock
  Cargo.toml
  dev/changelog/49.0.2.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#17248 Add documentation for UNION schema handling.
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: logical-expr, optimizer

#17213 chore: add example for how to use TrackConsumersPool
  datafusion-examples/README.md
  datafusion-examples/examples/memory_pool_execution_plan.rs
  datafusion-examples/examples/memory_pool_tracking.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/physical-plan/src/execution_plan.rs
Labels: execution, physical-plan

#17303 minor: Remove extra line break in explain physical plan
  datafusion/datasource-parquet/src/source.rs
  datafusion/sqllogictest/test_files/parquet_statistics.slt
Labels: sqllogictest, datasource

#17295 Support from-first SQL syntax
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/from-first.slt
  docs/source/user-guide/sql/select.md
Labels: documentation, sql, sqllogictest

#17308 chore: check the error message log
  datafusion/core/tests/catalog/memory.rs
Labels: core

#17276 Expand sql_planner benchmark for benchmarking physical and logical optimization.
  datafusion/core/benches/sql_planner.rs
Labels: core

#17293 Encapsulate early File pruning in parquet opener in its own stream
  datafusion/datasource-parquet/src/opener.rs
Labels: datasource

#17282 fix: dataframe function count_all with alias
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/dataframe/dataframe_functions.rs
Labels: core

#17296 feat: Support SortMergeJoin proto serde
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#17329 fix(doc): update the link of deprecation guidelines (#17328)
  README.md
Labels: documentation

#17304 refactor: Split `SortMergeJoin` into multiple modules
  datafusion/physical-plan/src/joins/sort_merge_join/exec.rs
  datafusion/physical-plan/src/joins/sort_merge_join/metrics.rs
  datafusion/physical-plan/src/joins/sort_merge_join/mod.rs
  datafusion/physical-plan/src/joins/sort_merge_join/stream.rs
Labels: physical-plan

#17142 Add `cfg(feature = "avro")` attribute to Avro example in SQL API docs
  docs/source/library-user-guide/using-the-sql-api.md
Labels: documentation

#17339 add a ci job for typo checking
  .github/workflows/rust.yml
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/src/joins/join_filter.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  typos.toml
Labels: development-process, core, physical-plan

#17347 Push the limits past window functions
  datafusion/common/src/config.rs
  datafusion/common/src/tree_node.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/limit_pushdown_past_window.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/window.slt
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, sqllogictest, common

#16946 feat(spark): implement Spark conditional function if
  datafusion/spark/src/function/conditional/if.rs
  datafusion/spark/src/function/conditional/mod.rs
  datafusion/sqllogictest/test_files/spark/conditional/if.slt
Labels: sqllogictest, spark
