Repository apache/datafusion, pull requests merged in 2025-09, with the labels that each got.

#17315 Fix incorrect memory accounting for sliced `StringViewArray`
  datafusion/physical-plan/src/spill/spill_manager.rs
Labels: physical-plan

#17383 minor: use debug level log for physical optimizer
  datafusion/core/src/physical_planner.rs
Labels: core

#17412 Fix syntax error in DDL documentation example
  docs/source/user-guide/sql/ddl.md
Labels: documentation

#17394 Avoid panic when 'with order' expression could not be converted to a logical expression
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: sql, sqllogictest

#17393 Fix PartialOrd for Window
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#17342 feat: Make Parquet EncryptionFactory async
  Cargo.lock
  datafusion-examples/examples/parquet_encrypted_with_kms.rs
  datafusion/core/tests/parquet/encryption.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/parquet_encryption.rs
Labels: core, execution, datasource

#17371 fix bounds accumulator reset in HashJoinExec dynamic filter pushdown
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/src/joins/hash_join/exec.rs
Labels: core, physical-plan

#17443 Add PhysicalExpr::is_volatile_node to upgrade guide
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#17426 Re-enable page index for encrypted Parquet
  datafusion/datasource-parquet/src/opener.rs
Labels: datasource

#17388 Re-export apache-avro when avro feature flag is set
  datafusion/core/src/lib.rs
  datafusion/datasource-avro/src/mod.rs
Labels: core, datasource

#17430 docs: Render `--` properly in profiling docs
  docs/source/library-user-guide/profiling.md
Labels: documentation

#17364 Improved experience when remote object store URL does not end in /
  datafusion-cli/tests/cli_integration.rs
  datafusion-cli/tests/snapshots/s3_url_fallback@s3_url_fallback.snap
  datafusion/datasource/src/url.rs
Labels: datasource

#17431 feat: Support binary data types for `SortMergeJoin` `on` clause
  datafusion/physical-plan/src/joins/sort_merge_join/exec.rs
  datafusion/physical-plan/src/joins/sort_merge_join/stream.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: sqllogictest, physical-plan

#17391 Extract complex default impls from AggregateUDFImpl trait
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udaf.rs
Labels: logical-expr

#17165 fix: Implement AggregateUDFImpl::reverse_expr for StringAgg
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#17465 Support csv truncated rows in datafusion
  datafusion/common/src/config.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/datasource-csv/src/file_format.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: core, common, proto, datasource

#17381 better preserve statistics when applying limits
  datafusion/common/src/stats.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/core/tests/physical_optimizer/partition_statistics.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/parquet_statistics.slt
Labels: core, sqllogictest, common, physical-plan

#17438 Fix `PartialOrd` for logical plan nodes and expressions
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udwf.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, substrait

#17495 refactor: Move `SMJ` tests into own file
  datafusion/physical-plan/src/joins/sort_merge_join/exec.rs
  datafusion/physical-plan/src/joins/sort_merge_join/mod.rs
  datafusion/physical-plan/src/joins/sort_merge_join/tests.rs
Labels: physical-plan

#17492 move MinAggregator and MaxAggregator to functions-aggregate-common
  Cargo.lock
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource-parquet/src/metadata.rs
  datafusion/functions-aggregate-common/src/min_max.rs
  datafusion/functions-aggregate/src/min_max.rs
Labels: functions, datasource

#17250 Document how schema projection works.
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
Labels: logical-expr, optimizer

#17302 fix: Ensure the CachedParquetFileReader respects the metadata prefetch hint
  datafusion/datasource-parquet/src/reader.rs
Labels: datasource

#17556 minor: Update doc comments on type signature
  datafusion/expr-common/src/signature.rs
Labels: logical-expr

#17013 feat(spark): implement Spark bitwise function shiftleft/shiftright/shiftrightunsighed
  datafusion/spark/src/function/bitwise/bit_shift.rs
  datafusion/spark/src/function/bitwise/mod.rs
  datafusion/sqllogictest/test_files/spark/bitwise/shiftright.slt
  datafusion/sqllogictest/test_files/spark/bitwise/shiftrightunsigned.slt
  datafusion/sqllogictest/test_files/spark/math/shiftleft.slt
Labels: sqllogictest, spark

#17549 feat: Ensure explain format in config is valid
  datafusion-cli/src/main.rs
  datafusion/common/src/config.rs
  datafusion/common/src/format.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/statement.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: sql, logical-expr, sqllogictest, common

#17545 Trying cargo machete to prune unused deps.
  Cargo.lock
  benchmarks/Cargo.toml
  datafusion-cli/Cargo.toml
  datafusion/catalog/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/datasource-avro/Cargo.toml
  datafusion/datasource-csv/Cargo.toml
  datafusion/datasource-json/Cargo.toml
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource/Cargo.toml
  datafusion/physical-expr-adapter/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/pruning/Cargo.toml
  datafusion/session/Cargo.toml
  datafusion/spark/Cargo.toml
  datafusion/wasmtest/Cargo.toml
Labels: physical-expr, optimizer, core, catalog, proto, datasource, physical-plan, spark

#17570 Fix typo in error message in `substring.rs`
  datafusion/sql/src/expr/substring.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#17450 feat: Simplify CASE WHEN true THEN expr to expr
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/projection.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: optimizer, sqllogictest

#17584 datafusion/substrait: enable `unicode_expressions` in dev-dependencies to fix substring planning test
  datafusion/substrait/Cargo.toml
Labels: substrait

#17551 fix: Prevent duplicate expressions in DynamicPhysicalExpr
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-plan/src/joins/hash_join/exec.rs
  datafusion/physical-plan/src/joins/hash_join/shared_bounds.rs
  datafusion/physical-plan/src/joins/hash_join/stream.rs
Labels: core, physical-plan

#17332 feat: add `sql` feature to make sql planning optional
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  README.md
  datafusion-cli/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/column.rs
  datafusion/common/src/config.rs
  datafusion/common/src/error.rs
  datafusion/common/src/parsers.rs
  datafusion/common/src/spans.rs
  datafusion/common/src/table_reference.rs
  datafusion/common/src/utils/mod.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/expr_api/mod.rs
  datafusion/execution/Cargo.toml
  datafusion/expr/Cargo.toml
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/utils.rs
  datafusion/expr/src/window_frame.rs
  datafusion/functions-nested/Cargo.toml
  datafusion/functions-nested/src/planner.rs
  datafusion/physical-expr-common/Cargo.toml
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/sql/Cargo.toml
  datafusion/sql/src/expr/function.rs
  datafusion/substrait/Cargo.toml
  datafusion/wasmtest/Cargo.toml
Labels: documentation, sql, development-process, logical-expr, physical-expr, optimizer, core, substrait, common, execution, proto, physical-plan

#17622 fix: `SortExec` `TopK` OOM
  datafusion/physical-plan/src/topk/mod.rs
Labels: physical-plan

#17613 [branch-50] fix: Ensure the CachedParquetFileReader respects the metadata prefetch hint (#17302)
  datafusion/datasource-parquet/src/reader.rs
Labels: datasource

#17524 fix: Change `OuterReferenceColumn` to contain the entire outer field to prevent metadata loss
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/unnest.slt
Labels: sql, logical-expr, core, sqllogictest

#17602 perf: Simplify CASE for any WHEN TRUE
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
Labels: optimizer

#17644 minor: Ensure `datafusion-sql` package dependencies have `sql` flag
  datafusion/sql/Cargo.toml
Labels: sql

#17525 fix: Preserves field metadata when creating logical plan for VALUES expression
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#17647 chore: Update dynamic filter formatting
  datafusion/core/tests/fuzz_cases/topk_filter_pushdown.rs
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/physical-expr/src/expressions/dynamic_filters.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/push_down_filter.slt
  datafusion/sqllogictest/test_files/topk.slt
Labels: physical-expr, core, sqllogictest

#17669 docs: deduplicate links in `introduction.md`
  docs/source/user-guide/introduction.md
Labels: documentation

#17574 Add explicit PMC/committers list to governance docs page
  docs/scripts/update_committer_list.py
  docs/source/contributor-guide/governance.md
Labels: documentation

#17678 fix: Ignore governance doc from typos
  typos.toml
Labels: development-process

#17638 minor: Improve hygiene for `datafusion-functions` macros
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/length.rs
  datafusion/functions-nested/src/string.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/power.rs
  datafusion/spark/src/function/bitmap/bitmap_count.rs
Labels: functions, spark

#17664 feat(small): Display `NullEquality` in join executor's `EXPLAIN` output
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/physical-plan/src/joins/hash_join/exec.rs
  datafusion/physical-plan/src/joins/sort_merge_join/exec.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/join_is_not_distinct_from.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: core, sqllogictest, physical-plan

#17653 [unparser] Custom timestamp format for DuckDB
  Cargo.lock
  datafusion/sql/Cargo.toml
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#17655 feat(substrait): add time literal support
  datafusion/substrait/src/logical_plan/consumer/expr/literal.rs
  datafusion/substrait/src/logical_plan/producer/expr/literal.rs
Labels: substrait

#17657 Support LargeList for array_sort
  datafusion/functions-nested/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#17658 Support FixedSizeList for array_except
  datafusion/functions-nested/src/except.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#17673 fix: null padding for `array_reverse` on `FixedSizeList`
  datafusion/functions-nested/src/reverse.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#17672 chore: refactor array fn signatures & add more slt tests
  datafusion/functions-nested/src/array_has.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/flatten.rs
  datafusion/functions-nested/src/length.rs
  datafusion/functions-nested/src/remove.rs
  datafusion/functions-nested/src/resize.rs
  datafusion/functions-nested/src/reverse.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#17666 Support FixedSizeList for array_to_string
  datafusion/common/src/cast.rs
  datafusion/functions-nested/src/string.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest, common

#17683 minor: add SQLancer fuzzed SLT case for natural joins
  datafusion/sqllogictest/test_files/join.slt.part
Labels: sqllogictest

#17677 chore: Upgrade Rust version to 1.90.0
  Cargo.toml
  datafusion/core/tests/macro_hygiene/mod.rs
  datafusion/expr-common/src/statistics.rs
  datafusion/ffi/src/udwf/partition_evaluator.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-plan/src/joins/sort_merge_join/exec.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/spark/src/function/string/luhn_check.rs
  rust-toolchain.toml
Labels: logical-expr, physical-expr, core, functions, ffi, physical-plan, spark

#17424 feat(spark): implement Spark `make_interval` function
  datafusion/spark/src/function/datetime/date_sub.rs
  datafusion/spark/src/function/datetime/make_interval.rs
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/sqllogictest/test_files/spark/datetime/make_interval.slt
Labels: sqllogictest, spark

#17704 chore: fix wasm-pack installation link in wasmtest README
  datafusion/wasmtest/README.md
Labels: documentation

#17706 fix: Partial AggregateMode will generate duplicate field names which will fail DFSchema construct
  datafusion/common/src/dfschema.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core, common

#17650 feat: expose `udafs` and `udwfs` methods on `FunctionRegistry`
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/execution/src/task.rs
  datafusion/expr/src/registry.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/bytes/registry.rs
  datafusion/spark/src/lib.rs
Labels: logical-expr, core, execution, proto, spark

#17707 feat: Support Seconds and Milliseconds literals in substrait
  datafusion/substrait/src/logical_plan/consumer/expr/literal.rs
  datafusion/substrait/src/logical_plan/producer/expr/literal.rs
Labels: substrait

#17724 Bump MSRV to 1.87.0
  Cargo.toml
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/functions-nested/src/planner.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/physical-plan/src/display.rs
  datafusion/sql/src/unparser/expr.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, sql, core, functions, physical-plan

#17723 docs: Fix 'Clicking a link in optimizer docs downloads the file instead of redirecting to github'
  docs/source/library-user-guide/query-optimizer.md
Labels: documentation

#17536 Introduce `avg_distinct()` and `sum_distinct()` functions to DataFrame API
  datafusion/core/tests/dataframe/mod.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/lib.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/user-guide/expressions.md
Labels: documentation, core, functions

#17278 Support `WHERE`, `ORDER BY`, `LIMIT`, `SELECT`, `EXTEND` pipe operators
  datafusion/sql/src/query.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/pipe_operator.slt
  docs/source/user-guide/sql/select.md
Labels: documentation, sql, sqllogictest

#17738 docs: fix sidebar overlapping table on configuration page on website
  docs/source/_static/theme_overrides.css
Labels: documentation

#17620 Add support for calling async UDF as aggregation expression
  datafusion/core/src/physical_planner.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/async_udf.slt
Labels: core, sqllogictest

#17195 feat: support `Utf8View` for more args of `regexp_replace`
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/regexpreplace.rs
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#17456 feat(spark): implement Spark `map` function `map_from_arrays`
  datafusion/spark/src/function/map/map_from_arrays.rs
  datafusion/spark/src/function/map/mod.rs
  datafusion/spark/src/function/map/utils.rs
  datafusion/sqllogictest/test_files/spark/map/map_from_arrays.slt
Labels: sqllogictest, spark

#17476 Support join cardinality estimation less conservatively
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-plan

#17684 Prevent exponential planning time for Window functions - v2
  datafusion/core/benches/sql_planner.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: performance, core, sqllogictest, physical-plan

#17775 docs: add Ballista link to landing page (#17746)
  docs/source/index.rst
Labels: documentation

#17694 chore: Action some old TODOs in github actions
  .github/actions/setup-macos-builder/action.yaml
  .github/actions/setup-rust-runtime/action.yaml
  .github/workflows/audit.yml
  .github/workflows/rust.yml
Labels: development-process

#17778 [branch-50] Backport Prevent exponential planning time for Window functions - v2 #17684
  datafusion/core/benches/sql_planner.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: core, sqllogictest, physical-plan

#17797 chore: dependabot to run weekly
  .github/dependabot.yml
Labels: development-process

#17601 feat: change `datafusion-proto` to use `TaskContext` rather than`SessionContext` for physical plan serialization
  benchmarks/src/imdb/run.rs
  benchmarks/src/tpch/run.rs
  datafusion-examples/examples/composed_extension_codec.rs
  datafusion/ffi/src/plan_properties.rs
  datafusion/ffi/src/udaf/accumulator_args.rs
  datafusion/ffi/src/udwf/partition_evaluator_args.rs
  datafusion/proto/src/bytes/mod.rs
  datafusion/proto/src/lib.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, api change, proto, ffi

#17755 docs: update wasmtest README with instructions for Apple silicon
  datafusion/wasmtest/README.md
Labels: documentation

#17728 feat(spark): implement Spark `make_dt_interval` function
  datafusion/spark/src/function/datetime/make_dt_interval.rs
  datafusion/spark/src/function/datetime/make_interval.rs
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/sqllogictest/test_files/spark/datetime/make_dt_interval.slt
Labels: sqllogictest, spark

#17798 Fix potential overflow when we print verbose physical plan
  datafusion/core/src/physical_planner.rs
Labels: core

#17804 [Backport] Fix potential overflow when we print verbose physical plan
  datafusion/core/src/physical_planner.rs
Labels: core

#17780 fix: Filter out nulls properly in approx_percentile_cont_with_weight
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/approx_percentile_cont_with_weight.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#16066 Fix: common_sub_expression_eliminate optimizer rule failed
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: optimizer, sqllogictest

#17748 [branch-50] Prepare for 50.1.0 release
  Cargo.lock
  Cargo.toml
  dev/changelog/50.1.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#17809 Temporarily disable failing `sql_planner` benchmark query
  datafusion/core/benches/sql_planner.rs
Labels: core

#17816 minor: simplify docs build process & pin pip package versions
  .github/dependabot.yml
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/build.sh
  docs/make.bat
  docs/requirements.txt
  docs/rustdoc_trim.py
  docs/source/conf.py
Labels: documentation, development-process

#17834 Cleanup user guide known users section
  docs/source/user-guide/introduction.md
Labels: documentation
