Repository apache/datafusion, pull requests merged in 2025-02, with the labels that each got.

#13937 FFI support for versions and alternate tokio runtimes
  .github/workflows/rust.yml
  ci/scripts/rust_clippy.sh
  datafusion-examples/examples/ffi/ffi_example_table_provider/src/lib.rs
  datafusion/ffi/Cargo.toml
  datafusion/ffi/src/execution_plan.rs
  datafusion/ffi/src/lib.rs
  datafusion/ffi/src/record_batch_stream.rs
  datafusion/ffi/src/table_provider.rs
  datafusion/ffi/src/tests/async_provider.rs
  datafusion/ffi/src/tests/mod.rs
  datafusion/ffi/src/tests/sync_provider.rs
  datafusion/ffi/tests/table_provider.rs
Labels: development-process

#14384 Do not rename struct fields when coercing types in `CASE`
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: sqllogictest

#14393 docs: Clarify join behavior in `DataFrame::join`
  datafusion/core/src/dataframe/mod.rs
Labels: documentation, core

#14397 Prepare for `45.0.0` release: Version and Changelog
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  dev/changelog/45.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#14276 feat: Speed up `struct` and `named_struct` using `invoke_with_args`
  datafusion/core/Cargo.toml
  datafusion/core/benches/struct_query_sql.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/core/struct.rs
Labels: core, functions

#13664 Add related source code locations to errors
  datafusion-cli/Cargo.lock
  datafusion/common/src/column.rs
  datafusion/common/src/config.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/diagnostic.rs
  datafusion/common/src/error.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/spans.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/tests/execution/logical_plan.rs
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/analyzer/expand_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/decorrelate.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/mod.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/utils.rs
  datafusion/sql/tests/cases/diagnostic.rs
  datafusion/sql/tests/cases/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/create_external_table.slt
  datafusion/sqllogictest/test_files/distinct_on.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/predicates.slt
  datafusion/sqllogictest/test_files/select.slt
  datafusion/sqllogictest/test_files/type_coercion.slt
  datafusion/sqllogictest/test_files/unnest.slt
  docs/source/user-guide/configs.md
Labels: documentation, sql, logical-expr, physical-expr, optimizer, core, sqllogictest, common

#14403 Minor: fix typo in test name
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#14395 test: add regression test for unnesting dictionary encoded columns
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#14399 perf: Improve `median` with no grouping by 2X
  datafusion/functions-aggregate/src/median.rs
Labels: functions

#14405 docs: Fix create_udf examples
  docs/source/library-user-guide/adding-udfs.md
Labels: documentation

#14415 chore: Upgrade to `arrow`/`parquet` `54.1.0` and fix clippy/ci
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer, core

#14379 Fully support LIKE/ILIKE with Utf8View
  datafusion/sql/src/expr/mod.rs
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_literal.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
Labels: sql, sqllogictest

#14401 Fix `null` input in `map_keys/values`
  datafusion/functions-nested/src/map_keys.rs
  datafusion/functions-nested/src/map_values.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest

#14441 move resolve_table_references` out of `datafusion-catalog`
  datafusion-examples/examples/sql_frontend.rs
  datafusion/catalog/src/lib.rs
  datafusion/core/tests/optimizer/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sql/examples/sql.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/lib.rs
  datafusion/sql/src/resolve.rs
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: sql, optimizer, core, substrait, catalog

#14445 Fix a clippy warning
  datafusion/sqllogictest/bin/postgres_container.rs
Labels: sqllogictest

#14377 Support `Utf8View` to `numeric` coercion
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest

#14385 Fix regression list Type Coercion List with inner type struct which has large/view types
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/case.slt
  datafusion/sqllogictest/test_files/struct.slt
Labels: sqllogictest

#14449 Update REGEXP_MATCH scalar function to support Utf8View
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/sqllogictest/test_files/regexp.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: api change, sqllogictest, functions

#14453 [branch-45]: Backport chore: Upgrade to `arrow`/`parquet` `54.1.0` and fix clippy/ci (#14415)
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
Labels: optimizer, core

#14454 [release-45] Fix join type coercion (#14387)
  datafusion/core/tests/dataframe/mod.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
Labels: optimizer, core

#14455 [branch-45] Support `Utf8View` to `numeric` coercion (#14377)
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/init_data.slt.part
  datafusion/sqllogictest/test_files/string/large_string.slt
  datafusion/sqllogictest/test_files/string/string.slt
  datafusion/sqllogictest/test_files/string/string_query.slt.part
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest

#14457 [branch-45] Update REGEXP_MATCH scalar function to support Utf8View (#14449)
  datafusion/functions/benches/regx.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/sqllogictest/test_files/regexp.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#14456 [branch-45] Fix regression list Type Coercion List with inner type struct which has large/view types (#14385)
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/case.slt
  datafusion/sqllogictest/test_files/struct.slt
Labels: sqllogictest

#14460 [branch-45] Update changelog for backports to 45.0.0
  dev/changelog/45.0.0.md
Labels: development-process

#14458 Improve error message on unsupported correlation
  datafusion/expr/src/logical_plan/invariants.rs
Labels: logical-expr

#14418 fix: Limits are not applied correctly
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/sqllogictest/test_files/limit.slt
Labels: optimizer, sqllogictest

#14480 Replace `once_cell::Lazy` with `std::sync::LazyLock`
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
Labels: physical-expr

#14473 chore: Fix link to issue and expand comment
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/optimizer/src/decorrelate.rs
Labels: logical-expr, optimizer

#14487 Minor: `cargo fmt` to fix CI
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr

#14329 Provide user-defined invariants for logical node extensions.
  datafusion/core/tests/user_defined/user_defined_plan.rs
  datafusion/expr/src/logical_plan/extension.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, core, substrait

#14382 DFParser should skip unsupported COPY INTO
  datafusion/sql/src/parser.rs
Labels: sql

#14407 Improve Unparser (scalar_to_sql) to respect dialect timestamp type overrides
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#14402 Improve performance 10%-100% in `FIRST_VALUE` / `LAST_VALUE` by not sort rows in `FirstValueAccumulator`
  datafusion/core/benches/aggregate_query_sql.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: performance, core, sqllogictest, functions

#14494 fix(ci): build error with wasm
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
Labels: core

#14492 fix(doc): remove AWS_PROFILE from supported S3 configuration
  docs/source/user-guide/cli/datasources.md
Labels: documentation

#14501 chore: Add more LIKE with escape tests
  datafusion/sqllogictest/test_files/string/string_literal.slt
Labels: sqllogictest

#14346 Support `Dictionary` and `List` types in `scalar_to_sql`
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#14465 Serialize `parquet_options` in `datafusion-proto`
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#14468 fix: `List` of `FixedSizeList` coercion issue in SQL
  datafusion/functions-nested/src/make_array.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14464 make datafusion-catalog-listing and move some implementation of listing out of datafusion/core/datasource/listing
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/catalog-listing/Cargo.toml
  datafusion/catalog-listing/LICENSE.txt
  datafusion/catalog-listing/NOTICE.txt
  datafusion/catalog-listing/README.md
  datafusion/catalog-listing/src/helpers.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/catalog-listing/src/url.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/listing/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/test/mod.rs
Labels: core

#14474 core: Support uncorrelated EXISTS
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/unnest.slt
Labels: logical-expr, optimizer, sqllogictest

#14255 chore(deps): Update sqlparser to `0.54.0`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/common/src/column.rs
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/sql/src/expr/identifier.rs
  datafusion/sql/src/expr/mod.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/src/relation/join.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/interval.slt
  datafusion/sqllogictest/test_files/joins.slt
Labels: sql, logical-expr, sqllogictest, common

#14513 Validate and unpack function arguments tersely
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/functions/src/core/version.rs
  datafusion/functions/src/crypto/basic.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/lib.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/utils.rs
Labels: functions

#14489 bug: Fix edge cases in array_slice
  datafusion/functions-nested/src/extract.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14499 Feat: Add fetch to CoalescePartitionsExec
  datafusion/core/tests/physical_optimizer/limit_pushdown.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/stream.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/repartition.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: physical-expr, optimizer, core, sqllogictest

#14511 Improve error messages to include the function name.
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/math.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sql, logical-expr, optimizer, sqllogictest

#14290 Script and documentation for regenerating sqlite test files
  datafusion/sqllogictest/README.md
  datafusion/sqllogictest/bin/postgres_container.rs
  datafusion/sqllogictest/regenerate/sqllogictests.rs
  datafusion/sqllogictest/regenerate_sqlite_files.sh
  docs/source/contributor-guide/testing.md
Labels: documentation, sqllogictest

#14486 fix: order by expr rewrite fix
  datafusion/expr/src/expr_rewriter/order_by.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/order.slt
Labels: sql, logical-expr, sqllogictest

#14496 fix: rewrite fetch, skip of the Limit node in correct order
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#14490 to_unixtime does not support timestamps with a timezone
  datafusion/functions/src/datetime/to_unixtime.rs
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest, functions

#14527 bug: Remove array_slice two arg variant
  datafusion/functions-nested/src/extract.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14534 Minor: deprecate unused index mod
  datafusion/physical-plan/src/sorts/index.rs
  datafusion/physical-plan/src/sorts/mod.rs
Labels: physical-expr

#14472 fix: Capture nullability in `Values` node planning
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: sql, logical-expr, sqllogictest

#14371 Fix: Avoid recursive external error wrapping
  datafusion/common/src/error.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/errors.slt
Labels: api change, physical-expr, sqllogictest, common

#14520 Fix config_namespace macro symbol usage
  datafusion/common/src/config.rs
  datafusion/core/tests/macro_hygiene/mod.rs
Labels: core, common

#14531 functions: Remove NullHandling from scalar funcs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udf.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr

#14519 Relax physical schema validation
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/src/schema_equivalence.rs
  datafusion/sqllogictest/test_files/union.slt
Labels: core, sqllogictest

#14545 Minor: Update changelog for `45.0.0` and tweak `CHANGELOG` docs
  dev/changelog/45.0.0.md
  dev/release/README.md
Labels: development-process

#14537 minor: polish MemoryStream related code
  datafusion/physical-plan/src/memory.rs
  datafusion/sqllogictest/test_files/string/dictionary_utf8.slt
  datafusion/sqllogictest/test_files/string/large_string.slt
Labels: physical-expr, sqllogictest

#14504 refactor: switch BooleanBufferBuilder to NullBufferBuilder in MaybeNullBufferBuilder
  datafusion/physical-plan/src/aggregates/group_values/null_builder.rs
Labels: physical-expr

#14541 Allow constructing ScalarUDF from shared implementation
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
Labels: logical-expr

#14439 Add `DataFusionError::Collection` to return multiple `DataFusionError`s
  datafusion/common/src/error.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/tests/cases/collection.rs
  datafusion/sql/tests/cases/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/error.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/functions.slt
  datafusion/sqllogictest/test_files/identifiers.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: api change, sql, logical-expr, sqllogictest, common

#14543 some dependency removals and setup for refactor of `FileScanConfig`
  datafusion-examples/examples/custom_file_format.rs
  datafusion/catalog-listing/src/file_groups.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/core/src/datasource/data_source.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/source.rs
Labels: core

#14498 Always use `StringViewArray` as output of `substr`
  datafusion/functions/src/unicode/substr.rs
  datafusion/sqllogictest/test_files/string/string_view.slt
  datafusion/sqllogictest/test_files/tpch/plans/q22.slt.part
Labels: sqllogictest, functions

#14320 Improve documentation about extended tests
  .github/workflows/extended.yml
  docs/source/contributor-guide/testing.md
Labels: documentation, development-process

#14483 Add `Cargo.lock`
  .github/dependabot.yml
  .github/workflows/dependencies.yml
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  ci/scripts/rust_clippy.sh
  ci/scripts/rust_docs.sh
  ci/scripts/rust_fmt.sh
  datafusion-cli/Cargo.toml
  datafusion-cli/Dockerfile
  datafusion-cli/README.md
  datafusion-cli/src/object_storage.rs
  dev/depcheck/.gitignore
  dev/release/README.md
Labels: documentation, development-process

#14526 chore: remove partition_keys from (Bounded)WindowAggExec
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: physical-expr, optimizer, core, proto

#14295 use a single row_count column during predicate pruning instead of one per column
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/physical-optimizer/src/pruning.rs
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: optimizer, core, sqllogictest

#14561 Update proto to support to/from json with an extension codec
  datafusion/proto/src/bytes/mod.rs
Labels: proto

#14570 Remove useless test util
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
Labels: core

#14555 minor: Move file compression to `datafusion-catalog-listing`
  Cargo.lock
  Cargo.toml
  datafusion/catalog-listing/Cargo.toml
  datafusion/catalog-listing/src/file_compression_type.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/file_format/mod.rs
Labels: core

#14521 feat: add hint for missing fields
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/common/src/utils/mod.rs
  datafusion/sql/src/planner.rs
  datafusion/sql/tests/cases/diagnostic.rs
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/identifiers.slt
  datafusion/sqllogictest/test_files/join.slt.part
Labels: sql, sqllogictest, common

#14569 Fix: limit is missing after removing SPM
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
Labels: optimizer, core

#14544 Test all examples from library-user-guide & user-guide docs
  .github/actions/setup-builder/action.yaml
  Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/bin/print_functions_docs.rs
  datafusion/core/src/lib.rs
  dev/update_function_docs.sh
  docs/build.sh
  docs/rustdoc_trim.py
  docs/source/library-user-guide/adding-udfs.md
  docs/source/library-user-guide/api-health.md
  docs/source/library-user-guide/catalogs.md
  docs/source/library-user-guide/custom-table-providers.md
  docs/source/library-user-guide/query-optimizer.md
  docs/source/library-user-guide/working-with-exprs.md
  docs/source/user-guide/cli/usage.md
  docs/source/user-guide/crate-configuration.md
  docs/source/user-guide/explain-usage.md
  docs/source/user-guide/sql/aggregate_functions.md
  docs/source/user-guide/sql/ddl.md
  docs/source/user-guide/sql/dml.md
  docs/source/user-guide/sql/explain.md
  docs/source/user-guide/sql/scalar_functions.md
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, development-process, core

#14592 Adding cargo clean at the end of every step
  .github/workflows/extended.yml
Labels: development-process

#14582 Add guideline for GSoC 2025 applicants under Contributor Guide
  docs/source/contributor-guide/gsoc_application_guidelines.md
  docs/source/index.rst
Labels: documentation

#14558 Make it easier to create a ScalarValure representing typed null (#14548)
  datafusion/common/src/scalar/mod.rs
Labels: common

#14564 Benchmark showcasing with_column and with_column_renamed function performance
  datafusion/core/Cargo.toml
  datafusion/core/benches/dataframe.rs
Labels: core

#14227 Remove use of deprecated dict_id in datafusion-proto (#14173)
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/regexp.slt
Labels: sqllogictest, proto

#14585 refactor: Move FileSinkConfig out of Core
  Cargo.lock
  datafusion/catalog-listing/Cargo.toml
  datafusion/catalog-listing/src/file_sink_config.rs
  datafusion/catalog-listing/src/mod.rs
  datafusion/catalog-listing/src/write/demux.rs
  datafusion/catalog-listing/src/write/mod.rs
  datafusion/catalog-listing/src/write/orchestration.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: core

#14606 Revert modification of build dependency
  .github/actions/setup-builder/action.yaml
Labels: development-process

#14605 Fix typo in comments
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
Labels: documentation, optimizer

#14615 Minor: remove some unnecessary dependencies
  Cargo.lock
  datafusion-examples/examples/ffi/ffi_example_table_provider/Cargo.toml
  datafusion/catalog/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/physical-optimizer/Cargo.toml
  datafusion/wasmtest/Cargo.toml
Labels: optimizer, core, catalog, functions

#14604 Disable extended tests (`extended_tests`) that are failing on runner
  .github/workflows/extended.yml
Labels: development-process

#14575 minor: check size overflow before string repeat build
  datafusion/functions/benches/repeat.rs
  datafusion/functions/src/string/repeat.rs
Labels: functions

#14593 Speedup `date_trunc` (~20% time reduction)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/date_trunc.rs
  datafusion/functions/src/datetime/date_trunc.rs
Labels: functions

#14327 equivalence classes: use normalized mapping for projection
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/sqllogictest/test_files/join.slt.part
Labels: physical-expr, sqllogictest

#14584 fix: case-sensitive quoted identifiers in DELETE statements
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#14625 Fix ci test
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/sqllogictest/test_files/join.slt.part
Labels: physical-expr, sqllogictest

#14626 chore(deps): group `prost` and `pbjson` dependabot updates
  .github/dependabot.yml
Labels: development-process

#14551 Minor: Add docs and examples for `DataFusionErrorBuilder`
  datafusion/common/src/error.rs
Labels: documentation, common

#14525 Use ` take_function_args` in more places
  datafusion/common/src/utils/mod.rs
  datafusion/expr/src/test/function_stub.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/dimension.rs
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/empty.rs
  datafusion/functions-nested/src/except.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/flatten.rs
  datafusion/functions-nested/src/map.rs
  datafusion/functions-nested/src/map_extract.rs
  datafusion/functions-nested/src/map_keys.rs
  datafusion/functions-nested/src/map_values.rs
  datafusion/functions-nested/src/position.rs
  datafusion/functions-nested/src/range.rs
  datafusion/functions-nested/src/remove.rs
  datafusion/functions-nested/src/repeat.rs
  datafusion/functions-nested/src/replace.rs
  datafusion/functions-nested/src/reverse.rs
  datafusion/functions-nested/src/set_ops.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/functions/src/core/version.rs
  datafusion/functions/src/crypto/basic.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/make_date.rs
  datafusion/functions/src/datetime/to_char.rs
  datafusion/functions/src/datetime/to_local_time.rs
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/unicode/find_in_set.rs
  datafusion/functions/src/unicode/substrindex.rs
  datafusion/functions/src/utils.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: logical-expr, sqllogictest, common, functions

#14630 Minor: remove unused `AutoFinishBzEncoder`
  datafusion/core/src/test/mod.rs
Labels: core

#14624 Add test for nullable doesn't work when create memory table
  datafusion/sqllogictest/test_files/ddl.slt
Labels: sqllogictest

#14602 Fallback to Utf8View for `Dict(_, Utf8View)` in `type_union_resolution_coercion`
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/coalesce.slt
Labels: sqllogictest

#14639 Add documentation for prepare statements.
  datafusion/core/src/lib.rs
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/prepared_statements.md
Labels: documentation, core

#14532 function: Allow more expressive array signatures
  datafusion/common/src/utils/mod.rs
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/replace.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: api change, logical-expr, sqllogictest, common

#14645 Update features / status documentation page
  datafusion/core/src/lib.rs
  docs/source/index.rst
  docs/source/user-guide/features.md
  docs/source/user-guide/sql/index.rst
Labels: documentation, core

#12116 Add union_extract scalar function
  datafusion/expr/src/udf.rs
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/union_extract.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/union_function.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, logical-expr, sqllogictest, functions

#14667 Fix CI doctests on main
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation

#14631 feat: add resolved `target` to `DmlStatement` (to eliminate need for table lookup after deserialization)
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/statement.rs
Labels: api change, sql, logical-expr, core, proto

#14567 Implement predicate pruning for not like expressions
  datafusion/core/tests/fuzz_cases/pruning.rs
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer, core

#14658 Migrate math functions to implement invoke_with_args
  datafusion/functions/src/math/abs.rs
  datafusion/functions/src/math/cot.rs
  datafusion/functions/src/math/factorial.rs
  datafusion/functions/src/math/gcd.rs
  datafusion/functions/src/math/iszero.rs
  datafusion/functions/src/math/lcm.rs
  datafusion/functions/src/math/log.rs
  datafusion/functions/src/math/nans.rs
  datafusion/functions/src/math/nanvl.rs
  datafusion/functions/src/math/pi.rs
  datafusion/functions/src/math/power.rs
  datafusion/functions/src/math/random.rs
  datafusion/functions/src/math/round.rs
  datafusion/functions/src/math/signum.rs
  datafusion/functions/src/math/trunc.rs
Labels: functions

#14672 bug: fix offset type mismatch when prepending lists
  datafusion/functions-nested/src/concat.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14676 chore: adding Linkedin follow page
  README.md
Labels: documentation

#14650 Minor: remove confusing `update_plan_from_children` call from `EnforceSorting`
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-optimizer/src/enforce_sorting/replace_with_order_preserving_variants.rs
  datafusion/physical-plan/src/tree_node.rs
Labels: physical-expr, optimizer

#14670 Improve UX Rename `FileScanConfig::new_exec` to `FileScanConfig::build`
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion-examples/examples/parquet_index.rs
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/avro.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/source.rs
  datafusion/core/src/datasource/schema_adapter.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/fuzz_cases/pruning.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/external_access_plan.rs
  datafusion/core/tests/parquet/schema_coercion.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/substrait/src/physical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_physical_plan.rs
Labels: core, substrait, proto

#14374 Consolidate and expand ident normalization tests
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/ident_normalization.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sqllogictest

#14674 Update GitHub CI run image for license check job
  .github/workflows/rust.yml
Labels: development-process

#14675 Speed up `uuid` UDF (40x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/uuid.rs
  datafusion/functions/src/string/uuid.rs
  datafusion/sqllogictest/test_files/functions.slt
Labels: performance, sqllogictest, functions

#14664 Allow extensions_options to accept Option field
  datafusion/common/src/config.rs
  datafusion/execution/src/task.rs
Labels: common, execution

#14696 Minor: Re-export `datafusion_expr_common` crate
  Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/lib.rs
Labels: core

#14673 Improve EnforceSorting docs.
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-plan/src/tree_node.rs
Labels: documentation, physical-expr, optimizer

#14662 script to export benchmark information as Line Protocol format
  benchmarks/lineprotocol.py
Labels: performance

#14693 Migrate the internal and testing functions to invoke_with_args
  datafusion-examples/examples/optimizer_rule.rs
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/udf.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/proto/tests/cases/mod.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, proto

#14665 Improve docs `TableSource` and `DefaultTableSource`
  datafusion/catalog/src/table.rs
  datafusion/core/src/datasource/default_table_source.rs
  datafusion/expr/src/table_source.rs
Labels: logical-expr, core, catalog

#14690 MIgrate math function macro to implement invoke_with_args
  datafusion/functions/src/macros.rs
Labels: functions

#14538 feat: Implement UNION ALL BY NAME
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/union_by_name.slt
Labels: sql, logical-expr, sqllogictest

#14683 Improve `downcast_value!` macro
  datafusion/common/src/cast.rs
  datafusion/common/src/lib.rs
  datafusion/functions-aggregate/src/approx_percentile_cont.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/variance.rs
Labels: common, functions

#14566 perf: Drop RowConverter from GroupOrderingPartial
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/benches/partial_ordering.rs
  datafusion/physical-plan/src/aggregates/order/partial.rs
Labels: physical-expr

#14686 Speedup `to_hex` (~2x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/to_hex.rs
  datafusion/functions/src/string/to_hex.rs
Labels: performance, functions

#14572 bug: improve schema checking for `insert into` cases
  datafusion/common/src/dfschema.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/sqllogictest/test_files/aggregate_skip_partial.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/insert_to_external.slt
Labels: core, sqllogictest, common

#14636 Early exit on column normalisation to improve DataFrame performance
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#14697 optimize performance of the repeat function (up to 50% faster)
  datafusion/functions/src/string/repeat.rs
Labels: functions

#14695 `AggregateUDFImpl::schema_name` and `AggregateUDFImpl::display_name` for customizable name
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/execution/logical_plan.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/udaf.rs
  datafusion/functions-nested/src/planner.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/resolve_grouping_function.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, optimizer, core, substrait, proto

#14711 minor: enable decimal dictionary sbbf pruning test
  datafusion/core/tests/parquet/row_group_pruning.rs
Labels: core

#14440 Signature::Coercible with user defined implicit casting
  Cargo.lock
  datafusion/catalog/src/information_schema.rs
  datafusion/common/src/types/native.rs
  datafusion/expr-common/Cargo.toml
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: api change, logical-expr, sqllogictest, catalog, common, functions

#14721 make DefaultSubstraitProducer public
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#14727 chore: Migrate Encoding functions to invoke_with_args
  datafusion/functions/src/encoding/inner.rs
Labels: functions

#14725 chore: Migrate Core Functions to invoke_with_args
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/greatest.rs
  datafusion/functions/src/core/least.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/functions/src/core/version.rs
Labels: functions

#14731 Fix off by 1 in decimal cast to lower precision
  Cargo.lock
  Cargo.toml
  datafusion/sqllogictest/test_files/decimal.slt
Labels: sqllogictest

#14722 migrate string functions to `inovke_with_args`
  datafusion/functions/benches/concat.rs
  datafusion/functions/benches/lower.rs
  datafusion/functions/benches/ltrim.rs
  datafusion/functions/benches/repeat.rs
  datafusion/functions/benches/to_hex.rs
  datafusion/functions/benches/upper.rs
  datafusion/functions/benches/uuid.rs
  datafusion/functions/src/string/ascii.rs
  datafusion/functions/src/string/bit_length.rs
  datafusion/functions/src/string/btrim.rs
  datafusion/functions/src/string/chr.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/ltrim.rs
  datafusion/functions/src/string/octet_length.rs
  datafusion/functions/src/string/overlay.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/replace.rs
  datafusion/functions/src/string/rtrim.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/string/starts_with.rs
  datafusion/functions/src/string/to_hex.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/string/uuid.rs
Labels: functions

#14655 Specify rust toolchain explicitly, document how to change it
  docs/source/contributor-guide/howtos.md
  rust-toolchain.toml
Labels: documentation

#14728 chore: Migrate Regex function to invoke_with_args
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/regex/regexpreplace.rs
Labels: functions

#14644 bug: Fix memory reservation and allocation problems for SortExec
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/physical-plan/src/sorts/cursor.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/stream.rs
  datafusion/physical-plan/src/sorts/streaming_merge.rs
  datafusion/physical-plan/src/spill.rs
  datafusion/physical-plan/src/test.rs
Labels: physical-expr, core

#14700 Speed up `chr` UDF (~4x faster)
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/chr.rs
  datafusion/functions/src/string/chr.rs
Labels: functions

#14734 Support aliases in ConstEvaluator
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, core, sqllogictest

#14774 Create gsoc_project_ideas.md
  docs/source/contributor-guide/gsoc_project_ideas.md
  docs/source/index.rst
Labels: documentation

#14750 `AggregateUDFImpl::window_function_schema_name` and `AggregateUDFImpl::window_function_display_name` for window aggregate function
  datafusion-examples/examples/advanced_udwf.rs
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/tree_node.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/utils.rs
  datafusion/optimizer/src/analyzer/count_wildcard_rule.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/utils.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/producer.rs
Labels: sql, logical-expr, optimizer, core, substrait, proto

#14764 chore: migrate crypto functions to invoke_with_args
  datafusion/functions/src/crypto/digest.rs
  datafusion/functions/src/crypto/md5.rs
  datafusion/functions/src/crypto/sha224.rs
  datafusion/functions/src/crypto/sha256.rs
  datafusion/functions/src/crypto/sha384.rs
  datafusion/functions/src/crypto/sha512.rs
Labels: functions

#14732 Minor: Further Clean-up in Enforce Sorting
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
Labels: optimizer

#14730 dependabot: group arrow/parquet minor/patch bumps, remove limit
  .github/dependabot.yml
Labels: development-process

#14723 fix: Substrait serializer clippy error: not calling truncate
  datafusion/substrait/Cargo.toml
  datafusion/substrait/src/serializer.rs
  datafusion/substrait/tests/cases/serialize.rs
Labels: substrait

#14712 Map access supports constant-resolvable expressions
  datafusion/functions-nested/src/planner.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/sqllogictest/test_files/map.slt
Labels: sqllogictest, functions

#14791 Fix build after logical conflict
  datafusion/functions/src/core/getfield.rs
Labels: functions

#14790 Fix CI job test-datafusion-pyarrow
  .github/workflows/rust.yml
Labels: development-process

#14789 docs: Add additional info about memory reservation to the doc of MemoryPool
  datafusion/execution/src/memory_pool/mod.rs
Labels: documentation, execution

#14745 Fix CI fail for extended test (by freeing up more disk space in CI runner)
  .github/workflows/extended.yml
  datafusion/core/tests/memory_limit/memory_limit_validation/sort_mem_validation.rs
Labels: development-process, core

#14793 chore: Benchmark deps cleanup
  Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/functions-aggregate-common/Cargo.toml
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-nested/Cargo.toml
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/helper.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/Cargo.toml
Labels: physical-expr, core, functions

#14795 chore: Fix test not to litter in repository
  datafusion/execution/src/disk_manager.rs
Labels: execution
