Repository apache/datafusion, pull requests merged in 2025-06, with the labels that each got.

#16220 Remove use of deprecated dict_ordered in datafusion-proto (#16218)
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/sqllogictest/test_files/regexp/regexp_like.slt
Labels: sqllogictest, proto

#16246 Add iceberg-rust to user list
  docs/source/user-guide/introduction.md
Labels: documentation

#16238 Prepare for 48.0.0 release: Version and Changelog
  Cargo.lock
  Cargo.toml
  dev/changelog/48.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#16232 Add dicts to aggregation fuzz testing
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/record_batch_generator.rs
Labels: core

#16251 Adjust slttest to pass without RUST_BACKTRACE enabled
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: development-process, sqllogictest

#16256 fix: NaN semantics in GROUP BY
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/primitive.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, physical-plan

#16264 Minor: fix upgrade papercut `pub use PruningStatistics`
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer

#14775 feat: Add Aggregate UDF to FFI crate
  Cargo.lock
  Cargo.toml
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/expr-common/src/groups_accumulator.rs
  datafusion/ffi/Cargo.toml
  datafusion/ffi/src/arrow_wrappers.rs
  datafusion/ffi/src/lib.rs
  datafusion/ffi/src/plan_properties.rs
  datafusion/ffi/src/record_batch_stream.rs
  datafusion/ffi/src/tests/mod.rs
  datafusion/ffi/src/tests/udf_udaf_udwf.rs
  datafusion/ffi/src/udaf/accumulator.rs
  datafusion/ffi/src/udaf/accumulator_args.rs
  datafusion/ffi/src/udaf/groups_accumulator.rs
  datafusion/ffi/src/udaf/mod.rs
  datafusion/ffi/src/util.rs
  datafusion/ffi/tests/ffi_integration.rs
  datafusion/ffi/tests/ffi_udaf.rs
Labels: logical-expr, core, ffi

#16261 feat: Add Window UDFs to FFI Crate
  datafusion/ffi/src/lib.rs
  datafusion/ffi/src/tests/mod.rs
  datafusion/ffi/src/tests/udf_udaf_udwf.rs
  datafusion/ffi/src/udwf/mod.rs
  datafusion/ffi/src/udwf/partition_evaluator.rs
  datafusion/ffi/src/udwf/partition_evaluator_args.rs
  datafusion/ffi/src/udwf/range.rs
  datafusion/ffi/src/volatility.rs
  datafusion/ffi/tests/ffi_udwf.rs
Labels: ffi

#16257 Fix intermittent SQL logic test failure in limit.slt by adding ORDER BY clause
  datafusion/sqllogictest/test_files/limit.slt
Labels: sqllogictest

#16307 fix: [branch-48] Revert "Improve performance of constant aggregate window expression"
  datafusion/physical-expr/src/window/aggregate.rs
  datafusion/physical-expr/src/window/sliding_aggregate.rs
  datafusion/physical-expr/src/window/window_expr.rs
  dev/changelog/48.0.0.md
Labels: development-process, physical-expr

#16195 feat: Support defining custom MetricValues in PhysicalPlans
  datafusion/physical-plan/src/metrics/custom.rs
  datafusion/physical-plan/src/metrics/mod.rs
  datafusion/physical-plan/src/metrics/value.rs
Labels: physical-plan

#16314 [branch-48] Update CHANGELOG for latest 48.0.0 release
  dev/changelog/48.0.0.md
Labels: development-process

#16196 feat: Allow cancelling of grouping operations which are CPU bound
  datafusion/common/src/config.rs
  datafusion/core/tests/execution/infinite_cancel.rs
  datafusion/core/tests/execution/mod.rs
  datafusion/core/tests/user_defined/insert_operation.rs
  datafusion/datasource/src/sink.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/insert_yield_exec.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/physical-plan/src/empty.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/physical-plan/src/yield_stream.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest, common, proto, datasource, physical-plan

#16169 Add test for ordering of predicate pushdown into parquet
  datafusion/datasource-parquet/src/source.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest, datasource, physical-plan

#16258 Fix distinct count for DictionaryArray to correctly account for nulls in values array
  datafusion/core/tests/sql/aggregates.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: core, sqllogictest, functions

#16305 Fix inconsistent schema projection in ListingTable even when schema is specified
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#16343 Fix: mark "Spilling (to disk) Joins" as supported in features
  docs/source/user-guide/features.md
Labels: documentation

#16014 Add late pruning of Parquet files based on file level statistics
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/tests/physical_optimizer/filter_pushdown/util.rs
  datafusion/datasource-avro/src/source.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/datasource-json/src/source.rs
  datafusion/datasource-parquet/src/metrics.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/datasource/src/file_meta.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/file_stream.rs
  datafusion/physical-optimizer/src/pruning.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, optimizer, core, proto, datasource

#16289 docs: Expand `MemoryPool` docs with related structs
  datafusion/execution/src/memory_pool/mod.rs
Labels: documentation, execution

#16335 Add support `UInt64` and other integer data types for `to_hex`
  datafusion/functions/src/string/to_hex.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest, functions

#16300 Support datafusion-cli access to public S3 buckets that do not require authentication
  Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion-cli/src/object_storage.rs
  docs/source/user-guide/cli/datasources.md
Labels: documentation

#16356 fix: preserve null_equals_null flag in eliminate_cross_join rule
  datafusion/optimizer/src/eliminate_cross_join.rs
Labels: optimizer

#16333 feat: support FixedSizeList for array_has
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#16322 bug: remove busy-wait while sort is ongoing
  datafusion/physical-plan/src/sorts/merge.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
Labels: physical-plan

#16348 Fix array_concat with NULL arrays
  datafusion/functions-nested/src/concat.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#16316 doc: Add SQL examples for SEMI + ANTI Joins
  docs/source/user-guide/sql/select.md
Labels: documentation

#16384 [datafusion-spark] Example of using Spark compatible function library
  datafusion/core/src/lib.rs
  datafusion/spark/Cargo.toml
  datafusion/spark/src/lib.rs
  docs/source/index.rst
  docs/source/library-user-guide/functions/adding-udfs.md
  docs/source/library-user-guide/functions/index.rst
  docs/source/library-user-guide/functions/spark.md
  docs/source/library-user-guide/working-with-exprs.md
Labels: documentation, core, spark

#16388 Simplify expressions passed to table functions
  datafusion/core/src/execution/session_state.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: core, sqllogictest

#16360 Add note in upgrade guide about changes to `Expr::Scalar` in 48.0.0
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16417 Update PMC management instructions to follow new ASF process
  docs/source/contributor-guide/inviting.md
Labels: documentation

#16083 feat: Support RightMark join for NestedLoop and Hash join
  datafusion/common/src/functional_dependencies.rs
  datafusion/common/src/join_type.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_sorting/sort_pushdown.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/substrait/src/logical_plan/consumer/rel/join_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/join.rs
Labels: sql, logical-expr, physical-expr, optimizer, core, substrait, common, proto, physical-plan

#16391 fix: Fixed error handling for `generate_series/range`
  datafusion/functions-table/src/generate_series.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: sqllogictest, functions

#16324 Migrate core test to insta, part1
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/core/tests/optimizer/mod.rs
  datafusion/core/tests/sql/aggregates.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/select.rs
Labels: core

#16419 Use dedicated NullEquality enum instead of null_equals_null boolean
  datafusion/common/src/lib.rs
  datafusion/common/src/null_equality.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/execution/infinite_cancel.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/test_utils.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/substrait/src/logical_plan/consumer/rel/join_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/join.rs
Labels: logical-expr, optimizer, core, sqllogictest, substrait, common, proto, physical-plan

#16399 Update Roadmap documentation
  benchmarks/README.md
  docs/source/contributor-guide/roadmap.md
Labels: documentation

#16401 feat: add SchemaProvider::table_type(table_name: &str)
  datafusion/catalog/src/information_schema.rs
  datafusion/catalog/src/schema.rs
Labels: catalog

#16451 Remove redundant license-header-check CI job
  .github/workflows/rust.yml
Labels: development-process

#16449 Remove unused feature in `physical-plan` and fix compilation error in benchmark
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/benches/sort_preserving_merge.rs
Labels: physical-plan

#16436 doc: Add comments to clarify algorithm for `MarkJoin`s
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
Labels: physical-plan

#16457 remove unused methods in SortExec
  datafusion/physical-plan/src/sorts/sort.rs
Labels: api change, physical-plan

#16447 Set the default value of `datafusion.execution.collect_statistics` to `true`
  datafusion/common/src/config.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
  datafusion/sqllogictest/test_files/parquet_statistics.slt
  datafusion/sqllogictest/test_files/repartition.slt
  docs/source/library-user-guide/upgrading.md
  docs/source/user-guide/configs.md
  docs/source/user-guide/sql/ddl.md
Labels: documentation, core, sqllogictest, common

#16465 Temporarily fix bug in dynamic top-k optimization
  datafusion/core/tests/fuzz_cases/sort_query_fuzz.rs
  datafusion/physical-plan/src/topk/mod.rs
Labels: core, physical-plan

#16268 Add compression option to SpillManager
  Cargo.lock
  Cargo.toml
  datafusion/common/src/config.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/config.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/spill/in_progress_spill_file.rs
  datafusion/physical-plan/src/spill/mod.rs
  datafusion/physical-plan/src/spill/spill_manager.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest, common, execution, physical-plan

#16471 feat: derive `Debug` and `Clone` for `ScalarFunctionArgs`
  datafusion/expr/src/udf.rs
Labels: logical-expr

#16398 Use Tokio's task budget consistently, better APIs to support task cancellation
  Cargo.toml
  datafusion/common/src/config.rs
  datafusion/core/tests/execution/coop.rs
  datafusion/core/tests/execution/infinite_cancel.rs
  datafusion/core/tests/execution/mod.rs
  datafusion/core/tests/user_defined/insert_operation.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/memory.rs
  datafusion/datasource/src/sink.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/ensure_coop.rs
  datafusion/physical-optimizer/src/insert_yield_exec.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/coop.rs
  datafusion/physical-plan/src/empty.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/spill/spill_manager.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/physical-plan/src/yield_stream.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest, common, proto, datasource, physical-plan

#16430 Fix constant window for evaluate stateful
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/window_optimize.rs
  datafusion/physical-expr/src/window/window_expr.rs
Labels: physical-expr, core

#16472 doc: upgrade guide for new compression option for spill files
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16468 Use UDTF name in logical plan table scan
  datafusion/sql/src/relation/mod.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/spark/array/array.slt
  datafusion/sqllogictest/test_files/spark/array/array_repeat.slt
  datafusion/sqllogictest/test_files/spark/array/sequence.slt
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: sql, sqllogictest

#16499 refactor reassign_predicate_columns to accept an &Schema instead of &Arc<Schema>
  datafusion/physical-expr/src/utils/mod.rs
Labels: physical-expr

#16491 re-enable `sort_query_fuzzer_runner`
  datafusion/common/Cargo.toml
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/fuzz_cases/sort_query_fuzz.rs
Labels: core, common

#16473 fix: document and fix macro hygiene for `config_field!`
  datafusion/common/src/config.rs
  datafusion/core/tests/macro_hygiene/mod.rs
Labels: core, common

#16498 use 'lit' as the field name for literal values
  datafusion/core/src/physical_planner.rs
  datafusion/physical-expr/src/expressions/dynamic_filters.rs
  datafusion/physical-expr/src/expressions/in_list.rs
  datafusion/physical-expr/src/expressions/literal.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/tpch/plans/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q19.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q22.slt.part
Labels: physical-expr, core, sqllogictest

#16125 [datafusion-spark] Implement `factorical` function
  datafusion/spark/src/function/math/factorial.rs
  datafusion/spark/src/function/math/mod.rs
  datafusion/sqllogictest/test_files/spark/math/factorial.slt
Labels: sqllogictest, spark

#16476 Split clickbench query set into one file per query
  benchmarks/bench.sh
  benchmarks/queries/clickbench/README.md
  benchmarks/queries/clickbench/extended.sql
  benchmarks/queries/clickbench/extended/q0.sql
  benchmarks/queries/clickbench/extended/q1.sql
  benchmarks/queries/clickbench/extended/q2.sql
  benchmarks/queries/clickbench/extended/q3.sql
  benchmarks/queries/clickbench/extended/q4.sql
  benchmarks/queries/clickbench/extended/q5.sql
  benchmarks/queries/clickbench/extended/q6.sql
  benchmarks/queries/clickbench/extended/q7.sql
  benchmarks/queries/clickbench/queries.sql
  benchmarks/queries/clickbench/queries/q0.sql
  benchmarks/queries/clickbench/queries/q1.sql
  benchmarks/queries/clickbench/queries/q10.sql
  benchmarks/queries/clickbench/queries/q11.sql
  benchmarks/queries/clickbench/queries/q12.sql
  benchmarks/queries/clickbench/queries/q13.sql
  benchmarks/queries/clickbench/queries/q14.sql
  benchmarks/queries/clickbench/queries/q15.sql
  benchmarks/queries/clickbench/queries/q16.sql
  benchmarks/queries/clickbench/queries/q17.sql
  benchmarks/queries/clickbench/queries/q18.sql
  benchmarks/queries/clickbench/queries/q19.sql
  benchmarks/queries/clickbench/queries/q2.sql
  benchmarks/queries/clickbench/queries/q20.sql
  benchmarks/queries/clickbench/queries/q21.sql
  benchmarks/queries/clickbench/queries/q22.sql
  benchmarks/queries/clickbench/queries/q23.sql
  benchmarks/queries/clickbench/queries/q24.sql
  benchmarks/queries/clickbench/queries/q25.sql
  benchmarks/queries/clickbench/queries/q26.sql
  benchmarks/queries/clickbench/queries/q27.sql
  benchmarks/queries/clickbench/queries/q28.sql
  benchmarks/queries/clickbench/queries/q29.sql
  benchmarks/queries/clickbench/queries/q3.sql
  benchmarks/queries/clickbench/queries/q30.sql
  benchmarks/queries/clickbench/queries/q31.sql
  benchmarks/queries/clickbench/queries/q32.sql
  benchmarks/queries/clickbench/queries/q33.sql
  benchmarks/queries/clickbench/queries/q34.sql
  benchmarks/queries/clickbench/queries/q35.sql
  benchmarks/queries/clickbench/queries/q36.sql
  benchmarks/queries/clickbench/queries/q37.sql
  benchmarks/queries/clickbench/queries/q38.sql
  benchmarks/queries/clickbench/queries/q39.sql
  benchmarks/queries/clickbench/queries/q4.sql
  benchmarks/queries/clickbench/queries/q40.sql
  benchmarks/queries/clickbench/queries/q41.sql
  benchmarks/queries/clickbench/queries/q42.sql
  benchmarks/queries/clickbench/queries/q5.sql
  benchmarks/queries/clickbench/queries/q6.sql
  benchmarks/queries/clickbench/queries/q7.sql
  benchmarks/queries/clickbench/queries/q8.sql
  benchmarks/queries/clickbench/queries/q9.sql
  benchmarks/queries/clickbench/update_queries.sh
  benchmarks/src/clickbench.rs
  datafusion/core/benches/sql_planner.rs
Labels: core

#16526 chore: fix CI failures on `ddl.md`
  docs/source/user-guide/sql/ddl.md
Labels: documentation

#16469 fix: make `with_new_state` a trait method for `ExecutionPlan`
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/recursive_query.rs
  datafusion/physical-plan/src/work_table.rs
Labels: physical-plan

#16487 `TableProvider` to skip files in the folder which non relevant to selected reader
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/datasource/src/url.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: core, sqllogictest, datasource

#16543 Add some comments about adding new dependencies in datafusion-sql
  datafusion/sql/Cargo.toml
Labels: sql

#16537 Fix WindowFrame::new with order_by
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/expr/src/window_frame.rs
  datafusion/expr/src/window_state.rs
Labels: logical-expr, core

#16540 Allow unparser to override the alias name for the specific dialect
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#16549 Move Pruning Logic to a Dedicated datafusion-pruning Crate for Improved Modularity
  Cargo.lock
  Cargo.toml
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/pruning/Cargo.toml
  datafusion/pruning/src/lib.rs
Labels: api change, optimizer

#16535 Update `spilled_bytes` metric to reflect actual disk usage
  datafusion/execution/src/disk_manager.rs
  datafusion/physical-plan/src/metrics/baseline.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/spill/in_progress_spill_file.rs
  datafusion/physical-plan/src/spill/mod.rs
Labels: execution, physical-plan

#16556 Minor: add clearer link to the main website from intro paragraph.
  datafusion/core/src/lib.rs
Labels: documentation, core

#16461 adapt filter expressions to file schema during parquet scan
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/row_filter.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/schema_rewriter.rs
Labels: physical-expr, core, datasource

#16557 feat: support `map_entries` builtin function
  datafusion/common/src/utils/mod.rs
  datafusion/functions-nested/src/lib.rs
  datafusion/functions-nested/src/map_entries.rs
  datafusion/sqllogictest/test_files/map.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, common

#16566 Improve err message grammar
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, sqllogictest

#16488 feat: Finalize support for `RightMark` join + `Mark` join swap
  datafusion/common/src/join_type.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: logical-expr, optimizer, core, sqllogictest, common, physical-plan

#16424 Skip re-pruning based on partition values and file level stats if there are no dynamic filters
  Cargo.lock
  datafusion/core/tests/parquet/mod.rs
  datafusion/core/tests/parquet/row_group_pruning.rs
  datafusion/datasource-parquet/Cargo.toml
  datafusion/datasource-parquet/src/metrics.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/page_filter.rs
  datafusion/datasource-parquet/src/row_group_filter.rs
  datafusion/datasource/src/mod.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/expressions/dynamic_filters.rs
  datafusion/pruning/Cargo.toml
  datafusion/pruning/src/file_pruner.rs
  datafusion/pruning/src/lib.rs
  datafusion/pruning/src/pruning_predicate.rs
Labels: physical-expr, core, datasource

#16480 fix: column indices in FFI partition evaluator
  datafusion/ffi/src/udwf/mod.rs
  datafusion/ffi/src/udwf/partition_evaluator_args.rs
Labels: ffi

#16552 Support timestamp and date arguments for `range` and `generate_series` table functions
  datafusion/functions-table/src/generate_series.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: sqllogictest, functions

#16597 Revert Finalize support for `RightMark` join + `Mark` join
  datafusion/common/src/join_type.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: logical-expr, optimizer, core, sqllogictest, common, physical-plan

#16593 move min_batch/max_batch to functions-aggregate-common
  Cargo.lock
  datafusion/functions-aggregate-common/src/lib.rs
  datafusion/functions-aggregate-common/src/min_max.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-nested/Cargo.toml
  datafusion/functions-nested/src/min_max.rs
Labels: functions

#16351 feat: Parquet modular encryption
  Cargo.lock
  Cargo.toml
  benchmarks/src/bin/dfbench.rs
  benchmarks/src/bin/imdb.rs
  benchmarks/src/bin/tpch.rs
  datafusion-examples/README.md
  datafusion-examples/examples/parquet_encrypted.rs
  datafusion/common/Cargo.toml
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/dataframe/parquet.rs
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/encryption.rs
  datafusion/core/tests/parquet/mod.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/sqllogictest/test_files/encrypted_parquet.slt
  docs/source/user-guide/cli/datasources.md
Labels: documentation, core, sqllogictest, common, proto, datasource

#16606 fix: disallow specify both order_by and within_group
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, sqllogictest

#16613 fix: format within_group error message
  datafusion/sql/src/expr/function.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sql, sqllogictest

#16571 Allow usage of table functions in relations
  datafusion/sql/src/relation/mod.rs
  datafusion/sqllogictest/test_files/table_functions.slt
Labels: sql, sqllogictest

#16575 Update to arrow/parquet 55.2.0
  Cargo.lock
  Cargo.toml
  datafusion/sqllogictest/test_files/explain_tree.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
Labels: sqllogictest

#16618 docs: Minor grammatical fixes for the scalar UDF docs
  docs/source/library-user-guide/functions/adding-udfs.md
Labels: documentation
