Repository apache/datafusion, pull requests merged in 2025-05, with the labels that each got.

#15904 Fix allow_update_branch
  .asf.yaml
Labels: development-process

#14687 Add `union_tag` scalar function
  datafusion/functions/src/core/mod.rs
  datafusion/functions/src/core/union_tag.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/test_files/union_function.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, functions

#15794 Factor out Substrait consumers into separate files
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/consumer/expr/aggregate_function.rs
  datafusion/substrait/src/logical_plan/consumer/expr/cast.rs
  datafusion/substrait/src/logical_plan/consumer/expr/field_reference.rs
  datafusion/substrait/src/logical_plan/consumer/expr/function_arguments.rs
  datafusion/substrait/src/logical_plan/consumer/expr/if_then.rs
  datafusion/substrait/src/logical_plan/consumer/expr/literal.rs
  datafusion/substrait/src/logical_plan/consumer/expr/mod.rs
  datafusion/substrait/src/logical_plan/consumer/expr/scalar_function.rs
  datafusion/substrait/src/logical_plan/consumer/expr/singular_or_list.rs
  datafusion/substrait/src/logical_plan/consumer/expr/subquery.rs
  datafusion/substrait/src/logical_plan/consumer/expr/window_function.rs
  datafusion/substrait/src/logical_plan/consumer/mod.rs
  datafusion/substrait/src/logical_plan/consumer/plan.rs
  datafusion/substrait/src/logical_plan/consumer/rel/aggregate_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/cross_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/exchange_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/fetch_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/filter_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/join_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/mod.rs
  datafusion/substrait/src/logical_plan/consumer/rel/project_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/read_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/set_rel.rs
  datafusion/substrait/src/logical_plan/consumer/rel/sort_rel.rs
  datafusion/substrait/src/logical_plan/consumer/substrait_consumer.rs
  datafusion/substrait/src/logical_plan/consumer/types.rs
  datafusion/substrait/src/logical_plan/consumer/utils.rs
Labels: substrait

#15879 Unparse `UNNEST` projection with the table column alias
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15168 feat: Add `datafusion-spark` crate
  Cargo.lock
  Cargo.toml
  NOTICE.txt
  datafusion/functions-aggregate/src/macros.rs
  datafusion/functions/src/macros.rs
  datafusion/functions/src/utils.rs
  datafusion/spark/Cargo.toml
  datafusion/spark/LICENSE.txt
  datafusion/spark/NOTICE.txt
  datafusion/spark/README.md
  datafusion/spark/src/function/aggregate/mod.rs
  datafusion/spark/src/function/array/mod.rs
  datafusion/spark/src/function/bitwise/mod.rs
  datafusion/spark/src/function/collection/mod.rs
  datafusion/spark/src/function/conditional/mod.rs
  datafusion/spark/src/function/conversion/mod.rs
  datafusion/spark/src/function/csv/mod.rs
  datafusion/spark/src/function/datetime/mod.rs
  datafusion/spark/src/function/error_utils.rs
  datafusion/spark/src/function/generator/mod.rs
  datafusion/spark/src/function/hash/mod.rs
  datafusion/spark/src/function/json/mod.rs
  datafusion/spark/src/function/lambda/mod.rs
  datafusion/spark/src/function/map/mod.rs
  datafusion/spark/src/function/math/expm1.rs
  datafusion/spark/src/function/math/mod.rs
  datafusion/spark/src/function/misc/mod.rs
  datafusion/spark/src/function/mod.rs
  datafusion/spark/src/function/predicate/mod.rs
  datafusion/spark/src/function/string/ascii.rs
  datafusion/spark/src/function/string/mod.rs
  datafusion/spark/src/function/struct/mod.rs
  datafusion/spark/src/function/table/mod.rs
  datafusion/spark/src/function/url/mod.rs
  datafusion/spark/src/function/utils.rs
  datafusion/spark/src/function/window/mod.rs
  datafusion/spark/src/function/xml/mod.rs
  datafusion/spark/src/lib.rs
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/src/engines/conversion.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/runner.rs
  datafusion/sqllogictest/src/test_context.rs
  datafusion/sqllogictest/src/util.rs
  datafusion/sqllogictest/test_files/spark/README.md
  datafusion/sqllogictest/test_files/spark/math/expm1.slt
  datafusion/sqllogictest/test_files/spark/string/ascii.slt
Labels: sqllogictest, functions

#15910 Fix typo in introduction.md
  docs/source/user-guide/introduction.md
Labels: documentation

#15917 Fix CI in main
  datafusion/spark/src/function/utils.rs
Labels: bug

#15932 fix: sqllogictest on Windows
  datafusion/sqllogictest/test_files/listing_table_statistics.slt
Labels: sqllogictest

#15933 docs: Label `bloom_filter_on_read` as a reading config
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, sqllogictest, common

#15931 Speedup `character_length`
  datafusion/functions/src/unicode/character_length.rs
Labels: functions

#15937 Migrate Optimizer tests to insta, part4
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#15935 fix query results for predicates referencing partition columns and data columns
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/row_filter.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest, datasource

#15919 feat: create helpers to set the max_temp_directory_size
  datafusion-cli/src/main.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/disk_manager.rs
Labels: core, execution

#15942 Fix main CI by adding `rowsort` to slt test
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: sqllogictest

#15801 refactor filter pushdown apis
  datafusion/core/Cargo.toml
  datafusion/core/benches/push_down_filter.rs
  datafusion/core/tests/physical_optimizer/push_down_filter.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/filter_pushdown.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/parquet_filter_pushdown.slt
Labels: optimizer, core, sqllogictest, datasource

#15854 fix: fold cast null to substrait typed null
  datafusion/substrait/src/logical_plan/producer.rs
Labels: substrait

#15955 Add additional tests for filter pushdown apis
  datafusion/core/tests/physical_optimizer/filter_pushdown/mod.rs
  datafusion/core/tests/physical_optimizer/filter_pushdown/util.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/push_down_filter.rs
  datafusion/datasource/src/file_scan_config.rs
Labels: core, datasource

#15959 Improve filter pushdown optimizer rule performance
  Cargo.lock
  datafusion/core/benches/push_down_filter.rs
  datafusion/physical-optimizer/src/filter_pushdown.rs
  datafusion/physical-plan/src/filter.rs
Labels: optimizer, core

#15667 feat: support min/max for struct
  datafusion/common/src/scalar/mod.rs
  datafusion/functions-aggregate-common/src/aggregate/groups_accumulator/nulls.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/min_max/min_max_struct.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, common, functions

#15841 refactor: replace `unwrap_or` with `unwrap_or_else` for improved lazy…
  Cargo.toml
  benchmarks/src/bin/external_aggr.rs
  benchmarks/src/imdb/run.rs
  benchmarks/src/sort.rs
  benchmarks/src/sort_tpch.rs
  benchmarks/src/tpch/run.rs
  benchmarks/src/util/options.rs
  datafusion/common/src/column.rs
  datafusion/common/src/error.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/datasource-csv/src/file_format.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/statistics.rs
  datafusion/datasource/src/write/demux.rs
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/expr/src/expr_fn.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-window/src/lead_lag.rs
  datafusion/macros/src/user_doc.rs
  datafusion/optimizer/src/simplify_expressions/regex.rs
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-expr/src/equivalence/properties/mod.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-optimizer/src/enforce_sorting/replace_with_order_preserving_variants.rs
  datafusion/physical-optimizer/src/enforce_sorting/sort_pushdown.rs
  datafusion/physical-optimizer/src/update_aggr_exprs.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/streaming.rs
Labels: logical-expr, physical-expr, optimizer, core, common, functions, datasource

#15966 [Update] : Removal of duplicate CI jobs
  .github/workflows/docs_pr.yaml
Labels: development-process

#15974 re-export can_expr_be_pushed_down_with_schemas to be public
  datafusion/datasource-parquet/src/mod.rs
Labels: datasource

#15945 Migrate Optimizer tests to insta, part5
  datafusion/optimizer/src/extract_equijoin_predicate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/single_distinct_to_groupby.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#15965 Show LogicalType name for `INFORMATION_SCHEMA`
  datafusion/catalog/src/information_schema.rs
  datafusion/sqllogictest/test_files/information_schema.slt
Labels: sqllogictest, catalog

#15987 refactor: remove deprecated `AvroExec`
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/datasource-avro/src/source.rs
Labels: core, datasource

#15869 Substrait: Handle inner map fields in schema renaming
  datafusion/substrait/src/logical_plan/consumer/utils.rs
Labels: substrait

#15991 refactor: remove deprecated `CsvExec`
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/datasource-csv/src/source.rs
Labels: core, datasource

#15972 Implement RightSemi join for SortMergeJoin
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: core, sqllogictest

#15409 Enable repartitioning on MemTable.
  datafusion/common/src/config.rs
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/sort_fuzz.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/datasource/src/memory.rs
  datafusion/datasource/src/source.rs
  datafusion/datasource/src/test_util.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, optimizer, core, sqllogictest, common, datasource

#16010 Migrate Optimizer tests to insta, part7
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/eliminate_cross_join.rs
  datafusion/optimizer/src/eliminate_duplicated_expr.rs
  datafusion/optimizer/src/eliminate_filter.rs
  datafusion/optimizer/src/eliminate_group_by_constant.rs
  datafusion/optimizer/src/eliminate_join.rs
  datafusion/optimizer/src/eliminate_nested_union.rs
  datafusion/optimizer/src/eliminate_outer_join.rs
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/propagate_empty_relation.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/optimizer/src/replace_distinct_aggregate.rs
  datafusion/optimizer/src/test/mod.rs
Labels: optimizer

#15995 Fix: `build_predicate_expression` method doesn't process `false` expr correctly
  datafusion/physical-optimizer/src/pruning.rs
Labels: bug, optimizer

#16026 refactor: move `should_enable_page_index` from `mod.rs` to `opener.rs`
  datafusion/datasource-parquet/src/mod.rs
  datafusion/datasource-parquet/src/opener.rs
Labels: datasource

#15119 fix: add an "expr_planners" method to SessionState
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/session_state.rs
Labels: core

#15612 Updated extending operators documentation
  docs/source/library-user-guide/extending-operators.md
Labels: documentation

#15997 feat(proto): udf decoding fallback
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  datafusion/proto/tests/cases/serialize.rs
Labels: proto

#16020 chore: Replace MSRV link on main page with Github badge
  README.md
  docs/source/user-guide/introduction.md
Labels: documentation

#16034 Add note to upgrade guide for removal of `ParquetExec`, `AvroExec`, `CsvExec`, `JsonExec`
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#16006 refactor: remove deprecated `ArrowExec`
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
Labels: api change, core

#16005 refactor: remove deprecated `JsonExec`
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/datasource-json/src/source.rs
Labels: api change, core, datasource

#16039 Docs: Add example of creating a field in `return_field_from_args`
  datafusion/expr/src/udf.rs
Labels: logical-expr

#16025 Support `MIN` and `MAX` for `DataType::List`
  datafusion/common/src/scalar/mod.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array_query.slt
Labels: optimizer, sqllogictest, common, functions

#15924 fix: overcounting of memory in first/last.
  datafusion/common/src/scalar/mod.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/min_max.rs
Labels: common, functions

#16036 Improve docs for Exprs and scalar functions
  datafusion/expr/src/expr.rs
  datafusion/expr/src/udf.rs
Labels: logical-expr

#15743 Fix Infer prepare statement type tests
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#16052 docs: Clarify that it is only the name of the field that is ignored
  datafusion/expr/src/udf.rs
Labels: logical-expr

#15999 style: simplify some strings for readability
  datafusion-cli/src/catalog.rs
  datafusion-cli/src/command.rs
  datafusion-cli/src/exec.rs
  datafusion-cli/src/functions.rs
  datafusion-cli/src/main.rs
  datafusion-cli/src/pool_type.rs
  datafusion-cli/src/print_format.rs
  datafusion-cli/src/print_options.rs
  datafusion-cli/tests/cli_integration.rs
  datafusion/ffi/src/plan_properties.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto, ffi

#16015 support simple/cross lateral joins
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/decorrelate_lateral_join.rs
  datafusion/optimizer/src/lib.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/join.slt.part
Labels: optimizer, sqllogictest

#16050 Improve error message on Out of Memory
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
Labels: core, execution

#15994 [datafusion-spark] Add Spark-compatible `char` expression
  datafusion/spark/src/function/string/char.rs
  datafusion/spark/src/function/string/mod.rs
  datafusion/sqllogictest/test_files/spark/string/char.slt
Labels: sqllogictest

#16098 Add test that demonstrate behavior for `collect_statistics`
  datafusion/sqllogictest/test_files/parquet_statistics.slt
Labels: sqllogictest

#16102 Fix CI on main: Add window function examples in code
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/functions-window/src/ntile.rs
  datafusion/functions-window/src/rank.rs
  datafusion/functions-window/src/row_number.rs
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, functions

#16089 Refactor substrait producer into multiple files
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/logical_plan/producer/expr/aggregate_function.rs
  datafusion/substrait/src/logical_plan/producer/expr/cast.rs
  datafusion/substrait/src/logical_plan/producer/expr/field_reference.rs
  datafusion/substrait/src/logical_plan/producer/expr/if_then.rs
  datafusion/substrait/src/logical_plan/producer/expr/literal.rs
  datafusion/substrait/src/logical_plan/producer/expr/mod.rs
  datafusion/substrait/src/logical_plan/producer/expr/scalar_function.rs
  datafusion/substrait/src/logical_plan/producer/expr/singular_or_list.rs
  datafusion/substrait/src/logical_plan/producer/expr/subquery.rs
  datafusion/substrait/src/logical_plan/producer/expr/window_function.rs
  datafusion/substrait/src/logical_plan/producer/mod.rs
  datafusion/substrait/src/logical_plan/producer/plan.rs
  datafusion/substrait/src/logical_plan/producer/rel/aggregate_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/exchange_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/fetch_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/filter_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/join.rs
  datafusion/substrait/src/logical_plan/producer/rel/mod.rs
  datafusion/substrait/src/logical_plan/producer/rel/project_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/read_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/set_rel.rs
  datafusion/substrait/src/logical_plan/producer/rel/sort_rel.rs
  datafusion/substrait/src/logical_plan/producer/substrait_producer.rs
  datafusion/substrait/src/logical_plan/producer/types.rs
  datafusion/substrait/src/logical_plan/producer/utils.rs
Labels: substrait

#16094 Fix temp dir leak in tests
  Cargo.lock
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/parquet/file_statistics.rs
Labels: core

#16095 Label Spark functions PRs with spark label
  .github/workflows/labeler.yml
  .github/workflows/labeler/labeler-config.yml
Labels: development-process

#16067 Added SLT tests for IMDB benchmark queries
  datafusion/sqllogictest/test_files/imdb.slt
Labels: sqllogictest

#16031 fix: stack overflow for substrait functions with large argument lists that translate to DataFusion binary operators
  datafusion/substrait/src/logical_plan/consumer/expr/scalar_function.rs
Labels: substrait

#16068 chore(CI) Upgrade toolchain to Rust-1.87
  datafusion-examples/examples/flight/flight_sql_server.rs
  datafusion/common/src/error.rs
  datafusion/common/src/stats.rs
  datafusion/datasource-avro/src/avro_to_arrow/arrow_array_reader.rs
  datafusion/expr-common/src/accumulator.rs
  datafusion/expr/src/planner.rs
  datafusion/expr/src/simplify.rs
  datafusion/expr/src/window_state.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/sql/src/resolve.rs
  datafusion/sql/src/select.rs
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/extension_unparser.rs
  rust-toolchain.toml
Labels: sql, logical-expr, optimizer, common, datasource, physical-plan

#15911 feat: metadata handling for aggregates and window functions
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_window_functions.rs
  datafusion/expr-common/src/type_coercion/aggregates.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udwf.rs
  datafusion/functions-aggregate-common/src/accumulator.rs
  datafusion/functions-aggregate/benches/count.rs
  datafusion/functions-aggregate/benches/sum.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/bool_and_or.rs
  datafusion/functions-aggregate/src/count.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/median.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/functions-aggregate/src/nth_value.rs
  datafusion/functions-aggregate/src/stddev.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions-aggregate/src/sum.rs
  datafusion/functions-window-common/src/expr.rs
  datafusion/functions-window-common/src/field.rs
  datafusion/functions-window-common/src/partition.rs
  datafusion/functions-window/src/lead_lag.rs
  datafusion/functions-window/src/macros.rs
  datafusion/functions-window/src/nth_value.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/physical-expr/src/aggregate.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, datafusion, api change, logical-expr, physical-expr, optimizer, core, proto, functions, physical-plan

#16085 doc: fix indent format explain
  docs/source/library-user-guide/query-optimizer.md
  docs/source/user-guide/explain-usage.md
  docs/source/user-guide/sql/explain.md
Labels: documentation

#16100 Update documentation for `datafusion.execution.collect_statistics`
  datafusion/common/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, sqllogictest, common

#15816 fix: Add coercion rules for Float16 types
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/float16.slt
Labels: logical-expr, sqllogictest

#16033 Use qualified names on DELETE selections
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/delete.slt
Labels: sql, sqllogictest

#16097 feat: make error handling in indent explain consistent with that in tree
  datafusion/core/src/physical_planner.rs
Labels: core

#16109 Clean up ExternalSorter and use upstream kernel
  datafusion/physical-plan/src/sorts/sort.rs
Labels: physical-plan

#15748 Support `GroupsAccumulator` for Avg duration
  datafusion/functions-aggregate-common/src/accumulator.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#16086 Revert use file schema in parquet pruning
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/datasource-parquet/src/opener.rs
  datafusion/datasource-parquet/src/row_filter.rs
  datafusion/datasource-parquet/src/source.rs
Labels: core, datasource

#16080 Make `SessionContext::register_parquet` obey `collect_statistics` config
  datafusion/core/src/datasource/file_format/options.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/listing_table_factory.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/core/tests/sql/path_partition.rs
  docs/source/library-user-guide/upgrading.md
Labels: documentation, core

#16082 fix: describe escaped quoted identifiers
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#16113 Minor: Add `ScalarFunctionArgs::return_type` method
  datafusion/expr/src/udf.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/core/struct.rs
Labels: logical-expr, functions

#16110 feat: coerce to/from fixed size binary to binary view
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/binary.slt
Labels: logical-expr, sqllogictest

#16115 Improve the DML / DDL Documentation
  benchmarks/README.md
  benchmarks/queries/clickbench/README.md
  datafusion/expr/src/logical_plan/dml.rs
  docs/source/library-user-guide/catalogs.md
  docs/source/library-user-guide/custom-table-providers.md
Labels: documentation, logical-expr

#16046 Fix `contains` function expression
  datafusion/functions/src/string/contains.rs
  datafusion/functions/src/string/mod.rs
Labels: functions

#16087 Optimize performance of `string::ascii` function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/ascii.rs
  datafusion/functions/src/string/ascii.rs
Labels: functions

#16123 chore: Use materialized data for filter pushdown tests
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/data/filter_pushdown/single_file.gz.parquet
  datafusion/core/tests/data/filter_pushdown/single_file_small_pages.gz.parquet
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/core/tests/parquet/filter_pushdown.rs
Labels: core

#16019 Include data types in logical plans of inferred prepare statements
  datafusion/sql/src/statement.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/prepare.slt
Labels: sql, sqllogictest

#16081 Set `TrackConsumersPool` as default in datafusion-cli
  datafusion-cli/src/main.rs
  datafusion-cli/tests/cli_integration.rs
  datafusion-cli/tests/snapshots/cli_top_memory_consumers@no_track.snap
  datafusion-cli/tests/snapshots/cli_top_memory_consumers@top2.snap
  datafusion-cli/tests/snapshots/cli_top_memory_consumers@top3_default.snap
  docs/source/user-guide/cli/usage.md
Labels: documentation

#16144 CI: Fix extended test failure
  .github/workflows/extended.yml
Labels: development-process

#16071 adding support for Min/Max over LargeList and FixedSizeList
  datafusion/common/src/scalar/mod.rs
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/min_max/fixed_size_list.slt
  datafusion/sqllogictest/test_files/min_max/init_data.slt.part
  datafusion/sqllogictest/test_files/min_max/large_list.slt
  datafusion/sqllogictest/test_files/min_max/list.slt
  datafusion/sqllogictest/test_files/min_max/queries.slt.part
Labels: optimizer, sqllogictest, common, functions

#16141 Move prepare/parameter handling tests into `params.rs`
  datafusion/expr/src/logical_plan/statement.rs
  datafusion/sql/tests/cases/mod.rs
  datafusion/sql/tests/cases/params.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr

#16112 Minor: Add `Accumulator::return_type` and `StateFieldsArgs::return_type` to help with upgrade to 48
  datafusion-examples/examples/advanced_udaf.rs
  datafusion/functions-aggregate-common/src/accumulator.rs
  datafusion/functions-aggregate/src/bit_and_or_xor.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/functions-aggregate/src/sum.rs
Labels: functions

#16152 Enrich GroupedHashAggregateStream name to ease debugging Resources exhausted errors
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: core, physical-plan

#16154 Remove `Filter::having` field
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
Labels: api change, logical-expr

#16175 Minor: Fix name() for FilterPushdown physical optimizer rule
  datafusion/physical-optimizer/src/filter_pushdown.rs
  datafusion/sqllogictest/test_files/explain.slt
Labels: optimizer, sqllogictest

#16138 refactor(optimizer): Add support for dynamically adding test tables
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer

#16167 feat: array_length for fixed size list
  datafusion/functions-nested/src/length.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#16164 fix: Remove trailing whitespace in `Display` for `LogicalPlan::Projection`
  datafusion/core/tests/sql/explain_analyze.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/limit.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/union.slt
  datafusion/sqllogictest/test_files/window.slt
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, core, sqllogictest, substrait

#16127 Improve `unproject_sort_expr` to handle arbitrary expressions
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/src/unparser/utils.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#16165 Set aggregation hash seed
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/mod.rs
  datafusion/physical-plan/src/aggregates/group_values/row.rs
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/primitive.rs
  datafusion/physical-plan/src/aggregates/mod.rs
Labels: physical-plan

#16191 feat: create builder for disk manager
  benchmarks/src/util/options.rs
  datafusion-cli/src/main.rs
  datafusion/core/tests/fuzz_cases/sort_query_fuzz.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/disk_manager.rs
  datafusion/execution/src/runtime_env.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/wasmtest/src/lib.rs
Labels: core, execution, physical-plan

#16189 Substrait: handle identical grouping expressions
  datafusion/substrait/src/logical_plan/consumer/rel/aggregate_rel.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
  datafusion/substrait/tests/testdata/test_plans/aggregate_identical_grouping_expressions.substrait.json
Labels: substrait

#16213 Minor: update documentation for PrunableStatistics
  datafusion/common/src/pruning.rs
Labels: common

#16215 Minor: remove unused IPCWriter
  datafusion/physical-plan/src/common.rs
Labels: api change, physical-plan
