Repository apache/datafusion, pull requests merged in 2025-04, with the labels that each got.

#15508 Extract tokio runtime creation from hot loop in benchmarks
  datafusion/core/benches/aggregate_query_sql.rs
  datafusion/core/benches/csv_load.rs
  datafusion/core/benches/dataframe.rs
  datafusion/core/benches/distinct_query_sql.rs
  datafusion/core/benches/filter_query_sql.rs
  datafusion/core/benches/math_query_sql.rs
  datafusion/core/benches/physical_plan.rs
  datafusion/core/benches/sort_limit_query_sql.rs
  datafusion/core/benches/sql_planner.rs
  datafusion/core/benches/struct_query_sql.rs
  datafusion/core/benches/window_query_sql.rs
Labels: core

#15499 Migrate `datafusion/sql` tests to insta, part2
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#15536 Disable sccache action to fix gh cache issue
  .github/actions/setup-rust-runtime/action.yaml
Labels: development-process

#15515 Update user guide to note decimal is not experimental anymore
  docs/source/user-guide/sql/data_types.md
Labels: documentation

#15505 datafusion-cli: document reading partitioned parquet
  docs/source/user-guide/cli/datasources.md
Labels: documentation

#15541 Update concepts-readings-events.md
  docs/source/user-guide/concepts-readings-events.md
Labels: documentation

#15504 Add documentation example for `AggregateExprBuilder`
  datafusion/physical-expr/src/aggregate.rs
Labels: physical-expr

#15518 Add utf8view benchmark for aggregate topk
  datafusion/core/benches/data_utils/mod.rs
  datafusion/core/benches/distinct_query_sql.rs
  datafusion/core/benches/topk_aggregate.rs
Labels: core

#15527 ArraySort: support structs
  datafusion/functions-nested/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#15533 Migrate datafusion/sql tests to insta, part3
  datafusion/sql/tests/sql_integration.rs
Labels: sql

#15457 fix: aggregation corner case
  datafusion/functions-table/src/generate_series.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#14955 Remove redundant statistics from FileScanConfig
  datafusion/datasource/src/file_scan_config.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: api change, proto, datasource

#15520 feat: Add config `max_temp_directory_size` to limit max disk usage for spilling queries
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/execution/src/disk_manager.rs
  datafusion/physical-plan/src/spill/in_progress_spill_file.rs
  datafusion/physical-plan/src/spill/spill_manager.rs
Labels: core, execution

#15531 fix: update group by columns for merge phase after spill
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: core

#15547 Add topk information into tree explain plans
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15564 Minor: add Arc for statistics in FileGroup
  datafusion/datasource/src/file_groups.rs
  datafusion/datasource/src/statistics.rs
Labels: datasource

#15281 fix: Queries similar to `count-bug` produce incorrect results
  datafusion/optimizer/src/decorrelate.rs
  datafusion/optimizer/src/scalar_subquery_to_join.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#15501 Test: configuration fuzzer for (external) sort queries
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/data_generator.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/mod.rs
  datafusion/core/tests/fuzz_cases/mod.rs
  datafusion/core/tests/fuzz_cases/record_batch_generator.rs
  datafusion/core/tests/fuzz_cases/sort_query_fuzz.rs
Labels: core

#15556 Add SQL logic tests for compound field access in JOIN conditions
  datafusion/sqllogictest/test_files/joins.slt
Labels: sqllogictest

#15576 fix: ffi aggregation
  datafusion/ffi/src/table_provider.rs
Labels: ffi

#15572 Run audit CI check on all pushes to main
  .github/workflows/audit.yml
Labels: development-process

#15574 chore: update clickbench
  benchmarks/queries/clickbench/queries.sql
  datafusion/sqllogictest/test_files/clickbench.slt
Labels: sqllogictest

#15555 Docs : Added Sql examples for window Functions : `nth_val` , etc
  datafusion/functions-window/src/cume_dist.rs
  datafusion/functions-window/src/nth_value.rs
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, functions

#15454 Improve spill performance: Disable re-validation of spilled files
  Cargo.lock
  Cargo.toml
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/benches/spill_io.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/spill/mod.rs
  datafusion/sqllogictest/test_files/dates.slt
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#15562 Perf: remove `clone` on `uninitiated_partitions` in SortPreservingMergeStream
  datafusion/physical-plan/src/sorts/merge.rs
Labels: performance

#15033 fix: nested window function
  datafusion/core/tests/sql/sql_api.rs
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, core, sqllogictest

#15586 Add disk usage limit configuration to datafusion-cli
  datafusion-cli/src/main.rs
  docs/source/user-guide/cli/usage.md
Labels: documentation

#15587 Chore: Call arrow's methods `row_count` and `skipped_row_count`
  datafusion/datasource-parquet/src/page_filter.rs
Labels: datasource

#15595 Actually run wasm test in ci
  .github/workflows/rust.yml
  datafusion/wasmtest/README.md
  datafusion/wasmtest/src/lib.rs
  datafusion/wasmtest/webdriver.json
Labels: development-process

#15578 Migrate datafusion/sql tests to insta, part6
  datafusion/sql/tests/cases/diagnostic.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15609 Add test case for new casting feature from date to tz-aware timestamps
  datafusion/sqllogictest/test_files/timestamps.slt
Labels: sqllogictest

#15602 fix doc and broken api
  datafusion/common/src/functional_dependencies.rs
  datafusion/sql/src/statement.rs
Labels: sql, common

#15618 Bug fix : fix the bug in docs in 'cum_dist()' Example
  datafusion/functions-window/src/cume_dist.rs
  docs/source/user-guide/sql/window_functions.md
Labels: documentation, functions

#15621 Migrate datafusion/sql tests to insta, part7
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15626 ignore security_audit CI check proc-macro-error warning
  .github/workflows/audit.yml
Labels: development-process

#15606 chore: improve RepartitionExec display tree
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15647 Minor: refine comments for statistics compution
  datafusion/core/src/datasource/listing/table.rs
  datafusion/datasource/src/statistics.rs
Labels: core, datasource

#15632 Remove uneeded binary_op benchmarks
  datafusion/physical-expr/benches/binary_op.rs
Labels: physical-expr

#15563 perf: Introduce sort prefix computation for early TopK exit optimization on partially sorted input (10x speedup on top10 bench)
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/physical-expr/src/equivalence/properties/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/sqllogictest/test_files/topk.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, core, sqllogictest

#15579 chore: avoid erroneuous warning for FFI table operation (only not default value)
  datafusion/common/src/config.rs
Labels: common

#15635 Ignore false positive only_used_in_recursion Clippy warning
  datafusion/physical-optimizer/src/aggregate_statistics.rs
Labels: optimizer

#15652 fix: dictionary encoded column to partition column casting bug
  datafusion/datasource/src/write/demux.rs
  datafusion/sqllogictest/test_files/dictionary.slt
Labels: sqllogictest, datasource

#15658 chore: Rename protobuf Java package
  datafusion/proto/proto/datafusion.proto
Labels: proto

#15659 Remove redundant `Precision` combination code in favor of `Precision::min/max/add`
  datafusion/core/src/datasource/listing/table.rs
  datafusion/datasource/src/mod.rs
  datafusion/datasource/src/statistics.rs
Labels: core, datasource

#15600 fix: recursion protection for physical plan node
  datafusion/proto/Cargo.toml
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: proto

#15542 Improve performance of `last_value` by implementing special `GroupsAccumulator`
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/sqllogictest/test_files/group_by.slt
Labels: performance, core, sqllogictest, functions

#15568 Introduce DynamicFilterSource and DynamicPhysicalExpr
  Cargo.lock
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/src/expressions/dynamic_filters.rs
  datafusion/physical-expr/src/expressions/mod.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/utils/mod.rs
  datafusion/physical-optimizer/src/pruning.rs
  datafusion/proto/src/physical_plan/to_proto.rs
Labels: physical-expr, optimizer, proto

#15630 fix: Rewrite `date_trunc` and `from_unixtime` for the SQLite unparser
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/src/unparser/utils.rs
Labels: sql

#15634 fix(substrait): fix regressed edge case in renaming inner struct fields
  datafusion/common/src/dfschema.rs
  datafusion/expr/src/logical_plan/invariants.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: logical-expr, optimizer, substrait, common

#15588 fix decimal precision issue in simplify expression optimize rule
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/simplify_expr.slt
Labels: optimizer, sqllogictest

#15653 Implement Future for SpawnedTask.
  datafusion/common-runtime/src/common.rs
Labels: common

#15613 feat: Add unique id for every memory consumer
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
Labels: api change, execution

#15581 Add Table Functions to FFI Crate
  Cargo.lock
  datafusion-examples/Cargo.toml
  datafusion/ffi/Cargo.toml
  datafusion/ffi/src/lib.rs
  datafusion/ffi/src/tests/mod.rs
  datafusion/ffi/src/tests/udf_udaf_udwf.rs
  datafusion/ffi/src/udtf.rs
  datafusion/ffi/tests/ffi_udtf.rs
Labels: ffi

#15589 Enhance: simplify `x=x` --> `x IS NOT NULL OR NULL`
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/simplify_expr.slt
Labels: performance, optimizer, sqllogictest

#15639 fix: normalize window ident
  datafusion/sql/src/select.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sql, sqllogictest

#15695 Minor: add order by arg for last value
  datafusion/functions-aggregate/src/first_last.rs
Labels: functions

#15466 Upgrade to arrow/parquet 55, and `object_store` to `0.12.0` and pyo3 to `0.24.0`
  Cargo.lock
  Cargo.toml
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion/common/Cargo.toml
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/mod.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/parquet.rs
  datafusion/core/src/test/object_store.rs
  datafusion/core/src/test_util/parquet.rs
  datafusion/core/tests/parquet/custom_reader.rs
  datafusion/core/tests/parquet/page_pruning.rs
  datafusion/core/tests/sql/path_partition.rs
  datafusion/core/tests/tracing/traceable_object_store.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/datasource-json/src/file_format.rs
  datafusion/datasource-json/src/source.rs
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/reader.rs
  datafusion/datasource-parquet/src/row_group_filter.rs
  datafusion/datasource/src/file_groups.rs
  datafusion/datasource/src/mod.rs
  datafusion/execution/Cargo.toml
  datafusion/functions-aggregate/benches/array_agg.rs
  datafusion/functions/benches/chr.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/sqllogictest/test_files/expr/date_part.slt
  datafusion/substrait/src/physical_plan/producer.rs
Labels: core, sqllogictest, substrait, common, execution, proto, functions, datasource

#15702 tests: only refresh the minimum sysinfo in mem limit tests.
  datafusion/core/tests/memory_limit/memory_limit_validation/utils.rs
Labels: core

#15704 ci: fix workflow triggering extended tests from pr comments.
  .github/workflows/extended.yml
  .github/workflows/pr_comment_commands.yml
Labels: development-process

#15706 Make tree the Default EXPLAIN Format and Reorder Documentation Sections
  docs/source/user-guide/sql/explain.md
Labels: documentation

#14412 STRING_AGG missing functionality
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/sql/aggregate_functions.md
Labels: documentation, sqllogictest, functions

#15710 doc : update RepartitionExec display tree
  docs/source/user-guide/sql/explain.md
Labels: documentation

#15717 Minor: include output partition count of `RepartitionExec` to tree explain
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/explain_tree.slt
Labels: sqllogictest

#15731 Update version to 47.0.0, add CHANGELOG
  Cargo.lock
  Cargo.toml
  dev/changelog/47.0.0.md
  docs/source/user-guide/configs.md
Labels: documentation, development-process

#15712 Enable setting default values for target_partitions and planning_concurrency
  datafusion/common/src/config.rs
  datafusion/execution/src/config.rs
  datafusion/sqllogictest/test_files/information_schema.slt
Labels: sqllogictest, common, execution

#15680 Attach Diagnostic to syntax errors
  datafusion-examples/examples/sql_dialect.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/tests/cases/diagnostic.rs
  datafusion/sqllogictest/test_files/copy.slt
  datafusion/sqllogictest/test_files/create_external_table.slt
Labels: api change, sql, sqllogictest

#15729 Avoid computing unnecessary statstics
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/file_stream.rs
Labels: datasource

#15594 Set DataFusion runtime configurations through SQL interface
  .github/workflows/rust.yml
  datafusion/core/src/bin/print_runtime_config_docs.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/lib.rs
  datafusion/core/tests/sql/mod.rs
  datafusion/core/tests/sql/runtime_config.rs
  datafusion/execution/src/runtime_env.rs
  dev/update_runtime_config_docs.sh
  docs/source/index.rst
  docs/source/user-guide/runtime_configs.md
Labels: documentation, enhancement, development-process, core, execution

#15709 Refactor regexp slt tests
  datafusion/sqllogictest/test_files/regexp.slt
  datafusion/sqllogictest/test_files/regexp/README.md
  datafusion/sqllogictest/test_files/regexp/init_data.slt.part
  datafusion/sqllogictest/test_files/regexp/regexp_count.slt
  datafusion/sqllogictest/test_files/regexp/regexp_like.slt
  datafusion/sqllogictest/test_files/regexp/regexp_match.slt
  datafusion/sqllogictest/test_files/regexp/regexp_replace.slt
Labels: sqllogictest

#15566 ExecutionPlan: add APIs for filter pushdown & optimizer rule to apply them
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/push_down_filter.rs
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/file_scan_config.rs
  datafusion/datasource/src/source.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/physical-optimizer/src/push_down_filter.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/filter_pushdown.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/cte.slt
  datafusion/sqllogictest/test_files/dictionary.slt
  datafusion/sqllogictest/test_files/explain.slt
  datafusion/sqllogictest/test_files/simplify_expr.slt
Labels: optimizer, core, sqllogictest, datasource

#15160 Change `flatten` so it does only a level, not recursively
  datafusion/functions-nested/src/flatten.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: api change, sqllogictest

#15694 Apply pre-selection and computation skipping to short-circuit optimization
  datafusion/physical-expr/benches/binary_op.rs
  datafusion/physical-expr/src/expressions/binary.rs
Labels: performance, physical-expr

#15737 fix: serialize listing table without partition column
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#15726 Coerce and simplify FixedSizeBinary equality to literal binary
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/unwrap_cast.rs
  datafusion/sqllogictest/test_files/binary.slt
Labels: logical-expr, optimizer, sqllogictest

#15752 Minor: simplify code in datafusion-proto
  datafusion/proto-common/src/common.rs
  datafusion/proto/src/logical_plan/mod.rs
Labels: proto

#15746 Add a fast path for `optimize_projection`
  datafusion/optimizer/src/optimize_projections/mod.rs
Labels: performance, optimizer

#15749 Add DataFusion 47.0.0 Upgrade Guide
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#15761 Speed up `optimize_projection` by improving `is_projection_unnecessary`
  datafusion/optimizer/src/optimize_projections/mod.rs
Labels: performance, optimizer

#15468 Support `Accumulator` for avg duration
  datafusion/expr-common/src/type_coercion/aggregates.rs
  datafusion/functions-aggregate/src/average.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: logical-expr, sqllogictest, functions

#15735 Improve `simplify_expressions` rule
  datafusion/core/tests/expr_api/simplification.rs
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/optimizer/src/simplify_expressions/simplify_exprs.rs
Labels: api change, optimizer, core

#15708 Improve documentation for format `OPTIONS` clause
  datafusion/core/src/lib.rs
  docs/source/user-guide/sql/ddl.md
  docs/source/user-guide/sql/dml.md
  docs/source/user-guide/sql/format_options.md
  docs/source/user-guide/sql/index.rst
  docs/source/user-guide/sql/write_options.md
Labels: documentation, core

#15750 fix: describe Parquet schema with coerce_int96
  datafusion/datasource-parquet/src/file_format.rs
  datafusion/datasource-parquet/src/source.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: sqllogictest, datasource

#15644 Show current SQL recursion limit in RecursionLimitExceeded error message
  datafusion/sql/src/parser.rs
Labels: sql

#15786 Minor: fix flaky test in `aggregate.slt`
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#15730 Minor: remove unused logic for limit pushdown
  datafusion/physical-optimizer/src/limit_pushdown.rs
Labels: optimizer

#15757 Add try_new for LogicalPlan::Join
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#15800 Minor: eliminate unnecessary struct creation in session state build
  datafusion/core/src/execution/session_state.rs
Labels: core

#15799 doc: Adding Feldera as known user
  docs/source/user-guide/introduction.md
Labels: documentation

#15808 Fix: fetch is missing in `replace_order_preserving_variants` method during `EnforceDistribution` optimizer
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
Labels: bug, optimizer, core

#15787 Speed up `optimize_projection`
  Cargo.lock
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/benches/projection_unnecessary.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
Labels: performance, optimizer

#15814 Support unparsing `UNION` for distinct results
  datafusion/sql/src/unparser/ast.rs
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15828 Add `MemoryPool::memory_limit` to expose setting memory usage limit
  datafusion/execution/src/memory_pool/mod.rs
  datafusion/execution/src/memory_pool/pool.rs
Labels: execution

#15825 Preserve projection for inline scan
  datafusion/core/tests/execution/logical_plan.rs
  datafusion/expr/src/logical_plan/builder.rs
Labels: logical-expr, core

#15822 Fix: fetch is missing in `EnforceSorting` optimizer (two places)
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-optimizer/src/enforce_sorting/replace_with_order_preserving_variants.rs
Labels: bug, optimizer, core

#15829 Minor: fix potential flaky test in aggregate.slt
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest

#15820 Fix `ILIKE` expression support in SQL unparser
  datafusion/sql/src/unparser/expr.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#15796 Make `Diagnostic` easy/convinient to attach by using macro and avoiding `map_err`
  datafusion/common/src/error.rs
  datafusion/sql/src/expr/function.rs
  datafusion/sql/src/expr/subquery.rs
  datafusion/sql/src/expr/unary_op.rs
  datafusion/sql/src/parser.rs
  datafusion/sql/src/set_expr.rs
  datafusion/sql/src/utils.rs
Labels: sql, common

#15782 Feature/benchmark config from env
  benchmarks/README.md
  benchmarks/bench.sh
  benchmarks/src/bin/external_aggr.rs
  benchmarks/src/clickbench.rs
  benchmarks/src/h2o.rs
  benchmarks/src/imdb/run.rs
  benchmarks/src/sort_tpch.rs
  benchmarks/src/tpch/run.rs
  benchmarks/src/util/options.rs
  datafusion/common/src/config.rs
Labels: common

#15764 predicate pruning: support cast and try_cast for more types
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer

#15824 Fix `CoalescePartitionsExec` proto serialization
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: optimizer, core, proto

#15849 Fix build failure caused by new `CoalescePartitionsExec::with_fetch` method
  datafusion/physical-optimizer/src/enforce_sorting/replace_with_order_preserving_variants.rs
Labels: optimizer

#15856 Fix ScalarValue::List comparison when the compared lists have different lengths
  datafusion/common/src/scalar/mod.rs
Labels: common

#15843 chore: More details to `No UDF registered` error
  datafusion/core/src/execution/session_state.rs
Labels: core

#15858 Remove usage of `dbg!`
  datafusion/physical-optimizer/src/pruning.rs
Labels: optimizer

#15844 Fix `from_unixtime` function documentation
  datafusion/functions/src/datetime/from_unixtime.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#15859 Minor: Interval singleton
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/physical-expr/src/equivalence/properties/mod.rs
Labels: logical-expr, physical-expr

#15851 Make aggr fuzzer query builder more configurable
  datafusion/core/tests/fuzz_cases/aggregate_fuzz.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/fuzzer.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/mod.rs
  datafusion/core/tests/fuzz_cases/aggregation_fuzzer/query_builder.rs
Labels: core

#15723 Add slt tests for `datafusion.execution.parquet.coerce_int96` setting
  datafusion/sqllogictest/test_files/parquet.slt
Labels: sqllogictest

#15767 Improve `ListingTable` / `ListingTableOptions` docs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/lib.rs
Labels: core

#15883 Upgrade-guide: Downgrade "FileScanConfig –> FileScanConfigBuilder" headline
  docs/source/library-user-guide/upgrading.md
Labels: documentation

#15836 fix: Avoid mistaken ILike to string equality optimization
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/strings.slt
Labels: bug, optimizer, sqllogictest

#15766 Improve documentation for `FileSource`, `DataSource` and `DataSourceExec`
  datafusion/datasource/src/file.rs
  datafusion/datasource/src/source.rs
Labels: datasource

#15827 Implement min max for dictionary types
  datafusion/functions-aggregate/src/min_max.rs
Labels: functions

#15544 Respect ignore_nulls in array_agg
  datafusion/functions-aggregate/benches/array_agg.rs
  datafusion/functions-aggregate/src/array_agg.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#15149 Saner handling of nulls inside arrays
  datafusion/expr-common/src/signature.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions-nested/src/cardinality.rs
  datafusion/functions-nested/src/concat.rs
  datafusion/functions-nested/src/dimension.rs
  datafusion/functions-nested/src/distance.rs
  datafusion/functions-nested/src/empty.rs
  datafusion/functions-nested/src/extract.rs
  datafusion/functions-nested/src/make_array.rs
  datafusion/functions-nested/src/max.rs
  datafusion/functions-nested/src/set_ops.rs
  datafusion/functions-nested/src/sort.rs
  datafusion/functions-nested/src/utils.rs
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/unnest.slt
Labels: logical-expr, sqllogictest

#15852 Feat: introduce `ExecutionPlan::partition_statistics` API
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/tests/custom_sources_cases/mod.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/core/tests/data/test_statistics_per_partition/date=2025-03-01/j5fUeSDQo22oPyPU.parquet
  datafusion/core/tests/data/test_statistics_per_partition/date=2025-03-02/j5fUeSDQo22oPyPU.parquet
  datafusion/core/tests/data/test_statistics_per_partition/date=2025-03-03/j5fUeSDQo22oPyPU.parquet
  datafusion/core/tests/data/test_statistics_per_partition/date=2025-03-04/j5fUeSDQo22oPyPU.parquet
  datafusion/core/tests/parquet/file_statistics.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/partition_statistics.rs
  datafusion/core/tests/sql/path_partition.rs
  datafusion/datasource-avro/src/source.rs
  datafusion/datasource-csv/src/source.rs
  datafusion/datasource/src/file_groups.rs
  datafusion/datasource/src/memory.rs
  datafusion/datasource/src/source.rs
  datafusion/datasource/src/statistics.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-optimizer/src/output_requirements.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/coalesce_batches.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/display.rs
  datafusion/physical-plan/src/empty.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/limit.rs
  datafusion/physical-plan/src/placeholder_row.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/partial_sort.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/test.rs
  datafusion/physical-plan/src/test/exec.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/values.rs
  datafusion/physical-plan/src/windows/bounded_window_agg_exec.rs
  datafusion/physical-plan/src/windows/window_agg_exec.rs
  datafusion/physical-plan/src/work_table.rs
  datafusion/sqllogictest/test_files/listing_table_statistics.slt
Labels: api change, optimizer, core, sqllogictest, datasource

#15894 Keeping pull request in sync with the base branch
  .asf.yaml
Labels: development-process

#15864 infer placeholder datatype for IN lists
  datafusion/expr/src/expr.rs
Labels: logical-expr

#15895 doc: Update known users docs
  docs/source/user-guide/introduction.md
Labels: documentation
