Repository apache/datafusion, pull requests merged in 2025-01, with the labels that each got.

#13866 Supporting writing schema metadata when writing Parquet in parallel
  datafusion-cli/Cargo.lock
  datafusion/common/Cargo.toml
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/mod.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  datafusion/sqllogictest/test_files/repartition_scan.slt
  docs/source/user-guide/configs.md
Labels: documentation, core, sqllogictest, common, proto

#13520 chore: Create devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: development-process

#13954 Minor: consolidate ConfigExtension example into API docs
  datafusion-examples/examples/config_extension.rs
  datafusion/common/src/config.rs
Labels: common

#13947 Parallelize pruning utf8 fuzz test
  datafusion/core/tests/fuzz_cases/pruning.rs
Labels: core

#13984 Add swap_inputs to SMJ
  datafusion/core/src/physical_optimizer/join_selection.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr, core

#13966 fix(datafusion-functions-nested): `arrow-distinct` now work with null rows
  datafusion/functions-nested/src/set_ops.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#13959 Update release instructions for 44.0.0
  datafusion/functions-table/README.md
  dev/release/README.md
Labels: development-process

#13985 Include license and notice files in more crates
  datafusion/core/Cargo.toml
  datafusion/doc/LICENSE.txt
  datafusion/doc/NOTICE.txt
  datafusion/functions-table/LICENSE.txt
  datafusion/functions-table/NOTICE.txt
  datafusion/macros/LICENSE.txt
  datafusion/macros/NOTICE.txt
Labels: documentation, core

#13973 Move hash collision test to run only when merging to main
  .github/workflows/hash_collisions.yml
  .github/workflows/rust.yml
Labels: development-process

#13988 Change trigger, rename `hash_collision.yml` to `extended.yml` and add comments
  .github/workflows/extended.yml
Labels: development-process

#13925 doc-gen: migrate scalar functions (string) documentation 2/4
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/functions/src/string/ends_with.rs
  datafusion/functions/src/string/levenshtein.rs
  datafusion/functions/src/string/lower.rs
  datafusion/functions/src/string/overlay.rs
  datafusion/functions/src/string/upper.rs
  datafusion/functions/src/unicode/initcap.rs
Labels: functions

#13982 Update release README for datafusion-cli publishing
  dev/release/README.md
Labels: development-process

#13980 Minor: sort requirement check for `Last` function's `merge_batch`
  datafusion/functions-aggregate/src/first_last.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#14002 Update doc example to remove deprecated DELIMITER option for external tables
  docs/source/user-guide/sql/write_options.md
Labels: documentation

#13953 Optimize CASE expression for "expr or expr" usage.
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: physical-expr, sqllogictest

#13963 feat(substrait): introduce consume_rel and consume_expression
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#14007 FIX : Incorrect NULL handling in BETWEEN expression
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/tests/optimizer_integration.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: optimizer, sqllogictest

#13931 feat(substrait): modular substrait producer
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/src/logical_plan/mod.rs
  datafusion/substrait/src/logical_plan/producer.rs
  datafusion/substrait/src/logical_plan/state.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: substrait

#14000 fix: Avoid re-wrapping planning errors Err(DataFusionError::Plan) for use in plan_datafusion_err
  datafusion/expr/src/expr_schema.rs
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/errors.slt
  datafusion/sqllogictest/test_files/scalar.slt
Labels: sql, logical-expr, optimizer, sqllogictest

#13680 feat: support `RightAnti` for `SortMergeJoin`
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/test.rs
  datafusion/sqllogictest/test_files/sort_merge_join.slt
Labels: physical-expr, core, sqllogictest

#14004 fix: Preserve session id when using `ctx.enable_url_table()`
  datafusion/core/src/execution/context/mod.rs
Labels: core

#14011 FIX: Out of bounds error when inserting into MemTable with zero partitions
  datafusion/core/src/datasource/memory.rs
Labels: core

#14012 Minor: Rewrite LogicalPlan::max_rows for Join and Union, made it easier to understand
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#14009 Use workspace rust-version for all workspace crates
  datafusion-cli/Cargo.toml
  datafusion/core/Cargo.toml
  datafusion/ffi/Cargo.toml
  datafusion/proto-common/Cargo.toml
  datafusion/proto-common/gen/Cargo.toml
  datafusion/proto/Cargo.toml
  datafusion/proto/gen/Cargo.toml
  datafusion/substrait/Cargo.toml
Labels: development-process, core, substrait, proto

#14023 Minor: Remove redundant implementation of `StringArrayType`
  datafusion/functions-nested/src/string.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/string/repeat.rs
  datafusion/functions/src/string/split_part.rs
  datafusion/functions/src/strings.rs
  datafusion/functions/src/unicode/character_length.rs
  datafusion/functions/src/unicode/lpad.rs
  datafusion/functions/src/unicode/rpad.rs
  datafusion/functions/src/unicode/strpos.rs
  datafusion/functions/src/unicode/substr.rs
Labels: functions

#14014 Added references to IDE documentation for dev containers
  docs/source/contributor-guide/getting_started.md
Labels: documentation

#13995 Use partial aggregation schema for spilling to avoid column mismatch in GroupedHashAggregateStream
  datafusion/core/src/dataframe/mod.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr, core

#14040 Encapsulate fields of `EquivalenceProperties`
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/tests/fuzz_cases/equivalence/ordering.rs
  datafusion/core/tests/fuzz_cases/equivalence/projection.rs
  datafusion/core/tests/fuzz_cases/equivalence/properties.rs
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/union.rs
Labels: physical-expr, core

#14039 Encapsulate fields of `EquivalenceGroup`
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr, core

#14034 Fix error on `array_distinct` when input is empty #13810
  datafusion/functions-nested/src/set_ops.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14037 Encapsulate fields of `OrderingEquivalenceClass` (make field non pub)
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/memory.rs
Labels: physical-expr

#14021 Fix: ensure that compression type is also taken into consideration during ListingTableConfig infer_options
  datafusion/core/src/datasource/listing/table.rs
Labels: core

#14026 feat(optimizer): Enable filter pushdown on window functions
  datafusion/optimizer/Cargo.toml
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: optimizer, sqllogictest

#14031 Unparsing optimized (> 2 inputs) unions
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#14047 Minor: Document output schema of LogicalPlan::Aggregate and LogicalPl…
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#14033 Simplify error handling in case.rs (#13990)
  datafusion/physical-expr/src/expressions/case.rs
Labels: physical-expr

#13800 feat: add `AsyncCatalogProvider` helpers for asynchronous catalogs
  datafusion-examples/examples/remote_catalog.rs
  datafusion/catalog/Cargo.toml
  datafusion/catalog/src/async.rs
  datafusion/catalog/src/lib.rs
Labels: catalog

#13915 Custom scalar to sql overrides support for DuckDB Unparser dialect
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#14025 Improve perfomance of `reverse` function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/reverse.rs
  datafusion/functions/src/unicode/reverse.rs
Labels: functions

#14048 docs(ci): use up-to-date protoc with docs.rs
  datafusion/substrait/Cargo.toml
Labels: substrait

#14042 Fix bug in `nth_value` when `ignoreNulls` is true and no nulls in values
  datafusion/functions-window/src/nth_value.rs
  datafusion/sqllogictest/test_files/window.slt
Labels: sqllogictest

#14051 minor: re-export TypeSignatureClass from the datafusion-expr package
  datafusion/expr/src/lib.rs
Labels: logical-expr

#14065 Fix clippy for Rust 1.84
  datafusion/common/src/pyarrow.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr-common/src/sort_expr.rs
Labels: physical-expr, core, common

#14056 fix: incorrect error message of function_length_check
  datafusion/expr/src/type_coercion/functions.rs
Labels: logical-expr

#14013 test: Add plan execution during tests for bounded source
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
Labels: core

#14038 Refactor into `LexOrdering::collapse`, `LexRequirement::collapse` avoid clone
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/equivalence/class.rs
  datafusion/physical-expr/src/equivalence/mod.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/windows/mod.rs
Labels: physical-expr

#14060 fix: make get_valid_types handle TypeSignature::Numeric correctly
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/sqllogictest/test_files/math.slt
Labels: logical-expr, sqllogictest

#14064 Minor: Make `group_schema` as `PhysicalGroupBy` method
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/row_hash.rs
Labels: physical-expr

#14076 Minor: Move `LimitPushdown` tests to be in the same file as the code
  datafusion/core/tests/physical_optimizer/limit_pushdown.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
Labels: optimizer, core

#14075 Add comments to physical optimizer tests
  datafusion/core/tests/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/tests/physical_optimizer/limited_distinct_aggregation.rs
Labels: core

#14052 added "DEFAULT_CLI_FORMAT_OPTIONS" for cli and sqllogic test
  datafusion-cli/src/print_format.rs
  datafusion/common/src/format.rs
  datafusion/functions-nested/src/map.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/test_files/aggregate.slt
  datafusion/sqllogictest/test_files/array.slt
  datafusion/sqllogictest/test_files/avro.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/map.slt
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/scalar.slt
  datafusion/sqllogictest/test_files/struct.slt
  datafusion/sqllogictest/test_files/unnest.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest, common

#14090 Add telemetry.sh to list of use cases
  docs/source/user-guide/introduction.md
Labels: documentation

#14032 chore: deprecate `ValuesExec` in favour of `MemoryExec`
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/values.rs
  datafusion/sqllogictest/test_files/insert_to_external.slt
  datafusion/sqllogictest/test_files/order.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: physical-expr, core, sqllogictest

#14020 Improve performance of `find_in_set` function
  datafusion/functions/Cargo.toml
  datafusion/functions/benches/find_in_set.rs
  datafusion/functions/src/unicode/find_in_set.rs
  datafusion/functions/src/unicode/mod.rs
Labels: functions

#14062 minor: Add link to example for `AsyncSchemaProvider`
  datafusion/catalog/src/async.rs
Labels: catalog

#14081 Minor: use hashmap for `physical_exprs_contains` and move `PhysicalExprRef` to `physical-expr-common`
  datafusion/physical-expr-common/src/physical_expr.rs
  datafusion/physical-expr/src/physical_expr.rs
Labels: physical-expr

#14088 Simplify the return type of `sql_select_to_rex()`
  datafusion/sql/src/select.rs
Labels: sql

#14084 Minor: Add a link to RecordBatchStreamAdapter to `SendableRecordBatchStream`
  datafusion/execution/src/stream.rs
Labels: execution

#14107 Update substrait requirement from 0.51 to 0.52
  datafusion/substrait/Cargo.toml
  datafusion/substrait/tests/utils.rs
Labels: substrait

#14079 feat: add support for `LogicalPlan::DML(...)` serde
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/logical_plan/from_proto.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/proto/src/logical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#14109 Avoid Aliased Window Expr Enter Unreachable Code
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sqllogictest/test_files/subquery.slt
Labels: optimizer, sqllogictest

#14085 Move JoinSelection into datafusion-physical-optimizer crate (#14073)
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/src/test_util/mod.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-optimizer/src/lib.rs
Labels: optimizer, core

#14116 Distinguish None and empty projection in unparser
  datafusion/sql/src/unparser/plan.rs
  datafusion/sql/tests/cases/plan_to_sql.rs
Labels: sql

#14113 Add a hint about normalization in error message (#14089)
  datafusion/common/src/column.rs
  datafusion/common/src/dfschema.rs
  datafusion/common/src/error.rs
  datafusion/expr/src/expr_rewriter/mod.rs
  datafusion/sql/tests/sql_integration.rs
  datafusion/sqllogictest/test_files/identifiers.slt
  datafusion/sqllogictest/test_files/select.slt
Labels: sql, logical-expr, sqllogictest, common

#14102 fix: incorrect NATURAL/USING JOIN schema
  datafusion/expr/src/utils.rs
  datafusion/sql/tests/sql_integration.rs
Labels: sql, logical-expr

#14121 Chore: refactor DataSink traits to avoid duplication
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/csv.rs
  datafusion/core/src/datasource/file_format/json.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/demux.rs
  datafusion/core/src/datasource/file_format/write/mod.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/stream.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/insert.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, physical-expr, core, proto

#14101 Add sqlite sqllogictest run to extended.yml
  .github/workflows/extended.yml
Labels: development-process

#14122 Minor: fix duplicated SharedBitmapBuilder definitions
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/mod.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
Labels: physical-expr

#14086 doc-gen: make user_doc to work with predefined consts
  datafusion-cli/Cargo.lock
  datafusion/expr/src/udf.rs
  datafusion/macros/Cargo.toml
  datafusion/macros/src/user_doc.rs
Labels: logical-expr

#14071 Minor: Document the rationale for the lack of Cargo.lock
  README.md
  datafusion-cli/README.md
Labels: documentation

#14130 Return err if wildcard is not expanded before type coercion
  datafusion/optimizer/src/analyzer/type_coercion.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer

#14139 Fix combine with session config
  datafusion/common/src/config.rs
Labels: common

#14138 Minor: move resolve_overlap a method on `OrderingEquivalenceClass`
  datafusion/physical-expr/src/equivalence/ordering.rs
Labels: physical-expr

#13919 doc-gen: migrate scalar functions (encoding & regex) documentation
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/regex/regexpcount.rs
  datafusion/functions/src/regex/regexplike.rs
  datafusion/functions/src/regex/regexpmatch.rs
  datafusion/functions/src/regex/regexpreplace.rs
Labels: functions

#14133 bugfix: create view with multi union may get wrong schema
  datafusion/core/src/datasource/view.rs
Labels: core

#14145 Deduplicate function `get_final_indices_from_shared_bitmap`
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
Labels: physical-expr

#14152 Add tests for PR #14133 (view with multi unions)
  datafusion/sqllogictest/test_files/ddl.slt
Labels: sqllogictest

#14131 Reuse `on` expressions values in HashJoinExec
  datafusion/physical-plan/src/joins/hash_join.rs
Labels: physical-expr

#14083 chore: move `SanityChecker` into `physical-optimizer` crate
  datafusion-cli/Cargo.lock
  datafusion/core/Cargo.toml
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sanity_checker.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/core/tests/physical_optimizer/test_util.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/sanity_checker.rs
  datafusion/physical-optimizer/src/test_utils.rs
Labels: optimizer, core

#14111 Propagate table constraints through physical plans to optimize sort operations
  datafusion/common/src/functional_dependencies.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/memory.rs
  datafusion/core/src/datasource/physical_plan/arrow_file.rs
  datafusion/core/src/datasource/physical_plan/avro.rs
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/json.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/expr/src/logical_plan/ddl.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/src/physical_plan/to_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/order.slt
Labels: logical-expr, physical-expr, core, sqllogictest, common, proto

#14120 NestedLoopJoin Projection Pushdown
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/group_by.slt
  datafusion/sqllogictest/test_files/tpch/plans/q11.slt.part
Labels: physical-expr, optimizer, core, sqllogictest, proto

#14125 Fix: regularize order bys when consuming from substrait
  datafusion/substrait/src/logical_plan/consumer.rs
Labels: substrait

#14134 Remove dependency on physical-optimizer on functions-aggregates
  datafusion-cli/Cargo.lock
  datafusion/expr/src/test/function_stub.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/test_utils.rs
Labels: logical-expr, optimizer

#14163 doc-gen: migrate scalar functions (other, conditional, and struct) documentation
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/arrowtypeof.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/greatest.rs
  datafusion/functions/src/core/least.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/core/nullif.rs
  datafusion/functions/src/core/nvl.rs
  datafusion/functions/src/core/nvl2.rs
  datafusion/functions/src/core/struct.rs
  datafusion/functions/src/core/version.rs
Labels: functions

#14153 Upgrade arrow-rs, parquet to `54.0.0` and pyo3 to `0.23.3`
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion-cli/Cargo.toml
  datafusion/common/Cargo.toml
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/common/src/pyarrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/core/tests/fuzz_cases/pruning.rs
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: physical-expr, core, common, proto

#14165 Minor: Simplify Bloom Filter Check
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
Labels: core

#14155 Make `LexOrdering::inner` non pub, add comments, update usages
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/file_scan_config.rs
  datafusion/core/src/datasource/physical_plan/statistics.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/utils.rs
  datafusion/core/tests/fuzz_cases/equivalence/utils.rs
  datafusion/core/tests/fuzz_cases/window_fuzz.rs
  datafusion/physical-expr-common/src/sort_expr.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/properties.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/topk/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: api change, physical-expr, core, proto

#14178 Fix doctests in ScalarValue (#14164)
  datafusion/common/src/scalar/mod.rs
Labels: common

#14167 Add `ScalarValue::try_as_str` to get str value from logical strings
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/sql/path_partition.rs
  datafusion/functions-aggregate/src/string_agg.rs
  datafusion/functions/src/crypto/basic.rs
  datafusion/functions/src/datetime/common.rs
  datafusion/functions/src/encoding/inner.rs
  datafusion/functions/src/string/concat.rs
  datafusion/functions/src/string/concat_ws.rs
  datafusion/optimizer/src/unwrap_cast_in_comparison.rs
  datafusion/physical-expr/src/expressions/binary.rs
  datafusion/physical-optimizer/src/pruning.rs
Labels: physical-expr, optimizer, core, common, functions

#14169 Minor: Consolidate dataframe tests into core_integration
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#14168 Add a hint about expected extension in error message in register_csv,…
  datafusion/core/src/execution/context/avro.rs
  datafusion/core/src/execution/context/csv.rs
  datafusion/core/src/execution/context/json.rs
  datafusion/core/src/execution/context/mod.rs
  datafusion/core/src/execution/context/parquet.rs
  datafusion/core/tests/dataframe/mod.rs
Labels: core

#14171 Chore: Add UDF documentation guide
  docs/source/contributor-guide/howtos.md
Labels: documentation

#14181 refactor: switch BooleanBufferBuilder to NullBufferBuilder in correlation function
  datafusion-cli/Cargo.lock
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/src/correlation.rs
Labels: functions

#14199 Minor: Rename extended test job name
  .github/workflows/extended.yml
Labels: development-process

#14187 Support spaceship operator (`<=>`) support (alias for `IS NOT DISTINCT FROM`
  datafusion/sql/src/expr/binary_op.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sql, sqllogictest

#14157 Add benchmark for planning sorted unions
  datafusion/core/benches/sql_planner.rs
Labels: core

#14182 feat: Use `SchemaRef` in `JoinFilter`
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/src/physical_planner.rs
  datafusion/core/tests/fuzz_cases/join_fuzz.rs
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/join_filter.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/stream_join_utils.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/proto/src/physical_plan/mod.rs
Labels: physical-expr, optimizer, core, proto

#14159 Improve `case` expr constant handling for when `<scalar>`
  datafusion/physical-expr/src/expressions/case.rs
  datafusion/sqllogictest/test_files/case.slt
Labels: physical-expr, sqllogictest

#14174 Minor add ticket references to deprecated code
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/tests/cases/roundtrip_logical_plan.rs
Labels: proto

#14094 Introduce `return_type_from_args ` for ScalarFunction.
  datafusion/core/tests/fuzz_cases/equivalence/ordering.rs
  datafusion/core/tests/fuzz_cases/equivalence/projection.rs
  datafusion/core/tests/fuzz_cases/equivalence/properties.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/expr_schema.rs
  datafusion/expr/src/lib.rs
  datafusion/expr/src/udf.rs
  datafusion/functions/src/core/arrow_cast.rs
  datafusion/functions/src/core/coalesce.rs
  datafusion/functions/src/core/getfield.rs
  datafusion/functions/src/core/named_struct.rs
  datafusion/functions/src/datetime/date_part.rs
  datafusion/functions/src/datetime/from_unixtime.rs
  datafusion/functions/src/datetime/now.rs
  datafusion/physical-expr/src/equivalence/ordering.rs
  datafusion/physical-expr/src/equivalence/projection.rs
  datafusion/physical-expr/src/lib.rs
  datafusion/physical-expr/src/planner.rs
  datafusion/physical-expr/src/scalar_function.rs
  datafusion/sqllogictest/test_files/arrow_typeof.slt
  datafusion/sqllogictest/test_files/struct.slt
Labels: logical-expr, physical-expr, core, sqllogictest, functions

#14192 fix: fetch is missed in the EnsureSorting
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/sort_pushdown.rs
  datafusion/sqllogictest/test_files/topk.slt
Labels: core, sqllogictest

#13986 Interface for physical plan invariant checking.
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/union.rs
Labels: physical-expr, core

#14214 Added documentation for the Spaceship Operator (<=>)
  docs/source/user-guide/sql/operators.md
Labels: documentation

#14213 fix concat ws simplify
  datafusion/functions/src/string/concat_ws.rs
  datafusion/sqllogictest/test_files/expr.slt
Labels: sqllogictest, functions

#14189 test: interval analysis unit tests
  datafusion/physical-expr/src/analysis.rs
Labels: physical-expr

#14219 Move EnforceSorting into datafusion-physical-optimizer crate
  datafusion-cli/Cargo.lock
  datafusion/core/src/physical_optimizer/enforce_distribution.rs
  datafusion/core/src/physical_optimizer/enforce_sorting.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/src/physical_optimizer/test_utils.rs
  datafusion/core/src/test/mod.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/tests/physical_optimizer/test_util.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-optimizer/src/enforce_sorting/replace_with_order_preserving_variants.rs
  datafusion/physical-optimizer/src/enforce_sorting/sort_pushdown.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/utils.rs
Labels: optimizer, core

#14160 Merge SortMergeJoin filtered batches into larger batches
  datafusion/physical-plan/src/joins/sort_merge_join.rs
Labels: physical-expr

#13683 Make scalar and array handling for array_has consistent
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14195 Faster reverse() string function for ASCII-only case
  datafusion/functions/benches/character_length.rs
  datafusion/functions/benches/helper.rs
  datafusion/functions/benches/reverse.rs
  datafusion/functions/src/unicode/reverse.rs
Labels: functions

#14233 Add publishing datafusion-sqllogictest to release README.md
  datafusion/sqllogictest/Cargo.toml
  dev/release/README.md
Labels: development-process, sqllogictest

#14221 Minor: use the minimum fetch
  datafusion/physical-optimizer/src/enforce_sorting/sort_pushdown.rs
Labels: optimizer

#14248 Improve `ScalarUDFImpl` docs
  datafusion/expr/src/udf.rs
Labels: documentation, logical-expr

#14249 Expose more components from sqllogictest
  datafusion/sqllogictest/src/engines/datafusion_engine/mod.rs
  datafusion/sqllogictest/src/engines/datafusion_engine/normalize.rs
  datafusion/sqllogictest/src/engines/mod.rs
  datafusion/sqllogictest/src/engines/output.rs
  datafusion/sqllogictest/src/lib.rs
Labels: sqllogictest

#14252 chore: deprecate function with typo in name (is_expr_constant_accross_partitions)
  datafusion/physical-expr/src/equivalence/properties.rs
Labels: physical-expr

#14119 Implemented `simplify` for the `starts_with` function to convert it into a LIKE expression.
  datafusion/functions/src/string/starts_with.rs
  datafusion/sqllogictest/test_files/parquet.slt
  datafusion/sqllogictest/test_files/string/string_view.slt
Labels: sqllogictest, functions

#14223 fix(expr-common): Coerce to Decimal(20, 0) when combining UInt64 with signed integers
  datafusion/expr-common/src/type_coercion/binary.rs
  datafusion/sqllogictest/test_files/coalesce.slt
  datafusion/sqllogictest/test_files/insert.slt
  datafusion/sqllogictest/test_files/joins.slt
  datafusion/sqllogictest/test_files/union.slt
Labels: sqllogictest

#14250 Minor: Add tests for types of arithmetic operator output types
  datafusion/sqllogictest/test_files/operator.slt
Labels: sqllogictest

#14244 consolidate physical_optimizer tests into core/tests/physical_optimizer
  datafusion/core/tests/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/physical-optimizer/src/aggregate_statistics.rs
  datafusion/physical-optimizer/src/enforce_distribution.rs
  datafusion/physical-optimizer/src/enforce_sorting/mod.rs
  datafusion/physical-optimizer/src/limited_distinct_aggregation.rs
  datafusion/physical-optimizer/src/sanity_checker.rs
  datafusion/physical-optimizer/tests/enforce_sorting.rs
  datafusion/physical-optimizer/tests/limited_distinct_aggregation.rs
  datafusion/physical-optimizer/tests/mod.rs
  datafusion/physical-optimizer/tests/sanity_checker.rs
Labels: optimizer, core

#14236 Add casting of `count` to `Int64` in `array_repeat` function to ensure consistent integer type handling
  datafusion/functions-nested/src/repeat.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#14278 Minor: Update documentations for memory pool
  datafusion/execution/src/memory_pool/mod.rs
Labels: execution

#14267 Extract useful methods from sqllogictest bin
  datafusion/sqllogictest/bin/sqllogictests.rs
  datafusion/sqllogictest/src/lib.rs
  datafusion/sqllogictest/src/util.rs
Labels: sqllogictest

#14126 fix: add support for Decimal128 and Decimal256 types in interval arithmetic
  datafusion-cli/Cargo.lock
  datafusion/expr-common/Cargo.toml
  datafusion/expr-common/src/interval_arithmetic.rs
  datafusion/sqllogictest/test_files/select.slt
Labels: sqllogictest

#14188 Deprecate max statistics size properly
  datafusion/common/src/config.rs
  datafusion/common/src/file_options/parquet_writer.rs
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/logical_plan/file_formats.rs
  datafusion/sqllogictest/test_files/information_schema.slt
  docs/source/user-guide/configs.md
Labels: documentation, sqllogictest, common, proto

#14235 move projection pushdown optimization logic to ExecutionPlan trait
  datafusion/core/src/datasource/physical_plan/csv.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/physical-optimizer/src/output_requirements.rs
  datafusion/physical-plan/src/coalesce_partitions.rs
  datafusion/physical-plan/src/execution_plan.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/hash_join.rs
  datafusion/physical-plan/src/joins/nested_loop_join.rs
  datafusion/physical-plan/src/joins/sort_merge_join.rs
  datafusion/physical-plan/src/joins/symmetric_hash_join.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/repartition/mod.rs
  datafusion/physical-plan/src/sorts/sort.rs
  datafusion/physical-plan/src/sorts/sort_preserving_merge.rs
  datafusion/physical-plan/src/streaming.rs
  datafusion/physical-plan/src/union.rs
  datafusion/sqllogictest/test_files/ddl.slt
  datafusion/sqllogictest/test_files/encoding.slt
  datafusion/sqllogictest/test_files/expr.slt
  datafusion/sqllogictest/test_files/subquery.slt
  datafusion/sqllogictest/test_files/tpch/plans/q1.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q11.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q16.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q17.slt.part
  datafusion/sqllogictest/test_files/tpch/plans/q20.slt.part
  datafusion/sqllogictest/test_files/tpch/tpch.slt
  datafusion/sqllogictest/test_files/window.slt
Labels: physical-expr, optimizer, core, sqllogictest

#14298 Move All Physical Optimizer Tests to core/tests and Remove functions-aggregate Dependency
  datafusion-cli/Cargo.lock
  datafusion/core/tests/physical_optimizer/aggregate_statistics.rs
  datafusion/core/tests/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/tests/physical_optimizer/enforce_distribution.rs
  datafusion/core/tests/physical_optimizer/enforce_sorting.rs
  datafusion/core/tests/physical_optimizer/join_selection.rs
  datafusion/core/tests/physical_optimizer/limit_pushdown.rs
  datafusion/core/tests/physical_optimizer/limited_distinct_aggregation.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/replace_with_order_preserving_variants.rs
  datafusion/core/tests/physical_optimizer/sanity_checker.rs
  datafusion/core/tests/physical_optimizer/test_utils.rs
  datafusion/physical-optimizer/Cargo.toml
  datafusion/physical-optimizer/src/join_selection.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
Labels: optimizer, core

#14270 Add more tests showing coercing behavior with literals
  datafusion/sqllogictest/test_files/operator.slt
Labels: sqllogictest

#14302 bench: add array_agg benchmark
  datafusion/functions-aggregate/Cargo.toml
  datafusion/functions-aggregate/benches/array_agg.rs
Labels: functions

#14300 Complete moving PhysicalOptimizer into `datafusion-physical-optimizer`
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion-examples/examples/parquet_index.rs
  datafusion-examples/examples/pruning.rs
  datafusion/core/src/datasource/physical_plan/parquet/mod.rs
  datafusion/core/src/datasource/physical_plan/parquet/opener.rs
  datafusion/core/src/datasource/physical_plan/parquet/page_filter.rs
  datafusion/core/src/datasource/physical_plan/parquet/row_group_filter.rs
  datafusion/core/src/execution/session_state.rs
  datafusion/core/src/lib.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_optimizer/projection_pushdown.rs
  datafusion/core/tests/memory_limit/mod.rs
  datafusion/core/tests/physical_optimizer/combine_partial_final_agg.rs
  datafusion/core/tests/physical_optimizer/mod.rs
  datafusion/core/tests/physical_optimizer/projection_pushdown.rs
  datafusion/physical-optimizer/src/lib.rs
  datafusion/physical-optimizer/src/optimizer.rs
  datafusion/physical-optimizer/src/projection_pushdown.rs
Labels: optimizer, core

#14304 Minor: Update documentation about crate organization
  datafusion/core/src/lib.rs
Labels: core

#14305 Export `datafusion_physical_optimizer`, only use `datafusion` crate in the examples
  datafusion-examples/Cargo.toml
  datafusion-examples/examples/advanced_parquet_index.rs
  datafusion-examples/examples/advanced_udaf.rs
  datafusion-examples/examples/advanced_udf.rs
  datafusion-examples/examples/advanced_udwf.rs
  datafusion-examples/examples/analyzer_rule.rs
  datafusion-examples/examples/composed_extension_codec.rs
  datafusion-examples/examples/csv_json_opener.rs
  datafusion-examples/examples/custom_file_format.rs
  datafusion-examples/examples/dataframe.rs
  datafusion-examples/examples/date_time_functions.rs
  datafusion-examples/examples/deserialize_to_struct.rs
  datafusion-examples/examples/expr_api.rs
  datafusion-examples/examples/file_stream_provider.rs
  datafusion-examples/examples/flight/flight_sql_server.rs
  datafusion-examples/examples/function_factory.rs
  datafusion-examples/examples/optimizer_rule.rs
  datafusion-examples/examples/parquet_exec_visitor.rs
  datafusion-examples/examples/parquet_index.rs
  datafusion-examples/examples/parse_sql_expr.rs
  datafusion-examples/examples/plan_to_sql.rs
  datafusion-examples/examples/planner_api.rs
  datafusion-examples/examples/pruning.rs
  datafusion-examples/examples/regexp.rs
  datafusion-examples/examples/remote_catalog.rs
  datafusion-examples/examples/simple_udaf.rs
  datafusion-examples/examples/simple_udf.rs
  datafusion-examples/examples/simple_udtf.rs
  datafusion-examples/examples/simple_udwf.rs
  datafusion-examples/examples/sql_analysis.rs
  datafusion-examples/examples/sql_dialect.rs
  datafusion-examples/examples/sql_frontend.rs
  datafusion-examples/examples/sql_query.rs
  datafusion/core/src/lib.rs
  datafusion/optimizer/src/lib.rs
Labels: optimizer, core

#14316 doc: Add funnel.io to known users list
  docs/source/user-guide/introduction.md
Labels: documentation

#14284 add tests to check precision loss fix
  datafusion/physical-expr/src/expressions/cast.rs
Labels: physical-expr

#14254 fix: run sqllogictest with complete
  datafusion/sqllogictest/Cargo.toml
  datafusion/sqllogictest/test_files/join.slt.part
  datafusion/sqllogictest/test_files/join_disable_repartition_joins.slt
  datafusion/sqllogictest/test_files/join_only.slt
Labels: sqllogictest

#14325 refactor: switch `BooleanBufferBuilder` to `NullBufferBuilder` in unit tests of multi_group_by
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/bytes.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/bytes_view.rs
  datafusion/physical-plan/src/aggregates/group_values/multi_group_by/primitive.rs
Labels: physical-expr

#14307 minor: add unit tests for monotonicity.rs
  datafusion/functions/src/math/monotonicity.rs
Labels: functions

#14279 make AnalysisContext aware of empty sets to represent certainly false bounds
  datafusion-examples/examples/expr_api.rs
  datafusion/physical-expr/src/analysis.rs
  datafusion/physical-plan/src/filter.rs
Labels: physical-expr

#14311 Add relation to alias expr in schema display
  datafusion/expr/src/expr.rs
Labels: logical-expr

#14322 Improve deprecation message for MemoryExec
  datafusion/physical-plan/src/values.rs
Labels: physical-expr

#14312 fix: LogicalPlan::get_parameter_types fails to return all placeholders
  datafusion/expr/src/logical_plan/plan.rs
Labels: logical-expr

#14338 fix: FULL OUTER JOIN and LIMIT produces wrong results
  datafusion/optimizer/src/push_down_limit.rs
  datafusion/sqllogictest/test_files/joins.slt
Labels: optimizer, sqllogictest

#14288 Customize window frame support for dialect
  datafusion/sql/src/unparser/dialect.rs
  datafusion/sql/src/unparser/expr.rs
Labels: sql

#14339 refactor: switch `BooleanBufferBuilder` to `NullBufferBuilder` in an unit test of common_scalar
  datafusion/common/src/scalar/mod.rs
Labels: common

#14074 Add `ColumnStatistics::Sum`
  datafusion/common/src/stats.rs
  datafusion/core/src/datasource/statistics.rs
  datafusion/core/tests/custom_sources_cases/statistics.rs
  datafusion/physical-plan/src/common.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/joins/cross_join.rs
  datafusion/physical-plan/src/joins/utils.rs
  datafusion/physical-plan/src/memory.rs
  datafusion/physical-plan/src/projection.rs
  datafusion/physical-plan/src/union.rs
  datafusion/physical-plan/src/values.rs
  datafusion/proto-common/proto/datafusion_common.proto
  datafusion/proto-common/src/from_proto/mod.rs
  datafusion/proto-common/src/generated/pbjson.rs
  datafusion/proto-common/src/generated/prost.rs
  datafusion/proto-common/src/to_proto/mod.rs
  datafusion/proto/src/generated/datafusion_proto_common.rs
Labels: physical-expr, core, common, proto

#14321 refactor: switch `BooleanBufferBuilder` to `NullBufferBuilder` in unit tests for unnest
  datafusion/physical-plan/src/unnest.rs
Labels: physical-expr

#14345 Fix build "missing field `sum_value` in initializer of `ColumnStatistics`"
  datafusion/physical-plan/src/filter.rs
Labels: physical-expr

#14341 refactor: switch `BooleanBufferBuilder` to `NullBufferBuilder` in binary_map
  datafusion-cli/Cargo.lock
  datafusion/physical-expr-common/Cargo.toml
  datafusion/physical-expr-common/src/binary_map.rs
Labels: physical-expr

#14355 Restore ability to run single SLT file
  datafusion/sqllogictest/bin/sqllogictests.rs
Labels: sqllogictest

#14245 fix: LimitPushdown rule uncorrect remove some GlobalLimitExec
  datafusion/core/tests/dataframe/mod.rs
  datafusion/physical-optimizer/src/limit_pushdown.rs
  datafusion/sqllogictest/test_files/limit.slt
Labels: optimizer, core, sqllogictest

#14360 refactor: switch `BooleanBufferBuilder` to `NullBufferBuilder` in single_group_by
  datafusion/physical-plan/src/aggregates/group_values/single_group_by/primitive.rs
Labels: physical-expr

#14217 Support arrays_overlap function (alias of `array_has_any`)
  datafusion/functions-nested/src/array_has.rs
  datafusion/sqllogictest/test_files/array.slt
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, sqllogictest
